[2020-04-21 11:12] PeterShaggyNoble commented on #2963
Thanks for the request, @aouinizied.

The Alexa rank of [~535k](https://www.alexa.com/siteinfo/pypy.org) would put this [beyond the scope](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) of this project. Their [Heptapod repo](https://foss.heptapod.net/pypy/pypy) looks to be very active but only has [21 stars](https://foss.heptapod.net/pypy/pypy/-/starr

[2020-04-21 11:31] aouinizied commented on #2963
No,  but it's a fast interpreter for Python widely used.

[2020-04-21 11:34] runxel opened #2964 "ZEIT is now Vercel"
But the black triangle icon stays. So just the name changes.

[Official statement](https://vercel.com/blog/zeit-is-now-vercel).

[2020-04-21 13:20] ericcornelissen commented on #2963
I'd agree that as a programming utility, this is definitely popular enough to be included into the collection :+1:

[2020-04-22 08:18] PeterShaggyNoble commented on #2964
Added to #2942

[2020-04-22 09:01] greifmatthias opened #2968 "Badoo"
**Name:** Badoo
**Website:** https://badoo.com/
**Official resources for icon and color:**

[2020-04-22 10:51] PeterShaggyNoble commented on #2963
Fair enough :+1:

Coming up with a monochrome treatment is going to be tricky here; simply merging all the paths together obviously isn't going to work here. The choice of colour also isn't too clear either - maybe the blue from the wordmark in their logo?

Going to ping @antocuni here, as one of their top contributors, to see if he can provide any insight or point us in the direction of someone w

[2020-04-22 11:09] aouinizied commented on #2963
https://twitter.com/pypyproject/photo
IMHO, one of the blue shades within their logo will be OK.

[2020-04-22 12:01] PeterShaggyNoble commented on #2968
Thanks for the request, @greifmatthias.

[This SVG](https://pd1eu.badoocdn.com/v2/-/-/i/team-site/logo-main.b7792c7916a0f2b8ae60.svg) can be found in the header of the "inner" pages of their site (e.g., [press](https://badoo.com/team/press/)) - I'd suggest using the "heart" icon and `#783bf9` from that file.

Would you like to take this one on yourself? Our contributing guidelines can be found [he

[2020-04-22 14:31] antocuni commented on #2963
We don't have any monochrome version of the logo, AFAIK.
I'm not a graphic designer *at all* 😅, so I don't know whether I can contribute any reasonable feedback. Maybe simply converting the logo to black and white could be enough?
Here is the SVG source, if you need it https://www.pypy.org/images/pypy-logo.svg

[2020-04-22 19:53] bzerangue opened #2971 "Facebook Live"
**Name:* Facebook Live*
**Website: https://www.facebook.com/facebookmedia/solutions/facebook-live**
**Official resources for icon and color:**

https://en.facebookbrand.com/facebookapp/assets/facebook-live/

[2020-04-22 20:09] bzerangue opened #2972 "Zeit is now Vercel - Vercel icon"
**Name: Vercel**
**Website: https://vercel.com**
**Official resources for icon and color:**

https://vercel.com/blog/zeit-is-now-vercel
https://vercel.com/design

[2020-04-22 20:39] ericcornelissen commented on #2972
Thanks for the report @bzerangue, it seems to be a duplicate of #2964 so I will close this :slightly_smiling_face: :

Just for clarity, as this concerns a name change, we have scheduled it for [our next major release](https://github.com/simple-icons/simple-icons/milestone/2). If you want the icon to be available as Vercel before that, let us know here and we will consider adding it before then :wi

[2020-04-22 20:39] #2972 closed

[2020-04-22 21:00] justicenode opened #2973 "Musicbrainz"
**Name:** musicbrainz
**Website:** musicbrainz.org
**Official resources for icon and color:** https://wiki.musicbrainz.org/File:MusicBrainz_logo_2016.svg

[2020-04-23 07:21] daveplays opened #2974 "TuneIn"
**Name:** TuneIn
**Website:** https://tunein.com/
**Official resources for icon and color:** SVG embedded in the HTML throughout their site

[2020-04-23 07:21] daveplays commented on #2974
Just would like TuneIn logo

[2020-04-23 08:14] PeterShaggyNoble commented on #2971
Thanks for the request, @bzerangue.

Tricky one this as they firstly state to:

but also further down the page to:

_But_ then, to confuse the issue, they include a black version in the download!

I guess we could add it and trust that anyone using it will follow the second guideline. We'd also need to decide between the blue and the red for the colour. Personally, I'd go for the red.

Any thought

[2020-04-23 08:16] PeterShaggyNoble commented on #2101
Gonna close this out as there has been no further discussion on it.

[2020-04-23 08:16] #2101 closed

[2020-04-23 08:18] PeterShaggyNoble commented on #2973
Thanks for the request, @justicenode.

We already have a PR open for this in #2824.

[2020-04-23 08:21] PeterShaggyNoble commented on #2974
Thanks for the request, @daveplays.

However, to help speed up the process for anyone wanting to take this on, can you please edit your initial post and complete our issue template?

I'm guessing [this](https://tunein.com/) is what you're requesting?

[2020-04-23 08:49] justicenode commented on #2973
Looked for it but didn't find it

[2020-04-23 08:49] #2973 closed

[2020-04-23 08:58] PeterShaggyNoble commented on #2963
Thanks for taking the time to reply, @antocuni.

We'll have to try a few things and run them past you, so.

This was my first rough idea but I think it needs, in some way, to retain the "segments" of the ouroboros, maybe in a similar way to what we were trying with [Altmetric](https://github.com/simple-icons/simple-icons/pull/2762), which would require someone with better skills than I as I'm no d

[2020-04-23 09:35] ericcornelissen commented on #2971
I think having the logo in monochrome is fine for this one, colour is kind of difficult. Not sure if red represents the "brand" more than Facebook blue :thinking:

[2020-04-23 09:37] ericcornelissen commented on #2963
I do think this is recognizable as the PyPy logo, but having gaps where the original logo changes colour could also work :+1:

[2020-04-23 09:45] antocuni commented on #2963
+1 for this, from my non-graphic POV :)

[2020-04-23 10:19] PeterShaggyNoble commented on #2971
Yeah, I can definitely see the case for the blue, too - not an easy choice 🤔

[2020-04-23 10:41] PeterShaggyNoble commented on #2971
Yeah, I can definitely see the case for the blue, too - it's not an easy choice 🤔 My preference is based off a personal association I make between FB Live and the red. They do use it for the "Live" icon in the sidebar of [Facebook Watch](https://www.facebook.com/watch/) (the video camera icon in [this PNG](https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/irP1qRwiU_h.png) for those without FB) but I do

[2020-04-23 21:43] anthonator opened #2976 "Erlang"
**Name:** erlang
**Website:** https://www.erlang.org/
**Official resources for icon and color:** Couldn't find anything

[2020-04-23 23:39] #2889 closed

[2020-04-24 07:46] frenchvandal commented on #2952
@PeterShaggyNoble yes I can do it.

I have started to dig in for the Revolut icon. The guidelines are pretty clear. Is there a simple tutorial for Inkscape? I am having some troubles with [step 2](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#2-extract-the-icon-from-the-logo) (not very familiar with SVG editing).

[2020-04-24 11:42] ericcornelissen commented on #2944
Hi @JOELwindows7, thanks for the request. First of, brands don't need to be related to developers, software or hardware :slightly_smiling_face: That said, we currently don't consider people (so PewDiePie) as a "brand". On the other hand, I'm not familiar with Brofist. Can you make the case that Brofist is a brand separate from PewDiePie the person?

[2020-04-24 17:11] #2798 closed

[2020-04-24 20:20] Z33 opened #2978 "Basecamp"
Name: Basecamp
Official resources for icon and color:
https://basecamp.com/about/press

The Basecamp brand seems to have gone under a rebranding. I'd like to help out, where are the instructions and/or resources to update icons for pull requests?

[2020-04-25 08:18] ericcornelissen commented on #2978
Thanks for the report @Z33 :slightly_smiling_face: You can read about contributing to Simple Icons in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md). If you have any further questions feel free to ask them here.

[2020-04-25 13:21] HeshamMeneisi opened #2981 "OpenAI"
**Name:**
OpenAI
**Website:**
https://openai.com/
**Official resources for icon and color:**
Raw SVG on the website navigation bar

**Name:**
OpenAI Gym
**Website:**
https://gym.openai.com/
**Official resources for icon and color:**
https://gym.openai.com/assets/dist/home/header/home-icon-54c30e2345.svg

[2020-04-25 18:39] phatbhoy67 commented on #2976
[Alexa rank: 121,543](https://www.alexa.com/siteinfo/erlang.org)

SVG of logo available on [wikimedia](https://upload.wikimedia.org/wikipedia/commons/0/04/Erlang_logo.svg)

Suggest hex value is `#A2003E` from website, used for links and is a stop on the gradient used for buttons.

[2020-04-25 19:28] PeterShaggyNoble commented on #2976
There's an SVG in one of their GitHub repos: https://github.com/erlang/erlide_eclipse/blob/pu/meta/media/erlang-logo.svg

[2020-04-26 10:03] JOELwindows7 commented on #2962
I think it would be black logo in white. alternatively could be white in blue navy of that wakatime dashboard.

[2020-04-26 10:28] JOELwindows7 commented on #2944
umm... I haven't yet thought that idea. I believe such brand means that's him. Therefore, it is quite difficult to find particular *Brofist* branded without thinking about PewDiePie.

I have searched around PewDiePie's brofist.
I have found many merch about Brofist from previous era of PewDiePie where Brofist was booming, maybe to this day.

according to this article [here](https://pewdiepie.fando

[2020-04-26 10:58] HeshamMeneisi opened #2984 "More advanced DevOps"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [x] The Packagist Package

### Description

#### 1. Husky Hooks

This is an improvement for contributors. If the package contains a pre-commit hook (using something like husky) that runs basic checks like linting and maybe a pre-push hook with more time-consuming operations

[2020-04-26 13:48] ericcornelissen commented on #2984
Hi @HeshamMeneisi, thanks for reaching out and giving some nice suggestions.

Up front I want to share with you our philosophy/goal for contributing this project, which should clarify my response. As contributing an icon to this project is pretty simple from a software development perspective, we aim to make the contributing process not too difficult/convoluted so that people that have little expe

[2020-04-26 14:00] ericcornelissen commented on #2944
Thanks for the detailed response @JOELwindows7. Based on

I think it is safe to close this issue as is. I don't think it is worth adding a brand that is no longer in use (abandoned). I hope you understand.

If you are interested in having the Tsuki logo in the collection, you can open a new issue for that. Based on [their Alexa rank (~200k)](https://www.alexa.com/siteinfo/tsuki.market) they should

[2020-04-26 14:00] #2944 closed

[2020-04-26 17:57] runxel commented on #2984
Hello @HeshamMeneisi,
thanks for the improvement suggestions!
Eric already laid out the most important points, and while the idea of semantic releases is already out of question, I'd say the same arguments can be used against Husky and therelike.

We really try to lower the hurdles for contributing (that's why we still link to SVGOMG e.g.) and I doubt many of the contributers actually use npm in t

[2020-04-26 21:06] irgusite opened #2985 "KTM"
Hi, Would you add the KTM logo?
Thank you for your amazing work :)

**Name:**
KTM
**Website:**
https://ktm.com
**Official resources for icon and color:**
https://www.ktm.com/frontend/features/base/logo.svg

[2020-04-27 07:27] pax2011 opened #2987 "Sky broadcaster icon"
**Name:** SKY
**Website:** https://www.sky.com/
**Official resources for icon and color:** https://www.sky.com/assets/masthead/images/sky-logo.png
   https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Sky_International_-_Logo_2018.svg/1024px-Sky_International_-_Logo_2018.svg.png

[2020-04-27 07:30] pax2011 opened #2988 "Philips Hue Icon"
**Name:** Philips Hue
**Website:** https://www2.meethue.com/en-us
**Official resources for icon and color:** https://www2.meethue.com/b-dam/b2c/meethue/philips-hue_shield.png
   https://upload.wikimedia.org/wikipedia/en/a/a1/Philips_hue_logo.png

[2020-04-27 08:11] plibither8 opened #2989 "Prime Video"
**Name:** Prime Video
**Website:** https://primevideo.com
**Official resources for icon and color:**

* Brand guidelines: https://m.media-amazon.com/images/G/01/cooper/PV_Branding_Guidelines_Logos_Lock_Ups._CB1539191655_.pdf
* Colors: `#00AAE1`, `#1F2E3E`
* Resources: https://m.media-amazon.com/images/G/01/digital/video/PrimeVideoLogos/Prime_Video_Logos_10918._CB483297842_.zip

[2020-04-27 11:52] PeterShaggyNoble commented on #2952
In Inkscape, step 2 is called `Union` and can be found in the `Path` menu. Step 3 can be found in the same menu and is called `Combine`. Note, though, that if the paths are not overlapping then both commands, essentially, do the same thing.

[2020-04-27 13:08] sabersingh opened #2992 "Icon for Instructables.com"
**Name:** Instructables
**Website:** https://www.instructables.com/
**Official resources for icon and color:** https://www.instructables.com/community/Official-Instructables-Logos-1/

[2020-04-27 14:58] #2971 closed

[2020-04-27 19:29] #2898 closed

[2020-04-27 20:33] nektro opened #2993 "Icon for Dogecoin"
**Name:** Dogecoin
**Website:** https://dogecoin.com/
**Official resources for icon and color:**

http://christinemix.com/
http://christinemix.com/images/dogecoin-silent.jpg
(official logos, but `.jpg`)

<https://www.reddit.com/r/dogecoin/comments/7niv76/>
http://svgshare.com/i/4k0.svg
(`.svg` by community)

<https://cryptologos.cc/dogecoin>
https://cryptologos.cc/logos/dogecoin-doge-logo.svg
(coi

[2020-04-27 21:09] nektro commented on #2989
Would this make sense as an icon where it's so wide?

[2020-04-28 05:25] HeshamMeneisi commented on #2984
Hey guys. I understand your approach to reducing complexity.

However, I need to clarify that my recommendation for semantic release was based on the merge commit (by maintainers) not the contributor commits, and to complement not replace the current release action.

When a maintainer merges something with feat or fix, it would trigger the release action (the one used right now) instead of having

[2020-04-28 05:59] plibither8 commented on #2989
Yeah, you're right. As an icon, I believe we can use the one they use in their favicon (and other places) - this is the best version I could find:

![](https://images-na.ssl-images-amazon.com/images/G/01/digital/video/DVUI/favicons/favicon-196x196._CB485944137_.png)

![favicon-196x196 _CB485944137_](https://user-images.githubusercontent.com/31861755/80452193-56c84100-8943-11ea-9eba-736c3811d560.pn

[2020-04-28 09:05] PeterShaggyNoble commented on #2981
**Alexa rank:** [~42.2k](https://www.alexa.com/siteinfo/openai.com)

[2020-04-28 09:22] PeterShaggyNoble commented on #2974
I've updated the issue template for you under the assumption that [this](https://tunein.com/) _is_ what you're looking for. If it's not then please create a new issue for the brand you're requesting, taking care to complete the issue template.

An SVG of the "TuneIn" logo can be found in numerous places throughout their site. However, there's also a version that just uses "TI", which I think is wh

[2020-04-28 09:37] PeterShaggyNoble commented on #2985
**Suggested colour:** `#ff6600`
**Alexa rank:** [~33.6k](https://www.alexa.com/siteinfo/ktm.com)

Would you like to take this one on yourself, @irgusite? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-04-28 09:43] PeterShaggyNoble commented on #2987
**Suggested colour:** `#0072c9` from [this page](https://www.sky.com/toolkit/core/settings/colors)
**Alexa rank:** [~1.8k](https://www.sky.com/toolkit/core/settings/colors)

There is _an_ SVG at https://www.sky.com/assets/masthead/images/safari-pinned-tab.svg but the quality isn't great - still on the hunt for a better one.

[2020-04-28 09:46] EinsEli opened #2995 "Icon for OnePlus"
**Name:** OnePlus
**Website:** https://www.oneplus.com/
**Official resources for icon and color:**
https://www.oneplus.com/brand/asset (Brand-Assets)
https://en.wikipedia.org/wiki/OnePlus#/media/File:OP_LU_Reg_1L_RGB_red_copy-01.svg (.svg Logo)

[2020-04-28 10:31] irgusite commented on #2985
Yes! I will make a pull request

[2020-04-28 11:45] selabie68 opened #2998 "HIVE Blockchain"
**Name:** HIVE
**Website:** https://hive.io/
**Official resources for icon and color:** https://hive.io/brand

[2020-04-28 11:45] PeterShaggyNoble commented on #2988
Thanks for the request, @pax2011.

Went looking for this a while ago for [this issue](https://github.com/Templarian/MaterialDesign/issues/4063) but didn't have much luck in sourcing a vector. Looking into it in a bit more detail now, though, I've come across a few PDFs that include a vector. I think we can get away with just using the "hue" on its own as they do themselves in a few places. Colours

[2020-04-28 12:19] pax2011 commented on #2988
personally I prefer `#ff9514` , but I think the community would choose `#0065d3 ` 😆

[2020-04-28 12:22] ericcornelissen commented on #2984
That is a nice recommendation that I had never considered. However, I personally prefer sticking with releases on a regular basis. Although I do understand that people may want an SVG quicker than 1 or 2 weeks, I don't think we should create a release for every individual logo that is added.

Also, considering that the current approach is completely tool-agnostic, I prefer it over maintainers havi

[2020-04-28 14:39] dhimmel commented on #2998
Yes, a Hive logo would be awesome! Hive is the community-driven continuation of the Steem project after network control was usurped by a centralized entity.

simpleicons currently has a "Steem" and "Steemit" icon, so Hive would be an excellent addition.

I looked through the brand kit linked to by @selabie68. It seems like `hextacular.svg` would be the best SVG to base the icon off of:

[code]

[2020-04-28 17:30] hindsholm opened #2999 "Icon for Husqvarna"
It would be great to have a Husqvarna logo.

**Name:** Husqvarna
**Website:** http://www.husqvarna.com
**Official resources for icon and color:** http://www.husqvarnagroup.com/en/media-gallery

[2020-04-28 18:00] davidm5375 opened #3000 "Icon for Minecraft"
**Name: Minecraft**
**Website: https://minecraft.net**
**Official resources for icon and color:**
LOGO: https://gamepedia.cursecdn.com/minecraft_gamepedia/4/44/Grass_Block_Revision_6.png
Main Colors:
#473121
#61442e
#4c7a42

https://education.minecraft.net/press/
https://www.igdb.com/games/minecraft/presskit

[2020-04-28 20:08] maximousblk opened #3001 "Icon for awesome lists"
**Name:** awesome lists
**Website:** https://awesome.re/
**Official resources for icon and color:** https://github.com/sindresorhus/awesome/blob/master/awesome.md

This is nothing illegal. But neither a brand.

[2020-04-29 04:05] cstrouse opened #3002 "REQUEST: Wistia"
**Name:** Wistia
**Website:** wistia.com
**Official resources for icon and color:**
- https://wistia.com/about/assets

[2020-04-29 08:41] PeterShaggyNoble commented on #2988
Yeah, it's not an easy choice. I'm going to go ahead and throw a PR together using the blue and we can discuss it further there.

[2020-04-29 08:53] PeterShaggyNoble commented on #2992
Thanks for the request.

Their logo is also available as an SVG in [this sprite](https://www.instructables.com/assets/svg/sprite.svg) (the "instructables-logo" `symbol`). Any thoughts on the colour? As I see it `#555555`, used as the background for their menu & footer, and `#fabf15` from the robot's body are 2 possibilities.

**Alexa rank:** [~1.3k](https://www.alexa.com/siteinfo/instructables.com

[2020-04-29 09:18] #2909 closed

[2020-04-29 09:47] PeterShaggyNoble commented on #2993
Thanks for the detailed request, @nektro.

I don't know that it's going to be possible to "monochromise" the dog without taking _a lot_ of creative license with it. They do, however, have an encircled `Ð` icon, which can be seen in [this screenshot](https://dogecoin.com/imgs/dogecoin_mobilewallet.png) and in the Icons8 library you linked. That may be the better option for us, if we can source an o

[2020-04-29 09:59] PeterShaggyNoble commented on #2989
We do have plenty of precedent for adding larger and more complex icons and, while I'd _personally_ prefer the simplicity of the play icon, it's lack of widespread us and, more importantly, coverage in their brand guidelines means we'll have to go with the wordmark. If only they offered a stacked version! 🙄

We could always simplify it a bit by just using the "prime" wordmark on its own or even at

[2020-04-29 10:10] PeterShaggyNoble commented on #2995
Thanks for the request, @EinsEli. Would you like to take this one on yourself? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

There are a few vector files available in the zip file on the brand assets page you linked above as well as an SVG embedded in the HTML of their website's header.

**Suggested colour:** `#f50514`,

[2020-04-29 10:28] PeterShaggyNoble commented on #2999
**Alexa rank:** [~39.7k](https://www.alexa.com/siteinfo/husqvarna.com)

[2020-04-29 10:42] PeterShaggyNoble commented on #2998
Thanks for the request, @selabie68. Would you (or @dhimmel) like to take this one on yourself? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

We'll need to figure out how to name this one (ref: #2260) as we already have a [Hive icon](https://github.com/simple-icons/simple-icons/blob/master/icons/hive.svg) for another bra

[2020-04-29 10:50] PeterShaggyNoble commented on #3000
Thanks for the request, @davidm5375.

Minecraft was previously removed from our library in #531 & #551/#552 as there is no monochrome version of their icon. We could maybe add their wordmark instead, though. Something along the lines of the rough draft below. Thoughts, @simple-icons/maintainers?

![Minecraft](https://user-images.githubusercontent.com/15157491/80588085-90667e00-8a0f-11ea-8222-07434

[2020-04-29 10:58] PeterShaggyNoble commented on #3001
With ~132k stars on GH, it certainly meets our popularity criterion for inclusion. Whether or not it can be considered a brand in its own right, though, is, as you say, debatable. I don't personally see any harm in adding it, especially if someone has a need for it (as you obviously do). What do the other @simple-icons/maintainers think?

If we do decide to add the logo they use in their README ca

[2020-04-29 11:00] PeterShaggyNoble commented on #3002
**Alexa rank:** [~4.7k](https://www.alexa.com/siteinfo/wistia.com)

[2020-04-29 11:47] PeterShaggyNoble commented on #2926
Man, their SVGs are just a complete mess of minor imperfections and excessive points but I can't tell if that's intentional so that it appears "rough around the edges" so do we try to clean it up for them or leave it as is?

[2020-04-29 11:55] PeterShaggyNoble commented on #2960
Thanks for the request, @jkga.

I've been looking for an official vector version of this on and off for the past few days but no joy so far. Going to ping @levithomason and @layershifter as their top contributors to see if they can be of any assistance here.

[2020-04-29 13:56] sabersingh commented on #2992
Hi @PeterShaggyNoble ,
Thank you for considering this issue. I just checked the SVG file for "instructables-logo" symbol but I don't think it would look appealing for simple-icons concept, Don't you think robot sprite would look better with `#fabf15`?

[2020-04-29 15:07] ericcornelissen commented on #3001
I don't see any harm in adding it either (apart from the fact that it is rather generic icon of a pair of (sun)glasses as well, but that's fine). I'd even say that it has become kind of a brand, with so many _awesome lists_ around nowadays.

[2020-04-29 15:10] ericcornelissen commented on #3000
I suppose it is reasonable to add the wordmark as the logo for Minecraft :thinking: I'd be fine adding that :+1:

[2020-04-29 18:48] maximousblk commented on #3001
This would also help with [shields.io](https://shields.io) as they use simple-icons for their badges.

[2020-04-29 22:13] nektro commented on #2989
Yeah, seems like they prefer the use of the word mark..
https://m.media-amazon.com/images/G/01/cooper/PV_Branding_Guidelines_Logos_Lock_Ups._CB1539191655_.pdf

[2020-04-30 08:21] PeterShaggyNoble commented on #3001
Would you like to take this one on yourself, @maximousblk? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-04-30 08:28] PeterShaggyNoble commented on #2989
I think the play icon is more of a holdover from the days when it was just Amazon Video. A stacked version of the logo _does_ exist and can be seen in use as [their app](https://play.google.com/store/apps/details?id=com.amazon.avod.thirdpartyclient) icon. That it isn't covered in the PDF or made available in the ZIP, though, suggests that it probably isn't to be used externally. Although, just to

[2020-04-30 08:45] nektro commented on #2989
![image](https://user-images.githubusercontent.com/5464072/80690874-707d9b80-8a9d-11ea-9a9d-0124e02e4e02.png)

[2020-04-30 09:00] PeterShaggyNoble commented on #3000
This treatment looks a bit better to me, what do you guys think? We need to decide on a colour too. I've gone with the colour we _used_ to use below but I'm in no way familiar with the game or its brand.

![Minecraft](https://user-images.githubusercontent.com/15157491/80692264-40e48880-8ac9-11ea-8e23-97736e25f968.png)

[2020-04-30 09:18] PeterShaggyNoble commented on #2842
Did a bit more digging into this and found [this](https://github.com/travis-ci/travis-web/blob/master/public/images/landing-page/sign-in-mascot.svg) in one of their repos, which would suggest that we would need to use the circle. I also found [this grayscale SVG](https://github.com/travis-ci/travis-web/blob/master/public/images/svg/travisci-logo-grayscale.svg) which gives us another potential opti

[2020-04-30 09:19] maximousblk commented on #3001
I don't have any prior experience with SVGs, but this seems pretty straightforward, so I can definitely try. So, yes I can take this on me.

[2020-04-30 09:55] plibither8 commented on #2989
@PeterShaggyNoble I just Googled their brand guidelines and that was the first result. I'll try to find its source when I get time.

[2020-04-30 10:32] maximousblk commented on #3001
@PeterShaggyNoble I created a pull request (#3011). Please have a look.

[2020-04-30 10:35] saveroo opened #3012 "Icon for Embarcadero Delphi/C++/RAD/Interbase"
**Name:** Embarcadero Delphi/C++/RADStudio/Interbase
**Website:** https://www.embarcadero.com/
**Official resources for icon and color:**
All the logos hi/low res .png/.eps could be downloaded right here
https://www.embarcadero.com/news/logo

- [x] Embarcadero (#3041)
- [x] Embarcadero Delphi (#4139)
- [x] Embarcadero C++ Builder (#9401)
- [x] Embarcadero RADStudio (#9402)
- [x] Embarcadero Interb

[2020-04-30 10:40] saveroo commented on #2924
as a reference, https://konpa.github.io/devicon/

[2020-04-30 11:31] PeterShaggyNoble commented on #2059
Found a vector for Chrysler! 🎉 It's in [a font](https://www.mopar.com/etc.clientlibs/settings/wcm/designs/mopar/clientlibs/base/resources/fonts/icomoon.woff) used for the logos in the footer of [this site](https://www.mopar.com/) and it is _not_ pretty. The path data I extracted is below if anyone wants to take it on and try to clean it up.

[code]

[2020-04-30 11:39] PeterShaggyNoble commented on #2989
Ah, no worries, so; I couldn't find anything either. Other than Googling, the only other way I _could_ find to get at that PDF was from a link on the last page of the PDF embedded [here](https://videodirect.amazon.com/home/help?topicId=GPJ5SXV27HNBCHCA&ref_=avd_sup_GPJ5SXV27HNBCHCA).

I've opened a PR for Prime but I suggest holding off on Prime Video for a couple of days, just in case someone can

[2020-04-30 11:51] AbramTTP opened #3013 "G2A"
**Name:** G2A (Game Store)
**Website:** https://www.g2a.com/
**Official resources for icon and color:** https://www.g2a.co/contact/brand_guidelines/

[2020-04-30 12:01] PeterShaggyNoble commented on #3012
**Alexa rank:** [~29.9k](https://www.alexa.com/siteinfo/embarcadero.com)

[2020-04-30 12:11] PeterShaggyNoble commented on #3013
Thanks for the request, @t-p-tan.

There are a few SVGs to be found about their site, including [this one](https://www.g2a.com/static/assets/images/logo_g2a_white.svg) in the header. But there's also [this page](https://www.g2a.co/contact/brand_guidelines/) on their corporate site which includes a full suite of logos in various formats.

**Suggested colour:** `#f05f00`, as that's what they use for

[2020-04-30 12:13] t-p-tan commented on #3013
Hi PeterShaggyNoble,

Ah oops, I didn't manage to spot that below the page. Yep it's there. Updating the link.

Thank you!

[2020-04-30 12:15] PeterShaggyNoble commented on #2924
There's also [one available from Vector Logo Zone](https://www.vectorlogo.zone/logos/expressjs/), which we're considering allowing as another alternative source. However, looking through [their repo](https://github.com/VectorLogoZone/vectorlogozone), I don't see any issues or PRs related to that icon which might tell us where _they_ sourced it.

[2020-04-30 12:16] PeterShaggyNoble commented on #3013
No worries :+1: If you'd like to take this one on yourself, you can find our contributing guidelines [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-04-30 13:09] #2964 closed

[2020-05-01 09:23] gw1gw1 opened #3014 "Ubiquiti icon"
**Name:** Ubiquiti
**Website:** https://www.ui.com/
**Official resources for icon and color:**
#0559C9
#FFFFFF

[2020-05-01 13:18] Orchomenos opened #3015 "audio-technica logo request"
**Name: audio-technica**
**Website: https://audio-technica.com/**
**Official resources for icon and color: https://de.wikipedia.org/wiki/Datei:Audio-technica.svg**

[2020-05-01 13:33] Orchomenos opened #3016 "Sennheiser logo request"
**Name: Sennheiser**
**Website: https://sennheiser.com/**
**Official resources for icon and color: https://de.wikipedia.org/wiki/Sennheiser#/media/Datei:Sennheiser_logo.svg http://logok.org/sennheiser-logo/**

Add Sennheiser #3045

[2020-05-01 13:35] Orchomenos opened #3017 "Bose logo request"
**Name: Bose**
**Website: https://www.bose.com/**
**Official resources for icon and color: https://de.wikipedia.org/wiki/Datei:Bose_logo.svg**

[2020-05-01 13:44] ericcornelissen commented on #3015
Thanks for the request(s) @Orchomenos :slightly_smiling_face: Are you interested in adding the logo(s) yourself? You can read more about that in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-05-01 14:20] Orchomenos commented on #3015
I added the audio-technica icon, but do not understand how to do a pull request (or whatever it is called) after I added the icon with gitpod.

[2020-05-01 14:21] Orchomenos commented on #3015
I added the audio-technica icon, but do not understand how to do a pull request (or whatever it is called) after I added the icon with gitpod.

[2020-05-03 16:29] #3001 closed

[2020-05-03 17:02] #2995 closed

[2020-05-03 21:01] ericcornelissen commented on #2924
Seems like the `ex` should be the logo, no to find an appropriate source (I can also not find anything in the git(hub) history of VectorLogoZone)...

[2020-05-03 21:04] ericcornelissen commented on #3014
Thanks for the request @gw1gw1, there is [an SVG](https://prd-www-cdn.ubnt.com/media/images/ubnt-logo-u.svg) (it's white so you probably won't see anything) available in the header of their homepage which can be used as a starting point.

Are you interested in contributing the icon yourself @gw1gw1? You can read more about that in [the Contributing Guidelines](https://github.com/simple-icons/simpl

[2020-05-04 05:09] #2785 closed

[2020-05-04 11:27] kshitishp opened #3021 "Request: Apache Cloudstack"
**Name:** Apache Cloudstack
**Website:** cloudstack.apache.org
**Official resources for icon and color:** http://cloudstack.apache.org/trademark-guidelines.html

[2020-05-04 11:58] gw1gw1 commented on #3014
Hi @ericcornelissen,

Sure why not. I have some basic design knowledge (photoshop...). I will have a look at the guidelines and keep you posted.

[2020-05-04 12:05] ericcornelissen commented on #3021
Thanks for the request @kshitishp :+1:

There is a vector version of the logo available (`.ai`). I think the monkey would be the best fit for this project, but I'm not familiar with the brand. What do you think?

Also, would you be interested in contributing this icon yourself? If so, you can read more about that in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/de

[2020-05-04 13:25] kshitishp commented on #3021
Hi Eric, thanks for the response :)

I don't mind giving this a shot. I've seen the contributing guidelines and it should be fun to contribute :)

[2020-05-05 10:58] PeterShaggyNoble commented on #2952
Are you still working on this one and #2928, @frenchvandal? Let us know if you need any more help with them.

[2020-05-05 10:59] PeterShaggyNoble commented on #3012
Would you like to take these on yourself, @saveroo? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and, if possible, please submit a separate PR for each as it will help speed up the review process.

[2020-05-05 11:35] layershifter commented on #2960
Hey there 👋

I don't think that vector of this exists at all 🤔 @levithomason?

[2020-05-05 12:01] Technoprenerd opened #3027 "Request: 3Box"
**Name:** 3Box
**Website:**  https://3box.io/
**Official resources for icon and color:**

[2020-05-05 12:08] PeterShaggyNoble commented on #3027
Thanks for the request, @Technoprenerd.

However, with an Alexa rank of [~654k](https://www.alexa.com/siteinfo/3box.io), this would be [beyond the scope](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) of this project. Is there another metric of popularity we might be able to use to determine whether or not we can add this?

[2020-05-05 12:36] PeterShaggyNoble commented on #3016
Thanks for the request, @Orchomenos.

There's an SVG embedded in the HMtL of both the header and footer of their website which we should use as the source file.

**Suggested colour:** `#000000`
**Alexa rank:** [18.9k](https://www.alexa.com/siteinfo/sennheiser.com)

[2020-05-05 12:39] Technoprenerd commented on #3027
Thanks @PeterShaggyNoble for taking a look and letting me know the scope of the project.
I guess we can close this for know, since 3Box itself is just starting and will eventually gain popularity.

[2020-05-05 12:39] #3027 closed

[2020-05-05 12:42] PeterShaggyNoble commented on #3027
Thanks for the info, @Technoprenerd.

We'll be happy to revisit this once 3Box is more established and popular.

[2020-05-05 12:45] PeterShaggyNoble commented on #3017
Thanks, again, for the request, @Orchomenos.

There are a number of PDFs available on their site (e.g., https://developer.bose.com/sites/default/files/Bose%20AR%20Design%20Guidelines%20v1.0.pdf) which include a vector of their logo and would make for a better and official source.

**Suggested colour:** `#000000`
**Alexa rank:** [~8.8k](https://www.alexa.com/siteinfo/bose.com)

[2020-05-05 12:50] PeterShaggyNoble commented on #3014
There are also a number of vector files available at https://www.ui.com/marketing/#logos which introduce a difficulty in choosing the colour as the blue used in them is different from the one used on their site. Personally I'd go with the latter: `#0559c9`

**Alexa rank:** [~4.3k](https://www.alexa.com/siteinfo/ui.com) (although, I wonder how much of that can be accounted for by them managing to g

[2020-05-05 20:04] #3021 closed

[2020-05-06 05:36] ericcornelissen commented on #3014
Fair point (I was very confused by the domain at first...) But they have reasonably large following on social media as well, so even if the Alexa rank is a bit conflated I still think Ubiquiti is popular enough for Simple Icons :+1:

[2020-05-06 07:49] cmkpl opened #3028 "JR Logo Request"
Name: JR
Website: https://en.wikipedia.org/wiki/Japan_Railways_Group

[2020-05-06 09:19] PeterShaggyNoble commented on #3014
I was just being silly! 😆

Their old domain is still ranked at [~13.6k](https://www.alexa.com/siteinfo/ubnt.com) so no question that it's popular enough.

[2020-05-06 09:29] PeterShaggyNoble commented on #3028
Thanks for the request, @cmkpl.

The parent company has no website of its own, that I can find, so no way to gauge its popularity via an Alexa rank. Given that it operates Japan's national railway system, though, I think we can safely say its significant enough for us to add. Plus, looking at the ranks of the sites of some of its subsidiaries, they definitely meet our 500k requirement.

Here's a c

[2020-05-06 09:49] cmkpl commented on #3028
I think just add the one logo with the name "JR" is ok.

In fact, they are individual companies so there is no "parent company website". If all colors of those companies are added, it will make its logo occupying too many tiles in simple icons list.

[2020-05-06 10:48] kshitishp opened #3034 "Request: Rancher icon"
**Name:** Rancher
**Website:** www.rancher.com
**Official resources for icon and color:** https://rancher.com/brand-guidelines/

Happy to take this up.

[2020-05-06 10:50] PeterShaggyNoble commented on #3034
**Alexa rank:** [~49.1k](https://www.alexa.com/siteinfo/rancher.com)

[2020-05-06 11:34] Orchomenos opened #3037 "DHL logo request"
**Name:DHL**
**Website: German:https://www.dhl.de; international:https://www.dhl.com**
**Official resources for icon and color:Header of https://www.dpdhl-brands.com/dhl/en/guides/social-media/posts.html**

[2020-05-06 11:36] Orchomenos commented on #3017
Thank you, now going to start working on it.

[2020-05-06 11:42] #3015 closed

[2020-05-06 12:05] PeterShaggyNoble commented on #3037
Logos are available at https://www.dpdhl-brands.com/dhl/en/guides/design-basics/logo-and-claim.html and colours at https://www.dpdhl-brands.com/dhl/en/guides/design-basics/colors-materials/colors.html

There's also an SVG [here](https://www.dpdhl-brands.com/etc.clientlibs/dpdhl/cn/clientlibs/dhl/resources/images/dhl-logo.svg)

They seem to use the yellow and the red in almost equal measure but, as

[2020-05-06 12:07] Orchomenos commented on #3037
They always use red for the logo and yellow as a background, so the logo should be red and the background yellow, if that isn't possible I agree with you on using yellow as the colour

[2020-05-06 12:10] PeterShaggyNoble commented on #3037
Sorry, should have said that we (currently) only support one colour per brand. We do have a few icons already where the primary brand colour is not the colour used for the logo. See the conversation on [TUI](https://github.com/simple-icons/simple-icons/pull/2851), for example.

[2020-05-06 12:14] Orchomenos commented on #3037
Maybe we should use white as a background colour, because when using the black version of their logo they always use a white background, so that would be mor inline with how they handle it...?

[2020-05-06 12:31] Orchomenos commented on #3017
Add bose #3038

[2020-05-06 12:33] Orchomenos commented on #3017
Add bose #3038

[2020-05-06 12:43] PeterShaggyNoble commented on #3028
I share your concern about adding duplicate SVGs and my personal preference would be to just add the parent JR Group.

However, we haven't yet, to my knowledge, come across a situation where subsidiary companies all share the same logo. We have had a few where sub-_brands_ share the same logo, which is a bit more clear cut: We just add the parent brand and use its colour.

[2020-05-06 12:58] Orchomenos commented on #1207
I would suggest using white as it is neutral and the background color when the logo is in colour.

[2020-05-06 12:59] PeterShaggyNoble commented on #3037
I can see why you're suggesting that.

However, the colours we provide are the primary brand colours and the styling of an SVG & how they use that colour is down to each individual implementation. The fact that we, on our site, display the SVGs _on_ the brand colour is just how the site is currently designed and not a direct reflection of how we suggest the SVGs be used; there is a [redesign in th

[2020-05-06 16:36] Nat-ess commented on #2842
Hey there,

I am the designer at Travis CI and figured it would be easier to directly message you folks here. Thanks for reaching out to us regarding this.

I am attaching an SVG you to use, it's currently at 23x23, but feel free to adjust to your needs.

SVG: [travis-ci.svg.zip](https://github.com/simple-icons/simple-icons/files/4588075/travis-ci.svg.zip)

Best,
Natalia

[2020-05-06 20:01] ericcornelissen commented on #3028
I definitely think adding the logo once makes more sense. Since there is a lack of consistent branding I'd suggest just using black (or white?). I don't think there is a better solution until we figure out how we want to support multiple colours.

[2020-05-07 13:39] PeterShaggyNoble commented on #2842
Many thanks for taking the time to get back to us, @Nat-ess and to supply us with that file, much appreciated.

Going to need another contributor to take this one on as, once again, Inkscape isn't playing nice when converting the strokes to paths.

[2020-05-07 14:09] PeterShaggyNoble commented on #3028
That settles it so! 🙂

@cmkpl, would you like to take this one on yourself? I'd suggest we go with "JR Group" as the name or even the full name of "Japan Railways Group".

The added complication here is the multiple different names of the subsidiaries using the same logo.

[2020-05-07 14:10] #3017 closed

[2020-05-07 14:45] cmkpl commented on #3028
I'm sorry that I don't have the skill to make it. 😅😅😅

[2020-05-07 15:24] PeterShaggyNoble commented on #3028
No, problem, @cmkpl.

We generally give "good first issue"s at least a week to allow a contributor to pick them up and then, if nobody does so, one of the team will get to work on it.

[2020-05-07 19:32] agniveshadhikari opened #3043 "pandas"
**Name:** Pandas
**Website:** https://pandas.pydata.org/
**Official resources for icon and color:** https://pandas.pydata.org/about/citing.html

[2020-05-07 23:27] #2968 closed

[2020-05-08 08:07] adriansalvatori opened #3044 "Replacing icons in markup all at once (feather style)"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [ ] The Packagist Package

### Description

I'm using simple-icons for the first time just because **feather icons** doesn't include a whatsapp icon, but there's something I noticed: **Feather does have a more easy way to replacing icons in the markup**.

I guess this sort

[2020-05-08 10:18] ericcornelissen commented on #3044
That is very cool @adriansalvatori! However, we aim to keep our package as simple as possible, providing just the icons and some metadata. So I think this is outside the scope of this project.

However, I encourage you to turn this idea into your own project (and possibly NPM package) that we can link to as [third party extension](https://github.com/simple-icons/simple-icons#third-party-extensions

[2020-05-08 10:18] #3044 closed

[2020-05-08 14:38] Orchomenos commented on #3016
now using this version of the logo: https://de-de.sennheiser.com/assets/v4r/syms-9fb6701df6cf24b2cec777746b2005557baa25d21c5e3b60663524b4e3a241df.svg

[2020-05-08 14:46] adriansalvatori commented on #3044
Super. Will do!

[2020-05-08 15:20] Orchomenos opened #3046 "JBL Harman logo request"
**Name:JBL Harman**
**Website:https://jbl.com/**
**Official resources for icon and color:https://de.jbl.com/on/demandware.static/-/Sites-masterCatalog_Harman/default/dw77675d13/pdfs/JBL_Tuner_Spec_Sheet_German.pdf**
colour: #fa4616

[2020-05-08 20:25] Orchomenos opened #3049 "REWE logo request"
**Name: Rewe**
**Website: https://www.rewe.de/ https://www.rewe-group.com/en/company**
**Official resources for icon and color: https://www.rewe.de (header)**

- Alexa Rank: #6,261
- Owned by the REWE Group, who also own Penny, toom, ADAC Reisen and many other German stores: https://www.rewe-group.com/en/company/saleslines
- Colour: #CC071E

[2020-05-08 20:53] Orchomenos opened #3051 "SPIEGEL logo request"
**Name: SPIEGEL (also known as DER SPIEGEL or SPIELGEL ONLINE)**
**Website: https://www.spiegel.de/**
**Official resources for icon and color: https://de.wikipedia.org/wiki/Datei:Logo-der_spiegel.svg (not an offical resource, but the best I could find)**

- Alexa Rank: #759
- One of Germany's biggest quality newspapers
- colour: #EA3D05

[2020-05-08 20:53] Orchomenos commented on #3049
Add REWE #3050

[2020-05-09 00:22] Glytics opened #3052 "HCL Technologies"
**Name:** HCL Technologies
**Website:** https://www.hcltech.com/
**Official resources for icon and color:** https://commons.wikimedia.org/wiki/File:HCL_Technologies_logo.svg

[2020-05-09 08:41] frenchvandal commented on #2952
@PeterShaggyNoble sorry for the wait! I am on it as of today.

Starting with TVTime, since the logo is simple.

Is there a safe way to scale the icon on step 5? Rather than moving the logo manually with the arrows:

![image](https://user-images.githubusercontent.com/42499534/81468623-007bbd80-91e1-11ea-9450-9beeda1735a6.png)

[2020-05-10 17:19] saveroo commented on #3012
Uh oh, i just read it, i might try if it's hasn't been done.

[2020-05-10 18:01] sumanstats opened #3055 "Add raku icon"
The Raku Programming language is a new feature rich expressive language with elegant syntax.

I wanted to include the mascot of the raku programming language while preparing my website with [hugo academic theme](https://themes.gohugo.io/academic/) in skills section. But I could not find it in your collection. So could you add this mascot of raku programming language?

**Name:** Raku
**Website:** h

[2020-05-10 20:42] ericcornelissen commented on #3052
Thanks for the request @Glytics, I filled out the issue template under the assumption you mean [this HCL Technologies](https://www.hcltech.com/). If that is incorrect, feel free to update your request. And next time you want to request an icon, please help us out by filling out the issue template :slightly_smiling_face:

[2020-05-10 20:47] ericcornelissen commented on #3055
Hi @sumanstats, thanks for the request. Unfortunately, Raku [does not meet our standard popularity threshold](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon). Is there an alternative measure of popularity we can consider?

[2020-05-11 01:14] gitfool opened #3056 "Add law / legal icon for licenses"
Something like what you see in the GitHub license screen. e.g. [Cake.Dungeon/LICENSE](https://github.com/gitfool/Cake.Dungeon/blob/master/LICENSE):
![image](https://user-images.githubusercontent.com/750121/81515567-ccdb9780-9388-11ea-968c-0266f5fc33b2.png)
[code]

[2020-05-11 12:32] sumanstats commented on #3055
Hi there,

Alexa ranking shows quite substantial traffic to the central hub of information https://raku.org/

https://www.alexa.com/siteinfo/raku.org

<img width="503" alt="Capture" src="https://user-images.githubusercontent.com/8075886/81561800-7cc5fa80-93b3-11ea-88f3-68e5893663d3.PNG">

If **Raku** fails your threshold, issue can be closed. No worries.

Thank you.

[2020-05-11 20:50] EvanBacon opened #3057 "Add Metro bundler"
**Name:** Metro bundler
**Website:** https://facebook.github.io/metro/
**Official resources for icon and color:** https://facebook.github.io/metro/img/metro.svg color: `#ef4242`

[2020-05-11 23:11] ericcornelissen commented on #3056
Thanks for the request @gitfool. However, your requests seems to be outside [the scope of this project](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) as a Law/Legal icon is not really related to a brand.

For icons like this I would recommend projects like [GitHub's Octicons](octicons.github.com) (which has the exact icon you referenced) or [Font Awe

[2020-05-11 23:11] #3056 closed

[2020-05-11 23:12] ericcornelissen commented on #3055
Our minimum requirement is 500k (500,000), so unfortunately Raku fails to meet the threshold.

[2020-05-11 23:12] #3055 closed

[2020-05-12 08:29] wb565 opened #3058 "Testin icon"
**Name:** Testin
**Website:** www.testin.cn
**Official resources for icon and color:** #007dd7
https://github.com/simple-icons/simple-icons/files/4614239/Testin.logo-RGB.zip

[2020-05-12 08:56] PeterShaggyNoble commented on #1207
@Orchomenos, did you perhaps mean to post that comment to a different issue or PR?

[2020-05-12 09:16] PeterShaggyNoble commented on #3043
Thanks for the request, @agniveshadhikari.

With ~24.8k stars on [GitHub](https://github.com/pandas-dev/pandas/) this should be within scope for us. If you'd like to take it on yourself, our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-05-12 09:48] PeterShaggyNoble commented on #3046
**Alexa rank:** [~12.9k](https://www.alexa.com/siteinfo/jbl.com)

[2020-05-12 10:25] PeterShaggyNoble commented on #3051
There's an SVG embedded in the header of their website.

[2020-05-12 10:29] #3034 closed

[2020-05-12 10:33] PeterShaggyNoble commented on #2952
Most software will allow you to manually enter the dimensions somewhere, @frenchvandal, with an option to constrain the proportions relative to each other so you only need change one simension. In Inkscape, for example, select your path with the "Select and transform objects" tool and you'll see the below in your toolbar. What software are you using?

![](https://user-images.githubusercontent.com/

[2020-05-12 12:00] kevinosburn opened #3059 "Kakao"
**Name: Kakao**
**Website: https://www.kakaocorp.com**
**Official resources for icon and color: https://www.kakaocorp.com/kakao/introduce/ci**

[2020-05-12 12:06] PeterShaggyNoble commented on #3012
I opened a PR (#3041) for the parent company, Embarcadero the other day, @saveroo. The product icons are still up for grabs, though so you can work away on those :+1: Can you try, if possible, to submit an individual PR for each so we can more easily review & assess each one?

[2020-05-12 12:13] PeterShaggyNoble commented on #3052
Official vector files and brand colours can be found in [this PDF](https://www.hcl.com/sites/all/themes/hcl/images/hcl-brand-manual.pdf), linked from [this page](https://www.hcl.com/brand-guidelines) on their site.

**Alexa rank:** [~11.4k](https://www.alexa.com/siteinfo/hcltech.com)

[2020-05-12 12:17] PeterShaggyNoble commented on #3057
No Alexa rank to go on here and they only have 3.6k stars on GitHub - we've been using 10k as a cut-off point recently. However, to add a new metric of popularity to our arsenal, GitHub reports that it has 236k users which I think we can say makes it significant enough for inclusion.

Assuming the other @simple-icons/maintainers agree with that, would you like to take this one on yourself, @EvanBa

[2020-05-12 12:20] PeterShaggyNoble commented on #3056
Here's another option for you from [Material Design Icons](https://github.com/Templarian/MaterialDesign/).

[![scale-balance](https://user-images.githubusercontent.com/15157491/81690493-42139f00-9453-11ea-81bf-286060a8f0b5.png)](https://materialdesignicons.com/icon/scale-balance)

[2020-05-12 13:59] PeterShaggyNoble commented on #3055
I looked into this one when we were [trying to figure out which icon to use for Perl](https://github.com/simple-icons/simple-icons/issues/2172) and meant to come back to it.

Given its relationship to Perl, you would think that it should be a shoe-in for inclusion. However, the numbers make it dubious, as it has been around for a good few years. It's low Alexa rank has already mentioned but that c

[2020-05-12 14:13] PeterShaggyNoble commented on #3058
Thanks for the request, @wb565 :+1:

Can I ask where you sourced that SVG from? There are a couple of AI files available for download in the footer of their Chinese site but, in the absence of any brand guidelines that I can find, it's not clear to me how we should treat this one - include _both_ the wordmark and the hanzi or just one or the other or just use the `T`, as they do in their favicon.

[2020-05-12 14:23] PeterShaggyNoble commented on #3059
Thanks for the request, @kevinosburn

If you'd like to take this one on yourself, you can find our contributing guidelines [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

**Alexa rank:** [~15.2k](https://www.alexa.com/siteinfo/kakaocorp.com)

[2020-05-12 14:29] PeterShaggyNoble commented on #3014
Are you still planning to give this a go, @gw1gw1?

[2020-05-12 15:25] PeterShaggyNoble commented on #2873
Going to ping @liewegas as the top contributor to their [primary repo](https://github.com/ceph/ceph/graphs/contributors) for feedback here. Would you be able to provide us with a vector version of your icon for inclusion in our library?

[2020-05-12 15:51] PeterShaggyNoble commented on #2849
Still can't find an SVG for this anywhere so I ran the PNG above through [Convertico](https://convertio.co/) and the result wasn't too terrible, just needed to straighten a couple of lines and remove some excess points. Some of the curves are looking a bit "angley" compared to the original, particularly the top-right and bottom-left corners so it'll need someone with better SVG skills to tidy up m

[2020-05-12 15:54] PeterShaggyNoble commented on #2779
Don't forget about this one, @phatbhoy67.

[2020-05-13 00:01] jelle619 opened #3062 "Bunq logo request"
**Name:** Bunq (stylised as bunq)
**Website:** https://bunq.com
**Official resources for icon and color:** the press kit can be downloaded at https://www.bunq.com/press/kit. A monochrome SVG can be found in ``Design Assets/Logos/Logo_Black.svg``. Guidlines as to how the brand should be used can be found in the "readme" PDF (in the ``Design Assets`` folder).

Their design guidelines don't mention o

[2020-05-13 00:05] jelle619 commented on #3062
The site has an Alexa rank of 107,189 as of now.

[2020-05-13 06:39] mikeboutros opened #3067 "PC Data logo request"
**Name:** PC Data
**Website:** [PC Data](https://www.pcdata-logistics.com/)
**Official resources for icon and color:**

[Source image](https://www.pcdata-logistics.com/wp-content/uploads/2015/10/Pcdata-logistics-automation.png)

Preferably the red part over the black text be converted to SVG or both can be done.

![Screen Shot 2020-05-12 at 11 35 54 PM](https://user-images.githubusercontent.com/40

[2020-05-13 09:06] davidjb opened #3070 "Request: SlideShare Icon"
**Name:** SlideShare
**Website:** https://www.slideshare.net
**Official resources for icon and color:**

The main site uses the LinkedIn "in" logo and favicon, but the [mobile apps](https://apps.apple.com/us/app/linkedin-slideshare/id917418728), Creators Hub (https://www.slideshare.net/ss/creators/), Help header and content (https://www.linkedin.com/help/slideshare/topics/7001/7008) use the "two d

[2020-05-13 10:52] Alexander-van-aken opened #3071 "payment provider additionals"
SOFORT Banking
SEPA
EPS
Giropay
Przelewy24
Belfius Direct Net
KBC/CBC Payment
ING Home’Pay
Klarna

[2020-05-13 13:30] PeterShaggyNoble commented on #3062
Thanks for the detailed request, @jelle619. Would you like to take this one on yourself? If so, our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

On the colour, my initial instinct on first seeing their site was the orange but I think the fact that, as you pointed out, they call the blue `primary` in their CSS variables mak

[2020-05-13 13:56] igorwojda opened #3074 "Update Kotlin logo"
**Name:** Kotlin
**Official resources for icon and color:**
https://kotlinlang.org/docs/reference/faq.html#where-can-i-get-an-hd-kotlin-logo

[2020-05-13 14:31] PeterShaggyNoble commented on #3067
Thanks for the request, @mikeboutros

However, with an [Alexa rank of ~3.7m](https://www.alexa.com/siteinfo/pcdata-logistics.com) this would be [beyond the scope of this project](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) as our cut-off is 500k. Is their another metric of popularity we could use to determine whether we can include this or not?

[2020-05-13 15:21] PeterShaggyNoble commented on #3070
Thanks for the details and thoroughly researched request, @davidjb.

I've always thought LinkedIn made a mistake rebranding SlideShare with their own logo so I'd be OK with adding this one, especially as it is used prominently as their app icon. Other libraries also make use of the same icon ([e.g.](https://www.vectorlogo.zone/logos/slideshare/index.html). However, the fact that they don't make it

[2020-05-13 15:33] PeterShaggyNoble commented on #3071
Thanks for the requests, @Alexander-van-aken.

SEPA is a duplicate of #1823. For the others, could you please complete the template below for each one and edit them into your post? This makes things easier for anyone wishing to take any of them on.

[code]

[2020-05-13 15:41] PeterShaggyNoble commented on #3074
Thanks, @igorwojda. However, I'm not clear on what you're suggesting we update our icon _to_? Or is it that you've spotted an inconsistency between ours and the source files?

[2020-05-13 16:03] mondeja opened #3075 "Carto"
**Name:** Carto
**Website:** https://carto.com
**Official resources for icon and color:** [Icon (printed positive version)](https://carto.com/downloads/CARTO-logo-solid-negative.zip) and color `#EB1510` from [brand guidelines](https://carto.com/brand/).
**Alexa Rank**: [~44k](https://www.alexa.com/siteinfo/carto.com)

[2020-05-13 16:13] PeterShaggyNoble commented on #3075
Thanks for the request, @mondeja.

The problem with the "marker", as I see it, is that it relies on being duo-tone and they don't offer a monotone "printed" version of it so I think we may have to go with the "printed positive version" of the full logo.

Also, from the page you linked, the `#eb1510` colour is:

[2020-05-13 16:18] mondeja opened #3076 "Openlayers"
**Name:** Openlayers
**Website:** https://openlayers.org
**Official resources for icon and color:** [Icon](https://raw.githubusercontent.com/openlayers/openlayers.github.io/build/assets/logo.svg) from [Openlayers website github repository](https://github.com/openlayers/openlayers.github.io) and color `#1f6b75` (website stylesheet) `#015965` (logo) or `#35BBCE` (logo).
**Alexa rank**: [~90k](https:

[2020-05-13 16:21] mondeja commented on #3075
Oh, it's true. Request updated.

[2020-05-13 16:25] PeterShaggyNoble commented on #3076
My vote goes to `#1f6b75`.

[2020-05-13 17:08] mondeja commented on #3076
I agree with you.

[2020-05-13 19:11] saveroo commented on #3012
@PeterShaggyNoble Yes i would, one question, is there any generator or guideline to create the preview ?

![81306571-8976e580-9077-11ea-958b-70dc71f84850](https://user-images.githubusercontent.com/4835657/81854374-0b8b7080-9588-11ea-80bd-e556f10f42dd.png)

[2020-05-13 23:13] davidjb opened #3081 "Update: Google Scholar Icon"
**Name:** Google Scholar
**Official resources for icon and color:**

![google scholar](https://scholar.google.com/apple-touch-icon.png)
https://scholar.google.com/favicon.ico
https://scholar.google.com/apple-touch-icon.png
https://commons.wikimedia.org/wiki/File:Google_Scholar_logo.svg

The shapes probably need some negative spacing (eg like Roundcube in #1619) so thought I'd open this for discuss

[2020-05-14 00:23] Alexander-van-aken commented on #1823
I would say without text. Thanks! <3

[2020-05-14 06:01] igorwojda commented on #3074
My mistake, sorry

[2020-05-14 06:01] #3074 closed

[2020-05-14 11:20] PeterShaggyNoble commented on #3012
There's a tool for generating them [here](https://petershaggynoble.github.io/MDI-Sandbox/simpleicons/preview/), @saverro and the URL is also included in our PR template.

[2020-05-14 11:33] PeterShaggyNoble commented on #3081
Nice catch, @davidjb :+1: We should definitely update this as our current version is just [Google's generic `school` icon from Material Icons](https://material.io/resources/icons/?search=school&icon=school&style=baseline) - @ericcornelissen actually suggested we use the version above in [the original request](https://github.com/simple-icons/simple-icons/issues/1338).

We will, as you said, need to

[2020-05-15 08:07] mikeboutros commented on #3067
I agree, the Alexa rank is quite low. I figured that since it is tech related, it might slide. 😃

Whether this gets made or not, I thought I might share where I got the infographic of the colors, the site is [https://palettegenerator.com/](https://palettegenerator.com/). All you have to do is upload the image and decide how many colors you want to be the dominant in the pie using the slider at the

[2020-05-15 17:29] volpmatt opened #3084 "Ring Alarm"
**Name:*Ring*
**Website:*https://en-uk.ring.com/*
**Official resources for icon and color:*https://store.ring.com/press*

[2020-05-17 15:21] mondeja opened #3086 "RunKit"
**Name:** RunKit
**Website:** https://runkit.com
**Official resources for icon and color:** Icon (`logo mark`) and color `#491757` or `#F55FA6` from [brand asset guidelines](https://www.npmjs.com/package/@runkit/brand).
**Alexa Rank:** [~52k](https://www.alexa.com/siteinfo/runkit.com)

[2020-05-17 15:24] mondeja commented on #3084
**Website unlocalized**: https://ring.com
**Alexa Rank**: [~9k](https://www.alexa.com/siteinfo/ring.com)

[2020-05-17 16:30] EinsEli opened #3087 "Update Mojang Studios"
**Name:** Mojang Studios
**Official resources for icon and color:**
![image](https://user-images.githubusercontent.com/57264430/82154180-6d8bf480-986c-11ea-857e-0276528d5e37.png)

https://www.minecraft.net/article/meet-mojang-studios
https://twitter.com/Minecraft/status/1262050538897670145
https://www.youtube.com/watch?v=YosWmbHAr2g

[2020-05-18 01:46] thrash4life opened #3090 "YoutTube Music"
Name: YouTube Music
Website: https://music.youtube.com/
Resources: SVG image: https://commons.wikimedia.org/wiki/File:Youtube_Music_logo.svg

[2020-05-18 03:06] arenasa70 opened #3091 "Arlo"
Name: Arlo
Website: https://www.arlo.com
**Official resources for icon and color:**

https://www.arlo.com/images/arlop/arlo-logo.png

![image](https://user-images.githubusercontent.com/46388511/82170634-06356b00-9893-11ea-961c-7875ebb8a6e2.png)

[2020-05-18 12:26] #3067 closed

[2020-05-18 12:26] ericcornelissen commented on #3067
Alright, in that case I will close this for now. If you still want the logo to be added in the future when the brand is a bit more popular feel free to let us know here 🙂

[2020-05-18 12:35] ericcornelissen commented on #3087
Hmm, not sure how well that (the full wordmark) would do as a logo for our purposes 🤔 It also seems that the old logo is still in use in some places. I would suggest holding off on updating this for a bit and see how they use it first.

[2020-05-18 12:39] ericcornelissen commented on #2926
To err on the safe side I would just leave the logo as is.

[2020-05-18 12:42] ericcornelissen commented on #3070
Unless it is explicitly stated somewhere that we shouldn't use it, I think we should go ahead and use this logo for Slideshare as it is what most people will associate with it (apart from the LinkedIn+wordmap logo, which I don't think we should add)

[2020-05-18 12:49] #3086 closed

[2020-05-18 13:08] ericcornelissen commented on #3090
Thanks for the request @thrash4life, would you be interested in trying to add the logo yourself? If so, you can read more about how to do that in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) 🙂

[2020-05-18 13:10] ericcornelissen commented on #3091
Alexa rank is [~13k](https://www.alexa.com/siteinfo/arlo.com). I would expect just the bird for the logo, as seen in their favicon. Would you agree @arenasa70? Unfortunately I wasn't able to find a vector version of the logo quickly.

[2020-05-18 13:16] PeterShaggyNoble commented on #3087
Yeah, we should hold off on this one until they update the branding on [their website](https://www.mojang.com/) at least. Thanks for bringing it to our attention, though, @EinsEli :+1:

I'll take care of the renaming for v4 in #2942 later on.

[2020-05-18 13:19] PeterShaggyNoble commented on #3090
Official resources can be found [here](https://partnermarketinghub.withgoogle.com/#/brands/1VtnKQIgeBDCi3PZSLvMbnbTH8aaVqrVk/1Ne0f9o4P6yM2rhF6fPhQgeNZFJJIvCU3-pPTDNJfZA8).

[2020-05-18 13:26] PeterShaggyNoble commented on #3091
The [white logo](https://www.arlo.com/images/arlop/logo-white.svg) used in their menu is an SVG, but there may still be a better source; I haven't had a proper look yet either.

[2020-05-18 15:38] #2922 closed

[2020-05-18 21:39] richaell opened #3092 "Picpay Icon"
**Name:** Picpay
**Website:** https://www.picpay.com/site/sobre-nos
**Official resources for icon and color:** https://www.picpay.com/static/images/new/sobrenos/presskit/icone.zip

[2020-05-19 04:09] arenasa70 commented on #3091
Sure, I think the bird is the core of the logo.  I have a SVG image I made myself once. Attached
[arlo.zip](https://github.com/simple-icons/simple-icons/files/4648154/arlo.zip)

[2020-05-19 05:17] thrash4life commented on #3090
I @ericcornelissen and @PeterShaggyNoble, thanks for the invite and resources to contribute! I'll give it a shot. :-)

[2020-05-19 06:45] ericcornelissen commented on #3091
Okay, would you be interested in contributing the logo yourself @arenasa70? You can read more about that in the [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

Unless your SVG is based on an actual vector image you found somewhere, I would suggest using the [logo](https://www.arlo.com/images/arlop/logo-white.svg) linked by @PeterShaggyNoble as

[2020-05-19 07:28] davidjb commented on #3081
@PeterShaggyNoble See what you think of the PR #3093

[2020-05-19 08:45] PeterShaggyNoble commented on #3084
I'd suggest the blue from their logo for the colour - would you agree, @volpmatt?

Would you like to take this on yourself? If so, you can find our contributing guidelines [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-05-19 08:52] PeterShaggyNoble commented on #3087
It would have helped if I'd actually read [the latest article](https://www.mojang.com/2016/12/shouldnt-you-be-on-minecraftnet-right-now/) on that site! :man\_facepalming: So, maybe not the best resource for us to wait for them to rebrand; we'll need to keep an eye on their [Twitch](https://www.twitch.tv/mojang) & [Twitter](https://twitter.com/mojang) accounts, instead, see if anything happens ther

[2020-05-19 08:58] PeterShaggyNoble commented on #3087
Nope, scratch that, _too_! They've already updated the logo in the footer of minecraft.net to [this stacked version](https://www.minecraft.net/content/dam/franchise/logos/Mojang-Studios-Logo-Redbox.png) so I think we can go ahead and update now, if someone can source a vector copy of it.

[2020-05-19 09:29] PeterShaggyNoble commented on #3092
Thanks for the request, @richaell. If you'd like to take this on yourself, our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

**Alexa rank:** [~31.3k](https://www.alexa.com/siteinfo/picpay.com)

[2020-05-19 12:27] EinsEli commented on #3087
I quickly put this together [mojang_studios_logo_stacked.zip](https://github.com/simple-icons/simple-icons/files/4650376/mojang_studios_logo_stacked.zip)
Please let me know what you think / what could be improved :)

[2020-05-19 17:56] ericcornelissen commented on #3087
Hmm, that brings up the question of whether or not it should be in the rounded square. Based purely on the image linked by @PeterShaggyNoble I would say yes. But, the text could take up a larger part of the 24x24 viewbox increasing readability :thinking: Any opinions in this regard?

[2020-05-19 23:12] arenasa70 commented on #3091
Sure.  The logo I attached was made around 2 years ago... maybe it has changed over time.  Ill check the guidelines and see if I can do it

[2020-05-19 23:56] arenasa70 commented on #3091
[arlo.zip](https://github.com/simple-icons/simple-icons/files/4653864/arlo.zip)
This is the icon following the guidelines.  But to add it it's beyond my experience at this moment,

[2020-05-19 23:59] arenasa70 commented on #3091
This is the icon following the guidelines. But to add it it's beyond my experience at this moment,
[arlo.zip](https://github.com/simple-icons/simple-icons/files/4653871/arlo.zip)

[2020-05-20 00:55] davidjb commented on #3070
In that case, want me to vectorise the logo?  I got fairly close for the app I'm using it for the other day, so just some tidying up required

[2020-05-20 05:24] zolotokrylin opened #3095 "Request: Holdex Icon"
**Name:**  Holdex
**Website:** https://holdex.io
**Official resources for icon and color:** https://drive.google.com/drive/folders/1z4WWLJirmC-KIyTT17UHHg4dIRAPpAfT

[2020-05-20 08:55] PeterShaggyNoble commented on #3095
Thanks for the request, @zolotokrylin.

However the Alexa rank of this site is [~2.4m](https://www.alexa.com/siteinfo/holdex.io) and falling which would put it beyond the scope of this project as we have a cut-off of 500k for Alexa rankings. Is there another metric of popularity we can use to assess whether or not it is suitable for inclusion?

[2020-05-20 09:58] PeterShaggyNoble commented on #3091
Here's a quick step-by-step, if you want to give it a stab:

1.  Fork this repository
2.  Create a new branch for your icon from the default `develop` branch
3.  Add your SVG to the `icons` directory
4.  Add a JSON entry to `_data/simple-icons.json`
5.  Create a pull request

You can find more details in [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRI

[2020-05-20 11:06] PeterShaggyNoble commented on #3087
Personally, I'm always in favour of omitting background shapes like that, whenever possible.

[2020-05-20 14:36] PeterShaggyNoble commented on #2832
Still haven't come across a vector version of their logo so I've emailed their press contact to see if they can supply us with one.

[2020-05-20 15:42] msoyka opened #3097 "Add React Testing Library Icon"
**Name:** React Testing Library
**Website:** https://testing-library.com/
**Official resources for icon and color:**

Do not have the official ones, but this is the founder of the library. https://kentcdodds.com/

[2020-05-20 15:50] PeterShaggyNoble commented on #3097
Thanks for the request, @msoyka. I had a quick look through their website and [GitHub repos](https://github.com/testing-library) but couldn't find a vector version of their logo so I'm going to ping @kentcdodds to see if he can help us out here.

**Alexa rank:** [~129k](https://drive.google.com/file/d/1NRiCuZZjTtcwzwdCz-QXm1h4bIxXWSSi/view?usp=sharing)

[2020-05-20 16:14] kentcdodds commented on #3097
I've got PDFs (for our stickers):

- https://testing-library.com/img/stickers/angular-testing-library.pdf
- https://testing-library.com/img/stickers/cypress-testing-library.pdf
- https://testing-library.com/img/stickers/jest-dom.pdf
- https://testing-library.com/img/stickers/jest-native.pdf
- https://testing-library.com/img/stickers/native-testing-library.pdf
- https://testing-library.com/img/stic

[2020-05-20 19:38] kentcdodds commented on #3097
Here's a zip of all of those as SVGs :)

[testing-stickers.zip](https://github.com/simple-icons/simple-icons/files/4658944/testing-stickers.zip)

[2020-05-21 09:21] VitruvianVice opened #3099 "Wagtail Logo"
**Name:** Wagtail
**Website:** https://wagtail.io/
**Official resources for icon and color:**
I have none, could only find an svg [here](https://iconify.design/icon-sets/logos/wagtail.html), this is under CC0 license though, so may not be helpful, i don't know much about this stuff:

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="fa

[2020-05-21 09:41] PeterShaggyNoble commented on #3097
Thanks for taking the time to reply and provide us with those, @kentcdodds :+1:

However, it's your octopus logo that we'd be looking to add here; would you have a vector version of that?

![](https://testing-library.com/img/logo-large.png)

[2020-05-21 09:45] PeterShaggyNoble commented on #3099
Thanks for the request, @VitruvianVice.

The [logo in their webiste's header](https://wagtail.io/static/img/wagtail.dbf60545a188.svg) is an SVG so we can use that. And I'd suggest we go with the `#251657` for the colour. Would you like to take this one on yourself? If so, you can find our contributing guidelines [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

**

[2020-05-21 13:23] kentcdodds commented on #3097
That should definitely be in there. That's the icon for DOM Testing Library. React Testing Library is the goat, Vue Testing Library is the gecko, etc... The file name is the library the icon represents and they're each shown in the repositories as well: https://github.com/testing-library

[2020-05-22 08:06] zolotokrylin commented on #3095
Thanks for reverting, @PeterShaggyNoble.
Maybe [our own feed](https://holdex.io/home) can showcase the popularity of our platform?

[2020-05-22 14:31] ericcornelissen commented on #3095
Thanks for getting back to us @zolotokrylin, based on that I don't think we can consider Holdex "popular" (I'm not seeing a ton of activity, ~100 interactions at most) by our standards right now.

If Holdex gains popularity in the future, with a suitable Alexa ranking or other popularity metric, be sure to let us know here.

[2020-05-22 14:31] #3095 closed

[2020-05-22 15:54] #3043 closed

[2020-05-22 17:58] valom2 opened #3100 "star-christmas"
**Name:**
**Website:**
**Official resources for icon and color:**

[2020-05-22 20:32] ericcornelissen commented on #3100
Could you provide some more details on the brand you would like to see added to the simple-icons collection @valom2? I'm not able to find any brand named "star-christmas", q website or something similar would be very helpful

[2020-05-23 10:16] #2799 closed

[2020-05-23 10:43] NovaGL commented on #2974
Here you go. Can this be added in?

[TuneIn SVG Logo](https://github.com/NovaGL/icons/blob/master/TuneIn.svg)

[2020-05-23 10:49] NovaGL opened #3101 "Stitcher"
**Name:** Sticher
**Official resources for icon and color:** https://www.stitcher.com/

Colours can be found through the whole site.

Here is the SVG logo
[Stitcher SVG Logo](https://github.com/NovaGL/icons/blob/master/Stitcher.svg)

[2020-05-23 10:53] NovaGL opened #3102 "iHeartRadio"
**Name:** iHeart Radio
**Website:**
**Official resources for icon and color:** https://brand.iheart.com/

I've already uploaded a SVG without text here which I think is good

[iHeartRadio SVG ](https://github.com/NovaGL/icons/blob/master/iHeartRadio.svg)

[2020-05-23 11:09] #3028 closed

[2020-05-23 11:18] #2925 closed

[2020-05-23 11:25] #3002 closed

[2020-05-23 11:38] #2999 closed

[2020-05-23 12:07] valom2 commented on #3100
Hi @ericcornelissen ! My query's  already on the collection. Maybe, I got it wrong, sorry for that!  Thanks for your help.

[2020-05-23 12:07] #3100 closed

[2020-05-23 15:18] ericcornelissen commented on #3102
Thanks for the request @NovaGL, incidentally @thrash4life already has an SVG ready for this and will (I think) open a Pull Request for it shortly :slightly_smiling_face:

[2020-05-23 15:28] ericcornelissen commented on #2974
@NovaGL I would encourage you to read through our [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and open a Pull Request yourself!

Are you interested in that? If so I will assign this issue to you :slightly_smiling_face:

[2020-05-23 15:38] #3070 closed

[2020-05-23 16:52] julianrinaldi opened #3104 "Maytag Icon"
Maytag
http://maytag.com
https://www.whirlpooldigitalassets.com/content/wdl/en/assets/easy-logos.html

[2020-05-24 08:16] NovaGL commented on #2974
@ericcornelissen I'll see what I can do. In the meantime that SVG should match what's required. Let me know. I can do the same for the Stitcher icon and maybe you can create a pull request for both at the same time?

[2020-05-24 10:05] #3090 closed

[2020-05-24 10:09] ericcornelissen commented on #3104
Thank for the request @julianrinaldi. Am I correct that whirlpool is the parent company of Maytag? If so, the URL you provided as a source for the vector is nice, it contains vector versions of the logo.

That said, I'm not sure which version of the logo we should use as monochrome version, and how it can be made monochrome. Any opinions on that?

[2020-05-24 10:30] NovaGL commented on #3102
Thanks for the update. I have updated my SVG to match the format anyway.

I have made several icons in the correct format, so if you like them all that needs to be done is the json part.

[SVG Icons](https://github.com/NovaGL/icons)

[2020-05-24 11:55] julianrinaldi commented on #3104
Yes, it seems that Whirlpool is the parent company. I just tried and I'm unable to get the vector files to download for some reason. We could just do the wordmark I guess. Specifically this:

https://www.whirlpooldigitalassets.com/content/dam/business-unit/global-assets/images/wdl-logos/maytag/maytag-logo-10.png

[2020-05-26 08:08] PeterShaggyNoble commented on #3097
Sorry, @kentcdodds, I'd just clicked through a few of the files at random and completely missed those two. Oops!

[2020-05-26 10:58] PeterShaggyNoble commented on #3101
Thanks for bringing this to our attention, @NovaGL. Would you like to take it on yourself? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-05-26 11:02] NovaGL commented on #3101
@PeterShaggyNoble will give it a go. Do I have to only do one icon per pull release?

[2020-05-26 11:05] PeterShaggyNoble commented on #3100
_Really_ intrigued, now, to know which icon it was that you were looking for, @valom2! 😄

[2020-05-26 11:10] PeterShaggyNoble commented on #3101
Yes, if you can stick to one icon per pull request, please, it helps us to review it quicker.

I've just spotted, though, that the source URL is your own repo; where did you source the original version from?

[2020-05-26 11:11] PeterShaggyNoble commented on #2974
@NovaGL where did you source that SVG from?

[2020-05-26 11:13] NovaGL commented on #3101
I'll see if I can find the original I'm not sure as the website doesn't have much branding guidelines

[2020-05-26 11:15] NovaGL commented on #2974
@PeterShaggyNoble I modified the SVG on their site and shrunk it to be just T and I

[2020-05-26 11:25] PeterShaggyNoble commented on #3104
I'd agree that, as there is no monochrome version of the _full_ logo available, while there is for all their other logos, we should go with just the wordmark. Here's a direct link to an EPS, @julianrinaldi, which includes the blue colour I'd suggest we use: https://www.whirlpooldigitalassets.com/content/dam/business-unit/global-assets/images/wdl-logos/maytag/wordmark-blue/2016_Maytag_Wordmark_PMS2

[2020-05-26 11:52] PeterShaggyNoble commented on #3101
If you manually vectorised it from, say, their favicon or app icon, that's fine; we'll just need to know for our review of your PR.

[2020-05-26 11:58] support27 opened #3108 "thumbtack"
**Name: thumbtack**
**Website: https://www.thumbtack.com/press/media-resources/**
**Official resources for icon and color:**

[2020-05-26 12:01] support27 opened #3109 "HomeAdvisor"
**Name:** HomeAdvisor
**Website:** https://homeadvisor.com
**Official resources for icon and color:** https://www.abouthomeadvisor.com/media-room/press-resources/

[2020-05-26 12:21] ericcornelissen commented on #3102
In the event that #3106 does not get merged, I'm going to keep this open for a bit just so we don't forget about it 🙂

[2020-05-26 12:24] NovaGL commented on #3102
No problem. I thought the reverse haha. Why would it not be merged?

[2020-05-26 12:40] PeterShaggyNoble commented on #3108
Thanks for the request, @support27 :+1:

Unfortunately, the icon they make available on that press page is a PNG. There is however, an SVG of the logo embedded in the HTML of the website header, although it doesn't include the circle,  and [this SVG mask icon](https://static.thumbtackstatic.com/fe-assets/components/global-head/logomark/black/transparent/vector.image.4eeaa55031ce8be5ff3a467f2f61c2d

[2020-05-26 12:44] PeterShaggyNoble commented on #3109
Thanks, @support27 Would you like to take this one on yourself? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

**Alexa rank:** [~5.6k](https://www.alexa.com/siteinfo/homeadvisor.com)

[2020-05-26 14:09] ericcornelissen commented on #3102
Well, in this case changes have been requested for the PR. Occasionally the original contributor doesn't follow up and fix the changes in which case we usually close the Pull Request and mark it as `abandoned`. Then someone else can take a shot at adding the icon.

[2020-05-26 14:20] thrash4life commented on #3102
Hi @ericcornelissen and @NovaGL - I'm still in the game to get the appropriate changes in. I should be able to get this done / resubmitted before 5/27.

[2020-05-26 14:29] PeterShaggyNoble commented on #3097
Here's one possible treatment. I've removed the suckers to match the smaller octopus as seen [here](https://testing-library.com/img/logo-large.png). For the colour, I've gone with the lightest red from the gradient.

The other option would be to outline the underside of the tentacles instead. I tried to mock up a version of that but, as usual, Inkscape sucks at converting `stroke`s to `path`s so t

[2020-05-26 14:40] PeterShaggyNoble commented on #3097
Another couple of possibilities, this time making use of the suckers:

![](https://user-images.githubusercontent.com/15157491/82913671-80867f00-9f66-11ea-8b27-713ef75f8994.png)![](https://user-images.githubusercontent.com/15157491/82914232-276b1b00-9f67-11ea-9730-19a8e8054c46.png)

[2020-05-26 14:58] #2987 closed

[2020-05-26 15:41] kentcdodds commented on #3097
I prefer no suckers

[2020-05-26 16:30] PeterShaggyNoble commented on #3102
Eric wasn't suggesting that you _would_ abandon it, @thrash4life, just pointing out that PRs do, sometimes, get abandoned. 😉

[2020-05-26 16:40] thrash4life commented on #3102
No worries @PeterShaggyNoble 🙂 - thanks for the clarification. I just wanted to chime in that I'm committed to getting the PR done right and in a timely fashion 👍

[2020-05-26 20:16] ericcornelissen commented on #1540
Hi @muj-programmer, just wanted to ask if you would like to add your project to [the list of third-party extensions in our README](https://github.com/simple-icons/simple-icons#third-party-extensions)?

Other than that, I think this issue can be closed (just to keep our list of open issues slightly more manageable)

[2020-05-27 01:20] NovaGL commented on #3101
Would you prefer this logo instead?

[Stitcher wording](https://en.logodownload.org/stitcher-logo/)

[2020-05-27 08:58] ericcornelissen commented on #3101
I'd say the logo without the word "stitcher" is the way to go. As you pointed out they use it themselves as well. I didn't find anything explicitly saying we should include the word either.

[2020-05-27 09:01] ericcornelissen commented on #3097
I agree with no suckers as they only clutter the logo at our normal size. I wonder what _"The other option would be to outline the underside of the tentacles instead."_ would look like though :thinking:

[2020-05-27 13:11] chumaumenze opened #3117 "Gridsome"
**Name:** Gridsome
**Website:** https://gridsome.org
**Official resources for icon and color:** https://gridsome.org/logo

[2020-05-27 13:59] ericcornelissen commented on #3117
Thanks for the request @chumaumenze, looks like there are vector version of the logo ready to be used. I'd say the logo can be made monochrome by simple using the "G" as a single shape, not sure if the circle should be included :thinking: What do you think?

Would you be interested in contributing this icon? You can read more about that in the [Contributing Guidelines](https://github.com/simple-ic

[2020-05-27 14:41] PeterShaggyNoble commented on #3097
Here's a _very_ rough mockup, @ericcornelissen, which is somewhat butchered by Inkscape (and, partly, my lack of skill!):

![](https://user-images.githubusercontent.com/15157491/83034732-7b8e0200-a030-11ea-88ca-ed7580cb22d2.png)

[2020-05-27 15:05] kentcdodds commented on #3097
I like it if we can make it smooth :)

[2020-05-27 15:09] PeterShaggyNoble commented on #3117
I'd say omit the background shape; there are both square and circle versions at the source URL so it would seem that its not integral to the icon.

[2020-05-27 15:14] #3075 closed

[2020-05-27 16:34] PeterShaggyNoble opened #3120 "Review of icons with outlying precision levels"
Following on from a discussion in #3107, I propose we review all icons with a precision higher than 5 or lower than 2 and update them if required. The 38 icons I have found are as follows, with the maximum number of decimal places in parentheses:

- [x] Jupyter (17) - #3170
- [ ] Highly (15)
- [ ] Audio-Technica (8)
- [ ] GitKraken (8)
- [ ] Ruby on Rails (8)
- [ ] TUI (8)
- [ ] Arch Linux (6)
- [

[2020-05-27 17:16] muj-programmer commented on #1540
Yes definitely I like to add my project to the README.

[2020-05-27 17:22] ericcornelissen commented on #3097
Thanks!

I would agree, I think it captures the logo a bit better and doesn't affect the clarity at smaller sizes to much, at least in my opinion.

[2020-05-27 17:58] chumaumenze commented on #3117
I do not think the background circle is necessary either.

[2020-05-27 19:00] chumaumenze commented on #3117
@ericcornelissen I opened a PR for this.

[2020-05-27 20:37] ericcornelissen commented on #1540
Alright, looking forward to your pull request :+1:

[2020-05-27 23:48] Dav-Git opened #3122 "Icon request: KVV"
**Name:**KVV
**Website:**kvv.de
**Official resources for icon and color:** Didn't find one.

This icon is very similar to other icons that could be added as well:
**Name:**AVG
**Website:**avg.info

**Name:**VBK
**Website:**vbk.info

[2020-05-28 00:41] erianvc opened #3123 "Go Icon"
**Name:** Go (to avoid ambiguities they use Golang)
**Website:** https://golang.org/
**Official resources for icon and color:** https://golang.org/lib/godoc/images/go-logo-blue.svg

[2020-05-28 00:47] #3123 closed

[2020-05-28 04:46] NovaGL opened #3124 "Google Play Music"
I just wanted to know if it's approriate to add Google Play Music. I know Youtube Music is set to replace it, but I still think it could be useful.

I might need some help to fix the bottom of the icon though

![simpleicons(1)](https://user-images.githubusercontent.com/16315601/83099919-f5d28b00-a0f1-11ea-835c-2e0240f162d1.png)

[2020-05-28 06:16] SunshineSteven opened #3125 "icon-cup"
**Name:**
**Website:**
**Official resources for icon and color:**

[2020-05-28 07:40] ericcornelissen commented on #3125
- Hi @SunshineSteven, coul you provide some more information about the brand you want to request, such as a link to the website or an example of the logo?

You can do so either by editing the original post or by commenting in this thread.

[2020-05-28 07:51] ericcornelissen commented on #3124
I would be okay with adding the Google Play Music icon to the collection :+1: I didn't know that YouTube music is set to replace it?

[2020-05-28 07:54] NovaGL commented on #3124
Great. Is my image ok? If so I'll create a pull request.

https://www.pcmag.com/news/youtube-music-preparing-to-replace-google-play-music

[2020-05-28 09:53] dstrants opened #3127 "ClickUp Icon"
**Name:** ClickUp
**Website:** [clickup.com](https://clickup.com/)
**Official resources for icon and color:** [Official Brand Assets](https://clickup.com/brand)

[2020-05-28 11:37] PeterShaggyNoble commented on #3122
Thanks for the requests, @Dav-Git. Going through them one at a time:

## KVV
The Alexa rank for this is [~607k](https://www.alexa.com/siteinfo/kvv.de), which is below out threshold of 500k. However, another metric we've been using lately to determine the popularity of public transport services is their annual ridership.

According to [Wikipedia](https://de.wikipedia.org/wiki/Karlsruher_Verkehrsver

[2020-05-28 11:43] PeterShaggyNoble commented on #3125
I'm _guessing_ this is a request for a generic cup icon rather than a brand, in which case it would be outside the scope of this project. If I'm wrong, please feel free to reopen this with the details requested by Eric.

For generic icons, I highly recommend [Material Design Icons](https://materialdesignicons.com/).

[2020-05-28 11:43] #3125 closed

[2020-05-28 11:45] Dav-Git commented on #3122
Thank you for taking a look at this.

Yes, the AVG and VBK May be a little out of scope which is why I didn't submit them seperately.

The way this company is organized is a little problematic here. While KVV ist the parent company of the other two, the AVG is the one with the most extensive service area. If it doesn't meet your requirements, so be it :) But I appreciate the work on your guy's end

[2020-05-28 11:59] PeterShaggyNoble commented on #3127
Thanks for the request, @dstrants. If you'd like to take this one on yourself, you can find our contributing guidelines [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

**Alexa rank:** [~9.7k](https://www.alexa.com/siteinfo/clickup.com)

[2020-05-28 12:24] dstrants commented on #3127
Hello @PeterShaggyNoble, sure I can take that.

Just to make sure I go by the book, the company (clickup) offers the svg inside their branding package.  Is it ok to use it as it is, there or do you think I should take care of the compression etc, anyway?

[2020-05-28 13:09] PeterShaggyNoble commented on #3127
That's all [covered in our guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#2-extract-the-icon-from-the-logo), @dstrants.

[2020-05-28 15:05] #3102 closed

[2020-05-28 15:57] PeterShaggyNoble commented on #3097
It's gonna need someone with better software to take it on, so.

[2020-05-28 16:09] ericcornelissen commented on #3122
I think we could consider including KVV as it is the parent company of the other too, but as @PeterShaggyNoble pointed out even then it isn't clear if we can consider it to be popular enough. @runxel, what is your view on this?

[2020-05-28 16:26] daalbano opened #3130 "Microsoft Azure Data Explorer icon"
**Name:** Azure Data Explorer
**Website:** https://azure.microsoft.com/en-us/services/data-explorer/
**Official resources for icon and color:** https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/usage/general.aspx

Current logo icon
https://twitter.com/AzDataExplorer/photo
https://connectoricons-prod.azureedge.net/kusto/icon_1.0.1152.1466.png
https://marketplace.visualstudio.com

[2020-05-28 16:37] PeterShaggyNoble commented on #3130
Thanks for the request, @daalbano

Looks like there are 2 options available here: the filled version as seen in the links you provided and an outlined version below, which is available in [Fabric Icons](https://uifabricicons.azurewebsites.net/). I think we should go with the filled version, though - just need to find a vector version of it.

![image](https://user-images.githubusercontent.com/15157

[2020-05-28 16:42] PeterShaggyNoble commented on #3130
Here's the markup for the full colour version, found on [this page](https://azure.microsoft.com/en-au/pricing/details/data-explorer/):

[code]

[2020-05-28 21:53] runxel commented on #3122
Hm, the Alexa ranks are indeed not the best metric for those services.
However it would be easier for us to think about some general inital metrics in terms of annual ridership, especially since we had more of those PTS recently. I propose I more or less hard cut-off at 150 million people, which would let us include the KVV (in comparison: Berlin had an annual ridership of 550 million in 2017).
Bu

[2020-05-29 08:28] vigonotion opened #3131 "Wrong line endings in icons/razer.svg"
It seems like the icon "razer" has wrong line endings, which stops me from doing anything: I can't switch branches anymore or do anything without first commiting the (non existing) changes to razer.svg.
I also tried stashing, ignoring and resetting, but nothing helped.

Also see:
https://github.com/simple-icons/simple-icons/pull/3128

[2020-05-29 10:49] ericcornelissen commented on #3131
I'm currently investigating this, it'll probably be fine for us to just push a fix for the "razer" icon on the `develop` branch but I don't want to cause any trouble for another group of people.

Could you clone [my fork of the project](https://github.com/ericcornelissen/simple-icons) and let me know if you still have a problem with "razer" @vigonotion @dstrants?

[2020-05-29 10:52] vigonotion commented on #3131
Seems to work for me, I don't have the razer.svg in my list of changes anymore and switching branches also works fine again

[2020-05-29 10:52] dstrants commented on #3131
Hello, @ericcornelissen I've just cloned the given fork and the `razer.svg` issue seems to be resolved there

[2020-05-29 11:04] ericcornelissen commented on #3131
In that case this should be fixed with 6f5667a15ea724493e24f68ec1f1bba969c9443c. Hopefully it doesn't introduce any issues for other contributors :crossed_fingers:

[2020-05-29 11:04] #3131 closed

[2020-05-29 11:11] #3127 closed

[2020-05-29 12:01] #1540 closed

[2020-05-29 13:51] LALIT-SEKHAR opened #3135 "shear"
**Name:**
**Website:**
**Official resources for icon and color:**

[2020-05-29 15:07] PeterShaggyNoble commented on #3135
Thanks for the request, @LALIT-SEKHAR but can you please complete the issue template with the required details? A quick search doesn't yield and brands named "shear".

[2020-05-29 16:11] PeterShaggyNoble commented on #3122
I'd be happy enough to add KVV as the parent company on your say-so, @runxel; same as we did recently with JR Group.

The more I think about it, I don't think annual ridership _alone_ is an entirely accurate metric - I think need to mearure relative to population of the area served. The annual ridership of the [DART](https://en.wikipedia.org/wiki/Dublin_Area_Rapid_Transit) here in Dublin, for exam

[2020-05-29 17:19] PeterShaggyNoble commented on #3130
I took a run through the SVGs in [their GitHub org](https://github.com/Azure), couldn't find a monochrome SVG so it looks like we'll have to recreate it if we're to go with the filled version. I'll give it a stab tomorrow, if I've time.

[2020-05-30 06:54] NovaGL commented on #2989
@PeterShaggyNoble This site seems to suggest that the stacked version is ok to use

http://marcuspape.com/project/prime-video-brand-system/

[2020-05-30 11:22] runxel commented on #3122
You got a more than valid argument there. Makes sense, @PeterShaggyNoble!

I'd be in favor of adding the KVV.
@Dav-Git do you want to give it shot and [contribute](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) it yourself? :)

[2020-05-30 11:42] Dav-Git commented on #3122
If this was a coding project I would. But I don't have any know how in photo editing let alone vector graphics so I'll leave this to you guys :)

[2020-05-30 13:04] #3081 closed

[2020-05-31 03:31] centouno opened #3141 "starlink and starling icons"
SpaceX Starlink
https://www.starlink.com/
Could not locate a press/media kit but there is a good quality svg on their wikipedia page
https://en.wikipedia.org/wiki/Starlink

Starling Bank
https://www.starlingbank.com/
https://media.starlingbank.com/starlingbank-media-pack.zip

[2020-05-31 11:02] arisuchr opened #3142 "Request: Shikimori Icon"
**Name:** Shikimori
**Website:** https://shikimori.one/
**Official resources for icon and color:**

- [Glyph](https://shikimori.one/assets/layouts/l-top_menu-v2/glyph.svg)
- [Logo](https://shikimori.one/assets/layouts/l-top_menu-v2/logo.svg)

[2020-05-31 18:20] Berkmann18 opened #3143 "Quasar"
**Name: Quasar
**Website: https://quasar.dev/
**Official resources for icon and color:**
https://github.com/quasarframework/quasar-art

[2020-05-31 19:59] Berkmann18 opened #3145 "PhotoFiltre Studio X"
**Name: photofiltre-studio-x
**Website:** http://www.photofiltre-studio.com
**Official resources for icon and color:**

https://external-content.duckduckgo.com/ip3/www.photofiltre-studio.com.ico

[2020-06-01 03:00] jasp402 opened #3147 "New icon "Ant.Desing""
**Name: Ant.Desing**
**Website: https://ant.design/**
**Official resources for icon and color: https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg**

![image](https://user-images.githubusercontent.com/8978470/83371969-9b535c00-a389-11ea-994e-5b24ee750d21.png)

[2020-06-01 05:32] ericcornelissen commented on #3142
Are you interested in adding the icon to the collection yourself @arisuchr? If so, please have a look at our [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) :slightly_smiling_face:

[2020-06-01 05:38] ericcornelissen commented on #3141
Thanks for the requests @centouno. If you're interested in contributing any of these logo's ourself please have a look at our [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md). But first, have a look at my question below :smile:

Regarding _SpaceX Starlink_: it seems the logo is essentially the same as [the logo of SpaceX](https://simpleicons.org/

[2020-06-01 05:41] ericcornelissen commented on #3147
Thanks for the request @jasp402, seems the SVG you linked is used in the website header, correct? If you're interested in adding this icon to the collection please have a look at our [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) :slightly_frowning_face:

[2020-06-01 05:42] ericcornelissen commented on #3145
Thanks for the requests @Berkmann18 , not sure how that logo can be made monochrome so it can be added to the collection, any ideas? :thinking:

[2020-06-01 07:40] gizmecano opened #3148 "Request: Canonical"
**Name:** Canonical

**Website:** [Canonical](https://canonical.com/)

**Alexa rank**: circa [150'000](https://www.alexa.com/siteinfo/canonical.com)

 **Official resources for icon and color:**

1. full brand guidelines is presented on the [Canonical logo](https://design.ubuntu.com/brand/canonical-logo/)
2. according to the [official color palette](https://design.ubuntu.com/brand/colour-palette/),

[2020-06-01 07:50] gizmecano opened #3149 "Request: Bazaar"
**Name:** Bazaar

**Website:** [Bazaar](https://bazaar.canonical.com/en/)

**Alexa rank**: circa [150'000](https://www.alexa.com/siteinfo/canonical.com) (note that this rank is for [Canonical](https://canonical.com/) main website as Alexa doesn't seem to consider subddomain)

**Official resources for icon and color:**

1. logotype is available in [`SVG`](http://wiki.bazaar.canonical.com/LogoOption

[2020-06-01 09:39] ericcornelissen commented on #3148
Thanks for the detailed request @gizmecano :smile: I'd suggest using the Canonical Circle as the logo to add to this project, and judging from [the SVGs in the Downloads section](https://design.ubuntu.com/downloads/) I would expect the color to be `#77216F`.

Are you interested in contributing this icon @gizmecano? If yes, you can read more about that in our [Contributing Guidelines](https://githu

[2020-06-01 09:45] ericcornelissen commented on #3149
You are right that the Alexa ranking doesn't help in this case as it's just the popularity of the Canonical website :disappointed: I wish there was some other popularity metric that we could employ here...

 Unfortunately, judging from the website and [Wikipedia page](https://en.wikipedia.org/wiki/GNU_Bazaar) the project hasn't been updated since 2015 and is still written in Python 2 (which is no

[2020-06-01 11:16] PeterShaggyNoble commented on #3147
There's a monochrome version of the logo available in [their own icon library](https://ant.design/components/icon/) and I'd suggest a blue for the colour. Maybe `#0170fe` from their website's stylesheet?

**Alexa rank:** [~3.7k](https://www.alexa.com/siteinfo/ant.design)

[2020-06-01 11:55] gizmecano commented on #3148
Completely agree, this is also what seems to me the most appropriate.

I cannot promise anything at this time, but I will look into the process that you have in place in order to see if I could contribute more actively.

***

Otherwise, it's nice to have added the label "Good first issue", but having already requested an icon previously (cf #2686), I'm not sure I can claim it a second time... 😉

[2020-06-01 11:55] gizmecano commented on #3149
I fully understand this point of view (I also expressed my own observations within my initial message).

Nevertheless, I think that adding such icons concerning abandoned (or about to be abandoned) brands or products can be interesting, or even useful in some cases: specific projects may want to refer to such tools (eg. to illustrate a history, a changelog, etc.). Adding such files could therefore

[2020-06-01 12:10] ericcornelissen commented on #3148
:+1:

That's totally fine. When you do decide to contribute, be sure to let us know here so we can assign you to the issue.

That label simply indicates that it should be fairly straightforward to contribute the icon (usually because there is a vector version of he logo available and it is obvious how to make it monochrome), nothing more.

[2020-06-01 12:14] Berkmann18 commented on #3145
That's a good point, I initially a made SVG versions of the original icons (for both PhotoFiltre Studio X and PhotoFiltre) but ended up making the monochrome versions:
- PhotoFiltre Studio X:
https://raw.githubusercontent.com/Berkmann18/Rsc/master/svg/pfsx-monochrome.svg
- PhotoFiltre:
https://raw.githubusercontent.com/Berkmann18/Rsc/master/svg/photofiltre-monochrome.svg

Here are the original ras

[2020-06-01 13:37] runxel commented on #3149
Hey @gizmecano!
Thank you for this request. While you're certainly right in that there might be demand for this type of icons (I wouldn't argue against that), it doesn't quite fit with what we aim for. It's true, our name is not _popular brands icons_, but as a description it's right there the first sentence in the readme 😅
To stay consistent, I would not include "Bazaar".
Have a great day!

[2020-06-02 10:22] PeterShaggyNoble commented on #3141
I'd agree that we should just use our existing SpaceX icon for Starlink as that's what they use themselves for their favicon.

[2020-06-02 10:53] PeterShaggyNoble commented on #3149
Hmm ... tricky one 🤔 I wouldn't be _too_ concerned that development seems to have stagnated on this and less so that it use Python 2 - I'm sure we're going to see plenty of existing systems still running on it for a while to come - if enough people are still using Bazaar to make it popular eough, it would be within our scope. So we'd need to find _some_ sort of usage stats or other indication of i

[2020-06-02 10:53] #3149 closed

[2020-06-02 13:21] PeterShaggyNoble commented on #3130
Based on the SVG found on [this page](https://azure.microsoft.com/en-au/pricing/details/data-explorer/), here's my attempt at the filled version, similar to what's seen in the [VS Marketplace](https://marketplace.visualstudio.com/items?itemName=Azure-Kusto.PublishToADX) icon but retaining the rounded corners.

![](https://user-images.githubusercontent.com/15157491/83524872-1e84c700-a4dc-11ea-9eaf-

[2020-06-02 14:04] #2948 closed

[2020-06-02 14:13] daalbano commented on #3130
Looks amazing! Thanks!

[2020-06-02 14:20] #2985 closed

[2020-06-02 14:23] PeterShaggyNoble commented on #3130
You're welcome, @daalbano. That's 2 votes for the filled version, so. Any of the other @simple-icons/maintainers have a preference?

[2020-06-02 14:37] PeterShaggyNoble commented on #477
Closing this out due to inactivity. If anyone would like to continue working on this then please feel free to open a new issue or PR.

[2020-06-02 14:37] #477 closed

[2020-06-02 14:46] PeterShaggyNoble commented on #1566
The rebrand is now complete and filemaker.com now redirects to claris.com From what I can see, FIlemaker has been renamed as "Claris Filmaker" and is now using their branding. As such, I'm going to close this issue out but, if someone finds evidence to the contrary, please let us know and we will revisit it.

[2020-06-02 14:46] #1566 closed

[2020-06-02 15:11] PeterShaggyNoble commented on #1974
Came up with this by running [this PNG](http://www.newgrounds.com/downloads/designassets/assets/ng_tank.png) through [Convertico](https://convertio.co/) - it's not terrible but it's not quite perfect, either. It might give someone with the necessary skills a good starting point that they can just clean up a bit.

[code]

![](https://user-images.githubusercontent.com/15157491/83536873-c05fe000-a4eb

[2020-06-02 15:14] PeterShaggyNoble commented on #2837
Closed by #2951

[2020-06-02 15:14] #2837 closed

[2020-06-02 15:19] PeterShaggyNoble commented on #2928
Are you still planning to take this one on, @frenchvandal?

[2020-06-02 15:19] PeterShaggyNoble commented on #2952
Are you still working on this one, @frenchvandal?

[2020-06-02 15:55] PeterShaggyNoble commented on #2963
Took another stab at this and it's definitely going to need someone with better skills to get the cut-out right and clean up all the excess points.

[2020-06-02 15:59] PeterShaggyNoble commented on #3046
Don't forget about this one, @Orchomenos 😉

[2020-06-02 16:12] PeterShaggyNoble commented on #3051
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can cownload it by clicking the image below.

[![Der Spiegel](https://user-images.githubusercontent.com/15157491/83543336-281a2900-a4f4-11ea-9fdb-53c8ee151026.png)](https://github.com/simple-icons/simple-icons/files/4718373/derspiegel.zip)

[2020-06-02 16:53] PeterShaggyNoble commented on #3057
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![Metro](https://user-images.githubusercontent.com/15157491/83547273-db395100-a4f9-11ea-8dec-3af3937db432.png)](https://github.com/simple-icons/simple-icons/files/4718582/metro.zip)

[2020-06-02 18:38] PeterShaggyNoble commented on #3051
I wonder would we get away with using the "S" on its own, as they do in their favicon and preloader?

[2020-06-02 19:56] runxel commented on #3130
Filled, for sure ^^

[2020-06-02 19:57] runxel commented on #1974
Okay wonderful, I will go for it! Thanks @PeterShaggyNoble

[2020-06-02 22:18] centouno commented on #3141
It's like steam and steamworks.
I understand they are identical but in use cases where you stick to icons
without text there is no way to differentiate between the 2.
The Problem is the websites using one will probably need the second as well.
I guess they can work around with different fill or background color but I
believe a starlink icon will get a lot of use.

~
*Nicolas W. Wolf*
Wolf Research

[2020-06-03 12:40] PeterShaggyNoble commented on #3130
OK, I have a PR queued up locally for this, which I'll submit later in the week. If you have need of it in the meantime, you can grab it
[here](https://github.com/simple-icons/simple-icons/files/4723328/azuredataexplorer.zip).

[2020-06-03 13:49] PeterShaggyNoble commented on #3059
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![Kakao](https://user-images.githubusercontent.com/15157491/83644523-4a21b300-a5a9-11ea-998b-ee6a7727cfb5.png)](https://github.com/simple-icons/simple-icons/files/4723736/kakao.zip)

[2020-06-03 14:04] PeterShaggyNoble commented on #3062
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![bunq](https://user-images.githubusercontent.com/15157491/83646383-79392400-a5ab-11ea-8930-48c98d9373e9.png)](https://github.com/simple-icons/simple-icons/files/4723839/bunq.zip)

[2020-06-03 14:14] PeterShaggyNoble commented on #3084
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![Ring](https://user-images.githubusercontent.com/15157491/83647444-cd90d380-a5ac-11ea-963d-7fda3d81bb82.png)](https://github.com/simple-icons/simple-icons/files/4723897/ring.zip)

[2020-06-03 14:14] PeterShaggyNoble commented on #3076
Don't forget about this one, @mondeja 😉

[2020-06-03 14:29] PeterShaggyNoble commented on #3091
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![Arlo](https://user-images.githubusercontent.com/15157491/83649288-ec906500-a5ae-11ea-9b77-43cd61e5efe5.png)](https://github.com/simple-icons/simple-icons/files/4724026/arlo.zip)

[2020-06-03 14:40] PeterShaggyNoble commented on #3092
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![PicPay](https://user-images.githubusercontent.com/15157491/83650636-77be2a80-a5b0-11ea-9b8c-8a69622d1ccc.png)](https://github.com/simple-icons/simple-icons/files/4724105/picpay.zip)

[2020-06-03 14:52] richaell commented on #3092
Thank you so much!!! You're amazing.

On Wed, Jun 3, 2020, 11:40 Peter Noble <notifications@github.com> wrote:

[2020-06-03 14:56] PeterShaggyNoble commented on #3099
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![image](https://user-images.githubusercontent.com/15157491/83652572-af2dd680-a5b2-11ea-9a32-a6d15e51e9c8.png)](https://github.com/simple-icons/simple-icons/files/4724204/wagtail.zip)

[2020-06-03 14:58] PeterShaggyNoble commented on #3104
Would you like to take this one on yourself, @julianrinaldi? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-06-03 15:19] PeterShaggyNoble commented on #3108
I have this queued up locally, ready to go and will get a PR in later in the week. If you have need of it in the meantime, you can download it by clicking the image below.

[![Thumbtack](https://user-images.githubusercontent.com/15157491/83655090-e2259980-a5b5-11ea-8bb6-52f3fdcc6248.png)](https://github.com/simple-icons/simple-icons/files/4724320/thumbtack.zip)

[2020-06-03 15:22] kevinosburn commented on #3059
Awesome, thanks!

On Wed, Jun 3, 2020, 10:49 PM Peter Noble <notifications@github.com> wrote:

[2020-06-03 15:40] gizmecano commented on #3148
Sorry, I should [have read](https://github.com/simple-icons/simple-icons/labels): _Issues we believe are simple and a good first stab at contributing to the project_

[2020-06-03 15:40] gizmecano commented on #3149
I fully understand that it was necessary to define a borderline, but the rank is only indicators of a supposed popularity. It isn't because I use Git frequently that I regularly visit the devoted website. Furthermore, metrics fluctuates over time: the oldest internet users know that a quarter of a century ago, the most popular search engine was [Alta Vista](https://en.wikipedia.org/wiki/AltaVista)

[2020-06-03 17:37] arisuchr commented on #3142
No. I'm not an admin of this site, @ericcornelissen.

[2020-06-03 18:02] ericcornelissen commented on #3142
You don't need to be an admin of the site to add the icon @arisuchr. If you're interested in having the logo in the simple icons collection you can contribute it yourself.

[2020-06-03 18:32] ericcornelissen commented on #3141
I don't see the parallel with "Steam" and "Steamworks", they have very different logos.

In the case that the logo's are identical, what's the problem with using the SpaceX logo to represent Starlink. Is it that the `<title>` says "SpaceX" instead of "SpaceX Starlink" (or maybe "Starlink")? This is a valid concern, but was it your original concern?

Regarding the fill/background color. The fill/ba

[2020-06-03 18:35] #2779 closed

[2020-06-03 19:37] mondeja commented on #3076
I keep it in mind yet but, after a couple of attempts, discovered that it's not easy because of the imperfections in layer paths. Maybe another try ends successfully... 😅

[2020-06-03 20:41] centouno commented on #3141
You are correct I confused steamworks with steam workshop that is the similar one.

I understand about the fill not being a part of simple icons I meant end users might use a different fill to represent SpaceX and Starlink in icon form to work around the similarity.

I can't think of a better argument than most places will need to use both so I guess this issue can be closed.

[2020-06-03 20:41] #3141 closed

[2020-06-04 09:38] cmm15830468240 opened #3160 "SocialGithubOctocat"
**Name:**
**Website:**
**Official resources for icon and color:**

[2020-06-04 10:15] ericcornelissen commented on #3160
Hi @cmm15830468240, could you provide some more details on the logo you would like to see being added? Filling out the issue template for us would help us out understanding your request.

Are you requesting [the Octocat from GitHub](https://github.com/logos)? If so, I'm sorry to inform you that this project aims to provide brand logos, and GitHub's logo is the ["Mark"](https://github.com/logos) so

[2020-06-04 11:02] NovaGL opened #3163 "Amazon Music"
So Amazon Music is very confusing branding wise, just read this site and try and workout what the name of the service is.

[Amazon Music sub-brands](https://www.amazon.com/gp/help/customer/display.html?nodeId=GW3PHAUCZM8L7W9L)

I'm happy with the below image but I don't know what branding link to use.

![amazonmusic](https://user-images.githubusercontent.com/16315601/83749106-87b83600-a6a6-11ea-99

[2020-06-04 11:25] PeterShaggyNoble commented on #3076
I was going to suggest something along the lines of the below (based on [this file](https://github.com/openlayers/openlayers.github.io/blob/build/assets/logo.svg)) but, after mocking it up, I wonder if it doesn't oversimplify it. Do we need to somehow try to represent the "shine" on the top layer?

![OpenLayers](https://user-images.githubusercontent.com/15157491/83751176-574ca980-a65e-11ea-820c-48

[2020-06-04 11:32] PeterShaggyNoble opened #3164 "Request: Starling Bank"
**Name:** Starling Bank
**Website:** https://www.starlingbank.com/
**Alexa Rank:** [~117k](https://www.alexa.com/siteinfo/starlingbank.com)
**Colour:** `#7433ff`
**Official resources for icon and color:** Media library available to download towards the end of https://www.starlingbank.com/media/.

(Re-)Opening this for tracking purposes, from #3141 on @centouno's behalf.

[2020-06-04 11:35] mondeja commented on #3076
Looks very good. :+1: I get disengaged and you provide the pull @PeterShaggyNoble?

I don't think so, this monochrome version seems reasonable.

[2020-06-04 11:39] PeterShaggyNoble commented on #3076
I've got 10 PRs queued up locally, @mondeja, plus a few more to come so I'm happy to let you take this one, unless you'd _prefer_ me to.

[2020-06-04 11:41] mondeja commented on #3076
OK, I will give a try based on your suggestion.

[2020-06-04 12:36] #2974 closed

[2020-06-04 13:02] #2989 closed

[2020-06-04 13:17] #2870 closed

[2020-06-04 14:39] PeterShaggyNoble opened #3167 "Request: vFairs"
**Name:** vFairs
**Website:** https://www.vfairs.com/
**Alexa Rank:** [~32.9k](https://www.alexa.com/siteinfo/vfairs.com)
**Suggested Colour:** `#ef4678`. Or, maybe, `#f96634`?
**Official resources for icon and color:** [Website logo](https://www.vfairs.com/wp-content/themes/vfairs/assets/img/logo.svg) is an SVG. Colours from stylesheet.

Have a client that will be in need of this one in a few wee

[2020-06-04 15:05] PeterShaggyNoble opened #3169 "The Great 2020 Icon Review"
As brought to light recently by @davidjb (mostly) and myself, we have quite a number of icons in our library with one or more imperfections from the following list:
- They do not fit the canvas
- Their level of precision may be too high
- They are not perfectly centred on the canvas

It's going to be a fairly hefty job getting _all_ these fixed so we'd like to appeal to the members of our communit

[2020-06-04 20:50] KTibow opened #3171 "Request: Virus Total icon"
**Name:** Virus Total
**Website:** https://virustotal.com
**Alexa Rank:** [#4,191](https://www.alexa.com/siteinfo/virustotal.com)
**Official resources for icon and color:**
- https://www.virustotal.com/gui/lit/vt-ui-omnibar/assets/vt_logo.svg
- https://www.google.com/search?q=virustotal&tbm=isch#imgrc=tV4EDm1eHpfDmM
- `#4b63fb`

[2020-06-05 00:03] runxel commented on #2887
Whuuaaaaat? 😵
Why didn't we know of this site earlier? .... 🙈

[2020-06-05 00:36] NovaGL commented on #3169
Maybe these icons could be grouped into sections, so someone could take one section. Rather than one Icon at a time. Eg Programing, Social, Gaming.

I can understand why that also might not be a good idea. But it seems this will be hard to track in it's current form.

[2020-06-05 01:17] NovaGL commented on #3163
Yeh. Do a Google image search for Amazon music and it has various different options. I chose that one because it's on the wiki page. Not that it means it's correct but it's the only documentation I could find.

[2020-06-05 06:28] ericcornelissen commented on #3169
If you list the ones you're planning to update in a comment here we can check them off in the original post. Grouping multiple icons into a single PR should not be a problem as the review _should_ be rather quick, since all one need to do is resize the icon.

[2020-06-05 10:35] PeterShaggyNoble commented on #3171
Thanks for the request, @KTibow. Would you like to take this one on yourself? If so, our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

The only thing is we'd need to figure out the choice of colour; other than the shade you've suggested, there's `#394eff` from [the logo](https://www.virustotal.com/gui/images/logo.svg) on th

[2020-06-05 10:40] support27 opened #3172 "chevrolet"
**Name: Roger**
**Website: support27**
**Official resources for icon and color:**

https://www.chevrolet.com/

[2020-06-05 10:41] support27 opened #3173 "infiniti"
**Name:Roger**
**Website:support27**
**Official resources for icon and color:**

http://infinitiusa.com/?dcp=nml.mtl.hmp.infiniticom_redirect

[2020-06-05 10:42] support27 opened #3174 "jaguar"
**Name:roger**
**Website:support27**
**Official resources for icon and color:**

https://www.jaguar.com/market-selector.html

[2020-06-05 10:42] support27 opened #3175 "land rover"
**Name:roger**
**Website:support27**
**Official resources for icon and color:**

https://www.landroverusa.com/index.html

[2020-06-05 10:43] support27 opened #3176 "mclaren"
**Name:roger**
**Website:support27**
**Official resources for icon and color:**

https://www.mclaren.com/

[2020-06-05 10:45] support27 opened #3177 "mini"
**Name:roger**
**Website:support27**
**Official resources for icon and color:**

https://www.mini.com/en_MS/home.html

[2020-06-05 10:46] support27 opened #3178 "skoda"
**Name:roger**
**Website:support27**
**Official resources for icon and color:**

https://www.skoda-auto.com/

[2020-06-05 10:53] mondeja commented on #3142
- **Alexa Rank:** [~18k](https://www.alexa.com/siteinfo/shikimori.one)
- **Color:** `#343434` from [website](https://shikimori.one) stylesheet.

[2020-06-05 11:17] PeterShaggyNoble commented on #3172
Thanks for the request, @support27. This was previously requested in #2059 but there's no harm in separating it out into its own issue so it doesn't get forgotten about.

As you can see from the conversation in that issue, we've yet to find an officially source vector version of their logo so it may take a while to fulfil this request.

By the way, when we ask for the name & website in our issue t

[2020-06-05 11:19] PeterShaggyNoble commented on #3178
Duplicate of #2059

This one is already available:

![ŠKODA](https://user-images.githubusercontent.com/15157491/83870765-b5dd5a80-a726-11ea-9ece-f82f80dc798e.png)

[2020-06-05 11:19] #3178 closed

[2020-06-05 13:11] support27 commented on #3172
Oh lol. So sorry lol I figured my details. I requested a bunch more like this as you'll see

Best Regards,

support27
www.support27.com<http://www.support27.com>
info@support27.com
+1 (800) 674-9364

________________________________
From: Peter Noble <notifications@github.com>
Sent: Friday, June 5, 2020 4:18:03 AM
To: simple-icons/simple-icons <simple-icons@noreply.github.com>
Cc: support27 <info@

[2020-06-05 13:21] PeterShaggyNoble commented on #3173
**Alexa rank:** [~651k](https://www.alexa.com/siteinfo/infiniti.com) (Global), [~4.9m](https://www.alexa.com/siteinfo/infiniti.co.uk) (UK), [**~61.7k**](https://www.alexa.com/siteinfo/infinitiusa.com) (US)
**Suggested colour:** `#231f20`

After a bit of digging, I eventually unearthed a vector version of their logo on the first page of [this PDF](https://www.infiniti-cdn.net/content/dam/Infiniti/B

[2020-06-05 13:26] PeterShaggyNoble commented on #3163
Yes, given that there are no official guidelines and that, while being no means definitive, Wikipedia uses the "Music" version, I'd be happy enough for us to go with that too. Also, according to [Logopedia](https://logos.fandom.com/wiki/Amazon_Music), which also wouldn't be definitive, the "Amazon Music" version is considered to be secondary.

I found [this SVG](https://images-na.ssl-images-amazon

[2020-06-05 13:35] KTibow commented on #3171
@PeterShaggyNoble I'm new here, but I think I can take this on. Because the background would be a dark shade, the icon would be white, right?

[2020-06-05 13:42] PeterShaggyNoble commented on #3174
**Alexa rank:** [~277k](https://www.alexa.com/siteinfo/jaguar.co.uk) (UK), [~85.4k](https://www.alexa.com/siteinfo/jaguar.com) Global
**Suggested colour:** `#9e1b32` from their website stylesheet, maybe?

There's a vector version of their monochrome logo on page 28 of [this pdf](https://jaguar.mynetworkcontent.com/wp-content/uploads/2016/05/JLR_2016_Brand_eBook_V2_INTERACTIVE_HR-1.pdf).

[2020-06-05 14:05] PeterShaggyNoble commented on #3175
**Alexa rank:** [~196k](https://www.alexa.com/siteinfo/landrover.co.uk) (UK), [~40.2k](https://www.alexa.com/siteinfo/landrover.com) (Global)
**Suggested colour:** Definitely green, I'd say. They use `#005a2b` on [shop.landrover.com](https://shop.landrover.com/) so maybe that?

There's an [SVG on Wikipedia](https://en.wikipedia.org/wiki/File:LandRover.svg) but, as of this writing, the current vers

[2020-06-05 14:05] KTibow commented on #3171
@PeterShaggyNoble In terms of spelling... should I call it `VirusTotal` or `Virus Total`?

[2020-06-05 14:25] PeterShaggyNoble commented on #3176
**Alexa rank:** [~45.2k](https://www.alexa.com/siteinfo/mclaren.com)
**Suggested colour:** I _want_ to say their "Rocket Red" but they don't seem to use that much in their branding any more. I grabbed `#e90000` from one of their website's but someone with better eyesight than me might be able to read the exact hex in the images on [this page](https://theclearing.co.uk/work/mclaren/). And then ther

[2020-06-05 14:28] PeterShaggyNoble commented on #3171
Excellent! Let us know if you need any help.

And, to answer your questions:
1. You don't need to include a `fill` in the SVG markup; all our icons are colourless. The colour they're displayed in on our site is chosen programmatically, base on the colour each is to be displayed on.
2. Looks to me like their name should be stylised as "VirusTotal".

[2020-06-05 14:39] PeterShaggyNoble commented on #3177
**Alexa rank:** [~453k](https://www.alexa.com/siteinfo/mini.co.uk) (UK), [~553k](https://www.alexa.com/siteinfo/mini.com) (Global), [~94.5k](https://www.alexa.com/siteinfo/miniusa.com) (US)
**Suggested colour:** `#000000`, from their website and backed up by [these guidelines](http://www.dpscrmcorp.com/FileManager/CoopInformation/MINI%202006%20Identity%20Guidelines.pdf)

The logos used on their gl

[2020-06-05 14:46] ericcornelissen commented on #2984
Given the lack of activity in this issue I'm going to close this for now. If anyone wants to bring up using Husky again feel free to respond in this thread or open a new issue :slightly_smiling_face:

[2020-06-05 14:46] #2984 closed

[2020-06-05 15:39] #3171 closed

[2020-06-05 16:45] support27 commented on #3178
just a thought... perhaps rename ŠKODA to skoda. searching for skoda
gives no results and without knowing the special character code would
never appear... or add a second search variable with just skoda.

Best Regards,

Roger @ support27

www.support27.com

info@support27.com

+1 (800) 674-9364

------ Original Message ------
From: "Peter Noble" <notifications@github.com>
To: "simple-icons/simple-

[2020-06-05 16:47] PeterShaggyNoble commented on #3178
That will be addressed in #3180, @support27.

[2020-06-05 16:50] support27 commented on #3178
awesome!

Best Regards,

Roger @ support27

www.support27.com

info@support27.com

+1 (800) 674-9364

------ Original Message ------
From: "Peter Noble" <notifications@github.com>
To: "simple-icons/simple-icons" <simple-icons@noreply.github.com>
Cc: "support27" <info@support27.com>; "Mention"
<mention@noreply.github.com>
Sent: 6/5/2020 9:47:23 AM
Subject: Re: [simple-icons/simple-icons] skoda (#31

[2020-06-05 19:01] runxel commented on #3176
If you scroll down, there is a [screenshot](https://theclearing.co.uk/wp-content/uploads/2017/07/work-flat-hires-3000x1688.jpg) of their brand manual, listing the color indeed as "Rocket Red" but with a hex of plain red `#FF0000`.

True, I wouldn't know what the arc is related to. Should be the whole word mark.

[2020-06-05 19:05] runxel commented on #3175
I can't even access the PDF 🤣
Error is `SEC_ERROR_REVOKED_CERTIFICATE`. :/

[2020-06-05 21:25] support27 commented on #3173
i'm struggling here. lol i've honestly never worked with svgs i'd like
to keep your structure by but mine don't turn out anywhere near what
yours are. if i size to 24x24 they are tiny when i open them in a
browser and your are large.

any pointers?

Best Regards,

Roger @ support27

www.support27.com

info@support27.com

+1 (800) 674-9364

------ Original Message ------
From: "Peter Noble" <notifi

[2020-06-06 03:31] NovaGL commented on #3163
Good job on finding the icon. That's why I chose the blue color even though the latest one shows purple I don't believe that's a good long term fit.

If we look in the Sonos app it's blue.
![image](https://user-images.githubusercontent.com/16315601/83935129-d4f8ec80-a7f9-11ea-99ae-62d7386298d4.png)

If I was pushed to choose one color, even though I prefer "Prime Blue" I would go with "Squid Ink"

[2020-06-06 04:00] NovaGL commented on #3175
@PeterShaggyNoble you weren't kidding when you said that logo is a mess.

I worked my magic and managed to convert it. If you tell me what press site you'd like to use and if you're happy with this icon I'll create a PR.

![simpleicons(2)](https://user-images.githubusercontent.com/16315601/83935559-05db2080-a7fe-11ea-9f98-c497bbcb65d1.png)

[2020-06-06 04:09] NovaGL commented on #3172
The last page of this PDF has a vector logo but it's a real mess.
https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2017/trucks/sema/02-pdfs/19_20Edition_Colorado_Accessories_Brochure_10_25_19.pdf

I suggest we just use the icon listed here and match sure the sizing matches up to what's mentioned in the above PDF

https://seeklogo.com/vector-logo/29481/chevrolet

[2020-06-07 04:28] sum-elier opened #3186 "Tutanota Icon"
**Name:** Tutanota
**Website:** https://tutanota.com/
**Official resources for icon and color:** https://raw.githubusercontent.com/tutao/tutanota/master/resources/images/logo-solo-red.svg
**Alexa rank**: [~25,8k](https://www.alexa.com/siteinfo/tutanota.com)

[2020-06-07 06:27] micwoj92 opened #3187 "Team Fortress tv"
**Name:** Team Fortress TV (usually referred to as tftv)
**Website:**https://www.teamfortress.tv/
**Official resources for icon and color:**
I couldn't find .svg
https://www.teamfortress.tv/img/tf/logo.png
https://static-cdn.jtvnw.net/jtv_user_pictures/team-teamfortresstv-team_logo_image-e480add9335ceee1-300x300.png
**Alexa rank:** [~103.4k](https://www.alexa.com/siteinfo/teamfortress.tv)

[2020-06-09 09:13] PeterShaggyNoble commented on #3176
Yup, that was the one I was having trouble reading. Amazingly, though, when I view that image on my phone, I can see it clear as day! 🤷‍♂️

[2020-06-09 09:17] PeterShaggyNoble commented on #3173
At a guess, I'd say you may have included the `width` and `height` attributes in the `<svg>` tag, which aren't needed but, if you want to share what you have so far, we can point you in the right direction. Or, if you like, we could post a step-by-step tutorial for this icon to help you get started?

I also have [a tool](https://petershaggynoble.github.io/MDI-Sandbox/simpleicons/preview/) that all

[2020-06-09 09:23] PeterShaggyNoble commented on #3186
Thanks for the request, @sum-elier. Would you like to take this one on yourself? Our contributing guidelines can be found [here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-06-09 10:48] #3143 closed

[2020-06-09 11:32] runxel commented on #3176
Pixel density I'd assume? Phones are amazing with that.

[2020-06-09 11:34] PeterShaggyNoble commented on #3163
Yep, it does seem to me like "Prime Blue" is the brand colour of the parent Prime brand, while "Squid Ink" is the brand colour of its sub-brands. Based on that and in the absence of anything saying otherwise, I'd be happy to go with it here, despite _personally_ thinking purple is the correct choice. So, to sum up, we're going to go with:
1. Just the music wordmark for the icon, and,
2. "Squid Ink

[2020-06-09 11:36] PeterShaggyNoble commented on #3175
Looks good to me, @NovaGL :+1:

Given the state of the logo in the PDF, though, I'd suggest using the version on WIkipedia as a source instead, if it's easier to work with.

[2020-06-09 11:43] support27 commented on #3173
tried adding the path for mini for example but just got nothing when
inputting the info into your tool

Best Regards,

Roger @ support27

www.support27.com

info@support27.com

+1 (800) 674-9364

------ Original Message ------
From: "Peter Noble" <notifications@github.com>
To: "simple-icons/simple-icons" <simple-icons@noreply.github.com>
Cc: "support27" <info@support27.com>; "Author"
<author@norep

[2020-06-09 11:47] PeterShaggyNoble commented on #3172
Yeah, think we came across that one, or similar, in our own research, didn't we @runxel?

Currently the only unofficial source we use for logos & icons is Wikipedia/Wikimedia but we are discussing adding more options where we can be sure of how they source their logos.

[2020-06-09 11:51] NovaGL commented on #3172
How is that different then raster to vector conversation? I was suggesting we use the official source and just match it.

[2020-06-09 11:56] runxel commented on #3172
Oh please, don't remind me of the Chevrolet one.... 🤣😖
It's just multiple pictures embedded into a svg. Pure chaos.
I am a bit mad they didn't put the vectorized b/w logo (can bee seen on p.3).

@NovaGL Well, of course we can always redraw the logo by hand. It's usually the last straw, tho.
Nobody has gotten time for that until now. The process is slow, and so is the review, thats why we mostly tr

[2020-06-09 11:58] PeterShaggyNoble commented on #3173
If you zip up your SVG and post it here, we'll have a look at it for you and help you out.

[2020-06-09 11:59] NovaGL commented on #3172
@runxel haha I was suggesting we match vector from another site but as Peter said that's not an option atm.

[2020-06-09 12:01] support27 commented on #3173
Mini

Best Regards,

Roger @ support27

www.support27.com

info@support27.com

+1 (800) 674-9364

------ Original Message ------
From: "Peter Noble" <notifications@github.com>
To: "simple-icons/simple-icons" <simple-icons@noreply.github.com>
Cc: "support27" <info@support27.com>; "Author"
<author@noreply.github.com>
Sent: 6/9/2020 4:58:45 AM
Subject: Re: [simple-icons/simple-icons] infiniti (#3173)

[2020-06-09 14:56] surendratr opened #3190 "Request: Flipkart"
**Flipkart:**
**Flipkart.com:**
**Official resources for icon and color:**

[2020-06-09 15:44] ravishchawla opened #3191 "Scikit-Learn"
I looked for the Scikit-Learn logo, but did not find it as an icon anywhere as a single-path SVG that can be used with fonts.

**Scikit-Learn (SkLearn):**
**Website:https://scikit-learn.org/**
**Official resources for icon and color:**

https://github.com/scikit-learn/scikit-learn/blob/master/doc/logos/

[2020-06-09 16:11] PeterShaggyNoble commented on #3191
Thanks for the request, @ravishchawla

Would you agree with `#f7931e` from [this PDF](https://github.com/scikit-learn/scikit-learn/blob/master/doc/logos/identity.pdf) for the colour?

**Alexa rank:** [~7.1k](https://www.alexa.com/siteinfo/scikit-learn.org)

[2020-06-09 18:32] schifferl opened #3193 "Bioconductor Icon Request"
Hello, a Bioconductor icon would be great if you could make one.

**Name: Bioconductor**
**Website: http://bioconductor.org/**
**Official resources for icon and color: https://www.bioconductor.org/about/logo/**

The official resources have an ESP drawing that would be easy to use and the official colors are `#1a81c2` and `#87b13f`. Or even the [favicon](https://github.com/Bioconductor/bioconductor

[2020-06-09 18:50] gizmecano commented on #3148
I forgot to point out in pull request #3184 that the merger would close this issue.

[2020-06-09 18:50] #3148 closed

[2020-06-10 06:17] NovaGL commented on #3193
@schickling It's quite easy to contribute. If you feel you upto it read the steps here and create a pull request.

[2020-06-10 06:20] NovaGL commented on #3190
@surendratr Do you have links to the logos you would propose to use?

[2020-06-10 08:41] PeterShaggyNoble commented on #3193
Thanks for the request, @schifferl. From the page you linked ...

... suggests to me that we _may_ need to go with the full logo, although it's by no means explicit. If we were to add a version without the wordmark then I would suggest the crotchet with the circles. On the colour, as it's used more prominently on their website, I would vote for "Bioc blue".

**Alexa rank:** [~106k](https://www.ale

[2020-06-10 08:48] PeterShaggyNoble commented on #3190
Thanks for the request, @surendratr. As you didn't mention it in the body of your issue, I've removed BigBasket Bands from the title. If you would _also_ like to request that, though, then please create a new issue for it.

On Flipkart: Their branding isn't entirely clear but from [this page](https://thoughtoverdesign.com/work/flipkart), it looks like the "shopping bag" is supposed to be their pri

[2020-06-10 08:52] PeterShaggyNoble commented on #3173
@support27, attachments can't be sent by email reply.

[2020-06-10 08:54] PeterShaggyNoble commented on #3172
At least we have an _official_ monochrome treatment now.

[2020-06-10 10:28] PeterShaggyNoble commented on #3172
Found a different monochrome treatment on page 3 of [this PDF](https://my.chevrolet.com/content/dam/gmownercenter/gmna/dynamic/manuals/2020/chevrolet/blazer/2020-chevrolet-blazer-owners-manual.pdf). Fun! 🙄 It's also not a vector, though, and it's a hell of a lot uglier than the version @runxel spotted, which is what I think we should go with.

[2020-06-10 10:31] NovaGL commented on #3172
The PDF I provided has the word Chevrolet as a vector and it's easy to extract. So I think we should at least use that text.

[2020-06-10 10:43] #3037 closed

[2020-06-10 10:50] PeterShaggyNoble commented on #3191
My suggested treatment of this one (ignore the quality of the larger version!). I don't know that it would make sense to or even be allowable to just go with the 2 "blobs".

![scikit-learn](https://user-images.githubusercontent.com/15157491/84259564-940e1a00-ab10-11ea-89b6-02c656e40dc2.png)

[2020-06-10 10:54] PeterShaggyNoble commented on #3187
Thanks for the request, @micwoj92

Haven't been able to find a vector version of their logo or icon as yet. If you're a part of their community, would you like to try reaching out to them to see if one is available anywhere or if they could provide us with one?

[2020-06-10 11:22] NovaGL commented on #3193
I agree with both those statements. The favicon seems a bit too different

[2020-06-10 11:28] NovaGL commented on #3190
I suggest we use the logo from wikipedia

https://en.wikipedia.org/wiki/Flipkart#/media/File:Flipkart_logo.svg

Although the color you've suggested seems to be the main color I think `#ffe500` would be more recognizable for the brand

[2020-06-10 11:30] gizmecano commented on #3149
Indeed, It is a very good example: this product has been effectively "popular" in the past, but it is no longer up-to-date.

Of course, I fully understand this point.

I'm going to think about various possibilities for considering past or outdated brands and will open a dedicated issue when I will get adequate propositions to do.

[2020-06-10 11:35] gizmecano opened #3197 "Page too large to display Twitter Card"
### Kind of issue

  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### Description

If you add a link to the site into a tweet (as I did [this morning](https://twitter.com/gizmecano/status/1270612947702865920)), you will see that the Twitter card is not displayed.

The problem is due to the size of the page, which is too large to be fully handle. The
[Card validator](https://cards-dev.twit

[2020-06-10 20:05] micwoj92 opened #3199 "mastercomfig"
**Name:** mastercomfig
**Website:** https://mastercomfig.com/
**Official resources for icon and color:**
 https://mastercomfig.com/favicon.png
svg version https://gist.github.com/micwoj92/1f8b84da5df616fe75aeb23bb1c90086

[2020-06-11 00:16] NovaGL commented on #3199
I noticed that SVG is on your repo. Can you advise the original source or did you convert it yourself?

Since you have done most of the work would you consider adding the logo yourself?

Follow the below steps for how to do it.
[Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md)

[2020-06-11 00:29] micwoj92 commented on #3199
SVG was just added to official repo
https://github.com/mastercomfig/mastercomfig.github.io/blob/master/img/mastercomfig_logo.svg
I didnt make the logo, one of community members made it, but he has no github account. I have no experience with svgs.

[2020-06-11 00:33] micwoj92 commented on #3187
@PeterShaggyNoble from the tftv thread
"

talked to enigma and he said that he never had the original svg of the logo
given that he commissioned the logo five years ago i doubt the svg exists anywhere anymore unfortunately
this is the highest res logo icon we have internally; hopefully it can be of some help
"
And this was url linked
https://cdn.discordapp.com/attachments/429191025198628864/647200

[2020-06-11 10:38] PeterShaggyNoble commented on #3199
Thanks for the request and the clarification, @micwoj92.

Unfortunately, as it stands, with an Alexa rank of [~869k](https://www.alexa.com/siteinfo/mastercomfig.com) this would currently be beyond our scope as our cut-off for that metric is 500k. We also use GitHub stars as an alternative metric but, with just 292, that's also below our cut-off of 5k. I suspect, though, that that last one in parti

[2020-06-11 10:43] NovaGL opened #3200 "Update Icon Request template"
### Kind of issue
  - [X] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### Description
I think the template for Icon Requests should be updated.

There should be some guidelines on acceptable icons.
Eg, please lookup the Alexa site ranking, please note icons with rankings over 500K might not be accepted.

Alternatively please mention other metrics you have used to display the popularity of this

[2020-06-11 11:01] PeterShaggyNoble commented on #3200
Good idea, @NovaGL :+1: I've been toying with the same idea myself for a while.

I do think we should add the Alexa rank to the issue template and, perhaps, the PR template as well for contributions without an issue. The first thing most all of us do when a new request comes in is check the rank, so this would be one less thing for us to do. But I don't think we need to go into too much detail abo

[2020-06-11 11:05] PeterShaggyNoble commented on #3187
Thanks for reaching out to them, @micwoj92; that definitely gives us a better source to attempt a manual vectorisation of.

[2020-06-11 12:00] micwoj92 commented on #3199
I contacted the creator, I hope she will answer here + this way we will have an official statement from owner which should resolve all ambiguities.

[2020-06-11 13:14] ericcornelissen commented on #3200
Sounds reasonable. Regarding the issue template: I would put the Alexa ranking between the "Website" and "Official resources". Regarding the PR template I would put it right after the "Issue".

[2020-06-11 13:38] ericcornelissen commented on #3197
Liquid is just a preprocessor, it's not a server. Jekyll is the "server" component but it's meant to just serve static files (and an RSS feed) as far as I know. In any case, through GitHub pages you have no control over the server.

[This](https://twittercommunity.com/t/error-fetching-the-page-failed-because-the-response-is-too-large-when-i-try-to-validate-a-url/132274/5) sounds to me like a diffe

[2020-06-11 13:38] PeterShaggyNoble commented on #3200
Yep, that seems like a better placement for it in the issue template; it invites more detail on the sourcing.

The reason I'd suggest placing it at the end of the PR template is to downplay as, the majority of the time, we're already going to know the rank from the issue. That alone may be a case _against_ adding it to the PR template.

[2020-06-11 13:59] ericcornelissen commented on #3200
👍

Fair enough, maybe make explicit that it's only needed if there is no issue for the PR instead? Putting it at the end like that just makes me afraid people might miss it.

[2020-06-11 14:00] PeterShaggyNoble commented on #3200
Oo, one way we could do it, if we can get the wording right is to ask for the issue number _OR_ the Alexa rank.

[2020-06-11 14:10] #3076 closed

[2020-06-11 14:17] PeterShaggyNoble commented on #3160
Closing due to lack of response under the assumption that, as Eric suggested, this is a request for GitHub's Octocat.

If this was a request for something else that is within our scope then please complete the issue's template and feel free to reopen it.

[2020-06-11 14:17] #3160 closed

[2020-06-11 14:22] PeterShaggyNoble commented on #3197
#2384 could possibly resolve this, depending on how it's implemented.

[2020-06-11 14:40] PeterShaggyNoble commented on #3109
I have this queued up locally, ready to go and will get a PR in over the next few days. If you have need of it in the meantime, you can download it by clicking the image below. Note, though, that this has not yet passed through our review processes.

[![HomeAdvisor](https://user-images.githubusercontent.com/15157491/84400335-ce071b00-abf9-11ea-8ec3-4c2141a733b0.png)](https://github.com/simple-icon

[2020-06-11 15:05] PeterShaggyNoble commented on #3122
I have this queued up locally, ready to go and will get a PR in over the next few days. If you have need of it in the meantime, you can download it by clicking the image below. Note, though, that this has not yet passed through our review processes.

[![Karlsruher Verkehrsverbund](https://user-images.githubusercontent.com/15157491/84403117-3d323e80-abfd-11ea-9295-29c08047a813.png)](https://github.

[2020-06-11 15:47] PeterShaggyNoble commented on #3200
Maybe like so?

[code]

[2020-06-11 16:01] PeterShaggyNoble commented on #3199
Thanks, @micwoj92

However, the first things we need to address is my second paragraph above: assessing the popularity of this brand and its suitability for inclusion in our library.

[2020-06-11 18:56] ericcornelissen commented on #3200
Nice idea 👍 I like it.

One minor thing: I would suggest not adding the link to the contributing guidelines in the comment for the Alexa rank _again_. I'm going to guess that anyone taking the time to read that comment has already read to the top-level comment.

[2020-06-11 20:11] #3175 closed

[2020-06-11 20:36] #3051 closed

[2020-06-11 20:50] MatsuStefanie opened #3203 "Request: Materialize"
**Name: Materialize**
**Website:** https://materializeweb.com/
**Official resources for icon and color:** https://github.com/materializecss/materialize-docs/blob/9e1473ae4cbbd805106d08809af5c7028922d417/src/public/images/materialize.svg

[2020-06-11 23:07] micwoj92 commented on #3199
So what I have thought of are github downloads
https://somsubhra.com/github-release-stats/?username=mastercomfig&repository=mastercomfig
But the problem is that the website is caching files using Cloudflare.
https://github.com/mastercomfig/mastercomfig.github.io/blob/master/js/mastercomfig-cf-worker.js
So it also isn't 100% accurate, but it is up to you to decide if that is popular enough.

[2020-06-11 23:29] NovaGL commented on #3200
I think its important for people to know the contributing guidelines in an issue for icon requests as if it is simple they might be able to pull request instead.

The thing I was hoping to avoid is:

- Person creates an issue
- Some one responds do you want to contribute
- Alexa rank is too high to be a valid inclusion

We could even possibly avoid the issue creation at all if we ask them up front

[2020-06-12 02:05] micwoj92 commented on #3187
@PeterShaggyNoble One of community members made this
https://www.dropbox.com/s/yayaxf2pm18pt0y/tftv_logo.svg?dl=0

[2020-06-12 09:22] PeterShaggyNoble commented on #3200
Oop, can't believe I missed that, @ericcornelissen. _Twice_! 🙈 So the PR template would now be:

[code]

@NovaGL, if the Alexa rank isn't provided by the person requesting the icon that the first thing one of us will usually do is check it, so the process is actually more like:
- Person creates an issue
- Alexa rank is too low, making the request out of scope if we can't assess its popularity by s

[2020-06-12 10:12] PeterShaggyNoble commented on #3203
Thanks for the request, @MatsuStefanie.

[This SVG](https://materializecss.com/res/materialize.svg) can be found in the header of their website which we can use. Although, it is a bit of a mess - we'll need to clean up the gaps and other imperfections in it. Also, I don't think a straight monochromisation (see below) is going to work here so we may have to take a bit of artistic license and add so

[2020-06-12 10:16] PeterShaggyNoble commented on #3187
Just by a quick visual comparison, that looks close enough to the officially provided raster file that we can run with that. Although, when we get to the full review, there may be some tweaks needed.

Seeing as you've already put the work in in sourcing this, would you like to take it on yourself? Everything is outlined in our [contributing guidelines](https://github.com/simple-icons/simple-icons/

[2020-06-12 10:30] PeterShaggyNoble commented on #3199
OK, so it wasn't clear whether the total at the top of the page was _just_ for those releases listed on the page, dating back to 2019-11-20, which would be impressive, or for _all_ releases on GitHub, dating back to 2016-12-16, which would be less impressive. So I checked! And they have indeed had ~760k downloads since November last year. _And_ you say that number should actually be higher because

[2020-06-12 10:37] NovaGL commented on #3200
Hi @PeterShaggyNoble I'd feel more comfortable if you or one of the maintainers made the PR.

Even though I brought up the idea, you did the hard work.

Maybe there should be an issue topic for documentation? So questions like these can be grouped together.

[2020-06-12 10:44] NovaGL opened #3204 "Metrics for icon inclusion"
I think as this icon list gets bigger and bigger there needs to be more scrutiny on what icons are accepted.

I personally don't believe usage is a good enough metric.

Say you have a game mod for a basketball game and its popular and each year they release a new mod with a new icon

So you'd have
- NBA18
- NBAI9
- NBA2K

The same thing with entertainment. Is it acceptable to have every TV station

[2020-06-12 11:05] PeterShaggyNoble commented on #3200
OK :+1: I'll try to get that done today.

We have the ["docs" label](https://github.com/simple-icons/simple-icons/issues?q=is%3Aissue+label%3Adocs). Or did you have something else in mind?

[2020-06-12 11:08] NovaGL commented on #3200
I can't assign labels, its blanked out so I just choose a template or am i missing something?

[2020-06-12 11:13] NovaGL commented on #3203
My attempt is quite bad but it's a proof of concept.

What are your thoughts on this?

![simpleicons(2)](https://user-images.githubusercontent.com/16315601
/84497136-86fc5100-acf1-11ea-8767-c884231f6c3d.png)

[2020-06-12 11:18] micwoj92 commented on #3199
So when it is downloaded via github, the tracker can count it.
Download page https://mastercomfig.com/download doesnt use github api anymore and on top of that it  caches the files for 12 hours. It was made to make the site faster. So the github download tracker can't directly track the downloads there.

[2020-06-12 11:18] PeterShaggyNoble commented on #3200
Ah, sorry, I get you know. Could be a good idea, yeah. If you open a PR or issue for it, we can discuss it further there.

[2020-06-12 11:19] micwoj92 commented on #3187
I could try making one, but I have no experience with svgs. I will try to make one before end of weekend and update on progress here when I'm done. Is that okay?

[2020-06-12 11:21] PeterShaggyNoble commented on #3203
Exactly what I was thinking, nice one, @NovaGL :+1:

[2020-06-12 11:22] NovaGL commented on #3203
I suggest we use this as the source as it's the same SVG with the imperfections removed.
https://seeklogo.com/vector-logo/296808/materialize

[2020-06-12 11:23] PeterShaggyNoble commented on #3187
That's perfect, @micwoj92. You can either post a work in progress here for review or go straight to PR, where it would get a more detailed review. If you need any help, let us know.

[2020-06-12 11:26] NovaGL opened #3205 "Redefine issue templates"
Currently there is only the following issue templates.

- Icon request
- Icon update
- Packages
- Website

If someone asks a question that doesn't fit in the a valid category they will most likely choose an incorrect one.

There is no template for documentation, or general\ misc ideas.
More issue types should be included to avoid blank issues or the incorrect type being selected.

[2020-06-12 11:26] PeterShaggyNoble commented on #3199
Do you know, by chance, what the primary source of their downloads is, @micwoj92? If it's at least roughly equal between their website and GitHub, with at least as many downloads between the two then that would definitely make a better case for its inclusion.

[2020-06-12 11:36] PeterShaggyNoble commented on #3203
If that version lines up exactly with the original, apart from the imperfections, then that's fine by me, but I'd still use their website as the source in your JSON. Personally, though, if we're going to go to an external source, I'd prefer if we used [SVG Porn](https://svgporn.com/)'s version, assuming it, too, lines up with the original and is free from the imperfections, as they seem to be a lo

[2020-06-12 11:40] micwoj92 commented on #3199
I only know that the caching was added to website  around 10 days ago. Not sure how the downloads were handled before. The owner is the only one who could provide more insight in this information.

[2020-06-12 12:24] PeterShaggyNoble commented on #3205
I think, as you mentioned in #3200, a new issue template that covers documentation could be a good idea. Although, I would suggest that rather than it _just_ being for documentation, that it be for the more generic "meta" label, which I see docs as a sub-category of, allowing it to cover all aspects of the Simple Icons project. We could have documentation as one of the checkboxes within the templa

[2020-06-12 12:31] mastercoms commented on #3199
Hello, I am said owner/maintainer of mastercomfig!

To clarify, I am not aware of caching affecting GitHub release stats. The file downloads themselves should be directly served by GitHub, even when using the website. Cached API access is just done to check the version.

That being said, it seems like this stats site only lists the last 30 versions (which is the default pagination for the GitHub A

[2020-06-12 20:59] reenamn opened #3212 "podcast addict"
**Name:**podcast addict
**Website:**https://podcastaddict.uservoice.com/
**Official resources for icon and color:**

https://s3.amazonaws.com/uploads.uservoice.com/logo/design_setting/196060/original/new_logo_128.png?1557957008

[2020-06-12 21:11] micwoj92 commented on #3204
Maybe as addition to current metrics, there should be field called "purpose" in which the requestor can say on why they need the icon.

[2020-06-13 00:27] NovaGL commented on #3204
Possibly, we really need to get the opinions of the maintainers.
I don't want this to be i'm trying to enforce gate keeping, just a better understanding of what this repo is trying to achieve.

Maybe its just simply an brief explanation of what simple icons is in the readme.

[2020-06-13 00:31] NovaGL commented on #3212
This is there website: https://podcastaddict.com/

SVG is in the heading: https://podcastaddict.com/res/images/logo.svg

No Alexa ranking found. Google Play downloads are 513,812

[2020-06-13 05:59] NovaGL commented on #3203
@PeterShaggyNoble I gave it a go using the version at SVG Porn. Not really happy with it. Can you have a look and let me know if you can fix it up?

<details>

[2020-06-13 17:42] jonaheschwartz opened #3213 "Photobucket"
**Name:**Photobucket
**Website:**https://photobucket.com/
**Official resources for icon and color:**https://photobucket.com/resources/home/svg/pb-logo-inverted.svg (Without text)

https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Photobucket_Logo.svg/1280px-Photobucket_Logo.svg.png (With text)

[2020-06-13 17:44] jonaheschwartz opened #3214 "MeWe"
**Name:**MeWe
**Website:**www.Mewe.com
**Official resources for icon and color:**https://cdn.mewe.com/front/home/mewe-logo-white.c1f273f1.png

[2020-06-13 17:49] jonaheschwartz opened #3215 "OkCupid"
**Name:**OkCupid
**Website:**www.OkCupid.com
**Official resources for icon and color:**

https://www.okcupid.com/press/mediakit

[2020-06-13 17:55] jonaheschwartz opened #3216 "MetaFilter"
**Name:**MetaFilter
**Website:**www.MetaFilter.com
**Official resources for icon and color:**

https://d14209uukh82fi.cloudfront.net/images/press_mentions/92/small/logo-metafilter.png?1445543268

[2020-06-13 17:58] jonaheschwartz opened #3217 "Fark"
**Name:** Fark
**Website:** www.Fark.com
**Official resources for icon and color:**

https://www.fark.com/farq/legal/#Fark_logos_and_trademarks

[2020-06-13 18:05] micwoj92 commented on #3187
@PeterShaggyNoble Here is the file https://gist.github.com/micwoj92/30c0a26b5c79fdc6684fab70df43e8a9
And i did read the guidelines, but when I remove the "fill-rule" in file, the middle circle is filled and I have no idea how to fix it.

[2020-06-14 05:50] erianvc opened #3219 "Sapper icon"
**Name:** Sapper
**Website:** https://sapper.svelte.dev/
**Official resources for icon and color:**

The same Svelte icon but with `#159794` brand color

[2020-06-14 06:16] NovaGL commented on #3219
SVG is in the top of the main page. I suggest we just use the "S"
https://sapper.svelte.dev/sapper-logo-horizontal.svg

Alexa Rank  #46,637

[2020-06-14 06:25] NovaGL commented on #3217
Alexa rank 7,754

No SVG available, I would say the workmark "FARK" would be the most appropriate as the "F" is only used in the favicon, having the world in the background might make the logo to busy as only one color is allowed.

Color `#3d3daf`

[2020-06-14 09:38] LuckyF commented on #2849
Hi @PeterShaggyNoble,
this looks very good 👍🏼

[2020-06-15 06:50] cyberalien opened #3220 "Bug in Quasar icon"
Name: Quasar
Issue: SVG file content ends with `</svg>s`

[2020-06-15 11:27] #3220 closed

[2020-06-15 11:33] ericcornelissen opened #3223 "Add linting for extraneous elements in SVGs"
To prevent issues like #3220. The simplest solution would be to run a regular expression on all SVGs to guarentee they start with `<svg` and end in `</svg>` (e.g. `^<svg.*</svg>$`). But ideally we include this linting step as a part of [svglint](https://github.com/simple-icons/simple-icons/blob/develop/.svglintrc.js), and I'm not sure if that allows us to do such a regular expression.

[2020-06-15 11:41] ericcornelissen commented on #3205
If we are going to add that I would prefer either adding both `docs`  and `meta`, or just `docs`. In some sense `meta` is a superset of `docs` (I view `meta` primarily as things concerning e.g. config files and linting) but since we have a dedicated `docs` label I would prefer to not use `meta` as well for all `docs` issues. The reason I prefer a template for `docs` is because it is clearer what i

[2020-06-15 14:26] raetha opened #3224 "Request: UPS Icon"
Name: UPS
Website: https://www.ups.com
Official resources for icon and color:
As best I can tell, their brand site is https://brand.ups.com/, but requires a login to get more detailed information.

[2020-06-15 14:27] raetha opened #3225 "Request: Fedex Icon"
Name: FedEx
Website: https://www.fedex.com
Official resources for icon and color:
As best I can tell, their brand site is https://brand.fedex.com/, but requires a login to get more detailed information.

[2020-06-15 14:29] raetha opened #3226 "Request: USPS Icon"
Name: USPS
Website: https://www.usps.com/
Official resources for icon and color:
Only information I could find was https://about.usps.com/doing-business/rights-permissions/logo-trademark-usage.htm.

[2020-06-16 09:13] #2783 closed

[2020-06-18 05:07] NovaGL commented on #3226
Thanks for requesting all these postal icons, however it might be possible that we don't have the rights to include these icons.

"These companies must apply through the USPS Approved Postal Provider Programs"

Could you find out more information if we are allowed to include these icons?

This also applies to the below icons you have requested.
#3225 #3224

[2020-06-18 05:09] NovaGL commented on #3216
Can I ask why you want this logo included?
It just appears to be text which can easily be added without the inclusion of an icon.

[2020-06-18 05:13] NovaGL commented on #3215
Color `#104da1`
Alexa Rank `#1581`

Thanks for the request. Do you think you would be up to trying to do a pull request?
Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-06-18 22:00] #3193 closed

[2020-06-18 23:43] NovaGL commented on #3204
@ericcornelissen Can you tell me how you deal with legalities of adding logos? Eg I marked some logos as pending as I don't believe we would obtain the rights to include these logos. Eg USPS.

[2020-06-19 02:18] bhadaway opened #3229 "Drooble"
https://drooble.com/
https://blog.drooble.com/press/
https://drive.google.com/drive/folders/1HdaHwUNewKEB-ozAztnyDp_nN9pehWOQ

#27b7d1

PNG:

https://user-images.githubusercontent.com/746834/85090114-d8b24900-b1d3-11ea-846a-153fd772b2b4.png

SVG:

`<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14,0.2v7.2c-0.2-0.1-0.5-0.2-0.7-0.2c-2.7-0.8-5.6,1-6.2,3.8c-0.6,2.8,1.4,5.5,4.2,5

[2020-06-19 03:17] bhadaway opened #3230 "fill="currentColor""
Improvement Request

I'd love to see `fill="currentColor"` added to all SVG paths by default.

[2020-06-19 04:12] NovaGL commented on #3230
Can I ask why? If you have a look at the examples you can use the HEX to get the correct color to use.

[2020-06-19 04:16] NovaGL commented on #3229
Alexa Rank `#327,202`
Color: `#00CECB`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-06-19 04:21] bhadaway commented on #3229
Will do.

[2020-06-19 04:25] bhadaway commented on #3230
This is for production purposes. I think many (most) in actual use, won't be using the brand color for each icon (while that's certainly useful information to have of course), but rather, in most designs, and for most other purposes, people will probably be using one solid color for all icons.

Example: https://user-images.githubusercontent.com/746834/85096702-a0ffcd00-b1e4-11ea-8f1c-83adcae817a6.

[2020-06-19 04:26] NovaGL commented on #3229
Can I ask what is the correct logo, the one in the favicon or the one you listed? As it's not clear which one we should go for.
Is one the old version?

[2020-06-19 04:28] bhadaway commented on #3229
I think the favicon and logo in some places are out-dated.

https://blog.drooble.com/wp-content/uploads/2019/09/Drooble_Logo.png appears to be the freshest design of the logo. This is the icon I pulled to create the svg.

[2020-06-19 05:32] bhadaway commented on #3229
Unfortunately, https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon is a little more involved than I anticipated, enough so that it's just too much for me to go ahead with the pull request.

I've still gone ahead and prepared the file for inclusion:

[code]

drooble.svg:

`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>

[2020-06-19 06:03] NovaGL commented on #3229
Great. Just run the icon through this site and if the image looks good to you post it here and I'll do the pull request for you.

https://petershaggynoble.github.io/MDI-Sandbox/simpleicons/preview/

[2020-06-19 06:31] bhadaway commented on #3229
Looks good. GitHub doesn't allow uploading .svg files in the Issues area, so you can just grab the above code and save the file manually.

[2020-06-19 06:32] NovaGL commented on #3229
Click Save Preview

[2020-06-19 06:35] bhadaway commented on #3229
It just prompts me to save a .png file. You want a copy of the .png file?

[2020-06-19 06:38] NovaGL commented on #3229
Yes please. Its all experience. If you learn all this one day you might be able to do your own pull. Its not as hard as it seems. You've done most of the work already.

[2020-06-19 07:00] webguyio commented on #3229
I know how to use GitHub and create pull requests. I just don't want to maintain a new local repo clone + create a new branch + install extra dependencies all just to suggest a single icon.

It's not even that important to me that it be added. Was just trying to be helpful, but can't really justify spending any more time on this (I'm spread pretty thin as it is — was thinking it would be quick and

[2020-06-19 09:15] webguyio commented on #3229
For anyone who wants it, I've now fixed it:

`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Drooble icon</title><path d="m14 .17v7.24l-.71-.23a5 5 0 1 0 3.71 4.82v-7.59c.43.07.83.12 1.22.21a7.59 7.59 0 0 1 5.78 7.38 11.94 11.94 0 0 1 -10 11.81 11.61 11.61 0 0 1 -10.28-3.1 11.58 11.58 0 0 1 -3.72-8.11 12 12 0 0 1 14-12.43zm-2 9.83a2 2 0 1 0 2 2 2 2 0 0 0 -2-2z"/></sv

[2020-06-19 09:34] PeterShaggyNoble commented on #3199
Thanks for the additional information, @mastercoms and for taking the time to post, much appreciated. After some internal discussion on the using downloads as a metric of popularity, we've decided to add this one :+1:

@mastercoms, do you agree with the choices of icon and colour I made in [this comment](https://github.com/simple-icons/simple-icons/issues/3199#issuecomment-642562114).

[2020-06-19 11:03] NovaGL commented on #3229
Thanks for spending the extra time on this @bhadaway

Appreciate it. Just thought i'd let you know I've created a pull request for this and if one of the other maintainers is happy with it we'll merge it in.

[2020-06-19 12:54] #3177 closed

[2020-06-19 13:01] PeterShaggyNoble commented on #3212
Alexa now shows a ranking of [~2.7m](https://www.alexa.com/siteinfo/podcastaddict.com) and, from the data available there, it _looks_ like it's a relatively new website so we should monitor that number for a while to see if it eventually falls within our threshold.

The number of downloads on Google Play is actually 5m+ (the 500k is the number of reviews), which, initially, would seem significant

[2020-06-19 13:02] bhadaway commented on #3229
Thanks :)

[2020-06-19 13:08] PeterShaggyNoble commented on #3203
Before you go any further with this one, @NovaGL, I'd like to first ping @Dogfalo for their feedback on your treatment of it in converting it to monochrome to make sure they're OK with it.

[2020-06-19 13:13] PeterShaggyNoble commented on #3213
Thanks for the request, @jonaheschwartz

In the absence of any brand guidelines (that I could find) I think we're OK to go with the version without text that they supply themselves. The colour, on the other hand is less clear cut, even though the logo uses `#1b2646`, they make much heavier use of `#0672cb` on their website, which is what I think we should use.

Would you like to have a read throug

[2020-06-19 13:25] PeterShaggyNoble commented on #3214
Thanks for the request, @jonaheschwartz

I found [this SVG](https://cdn.mewe.com/front/home/mewe-logo-mask.svg) in the HTML of their website, which we might be able to use or, if not, there are a couple of symbols in the SVG sprite embedded in the HTML that we could look into. The relevant IDs of those symbols are: `svg_mewe-logo-dark-dots`, `svg_mewe-logo-dark`, `svg_mewe-logo` and `svg_mewepro_l

[2020-06-19 13:33] PeterShaggyNoble commented on #3187
That looks like a good start to me, @micwoj92, and ready to bring to PR.

One way to get around the issue with the `fill-rule` is: after removing the attribute, break the path apart (`Path > Break Apart` in Inkscape, if that's what you're using), which will split the path into individual commands, as in the screenshot below. Crucially, the centre part of the circle (which I've highlighted in red)

[2020-06-19 13:34] dstrants opened #3232 "Add Revolut"
**Name:** Revolut
**Website:** [revolut.com](https://www.revolut.com/)
**Official resources for icon and color:** I did some search but unfortunately could not find any resources 😞
**Alexa Rank:** [10.8k](https://www.alexa.com/siteinfo/revolut.com)

[2020-06-19 13:37] dstrants commented on #3232
I am closing it as there is already an open issue for that #2928

[2020-06-19 13:37] #3232 closed

[2020-06-19 13:41] dstrants commented on #2928
Hello there, is anyone working on this?

[2020-06-19 13:45] PeterShaggyNoble commented on #3219
Hmm ... we have in the past (most recently with the various subsidiaries of [JR group](https://github.com/simple-icons/simple-icons/issues/3028)) shied away from adding duplicate icons that differ only in colour, at most.

While I can definitely see the need for them, I think we'd need to come up with a different solution than having multiple, identical SVG files. One _possible_ way could be throu

[2020-06-19 13:47] PeterShaggyNoble commented on #2260
Cross-posting a comment from #3219 in relation to brands that share an icon but differ in colour, which we might be able to solve here:

[2020-06-19 13:59] PeterShaggyNoble commented on #3217
Yup, I'd agree with that, @NovaGL :+1: Specifically, I think we should use the "[Smallest Light](https://img.fark.net/images/2014/site/farklogo_smallest_light.jpg)" version from the page linked above as the source of our manual vectorisation - unless someone _can_ unearth an official vector version.

Colour's tricky; `#3d3daf` is definitely a valid choice and, to my eye, closest to the colour of t

[2020-06-19 14:03] PeterShaggyNoble commented on #2849
@LuckyF, the 2 issues that stand out the most for me are in the rounding of the top-right and bottom-left corners.

[2020-06-19 14:09] PeterShaggyNoble commented on #3223
It looks to me like we _should_ be able to do it within [`custom`](https://github.com/simple-icons/simple-icons/blob/develop/.svglintrc.js#L37) as both functions in there have the SVG file available via the `$` parameter so would it be as simple as adding a new function, passing it the same agrument for the SVG, converting the markup to a string and then running the RegEx validation on it?

Side n

[2020-06-19 14:10] frenchvandal commented on #2928
Hi all, sorry I have been present sporadically because of personal issues and a long sick leave. I am not comfortable with SVG treatment (I have installed Inkscape), still on the learning curve. If someone is willing to take over, it is fine with me. Otherwise I will resume ASAP.

[2020-06-19 14:11] PeterShaggyNoble commented on #3205
Good points :+1: I agree with that approach, so.

@NovaGL, would you like to work something up for this and submit a PR for further discussion?

[2020-06-19 14:15] PeterShaggyNoble commented on #3224
Thanks for the request, @raetha.

There's [an SVG](https://www.ups.com/assets/resources/images/UPS_logo.svg) in the header of their [global website](https://www.ups.com/ie/en/global.page) we can use and, from the livery of their vans alone, I think we can all agree that the brown is their primary colour 🙂

Would you like to have a read through our [contributing guidelines](https://github.com/simpl

[2020-06-19 14:21] PeterShaggyNoble commented on #3225
Thanks for this one, too, @raetha

All of their websites that I checked use a PNG logo but there is [an SVG](https://commons.wikimedia.org/wiki/File:FedEx_Corporation_-_2016_Logo.svg) on Wikimedia which comes from an official source that we could use. For the colour, I think probably the purple is the right choice but, with FedEx not being huge in Ireland, I'm open to correction on that.

[2020-06-19 14:27] jonaheschwartz commented on #3217
I'd be okay with either, frankly. I think the smallest light is best. The gradient isn't critical. That said there are these white background one with the gradient - though not .svg

https://www.logolynx.com/images/logolynx/fe/fe5b86a6780c5feb6ee5d3b3f95fffe4.jpeg
https://www.bloodshotlens.com/tutorials/farklogo.png

It's another option, but like I said - I agree with @NovaGL

[2020-06-19 20:42] mastercoms commented on #3199
Yes that icon and color seems appropriate. Thank you for your consideration!

[2020-06-19 23:51] erianvc opened #3234 "Cypress icon"
**Name:** Cypress
**Website:** https://www.cypress.io/
**Official resources for icon and color:**

https://raw.githubusercontent.com/cypress-io/cypress-icons/master/src/logo/cypress-io-logo-round-flat.svg

Color: `#4A4A4D`

[2020-06-20 13:00] ericcornelissen commented on #3234
For future reference, this should get resolved by #3228

[2020-06-20 15:25] ericcornelissen commented on #3230
Thanks for the request @bhadaway, however I'm not sure if I fully understand. If what you want is to color all icons in some container the same colour, that can be [easily achieved with some CSS](https://codepen.io/ericornelissen/pen/oNbZgdg). Could you elaborate how you are using the SVGs of this project (NPM package, raw SVG, CDN, other?) From the example you give it seems that you're using the

[2020-06-20 15:33] ericcornelissen commented on #3204
As per the README, simple icons is a collection of icons of **popular** brands.

In some cases, this may lead us down a path where we are adding icons with no real purpose (e.g. adding a bunch of TV stations, though definitely not **every** TV station in the world is popular enough). I would personally assume that most people requesting an icon here do in fact have a use case for it. Hence, I woul

[2020-06-20 15:35] ericcornelissen commented on #3223
Definitely, just wasn't 100% sure so I added the caveat to the post :slightly_smiling_face:

Good idea, I'd be in favor of that :+1: Perhaps you could open a separate issue for that with a complete list of what you want to test for so there can be proper discussion?

[2020-06-20 15:37] foo-dogsquared commented on #2800
Just a head's up, they have [an official press kit page now](https://lbry.tv/@lbry:3f/LBRY_presskit:d) with the links to the SVG and AI files.
There's a cleaner link to the press kit (even though it's just text linking to the content page) at https://lbry.com/press-kit.

[2020-06-20 15:41] ericcornelissen commented on #3212
Given those numbers I would say this brand is **currently** out of scope for this project. However, as Peter pointed out, we should keep an eye on the Alexa rank in case it increases quickly.

I'd be interested in hearing from @reenamn if there is another metric we can take into account.

[2020-06-20 16:43] #3142 closed

[2020-06-20 16:44] bhadaway commented on #3230
I just download the icons manually, insert `fill="currentColor"`, and then add them to projects as normal images:

`<a href="https://twitter.com/example" title="Twitter" rel="me" target="_blank"><img src="https://example.com/images/twitter.svg" alt="Twitter" class="svg" /></a>`

I build a lot of tools like WordPress themes, plugins, website templates, etc., where the ultimate goal is simplifying,

[2020-06-20 16:57] reenamn commented on #3212
I am ok with it decision to wait till this brand becomes more popular

On Sat, Jun 20, 2020, 8:41 AM Eric Cornelissen <notifications@github.com>
wrote:

[2020-06-21 03:20] furknyavuz opened #3238 "Request: Payoneer Icon"
**Name:** Payoneer
**Website:** https://www.payoneer.com
**Official resources for icon and color:** https://www.payoneer.com/wp-content/uploads/payoneer-light-logo.svg #D8421f

[2020-06-21 05:41] NovaGL commented on #3238
Alexa Rank = `#1209`
Color: `#D8421f`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-06-21 05:48] ericcornelissen commented on #3230
In that case I would recommend the WordPress plugin created by one of our community members: https://wordpress.org/plugins/simple-icons/

That is a fair point, though again from our perspective we cannot simply just change this without a major release (which we preferably do as little as possible) to actually realize it. I'm sorry if my comment came of as: "We won't implement this, case closed." I

[2020-06-21 06:06] ericcornelissen commented on #3212
In that case I will be closing this as `out of scope` for now, but we're happy to add it once it has a better Alexa rank (or we have some alternative metric to measure it's popularity)

---

As an aside, its Alexa rank has already increased to [~2.4m](https://www.alexa.com/siteinfo/podcastaddict.com) 🎉

[2020-06-21 06:34] furknyavuz commented on #3238
Hi,
Sadly I don't know how to do that. I found the SVG logo but pushing it is not enough I guess.

[2020-06-21 06:49] bhadaway commented on #3230
Concerning WordPress in general, a WordPress plugin might be useful to individual end-users, but not in the context of what I'm doing, building custom themes with their own built-in options.

No reason to apologize; I didn't read anything in your response as flippant, nor did I respond in any way that would express that I felt so. Again, I want to emphasize that I have no idea if this is a good id

[2020-06-21 08:47] #3016 closed

[2020-06-21 09:00] #2926 closed

[2020-06-21 09:05] #2947 closed

[2020-06-21 13:04] raetha commented on #3224
@PeterShaggyNoble, appreciate the offer to try these out myself, as I've gotten into doing some contributing over the past few months with a few projects. Unfortunately in this case, I have little experience with icons and the steps identified in the guidelines, so it would take me some time to learn those pieces. Right now the day job has ramped back up (I'm in healthcare in the US), and I'm find

[2020-06-21 13:10] raetha commented on #3226
@NovaGL, unfortunately I can't be sure on the icon use requirements as my background isn't really in that realm. It does appear that if they aren't used for commercial purposes they would have no royalty. And the application fee says it doesn't apply if they are used to represent a shipping method. However, since Simple Icons is an icon database, the use is really up to those who consume the icon

[2020-06-22 02:32] edgarasben opened #3240 "Request: Integromat Icon"
**Name:** Integromat
**Website:** https://www.integromat.com
**Official resources for icon and color:** Could not find

[2020-06-22 05:04] NovaGL commented on #3226
Thanks for the reply @raetha

As mentioned in your other topics, we're going to allow these icons.

When you have time feel free to do a PR.

[2020-06-22 06:37] gedenkschrift opened #3241 "Request: WTFPL License Icon"
**Name:** Do What The F*ck You Want To Public License
**Website:** http://www.wtfpl.net/
**Official resources for icon and color:**

The SVG [file](https://upload.wikimedia.org/wikipedia/commons/0/05/WTFPL_logo.svg) available on the Wikipedia [page](https://en.wikipedia.org/wiki/WTFPL).

EDIT: [SVG resource](http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl.svg) in official website

WTFPL Lice

[2020-06-22 09:46] PeterShaggyNoble commented on #3216
We could go with the stylised "MF" as used in their [favicons](https://www.metafilter.com/apple-touch-icon.png). @jonaheschwartz, as someone more familiar with the brand would you agree that that would be a recognisable representation of it?

For the colour, blue seems to be most dominant on their site with `#065a8f` being used as the primary background colour but I could see a case for the green

[2020-06-22 09:56] NovaGL commented on #3240
The icon can be found embedded in their website
https://static.integromat.com/img/logo2-dark.svg

I suggest we use color `#205e7e`

[2020-06-22 09:58] PeterShaggyNoble commented on #3215
Thanks for the request, @jonaheschwartz. Note, though, that [their press page](https://www.okcupid.com/press/) actually links to [this Dropbox folder](https://www.dropbox.com/sh/k05g7fyybh1wxrp/AABGfHmvh2wKAGYFZstSKB8Qa?dl=0) which includes EPSes of _both_ the full logo and just the "OKC", which is what I think we should go with.

On the colour, my initial reaction would have been to go with the p

[2020-06-22 10:03] NovaGL commented on #3215
@PeterShaggyNoble I think that was the color in the SVG I can't remember now why I chose that color.

[2020-06-22 10:27] PeterShaggyNoble commented on #2928
I'll get a PR in for this one today.

[2020-06-22 10:42] PeterShaggyNoble commented on #3199
Thank _you_ for taking the time to provide feedback, @mastercoms 👍

@micwoj92, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

[2020-06-22 10:45] PeterShaggyNoble commented on #3234
Reopening this until #3228 is merged.

[2020-06-22 11:17] PeterShaggyNoble commented on #3204
Some good points here, @NovaGL. The alexa rank of a site is our primary metric and cut-off; anything above 500k and it's definitely within our scope. Although, we do have precedent for rejecting requests that meet that requirement but we deem to be too niche or regional, viewing their Alexa rank as anomalous. Those _are_ few and far between, though. Outside of Alexa ranks, we do have a few other m

[2020-06-22 11:43] PeterShaggyNoble commented on #3212
[~1.7m](https://www.alexa.com/siteinfo/podcastaddict.com) now. At this rate, we should be able to revisit this one by the end of the week or early next week.

[2020-06-22 11:58] PeterShaggyNoble commented on #3230
Yeah, that's enough for me to say we shouldn't add it; we can't foresee every possible way people will be consuming our icons so we need to keep things to the "lowest common denominator" to avoid breaking _anyone_'s implementation. There are other icons libraries that have added this attribute, either to the `<svg>` or `<path>` tag, and encountered problems with it.

[2020-06-22 11:58] #3230 closed

[2020-06-22 12:18] PeterShaggyNoble commented on #3224
No, problem, @raetha. We generally give "good first issues" seven days to allow a (new) contributor to pick them up before a member of the team will take them on. Although, we're working through a backlog of PRs and requests at the moment so, practically, it's taking a bit longer than that. If this is still here when you do have some free time and you'd still like to take it on, let us know so we

[2020-06-22 12:19] bhadaway commented on #3230
Good to know.

[2020-06-22 12:26] PeterShaggyNoble commented on #3241
Thanks for the request, @gedenkschrift

This only has an Alexa ranking of [~1m](https://www.alexa.com/siteinfo/wtfpl.net), with our cut-off being 500k. Although, I don't think that's a fair assessment of the popularity of any license so we'll need to figure out some other way to assess the popularity of this one. The fact that GitHub accept it is definitely a good start but only [~22.5k](https://g

[2020-06-22 12:32] aarongerig opened #3243 "Pimcore"
**Name:**
Pimcore

**Website:**
https://pimcore.com/en

**Official resources for icon and color:**
[press-kit.zip](https://github.com/simple-icons/simple-icons/files/4813177/press-kit.zip)

[2020-06-22 12:40] ericcornelissen commented on #3241
I'd want to raise the question of whether we should consider a license as a brand. The only comparable icon I can think of is [Creative Commons](https://simpleicons.org/?q=creative%20commons), which (to me) feels a lot more like a brand than the WTF license (which, for the record, I have even used myself).

[2020-06-22 12:48] micwoj92 commented on #3199
Yes sure, but now I have 2 closing weeks of school, being busy this is low priority for me. Same goes for #3187 . I will definitely end this and the tftv before end of week 27

[2020-06-22 13:20] PeterShaggyNoble commented on #3226
This would, on its own, place this request in the same category as [AdChoices](https://github.com/simple-icons/simple-icons/issues/2465).

However, as they also state that

and it's relatively safe to assume that this is exactly what people using our library would be using this icon for, I think we can add this one. As you said @raetha, we're just a library and we cannot police _how_ people are us

[2020-06-22 13:23] PeterShaggyNoble commented on #3240
Thanks for the request, @edgarascom. Would you like to have a look through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

**Alexa rank:** [~10k](https://www.alexa.com/siteinfo/integromat.com)

[2020-06-22 13:26] PeterShaggyNoble commented on #3215
In that case, I'd like to suggest the more vibrant `#0000bf` (from [their login form](https://www.okcupid.com/login)) or `#0500be` (from their press page) as they look to be closer to the blue used in the brand guidelines linked above.

[2020-06-22 13:37] PeterShaggyNoble commented on #3243
Thanks for the request, @aarongerig.

I'd like to say we could just use the infinity symbol, made of of the "C" and the "O", which can be seen in both their favicon and cookie notification. However, as they don't mention it on [their press page](https://pimcore.com/en/media-kit) nor make it available in their press kit, I think we'll have to go with the full wordmark.

Would you like to have a rea

[2020-06-22 13:49] PeterShaggyNoble commented on #3241
Yeah, I glossed over that issue as CC was added before my time and I assumed the conversation on whether or not licenses are brands would have happened then.

To have that conversation now, then: I'd agree that licenses aren't brands but, as we have already added CC then we need to come up with a solution moving forward. Some possibilities could be:
1. We leave it at that - licenses aren't brands

[2020-06-22 13:51] PeterShaggyNoble commented on #3199
No problem, @micwoj92 and, certainly no rush 🙂

Seeing as you've already put a good bit of work into reaching out to the community and maintainers of both brands, I'm going to assign both issues to you for now so, if you find that you can't take them on yourself, please let us know either if we can help you or if you'd like us to reassign them.

[2020-06-22 13:55] aarongerig commented on #3243
I'm sure just the infinity symbol would be perfectly fine, since they use it everywhere, even in the back-end of their application (see screenshot attached).

![pimcore_backend](https://user-images.githubusercontent.com/17384333/85295808-bbfe6580-b4a0-11ea-9512-2de8722e6a33.png)

Of course, I'll prepare a PR as soon as I have some spare time. 👍

[2020-06-22 13:57] ericcornelissen commented on #3241
The discussion didn't happen at the time (see #1276 and #1322). Out of those 3 I would prefer both 2 and 3 since, again, CC does feel distinctly more brand-like than most software licenses.

I would also be okay with removing CC if necessary, but in that regard I would prefer option 2.

[2020-06-22 14:06] gedenkschrift commented on #3241
I would go for either option 2 or 3 but I am partial on the issue since I personally use both CC and WTF licenses.

Other than popularity, I would consider a license if it has a unique identifiable and recognizable logo (just like CC or WTF). Also CC is a [real organization](https://creativecommons.org/faq/#what-is-creative-commons-and-what-do-you-do), which AFAIK WTF is not. I do not know if this

[2020-06-22 14:09] gedenkschrift commented on #3241
Maybe the Wikipedia page about the license [reception](https://en.wikipedia.org/wiki/WTFPL#Usage).
I agree with you that WTF is not the most popular license.

[2020-06-22 14:14] PeterShaggyNoble commented on #3243
That would definitely be my _preference_, too, @aarongerig. But the thing to take into consideration here is that companies often have different brand guidelines for internal and external use. There are various reasons for this but the one that would seem to be relevant to this conversation is that internal brand guidelines often take into account that the branding is already established (such as

[2020-06-22 14:20] #3234 closed

[2020-06-22 14:22] aarongerig commented on #3243
What do you guys think @ckemptner @brusch, is it okay to just use the infinity symbol as icon? :)

[2020-06-22 14:28] PeterShaggyNoble commented on #3241
In this instance, unfortunately, this says it all for us:

So, I think we have to rule this particular license as out of scope for us.

[2020-06-22 14:28] #3241 closed

[2020-06-22 14:37] PeterShaggyNoble opened #3244 "Update Bootstrap"
**Name:** Bootstrap
**Official resources for icon and color:** https://v5.getbootstrap.com/

As pointed out in Templarian/MaterialDesign#5238, Bootstrap have a new logo; an SVG can be found in the header of the page linked above. However, [this blog entry](https://blog.getbootstrap.com/2020/06/16/bootstrap-5-alpha/) suggests that they won't be rolling it out completely until they get to a stable r

[2020-06-22 14:43] ckemptner commented on #3243
Go for it =)

[2020-06-22 14:47] ckemptner commented on #3243
On second thought and after checking https://simpleicons.org/ I think it would be best to use our logo without the claim and copyright. I attached it here. We are not well known enough yet to use just an icon (like Apple)

[pimcore-logo-no-claim-no-r.zip](https://github.com/simple-icons/simple-icons/files/4813878/pimcore-logo-no-claim-no-r.zip)

[2020-06-22 14:47] PeterShaggyNoble commented on #3243
Thanks for reaching out, @aarongerig and for taking the time to reply, @ckemptner, much appreciated.

[2020-06-22 15:31] #3200 closed

[2020-06-22 15:36] ericcornelissen commented on #3241
This is only applicable in so far as we simple cannot add icons without a proper logo.

I think this is a strong argument for keeping CC in the collection even if we decide that in general licences are not brands.

[2020-06-22 16:24] #3223 closed

[2020-06-22 16:50] PeterShaggyNoble opened #3247 "Keeping our markup consistent"
Following on from my side note in [this comment](https://github.com/simple-icons/simple-icons/issues/3223#issuecomment-646657173), I've run a few different RegExes with various degrees of strictness in order to identify inconsistencies in the markup of all our existing icons. The first thing to decide is which of the issues we want to fix in those and then which ones we want to lint for in the fut

[2020-06-22 19:40] PeterShaggyNoble commented on #2260
Ah, but, of course, that would then create the issue of the `<title>` tag not being correct. Feck!

[2020-06-22 19:44] PeterShaggyNoble commented on #3219
@erianvc, to assist is in dealing with and resolving this request, could you provide us with some detail on your use case for it? Do you need to be able to differentiate between Svelte & Sapper or just have the Sapper colour made available?

[2020-06-23 01:13] NovaGL commented on #3204
Thanks guys. I think i'm going to close this issue for the moment. If we decide to flesh out the readme and have a more descriptive intro we can re-open this issue.

[2020-06-23 01:13] #3204 closed

[2020-06-23 05:13] ghost opened #3248 "Eagle Software"
Name: Eagle
Website: https://en.eagle.cool/

SVG Files

[2020-06-23 08:21] PeterShaggyNoble opened #3249 "Remove Mixer"
Microsoft have [announced](https://blog.mixer.com/2020/06/22/the-next-step-for-mixer/) that they will be discontinuing their Mixer service effective the 22nd of July with accounts being transferred over to the new Facebook Gaming service.

We already have [an open PR](https://github.com/simple-icons/simple-icons/pull/3040) for Facebook Gaming so we just need to decide how to remove Mixer. We can e

[2020-06-23 11:56] PeterShaggyNoble commented on #3247
Forgot to hit "Comment" after writing up my own feedback on this last night! 🙄

1, 3, & 5 are ones I think we should definitely fix (I have a branch ready to go with those changes) and add to the linting, perhaps by expanding on the test added in #3239.

2 is not something I think we need to enforce, despite my own, strong preference for attributes to be consistently sorted in alphabetical order.

[2020-06-23 13:56] IvetaMarkova commented on #3240
Hey guys,
here you can find Integromat brand guidelines.
[Integromat logo.zip](https://github.com/simple-icons/simple-icons/files/4819844/Integromat.logo.zip)

[2020-06-23 14:49] ericcornelissen commented on #3249
I would personally keep it until v4.

[2020-06-23 14:56] mcrmfc opened #3251 "Zealous Icon Request - art showcase site"
**Name:** Zealous
**Website:** https://zealous.co/
**Alexa rank:** 1,606,285

**Official resources for icon and color:** (pending - have contacted Zealous to update)

[2020-06-23 14:57] PeterShaggyNoble commented on #3248
Thanks for the request, @Ros27.

There's a "Media Kit" link in the footer that takes you to [this Dropbox folder](https://www.dropbox.com/sh/s706q4gqpgn3wyo/AACYXW0vgbrXdX2vVeC0mqgOa) which includes a few SVGs. Unfortunately, the version they use for [their favicon](https://eagle.cool/favicon.png) isn't included, which would have been ideal for us.

**Suggested colour:** `#3b82ff`, from their webs

[2020-06-23 14:59] PeterShaggyNoble commented on #3251
Thanks for the request, @mcrmfc.

Unfortunately, the Alexa rank is below our cutoff of 500k which would place it outside our scope. Is there another metric we could take into consideration to assess the popularity of the brand and its suitability for inclusion in our library?

[2020-06-23 15:02] ericcornelissen commented on #3247
Regarding 1, 3, and 5 I personally don't feel like it is necessary to enforce this without us being able to automatically fix it. In contrast to #3239, these does not really affect the end user. The primary gain, I would say, is a slight reduction in file size of the SVGs. The consistency here, I think, is less important than easy contribution, unless the error message can be made very clear.

Reg

[2020-06-23 15:03] mcrmfc commented on #3251
Hi - I notified the company so somebody from Zealous can probably add some context that might help.  It's a really nice platform for sharing art work so probably will grow significantly - maybe we can just wait for them to add something.

[2020-06-23 15:14] PeterShaggyNoble commented on #3247
Oh, absolutely, the more we can automate, the better for all contributors. And, come to think of it, this is something SVGO would take care of, too. I'll get a PR in for the fixes, anyway.

I'll do some research on this this evening but, the fact that SVGO _doesn't_ add it if it's missing leads me to believe that I may have been wrong in my recollection.

[2020-06-23 15:23] guyarmitage commented on #3251
Hi Peter, our tech stack has not been kind to our SEO (yay realtime creation of javascript...*cough* GWT). This is something we are actively trying to remedy.

I'm not sure what you would consider a suitable metric - but we now host 25,000 artist portfolios from across the UK and are starting to have a global presence. We've also hosted competitions for hundreds of brands in the UK (Design Museum,

[2020-06-23 15:43] Ros27 commented on #3248
thank you :)

On Tue, 23 Jun 2020 at 16:57, Peter Noble <notifications@github.com> wrote:

[2020-06-24 03:27] HanselD commented on #3213
Hi @PeterShaggyNoble, since @jonaheschwartz hasn't replied in a while, I went ahead and created a PR for this #3253
First time contributing, so I appreciate any feedback. Thanks for the opportunity!

[2020-06-24 15:54] onimur opened #3254 "Request: Bintray"
**Name:** Bintray
**Website:** https://bintray.com/
**Alexa rank:** [~51.6k](https://www.alexa.com/siteinfo/bintray.com)
**Suggested Colour:** `#61a63a`
**Official resources for icon and color:**  https://bintray.com/assets/bintray-logo.png I couldn't find the official svg, just this png.

[2020-06-24 15:56] edgarascom commented on #3240
Seems complex

[2020-06-24 17:48] CoreyVidal opened #3255 "Request: FreeNAS / TrueNAS"
**Name:** FreeNAS / TrueNAS
**Website:** freenas.org / ixsystems.com
**Alexa rank:** 81,462 / 32,613

**Official resources for icon and color:**
  https://www.ixsystems.com/blog/new-new-truenas-logo-unveiled/

[2020-06-24 17:57] CoreyVidal commented on #3255
I originally came here only to request an icon for FreeNAS (which is a single-colour shark logo). But while searching for resources, I've discovered that it's about to be renamed TrueNAS, and they just recently released their new logos.

FreeNAS is free and open-source NAS (network-attached storage) operating system: https://en.wikipedia.org/wiki/FreeNAS

[2020-06-25 00:40] erianvc commented on #3219
Yes, it was to have the brand color available.
I think should be able to point to the same SVG but different color, because there are brands that use the same icon but with different flavors...

[2020-06-25 14:03] PeterShaggyNoble opened #3257 "Request: Headspace"
**Name:** Headspace
**Website:** https://www.headspace.com/
**Alexa Rank:** [~12.4k](https://www.alexa.com/siteinfo/headspace.com)
**Suggested Colour:** `#f47d31`
**Official resources for icon and color:** The circle (yeah, I know) from [this SVG](https://www.headspace.com/static/images/logo.svg) found in their website's header and confirmed by the press kit available [here](https://www.headspace.

[2020-06-25 14:18] PeterShaggyNoble commented on #3251
Thanks for taking the time to provide that info, @guyarmitage and to you, @mcrmfc for reaching out.

Looking at the Alexa rank again, it seems to be on the decline, down from ~875k on the 6th of June to 1.6m today. I get what you're saying about the SEO; that can definitely have an impact on your ranking and, from that, I take it that your brand is primarily an offline, which makes quantifying its

[2020-06-25 14:34] PeterShaggyNoble commented on #3254
Thanks for the request(s?), @onimur.

However, to better assist our contributors in fulfilling it, could you please complete the full issue template below and edit it into your original post?
[code]

[2020-06-25 14:50] guyarmitage commented on #3251
Hi Peter,

No worries at all and agree on our SEO being terrible - I saw the decline on Alexa - which means its only getting worst with time (gave me a fright - since I don't check Alexa often - well ever really - I mostly refer to Google Analytics instead and direct feedback from the community).

We've been fortunate enough to grow word of mouth - so we've mostly focussed on building valuable fea

[2020-06-25 14:52] runxel commented on #3251
Big thanks to all the participants in this thread!
Peter already pointed everything out and my view is similar. I am not averse to include Zealous, but I also would wait a bit, to see if the Alexa rank does at least stabilize somewhere. At the moment it is kind of a rollercoaster with a fluctuation of nearly a million (!).

[2020-06-25 14:55] PeterShaggyNoble commented on #3255
Thanks for the request, @CoreyVidal

First of all, to summarise everything that was mentioned here and in the linked blog entry (it was a bit confusing on the first read-through!), as much for reference by anyone requesting any of the other logos in the future. The only point below that are really relevant to this issue are 2, 3 & 7 but please correct me if I'm wrong on any of it.

1. There's a co

[2020-06-25 14:57] PeterShaggyNoble commented on #3251
OK, in that case, I'm going to close this out as "out of scope" for now but once you've finished your rebuild, @guyarmitage, please do leave a comment here and we'll be more than happy to revisit this.

[2020-06-25 14:57] #3251 closed

[2020-06-25 15:02] guyarmitage commented on #3251
Just one last thing - not sure you are using Alexa (I am sure you have a reason). But using other tools such as SEM rush is giving me a completely different profile. I suspect this is all to do with the tech we are using. But thought I would flag it for your future decisions (Alexa is giving me 27 backlinks - SEMRush 7,000+) - also Alexa thinks we're big in Lolita Porn...which is news to me!

![im

[2020-06-25 15:07] PeterShaggyNoble commented on #3219
Thanks for the feedback, @erianvc. I'm of the same opinion as you that we should have some means of including brands that use the same logo just with different colours, just without duplication of the SVG. I'm going to slap the "pending" label on this until #2260 is resolved (we're aiming to have it done for the v3 release, Sunday week) and we see if we can leverage what we're doing there to addre