[2021-03-29 22:41] #5374 closed

[2021-03-30 05:30] pathilink opened #5377 "Request: Metabase Icon"
**Brand Name: Metabase**
**Website: https://www.metabase.com/**
**Alexa rank: 47,161**

**Official resources for icon and color: https://freeicons.io/vector-and-svg-logos-icons-13/metabase-icon-8804**

[2021-03-30 08:58] #4927 closed

[2021-03-30 09:01] #3839 closed

[2021-03-30 09:16] #3592 closed

[2021-03-30 10:26] adamrusted commented on #5375
Thanks for your request @Yash-Singh1, though the icon we use was provided in 2020 by the creator of Darkreader (see https://github.com/simple-icons/simple-icons/pull/3348#issuecomment-667090608). Given the SVG you link to was last updated in 2018, I think our current version can be taken as the most 'up-to-date' and will therefore close this issue. Feel free to reopen if there is a _newer_ icon fl

[2021-03-30 10:26] #5375 closed

[2021-03-30 13:42] adamrusted commented on #5332
Hey @nektro, if you're using a vector editing software such as Inkscape or Illustrator, it should be as easy as setting the artboard size to 24x24, and then resizing the icon (maintaining the aspect ratio) to fit inside.
If you wanted to open a PR with your progress to-date, I'd be happy to have a look at troubleshooting any issues you're having!

[2021-03-30 14:15] service-paradis opened #5383 "Update Let’s Encrypt"
**Brand Name:** Let’s Encrypt
**Official resources for icon and color:**

According to https://letsencrypt.org/trademarks/#logo-and-design-mark-use, we might need to remove their icon.

Unfortunately, there are no monochrome version of their logo available at https://letsencrypt.org/trademarks/#files:
![image](https://user-images.githubusercontent.com/12817388/113003175-77df7600-9140-11eb-9cd2-95f

[2021-03-31 02:19] wangwei1237 opened #5384 "FFmpeg icon"
**Brand Name:** FFMpeg
**Website:** ffmpeg.org
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-31 02:48] MahmudX opened #5385 "Request for F# icons"
**Brand Name:** FSharp (F#)

**Website:** https://fsharp.org/

**Alexa rank:** 572629

**Official resources for icon and color:** #3B9ABF , #32C8D9

[2021-03-31 05:32] Neo42 opened #5386 "11ty"
**Brand Name:** 11ty
**Website:** https://www.11ty.dev/
**Alexa rank:** 193,980
**GitHub stars:** 8.9k

**Official resources for icon and color:** [official logo svg](https://github.com/11ty/11ty-logo/blob/master/img/logo.svg)

[2021-03-31 05:33] Neo42 commented on #5386
Hi @PeterShaggyNoble it's me again~

[2021-03-31 05:45] Neo42 opened #5387 "Immer"
**Brand Name:** Immer
**Website:** https://immerjs.github.io/immer/
**Alexa rank:** 503,987
**GitHub stars:** 19.7k

**Official resources for icon and color:** [site favicon svg](https://github.com/immerjs/immer/blob/master/website/static/img/immer-logo.svg)

[2021-03-31 05:46] Neo42 commented on #5387
@PeterShaggyNoble please assign this to me

[2021-03-31 06:03] adamrusted commented on #5385
Thanks for the request @MahmudX!
Looking at this, while the Alexa rank would put this out of scope - we can add it based on the GitHub stars of the main repo no problem. Would you like to have a read through our [contribution guidelines](./CONTRIBUTING.md) and give this one a go?

[2021-03-31 16:48] nidbCN opened #5389 "Request JetBarins CLion Icon"
**Brand Name:**
CLion
**Website:**
https://www.jetbrains.com/clion/
**Alexa rank:**
1,779

**Official resources for icon and color:**
https://www.jetbrains.com/company/brand/logos/
color: black (000000)

[2021-03-31 16:50] nidbCN opened #5390 "JetBrains ReSharper"
**Brand Name:**
ReSharper
**Website:**
https://www.jetbrains.com/resharper/
**Alexa rank:**
1,779

**Official resources for icon and color:**
https://www.jetbrains.com/company/brand/logos/
color: black (000000)

[2021-03-31 18:30] lukesalamone opened #5391 "Please add ONNX"
**Brand Name:** ONNX
**Website:** onnx.ai
**Alexa rank:** 480,199

**Official resources for icon and color:**
https://github.com/onnx/onnx

[2021-03-31 19:29] fawazsiddiqi opened #5392 "Please add CouchDB"
Brand Name: CouchDB (Apache)
Website: https://couchdb.apache.org
Alexa rank: 2,096

Official resources for icon and color:

https://couchdb.apache.org/image/couch@2x.png

[2021-04-01 03:31] sentinm opened #5393 "telegra.ph icon"
@fbernhart

**Brand Name:**  -Telegraph
**Website:**<a href="https://telegra.ph">   -telegra.ph</a>
**Alexa rank:**     - #2,385

**Official resources for icon and color:**-
 Just a simple big <b>BLACK</b> <b>" T "</b> in a pure <b>WHITE</b> background.

<p align="center"><a href="https://telegra.ph"><img src="https://telegra.ph/file/4b3865190e6ee45ee79da.jpg" width="500"></a></p>

[2021-04-01 05:26] fbernhart commented on #5393
@Poppit-pop thanks for your request.

Can you please provide the needed information (website, Alexa rank etc.)?

Otherwise we have to close this issue.

[2021-04-01 05:29] Poppit-pop commented on #5393
Wbsite telegram.ph
It's logo is just a simple big black "T" in a round white background.

[2021-04-01 10:53] congaterori commented on #5360
hm ok i see the Windows Terminal it is the same

[2021-04-01 10:55] congaterori commented on #5360
hm ok i see the Windows Terminal it is the same

[2021-04-01 12:54] andyoknen opened #5395 "Request: Bastyon Icon"
**Brand Name: Pocketnet**
**Website: https://pocketnet.app**
**Github: https://github.com/pocketnetteam**
**Alexa rank: 216,136**

**Official resources for icon and color:**
~~https://github.com/pocketnetteam/pocketnet.gui/blob/master/img/logo20.svg~~
https://github.com/pocketnetteam/pocketnet.gui/blob/978201dca0d63bc87c4c66513a67f085f2f51d83/img/logo.svg

[2021-04-01 17:53] d0t0n10n opened #5397 "Icon Request 👉 https://hackernoon.com/ 😎"
**Brand Name: HackerNoon**
**Website: https://hackernoon.com**
**Alexa rank: 15390**

**Official resources for icon and color: https://hackernoon.com/favicon.png**

[2021-04-03 09:14] congaterori opened #5403 "no cheat engine logo"
**Brand Name:cheat engine**
**Website:https://www.cheatengine.org/**
**Alexa rank:** [39,036](https://www.alexa.com/siteinfo/cheatengine.org)

**Official resources for icon and color:https://img2.freepng.fr/20180607/yiw/kisspng-roblox-cheat-engine-cheating-in-video-games-androi-cheats-5b19214e0f73c6.5896017615283735820633.jpg**

[2021-04-03 13:07] flupynho opened #5404 "Emblema KFC"
**Brand Name:** KFC
**Website:** https://kfcbrasil.com.br/
**Alexa rank:** 3.660.295

**Official resources for icon and color:**

[2021-04-03 15:04] eyaler opened #5405 "hic et nunc"
please add NFT galleries namely hicetnunc.xyz

[2021-04-03 17:35] service-paradis commented on #5405
Thanks for your request @eyaler!

Can you please provide the needed information from the following template?
[code]

Otherwise we'll have to close this issue.

[2021-04-03 20:10] fbernhart commented on #5404
@flupynho thanks for your request.

Is there a reason you're linking to the Brazilian website?

The Brazilian website has a very low Alexa rank. But the official .com website https://www.kfc.com has a quite good rank of [37,565](https://www.alexa.com/siteinfo/kfc.com).

Unfortunately I can't access it here in Germany. 🤔

Any of the other @simple-icons/maintainers can access it? And maybe check if

[2021-04-03 22:31] Arhell opened #5406 "phalcon php icon"
**Brand Name:** phalcon
**Website:** https://phalcon.io/
**Alexa rank:** 119,817

**Official resources for icon and color:**
https://github.com/phalcon/assets/blob/master/phalcon/images/svg/phalcon-logo-300x300.svg
cc @niden

[2021-04-04 08:50] adamrusted commented on #5404
I can't access kfc.com - only kfc.co.uk - though that only contains PNGs of the logo. There are SVGs available on [this page](https://www.yum.com/wps/portal/yumbrands/Yumbrands/company/our-brands/kfc) of the parent company's website - which we should be able to use (not checked for any issues within the vector).

[2021-04-04 09:28] congaterori opened #5409 "Request: VBScript"
**Brand Name:VBScript**
**Website:https://vi.wikipedia.org/wiki/VBScript**
**Alexa rank:**

**Official resources for icon and color:https://bigcode.files.wordpress.com/2016/11/vbs.png**

[2021-04-04 10:35] #5132 closed

[2021-04-04 11:59] flupynho commented on #5404
you can use this one, then!

Em dom, 4 de abr de 2021 05:51, Adam Rusted ***@***.***>
escreveu:

[2021-04-04 14:54] dash1291 opened #5410 "Add icon for Tekton"
**Brand Name:** Tekton Pipelines
**Website:**  https://tekton.dev/

**Alexa rank:** [915,410](https://www.alexa.com/siteinfo/tekton.dev)

**Official resources for icon and color:**   https://github.com/cdfoundation/artwork/tree/main/tekton

[2021-04-04 15:45] adamrusted commented on #5410
While the Alexa Rank would put this out of scope, the stars at https://github.com/tektoncd/pipeline (6.1k) would put it back into scope. Should we just refer to this as 'Tekton', given that's the web URL, and the name used when I google it (GCP, etc).

For the hex, I'd probably look to use `#FD495C` given it's the middle of the gradient, and stands out to me the most. It's worth using https://gith

[2021-04-04 16:50] Jfaler opened #5411 "Icon Request - All Trails 🌲"
Brand Name: All Trails
Website: https://alltrails.com
Alexa rank:  4,728

[2021-04-04 19:15] MahmudX commented on #5385
C'mon, don't you say that you've never heard of F#! Take a look at this repo - https://github.com/dotnet/fsharp

[2021-04-05 13:04] fawazsiddiqi commented on #5392
@adamrusted is this going forward or shall I close the issue?

[2021-04-05 15:24] tomatopickle opened #5413 "Adding Materialize CSS logo"
**Brand Name: Materialiaze CSS**
**Website: https://materializecss.com/**
**Alexa rank: 18,178**

**Official resources for icon and color: Logo:https://materializecss.com/res/materialize.svg, color:#ee6e73**

Materialize CSS is a popular open source framework that uses material UI guidelines.
Thanks

[2021-04-05 18:03] service-paradis commented on #5404
I'm not able to access kfc.com, but I can access https://www.kfc.ca/.
We can find the following SVG in the header:
![image](https://user-images.githubusercontent.com/12817388/113607694-841f7380-9617-11eb-809c-8adf8b14790e.png)
[code]

[2021-04-05 22:42] flupynho commented on #5404
It could be that image, too!

Thank you in advance!

Em seg., 5 de abr. de 2021 às 15:04, Alexandre Paradis <
***@***.***> escreveu:

--
Felippe dos Santos
Técnico judiciário

TRT-ES - ANTES DE IMPRIMIR, PENSE EM SUA RESPONSABILIDADE COM O MEIO
AMBIENTE.

[2021-04-06 05:34] StrangeRanger opened #5417 "Request: Caddy Icon"
**Brand Name:** Caddy
**Website:** https://caddyserver.com/
**Alexa rank:** https://www.alexa.com/siteinfo/caddyserver.com
**Official resources for icon and color:** [![Caddy Server SVG Logo](https://caddyserver.com/resources/images/caddy-circle-lock.svg)](https://caddyserver.com/resources/images/caddy-circle-lock.svg)

[2021-04-06 10:44] coliff opened #5419 "Coil"
**Brand Name:** Coil
**Website:** https://coil.com
**Alexa rank:** 71,424

**Official resources for icon and color:** https://press.coil.com/brand-guidelines

[2021-04-06 12:53] luximus-hunter opened #5420 "Request: Juke Icon"
**Brand Name:** Juke
**Website:** https://juke.nl/
**Alexa rank:** 332,924

**Official resources for icon and color:**

color: `#46C31D`

[2021-04-06 15:06] luximus-hunter commented on #5383
it might be best to talk to them about it, and see if they can make an exception

[2021-04-06 15:10] luximus-hunter commented on #5385
it would be out of scope looking at the alexa rank, as well as the github stars. but F# isnt an obscure unknown thing. it might be a good one to add the icon for F#, making it fall in the third option: `For anything else, popularity will be judged on a case-by-case basis`

[2021-04-06 15:21] raeffs opened #5422 "Icon Request: Verdaccio"
**Brand Name:** Verdaccio
**Website:** https://verdaccio.org/
**Alexa rank:** 733270

**Official resources for icon and color:** https://verdaccio.org/docs/en/logo

[2021-04-07 09:13] adamrusted opened #5424 "Datto icon"
**Brand Name:** Datto
**Website:** https://www.datto.com/
**Alexa rank:** [25,531](https://www.alexa.com/siteinfo/datto.com)

**Official resources for icon and color:**
Spotted when reviewing #5250.
There's an SVG available on their homepage, which appears to be a single colour.

[2021-04-09 09:22] shubhadeepmandal394 opened #5427 "Request: MATLAB Icon"
**Brand Name:** MATLAB
**Website:** https://www.mathworks.com/
**Alexa rank:** 1,862

**Official resources for icon and color:**
Logo can be found here https://en.wikipedia.org/wiki/File:Matlab_Logo.png
To create one in Matlab itself https://in.mathworks.com/help/matlab/visualize/creating-the-matlab-logo.html

[2021-04-09 09:24] adamrusted commented on #5427
Duplicate of https://github.com/simple-icons/simple-icons/pull/1233 - MATLAB is already in the project, and under discussion for removal due to the terms being quite strict on the colours involved.

[2021-04-09 09:24] #5427 closed

[2021-04-09 09:42] shubhadeepmandal394 opened #5429 "Request: Scilab Icon"
**Brand Name:**  Scilab
**Website:** https://www.scilab.org/
**Alexa rank:** 152,291

**Official resources for icon and color:**
https://www.scilab.org/sites/all/themes/scilab/images/scilab-logo.png

[2021-04-09 13:51] PeterShaggyNoble commented on #3732
OK, so that's one vote for each version. Anyone else want to weigh in to break the deadlock?

[2021-04-09 13:58] PeterShaggyNoble commented on #5296
As well as including the Alexa rank, please also note that a Google search does not qualify as an official resource for the icon or the colour.

In this case there is a media library available [here](https://www.merck.com/media/media-library/) but both logos included there are PNGs. However there _is_ [an SVG](https://www.merck.com/wp-content/themes/mco/images/site-logo.svg) available in the websi

[2021-04-09 14:18] PeterShaggyNoble commented on #5297
Spent a while digging through a good few sites & files but the only vector logos I could find were their old, pre-2018 one with the wordmark at an angle and their parent company's corporate logo 🤔

[2021-04-09 14:26] PeterShaggyNoble commented on #5299
Thanks for the request, @trevinomatt.

It doesn't look as though they actually have a logo, no SVGs to be found in their GitHub repos and the wordmark on their homepage is just text. If anyone wants to try to recreate it, the font used is [Italiana](https://fonts.google.com/specimen/Italiana).

[2021-04-09 15:18] PeterShaggyNoble commented on #5300
For anyone wanting to take this one on, vector versions of their logo can be found in the PDFs available in [their media library](https://www.abbott.com/corpnewsroom/utilities/media-library.html) and on [their investors page](https://www.abbott.com/investors.html).

[2021-04-09 15:27] PeterShaggyNoble commented on #5303
2 possible treatments below, from the SVG in their website's header. We'll need to monitor the Alexa rank of this one as it's dropped considerably, down to [~427k](https://www.alexa.com/siteinfo/juce.com) now.

![](https://user-images.githubusercontent.com/15157491/114203577-332db900-9950-11eb-9400-0cf53844295b.png)
![](https://user-images.githubusercontent.com/15157491/114203843-6ff9b000-9950-11e

[2021-04-09 15:34] PeterShaggyNoble commented on #5236
Sorry for the delay, @mikestopcontinues; by all means, fell free to work away on this one 🙂

[2021-04-09 15:39] PeterShaggyNoble commented on #5295
Brand kit is available at https://www.nzxt.com/branding

[2021-04-09 15:42] PeterShaggyNoble commented on #5301
[This SVG](https://www.gskbrandhub.com/Frontend/images/www.svg) is available at https://www.gskbrandhub.com/

[2021-04-09 15:44] PeterShaggyNoble commented on #5302
Brand guidelines and assets are available at https://press.avast.com/media-materials

[2021-04-09 15:53] PeterShaggyNoble commented on #5283
Thanks for the reply, @Sugam1111. Unfortunately, in order to use a comparison with another brand to measure popularity, we would first need to assess the popularity of that other brand, or have done so already when adding it to our library. Is their another brand, already in our library, that would be related that we can compare against? Or one not in our library that we can easily assess the popu

[2021-04-09 16:27] PeterShaggyNoble commented on #5319
- Saab _Automobiles_ has been defunct since 2012 and Saab _AB_ currently seem to cater exclusively to the defence "industry". We decied in #2777 against adding any brands that are solely in the business of war.
- Lancia is a duplicate of #4681 but if you can make a case for its popularity beyond its Alex ranks, I'd love to be able to include it.
- Rover, as a brand, was discontinued in 2005.

So,

[2021-04-09 16:30] PeterShaggyNoble commented on #5320
Thanks for the request, @ericbutler555. I haven't been able to find a vector version of their logo anywhere, would you be able to get in touch with them to see if they could provide us with one?

[2021-04-09 16:42] PeterShaggyNoble commented on #5322
Thanks for the request, @Tarun-Kamboj. There's also a logo kit available at https://razorpay.com/newsroom/brand-assets/

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-09 16:49] PeterShaggyNoble commented on #5323
Thanks for the request, @Tarun-Kamboj.

For anyone interested in taking this on: vector versions of their logo can be found in their annual reports available at https://www.tcs.com/financial-statements

[2021-04-09 16:53] PeterShaggyNoble commented on #5324
Thanks for the request, @krissemicolon. Unfortunately, its 4.8k stars on GitHub falls just below our threshold of 5k and they don't seem to have a website we can check the Alexa rank of. Before we close the issue out, though, is there another metric of popularity we could use to assess its suitability for inclusion?

Note as well that [this](https://github.com/baskerville/bspwm/blob/master/artwork

[2021-04-09 16:56] PeterShaggyNoble commented on #5329
Thanks for the request, @nishantkantojha. They have [a dedicated repo](https://github.com/stopstalk/media-resources) for media resources and I'd suggest we use [`stopstalk-small-black.svg`](https://github.com/stopstalk/media-resources/blob/master/stopstalk-small-black.svg).

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develo

[2021-04-09 16:59] PeterShaggyNoble commented on #5327
Duplicate of #2309; more information available there.

@adamrusted, we don't actually make specific mention of Disney companies in our contributing guidelines but perhaps we should given how often they come up. Maybe in the "Doesn't fall into one of the following categories" list of the "Requesting an Icon" section?

[2021-04-09 17:00] PeterShaggyNoble commented on #5330
Thanks for the request, @angeloanan.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-09 17:04] PeterShaggyNoble commented on #5333
Thanks for the request, @OldShaterhan. There's an SVG in the header of their website (markup below).

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[code]

[2021-04-09 18:34] zunigjor opened #5432 "UML icon missing"
**Brand Name:** Unified Modeling Language
**Website:** https://www.uml.org/
**Alexa rank:** # 998,669

**Official resources for icon and color:** https://en.wikipedia.org/wiki/Unified_Modeling_Language#/media/File:UML_logo.svg

[2021-04-09 18:38] krissemicolon commented on #5324
Didn't know about the 5k star policy.

There are some interesting graphs that show bspwm's huge growth in popularity, especially over the last year.
The [bspwm](https://github.com/baskerville/bspwm) repository gained over 1600 stars in the last year alone.
It's only a matter of months until bspwm will surpass your 5k star threshold.
Statistics:
- [github stars](https://star-history.t9t.io/#baskerv

[2021-04-09 18:49] arkajyotidas opened #5433 "Tindie Store"
**Brand Name:** Tindie
**Website:** https://www.tindie.com
**Alexa rank:** 48,249

**Official resources for icon and color:**

[2021-04-10 07:45] Tarun-Kamboj commented on #5322
@PeterShaggyNoble, I just opened the issue because the icon was missing on the website. I don't do graphic designing and all so it would be better if someone else contributes for this issue.

[2021-04-10 14:34] fawazsiddiqi commented on #5392
Closing due to no response

[2021-04-10 14:44] ericdallo opened #5434 "Request: datomic icon"
**Brand Name:** Datomic
**Website:** https://www.datomic.com/
**Alexa rank:** https://www.alexa.com/siteinfo/datomic.com

**Official resources for icon and color:**

[2021-04-10 17:05] mikestopcontinues commented on #5236
Should be good to go. I didn't add a "FIXES" line in the PR because it seemed like you have a deeper process in place. Let me know if there's anything else you need me for!

[2021-04-11 02:40] Neo42 commented on #5386
Duplicate of #1698

[2021-04-11 02:40] #5386 closed

[2021-04-12 00:25] SpedNSFW opened #5438 "Request: Chaturbate"
**Brand Name:** Chaturbate
**Website:** https://chaturbate.com
**Alexa rank:** [49](https://www.alexa.com/siteinfo/chaturbate.com)

**Official resources for icon and color:**

[Official logo](https://static-assets.highwebmedia.com/images/logo.svg).
I have removed all but the C in the logo as that's what they use as their favicon and it's more appropriate for an icon.
GitHub does not allow for .SVG

[2021-04-12 00:34] SpedNSFW opened #5439 "Request: ManyVids"
**Brand Name:** ManyVids
**Website:** manyvids.com
**Alexa rank:** [960](https://www.alexa.com/siteinfo/manyvids.com)

**Official resources for icon and color:**

Official media kit: https://d3e1078hs60k37.cloudfront.net/site_files/media-kit/ManyVids-Media-Kit.pdf (Linked from site footer)

Just like the Chaturbate request, I wasn't sure if adult brands were allowed but OnlyFans is up and there's

[2021-04-12 08:43] PeterShaggyNoble commented on #5438
Thanks for the requests, @SpedNSFW and for getting the debate rolling on adult sites & services. As you can see in #3588, we did have an initial discussion when OnlyFans was requested where it was decided that brands that _allow_ adult content were within our scope provided:
1. They are not _solely_ an adult service, and,
2. They don't promote themselves as an adult service.

This was actually a p

[2021-04-12 08:44] PeterShaggyNoble commented on #5439
Labelling this as pending the result of the discussion in #5438

[2021-04-12 08:50] PeterShaggyNoble commented on #5334
Thanks for the request, @OldShaterhan.

[This SVG](https://www.iris.co.uk/wp-content/themes/iris/assets/images/footer-iris-logo-white.svg) can be found in the footer of their site and, for the colour, I'd lean towards `#25313c`.

[2021-04-12 09:01] PeterShaggyNoble commented on #5336
To make a counter-argument in favour of keeping it: the buttons available to download on their brand assets page include versions with a monochrome treatment. Although it could also be argued that they are not _actually_ monochrome, they just appear to be because both the heart and the background are red.

[2021-04-12 09:02] jonathanathe opened #5440 "Request: Imou"
**Brand Name:** Imou
**Website:** https://www.imoulife.com/
**Alexa rank:** 102,278

**Official resources for icon and color:**
  https://www.imoulife.com/public/asset/images/web/logo.png

[2021-04-12 09:15] SpedNSFW commented on #5438
I'd love to hear your arguments as these are companies just like any other and it would be unfair to treat them any differently because of the type of content they host.

[2021-04-12 09:19] PeterShaggyNoble commented on #5338
Closing due to lack of response. @studionigh, if you can provide the information requested above, we'll revisit this issue.

[2021-04-12 09:19] #5338 closed

[2021-04-12 09:34] PeterShaggyNoble commented on #5343
Thanks for the request, @Nathan13888. With ~30.8k GitHub stars, this would be within our scope.

As it's easier to convert to monochrome, I suggest we base our version on `alacritty-simple.svg`. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself.

[2021-04-12 10:05] PeterShaggyNoble commented on #5358
Thanks for the request, @Yash-Singh1.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-12 10:05] PeterShaggyNoble commented on #5346
Any reply, @adamrusted?

[2021-04-12 10:08] adamrusted commented on #5346
Nope. Not heard anything.

[2021-04-12 10:09] PeterShaggyNoble commented on #5341
That it's about on a par with HeidiSQL, which would definitely be well within our scope, makes a convincing argument for me.

[2021-04-12 10:13] SpedNSFW commented on #5438
@adamrusted Do you have any reason why they shouldn't be included other than the fact that they host explicit content? They're technically just like OnlyFans. Users on those sites aren't obligated to post explicit content. There's plenty of creators using those platforms to engage in conversation and provide content with their fans. It might not be PG-13 but it's not XXX either.
Sure the sites are

[2021-04-12 10:23] PeterShaggyNoble commented on #5371
Thanks for the request, @Prashant-Kesharwani.

It looks like they have 2 different logos, one for the [desktop version](https://apps.apple.com/us/app/imovie/id408981434) and one for the [mobile version](https://apps.apple.com/us/app/imovie/id377298193). From [their website](https://apps.apple.com/us/app/imovie/id408981434) it looks to me as though the latter is the primary logo so we can either ju

[2021-04-12 10:29] PeterShaggyNoble commented on #5372
Thanks for the request, @Prashant-Kesharwani.

Although barely featured on their website at all, it looks like the correct icon for this one is the clapperboard with the colour wheel on it. But, given that that colour is a pretty significant part of it, I think a lot of the intent of the icon would be lost if we attempted to convert it monochrome and not be an accurate reflection of the brand.

[2021-04-12 10:31] adamrusted commented on #5438
@SpedNSFW my reasoning for not accepting them would be because they are primarily targeted at the hosting and sharing of adult content. The fact that users post explicit content isn't my issue (see DeviantArt for example which while it contains a lot of adult content, is primarily a platform for artists to share their work).

My point was that I don't think we as a project should explicitly includ

[2021-04-12 10:38] SpedNSFW commented on #5438
@adamrusted I should have been more clear in my initial question. Why don't you think simple-icons should include explicit brands? They're legitimate brands. They pay taxes (I hope). They have as much right to exist as any other company. Is it a matter of morals? So far the only reason I've seen against adult brands is that they contain adult content and to that I say so what. What site doesn't. H

[2021-04-12 10:50] PeterShaggyNoble commented on #5373
Thanks for the request, @jonathanathe.

However, [their guidelines](https://www.formula1.com/en/toolbar/guidelines.html) state that usage of their logos & icons requires a license so, unfortunately, we will not be able to add this one.

[2021-04-12 10:50] #5373 closed

[2021-04-12 11:07] PeterShaggyNoble commented on #5332
Are you still working on this one, @nektro?

[2021-04-12 11:12] #3567 closed

[2021-04-12 11:35] PeterShaggyNoble commented on #5384
Thanks for the request, @wangwei1237. There's no official vector version of their current logo available that I could find, only their old one, but I did find [this one](https://commons.wikimedia.org/wiki/File:FFmpeg_Logo_new.svg) on Wikipedia which we should be  able to use.

[2021-04-12 11:36] fbernhart commented on #5438
I'm agreeing with @SpedNSFW here.

Morally I don't see any reason not to add brands that explicitly contain adult content.

For me it's as well just a brand like any other.

[2021-04-12 11:39] PeterShaggyNoble commented on #5389
Thanks for the request, @nidbCN. As with other JetBrains products, though, the Alexa rank is a reflection of JetBrains' popularity, not the product's. And, as this one is not open-source, we can't use our secondary metric of GitHub stars to assess its popularity. Is there another metric you're aware of we can use? Perhaps a Google Trends comparison with a similar product that's already included in

[2021-04-12 11:41] PeterShaggyNoble commented on #5390
Thanks for the request, @nidbCN. [My comment](https://github.com/simple-icons/simple-icons/issues/5389#issuecomment-817738982) on #5389 is also applicable here, though.

[2021-04-12 11:42] nidbCN commented on #5390
Thanks for your reply.

[2021-04-12 11:47] PeterShaggyNoble commented on #5391
Thanks for the request, @lukesalamone. Note that although their Alexa ranks has since dropped below 500k, its 10k stars on GitHub keeps it within our scope.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this on yourself using one of the SVGs found in [this directory

[2021-04-12 11:52] PeterShaggyNoble commented on #5360
Yep, I'd agree that this is a file type not a brand so going to close this issue out. Thanks for the request, all the same, @congaterori.

[2021-04-12 11:52] #5360 closed

[2021-04-12 11:53] PeterShaggyNoble commented on #5395
Thanks for the request, @andyoknen.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-12 11:54] ericcornelissen commented on #5438
Though I personally also agree that there is no real reason not to include a brand like Chaturbate (i.e. brand primarily focused on adult content), I do think we should not include it. At least not in the main project. My reasoning being twofold:

- Some of our users/us as maintainers are almost definitely not going to be happy with the inclusion of these brands, whatever their reasons I do think

[2021-04-12 12:04] PeterShaggyNoble commented on #5397
Thanks for the request, @1nj3ct0rrr.

There's a PDF media kit available [here](https://sponsor.hackernoon.com/#brandasauthor) which includes vector artwork if you'd like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and give this a try yourself?

[2021-04-12 12:06] SpedNSFW commented on #5438
Why should it be taken into account? We wouldn't be forcing NSFW content down their throats. The brands would still have to meet the same criteria as every other brand. If they're not happy about adult content, they shouldn't be on the internet in the first place. If they think excluding these brands is going to stop icons from showing up, they're wrong. If someone wants to use an icon, they'll fi

[2021-04-12 12:13] nidbCN commented on #5389
[CLion, IDEA and PhpStorm on Google Trends](https://trends.google.com/trends/explore?geo=US&q=CLion,intellij%20IDEA,phpstorm)
This page is a comparison of JetBrain CLion, PhpStrom and Intellij IDEA. Both PhpStorm and IDEA have been in your project.
Obviously, CLion is more popular than PhpStrom. Even though it still has a gap with IDEA, I think is popular enough.

[2021-04-12 12:14] nidbCN commented on #5390
[CLion, IDEA and PhpStorm on Google Trends](https://trends.google.com/trends/explore?geo=US&q=PyCharm,intellij%20IDEA,phpstorm)
Just like [#5389 ](https://github.com/simple-icons/simple-icons/issues/5389). Both IDEA and PhpStorm are JetBrains Product and they are in your project. PyCharm is more popular than them.

[2021-04-12 12:48] service-paradis commented on #3956
Since we provide guidelines now, we might consider adding it.

[2021-04-12 12:51] ericcornelissen commented on #5438
I'm sorry but I don't find this argument very convincing. No, we are indeed not "forcing it down their throats" and yes the brand still need to meet the same criteria. That said, it is really not that hard to be on the internet and encounter next to no adult content (depending on your definition). And of course these icons are going to show up, that's not the concern. The concern is that it is goi

[2021-04-12 12:57] Nathan13888 commented on #5343
Hi @PeterShaggyNoble, thanks for the suggestions.

I would love to help but after reading `CONTRIBUTING.md` a number of times, I have yet to fully understand the process as I'm unfamiliar with working with SVGs in general.

For the most part I understand what the guide is trying to say but I'm confused where to start for the conversion and cleaning processes.

So far, just by looking, I could do b

[2021-04-12 13:05] SpedNSFW commented on #5438
Okay, not going to debate in this comment but I have a question/request/suggestion... I guess it depends on the answer. I am okay with NSFW icons being in a separate package, perhaps as `simple-icons/nsfw` or something of the sort, however, would these icons still be present on the website interface? Still with a toggle/warning which would be easier given they'd be in a different package. It doesn

[2021-04-12 13:13] #4633 closed

[2021-04-12 13:22] service-paradis commented on #5434
Thanks for the request, @ericdallo. Unfortunately, an Alexa Rank of 2,224,286 is below our threshold of 500k. Before closing the issue, is there another metric of popularity we could use to assess its suitability for inclusion (Github Stars, Google trends coparison, ...)?

[2021-04-12 13:28] ericdallo commented on #5434
Yes, Datomic is the most common database for Clojure, it's made by the same company that created the language Clojure, Cognitect, for Clojure users, it's a pretty important name :)
Unfortunately it's closed source, but there are free licenses for studying purposes

[2021-04-12 13:40] PeterShaggyNoble commented on #5409
Thanks for the request, @congaterori. However, to the best of my knowledge, VBScript never had any official logo or icon. The example icon you linked to is a file type icon which wouldn't be reflective of any sort of branding. Will leave this open for a few days, though, in case my memory is wrong and someone can correct me.

[2021-04-12 13:41] ericcornelissen commented on #5438
Not signing off on it here, but I'm pretty sure they can be on the website with either a warning, toggle, or separate page.

Of course the discussion can continue, and if we decide NSFW icons can be in the main project it should be pretty easy to bring all the SVGs and data over provided the NSFW project follows the same standards.

My bad, I read the section on NSFW content incorrectly, you are c

[2021-04-12 13:44] PeterShaggyNoble commented on #5411
Thanks for the request, @Jfaler.

Would you like to have read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself using the SVG found in the header of their website?

[2021-04-12 13:44] PeterShaggyNoble commented on #5413
Duplicate of #3203

[2021-04-12 13:44] #5413 closed

[2021-04-12 13:52] service-paradis commented on #5419
Hello @coliff, thank you for the request!

You can take a look at [the contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) if you want to try adding it.

[2021-04-12 13:53] PeterShaggyNoble commented on #5404
Should we not go with the KFC wordmark here? I think it would probably have better international recognition as the colonel is more of a mascot that is featured with differing prominence in differing markets - he's all over the place in America, for example, but very much less so in Ireland.

Brand assets can be found at https://global.kfc.com/asset-library/

[2021-04-12 14:10] PeterShaggyNoble commented on #5420
Thanks for the request, @luximus-hunter.

There's an SVG in the header of their website we can use to base our icon off but the question is: in the absence of any brand guidelines, do we need to use the full wordmark or would we be able to use just the crown from flipping the "E" on its side, as seen in their favicon. Being more familiar the service, do you think the crown would be a recognisable

[2021-04-12 14:22] runxel commented on #5438
Wasn't one of the concerns of @PeterShaggyNoble originally that we could be blocked by "anti virus", firewalls and therelike, since this could trigger some block lists?

[2021-04-12 14:28] luximus-hunter commented on #5420
Thanks fro your reply @PeterShaggyNoble

I think the full Juke logo as seen in the header is the best way to go. The crown is only for smaller places, like the favicon and app icon. when you open the app and website however, you only see the full logo. On the website under the login fields its also the full logo next to the logo's of the radio stations it supports.

[2021-04-12 14:36] PeterShaggyNoble commented on #5385
🤔 Tricky one, this. While the low Alexa rank may be accounted for by the fact that traffic could be split unfavourably between that site and [Microsoft's one](https://dotnet.microsoft.com/languages/fsharp), I would expect it to have more GitHub stars and activity. If the move to .NET's org were a recent one, I'd forgive the low stars but would still expect the old repo to have a higher star count.

[2021-04-12 14:43] PeterShaggyNoble commented on #5422
Thanks for the request, @raeffs. Although its Alexa rank would out it beyond our scope as our cut-off is 500k, it's [~11k GitHub stars](https://github.com/verdaccio/verdaccio/) bring it back in scope.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yoursel

[2021-04-12 14:52] SpedNSFW commented on #5438
Any anti-virus that would trigger on the type of content in this repo is not worth downloading. Firewalls don't work like that either.

[2021-04-12 14:57] PeterShaggyNoble commented on #5424
Brand guidelines can be found at https://www.datto.com/brand

[2021-04-12 15:13] PeterShaggyNoble commented on #5429
Thanks for the request, @shubhadeepmandal394.

The branding on this one seems to be all over the place; I've found 4 difference logos so far:
1. The one in the header of their website
2. A similar one without the rectangle on [their Facebook page](https://www.facebook.com/Scilab/), among other places
3. A sideways "S" in a circle on [their LinkedIn page](https://www.linkedin.com/company/scilabente

[2021-04-12 15:14] PeterShaggyNoble commented on #5432
Thanks for the request, @zunigjor but could you please complete the remainder of the issue template?

[2021-04-12 15:16] PeterShaggyNoble commented on #5324
That's certainly some impressive growth and they're already up to 4.9k stars on GH. Gonna label this as pending for a few days until it, inevitably, hits 5k.

[2021-04-12 16:07] PeterShaggyNoble commented on #5433
Thanks for the request, @arkajyotidas.

Found a couple of SVGs of the full dog on [this page](https://www.tindie.com/tindieu/) but my few attempts to edit it down to just the head ended up butchering it due to the outline being a single path. Perhaps someone more skilled than I might fare better.

[2021-04-12 16:15] PeterShaggyNoble commented on #5392
Thanks for the request, @fawazsiddiqi. Currently, with just [~4.9k GitHub stars](https://github.com/apache/couchdb/), this is beyond our scope but as it _is_ so close to our 5k cut-out point I'm going to label it as pending for now so we can monitor.

If & when it does hit 5k, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/deve

[2021-04-12 16:17] ericcornelissen commented on #5438
Maybe not for you, but for others it might be worth the trade-of.

URL filtering could theoretically apply, not an expert but I would expect that to fall under the umbrella of firewall features. Though I agree that URL filtering would only affect NSFW-related icons and not others.

[2021-04-12 16:29] PeterShaggyNoble commented on #5440
Thanks for the request, @jonathanathe.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself? You can find vector versions of their logo in some of the PDFs available in their [download centre](https://www.imoulife.com/support/download).

[2021-04-12 16:33] PeterShaggyNoble commented on #5390
As with CLion, this looks like a healthy comparison to me, with ReSharper very closely clustered with 2 brands we already include.

Would you like to take this one on yourself?

[2021-04-12 16:35] PeterShaggyNoble commented on #3956
Possibly 🤔 I'd still be opposed to it, but always happy to follow the consensus.

[2021-04-12 16:42] PeterShaggyNoble commented on #5434
Unfortunately, Datomic doesn't compare too favourably to Clojure: https://trends.google.com/trends/explore?q=datomic,clojure so, on that basis and its extremely low Alexa rank, I'm going to unfortunately agree with @service-paradis and say it's out of scope.

[2021-04-12 16:42] #5434 closed

[2021-04-12 16:53] ericdallo commented on #5434
That's sad :/ it's the most common database for clojure just like simple icons contains other common databases for other languages.
Thanks anyway for considering it

[2021-04-12 17:00] PeterShaggyNoble commented on #5434
@ericdallo, if there is there another database that we already include that compares more favourably to Datomic thane we can definitely revisit this issue?

[2021-04-12 17:10] ericdallo commented on #5434
My point is just that there are a lot of databases, it'd be nice if datomic could be added along with those
![image](https://user-images.githubusercontent.com/7820865/114433864-b2153280-9b98-11eb-9365-1a384a565e79.png)
![image](https://user-images.githubusercontent.com/7820865/114433931-c9ecb680-9b98-11eb-89e6-3364d5780f58.png)

[2021-04-12 17:25] gyananetra999 opened #5442 "Request: gyananetra icon"
Brand Name: gyananetra
Website: https://www.gyananetra.com/
Alexa rank: 182,961

Official resources for icon and color: [Government Jobs](https://www.gyananetra.com/)

[2021-04-12 17:49] jonathanathe commented on #5440
Hi @PeterShaggyNoble, I'm sorry but I'm trying to do what you are asking but I don't know how to do it. I can't manage to extract the logo.

[2021-04-12 18:20] service-paradis commented on #5200
More than a month without more info. I'm closing this for now.
Feel free to reopen this issue with needed information @NikAbrams.

[2021-04-12 18:20] #5200 closed

[2021-04-12 18:21] service-paradis commented on #5278
I'm closing this for now.
Feel free to reopen this issue with needed information @illuminator3

[2021-04-12 18:21] #5278 closed

[2021-04-12 18:26] service-paradis commented on #5434
Unfortunately, comparing popularity with those brands is not really convincing:
- https://trends.google.com/trends/explore?q=datomic,mysql
- https://trends.google.com/trends/explore?q=datomic,postgresql
- https://trends.google.com/trends/explore?q=datomic,redis
- https://trends.google.com/trends/explore?q=datomic,sqllite

[2021-04-12 18:34] raeffs commented on #5422
@PeterShaggyNoble sure, I will give it a try in the next days 🙂

[2021-04-12 19:04] ericdallo commented on #5434
yeah, datomic is not common like those since Clojure is not a programming language as known as others languages

[2021-04-12 19:33] fawazsiddiqi commented on #5392
Hey @PeterShaggyNoble thanks for the response! lets keep this open and monitor, sure thing lets wait on it for a while and see when it hits 5k, thanks

[2021-04-12 19:33] ruesma opened #5443 "Disney+"
**Disney+**
**www.disneyplus.com**
**180**

**Official resources for icon and color:**

[2021-04-12 19:49] service-paradis commented on #5443
Duplicate of #2309 (and #5327). More information available there.

[2021-04-12 19:49] #5443 closed

[2021-04-12 19:54] angeloanan commented on #5330
Sure! doing it right now.

[2021-04-12 22:49] Yash-Singh1 commented on #5358
I took an attempt at this and ended up with the following:

[code]

With the `svg` being the following:

[code]

I could resolve the rest of the errors, but these ones were not possible for me. Any suggestions on what to do?

[2021-04-13 08:41] zunigjor commented on #5432
Done

[2021-04-13 08:51] PeterShaggyNoble commented on #5432
Thanks, @zunigjor. However, based on the Alexa rank, this would be beyond the scope of this project. Before we close it out, though, is their another metric we could use to assess its popularity such as GitHub stars, usage stats or a Google Trends comparison with a similar brand either already in our collection or that would be within our scope?

[2021-04-13 09:01] jonathanathe commented on #5440
Please if anyone can help me and provide me with what I am asked for or send me a tutorial that I can understand I would appreciate it.

[2021-04-13 10:21] zunigjor commented on #5432
I'm not sure whether there is anything similar in your collection. I think UML deserves a spot in it simply because it is the most widely used modeling language in software engineering. If C, C++, Java and other programming languages are in your collection, UML should definitely be there as well.

[2021-04-13 10:27] ericcornelissen commented on #5432
I would agree that UML is popular enough based on my experience. However, I'm not super familiar with modeling languages. @zunigjor, are you aware of any other popular modeling languages which we can use to compare their Google Trends?

[2021-04-13 10:30] zunigjor commented on #5432
Other than UML I've had experience only with OntoUML and BPMN. Where OntoUML is far more conceptual and BPMN is meant for process modeling.

[2021-04-13 11:14] nidbCN commented on #5390
I am sorry that I give you a wrong link, the page that compare ReSharper with IDEA and PhpStrom is here: [ReSharper, IDEA and PhpStorm on Google Trends](https://trends.google.com/trends/explore?geo=US&q=ReSharper,intellij%20IDEA,phpstorm). I think you may be have to review this, I am sorry, that my fault.
For another issue, there is no wrong like this, I'll create a pull request for CLion first.

[2021-04-13 11:51] PeterShaggyNoble commented on #5438
Finally making it to back to this one after a long day getting caught up on notifications yesterday! Bear with me here, this is a long one (even by my standards!) and could get a little disjointed.

## Preamble
Firstly, let me reiterate that this is not about playing moral police, passing judgement on brands based on our own personal opinions & principles. If that were the case then there would be

[2021-04-13 12:36] nidbCN commented on #5389
I am surely like to add the icon myself. I had read the guidelines and create a pull request: #5447 (But there have some thing wrong)

[2021-04-13 14:30] PeterShaggyNoble commented on #5420
Thanks, @luximus-hunter 👍🏻 As they themselves use just the crown icon in restricted space such as app icons, I think we're OK to use it too as our native size is `24*24`.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-13 14:37] PeterShaggyNoble commented on #5442
Thanks for the request, @gyananetra999. However, this company doesn't appear to have any branding at all and now logo that we could base an icon off. The closest thing they have is their favicon but as that is its _only_ use, that I can see, I wouldn't say that it's a familiar enough representation of their brand for it to be identifiable as such within the context of our collection.

[2021-04-13 14:37] luximus-hunter commented on #5420
If you don't mind, I'm more then willing to take a look!

[2021-04-13 14:53] PeterShaggyNoble commented on #5368
Of the options presented, my vote would go to option 2 as it brings the added benefit of making array methods available for use without the potentially breaking change of option 3.

Option 1, for me, doesn't bring much benefit as you can already iterate over an object with `for ... in`, although it does require a few more steps to get to the same point as `for ... of`:
[code]

I'd also be perfectl

[2021-04-13 14:55] PeterShaggyNoble commented on #5420
Not only do we don't mind, we actively encourage it 🙂

[2021-04-13 15:30] luximus-hunter commented on #5420
Then I'll get to work on it as soon as I can

[2021-04-13 15:39] PeterShaggyNoble commented on #5403
Thanks for the request, @congaterori. The only official files I can find for their logo are [this PNG](https://github.com/cheat-engine/cheat-engine/blob/master/Cheat%20Engine/images/celogo.png) and [this one](https://raw.githubusercontent.com/cheat-engine/cheat-engine/master/Cheat%20Engine/images/Cheat%20Engine%20Icons/Cheat-E-Coin128x128.png) but given their small size and low quality, they'll be

[2021-04-13 15:50] PeterShaggyNoble commented on #5440
What software are you using, @jonathanathe so we can tailor our help to suit?

[2021-04-13 16:32] PeterShaggyNoble commented on #5097
Are you still planning to take this one on, @YolandaHaynes?

[2021-04-13 17:04] PeterShaggyNoble opened #5449 "Update and Rename(?) Packagist"
**Brand Name:** Packagist
**Official resources for icon and color:** [SVG](https://packagist.com/img/logo-right.svg) in [website](https://packagist.com/) header.

Packagist have undergone a rebrand and, it looks to me, like a renaming, too; they now seem to refer to themselves throughout their site as "Private Packagist".

[2021-04-13 17:49] d3v0ps opened #5451 "Add MSI Icon"
**Brand Name:** MSI
**Website:** https://www.msi.com
**Alexa rank:** https://www.alexa.com/siteinfo/msi.com

**Official resources for icon and color:** https://media.msi.com/main.php?g2_view=core.DownloadItem&g2_itemId=160744

[2021-04-13 21:16] ericbutler555 commented on #5320
Huzzah! Here's an [SVG](https://github.com/simple-icons/simple-icons/files/6306770/smashwords-logo.svg.zip) (I had to ZIP it to attach it)

[2021-04-13 23:46] MahmudX commented on #5385
I don't get it. F# is one of the most used functional programming languages out there which is created by Microsoft. It should be listed because programmers like me want to use the badge. What Alexa rank and GitHub stars have to do with this?

[2021-04-14 00:27] YolandaHaynes commented on #5097
Oh my goodness, I'm very embarrassed. I have been biting off more than I can chew. Yes. I would like to finish what I have started. Sorry for the delay.

[2021-04-14 07:24] luximus-hunter commented on #5385
Alexa rank and GitHub stars have to do with relevance of the given icon to be added. If it's a very unknown company or product, there is no reason to add it.

From what i can see, F# is only the top 4 or 5 most used functional programming language, often overtaken by others, most notably by Clojure.

[2021-04-14 08:02] jonathanathe commented on #5440
Hi @PeterShaggyNoble , I downloaded InkScape

[2021-04-14 08:35] PeterShaggyNoble commented on #5449
Scratch this; I didn't spot I'd somehow ended up on the wrong site! 🤦🏻‍♂️

[2021-04-14 08:35] #5449 closed

[2021-04-14 09:39] PeterShaggyNoble commented on #5451
Thanks for the request, @d3v0ps. Note that the files at https://media.msi.com/ are outdated:

I can't find an up-to-date corporate identity anywhere else on their site but there are a few brochures available at https://download.msi.com/archive/mnu_exe/pdf/2019_Q1_SPB_brochure.pdf that include vector version of their logo. Would you like yto have aread through [our contributing guidelines](https://

[2021-04-14 09:50] PeterShaggyNoble commented on #5320
Did they provide you with that file, @ericbutler555? If so, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself seeing as you've already put in the work in sourcing the file?

[2021-04-14 10:00] PeterShaggyNoble commented on #5385
[Comparing it with Clojure](https://trends.google.com/trends/explore?q=%2Fm%2F03yb8hb,%2Fm%2F01jt82), which is already in our library and has an Alexa rank of ~377k shows that F# is much more popular so I think we can safely call this one within our scope.

@MahmudX, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRI

[2021-04-14 10:29] PeterShaggyNoble commented on #5440
OK, so using [this PDF user manual](https://www.imoulife.com/public/asset/files/15312983335617ko19t.pdf) from their download centre:
1. Open the PDF directly in Inkscape, selecting page 1 when prompted to do so.
2. Select everything _but_ the group that includes the logo and delete it.
3. Select the remaining group and ungroup it (`Object -> Ungroup` or <kbd>Ctrl + Shift + G</kbd>) 3 times.
4. Sel

[2021-04-14 10:42] AMatisse opened #5453 "Icon Request: Forestry"
**Brand Name:** Forestry
**Website:** [https://forestry.io](https://forestry.io)
**Alexa rank:** 94,282

**Official resources for icon and color:** [https://forestry.io/img/forestry-pos-symbol.svg](https://forestry.io/img/forestry-pos-symbol.svg)

[2021-04-14 10:44] PeterShaggyNoble commented on #5453
Thanks for the request, @AMatisse.

Woudl you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and give this a try yourself?

[2021-04-14 11:40] #4212 closed

[2021-04-14 11:46] jonathanathe commented on #5440
Hi @PeterShaggyNoble , I think I've managed the programme, I'm now at point 5 but I'm not sure if it's correct.

[2021-04-14 11:47] jonathanathe commented on #5440
If I open notepad with the file I get this.

<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Imou icon</title><defs><clipPath clipPathUnits="userSpaceOnUse" id="a"><path d="M287.437 51.766h3.538z"/></clipPath><clipPath clipPathUnits="userSpaceOnUse" id="b"><path d="M287.437 51.767h3.539z"/></clipPath><clipPath clipPathUnits="userSpaceOnUse" id="d"><path d="M287.437 49

[2021-04-14 11:56] service-paradis commented on #5385
@PeterShaggyNoble Unfortunately, Google trends does not seem really relevant to the language. Everything is related to guitar chord F# in related queries...

[2021-04-14 11:57] PeterShaggyNoble commented on #5440
OK, so, from there:
1. Delete the `defs` element and its children.
2. Delete the 6 `g` elements and their children.
3. Remove the `fill` attribute from the one remaining from the one remaining `path` element.

Once that's done, it should be ready to submit a PR for review.

[2021-04-14 12:03] PeterShaggyNoble commented on #5385
Dang it! Guess I put too much faith in how smart Google Trends is based on it suggesting the programming language to me!

Back to the drawing board, so. @luximus-hunter do you have a source for those rankings of functional programming languages? If it is indeed in the top 5, that may be good enough.

[2021-04-14 12:15] luximus-hunter commented on #5385
From what i was able to collect in my small break at the office i found out that only one of the links i found wasn't in alphabetical order. My bad on that part. I pasted the link underneath here

https://www.slant.co/topics/485/~best-languages-for-learning-functional-programming

I hope this can help you.

[2021-04-14 13:45] PeterShaggyNoble commented on #5385
Thanks, @luximus-hunter. However, a good score on a review site doesn't necessarily equate to popularity with regard to usage.

Trying something else, Stackoverflow currently has 16845 questions [tagged as `[clojure]`](https://stackoverflow.com/questions/tagged/clojure) vs. 15683 [tagged as `[f#]`](https://stackoverflow.com/questions/tagged/f%23) putting them about on a par with each other which w

[2021-04-14 13:50] luximus-hunter commented on #5385
Agreed. I misread the other websites so I thought there were more good reviews.

I think this shows that both subjects have a similar amount of people asking questions about it, so if one passes, the other should too if we look at that aspect. I think that argument works pretty well.

[2021-04-14 14:23] jonathanathe commented on #5440
Is correct? @PeterShaggyNoble

`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Imou icon</title><clipPath clipPathUnits="userSpaceOnUse" id="a"><path d="M287.437 51.766h3.538z"/></clipPath><clipPath clipPathUnits="userSpaceOnUse" id="b"><path d="M287.437 51.767h3.539z"/></clipPath><clipPath clipPathUnits="userSpaceOnUse" id="d"><path d="M287.437 49.397h3.538z"/></cli

[2021-04-14 16:35] #5422 closed

[2021-04-14 16:41] sebd0 opened #5455 "Intigriti"
**Brand Name:** Intigriti
**Website:** https://www.intigriti.com/
**Alexa rank:** 106,178

**Official resources for icon and color:** https://www.intigriti.com/assets/img/intigriti/intigriti-full-logo-black-kpotnx.svg

[2021-04-14 16:57] PeterShaggyNoble commented on #5455
Tanks for the request, @sebd0.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-14 17:14] PeterShaggyNoble commented on #5085
OK, so the Alexa rank hasn't stabilised ... but it has rocketed up to ~312k!

Would you like to take this one on yourself, @putulopi? [This SVG](https://weblate.org/static/img/logo.svg?e44b1845eeec) can be found in the header of their website.

[2021-04-15 05:01] MahmudX commented on #5385
Hi, I'm suffering to combine the paths. Also if I add the `role="img"`, the SVG crashes. IDK why! :(

[2021-04-15 08:36] PeterShaggyNoble commented on #5440
You also need to remove the child elements of the elements you already removed, which will result in this:
[code]

[2021-04-15 08:46] PeterShaggyNoble commented on #5385
What software are you using, @MahmudX? To combine the paths in Inkscape:
1. After opening the SVG, select the icon and ungroup it (`Object -> Ungroup` or <kbd>Ctrl + Shift + G</kbd>`).
2. Select all 3 paths of the icon and unify them (`Path -> Union` or <kbd>Ctrl + +</kbd>).

From there, you can proceed with the resizing, etc. If you're having trouble adding the `role` attribute using your softwar

[2021-04-15 09:13] #5337 closed

[2021-04-15 09:20] jonathanathe commented on #5440
Hi @PeterShaggyNoble , perfect, I already put the code in and it went monochrome, what else should I do?

[2021-04-15 09:39] LvffY opened #5457 "Icon Requests: Hadoop and Hive"
Hi

It would be great if you could add more Big data technologies logos, like Apache Hive and/or Apache Hadoop

## Apache Hadoop

**Brand Name:** Apache hadoop
**Website:** https://hadoop.apache.org/
**Alexa rank:** 181.4 k

**Official resources for icon and color:** https://svn.apache.org/repos/asf/comdev/project-logos/originals/hadoop.svg

## Apache Hive

**Brand Name:** Apache Hive
**Website:**

[2021-04-15 09:42] PeterShaggyNoble commented on #5457
Duplicate of #3548 & #3545

Hive is already in our collection:
![Apache Hive](https://user-images.githubusercontent.com/15157491/114849017-3fde6100-9dd7-11eb-8265-5d4e7f4d55ce.png)

[2021-04-15 09:42] #5457 closed

[2021-04-15 09:43] PeterShaggyNoble commented on #5440
Next step is to open a PR for review.

[2021-04-15 09:44] LvffY commented on #5457
Hi @PeterShaggyNoble

What hadoop the Hadoop logo ?

[2021-04-15 09:48] MahmudX commented on #5385
Here is the icon code. It doesn't work if I set it to `viewBox="0 0 24 24"` IDK why. Now what? Where should I upload this SVG? The guideline says how to modify `_data/simple-icons.json` but doesn't say where to upload it.

[code]

[2021-04-15 09:52] PeterShaggyNoble commented on #5102
Outline only or fill only? I vote the first.

![](https://user-images.githubusercontent.com/15157491/114850195-6b158000-9dd8-11eb-8665-aeaa3749e34b.png)
![](https://user-images.githubusercontent.com/15157491/114850337-90a28980-9dd8-11eb-85e6-bfda9639d0a3.png)

[2021-04-15 09:57] jonathanathe commented on #5440
@PeterShaggyNoble But do I have to do any of this?

7. Update the JSON Data for SimpleIcons.org

[2021-04-15 10:01] #5330 closed

[2021-04-15 11:45] PeterShaggyNoble commented on #5385
You'll need to resize both the canvas and the icon in your SVG editor - if you let us know what software you're using, we can write up a step-by-step guide for you if you like.

Once it's ready, you can submit a PR for review.

[2021-04-15 11:46] PeterShaggyNoble commented on #5440
Yep, you can do that as part of your PR.

[2021-04-15 12:08] jonathanathe commented on #5440
@PeterShaggyNoble  It is done. Thanks for your patience ;)

[2021-04-15 13:15] adamrusted commented on #5102
See, I prefer your second option from a clarity viewpoint - but for accuracy I think the first is better.

[2021-04-15 13:40] service-paradis commented on #5102
Same here, the second one is looking better at small sizes, but the first one is a better representation of their current logo.

They also have a smaller version of their logo called `avatar`. You can see it here:
https://github.com/eclipse/jetty.project/tree/jetty-10.0.x/logos
Unfortunately, it would probably look bad as a monochrome version.

[2021-04-15 13:48] PeterShaggyNoble commented on #5102
Nice find, @service-paradis; definitely better suited to our purposes. Here's how that looks with both options. The filled version doesn't work nearly as well, I don't think.

![](https://user-images.githubusercontent.com/15157491/114879679-54335580-9df9-11eb-8346-b847364e43c7.png)
![](https://user-images.githubusercontent.com/15157491/114880019-9a88b480-9df9-11eb-9275-242ea76a92f1.png)

[2021-04-15 13:52] service-paradis commented on #5102
Oh, definitely looks better than I imagined! Something looks off with the filled version.

[2021-04-15 14:22] #5060 closed

[2021-04-15 16:01] PeterShaggyNoble commented on #5214
Closing this out after further review due to the 2 points above, particularly the second.

[2021-04-15 16:01] #5214 closed

[2021-04-15 16:44] PeterShaggyNoble commented on #5390
Sorry, @nidbCN, I should have clarified in my last comment that I spotted the incorrect link and ran my own comparison to reach that conclusion. However, I'm only now noticing that that comparison was restricted to the US; the [worldwide comparison](https://trends.google.com/trends/explore?q=ReSharper,intellij%20IDEA,phpstorm) doesn't look as good, with a significant drop-off in the past week. Whe

[2021-04-15 16:49] nidbCN commented on #5390
Ok, thanks for your clarified reply, I'll wait your decidesion. I'll watch this project and try my best to contribute simple-icon.

[2021-04-15 17:35] #5440 closed

[2021-04-15 17:37] #5389 closed

[2021-04-15 17:38] adamrusted commented on #5390
Given it fares quite well against Rider, which is already in the collection - I'd be happy for us to add it. Did you want to work on a PR for this @nidbCN?

[2021-04-15 18:38] #5166 closed

[2021-04-15 20:00] #5032 closed

[2021-04-15 20:24] pgporada commented on #5383
We're discussing this internally. Sorry that it took forever and a day to get a response. I just got an email notification about this.

[2021-04-15 20:26] service-paradis commented on #5383
No problem, thank you for the feedback :)

[2021-04-15 21:37] pgporada commented on #5383
We're in the process of adding the monochromatic images. Check our trademark page over the next day!

[2021-04-15 23:20] ayushnoori opened #5466 "Icon Request: ImageJ and FIJI"
**Brand Name:** ImageJ
**Website:** https://imagej.nih.gov/ and https://imagej.net/Fiji
**Alexa rank:** 135 (for .nih site), otherwise 166,774

**Official resources for icon and color:**  https://imagej.net/File:Fiji-icon.png.html

[2021-04-16 00:22] nidbCN commented on #5390
Sure I'd like to work on this.

[2021-04-16 14:18] SarahGran commented on #5383
Monochromatic versions are now available here: https://letsencrypt.org/trademarks/

[2021-04-16 14:20] MahmudX commented on #5385
I'm using Inkscape. Just tell me how to fix the view box issue.

[2021-04-16 16:31] dsmdavid opened #5469 "Alteryx Logo"
**Brand Name:** Alteryx
**Website:**  www.alteryx.com
**Alexa rank:**  26,320

**Official resources for icon and color:** [Press Kit](https://drive.google.com/drive/folders/1yY9HWpbe_MIDhx3g3BeBr29qis_me9GT)

[2021-04-16 16:38] dsmdavid opened #5470 "dbt icon (Data Build Tool)"
**Brand Name:** dbt
**Website:** www.getdbt.com
**Alexa rank:** [#84,798](https://www.alexa.com/siteinfo/getdbt.com)

**Official resources for icon and color:** [style guide](https://github.com/fishtown-analytics/dbt-styleguide/tree/master/_includes/icons)

[2021-04-16 19:56] bobartlett opened #5471 "Gamepedia"
**Brand Name:** Gamepedia
**Website:** [https://www.gamepedia.com/](https://www.gamepedia.com/)
**Alexa rank:** 393

**Official resources for icon and color:** [http://media-mercury.cursecdn.com/file-attachments/0/3/gamepedia-media-kit-march-2015.zip](http://media-mercury.cursecdn.com/file-attachments/0/3/gamepedia-media-kit-march-2015.zip)

[2021-04-16 23:00] lukesalamone commented on #5391
Awesome. I tried following the guidelines but it says the final svg should contain only one path element. The svg I found contains several path elements.

For reference I'm trying to use this icon: https://github.com/onnx/onnx.github.io/blob/master/images/ONNX-ICON.svg

It's not showing up on the screen when I change the viewbox to `0 0 24 24`. This is what I have after following the guide:

[code

[2021-04-17 06:42] nhtnhan opened #5473 "JUnit"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-04-17 06:50] nhtnhan opened #5474 "pytest"
**Brand Name:**pytest
**Website:** https://docs.pytest.org/en/6.2.x/
**Alexa rank:**  164,047

**Official resources for icon and color:**

  https://docs.pytest.org/en/6.2.x/_static/pytest1.png

[2021-04-17 11:53] jeremyfprice opened #5477 "Canvas"
**Brand Name:** Canvas
**Website:** https://www.instructure.com/
**Alexa rank:** 66

**Official resources for icon and color:**

[2021-04-17 14:09] mfarragher commented on #5356
I have a bit of spare time the next few days so I will give it a try and see how it goes. 🤞

[2021-04-17 16:36] mfarragher commented on #5356
I'm a novice with vector graphics and did tinkering with Inkscape so I'm pleased with how this is rendering 😄
[code]

Before doing a PR is that code OK?
Maybe there's a way to simplify those paths and the tags but that's the limit of what I can do with vector graphics.

[2021-04-17 16:59] ericcornelissen opened #5478 "Remove "icon" suffix from SVG `<title>`s"
As per [this discussion](https://github.com/simple-icons/simple-icons/discussions/5186) I open this issue to remove the "icon" suffix from SVG `<title>`s. I.e., change for example `<title>SimpleIcons icon</title>` to `<title>SimpleIcons</title>` in [the Simple Icons SVG](https://github.com/simple-icons/simple-icons/blob/6c435fe7411182ea8e09c42d77ba827e37bb79f0/icons/simpleicons.svg). To avoid any

[2021-04-17 17:04] mfarragher commented on #5385
@MahmudX I was using **Inkscape** for my icon request and figured out how to do the viewBox.  I wasn't sure how to set the viewBox in Inkscape so that was a stumbling block for me as well, but here's how I did it:

- In Inkscape, go to File → Document Properties and add a title under the Metadata tab.  Save the SVG at your chosen resolution.
- Use your SVG in the [SVGOMG Online Tool](https://jakea

[2021-04-18 08:53] anselm94 opened #5480 "UI5"
**Brand Name:** UI5
**Website:** https://openui5.org
**Alexa rank:** 6,221,393

**Official resources for icon and color:** https://openui5.org/guidelines/

[2021-04-18 09:03] dhruvkb opened #5481 "Automattic"
**Brand Name:** Automattic
**Website:** https://automattic.com
**Alexa rank:** 21,827

**Official resources for icon and color:**
[Press kit](https://automattic.com/press/brand-materials/)

Automattic generally uses the O with the slash as the brand icon.

[2021-04-18 11:19] fbernhart commented on #5480
Hello @anselm94 and welcome to Simple Icons.

Thanks for your request, but unfortunately it seems to be out of scope. As per our contribution guidelines, we're requiring an Alexa rank of below 500k or more than 5k stars on Github. And OpenUI5 has an Alexa rank of [6,219,931](https://www.alexa.com/siteinfo/openui5.org#section_traffic) and only [2.4k stars](https://github.com/SAP/openui5).

Unless y

[2021-04-18 11:31] anselm94 commented on #5480
Hello @fbernhart. UI5 is a frontend framework maintained by SAP. UI5 has two flavours, SAPUI5 and OpenUI5 with very similar brand icon, but with different licences. SAP and it's customers use both variants of UI5, and being an Enterprise framework, hasn't garnered the required public visibility and hence the low number of stars. I couldn't get any publically available numbers to back this.

Thanks

[2021-04-18 11:31] adamrusted commented on #5481
Thanks for the request @dhruvkb - this is definitely within our scope!
Though they use just the `A` in their favicon and on socials, we may need to use the full wordmark for this one. What do other @simple-icons/maintainers think?

[2021-04-18 18:30] StrangeRanger commented on #5417
@PeterShaggyNoble Is that looking for the best way to convert it to monochrome something that I should be looking into? Or is that something y'all will figure out?

[2021-04-19 00:33] dhruvkb commented on #5481
They do use the slashed O as the logo on merch like T-shirts and bags:
![bag](https://user-images.githubusercontent.com/16580576/115167214-4ff68900-a0d4-11eb-8c71-79d373604fec.jpg)
Also it's more recognisable than the 'A', especially in monochrome.

I wouldn't use the full brand name. It's too long and doesn't quite fit in with the other square icons.

[2021-04-19 03:19] wangwei1237 commented on #5384
https://commons.wikimedia.org/wiki/File:FFmpeg_Logo_new.svg is cool!

[2021-04-19 05:00] fbernhart commented on #5384
Just wanna mention the Alexa rank, which was missing in the request: [22,835](https://www.alexa.com/siteinfo/ffmpeg.org)

[2021-04-19 07:42] adamrusted commented on #5383
Thanks @pgporada and @SarahGran!
Assuming there is only the one variant allowed in monochrome (standard logo), @service-paradis would you like to update the issue and generate a PR for this?

[2021-04-19 08:07] adamrusted commented on #5481
Cool, I hadn't seen their merch - because they don't advertise it on their site 😅
Did you want to work on this one @dhruvkb?

[2021-04-19 08:09] dhruvkb commented on #5481
Sure. But I'm not good at this, so if anyone else wants to work on it, by all means, they are welcome to.

[2021-04-19 08:09] adamrusted commented on #5481
No worries! I'll assign you for now - and feel free to ask any questions either in a PR or here! 💪

[2021-04-19 10:41] iago-pssjd opened #5485 "On the Zotero icon"
**Brand Name:** Zotero
**Official resources for icon and color:** https://www.zotero.org/support/brand

I have seen issue #2175 and PR #4561. First of all thanks for the work. I would like to ask for trying to reproduce the colours as in the original icon, so the `z` is red filled, and not just its edges, and white inside. As it is currently, it is almost invisible on small images (as using it for

[2021-04-19 10:46] adamrusted commented on #5485
Hi @iago-pssjd, thanks for the comment!
Unfortunately, our library only allows for one colour, being the brand's primary colour, which is why the red was chosen. The white used in the previewer is just to offset the logo from the background. I agree that the lines being 0.35pt are a bit small, and in fact most of my PRs since have been 0.5pt to try and counteract that.

Looking again at this, I th

[2021-04-19 12:36] d3v0ps commented on #5451
HI @PeterShaggyNoble thanks for your response. I have no experience editing svg files so I'm not sure if I will be able to take this task 😓

[2021-04-19 12:53] pers0n4 opened #5486 "Request: Poetry Icon"
**Brand Name:** Poetry
**Website:** https://python-poetry.org/
**Alexa rank:** 312,392

**Official resources for icon and color:** https://python-poetry.org/images/logo-origami.svg

[2021-04-19 15:47] d3v0ps commented on #5451
@PeterShaggyNoble I've been able to extract de Icon from the PDF with Inkscape. I'll give a try but maybe I need some help

[2021-04-19 17:03] andyoknen commented on #5395
Thanks, @PeterShaggyNoble!
Yes, I will make a pull request to add an icon.

[2021-04-19 18:15] pgporada commented on #5383
I'll add the other monochrome images as soon as I get some time. (Not today because reason, sorry)

[2021-04-19 18:17] adamrusted commented on #5383
No worries! If we know they're on the way then we can wait (or adapt the colour one!)

[2021-04-19 18:31] d3v0ps commented on #5451
Hi @PeterShaggyNoble I'm not able to set the icon size properly. I don't know how to solve it. Here it's the code if you have time to take a look https://github.com/d3v0ps/simple-icons/blob/add-msi-logo/icons/msi.svg

[2021-04-20 08:51] #5377 closed

[2021-04-20 09:02] PeterShaggyNoble commented on #5232
Trickier than it first appears to convert to monochrome; this is the best I've been able to come up with so far but I think it takes too many liberties with their logo. Maybe a thinner cut-out might work better? I have seen just the wordmark in use at times but not anywhere official as yet.

![](https://user-images.githubusercontent.com/15157491/115368825-5f063580-a1bf-11eb-9e21-a27e94040bf6.png)

[2021-04-20 09:33] adamrusted commented on #5232
Do they display just the yellow square, without the text anywhere? 🤔

[2021-04-20 09:53] PeterShaggyNoble commented on #5232
Unfortunately, ideal as it would be for us, I haven't seen them using that treatment anywhere. They even include the wordmark when displaying it at small sizes (e.g., their favicon) themselves.

[2021-04-20 09:56] #5282 closed

[2021-04-20 10:02] #5333 closed

[2021-04-20 10:17] PeterShaggyNoble commented on #5466
Thanks for the requests, @ayushnoori.

With an Alexa rank of 166k, ImageJ is definitely within our scope. The only thing we have to decide here is _what_ we should use. The full microscope is not going to be fun to convert to monochrome, assuming we can find a vector version of it - my research so far would suggest that there isn't one. They do, however, have a much simpler logo which can be found

[2021-04-20 10:53] PeterShaggyNoble commented on #5469
Thanks for the request, @dsmdavid.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself using the EPS found in the "Logos" directory of their press kit?

[2021-04-20 10:55] PeterShaggyNoble commented on #5470
Thanks for the request, @dsmdavid.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and give this a try yourself?

[2021-04-20 11:09] PeterShaggyNoble commented on #5471
Thanks for the request, @bobartlett.

From the brand guidelines included in their media kit, I don't know that they allow a monochrome treatment. Most specifically, it's the incorrect usage of the light logo on a dark background that leads me to believe that, as well as the fact that they don't make a monochrome version available.

To be sure, though, would you like to reach out to their marketing

[2021-04-20 11:19] PeterShaggyNoble commented on #5471
A few potential options:
![](https://user-images.githubusercontent.com/15157491/115387001-012f1900-a1d2-11eb-8825-f15ce03998a9.png)
![](https://user-images.githubusercontent.com/15157491/115387130-27ed4f80-a1d2-11eb-9cff-96ffeb5341ba.png)
![](https://user-images.githubusercontent.com/15157491/115387405-89adb980-a1d2-11eb-98a1-090f8a5ab537.png)

[2021-04-20 11:26] PeterShaggyNoble commented on #5473
Thanks for the request, @nhtnhan.

The brandings not to clear to me in relation to what we should use for our icon; the encircled "5", the "JUnit" wordmark, or something else. Going to ping the @junit-team and @marcphilipp as the most active contributor to their primary repo for their feedback to see if they can steer us in the right direction.

[2021-04-20 11:29] PeterShaggyNoble commented on #5474
Thanks for the request, @nhtnhan.

They have a [design repo](https://github.com/pytest-dev/design/) which includes a few SVGs so would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-20 11:39] PeterShaggyNoble commented on #5477
Thanks for the request, @jeremyfprice. Although the Alexa rank is for the parent company, it looks to me like Canvas is their primary, if not only, product so I think this is one of those occasions when we can say that it is an accurate reflection of the product's popularity.

Brand guidelines are available at the end of [this page](https://www.instructure.com/media-resources) and there are a numb

[2021-04-20 11:42] PeterShaggyNoble commented on #5356
Nice work, @mfarragher, that looks like a good start to me If you let us know what software you're using we can help you merge the paths into one single path to get it ready for PR.

[2021-04-20 11:43] PeterShaggyNoble commented on #5478
I can throw together a quick script to regenerate all the icons without "icon" in the `<title>` unless someone else already has something to hand?

[2021-04-20 11:48] PeterShaggyNoble commented on #5385
To change the document & `viewBox` size in Inkscape:
1. Open the document's properties (`File -> Document Properties ...` or <kbd>Ctrl + Shift + D</kbd>)
2. Ensure the "Page" tab is selected and that the display units under "General" and "Custom size" are both set to "px"
3. Under "Scale", ensure "Scale x" is set to `1`
4. Under "Custom size" set both the width and height to `24`
5. Expand the "Vi

[2021-04-20 11:50] PeterShaggyNoble commented on #5480
Thanks for the info, @anselm94. In the absence of anything else to go on to assess its popularity, though, we are, unfortunately, going to have to rule this as being beyond our scope.

If you (or any one else) _can_ come up with an alternative metric of popularity that would allow for its inclusion in our collection then we can revisit this issue.

[2021-04-20 11:50] #5480 closed

[2021-04-20 11:54] PeterShaggyNoble commented on #5417
If you have any ideas or suggestions, @StrangeRanger then by all means feel free to weigh in 🙂

[2021-04-20 11:55] PeterShaggyNoble commented on #5384
@wangwei1237, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-20 11:56] PeterShaggyNoble commented on #5485
As it's an option they make available themselves, I too would again vote for just the "z".

[2021-04-20 12:04] PeterShaggyNoble commented on #5486
Thanks for the request, @pers0n4. Couple of possibilities here, in order of my own personal preference:
- The first uses the shine as a cut-out for the top shape and the shadow as a cut-out for the bottom shape,
- The second uses our standard `0.5` cut-out for the bottom shape,
- The third has no cut-out in the bottom shape, and,
- The fourth has no cut-outs at all, which doesn't work for me.

![]

[2021-04-20 12:10] PeterShaggyNoble commented on #5451
Nice work, @d3v0ps, that looks like a good start to me 🙂 If you're using Inkscape, you can fixe the document size by setting the custom width & height to `24` in the document's properties (`File -> Document Properties` or <kbd>Ctrl + Shift + D</kbd>`).

[2021-04-20 12:38] service-paradis commented on #5404
You're right, it might be better!

It would create a funny case for internationalization not necessarily covered by [aliases](https://github.com/simple-icons/simple-icons/pull/5369).
In Québec, they are called "Poulet Frit Kentucky" (PFK). KFC would still be recognizable by most people.
![image](https://user-images.githubusercontent.com/12817388/115396795-61629280-a1b3-11eb-86ef-d17db4c89811.png)

[2021-04-20 12:58] marcphilipp commented on #5473
Thanks for reaching out! For now, the encircled "5" is the logo of JUnit 5. Obviously, that won't work when we release JUnit 6 at some point in the future. But let's cross that bridge when we come to it. 🙂

[2021-04-20 13:09] bobartlett commented on #5471
Some great options @PeterShaggyNoble  Thank you
I have reached out to the contact and will let you know what I hear.

[2021-04-20 13:49] PeterShaggyNoble commented on #5404
I love that Québec can be more French than France sometimes! 😆 For me, if it was requested, that would fall in the same category as Burger King being known as Hungry Jack's in Australia and we'd add it as a separate icon.

[2021-04-20 13:50] ericcornelissen commented on #5478
Didn't try anything yet, but I figured a global (`icons/*.svg`) search-and-replace in most IDEs would be sufficient - e.g. replace " icon</title>" by "</title>".

That said I would be fine with a PR already open that has a script inside to do the replacements, just need to make sure to remove the script before it is merged. Alternatively, the script could just be posted in here.

[2021-04-20 13:51] PeterShaggyNoble commented on #5473
Thanks for taking the time to respond, @marcphilipp, it's much appreciated. Before we go and recreate it ourselves, would you have a vector version of that "5" icon that we could base our version off?

[2021-04-20 14:01] ayushnoori commented on #5466
Hi @PeterShaggyNoble - thanks for considering my request! (Thanks also for creating such a fantastic resource for the community!) I will look into the new ImageJ logo and get back to you. Completely agree that the full microscope doesn't seem practical at all. Will reach out to the ImageJ team.

I also suggested FIJI as FIJI is simply the distribution of ImageJ which comes with several important p

[2021-04-20 14:33] marcphilipp commented on #5473
Sure, here you go: https://raw.githubusercontent.com/junit-team/junit5/86465f4f491219ad0c0cf9c64eddca7b0edeb86f/assets/img/junit5-logo.svg

[2021-04-20 15:04] PeterShaggyNoble commented on #5466
Thanks for doing that 🙂 Let's see what they come back with.

That's a decent case for its inclusion, alright, and was my own line of thinking, too. What do the other @simple-icons/maintainers think?

No harm in including both - I have a personal goal for us to hit 2000 icons by the time we start working on v5 next month!

[2021-04-20 15:15] #5057 closed

[2021-04-20 15:16] #5453 closed

[2021-04-20 15:17] ayushnoori commented on #5466
Hi Peter - please see the topic which I just created at the ImageJ community forum here: https://forum.image.sc/t/imagej-logo-for-simple-icons/51725.

[2021-04-20 15:17] PeterShaggyNoble commented on #5473
Thanks, again, @marcphilipp 🙂

@nhtnhan, would you like to take this one on yourself? The full GitHub commit URL for the `source` entry in the JSON is https://github.com/junit-team/junit5/blob/86465f4f491219ad0c0cf9c64eddca7b0edeb86f/assets/img/junit5-logo.svg

[2021-04-20 15:25] dsmdavid commented on #5470
Thanks, Peter. Just created a pull request combining the two issues 5469 & 5470
Cheers!

[2021-04-20 15:25] dsmdavid commented on #5469
Thanks, Peter. Just created a pull request combining the two issues 5469 & 5470
Cheers!

[2021-04-20 15:34] jeremyfprice commented on #5477
Thank you @PeterShaggyNoble. Yes, it is their only product. I will work on this shortly.

[2021-04-20 15:45] PeterShaggyNoble commented on #5358
OK, so, looking at this one again, I think the first thing we need to figure out is what to do with the white outline:
1. Include it as part of the icon,
2. Do so with some sort of cut-out between it and the rest of the icon,
3. Go with the outline only, or,
4. Completely omit the outline

I vote for the 4th option; what does everyone else think? Once we get that resolved then, if you let us know

[2021-04-20 15:51] adamrusted commented on #5358
I'd go with 3 or 4 - leaning more to 4, purely on a clarity perspective.

[2021-04-20 15:52] PeterShaggyNoble commented on #5341
Given that there haven't been any objections, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself, @OfficialCRUGG?

[2021-04-20 15:56] OfficialCRUGG commented on #5341
I'm not sure if I can do that. I have Software to edit SVGs, but I'm not really that good at working with SVGs...

[2021-04-20 16:01] PeterShaggyNoble commented on #5405
Closing due to lack of activity. @eyaler, if you can provide the details requested above then we can reopen this issue.

[2021-04-20 16:01] #5405 closed

[2021-04-20 16:06] PeterShaggyNoble commented on #5406
Not sure wat the best approach to converting this one to monochrome is, or if it's even going to be possible. Simply flattening it and cutting out the eye (below) doesn't seem like enough and trying to use cut-outs to maintain the intent of the original feels like it would be too much and we'd probably lose a lot of the logo's structure that way.

![](https://user-images.githubusercontent.com/1515

[2021-04-20 17:48] ctrueden commented on #5466
Thanks @anoori for raising this, and @PeterShaggyNoble for your responsiveness. :smile:

There are two major flavors of ImageJ: ImageJ1 and ImageJ2. They have different logos.

# ImageJ1

![](https://raw.githubusercontent.com/imagej/imagej/0667395bcac20e5d7a371ac9f468522c74367d59/logo/imagej1/imagej-128.png)
The original version of ImageJ, still developed by Wayne Rasband. There are no plans to ch

[2021-04-20 18:00] adamrusted commented on #5466
Thanks @ctrueden for your in-depth response!
Given we've already established that ImageJ is good for addition, I'll start work on converting that logo to monochrome, and hopefully we can get it included in the next couple of releases. Fiji may take a little longer for us to reach a consensus on whether the citations are a good metric for us. I'm assuming (given we only allow one brand colour) the

[2021-04-20 18:25] vmbaraiya opened #5495 "Request: AWS SAM"
**Brand Name:** AWS SAM
**Website:** https://aws.amazon.com/blogs/aws/aws-serverless-application-model-sam-command-line-interface-build-test-and-debug-serverless-apps-locally/
**Alexa rank:**

**Official resources for icon and color:**

  https://aws.amazon.com/blogs/aws/aws-serverless-application-model-sam-command-line-interface-build-test-and-debug-serverless-apps-locally/

[2021-04-20 18:27] adamrusted commented on #5495
Hi @vmbaraiya, thanks for the request. Could you please fill out the template that was in the body of your request, and advise on what logo exactly you're after? I'm assuming it's the `lambda` logo, as opposed to the 'SAM' one you mention in the title?

[2021-04-20 18:29] vmbaraiya commented on #5495
I am looking for the AWS SAM logo which is squirrel with Hat. The one you can refer from this link : https://aws.amazon.com/blogs/aws/aws-serverless-application-model-sam-command-line-interface-build-test-and-debug-serverless-apps-locally/

[2021-04-20 18:30] vmbaraiya commented on #5495
Brand Name: AWS SAM
Website: https://github.com/aws/serverless-application-model/blob/master/aws_sam_introduction.png
Alexa rank: NA

[2021-04-20 19:13] jeremyfprice commented on #5477
I believe that I have added it correctly. Thank you!

[2021-04-20 19:47] Arhell commented on #5406
сс @PeterShaggyNoble
Overall good

[2021-04-20 23:11] #5424 closed

[2021-04-20 23:21] #5210 closed

[2021-04-21 08:25] Neo42 opened #5498 "Recoil"
**Brand Name:** Recoil
**Website:** https://recoiljs.org/
**Alexa rank:** 190,141
**GitHub stars:** 12.6k

**Official resources for icon and color:** [official svg logo](https://github.com/facebookexperimental/Recoil/blob/c1a899e3e7fa8fc0304f9237f64a208480086bc2/logo/SVG/logo.svg) &  #007af4

I'm on it.

[2021-04-21 08:26] Neo42 commented on #5498
I'm on it.

[2021-04-21 09:41] PeterShaggyNoble commented on #5477
We'll leave this open for tracking purposes until you submit your pull request and it gets merged.

[2021-04-21 09:44] PeterShaggyNoble commented on #5341
If you want to give it a try, @OfficialCRUGG, we can help you out if you get stuck on anything - just ask 🙂

[2021-04-21 11:10] pers0n4 commented on #5486
The second one seems natural to me.

[2021-04-21 11:20] PeterShaggyNoble commented on #5393
Trying to figure out if we follow [their favicon](https://telegra.ph/images/favicon_2x.png) which has rounded corners or [their logo](https://telegra.ph/images/logo.png) which doesn't 🤔

[2021-04-21 12:09] service-paradis commented on #3821
Reopening since they close the logo request issue:
https://github.com/axios/axios/issues/2130#issuecomment-823904970

[2021-04-21 12:15] #5387 closed

[2021-04-21 13:32] PeterShaggyNoble commented on #3821
@vishalicious213, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-21 13:43] PeterShaggyNoble commented on #5478
Got this up & running locally yesterday evening; will hold off on the PR until we get a little closer to v5.

It includes the following changes to `.svglintrc.js`:
- Delete [line 9](https://github.com/simple-icons/simple-icons/blob/develop/.svglintrc.js#L9)
- Remove `.replace(/(.*) icon/, '$1')` from [line 98](https://github.com/simple-icons/simple-icons/blob/develop/.svglintrc.js#L98)
- Replace `

[2021-04-21 13:57] #5485 closed

[2021-04-21 15:45] #5481 closed

[2021-04-21 17:32] dhruvkb opened #5503 "BrowserStack"
**Brand Name:** BrowserStack
**Website:** https://www.browserstack.com
**Alexa rank:** 6112

**Official resources for icon and color:**

Could not find any. The logo in the site-header is an SVG though.

[2021-04-21 17:34] PeterShaggyNoble commented on #5503
Duplicate of #4668

[2021-04-21 17:34] #5503 closed

[2021-04-21 17:49] dhruvkb opened #5504 "FamPay"
**Brand Name:** FamPay
**Website:** https://fampay.in
**Alexa rank:** 163,835

**Official resources for icon and color:**

The logo in the header is an SVG. Can't find any official brand guidelines though.

[2021-04-21 23:53] DenverCoder1 commented on #3556
@PeterShaggyNoble The third option with the pieces separated looks the best in my opinion. This would be a great icon to have!

[2021-04-22 00:47] DenverCoder1 opened #5506 "Request: Construct 3 Icon"
**Brand Name:** Construct 3
**Website:** https://www.construct.net/
**Alexa rank:** 33595

Construct 3 is a popular game engine by Scirra comparable to Godot or Unity

**Official resources for icon and color:**

### Media kit

Media kit and guidelines: https://www.construct.net/en/downloads/press-kit.zip

Full color and Monochrome variations (vector files included in media kit):

<div>

![image](h

[2021-04-22 00:48] YashTotale commented on #3556
Completely agree with @DenverCoder1!

[2021-04-22 03:18] wangwei1237 commented on #5384
I do, thanks for this chance~

[2021-04-22 05:34] juanpicado opened #5507 "Icon Request: pnpm"
**Brand Name:** pnpm
**Website:** https://pnpm.io/
**Alexa rank:** 2,875,768

**Official resources for icon and color:**

https://github.com/pnpm/pnpm.github.io/blob/main/static/img/logos/pnpm-standard-no-text.svg

[2021-04-22 06:57] PeterShaggyNoble commented on #5507
Duplicate of #5482

It will be available in Sunday's release.

[2021-04-22 06:57] #5507 closed

[2021-04-22 08:32] PeterShaggyNoble commented on #5495
Thanks for the request, @vmbaraiya. With 7.9k stars on GitHub this would be within our scope.

The first thing we need to figure out is whether we can consider the squirrel to be the logo or the mascot. Given that they use the squirrel in various different poses I'd be inclined to say it's a mascot and from [this video](https://www.youtube.com/watch?v=1dzihtC5LJ0) linked from their GitHub README i

[2021-04-22 09:11] PeterShaggyNoble opened #5508 "Update ICON"
**Brand Name:** ICON
**Official resources for icon and color:** https://icon.foundation/contents/resrce/media

As discovered in #5496, there are [some differences](https://user-images.githubusercontent.com/15157491/115686457-1e3e2600-a351-11eb-8c5c-06c7439d7ac2.png) between our current ICON icon (in red) and the vector files available to download above.

[2021-04-22 09:13] PeterShaggyNoble opened #5509 "Update IMDb"
**Brand Name:** IMDb
**Official resources for icon and color:** https://brand.imdb.com/imdb

Following on from a comment made on #5496, should we update our IMDb icon to use the outlined version available above? If not, we should at least double check that our current icon properly lines up with what's available to download at that new source.

[2021-04-22 09:14] PeterShaggyNoble commented on #5486
Starting to lean that way myself, @pers0n4 as the sizing of the 2 cut-outs is a bit more consistent.

[2021-04-22 09:16] PeterShaggyNoble commented on #5504
Thanks for the request, @dhruvkb. Would you like to take this one on yourself?

[2021-04-22 09:21] #5504 closed

[2021-04-22 09:43] PeterShaggyNoble commented on #5506
Thanks for the request and detailed info, @DenverCoder1.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself? We're going to have to make a tricky choice as to whether we use the icon & colour provided for light or dark backgrounds.

[2021-04-22 10:28] DenverCoder1 commented on #5506
@PeterShaggyNoble Sure!

I see what you mean since the monochrome variation for light background is slightly different.

It seems like their guidelines prefer dark background, so I think it makes more sense to use that one.

[2021-04-22 11:35] PeterShaggyNoble opened #5510 "Update Inkscape"
**Brand Name:** Inkscape
**Official resources for icon and color:** https://inkscape.org/gallery/=inkscape-branding/inkscape-brand-assets/

As noted in #5496, we need to update our Inkscape icon to match those found at the new source above.

[2021-04-22 11:37] PeterShaggyNoble opened #5511 "Update Indeed"
**Brand Name:** Indeed
**Official resources for icon and color:** https://indeed.design/resources

Following on from #5496: There are some [major differences](https://user-images.githubusercontent.com/15157491/115703412-0327e200-a362-11eb-8795-ef17f26a3ef3.png) between our current Indeed icon (in red) and those available at the new source above.

[2021-04-22 11:39] PeterShaggyNoble opened #5512 "Update InfluxData"
**Brand Name:** InfluxData
**Official resources for icon and color:** https://influxdata.github.io/branding/logo/downloads/

As noted in #5496 there are some minor differences between our current icon and those available at the new source above - [example](https://user-images.githubusercontent.com/15157491/115705713-c5788880-a364-11eb-945e-512940648ec0.png), with ours in red

[2021-04-22 11:42] PeterShaggyNoble opened #5513 "Update InfoSys"
**Brand Name:** InfoSys
**Official resources for icon and color:** https://www.infosys.com/newsroom/journalist-resources/infosyslogo.html

As noted in #5496, there are some differences between our current InfoSys icon and the AI file available at the new source above - [example](https://user-images.githubusercontent.com/15157491/115706719-dd044100-a365-11eb-9209-78ef65c7765c.png), with ours in red

[2021-04-22 11:43] PeterShaggyNoble opened #5514 "Update Internet Archive"
**Brand Name:** Internet Archive
**Official resources for icon and color:** https://archive.org/ (SVG in header)

Following on from #5496: Our current Internet Archive icon [differs significantly](https://user-images.githubusercontent.com/15157491/115707541-d629fe00-a366-11eb-867d-8cf6d8bc639e.png) from the new source above and needs to be updated.

[2021-04-22 13:03] service-paradis commented on #5509
Since they provide a "1-color" option, I think we should use it. The tricky part is they provide 2 monochrome options "1-color" and "reversed 1-color" depending on background color.

[2021-04-22 13:12] Mrcuve0 opened #5516 "IOTA Cryptocurrency"
**Brand Name:** IOTA
**Website:** www.iota.org
**Alexa rank:** 48,669 (see https://www.alexa.com/siteinfo/)

**Official resources for icon and color:** https://www.iota.org/connect/brand

[2021-04-22 13:23] DenverCoder1 opened #5517 "Request: Photopea Icon"
**Brand Name:** Photopea
**Website:** https://photopea.com
**Alexa rank:** 1507

Photopea is an open source online raster and vector image editor comparable to Photoshop.

**Official resources for icon:**

https://github.com/photopea/photopea/blob/master/logo.svg

![logo](https://cdn.jsdelivr.net/gh/photopea/photopea/logo.svg)

**Color:**

`#18A497`

[2021-04-22 13:29] DenverCoder1 commented on #5517
I would like to work on this

[2021-04-22 13:34] PeterShaggyNoble commented on #5516
Thanks for the request, @Mrcuve0.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-04-22 13:41] Mrcuve0 commented on #5516
Thank you! Sorry I read the summary guidelines in the comments of the issue but not the complete guidelines... BTW, sure!
I'll work on it!

[2021-04-22 15:20] PeterShaggyNoble commented on #5509
Of the 2, I'd vote for the outlined version; the corners of the filled version don't look right to me.

[2021-04-22 15:31] service-paradis commented on #5509
They applied a background color behind the image which is misleading, but the corner are correct when opening the image only. So it is, in fact, the same image. The first one have a black stroke and the second a white one.

[2021-04-22 15:47] PeterShaggyNoble commented on #5509
Ah, OK, that was in no way clear from what's displayed on the page! 😆 Thanks for clarifying. Outlined version it is, so, seeing as it's specifically provided for monochrome use.

[2021-04-22 16:31] PeterShaggyNoble opened #5521 "Update IVECO"
**Brand Name:**
**Official resources for icon and color:** https://www.iveco.com/germany/Pages/Home-page.aspx ([SVG](https://www.iveco.com/Common/Style%20Library/RWDIveco/images/myiveco/myiveco.svg))

Following on from #5496: The SVG @runxel originally based our IVECO icon on is no longer present at the source URL and there atr [some subtle differences](https://user-images.githubusercontent.com/15

[2021-04-22 16:35] PeterShaggyNoble opened #5522 "Update IBM to include the registered trademark symbol?"
**Brand Name:** IBM
**Official resources for icon and color:** https://www.ibm.com/design/language/ibm-logos/8-bar/

Spinning this off from #5496, the [legal requirements](https://www.ibm.com/design/language/ibm-logos/8-bar/#legal-requirements) section of the source states that:

As we, obviously, have a number of users in the US and as the phrasing for the rest of the world is, to me, ambiguous e

[2021-04-22 17:32] pgporada commented on #5383
The remainder of our monochrome logos are waiting for https://github.com/letsencrypt/website/pull/1223 to be merged.

[2021-04-22 19:03] OldShaterhan commented on #5333
@PeterShaggyNoble sorry, I forgot to look at GitHub and finish it myself. @service-paradis thanks for implementation!

[2021-04-22 23:04] service-paradis commented on #5085
There is also a repo with every graphics available in different format:
https://github.com/WeblateOrg/graphics

[2021-04-22 23:39] vmbaraiya commented on #5495
Thanks @PeterShaggyNoble for acknowledging. Well looking at the site here [IDE_Toolkit](https://aws.amazon.com/getting-started/tools-sdks/#IDE_and_IDE_Toolkits). The symbol with mascot having Lambda in it is for SAM CLI.
Also I had a look at the SAM github media folder [SAM_BANNER.png](https://github.com/aws/aws-sam-cli/blob/develop/media/sam-banner.png) seems that squirrel resemble the SAM.
I am

[2021-04-23 03:41] Venkatesh-tech opened #5525 "KFC Food brand icon is needed.. Thank you in advance"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-04-23 03:41] #5525 closed

[2021-04-23 04:33] fbernhart commented on #5525
Duplicate of #5404

[2021-04-23 04:35] Venkatesh-tech commented on #5404
I got it

[2021-04-23 06:11] adempus opened #5526 "Icon Request - Nike"
**Brand Name:** Nike
**Website:** https://www.nike.com/
**Alexa rank:** 121.4 k

Kind of surprised given the popularity, and FILA icon is included. 🤔

[2021-04-23 09:03] PeterShaggyNoble commented on #5526
Duplicate of #3585

[2021-04-23 09:03] #5526 closed

[2021-04-23 10:04] PeterShaggyNoble commented on #5404
So, are we settled on the "KFC" wordmark? Or some version that includes the colonel? Looking through [all their sites around the world](https://global.kfc.com/our-locations) the branding is different throughout but the one thing that appears most consistently is the wordmark.

[2021-04-23 10:05] adamrusted commented on #5404
I'd say our best bet is the wordmark, and as flagged by @service-paradis, anywhere that uses a different wordmark can be added separately.

[2021-04-23 10:40] PeterShaggyNoble commented on #5085
Much better source, @service-paradis, nice find 👍🏻

Suggest we use https://github.com/WeblateOrg/graphics/blob/main/logo/weblate-black.svg

[2021-04-23 10:50] #5517 closed

[2021-04-23 10:51] PeterShaggyNoble commented on #5383
Many thanks, @pgporada, we really appreciate it 🙂

[2021-04-23 11:09] PeterShaggyNoble commented on #5404
@flupynho, would you like to have a read of [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself, using the files available [here](https://global.kfc.com/asset-library/)?

[2021-04-23 12:19] #5098 closed

[2021-04-23 15:09] dhruvkb commented on #5522
Not as a legal expert, but as a user, I'd prefer if I got the logos from Simple Icons without any additional symbols.

The ® or © or ™, if needed can be added by the users of the icons based on the laws of their jurisdiction. This would preserve the essence of the icons themselves, while avoiding blanket decisions that affect users in jurisdictions where laws differ from those in the US.

[2021-04-23 15:53] PeterShaggyNoble commented on #5522
As a user and a contributor, I wholeheartedly agree with you on that front and whenever the debate comes up, whether here or internally, I'm usually the one advocating most strongly on that point.

However, there are companies who are very explicit in their requirements that a trademark symbol must be included and, as maintainers, we have to do our utmost to respect that just as we have to with an

[2021-04-23 16:43] dhruvkb commented on #5522
I initiated a feature discussion in #5530 on the implementation of trademark symbols in the icons.

[2021-04-23 20:49] vishalicious213 commented on #3821
Thanks for the offer - and sure, I'd love to give it a go!

[2021-04-24 03:15] adempus opened #5531 "Icon request - UFC"
**Brand Name:** UFC (Ultimate Fighting Championship)
**Website:** https://www.ufc.com/
**Alexa rank:** 56.5 k https://www.alexa.com/siteinfo/ufc.com

**Official resources for icon and color:**
![image](https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/UFC_Logo.svg/1920px-UFC_Logo.svg.png)
**Color:** #DC0016

UFC is the premier mixed martial arts promotion in the U.S. Seeing as there's an i

[2021-04-24 06:16] omry opened #5532 "Request: Hydra"
Hi, this is for the open source project Hydra (https://github.com/facebookresearch/hydra).
The Alexa rank and GitHub stars are not there yet but they are improving.
The project already have over 800 public dependent projects on GitHub, and many of them are mentioning Hydra in their readme. The icon would enable a readme shield for them (A quick GitHub search finds [close to 300 mentions](https://g

[2021-04-24 13:50] drthanwho opened #5533 "Safemoon Icon"
**Brand Name:** SafeMoon
**Website:** https://safemoon.net/
**Alexa rank:** 18,105

**Official resources for icon and color:**

All files for the icon and colours found here: https://safemoon.net/branding

[2021-04-25 00:45] PeterShaggyNoble commented on #5533
Thanks for the request, @drthanwho. Unfortunately, though, we won't be able to add this one as they don't allow their icon to be recoloured which we would need to do in order to make it monochrome.

[2021-04-25 00:45] #5533 closed

[2021-04-25 02:25] arghyadeep99 opened #5535 "Icon Request: OpenMined"
**Brand Name:** OpenMined
**Website:** https://www.openmined.org/
**Alexa rank:** 920,285

**Official resources for icon and color:** [Official Logo](https://www.openmined.org/static/media/logo-square-color.2b2fb62b.svg)

[2021-04-25 02:31] arghyadeep99 opened #5536 "Icon Request: PySyft"
**Brand Name:** PySyft
**Website:** [Official Website of Owner Company](https://openmined.org), [GitHub Repository of the framework](https://github.com/OpenMined/PySyft)
**Alexa rank:** 920,285
**Official resources for icon and color:** https://raw.githubusercontent.com/OpenMined/PySyft/master/docs/img/logo_big.png

[2021-04-25 06:59] adempus opened #5538 "Icon Request - Pusher"
**Brand Name:** Pusher
**Website:** https://pusher.com/
**Alexa rank:** 58.5 k https://www.alexa.com/siteinfo/pusher.com

Pusher is a communications API service that provides infrastructure for real-time messaging features in digital products.

**Official resources for icon and color:**
Their primary logo:

![image](https://avatars.githubusercontent.com/u/739550?s=280&v=4)

`#300D4F`

Plus two add

[2021-04-25 08:57] adamrusted commented on #5535
Thanks for the request @arghyadeep99 - though as per our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) this icon would currently be out of scope on it's Alexa Rank. Would you happen to have another metric we could measure it's popularity on?

[2021-04-25 08:58] adamrusted commented on #5536
Thanks @arghyadeep99 - as with OpenMined the Alexa Rank would put this out of scope, but the stars on the GitHub repo you mentioned above would put it back in scope. Is there an SVG version of the logo available that we could use when putting the icon together?

[2021-04-25 09:07] adamrusted commented on #5538
Thanks for the request @adempus - the Alexa rank (actually 15,044) would definitely put the main 'Pusher' brand within our scope. The inclusion of 'Channels' and 'Beams' may be a little more difficult, given all we can _really_ go off is their GitHub stars, which would currently put them both out of scope. If you can find another metric we can use to measure their popularity, we can reconsider - b

[2021-04-25 09:09] adamrusted commented on #5532
Thanks for the request @omry!
As you say, the rankings for this one would currently put it out of scope, but let's leave it open for a little bit to see if it manages to get in scope any time soon. While it's more complex, I feel we'd have to opt for the full logo for this one - and work out some way of making it as readable as possible in monochrome. I'll have a play with some ideas and add them

[2021-04-25 10:08] adamrusted opened #5540 "Remove Fedora"
**Brand Name:** Fedora
**Official resources for icon and color:**
As mentioned [here](https://fedoraproject.org/wiki/Logo/UsageGuidelines#One-color_logo) (found in #5539) - we should be using the full wordmark version of the Fedora logo given it's displayed in one-colour.

[2021-04-25 10:10] adamrusted opened #5541 "Update First"
**Brand Name:** First
**Official resources for icon and color:**
Found in #5539.
Official guidance on page 5 of [this PDF](https://www.firstinspires.org/sites/default/files/uploads/resource_library/brand/first-brand-guidelines-2020.pdf) would suggest we should be using the 'Vertical One-Colour' variation of the logo, including the ® mark.

[2021-04-25 10:11] adamrusted opened #5542 "Update Flickr"
**Brand Name:** Flickr
**Official resources for icon and color:**
Our previous source file for Flickr was from WorldVectorLogo. They now include an SVG in the header of their own site (which I've updated the source to in #5539 - but the SVG itself will need updating).

[2021-04-25 10:11] adamrusted opened #5543 "Update Ford (?)"
**Brand Name:** Ford
**Official resources for icon and color:**
Discovered in #5539.
I've not yet found an SVG source for this one, but the PNG 'flat' logo used on their website differs to the one we have in the collection.

[2021-04-25 10:12] adamrusted opened #5544 "Update FreeBSD"
**Brand Name:** FreeBSD
**Official resources for icon and color:**
Discovered in #5539.
As detailed [here](https://freebsdfoundation.org/legal/trademark-usage-terms-and-conditions/), we need to include the ® in the icon.

[2021-04-25 10:47] mfarragher commented on #5356
Inkscape.

I had tried methods like Union on the paths but not sure how to combine them. 🙂

[2021-04-25 16:08] omry commented on #5532
Hi Adam!
Yeah, we can wait for it to get into scope. I think the GitHub stars should bring it into scope in a 4-6 months based on current growth rate.

It's definitely a challenging one, the Hydra logo is too complex to fit as is in an icon.
I added a couple of more logos to the request (combining the mascot with the text) to give an idea about the color schema currently used.

[2021-04-25 18:15] uiuxarghya opened #5547 "Icon Request : R3"
**Brand Name:** R3
**Website:** https://www.r3.com/
**Alexa rank:** 169,484

**Official resources for icon and color:**

https://www.r3.com/contact-press-media/

[2021-04-26 08:25] arghyadeep99 commented on #5536
I am afraid I couldn't find one. It's not even there on the OpenMined website. Only found this one in the Github repository.

[2021-04-26 08:39] arghyadeep99 commented on #5535
In my other request for the logo on PySyft [here](https://github.com/simple-icons/simple-icons/issues/5536), you can check out the OpenMined repository on Github. They have a long list of repositories they work on, and the PySyft one is a pretty major framework by stars. So, I was expecting this can push the cause for having a logo for OpenMined.

[2021-04-26 11:12] adamrusted commented on #5547
Thanks for the request @uiuxarghya!
Would you like to contribute this one yourself?

[2021-04-26 22:16] adempus commented on #5538
Hi @adamrusted. Thanks for your reply. I couldn't find a popularity metric for 'Channels' and 'Beams', but the main logo should do for now since it is the main product. I haven't much experience with vector graphics creation/modification, but I can give it a try.

[2021-04-27 05:04] gabrielv33 opened #5549 "Portainer"
**Brand Name:** Portainer
**Website:** https://www.portainer.io/
**Alexa rank:** 109,739

[2021-04-27 08:30] adamrusted commented on #5549
Thanks for the request @gabrielv33 - looks like there's a decent SVG in the header of the site, in a single color - making this a nice easy contribution!
Would you like to have a go at this yourself, by following the [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon)?

[2021-04-27 10:18] aman465320 opened #5550 "Music"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-04-27 11:51] service-paradis commented on #5550
Hello @aman465320 . If you want an icon to be added, you have to provide the needed information from the issue template:

Also, are you really asking for a brand named "Music"? If not, you can close this issue since SimpleIcons provide icons for popular brand.

[2021-04-27 12:33] uiuxarghya commented on #5547
Yes, I have contributed to this one myself.
I have added the [r3.svg](https://www.r3.com/wp-content/themes/r3/assets/images/logo.svg) logo and the hex color code for the red color `#EC1D24` and have updated the required documents.

[2021-04-27 15:20] b-stein opened #5552 "Ember.js badge"
**Brand Name:** Ember.js
**Website:** https://emberjs.com/
**Alexa rank:** 88,436
**Official resources for icon and color:** https://emberjs.com/logos/

[2021-04-27 15:24] PeterShaggyNoble commented on #5552
Please ensure you search before posting requests; we already have an Ember.js icon:

![](https://user-images.githubusercontent.com/15157491/116268132-eed65180-a774-11eb-86bc-1419733219a9.png)

Duplicate of #2075

[2021-04-27 15:24] #5552 closed

[2021-04-27 15:27] PeterShaggyNoble commented on #5540
Note that our current icon was provided, via Font Awesome, by a member of the Fedora design team and is used with their blessing. See #2282 and the linked issue in FA's repo for more details.

[2021-04-27 15:31] PeterShaggyNoble commented on #5542
Already taken care of in #5500

[2021-04-27 15:54] PeterShaggyNoble commented on #5543
At the time I added this, they were using that treatment in a few places including in a base-64 encoded SVG in their website's footer. That's since been removed but there are still a number of SVGs like [this one](https://www.ford.com/cmslibs/etc/designs/brand_ford/brand/skin/ford/img/ford-loader.svg) to be found in [their website's stylesheet](https://www.ford.com/cmslibs/etc/designs/brand_ford/b

[2021-04-27 16:24] PeterShaggyNoble commented on #5531
Thanks for the request, @adempus.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself, using the SVG in the header of their website? From their stylesheet, it looks to be like the colour should be `#d20a0a`.

[2021-04-27 20:51] warengonzaga opened #5554 "StackHawk Icon"
**Brand Name:** StackHawk
**Website:** https://stackhawk.com
**Alexa rank:** 570,884

**Official resources for icon and color:**

 I got a copy of StackHawk press kit as they are my sponsor.
 [stackhawk-press-kit2.zip](https://github.com/simple-icons/simple-icons/files/6387578/stackhawk-press-kit2.zip)

[2021-04-28 04:55] foo-dogsquared commented on #5540
I forgot to file an issue about this but a [new icon is considered recently](https://www.youtube.com/watch?v=cHE3bgDo5Xg) and it is already used on the website.

[2021-04-28 06:09] adempus commented on #5531
Sure thing. Thanks for the color correction. I'll have a crack at it!

[2021-04-28 07:37] #5542 closed

[2021-04-28 09:40] sahilk opened #5557 "Request: Dunzo"
**Brand Name:** Dunzo
**Website:** https://www.dunzo.com/
**Alexa rank:** 30,437

**Official resources for icon and color:** https://www.behance.net/gallery/71959541/DUNZO-Rebranding

[2021-04-28 09:45] sahilk opened #5558 "Request: Sendgrid"
**Brand Name:** Sendgrid
**Website:** https://sendgrid.com/
**Alexa rank:** 6,063

**Official resources for icon and color:** https://sendgrid.com/resource/brand/

[2021-04-28 09:56] PeterShaggyNoble commented on #5540
Thanks, @foo-dogsquared, great to see that finally being rolled out 🙂

Going to ping @mairin here to check that we're OK to update to the new icon straight away, seeing as there is mentioned of some legalities yet to be resolved in the video linked above or if we should hold off for now. Also, when we _do_ update, would you prefer for us to remove the current version, as it was never intended to b

[2021-04-28 10:05] PeterShaggyNoble commented on #5554
Thanks for the request, @WarenGonzaga. However, with an Alexa rank lower than our 500k cut-off and next to no stars on any of [their GitHub repos](https://github.com/kaakaww), this would be beyond our scope. Is there another metric we could use to assess its popularity, though, before we reject it?

Separately to that, for your own sake, if you do not have their permission to redistribute their pr

[2021-04-28 10:17] WarenGonzaga commented on #5554
Hi @PeterShaggyNoble ! Thanks for the response. I talk to StackHawk representative about this and let's wait for their response. May be they will comment here. Cheers!

[2021-04-28 10:21] foo-dogsquared opened #5559 "Update Hello Fresh"
**Brand Name:** Hello Fresh
**Official resources for icon and color:** https://www.hellofresh.com/about/press

On another note, it'll be interesting how this will be converted into monochrome.

[2021-04-28 12:05] service-paradis commented on #5558
Sendgrid was requested a while ago (https://github.com/simple-icons/simple-icons/issues/470#issuecomment-332010010) and got unfortunately rejected. It would be difficult to convert it to monochrome without losing the brand.
I will ask what other @simple-icons/maintainers think about it before closing it again!

[2021-04-28 12:35] #5410 closed

[2021-04-28 12:40] service-paradis opened #5560 "Update Plex icon?"
**Brand Name:** Plex
**Official resources for icon and color:** https://brand.plex.tv/d/qxmJ3odkK0fj/style-guide

According to https://brand.plex.tv/d/qxmJ3odkK0fj/style-guide, it looks like we might need to use the full wordmark (`plex-logo-mono.`eps) instead of the app icon.

What do other @simple-icons/maintainers think?

[2021-04-28 12:44] dash1291 commented on #5410
Almost forgot about this. Thanks @PeterShaggyNoble for doing this.

[2021-04-28 12:45] service-paradis opened #5561 "Update PostgreSQL icon"
**Brand Name:** PostgreSQL
**Official resources for icon and color:** https://wiki.postgresql.org/wiki/Logo

As reviewed in #5398, I think we should use the official monochrome version available at https://wiki.postgresql.org/wiki/Logo
![image](https://user-images.githubusercontent.com/12817388/116405749-fa218f80-a7fd-11eb-803e-802aa5c93214.png)

[2021-04-28 12:48] service-paradis opened #5562 "Update Power BI icon"
![image](https://user-images.githubusercontent.com/12817388/116406294-803dd600-a7fe-11eb-8246-64c29994c35a.png)

**Brand Name:** Power BI
**Official resources for icon and color:**

- https://powerbi.microsoft.com/en-us/
- https://powerbi.microsoft.com/pictures/application-logos/svg/powerbi.svg
- https://en.wikipedia.org/wiki/Microsoft_Power_BI#/media/File:Power_BI_logo.svg

[2021-04-28 13:41] service-paradis commented on #5383
Closing this one since #5529 have been merged with the official monochrome version.
A big thanks to @pgporada 💯

[2021-04-28 13:41] #5383 closed

[2021-04-28 13:50] adamrusted commented on #5535
Just returning to this - I've contacted OpenMined on [Twitter](https://twitter.com/AdamRusted/status/1386962333306654721), and they've linked to [this repo](https://github.com/OpenMined/design-assets) which has Sketch files of the main OpenMined logo (and I'm assuming some of their projects also?). Given I'm on Windows, I'm unable to open these files though. Is anyone else able to take a look?

[2021-04-28 13:51] adamrusted commented on #5536
As mentioned in https://github.com/simple-icons/simple-icons/issues/5535#issuecomment-828471881 - OpenMined have linked to a repo with .sketch files - which I'm not able to open. Perhaps there is a `Syft` icon within one of those projects we could extract?

[2021-04-28 13:52] adamrusted commented on #5538
No worries! I'll assign you to this Issue for now, and if you have any problems - feel free to give me a shout.

[2021-04-28 14:06] adamrusted commented on #5558
Yeah, given their 'monochrome' treatment on the brand page is still varying degrees of alpha/grey, I don't think we can include this as-is. Will wait for more feedback before closing though.

[2021-04-28 14:08] adamrusted commented on #5560
If they're that explicit in the guidelines, I'd say yes.
I know we've got a few other _app icons_ in the project, but (I think) they're when there's nothing explicit stating they can't be used.

[2021-04-28 14:14] #5055 closed

[2021-04-28 14:16] #5097 closed

[2021-04-28 14:28] mairin commented on #5540
Yes you can go ahead and update to the new logo, are you pulling from font awesome as an upstream?
Also "with their blessing" is definitely a way to describe what happened, but, there is a lot of nuance there...

[2021-04-28 14:29] mairin commented on #5540
Oh I am looking at your project description - we do not allow for SVG copies of our logo to be redistributed....

[2021-04-28 14:31] PeterShaggyNoble commented on #5541
Once the `guidelines` entry is present, I _think_ we should be able to get away with it based on this paragraph below from page 10:

[2021-04-28 14:40] PeterShaggyNoble commented on #5356
OK, so, using your current version as the starting point:
1. Select the 3 white paths and unify them (`Path -> Union` or <kbd>Ctrl + +</kbd>)
2. Select the resulting path and the main path of the head
3. Get the difference of the 2 paths (`Path -> Difference`  or <kbd>Ctrl + -</kbd>)
4. Select all other paths bar the main one and remove them

And that should do it. Any other issues we can address

[2021-04-28 14:46] PeterShaggyNoble commented on #5532
Just using the outline would be my suggestion:

![](https://user-images.githubusercontent.com/15157491/116423711-d891c980-a838-11eb-8db1-2e8ac899fc6f.png)

[2021-04-28 15:11] #5095 closed

[2021-04-28 15:24] PeterShaggyNoble commented on #5557
Thanks for the request, @sahilk. Looks like we should be OK to use just the "D" but I think we'd have to include the square background with it. The only SVG vector file I've been able to find so far is [this one](https://commons.wikimedia.org/wiki/File:Dunzo_Logo.svg) on Wikimedia which is used on their English Wikipedia page.

[2021-04-28 15:31] PeterShaggyNoble commented on #5559
I guess all we can do is just use the filled shape 🤷🏻‍♂️ Can't find a vector version anywhere, though.

Strangely, they're still using the old version in [their press releases](https://www.hellofreshgroup.com/en/newsroom/).

[2021-04-28 16:13] PeterShaggyNoble commented on #5536
There's an SVG available at https://github.com/OpenMined/openmined-website/blob/master/src/containers/app/components/repo-icon/assets/syft.svg

[2021-04-28 16:16] PeterShaggyNoble commented on #5535
I agree with @adamrusted here that, on Alexa rank alone, this is beyond our scope. The fact that there has been a _significant_ drop in that rank this month doesn't help its case, either. Also, popularity of a product or brand doesn't always necessarily speak to the popularity of the parent company.

[2021-04-28 16:19] PeterShaggyNoble commented on #5538
Are there any other brands already in our collection (or that would be within our scope) that would be similar to Channels or Beams and that we could use to try to make a comparison through Google Trends?

[2021-04-28 16:20] PeterShaggyNoble commented on #5558
Agreed. That they only provide a mono_tone_ version without a mono_chrome_ one and that they state "Do not modify or alter the marquees" means we are, unfortunately, unable to add this.

[2021-04-28 16:21] #5558 closed

[2021-04-28 16:26] PeterShaggyNoble commented on #5540
Thanks for getting back to us, @mairin 🙂

That's a shame but we'll get this queued up for removal in our next major release, due in the next few weeks.

[2021-04-28 16:41] PeterShaggyNoble commented on #5560
I'd argue that our icon is for the Plex _app_ rather than the company which would allow us to stick with the icon, although we may need to update it to include the square.

The alternative solution would be to add Plex Media Server allowing us to use the encircled icon or, alternatively, just rename our existing icon.

This also [came up](https://github.com/simple-icons/simple-icons/issues/2526#is

[2021-04-28 17:41] omry commented on #5532
As it, it seems too hard to identify, at least in your screen shot:
![image](https://user-images.githubusercontent.com/376455/116448683-3eb52700-a80e-11eb-9688-f86ae2fad26e.png)

[2021-04-28 19:10] mairin commented on #5540
@PeterShaggyNoble if you put in a request to logo@fedoraproject.org (as per https://fedoraproject.org/wiki/UsageGuidelines) I can try to see if I can get advisement if there are any options here

[2021-04-28 19:47] TheJaredWilcurt opened #5566 "Request: NW.js"
**Brand Name:** NW.js (formerly Node-Webkit)
**Website:** https://nwjs.io
**Alexa rank:** 198,363

**Official resources for icon and color:**

The original designer (Jeroen Ransijn) created two versions.

A skeuomorphic design, that is used in most branding:

* [Highest res version](https://cl.ly/L3sf)

And a smaller vector version that was never officially adopted, but could be used as guidance o

[2021-04-28 22:24] BobcatProgrammer opened #5567 "traefik proxy"
**Brand Name:** traefik
**Website:** https://traefik.io/
**Alexa rank:** 82,391

**Official resources for icon and color:**
https://traefik.io/press/#press-kit

[2021-04-29 00:49] adempus commented on #5538
I'm seeing no data on Pusher Channels or Beams on Google Trends 🤷🏾‍♂️

[2021-04-29 05:28] adempus opened #5570 "Icon request - Adafruit"
**Brand Name:** Adafruit
**Website:** https://www.adafruit.com/
**Alexa rank:** 10,849 https://www.alexa.com/siteinfo/adafruit.com#section_traffic

Adafruit is a company providing open-source hardware, electronics components, tools, accessories and learning resources for DIY professionals and hobbyist.

**Official resources for icon and color:**
![image](https://d2794n4cyhr13z.cloudfront.net/packs

[2021-04-29 12:59] lukeholder commented on #5332
@PeterShaggyNoble @nektro I have made a PR: https://github.com/simple-icons/simple-icons/pull/5572

[2021-04-29 21:36] konradlu opened #5574 "Protractor icon"
**Brand Name: Protractor**
**Website: https://www.protractortest.org**
**Alexa rank:406,878** https://www.alexa.com/siteinfo/protractortest.org

**Official resources for icon:** https://github.com/angular/protractor/blob/master/website/img/favicon.ico
**color: e23237**

[2021-04-29 22:06] TheHolyWaterme1on opened #5575 "Icon request for Processing IDE"
**Brand Name:** Processing
**Website:** https://processing.org/
**Alexa Rank:** #41,859 https://www.alexa.com/siteinfo/processing.org
**Official resource for icons:** https://commons.wikimedia.org/wiki/File:Processing_3_logo.png

[2021-04-29 22:28] PeterShaggyNoble commented on #5575
Duplicate of #4885

[2021-04-29 22:28] #5575 closed

[2021-04-30 07:49] adamrusted commented on #5536
Amazing @PeterShaggyNoble! 💪

@arghyadeep99 - would you fancy [contributing ](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon)this icon, based on the SVG above?
Not sure what the hex for `Syft` would be - but we can cross that bridge when we come to it!

[2021-04-30 18:59] MS-brahim opened #5578 "![PostgreSQL](https://img.shields.io/badge/-PostgreSQL-black?style=flat-square&logo=PostgreSQL)"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-04-30 20:49] adamrusted commented on #5578
Hi @MS-brahim - could you please elaborate on what your issue is?

PostgreSQL is already part of our library, and is actually in discussion for update at the moment (see #5561). I'll look to close this issue out over the weekend as a duplicate, unless there's another reason for you opening it.

[2021-05-01 03:27] BeegCat opened #5580 "Sololearn"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-05-01 04:38] foo-dogsquared opened #5582 "Thingiverse (3D design platform)"
**Brand Name:** Thingiverse
**Website:** https://www.thingiverse.com/
**Alexa rank:** [~1.3k as of 2021-05-01](https://www.alexa.com/siteinfo/thingiverse.com)

**Official resources for icon and color:**
- Found no media kits or something similar but the favicon is a good candidate. It appears on their social media consistently. There is an SVG on the website header.
- Chosen color would be #248BFB

[2021-05-01 04:41] foo-dogsquared commented on #5570
There is an SVG on the footer of the website with the flower logomark unless there is a policy enforcing the whole logo should be used.

[2021-05-01 08:27] fbernhart commented on #5580
@BeegCat thanks for your request.

Can you please provide the needed information?

Brand Name:
Website:
Alexa rank:

Official resources for icon and color:

Otherwise your request won't be valid.

[2021-05-01 16:55] aadil96 opened #5583 "Add logo for AlpineJs"
**Brand Name: Alpine.js**
**Website: https://github.com/alpinejs/alpine**
**Alexa rank:**

**Official resources for icon and color:**

[2021-05-01 17:02] adamrusted commented on #5570
Well spotted @foo-dogsquared!
I've had a quick look at their 'About' and 'Privacy & Legal' pages, and there's no mention of the logo, or it's usage in any of those. I think we're safe to plough on ahead with the SVG you found. Do either you or @adempus want to contribute this one?

[2021-05-01 17:03] adamrusted commented on #5582
The mobile header does have a Base64-encoded version of the SVG in it's header, which should serve as a good-enough source for us. Would you like to contribute this one @foo-dogsquared?

[2021-05-01 17:06] adamrusted commented on #5583
Thanks for the request @aadil96. This is definitely within scope on GitHub stars! 💪

Going to ping @HugoDF and @ryangjchandler to see if there is an SVG (or high-res PNG/JPG) version of the logo we could work from. Would also be handy to know which colour in particular suits the project best.

[2021-05-01 17:09] HugoDF commented on #5583
The person you want to contact is @calebporzio, he's the creator/maintainer of the project and I believe a rebrand is coming. You can find an email for him in the Alpine.js README (in the security disclosure section I believe)

[2021-05-01 17:17] adamrusted commented on #5567
Definitely popular enough for us to add both on Alexa rank, and GitHub stars! 💪
Just looking at the logo pack, there is only a logo for `Traefik Labs` - is that the one you want included?

[2021-05-01 17:19] calebporzio commented on #5583
Hey @adamrusted , I can send you any assets you need over email!

[2021-05-01 17:23] adamrusted commented on #5566
Thanks for the request @TheJaredWilcurt, and while I _like_ the dribbble link you sent through (it'd convert nicer to monochrome!) we will have to stick to the official branding that is used. I've [tweeted](https://twitter.com/AdamRusted/status/1388543968766464006) at the NW.js team, so hopefully we get a response soon!

[2021-05-01 17:36] adamrusted commented on #5583
Amazing! Could you send it to adam.rusted@simple-icons.org - and I'll look at getting an initial PR put together. Would you be okay with me pinging it back to you once it's done for approval?

[2021-05-01 18:10] BobcatProgrammer commented on #5567
Sorry.. didn't look at all the press kit. My feeling is that most people rather associate the Gopher with the high vis vest with traefik like shown in the docs: [traefik docs](https://doc.traefik.io/traefik/)

Should I make an inquiry with traefiklabs regarding this?

[2021-05-01 19:00] adamrusted commented on #5567
Can do if you want - though given there are monochrome icons for both the brand and it's products (see homepage) I'd say we'd have to use those. No harm in asking though!

[2021-05-01 23:07] #5578 closed

[2021-05-02 00:29] nathanwaters opened #5585 "Add Monday.com"
**Brand Name:** Monday.com
**Website:** https://monday.com
**Alexa rank:** 2391

**Official resources for icon and color:**

- Outline (couldn't find official solid fill icon): https://github.com/mondaycom/monday-ui-style/blob/c92af53bd870742bd750b9e1f79393c5b5504cff/src/Icons/MondayLogoOutline.svg
- Colors: https://design.monday.com/03276924d/p/474cf8-colors

[2021-05-02 00:43] nathanwaters opened #5586 "Add Typeform"
**Brand Name:** Typeform
**Website:** https://www.typeform.com
**Alexa rank:** 655

**Official resources for icon and color:**

Best I could find: https://iconify.design/icon-sets/logos/typeform-icon.html

[2021-05-02 00:47] nathanwaters opened #5587 "Add Balsamiq"
**Brand Name:** Balsamiq
**Website:** https://balsamiq.com/
**Alexa rank:** 31801

**Official resources for icon and color:**

Another difficult one to find. Colors: https://balsamiq.com/company/brandassets/

[2021-05-02 00:49] nathanwaters commented on #4205
Although they're fairly generic, maybe add Google Docs and Google Forms?

[2021-05-02 01:19] nathanwaters opened #5588 "Add Moqups"
**Brand Name:** Moqups
**Website:** https://moqups.com
**Alexa rank:** 13445

**Official resources for icon and color:**

Best I could find: https://moqups.com/blog/wp-content/themes/moqups-blog/static/images/moqups-glyph-dimmed.svg

[2021-05-02 01:20] nathanwaters opened #5589 "Add Marvel"
**Brand Name:** Marvel
**Website:** https://marvelapp.com
**Alexa rank:** 8599

**Official resources for icon and color:**

SVG: https://iconscout.com/icon/marvelapp

[2021-05-02 01:49] foo-dogsquared opened #5590 "Flatpak (universal software deployment tool)"
**Brand Name:** Flatpak
**Website:** https://flatpak.org/
**Alexa rank:** [~400k as of 2021-05-02](https://www.alexa.com/siteinfo/flatpak.org)

**Official resources for icon and color:**
- https://flatpak.org/press/
- As for the color, `#4a86cf` maybe :/

[2021-05-02 01:52] foo-dogsquared commented on #5582
Sure, this seems simple enough.

[2021-05-02 09:41] #5508 closed

[2021-05-02 15:37] StokicDusan opened #5594 "Add Mongoose"
**Brand Name:** Mongoose
**Website:**
https://cesanta.com/
https://github.com/cesanta/mongoose
**Alexa rank:** 1,809,923
**GitHub Stars:** 7.1k

**Official resources for icon and color:**

  https://stackshare.io/mongoose-web-server

[2021-05-02 16:49] #5064 closed

[2021-05-02 16:51] adamrusted commented on #5594
Thanks for submitting this one @StokicDusan! Just FYI, where the Alexa Rank would put the icon clearly out of scope for us - could you please list the other metric you used to measure it's popularity? (In this case, the GitHub Stars are good enough for us!).

[2021-05-02 20:37] StokicDusan commented on #5594
Thank you for your response @adamrusted.
Comment is edited to show the GitHub Stars metric.

[2021-05-03 07:26] #5236 closed

[2021-05-03 14:27] adamrusted commented on #5589
Thanks for the request @nathanwaters!
When I saw 'Marvel' I did worry it was Marvel Comics - but we should be good to add this!
There's an SVG embedded in both the header and footer of the site, so we should use those as a primary source - and I'd say we should use `#1fb6ff` as the HEX code.

Did you want to submit this one yourself? Just follow along with the [contribution guidelines](https://git

[2021-05-03 15:58] calebporzio commented on #5583
Sent

[2021-05-03 17:19] service-paradis opened #5596 "Update Habr icon"
**Brand Name:** Habr
**Website:** https://habr.com/
**Official resources for icon and color:**

Following #5555, it looks like we need to update the icon. I do not find any usage of the squared `h` anymore.

This is the "icon" they use everywhere (favicon and social media)
![image](https://user-images.githubusercontent.com/12817388/116909081-b077e100-ac11-11eb-9db7-97c498403c35.png)

Unfortunately

[2021-05-03 17:26] service-paradis opened #5597 "Update HackerRank icon"
**Brand Name:** HackerRank
**Website:** https://www.hackerrank.com/
**Official resources for icon and color:**

Following #5555, it looks like we need to update the icon. I do not find any usage of the `h` with arrows anymore.

This is the icon (H🟩) they use everywhere (favicon and social media)
![image](https://user-images.githubusercontent.com/12817388/116909961-ec5f7600-ac12-11eb-903c-9300446e0

[2021-05-03 17:30] service-paradis opened #5598 "Update Hackster icon?"
**Brand Name:** Hackster
**Website:** https://www.hackster.io/branding
**Official resources for icon and color:**

Following #5555 and according to https://www.hackster.io/branding, we might need to add the circle around the `h`.
![image](https://user-images.githubusercontent.com/12817388/116910543-c5ee0a80-ac13-11eb-8922-65dbca795ccc.png)

What other @simple-icons/maintainers thinks about it?

[2021-05-03 17:35] service-paradis opened #5599 "Update Helly Hansen icon?"
**Brand Name:** Helly Hansen
**Website:** https://www.hellyhansen.com/
**Official resources for icon and color:**

Following #5555, I think we might need to add the ®️ symbol.
![image](https://user-images.githubusercontent.com/12817388/116910746-064d8880-ac14-11eb-9e92-c43940b4474d.png)

Every usage they make themselves have the symbol (website and social media). A SVG is available in the header o

[2021-05-03 17:37] ericcornelissen commented on #5598
I agree. My vote would go towards the version on the left, as they name it their primary logo.

[2021-05-03 17:39] ericcornelissen commented on #5599
I agree, seems to me to fall into the category of the third bullet of [our (registered) trademark icon guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#icon-guidelines) 👍

[2021-05-03 17:42] service-paradis opened #5600 "Update Hulu icon?"
**Brand Name:** Hulu
**Website:** https://press.hulu.com/branding/
**Official resources for icon and color:**

Following #5555, I asked myself if we should use the full wordmark for hulu.
![image](https://user-images.githubusercontent.com/12817388/116911861-6db80800-ac15-11eb-8a39-d3a2c09f8ee5.png)

Every usage they make themselves is the full wordmark, except for the favicon (website and social m

[2021-05-03 20:05] ericcornelissen commented on #5600
Seems this was changed in https://github.com/simple-icons/simple-icons/issues/733 & https://github.com/simple-icons/simple-icons/pull/767/files without much discussion. Though I believe the favicon using just "h" justifies us using it as long as it is not explicitly prohibited, I'm also fine with updating it to the full wordmark as that seems to be preferred on the branding page.

[2021-05-03 21:00] service-paradis commented on #4205
@adamrusted I think so!

[2021-05-03 22:23] charlieclark commented on #5000
👍 Would love to see this icon added

[2021-05-04 00:26] ryancco commented on #3549
I'd still be interested in seeing this make it into simpleicons FWIW

[2021-05-04 01:09] #5393 closed

[2021-05-04 04:04] #5531 closed

[2021-05-04 05:34] adempus opened #5603 "Request: PrimeFaces"
**Brand Name:** PrimeFaces
**Website:** https://www.primefaces.org/
**Alexa rank:** 21,046  https://www.alexa.com/siteinfo/primefaces.org

PrimeFaces is a popular open source UI component library used by millions including fortune 500 companies around the world.

Some things to consider:
- PrimeFaces has four individual logos for each of the frameworks they support. Each I presume equal in popular

[2021-05-04 08:02] jonathanathe opened #5604 "Icon request - Withings"
**Brand Name:** Withings
**Website:**https://www.withings.com/
**Alexa rank:** 36,234

**Official resources for icon and color:**

  https://www.withings.com/it/en/press#logo

[2021-05-04 08:13] #5538 closed

[2021-05-04 08:17] adamrusted commented on #4205
There are SVGs available at:
https://www.google.com/docs/about/
https://www.google.com/forms/about/
Which we could use. Would you like to look at contributing them @nathanwaters?

[2021-05-04 08:24] #5582 closed

[2021-05-04 08:26] #5570 closed

[2021-05-04 14:37] #5384 closed

[2021-05-04 15:34] adamPhoebe opened #5605 "Backendless Logo"
**Brand Name:** Backendless
**Website:** https://www.backendless.com
**Alexa rank:** #101,075

**Official resources for icon and color:**
![image](https://user-images.githubusercontent.com/83658914/117029313-263c8500-acc4-11eb-9210-a3265ca47832.png)
![image](https://user-images.githubusercontent.com/83658914/117029417-3c4a4580-acc4-11eb-95f9-0f3805b6c430.png)
![image](https://user-images.githubuse

[2021-05-04 15:42] rishabh1323 opened #5606 "Icon request for matplotlib"
**Brand Name:** matplotlib
**Website:** https://matplotlib.org/
**Alexa rank:** 13,871

**Official resources for icon and color:** https://matplotlib.org/

[2021-05-04 16:31] adamrusted commented on #5606
Duplicate of #3492

[2021-05-04 16:32] #5606 closed

[2021-05-04 16:53] rishabh1323 commented on #5606
thanks

On Tue, May 4, 2021 at 10:02 PM Adam Rusted ***@***.***>
wrote:

[2021-05-05 09:49] #5543 closed

[2021-05-05 10:15] PeterShaggyNoble commented on #5532
That's not something we'd be able to resolve, @omry, with Hydra updating their logo to something more simplified or using just the single dragon's head in more places than just their favicon.

[2021-05-05 10:33] PeterShaggyNoble commented on #5574
Thanks for the request, @konradlu.

A vector version of their logo can be found at https://github.com/angular/protractor/blob/master/logo.svg

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-05-05 11:21] PeterShaggyNoble commented on #5580
Closing as a duplicate of #3566, which was added in #4624. If that _isn't_ the icon you're looking for then please provide the information requested above and we'll reopen this issue.

![](https://user-images.githubusercontent.com/15157491/117133568-55262a00-ad9c-11eb-983c-679426f3435a.png)

[2021-05-05 11:21] #5580 closed

[2021-05-05 11:27] PeterShaggyNoble commented on #5567
Looks to me like [this](https://traefik.io/static/traefik-proxy-logo--white-82153be41e0ce620a921b4bce974f6d8.svg) (found [here](https://traefik.io/traefik/) is the logo for Traefik Proxy, whereas the gopher is merely a mascot. We'd still need to assess the popularity of it as it's own brand, though, seperately to Traefik Labs. With [~33.6k stars on GitHub](https://github.com/traefik/traefik), we s

[2021-05-05 11:32] PeterShaggyNoble commented on #5585
Thanks for the detailed request, @nathanwaters.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons) and take this one on yourself?

[2021-05-05 11:45] PeterShaggyNoble commented on #5586
Thaks for the request, @nathanwaters. That looks to be an outdated logo being used by [SVGPORN](https://svgporn.com/#search=typeform) so we'll need to go with the full wordmark from their website - there's an SVG in the header. For me, the blob they use for their favicon, wouldn't be an accurate reflection of their branding as they don't use it as a branding element anywhere else that I can see.

[2021-05-05 11:49] PeterShaggyNoble commented on #5587
Thanks for the request, @nathanwaters. Would you like to take this one on yourself?

[2021-05-05 11:59] PeterShaggyNoble commented on #5588
Thanks for the request, @nathanwaters. From their favicons, social media and browser extensions, it looks like their icon should have square corners. I haven't found an SVG of that version yet but it should be easy enough to recreate from the version you found in their blog footer or the one found in the header of [their app](https://app.moqups.com/).

[2021-05-05 12:02] PeterShaggyNoble commented on #5590
I'd go for the `#4a90d9` from their website logo, @foo-dogsquared, if we're going with a blue.

[2021-05-05 14:14] PeterShaggyNoble commented on #5589
I wonder could we gte away with using just the "M" here? From what I've seen, they only use it themselves for their favicon but I think the font makes it distintive enough to be recognisable as part of their branding.

[2021-05-05 14:19] PeterShaggyNoble commented on #5594
For future reference, you don't need to create an issue if a PR has already been submitted.

[2021-05-05 14:41] PeterShaggyNoble commented on #5600
Given that Disney are the majority shareholder and have full control of the service we may need to consider removing this one.

[2021-05-05 14:43] PeterShaggyNoble commented on #5000
Would you be interested in taking it on yourself, @charlieclark?

[2021-05-05 15:13] adamrusted commented on #5583
For reference, as I'll use this Issue as the source URL of the icon, the SVG source code sent to me by @calebporzio is below.
[code]

[2021-05-05 15:57] PeterShaggyNoble commented on #5603
Thanks for the detailed request, @adempus.

Firstly, to the main brand and JSF: confusingly, they seem to use the 2 versions of the head interchangably for PrimeFaces, PrimeFaces JSF and PrimeTek, the parent company. As they make the more complex version available to download in their press kit to represent JSF and us it as their website's primary logo, I suggest we add it as "PrimeFaces" using `#

[2021-05-05 16:00] PeterShaggyNoble commented on #5604
Thanks for the request, @jonathanathe. Note that the logo available for download on the page you linked is a PNG. But there _is_ [an SVG](https://www-assets.withings.com/site/media/logo/withings-logotype-black.svg) available in the website header.

Looks like we'll need to go with the full wordmark here. Would you like to take it on yourself?

[2021-05-05 16:15] PeterShaggyNoble opened #5609 "Remove HackHands?"
**Brand Name:** HackHands
**Official resources for icon and color:** n/a

From [the new source](https://www.pluralsight.com/hackhands) @service-paradis provided in #5555:

And its `<title>`:

it looks to me like HackHands no longer exists. [Wikipedia](https://en.wikipedia.org/wiki/HackHands) doesn't have any details about it being done away with and still lists it as a subsidiary of Pluralsight bu

[2021-05-05 16:25] PeterShaggyNoble commented on #5605
Thanks for the request, @adamPhoebe.

Would you like to have a look through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, using either [this SVG](https://backendless.com/wp-content/themes/backendless/assets/images/logos/logo.svg) from their website header or [this one](https://develop.backendless.com/static/me

[2021-05-05 16:38] PeterShaggyNoble commented on #4936
I've started into the removal of hyphens for v5 and will have a draft PR ready for tomorrow.

[2021-05-05 18:51] adamrusted commented on #2061
@runxel did you ever have any joy with SVGOMG and Illustrator? I'm having a _wonderful_ time trying to review PRs that've used it, resorting to using Affinity Designer or Inkscape for comparison, when I'm not that confident in those packages when comparing.

[2021-05-05 21:34] runxel commented on #2061
@adamrusted Ha!
It's atrocious when people use the online SVGOMG.

[2021-05-05 21:41] ericcornelissen commented on #2068
I'll be closing this as it is quite an old issue that has gone stale (in large part due to us maintainers not responding). Feel free to respond/reopen if anyone wants to bring this discussion back to life!

[2021-05-05 21:41] #2068 closed

[2021-05-06 05:35] jonathanathe commented on #5604
Hi @PeterShaggyNoble,  sorry for my English, would that mean I would have to do the whole process as I did in this ticket? #5440

[2021-05-06 05:42] jonathanathe commented on #5604
I would like this icon to be there, but I'm still too much of a novice to remember or know how to do it.

My question is, how do I know what to delete on this "Select all the paths that aren't part of the logo and delete them.

And where do I find this "Open the XML editor (Edit - >XML Editor or Ctrl + Shift + X) and expand all the nodes until you find the lone svg:path one."

![image](https://use

[2021-05-06 06:07] jonathanathe commented on #5604
Find this logo too:

https://upload.wikimedia.org/wikipedia/commons/b/b1/Withings_logo.svg

[2021-05-06 09:38] PeterShaggyNoble commented on #2068
Pretty sure this came up & was discussed before and the conclusions that were reached were:
1. Seeing as our icons are for _popular_ brands website URLs should already be well known or the brand should at least be very easy to find with a quick search, and,
2. Anyone who has need of a particular icon is already familiar withe that brand and its website.

Therefore adding the website URL to the JSO

[2021-05-06 09:59] #5058 closed

[2021-05-06 14:18] #5231 closed

[2021-05-06 14:58] #5391 closed

[2021-05-06 15:21] FPNEXT opened #5618 "Spoleto"
![YEYafoL4TfehySKVq4rl_28ee939a6944f66eb6bb59d5c0cc7dd7](https://user-images.githubusercontent.com/83774817/117323495-4f484b80-ae65-11eb-8f94-f8836977c9c5.png)

**Brand Name:** SPOLETO
**Website:**WWW.SPOLETO.COM.BR
**Alexa rank:**7.962.763

**Official resources for icon and color:**

[2021-05-06 15:24] PeterShaggyNoble commented on #5618
Thanks for the request, @FPNEXT. Unfortunately, with that Alexa rank, this is beyond our scope. If the rank ever improves to our cut-off of 500k or better then we'll be happy to revisit this issue.

[2021-05-06 15:24] #5618 closed

[2021-05-06 15:40] service-paradis opened #5619 "SonarSource logo is outdated"
**Brand Name:** SonarSource / SonarQube
**Official resources for icon and color:**

- Looks like we could use the new alias property for those brands since they use the same icon.

[2021-05-06 15:45] PeterShaggyNoble commented on #5619
Agreed. And I'd vote we keep SonarSource as it's the parent company.

I would suggest, though, that we hold off on this one until we have aliases exposed and in use in the package so we may need to bump it to v6.

[2021-05-06 15:59] pete-hotchkiss opened #5620 "RxDB"
**RxDB** is a reactive local storage DB for Javascript applications

https://github.com/pubkey/rxdb

![image](https://user-images.githubusercontent.com/16895748/117329260-62224680-ae8c-11eb-950a-7b981769b0c2.png)

I'm going to raise a PR for this one shortly - but wanted to raise a ticket so the work can be tracked

[2021-05-06 16:13] PeterShaggyNoble commented on #5620
For future reference, @pete-hotchkiss, it's OK to open a PR without first opening an issue. Unless you want to stake your claim while you work on an icon so nobody else beats you to the punch. Please ensure, though, that you keep our issue template intact and provide all the details it asks for.

For anyone else checking in on this, it _is_ within our scope on GitHub stars.

[2021-05-06 16:14] pete-hotchkiss commented on #5620
noted - thanks @PeterShaggyNoble

[2021-05-06 18:21] danuals opened #5623 "Virgin media"
**Brand Name:** Virgin Media
**Website:** https://www.virginmedia.com/
**Alexa rank:** [~2.7k](https://www.alexa.com/siteinfo/virginmedia.com)

[2021-05-06 21:23] DenverCoder1 opened #5625 "Icon Request: Pytest"
**Brand Name:** pytest
**Website:** https://pytest.org/, https://github.com/pytest-dev/pytest
**Alexa rank:** 174,236

**Official resources for icon and color:**

SVG logos:

https://github.com/pytest-dev/design

https://github.com/pytest-dev/design/blob/081f06cd2d6cd742e68f593560a2e8c1802feb7c/pytest_logo/pytest_logo.svg

<img src="https://raw.githubusercontent.com/pytest-dev/design/081f06cd2d6cd

[2021-05-06 22:00] DenverCoder1 commented on #5625
Issue is already open - #5474

[2021-05-06 22:00] #5625 closed

[2021-05-07 00:49] service-paradis commented on #3573
@PeterShaggyNoble We'll be able to give this one a go!

[2021-05-07 00:50] service-paradis commented on #3394
@PeterShaggyNoble We'll be able to give this one a go!

[2021-05-07 00:53] service-paradis commented on #5324
Looks like they reach the 5k threshold now!

[2021-05-07 01:01] #3219 closed

[2021-05-07 14:57] ericcornelissen commented on #4797
Amazing, with #5369 merged (and already some PRs adding alias metadata, e.g. #5615 and #5617), we can start working on including duplicates in at least the NPM package - and subsequently the website.

There has been discussion on this before, but we need to decide on how we automatically convert aliases into actual SVGs and icon entries in the NPM package. Here are some initial thoughts

- `old`:

[2021-05-07 15:11] ericcornelissen opened #5627 "Determine how long "old" aliases should be kept"
Following the discussion in https://github.com/simple-icons/simple-icons/pull/5369 we still need to determine how long [the "old" aliases](https://github.com/simple-icons/simple-icons/blob/8a38721ed7239168539846db1ece01bb759dad59/CONTRIBUTING.md#aliases) are kept. There have been different proposals, which I will list below

- Forever: never remove "old" aliases and keep them around forever. Basic

[2021-05-07 15:14] ericcornelissen opened #5628 "Restructure and/or improve the Contributing Guidelines"
This topic has come up in several recent Pull Request making changes/adding to [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/8a38721ed7239168539846db1ece01bb759dad59/CONTRIBUTING.md), and it seems to many of us that it can use some improvements, making it more concise and easier for first time contributors to follow.

This issue is just a reminder to tackle this p

[2021-05-07 15:32] #5583 closed

[2021-05-07 16:25] dhruvkb opened #5630 "Buildah"
**Brand Name:** Buildah
**Website:** https://buildah.io
**Alexa rank:** 2,514,987

**Official resources for icon and color:**
Couldn't find any official media kits or SVG files. The best resource I could find was [this PNG file](https://github.com/containers/buildah.io/blob/master/images/buildah.png).

**Additional info:**
There's an existing icon for Podman. Buildah is a tool closely associated w

[2021-05-07 19:16] dhruvkb commented on #5630
@adamrusted that's totally understandable. I would be nice if you could point to the rules for inclusion, if they are documented somewhere, so that I can keep this in mind for any future requests.

[2021-05-07 19:20] adamrusted commented on #5630
Sure thing! They're available in our [contributing guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md). I don't think the GitHub stars are too far off - so we may be able to include it before too long!

[2021-05-08 06:11] dhruvkb opened #5633 "Apple Music"
The icon for Apple Music uses black as the `hex` color. This does not reflect the Apple Music brand accurately as the brand is largely pink (`#fa243c`).

**Brand Name:** Apple Music
**Official resources for icon and color:**
I don't know if there are official sources, I picked this color using the browser Dev Tools inspector.

[2021-05-08 13:25] ericcornelissen commented on #1368
@PeterShaggyNoble do you agree that this issue can be closed?

[2021-05-08 18:24] nhtnhan commented on #5473
Hi @PeterShaggyNoble , sorry the late reply, I can definitely look into that!

Also, thanks @marcphilipp!

[2021-05-08 18:49] PeterShaggyNoble commented on #1368
Unless we want to add it to the current site then, yep, I think we're done here.

[2021-05-08 21:00] dhruvkb opened #5634 "Zerodha"
**Brand Name:** Zerodha
**Website:** https://zerodha.com
**Alexa rank:** 225

**Official resources for icon and color:**
[Official logo asset SVG](https://zerodha.com/static/images/logo.svg)

[2021-05-08 21:29] dhruvkb opened #5635 "Expensify"
**Brand Name:** Expensify
**Website:** https://www.expensify.com
**Alexa rank:** 6,099

**Official resources for icon and color:**
[SVG on the site](https://d2k5nsl2zxldvw.cloudfront.net/images/logo/expensify-iconmark-reversed.svg) (contains a white E in the middle that may not be visible if background is white)

[2021-05-08 21:43] ericcornelissen commented on #1368
That is still an open issue - I would be in favor of that but I think we need to decide on an exact strategy. In the interest of closing "irrelevant" issues in this repository I will close this now. Instead I would like an issue for this in [the website repo](https://github.com/simple-icons/simple-icons-website) or the repository that generates the image, any preferences?

[2021-05-08 21:43] #1368 closed

[2021-05-08 22:09] ericcornelissen opened #5636 "Remove duplication from docs"
### Kind of issue
  - [ ] Improvement
  - [ ] Bug
  - [x] Other, namely: Documentation

### This issue concerns
  - [x] The NPM Package
  - [ ] The Packagist Package

### Description

Currently, the [Node Usage](https://github.com/simple-icons/simple-icons#node-usage) section of the documentation contains two nearly identical examples. This can 1) be confusing and 2) lead to inconsistencies when i

[2021-05-09 10:00] nitin-1926 opened #5638 "Icon Request: Robo3T / Studio3T"
**Brand Name: Robo 3T**
**Website: https://robomongo.org/**
**Alexa rank: 97,306**

**Brand Name: Studio 3T**
**Website: https://studio3t.com/**
**Alexa rank: 81,351**

[2021-05-09 10:03] nitin-1926 opened #5639 "Icon Request: MongoDb Compass"
**Brand Name: MongoDB Compass**
**Website: https://www.mongodb.com/products/compass**
**Alexa rank: 3,770**

**Official resources for icon and color: https://github.com/mongodb-js/compass**

[2021-05-09 11:15] Md-Fahim-Khan opened #5640 "Myanimelist"
**Brand Name: Myanimelist**
**Website:https://myanimelist.net/**
**Alexa rank: 758**

**Official resources for icon and color:**

[2021-05-09 11:18] adamrusted commented on #5640
MyAnimeList was added in #4718, and Quora has been [in our collection](https://simpleicons.org/?q=quora) since 2013. Please search [on our website](https://simpleicons.org/) or in the repo before submitting an issue!

[2021-05-09 11:18] #5640 closed

[2021-05-09 11:25] SivaTharun commented on #5636
@ericcornelissen i am a newbie to open source project contributions, can i work on this issue?

[2021-05-09 11:31] ericcornelissen commented on #5636
Definitely @SivaTharun, I assigned you to the issue so others know. Looking forward to your Pull Request!

[2021-05-09 12:32] sksamuel opened #5641 "Icon Request: kinesis"
**Brand Name:** Amazon Kinesis
**Website:** https://aws.amazon.com/kinesis/
**Alexa rank:** https://aws.amazon.com/kinesis/

[2021-05-09 17:04] CyberMew opened #5642 "iPhones"
**Brand Name:** Apple
**Website:** apple.com
**Alexa rank:** 49

**Official resources for icon and color:** Not sure

iPhones (models) itself has several iconic looks, and an addition of these would be great to the collection.

[2021-05-10 07:20] edizbaha opened #5645 "Icon Request: Clubhouse"
**Brand Name:** Clubhouse
**Website:** [https://www.clubhouse.com/](url)
**Alexa rank:** [#877,696](https://www.alexa.com/siteinfo/clubhouse.com)

**Official resources for icon and color:**
[https://www.clubhouse.com/static/img/icon_wave.2872aeea710c.png](https://www.clubhouse.com/static/img/icon_wave.2872aeea710c.png)

High result icon: https://cdn.shopify.com/s/files/1/1061/1924/products/Waving_

[2021-05-10 08:25] adamrusted commented on #5630
Closing for now, as Alexa Rank is still out of scope - and no feedback from other contributors. Feel free to reopen this @dhruvkb when it's within scope. 👍

[2021-05-10 08:25] #5630 closed

[2021-05-10 10:06] anmol5varma commented on #5605
Hey @PeterShaggyNoble Can I pick this up?

[2021-05-10 10:10] adamrusted commented on #5605
Sure thing @anmol5varma - I'll assign you to this one - and feel free to use the links from @PeterShaggyNoble's message above. Let us know if you need any help! 👍🏻

[2021-05-10 19:21] joaopaulomirandamatias opened #5646 "Include Adianti Framework"
**Brand Name:** Adianti Framework
**Website:**: https://www.adianti.com.br/framework
**Alexa rank:** 815,364
**Image**  https://www.adianti.com.br/images/logo_full.svg

[2021-05-10 20:48] wpexplorer opened #5647 "Request: WPExplorer Icon"
**Brand Name:** WPExplorer
**Website:** wpexplorer.com
**Alexa rank:** 12,612
** Color:** #2563EB
**SVG:** https://a.cl.ly/5zuBqKxj

Already available in FontAwesome 5 as well: https://fontawesome.com/icons/wpexplorer?style=brands

[2021-05-11 06:07] nodiscardme opened #5648 "Icons for darkmode"
###  Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [ ] The NPM Package
  - [x] The Packagist Package

### Description
The icons are dark and aren't visible clearly in the dark mode of github. Requesting for creation of coloured icons or white icons which can be visible on relevant backgrounds.

[2021-05-11 07:20] adamrusted commented on #5648
Thanks for the request @Sanketr62, though this is already in progress with #4816. While we could utilize the CSS prefers-color-scheme to solve _some_ of the issue, it doesn't account for people whose device is in 'light mode' but their GitHub is in 'Dark Mode' or vice versa. Rather than close this issue, I'll link the existing PR to close this when a solution becomes available, and if you have any

[2021-05-11 09:46] #5648 closed, assigned to nobody

[2021-05-11 12:33] service-paradis opened #5651 "Update G2A icon"
![image](https://user-images.githubusercontent.com/12817388/117815321-57243900-b233-11eb-95ca-a5820c530b7d.png)

**Brand Name:** G2A
**Official resources for icon and color:**

- https://www.g2a.co/documents/
- https://g2acowebproddata.blob.core.windows.net/g2acowebproddata/2020/06/G2A_Brand_Book_Basic_September_2019.pdf

The icon changed a little bit from what we have.

Since we can be used in va

[2021-05-11 12:36] service-paradis opened #5652 "Update Gauges icon"
![image](https://user-images.githubusercontent.com/12817388/117815817-d9acf880-b233-11eb-89cc-3145c5f1d3da.png)

**Brand Name:** Gauges
**Official resources for icon and color:**

- https://get.gaug.es/

I cannot find any use of our current icon. I think the `g` in a filled circle would represent better the brand.

[2021-05-11 12:38] service-paradis opened #5653 "Update GeeksforGeeks icon"
![image](https://user-images.githubusercontent.com/12817388/117816079-21338480-b234-11eb-8598-aa65fccf0b32.png)

**Brand Name:** GeeksforGeeks
**Official resources for icon and color:**

- https://www.geeksforgeeks.org/

[2021-05-11 12:41] service-paradis opened #5654 "Update Geocaching icon"
![image](https://user-images.githubusercontent.com/12817388/117816549-a0c15380-b234-11eb-9c1a-6556c7c735d4.png)

**Brand Name:** Geocaching
**Official resources for icon and color:**

- https://www.geocaching.com/about/logousage.aspx

As stated in their guidelines, I think we shall include the ® symbol. They uses it themselves about everywhere (website and social medias).

[2021-05-11 12:44] service-paradis opened #5655 "Update Ghost icon"
![image](https://user-images.githubusercontent.com/12817388/117816904-0b728f00-b235-11eb-9917-9f24fe4f8883.png)

**Brand Name:** Ghost
**Official resources for icon and color:**

- https://ghost.org/docs/logos/

They have a new logo. It could be really hard to make a monochrome version of this one. Might need to remove this brand... What other @simple-icons/maintainers thinks about it?

[2021-05-11 12:46] service-paradis opened #5656 "Update Github icon?"
![image](https://user-images.githubusercontent.com/12817388/117817254-699f7200-b235-11eb-996c-3930bea8a133.png)

**Brand Name:** Github
**Official resources for icon and color:**

- https://github.com/logos

Github are using a similar icon than our current one in a few places. But, the official mark at https://github.com/logos is slightly different. Should we update it?

[2021-05-11 12:50] service-paradis opened #5657 "Update Qualtrics icon?"
![image](https://user-images.githubusercontent.com/12817388/117817663-cf8bf980-b235-11eb-9e83-ddfd078499f8.png)

**Brand Name:** Qualtrics
**Official resources for icon and color:**

- https://www.qualtrics.com/brand-book/

I think we might need to use the full wordmark here. In fact, we might need to remove this one according to:

What do other @simple-icons/maintainers thinks?

[2021-05-11 12:54] service-paradis opened #5658 "Update Quantcast icon?"
**Brand Name:** Quantcast
**Official resources for icon and color:**

- https://www.quantcast.com/

They are using the full wordmark almost everywhere. Should we also use the full wordmark?

If not, they are using `QC` for their favicon. Still different than our current icon.

As found by @PeterShaggyNoble, they are using th `Q` for their [support site](https://help.quantcast.com/) favicon. Is it

[2021-05-11 13:12] runxel commented on #5639
Hi @nitin-1926, thanks for your request.
Please bear in mind, that the Alexa rank is only viable for the main site, which is just mongodb.com.
I never heard of compass before, but alas, I'm not the database guy.
The Github repo also has a very low popularity with just ~ 400 stars, which is way below our cutoff point (5k).

Do you have any other metric for us?
Otherwise it won't meet the criteria t

[2021-05-11 13:19] #5343 closed

[2021-05-11 13:31] PeterShaggyNoble opened #5661 "Update Microsoft Azure?"
**Brand Name:** Microsoft Azure
**Official resources for icon and color:** n/a

According to [Logopedia](https://logos.fandom.com/wiki/Microsoft_Azure), Microsoft are in the process of rolling out a new logo for Azure. They're not using it on [their website](https://azure.microsoft.com/) yet and they may end up keeping the current, more simplified version as an icon so this one is pending for now.

[2021-05-11 13:52] #3573 closed

[2021-05-11 15:06] #5034 closed

[2021-05-11 15:18] #5547 closed

[2021-05-11 15:56] PeterShaggyNoble commented on #4205
@nathanwaters, see #5155

[2021-05-11 16:16] PeterShaggyNoble commented on #5604
The icon in that logo would definitely suit us better, @jonathanathe but, looking at [their Wikipedia page](https://en.wikipedia.org/wiki/Withings) its not in use there so it looks like that is an outdated logo.

This one is actually a lot more straightforward than the last icon we worked on together so the step-by-step tutorial I provided you with isn't applicable here. All that needs to be done

[2021-05-11 16:43] #3722 closed

[2021-05-11 16:52] sameer882000 opened #5665 "Icon of KFC is not there yet."
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-05-11 16:53] adamrusted commented on #5665
Duplicate of #5404.

[2021-05-11 16:53] #5665 closed

[2021-05-11 16:55] PeterShaggyNoble commented on #5324
@krissemicolon, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-05-11 16:59] adamrusted opened #5667 "Update Ubiquiti"
**Brand Name:** Ubiquiti
**Official resources for icon and color:**
Update to include ® as per [this page](https://www.ui.com/marketing/#logos).
I suggest we use `Ubiquiti Networks U Logo CMYK.ai` as our comparison vector.

[2021-05-11 16:59] #5411 closed

[2021-05-11 17:00] PeterShaggyNoble commented on #5633
👍🏻 I'd agree with that, @dhruvkb. Do you want to open a PR to update it?

[2021-05-11 17:04] PeterShaggyNoble commented on #5635
Thanks for the request, @dhruvkb. Would you like to take this one on yourself?

[2021-05-11 17:05] dhruvkb commented on #5633
Sure, I'd be happy to.

[2021-05-11 17:05] dhruvkb commented on #5634
Okay, please assign this to me.

[2021-05-11 17:06] dhruvkb commented on #5635
I could add the SVG but I'm not sure what the hex color for this icon would be. As far as I can tell, they don't seem to have one primary color.

[2021-05-11 17:41] dhruvkb commented on #5635
I uploaded the icon, using the blue from the southern arc as the `hex` color.

[2021-05-11 18:54] adempus opened #5671 "Icon Request - MicroPython"
**Brand Name:** MicroPython
**Website:** https://micropython.org/
**Alexa rank:** 89,258 https://www.alexa.com/siteinfo/micropython.org

MicroPython is an open source implementation of Python 3 optimized to run on microcontrollers and Pyboard open hardware.

**Official resources for icon and color:**

The primary logo color:
`#000000`

Can't seem to find an SVG of the logo, but might be able to co

[2021-05-11 18:56] Yasser-dev opened #5672 "Icon request: Web3.js"
**Brand Name: web3.js**
**Website: https://web3js.readthedocs.io/en/v1.3.4**
**Alexa rank: 61,791**
**Github Stars: 10.3k**

**Official resources for icon and color: https://github.com/ChainSafe/web3.js/tree/1.x/assets/logo**

[2021-05-11 19:29] Fer-Bonilla opened #5673 "Icon Request: Apache ML Flow"
**MLflow**
**https://mlflow.org**
**Alexa rank: 329,183**

**Official resources for icon and color:** https://github.com/mlflow/mlflow/blob/master/docs/source/_static/MLflow-logo-final-black.png

[2021-05-12 02:27] Neo42 commented on #5498
Sure, please hand it over to someone else willing to give it a go.

[2021-05-12 07:15] nitin-1926 commented on #5638
Hey @PeterShaggyNoble , thanks for taking a quick look at it. Actually both robo3T and studio3T are products of robomongo. My requirement was to add request for just robo3T but I found that there is no icon for studio3T too. So thought since these both are somewhat related, might club the request too.

[2021-05-12 07:23] nitin-1926 commented on #5639
Hi @runxel , thanks for taking a quick look at it. Actually Compass is the GUI tool to access MongoDB database. It is a mongoDb product only. [
<img width="1144" alt="Screenshot 2021-05-12 at 12 52 07 PM" src="https://user-images.githubusercontent.com/44253685/117935000-e0fe0000-b320-11eb-9993-349183b24b2f.png">
](url)
But since it might not have a too different logo and also doesn't have a separa

[2021-05-12 08:12] adamrusted commented on #5639
Yeah - it looks like the official app icon for 'Compass' is just the [Mongo logo in a white circle](https://user-images.githubusercontent.com/1830867/117941475-07f90980-b302-11eb-82ed-d177d3974102.png). I'd probably say we're best to skip this one, unless the icon changes drastically from the existing one.

[2021-05-12 08:47] PeterShaggyNoble commented on #5641
Thanks for the request, @sksamuel. Before we proceed, we'll need to somehow assess the popularity of Kinesis. Looking at [their GitHub repos](https://github.com/search?o=desc&q=org%3Aawslabs+kinesis&s=stars&type=Repositories), the most popular one has just 548 stars which is well below our cut-off of 5000. Have you any suggestions for an alternative metric for measuring its popularity? Is there an

[2021-05-12 08:55] PeterShaggyNoble commented on #5642
Thanks for the request, @CyberMew. To clarify: are you requesting an icon for an iPhone device or the iPhone logo? If the former then that is out of scope for this project which is for brand icons and logos _only_; you'll need a general purpose icon pack such as [Material Design Icons](https://materialdesignicons.com/). If the latter then the iPhone doesn't have a logo per se, it's just text. Howe

[2021-05-12 09:02] PeterShaggyNoble commented on #5645
Thanks for the request, @edizbaha. Although this is now in scope for us with an Alexa rank of ~350k, it's not something we're going to be able to add at this time as they have yet to launch and don't seem to have a logo or any proper branding to speak of - the hand icon they're currently using differs throughout their site, such as [this version](https://notion-emojis.s3-us-west-2.amazonaws.com/v0

[2021-05-12 09:02] #5645 closed

[2021-05-12 09:06] PeterShaggyNoble commented on #5645
Wait, no, hold that thought! The PDF available [here](https://www.clubhouse.com/press) confirms that the version you originally linked to is the correct version. The icon in that file, though, is a raster one. I am _pretty_ certain though that there is an existing brand in our collection that uses the exact same icon, just can't think what it is right now.

That all said, I'd still prefer to hold

[2021-05-12 09:15] PeterShaggyNoble commented on #5603
If you could, @adempus, that would be a big help, thanks.

[2021-05-12 09:30] PeterShaggyNoble commented on #5646
Thanks for the request, @joaopaulomirandamatias. Unfortunately it looks like this is going to be outside our scope as the Alexa rank, which is for the parent company rather than the framework, is below our threshold of 500k and declining. Before we close the issue, though, is there another metric we could you to assess the popularity of this brand?

It also doesn't look to me as though the framewo

[2021-05-12 09:32] PeterShaggyNoble commented on #5647
Thanks for the request, @wpexplorer.

As this is your own brand, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and submit a PR for it yourself?

[2021-05-12 09:53] runxel commented on #5639
Thanks for the clarification! Seems like adding this would be pretty redundant at the moment.
Reopen if you feel otherwise.

[2021-05-12 09:53] #5639 closed

[2021-05-12 09:59] PeterShaggyNoble commented on #5651
My own rule of thumb there is to go by our native `24*24` size, which would allow for its removal. By providing the `guidelines` we're covered for anyone wanting to use it at `110px` wide or more.

[2021-05-12 10:18] sksamuel commented on #5641
Kinesis is Amazon's version of Kafka.
Those repos are just the clients, I'm not sure if many people visit them.

[2021-05-12 11:28] PeterShaggyNoble commented on #5655
Yeah, don't think that's going to work in monochrome at all. They have a monochrome version as [their favicon](https://ghost.org/favicon.ico) but I haven't seen it in use anywhere else so I don't think it's enough to justify us taking the same approach.

Before we remove it, though, let's ping the @TryGhost team for their feedback; perhaps @ErisDS, as top contributor to their primary repo, could h

[2021-05-12 11:39] PeterShaggyNoble commented on #5655
Found these in one of their repos:
- https://github.com/TryGhost/Admin/blob/main/public/assets/icons/icon.svg
- https://github.com/TryGhost/Admin/blob/main/public/assets/icons/default-favicon.svg

[2021-05-12 11:51] PeterShaggyNoble commented on #5656
From the files available to download, it looks to me that the suckers need only be included at sizes larger than 64px so I think we OK to stick with our current version.

[2021-05-12 11:55] PeterShaggyNoble commented on #5657
We actually have permission from Qualtrics for our current version of their icon, see #2284 for more

[2021-05-12 11:58] PeterShaggyNoble commented on #5658
I would assume that the continued use of the "Q" favicon on their support site is an oversight on their part and we should therefore update.

[2021-05-12 12:41] service-paradis commented on #5657
Great! I will close this issue then, thanks!

[2021-05-12 12:41] #5657 closed

[2021-05-12 12:42] service-paradis commented on #5656
Yes, you're right, thanks!

[2021-05-12 12:42] #5656 closed

[2021-05-12 14:34] #5620 closed

[2021-05-12 14:38] PeterShaggyNoble commented on #5667
Am I missing something? I don't see any explicit requirement that it be included.

[2021-05-12 14:41] #4791 closed

[2021-05-12 14:56] #3394 closed

[2021-05-12 15:09] adamrusted commented on #5667
Nope, was brought up as part of the `U` review, where it was flagged that the only versions they provide include the `®`. Given there's no explicit wording one way or the other though, I'd be happy to stick with what we have if that's the consensus.

[2021-05-12 15:45] PeterShaggyNoble commented on #5672
Thanks for the request, @Yasser-dev.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-05-12 15:49] PeterShaggyNoble commented on #5673
Thanks for the request, @Fer-Bonilla.

I found some vector artwork [here](https://github.com/mlflow/mlflow/issues/1853) if you would like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and give this one a try yourself.

[2021-05-12 15:55] PeterShaggyNoble commented on #5540
Looks like you deleted your branch, @stefanobartoletti, so we can't reopen your PR. I've assigned this issue to you and one of us will ping you to proceed with a new PR when we get the go ahead from Fedora.

[2021-05-12 16:10] edizbaha commented on #5645
@PeterShaggyNoble Ok, thank you for answer ☺️

[2021-05-12 16:18] PeterShaggyNoble commented on #5641
Thanks for the info, @sksamuel. Unfortunately, a [Google Trends comparison with Kafka](https://trends.google.com/trends/explore?q=Apache%20Kafka,Amazon%20Kinesis) doesn't look encouraging to me so I'd say that this is currently beyond our scope. But let's get a second opinion from one of the other @simple-icons/maintainers before closing the issue.

[2021-05-12 19:47] adempus commented on #5671
Will do! 👌🏽

[2021-05-12 21:09] #5082 closed

[2021-05-13 08:55] echoaman opened #5683 "Add Spring boot icon"
Brand Name: Spring boot
Website: https://spring.io/projects/spring-boot
Alexa rank: 113.3 k (I entered the above website in the search bar but it returned stats about https://spring.io/)
Github Stars: 55.1 k

Official resources for icon and color: https://pbs.twimg.com/profile_images/1235868806079057921/fTL08u_H_400x400.png

(Sorry, I could not find any image or logo on their website)

[2021-05-13 11:00] #5634 closed

[2021-05-13 11:10] #5633 closed

[2021-05-13 11:31] PeterShaggyNoble commented on #5638
Thanks, @nitin-1926; I've edited the details for Studio 3T into your request.

I haven't been able to find a vector version of either as yet, not on their websites, nor in their PDFs or repos. Would you be able to reach out to them to see if they can help us out?

[2021-05-13 11:34] PeterShaggyNoble commented on #5683
Thanks for the request, @echoaman. This is indeed within our scope based on its GitHub stars.

Monochrome SVGs of all their project logos can be found at https://spring.io/projects if you would like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself.

[2021-05-13 11:37] #5636 closed

[2021-05-13 14:37] PeterShaggyNoble commented on #3821
Are you still planning to take this one on, @vishalicious213?

[2021-05-13 14:56] PeterShaggyNoble commented on #5385
Are you still working on this one, @MahmudX?

[2021-05-13 14:58] PeterShaggyNoble commented on #5390
Are you still planning on submitting a PR for this one, @nidbCN?

[2021-05-13 14:58] PeterShaggyNoble commented on #5451
Are you still working on this one, @d3v0ps?

[2021-05-13 15:38] #5635 closed

[2021-05-13 16:18] echoaman commented on #5683
@PeterShaggyNoble Yes I would like to contribute

[2021-05-13 16:28] PeterShaggyNoble commented on #1368
Sorry, @ericcornelissen, wasn't clear above; I meant adding it to out existing site which is still using [the old one](https://github.com/simple-icons/simple-icons/blob/develop/images/og.png).

Did we not already decide that we were going to update it after each major release?

[2021-05-13 16:35] ericcornelissen commented on #1368
Thanks for the clarifications. Honestly, I don't think its worth it as we want to switch to the new website soon anyway. At the same time, I'm be against updating it either.

I don't remember we decided something definitive, but just to avoid a scenario where a removed icon is in the image I would say ideally we should.

[2021-05-13 16:35] PeterShaggyNoble commented on #5627
I'm still OK with keeping them indefinitely but it looks like the consensus is to remove them after a period so my vote goes to removing them after 2 major releases, e.g. any added in v5 would be removed in v7. The only issue I see with removing them at all is if a brand merely changes how its name is stylised, people are most likely still going to be looking for the old name for a good while to c

[2021-05-13 16:41] ericcornelissen commented on #5627
I personally don't find people using the wrong name for a brand a good reason to keep that wrong name. In the example you give I think switching from `old` to `aka` is reasonable, as the brand is in fact still also known as.

That statement confuses me. If you don't its not backwards compatible for a lot of users, namely everyone that refers directly to the `.svg` file (or corresponding `.js` file

[2021-05-13 17:22] echoaman commented on #5683
@PeterShaggyNoble  I have submitted a PR. Please check and let me know if something is needed

[2021-05-13 19:11] vishalicious213 commented on #3821
Yes, I am. Sorry about the delay. I just moved this past week and was still
getting things set up.

On Thu, May 13, 2021 at 7:37 AM Peter Noble ***@***.***>
wrote:

[2021-05-13 19:26] PeterShaggyNoble commented on #3270
Closing as this has been resolved by the addition of aliases.

[2021-05-13 19:26] #3270 closed

[2021-05-13 20:19] vishalicious213 commented on #3821
I worked on the SVG using Inkscape to make it monochromatic, scaled and centered. I then modified the file to include role, viewbox and title information. SVGO removed this information during minification , but I added it back in. I also removed width, height and fill information.

I'll download the repo and add JSON data. I think the data should look like this:

{
  "title": "axios",
  "hex": "5a

[2021-05-14 00:06] aemann2 opened #5689 "Icon Request: Frontend Mentor"
Could we get one for Frontend Mentor? It's a website for Frontend challenges that's getting lot of use lately:

https://www.frontendmentor.io

**Brand Name:** Frontend Mentor
**Website:** https://www.frontendmentor.io
**Alexa rank:** 707

**Official resources for icon and color:**
https://www.frontendmentor.io/static/images/logo-desktop.svg
[tinyurl.com/fjd7aat8](tinyurl.com/fjd7aat8)

[2021-05-14 00:46] nidbCN commented on #5390
Yes, I'm a little busy these days. I'll do it whenever I have time.

[2021-05-14 08:24] #5510 closed

[2021-05-14 08:32] PeterShaggyNoble commented on #5689
Thanks for the request, @aemann2.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

Note that the Alexa rank is actually [~42.2k](https://www.alexa.com/siteinfo/frontendmentor.io), but still well within our scope.

[2021-05-14 08:37] PeterShaggyNoble commented on #3821
That all sounds and looks good to me, @vishalicious213, if you'd like to proceed with your PR.

3 quick points on the JSON entry, though:
1. "axios" should have a capital "A",
2. The `hex` should be uppercase, and,
3. You can just use the homepage for the source.

[2021-05-14 10:18] adamrusted commented on #5661
Just FYI, I've been sent a Dynamics icon by a Microsoft Partner organisation, which will also need updating. Unfortunately the svg itself is just an embedded image file - so of no real use to us.

[2021-05-14 11:11] krisu5 opened #5695 "Update Discord icon"
**Brand Name:** Discord
**Official resources for icon and color:** https://discord.com/branding

Pull request coming soon.

[2021-05-14 11:13] PeterShaggyNoble commented on #5695
Duplicate of #5692

[2021-05-14 11:13] #5695 closed

[2021-05-14 13:11] service-paradis commented on #5088
For information if someone want to give this a try, there is also a SVG without Wordmark when viewing the mobile version:
https://as.ftcdn.net/r/v1/pics/d2b855289560891b5fa6923f43f1a290ad012e5e/all/default/stock_logo_2020.svg

[2021-05-14 14:16] #5511 closed

[2021-05-14 14:18] #5224 closed

[2021-05-14 14:20] #5512 closed

[2021-05-14 14:48] PeterShaggyNoble commented on #5597
Closed by #5659

[2021-05-14 14:48] #5597 closed

[2021-05-14 15:07] aemann2 commented on #5689
Hi @PeterShaggyNoble,

Ah, I see the Alexa score now. And yes, I think I can take this one on. Will fork the repo and get to work today.

[2021-05-14 15:16] PeterShaggyNoble commented on #5521
Closing this out as our current version actually lines up perfectly with the logo on page 1 of [the brochure](https://viewer.ipaper.io/iveco-hq/uk/Daily-Van/) available [here](https://www.iveco.com/uk/products/pages/new-daily-van.aspx).

[2021-05-14 15:16] #5521 closed

[2021-05-14 16:07] PeterShaggyNoble commented on #4978
Picked this one back up just now and, after adding the cut-outs and merging all the paths, absolutely _nothing_ lines up with the original! 🙄 This is gonna take a lot of manual fiddling to get right; I'll keep at it in between other things, though ...

[2021-05-14 17:59] #5514 closed

[2021-05-15 10:28] adamrusted commented on #5336
I think unless we're able to get permission for the proper monochrome treatment, we may need to look at it's removal. @service-paradis do you fancy getting in touch with them?

[2021-05-15 10:31] adamrusted commented on #5202
Probably already been flagged, but within their git filesystem, they have [this icon](https://git.disroot.org/Disroot/Artwork_assets/src/branch/master/favicons/disroot-website/android-chrome-512x512.png) which is a pretty high-res raster. May be worth trying to vectorize from that?

[2021-05-15 14:24] nitin-1926 commented on #5638
Sure @PeterShaggyNoble. I will see if I can find anything from them.

[2021-05-15 19:06] mfarragher commented on #5356
Thanks I've made a PR - I've mentioned this issue in there so it's linked above.

[2021-05-16 06:12] cloudagon opened #5707 "generate colored versions of SVGs"
It is not possible to add attributes to the svgs served in the CDN unless you manually copy the SVG to your page. It would be nice to provide the colored versions of all SVGs that can simply be embedded via CDN, perhaps under a different package as to not increase the size the current one.

[2021-05-16 16:28] anmol5varma commented on #5605
@adamrusted Can you guide me on how to scale svg from `viewBox="0 0 768 768"` to `viewBox="0 0 24 24"`?

[2021-05-16 17:18] anmol5varma commented on #5605
Raised a PR for the same: https://github.com/simple-icons/simple-icons/pull/5708.
 Please do let me know if this works.

[2021-05-16 18:08] made-indrayana opened #5709 "Icon Request: FMOD"
**Brand Name:** FMOD
**Website:** https://fmod.com
**Alexa rank:** [311,101](https://www.alexa.com/siteinfo/fmod.com)

FMOD is one of the most popular middleware for Sound Design in Game Engines such as Unity and Unreal Engine.

**Official resources for icon and color:**
I've found one [here](https://www.fmod.com/attribution), even though the project icon like [this](https://mattlightbound.com/201

[2021-05-17 02:24] adempus opened #5710 "Icon Request: smash.gg"
**Brand Name:** smash.gg
**Website:** https://smash.gg/
**Alexa rank:** 22,080 https://www.alexa.com/siteinfo/smash.gg

Smash.gg is a web platform for organizing and following e-sports events, schedules and stats.

**Official resources for icon and color:**
`#CB333B`

An SVG file doesn't seem to be readily available, but may be easily reproduced:
https://help.smash.gg/en/articles/1716774-smash-gg-

[2021-05-17 04:35] theswerd opened #5711 "Discord"
**Brand Name:** Discord
**Official resources for icon and color:** https://discord.com/brand-new/branding

Discord recently updated its icon for its 6th birthday. I believe this would be a great update for simpleIcons to make

[2021-05-17 06:48] adamrusted commented on #5711
Updated in #5692 and released yesterday.

[2021-05-17 06:48] #5711 closed

[2021-05-17 09:26] NovaGL commented on #5709
I would suggest using the one listed on their official page. The other logo might be recognizable but it doesn't seem to be the official one.

Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2021-05-17 09:28] NovaGL commented on #5710
Thanks for the request. They included a EPS file which can be easily converted to a SVG.

Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2021-05-17 09:32] made-indrayana commented on #5709
@NovaGL Thanks for clarifying, I guess I'll give it a go then. This would be my first try on a public pull request, please be kind 🙏

[2021-05-17 10:06] #5683 closed

[2021-05-17 10:49] PeterShaggyNoble commented on #5661
Yep, looks to be a part of a larger rebranding they're rolling out that we'll need to keep an eye on.

[2021-05-17 10:57] iugabogdan opened #5714 "Icon Request: Betfair"
**Brand Name:** Betfair
**Website:** https://www.betfair.com/
**Alexa rank:** 10,460, link: https://www.alexa.com/siteinfo/betfair.com

Betfair is an online gambling company which operates the world's largest online betting exchange.

**Official resources for icon and color:**

SVG:
https://upload.wikimedia.org/wikipedia/ro/thumb/5/5a/Betfair_logo.svg/709px-Betfair_logo.svg.png

 Color:
`#000000`

[2021-05-17 11:09] adamrusted commented on #5522
Returning to this, I think in the interest of getting the issue closed (continuing discussion in #5530) we _should_ add the mark to the base SVG for now. It'll ensure our US users are compliant for now, and we can always revisit it at a later date. I've started work on a PR, but before I submit it'd be great to hear from other @simple-icons/maintainers.

[2021-05-17 11:11] #4983 closed

[2021-05-17 11:22] PeterShaggyNoble commented on #5202
Their Alexa rank has tanked over the past few weeks but looks to be on a slight upswing again so I say we hold off on doing anything with this one until the week of v5 and see how healthy it's looking then.

[2021-05-17 13:02] service-paradis commented on #5336
Sure, I just submitted a contact request to them about the removal. Will keep you updated!

[2021-05-17 13:08] #5596 closed

[2021-05-17 13:19] #5509 closed

[2021-05-17 14:21] moodledan commented on #5661
The latest Azure SVG data here. [azure.txt](https://github.com/simple-icons/simple-icons/files/6494422/azure.txt)

[2021-05-17 15:21] #5654 closed

[2021-05-17 15:30] made-indrayana opened #5721 "Icon Request: Wwise"
**Brand Name:** Wwise
**Website:** https://www.audiokinetic.com/products/wwise/
**Alexa rank:** [247,056](https://www.alexa.com/siteinfo/audiokinetic.com)

**Official resources for icon and color:**
Found [here](https://www.audiokinetic.com/resources/credits/)

Wwise is one of the most popular audio middleware for game engines.

I already prepped a pull request for this :)

[2021-05-17 15:34] PeterShaggyNoble commented on #5714
Thanks for the request, @iugabogdan.

There are actually a couple of official SVGs available that we can use, such as [this sprite](https://assets.cdnppb.net/ssc/ssc-sprite.svg) in their website header and [this logo](https://partnerships.betfair.com/assets/betfair-logo.svg) from the header of [their affiliate site](https://partnerships.betfair.com/). Would you like to have a read through [our con

[2021-05-17 15:46] iugabogdan commented on #5714
@PeterShaggyNoble nice, to be honest I didn't looked over the website for svg-s (my bad) as I saw on other icon request that people just google things and paste some link with the logo, and I did the same, pasted the first result that came.

And yes, I will try to open a pull request asap. Hope to get it right this time! :D

Thanks a lot!

[2021-05-17 16:00] made-indrayana opened #5723 "Icon Request: Perforce"
**Brand Name:** Perforce
**Website:** https://www.perforce.com/
**Alexa rank:** [34,904](https://www.alexa.com/siteinfo/perforce.com)

**Official resources for icon and color:**
SVG Grabber from website, I extracted the logo from the typography.

Very popular Version Control Software. Pull request coming up.

[2021-05-17 16:38] #5671 closed

[2021-05-17 17:36] echoaman opened #5725 "Icon Request: Docker Compose"
**Brand Name:** Docker Compose
**Website:** https://docs.docker.com/compose/
**Alexa rank:** 173.4 k (the site returned stats of docker.com)
**Github Stars:** ~ 22.6k

**Official resources for icon and color:** https://github.com/docker/compose/blob/master/logo.png

(Sorry, I was unable to find a SVG image)

[2021-05-17 18:02] NathanSaldanha opened #5726 "Icon Request: Bundler"
Brand Name: Bundler
Website: https://bundler.io/
Alexa rank: 33.3 k (the site returned stats of bundler.io)
Github Stars: ~ 2.7k

Official resources for icon and color: https://bundler.io/images/apple-touch-icon.png

(Sorry, I was unable to find a SVG image)

[2021-05-17 18:42] adempus commented on #5710
I'm on it!

[2021-05-17 19:02] #5561 closed

[2021-05-18 08:42] ericardomuten opened #5729 "Icon Request: CERN"
**Brand Name: CERN**
**Website: https://home.cern/**
**Alexa rank: 96,545**

**Official resources for icon and color: https://design-guidelines.web.cern.ch/guidelines/badge-logo**

Third party SVG: https://vectorlogoseek.com/cern-vector-logo-svg/

Very well-known international research organization in particle and high-energy physics.

[2021-05-18 08:47] adamrusted commented on #5729
Thanks for the request @eraraya-ricardo - though as stated [here](https://design-guidelines.web.cern.ch/guidelines/logo) we will require approval to use the icon. It also looks like we'll need to use the outline version as opposed to the badge version, as we cannot guarantee the icon will be displayed in `CERN Blue`. Would you like to get in touch with them, and look to contribute this icon yourse

[2021-05-18 08:53] PeterShaggyNoble commented on #5729
What amuses me is that they say the exact same thing about the [usage of the outline logo](https://design-guidelines.web.cern.ch/guidelines/outline-logo)! Without knowing exactly how each individual user will be using the icon, I think a case can be made here for adding both versions, thereby setting the precedent under discussion in #5614. What do other @simple-icons/maintainers think?

There are

[2021-05-18 10:19] Falconoff opened #5732 "adidas"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-05-18 10:20] PeterShaggyNoble commented on #5732
Thanks for the request, @Falconoff. However, can you please complete the issue template provided.

[2021-05-18 10:24] #5732 closed

[2021-05-18 10:34] #5544 closed

[2021-05-18 10:36] PeterShaggyNoble commented on #5661
Thanks, @moodledan. However, could you let us know where you sourced that file?

[2021-05-18 10:42] #5709 closed

[2021-05-18 10:44] PeterShaggyNoble commented on #5721
Thanks for the request, @made-indrayana. For future reference, though, you don't necessarily need to create an issue for an icon you're already planning to contribute yourself unless you'd like to stake a claim on it while you work on it.

[2021-05-18 10:50] moodledan commented on #5661
@PeterShaggyNoble This SVG was captured from the Azure Portal https://portal.azure.com/, you need to be signed in to view it. The SVG is embedded in the portal as part of a 'loading' screen.

[2021-05-18 10:52] adamrusted commented on #5661
Just logged in to check this myself. As @moodledan says it's available in the source code at that URL, and they're already using it as the favicon on that page too - so looks like they've already done the rebrand (just not on the public-facing side!

[2021-05-18 11:05] PeterShaggyNoble commented on #5661
I think we can proceed with the update of Azure, at least, based on that. I'm having a dig around in there at the moment to see if I can find a monochrome treatment but the only one I've found so far is still using the old logo.

[2021-05-18 11:10] made-indrayana commented on #5721
@PeterShaggyNoble ah, I see! Then the recommended way to contribute further is to just do a search first on the issues if somebody else is already doing work on that, if not, I'll just do a pull request directly, correct?

[2021-05-18 11:11] #5721 closed

[2021-05-18 11:11] adamrusted commented on #5661
Given the 'Power Platform' icons I've contributed are in the Fluent Style also, it'd be worth trying to unify our approach to them. I've gone with a 0.5pt gap around each section - granted they're all different 'shapes' in those as opposed to one continuous letter.

[2021-05-18 11:12] PeterShaggyNoble commented on #5056
Don't forget about this one, @foo-dogsquared

Also, can you check your messages on Slack when you have a minute 😉

[2021-05-18 11:26] PeterShaggyNoble commented on #5714
Yeah, we may need to look into that as part of our restructuring of our contributing guidelines in #5628 - we only make mention of acceptable sources in the section on adding icons, but not in the section on requesting icons and the list in the issue template reads more like a list of suggestions than requirements.

[2021-05-18 11:36] PeterShaggyNoble commented on #5725
Thanks for the request, @echoaman.

It looks like the icon for Compose actually differs significantly from their logo; I found [this SVG](https://github.com/docker/docker.github.io/blob/master/images/compose_48.svg) while digging through their repos. Being more familiar with the brand, would you agree with that?

Also going to ping @mdlinville who added that SVG for their feedback as to which we s

[2021-05-18 11:40] iugabogdan commented on #5714
Cool, that will help. If people will read the contributing guide 😅
Cheers!

[2021-05-18 11:45] PeterShaggyNoble commented on #5726
Thanks for the request, @NathanSaldanha.

Haven't been able to find a vector version either so I'm going to ping @deivid-rodriguez or the @rubygems team as the current top contributor to the repo linked from their website to see if they can help us out or point us in the right direction.

[2021-05-18 12:36] service-paradis commented on #5336
I received the following reply:

I will close this issue as we do not need to remove it :)

[2021-05-18 12:36] #5336 closed

[2021-05-18 13:00] deivid-rodriguez commented on #5726
@indirect Do you know whether we have a vector version of the bundler icon? I could only find one for rubygems.

[2021-05-18 14:16] #5723 closed

[2021-05-18 14:21] #5651 closed

[2021-05-18 14:23] #5653 closed

[2021-05-18 14:37] PeterShaggyNoble commented on #5661
We'll probably need to add a cut-out to the inner overlap, at least.

[2021-05-18 15:10] #5455 closed

[2021-05-18 15:15] PeterShaggyNoble commented on #5721
Yup 🙂 And if you trip over an unfulfilled request you'd like to take on in the process, all the better! 😉

There's no _harm_ in opening the issue, it just saves you an extra step if you're already planning on submitting the PR anyway.

[2021-05-18 15:18] echoaman commented on #5725
Hi @PeterShaggyNoble .

I have never seen that SVG before. I have never heard/seen anyone associate docker compose with that SVG. I believe that the octopus logo is the official one.

That being said, I could have missed something. I guess taking feedback from @mdlinville would be the right thing to do.

[2021-05-18 15:19] #5085 closed

[2021-05-18 15:41] PeterShaggyNoble commented on #5598
Labelling this as [![pending](https://img.shields.io/github/labels/simple-icons/simple-icons/pending)](https://github.com/simple-icons/simple-icons/labels/pending) the outcome of #5614. If we decide against it then this can be closed with #5735.

[2021-05-18 16:04] PeterShaggyNoble commented on #5541
Any of the other @simple-icons/maintainers want to weigh in on this one?

[2021-05-18 18:52] mdlinville commented on #5725
Sorry folks, I haven't worked for Docker since 2018 and have no useful input.

[2021-05-18 19:26] indirect commented on #5726
It's a bit excessively detailed, but we do have an SVG of the logo:
[bundler-logo.svg.zip](https://github.com/simple-icons/simple-icons/files/6503806/bundler-logo.svg.zip)

[2021-05-18 19:38] adamrusted commented on #5726
Thanks for providing the file @indirect!
Cutting out all the white / light blue paths, and using just the dark path gives the below. Would you be okay with that being used?

![bundler](https://user-images.githubusercontent.com/1830867/118712703-ff7c6380-b818-11eb-9e50-42cf37e393ff.png)