[2020-12-31 12:12] adamrusted commented on #3097
@kentcdodds no worries, I've taken another go at it - if that's any good?

![testinglibrary](https://user-images.githubusercontent.com/1830867/103410028-64346b80-4b61-11eb-828e-42697dd7d7f4.png)

[2020-12-31 12:14] fbernhart commented on #980
Here is some feedback from my side:

### Already great:
- I like the "card concept" with all the necessary information and buttons available without any additional clicking or hovering. Great work!
- The "copy to clipbord" functionality for the colors and SVG on hover is a great idea!
- Overall the layout is very tidied up and simple.

### Could be improved in my opinion:
- My overall concern is t

[2020-12-31 12:44] adamrusted commented on #4541
Do you think something like below would work? Just removing the middle path where the 'shadow' is in the logo.

![deepnote](https://user-images.githubusercontent.com/1830867/103411011-d018d300-4b65-11eb-867d-2e1ba30e02e0.png)

[2020-12-31 14:56] kentcdodds commented on #3097
I love it 💕

[2020-12-31 15:02] ericcornelissen commented on #980
Could we implement some kind of lazy loading? So the website is loading the first 100 (or 200, or 300, ...) icons and then if you scroll down (or click on a "Next Page" button), it will load the next 100? So we don't have to load all of the 1500+ SVGs at once.

This is also a concern of mine, but since it's a problem on the existing site already I didn't consider it for a minimum viable product. I

[2020-12-31 17:02] ericcornelissen commented on #2260
I'm unsure what my old position this was, but at least now I agree. Given that the filenames are already the slug anyway, I think it is fair to expect package users to relay only on the slug as well and don't support querying by title. This would, of course, be a breaking change so we can't do this until [v5](https://github.com/simple-icons/simple-icons/milestone/4) - as you also mentioned.

So, w

[2020-12-31 21:37] adamrusted commented on #3590
SVG logo for this available [here](https://svn.apache.org/repos/asf/comdev/project-logos/originals/kylin.svg), same source as other Apache icons.

[2021-01-01 08:54] ishvaram opened #4543 "Request: GoLang"
**Name:** gopher
**Website:** https://golang.org/
**Alexa rank:** 9,739

**Official resources for icon and color:**

This is available - https://golang.org/lib/godoc/images/go-logo-blue.svg
can we've this also - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj949IQMWk1FDHksy_JqMTUbM5Xq3yhlWzqw&usqp=CAU

[2021-01-01 09:48] fbernhart commented on #4543
@ishvaram thanks for your request.

In order for it to be valid, you have to provide the needed information from the issue template:

[2021-01-01 12:46] #3634 closed

[2021-01-01 13:20] #3659 closed

[2021-01-01 14:47] runxel commented on #2260
I agree with all that Eric said.

This will help with the next points. Breaking change, but a good one for 5.0.

Absolutely. I think we already agreed on a "First comes – first served" based principle. It's the easiest to handle.

Yes. Vox the tv channel should be `vox_tv` then. I think _clarity_ is much more important than some weird concept of consistency here. (Not meant to be rude; but in this

[2021-01-01 14:48] runxel commented on #4541
Yes! That was what I had in mind, too, @adamrusted! Thanks! 💯
You're being really quick :)

[2021-01-01 14:58] runxel commented on #980
Oops, sorry. Didn't want to close.

Great work, @ericcornelissen! That looks fantastic already! 💯
Personally, I like the greyed out logo in the corner. Looks slick.

By the way: Any chance of having a dark mode? 😅 I could provide that one, too.

[2021-01-01 15:06] adamrusted commented on #3190
I've been able to use the simplified monochrome version - though I can't actually see it being used anywhere on their site. What do other @simple-icons/maintainers think on this one?

![flipkart](https://user-images.githubusercontent.com/1830867/103441031-e8125480-4c42-11eb-9a8d-43f34da9e70d.png)

[2021-01-01 17:10] ericcornelissen commented on #980
Thanks @runxel :smile:

Was already on my list and actually started working on it today (before I saw your comment). You can have a sneak peak by checking out https://github.com/ericcornelissen/simple-icons-website/pull/5

[2021-01-01 17:31] adamrusted commented on #2489
Just checking in on this one, I've been able to create a decent version to 3 decimals including the 'anthill' graphic. Happy to submit if we think it's worth it?

![kongregate](https://user-images.githubusercontent.com/1830867/103443429-1c900b80-4c57-11eb-99e9-9098825344b3.png)

[2021-01-01 18:38] anderbak opened #4558 "Icon Request Yale"
**Name:** Yale
**Website:** https://us.yalehome.com/en/yalehome-products/
**Alexa rank:** 323,703

**Official resources for icon and color:** Logo found here: https://us.yalehome.com/Other/Yale/Logos/2020/Yale%20Logo%20New%20SVG%202020.svg

[2021-01-01 18:41] anderbak opened #4559 "Icon Request OpenEVSE"
**Name:** openEVSE
**Website:** https://www.openevse.com/
**Alexa rank:** 3,325,734

**Official resources for icon and color:** Logo found here: https://d2wcvokpp8ehmb.cloudfront.net/img/logo.png

[2021-01-01 18:57] #3294 closed

[2021-01-01 19:10] #3213 closed

[2021-01-01 19:21] anderbak opened #4560 "Icon Request Inovelli"
**Name:** Inovelli
**Website:** https://inovelli.com/
**Alexa rank:** 1,053,394

**Official resources for icon and color:** Logo found here: https://cdn11.bigcommerce.com/s-f5v31ey6uk/images/stencil/250x100/new-inovelli-logor-white_1570134939__29582.original.png

[2021-01-01 19:49] mondeja commented on #2260
But, what is the point of using a `_` here? There are brands that uses underscores in their titles, for example see #3769. So this not ensure nothing, at the end, we would need a test that compares all slugs (keep in mind that slug could be the slug autogenerated from title or the `slug` property) to make sure that all are unique. Currently we wouldn't have this kind of problem, but with more and

[2021-01-01 20:08] mondeja commented on #4461
To clarify this a bit, not only the expiring time, as @adamrusted has been doing with some old potentially abandoned pull requests, those with `awaiting reply` and `changes requested` labels that would exceed their expiring time should be?

- Fixed by maintainers if possible, which has push permissions to contributors branches (@mondeja votes for this approach).
- Marked with `abandoned` label and

[2021-01-01 20:16] adamrusted commented on #4461
I also think this is the best approach. If the PRs are marked as 'stale', we can then sort through those and try and either make contact with the contributor or fix issues ourselves.

Some of the ones I've looked at today would have been `stale` for silly reasons, like the linter failing on an lower-case hex code, or a path not being centred. It makes sense for us to try and fix this before closin

[2021-01-01 20:25] mondeja commented on #4559
Sorry @anderbak, but we only accept brands with an Alexa Rank greater than 500,000.

[2021-01-01 20:25] #4559 closed

[2021-01-01 20:25] mondeja commented on #4560
Sorry @anderbak, but we only accept brands with an Alexa Rank greater than 500,000.

[2021-01-01 20:25] #4560 closed

[2021-01-01 20:38] mondeja commented on #4493
Selenium is already requested in #3387, so I've edited your request @sadabnepal

[2021-01-01 20:52] adamrusted commented on #3387
Hi @JoaoPedroMoraes, did you still want to contribute this icon?

[2021-01-01 21:17] ericcornelissen commented on #2260
I wasn't aware of #3769 and would consider updating [`titleToFilename` function](https://github.com/simple-icons/simple-icons/blob/80d118fe909c7e7421a6e2cb9890a1b2b37f64e2/scripts/utils.js#L6) (which is the logic that generates a slug from a title) to deal with the underscore. But I suppose this is a separate discussion. In short, may argument would be that no-one calls it "Pop underscore OS" but

[2021-01-01 21:43] adamrusted commented on #3536
Given the current Alexa rank of Bitcoin SV - it looks like we're unfortunately unable to include this one @remjx.
Please feel free to reopen this should the Alexa rank of the main site into scope of this project.

[2021-01-01 23:04] adamrusted commented on #1436
Looks like Pokémon GO is outside the threshold for inclusion in Simple Icons at the moment. Happy for another @simple-icons/maintainers to say we should keep this open, but for now I'll look to close this as Out of Scope.

[2021-01-01 23:05] adamrusted commented on #1436
Ignore me, got a little trigger happy before checking the Niantic version of the website, which is ranking a lot higher. 😅

[2021-01-02 11:01] adamrusted commented on #4531
There's both an EPS and an AI file in the logos link you posted above. Both should be suitable for conversion to SVG. I'll take a quick look today at generating the icon.

[2021-01-02 11:06] adamrusted commented on #4459
I'm going to close this for now. As @ericcornelissen and @NovaGL have mentioned, hex codes can be minified inside of whatever project is using Simple Icons, and it's important we maintain consistency in the data we put out via the packages. @simple-icons/maintainers feel free to reopen this if you think it needs further discussion.

[2021-01-02 11:06] #4459 closed

[2021-01-02 11:27] adamrusted commented on #4286
Assuming the below details. Could be wrong though.

[2021-01-02 12:35] remjx commented on #3536
Bitcoinsv.io has Alexa rank < 500k

@adamrusted can you please reopen?

[2021-01-02 12:49] cyppan commented on #4531
Hi, sure I can have a look on monday, we should have an svg icon compliant with the simple icons requirements

[2021-01-02 12:53] adamrusted commented on #4531
I've just submitted a monochrome version of the PSD in #4575 - so if there is a different preferred version, do let me know 👍🏻

[2021-01-02 14:34] ishvaram commented on #4543
@fbernhart updated the first comment

[2021-01-02 15:06] fbernhart commented on #4543
@ishvaram It's not about your name or website. 😅

You have to provide the name of the company/logo and their website.

[2021-01-02 15:16] ishvaram commented on #4543
Oh my bad!  sweat_smile sweat_smile
updated it again

[2021-01-02 16:03] #4530 closed

[2021-01-02 17:34] adamrusted commented on #4543
I would go this logo, with the blue hex code pulled from it also. Source can just be the [homepage](https://golang.org/), as the SVG is used there.

[2021-01-02 17:42] adamrusted commented on #3481
This is a duplicate of #2962, which was closed by #2975. Going to close this issue.

[2021-01-02 17:42] #3481 closed

[2021-01-02 17:49] fbernhart commented on #4543
We already have the "Go" wordmark. See https://simpleicons.org/?q=Go

And adding the mascot, called "Gopher", would mean that we have two icons for the same brand. Which currently isn't something that we support.

[2021-01-02 17:55] #4543 closed

[2021-01-02 18:49] #3462 closed

[2021-01-02 18:55] #3618 closed

[2021-01-02 20:26] adamrusted opened #4578 "Stellantis Review"
Following the merge of FCA and PSA to form Stellantis - we should try and review all relevant brands when an official media source becomes available. Brands are listed below:

- [x] ~Abarth~ - Not Popular Enough
- [x] Alfa Romeo - #4990
- [x] Chrysler - #4991
- [x] Citroen - #5005
- [x] Dodge - #5003
- [x] DS Automobiles - #5006
- [x] Fiat - #5008
- [x] Jeep - #5011
- [x] ~Lancia~ - Not Popular En

[2021-01-03 11:45] #3575 closed

[2021-01-03 11:45] #4368 closed

[2021-01-03 13:52] #2963 closed

[2021-01-03 15:26] MaxWinterstein opened #4587 "OctoPrint"
**Name:** OctoPrint
**Website:** octoprint.org // https://github.com/OctoPrint/OctoPrint
**Alexa rank:** 52,263 // 5k+ stars

**Official resources for icon and color:**

 https://github.com/OctoPrint/octoprint.org/blob/gh-pages/assets/img/tentacle-128x128.png
https://github.com/OctoPrint/OctoPrint/blob/master/src/octoprint/static/img/tentacle-20x20-light@2x.png

[2021-01-03 15:39] adamrusted commented on #4587
Would we be better to use https://github.com/OctoPrint/OctoPrint/blob/master/src/octoprint/static/img/mask-theme.svg, with the lighter green used in the SVG?

[2021-01-03 16:01] RichardRNStudio opened #4588 "Request: Google Optimize"
**Name:** Google Optimize
**Website:** https://marketingplatform.google.com/about/optimize/
**Alexa rank:** 1

**Official resources for icon and color:** https://www.gstatic.com/analytics-suite/header/suite/v2/ic_optimize.svg

[2021-01-03 16:06] MaxWinterstein commented on #4587
I can give it a try 👍
Not much knowledge about SVGs, but no excuse not to learn it!

(for the notes, there is also some monochrome version laying around here: https://github.com/OctoPrint/OctoPrint/blob/master/src/octoprint/static/img/mask.svg)

[2021-01-03 16:08] adamrusted commented on #4588
Hi @RichardRNStudio, thanks for the request! Unfortunately the Alexa rank of 1 isn't really representative of this, as it's a subdomain of Google. Do we already include some 'competitor' products like Google Optimize, and if so - how does it compare on [Google Trends](https://trends.google.com/)?

[2021-01-03 17:18] mondeja opened #4590 "The 2021 Icon Review"
Starting with #4589, I open this to track those icons that should be reviewed this year. This issue should serve to review the icons that fail with the new linting rules added in 2021.

## Icons with collinear coordinates in straight lines (#4589)

- [x] Amazon Lumberyard (#4591)
- [x] Andela (#4592)
- [x] Apache JMeter (#7000)
- [x] Apache Maven (#4593)
- [x] Arch Linux (#5172)
- ~~Aseprite~~ (#4

[2021-01-03 17:29] adamrusted commented on #4590
@mondeja - in the example of Amazon Lumberyard, I'm getting the linter error of `x collinear-segments Collinear segment "l-0.01 -0.04" in path (should be removed)` - I can't find that segment in the SVG - so what's my best method of identifying where exactly this is?

[2021-01-03 17:35] mondeja commented on #4590
Keep in mind that could be part of a chained command. In this case is `l-.014-.076-.01-.04-.012-.048`. The path parser does not differentiate between a chained relative command and a direct one and because of that I'm not able to show a more accurate error message.

[2021-01-03 20:14] #4434 closed

[2021-01-04 03:38] ishvaram opened #4600 "Add Kamailio"
**Name:** Kamailio
**Website:** https://www.kamailio.org/
**Alexa rank:**404,097

**Official resources for icon and color:**
  https://www.kamailio.org/w/wp-content/uploads/2016/04/kamailio-logo-2015-140x64.png

~~**Name:** ProxySQL
**Website:** https://proxysql.com/
**Alexa rank:** 531,291~~

~~**Official resources for icon and color:**
https://proxysql.com/wp-content/uploads/2020/02/ProxySQL-Log

[2021-01-04 04:27] fbernhart commented on #4600
@ishvaram Thanks for your request. For the future: It would be great if you only request **one icon per opened issue**. So we can keep everything organised. 😊

Unfortunately ProxySQL seems to be out of scope for Simple Icons at the moment. We require an Alexa rank of < 500k ([531,291](https://www.alexa.com/siteinfo/proxysql.com) at the moment) or Github stars > 5k ([4.2k](https://github.com/sysown

[2021-01-04 05:01] #3599 closed

[2021-01-04 05:08] #3470 closed

[2021-01-04 05:18] hasthamalp opened #4601 "Request: Institute of Electrical and Electronics Engineers(IEEE) Icon"
**Name:** Institute of Electrical and Electronics Engineers (IEEE)
**Website:** https://www.ieee.org/
**Alexa rank:** 1,267

**Official resources for icon and color:** https://www.ieee.org/

[2021-01-04 05:22] #3525 closed

[2021-01-04 05:24] fbernhart commented on #3469
Fixed by #3512

[2021-01-04 05:24] #3469 closed

[2021-01-04 05:26] fbernhart commented on #3639
Fixed by #3661

[2021-01-04 05:26] #3639 closed

[2021-01-04 05:35] fbernhart commented on #3359
Fixed by #3723

[2021-01-04 05:35] #3359 closed

[2021-01-04 05:43] fbernhart commented on #4601
I've found a vectorized version of the logo here: https://www.ieee.org/content/dam/ieee-org/ieee/web/org/about/ieee_corporate_brochure.pdf

[2021-01-04 05:48] hasthamalp commented on #4601
https://www.ieee.org/content/dam/ieee-org/ieee/web/org/globals/88857-22.gif

[2021-01-04 05:51] hasthamalp commented on #4601
proceed

[2021-01-04 06:38] dhruvkb commented on #4428
@adamrusted is anything needed from me regarding this issue?

[2021-01-04 07:06] ahmubashshir opened #4602 "[Icon] myanimelist.net"
**Name:** MyAnimeList
**Website:** myanimelist.net
**Alexa rank:** 829 (https://www.alexa.com/siteinfo/myanimelist.net)

**Official resources for icon and color:**

[2021-01-04 07:09] ahmubashshir opened #4603 "[Icon] AniList"
**Name:** AniList
**Website:** https://anilist.co
**Alexa rank:** 12662 (https://www.alexa.com/siteinfo/anilist.co)

**Official resources for icon and color:**

[2021-01-04 09:20] runxel commented on #980
Nice @ericcornelissen!
I really like the work you've done.

[2021-01-04 09:40] #3763 closed

[2021-01-04 09:49] adamrusted commented on #4428
@dhruvkb nope, all good here. Just waiting on another @simple-icons/maintainers to look over #4442 before inclusion. 😄

[2021-01-04 10:51] PeterShaggyNoble commented on #3422
Thanks for the requests, @sharmavins23.

In the case of Verilog, while we do have precedent for adding icons for standards such as Bluetooth, unlike Bluetooth there doesn't seem to be a brand behind this standard so it wouldn't be something we could add.

In the case of SystemVerilog, there is a logo available on [Wikipedia](https://en.wikipedia.org/wiki/SystemVerilog) but the source URL now redir

[2021-01-04 11:05] PeterShaggyNoble commented on #3412
Sorry for the delay, @danielmarostica; been on a bit of a hiatus.

Simple Icons is a monochrome icon library so, if you're in need of a full colour icon, you could use the one I linked above or request it from an icon library that _does_ support full colour icons.

[2021-01-04 11:07] PeterShaggyNoble commented on #3412
As it turns out, this was a dupe of #1188 and was added in #1843 - sorry for not spotting that originally.

[2021-01-04 11:09] #3412 closed

[2021-01-04 11:13] hasthamalp commented on #4284
icon is updated in website but canot create a badge for phonepe  plz help

[2021-01-04 11:18] adamrusted commented on #4284
@hasthamalp while the icon is updated on our website and repository - it may take some time for other repositories (such as shields.io) to update the version they are using. If you need a specific icon for a project like that, it may be worth opening an issue with them to update their dependency.

[2021-01-04 11:18] hasthamalp commented on #3978
canot create badge for infosys 404 eror showing

[2021-01-04 11:20] adamrusted commented on #3978
@hasthamalp as mentioned in #4284, whichever site you're using to create your badges will likely need to update their dependency on simple-icons. It'd be worth submitting an issue to their GitHub repository (if they have one) if you need the icons updating.

[2021-01-04 11:22] PeterShaggyNoble commented on #3435
I'll take this one, to help ease me back into things.

[2021-01-04 11:23] hasthamalp commented on #3978
ok thank you for the reply

[2021-01-04 11:25] hasthamalp commented on #4284
thank you for the clarification

[2021-01-04 12:12] PeterShaggyNoble commented on #3432
The Alexa rank for this currently sits at ~123k. However, that may be a seasonal thing as it seems to be a product for controlling Christmas lights. Reopening for now so we can keep an eye on it over the next few weeks/months to see if it stays above our thresholds

[2021-01-04 12:27] PeterShaggyNoble commented on #3410
Thanks, @tacaswell; do you have any update to provide on this yet?

[2021-01-04 12:37] PeterShaggyNoble commented on #3439
Thanks for the request, @nareshr8.

An [SVG](https://academy.databricks.com/static/skin/lde-skin-databricks/resources/images/academy-logo-2020.svg) of their logo can be found in the header of https://academy.databricks.com/ and, from [their style guide](https://brand.databricks.com/Styleguide/Guide/#page/D8C1B406-2E65-42F8-8311A1B1B5B8C735), I'd suggest `#ff3621` for the colour.

Would you like to

[2021-01-04 12:43] nareshr8 commented on #3439
Sure. I'll do that

[2021-01-04 12:44] PeterShaggyNoble commented on #3436
There's [this SVG](https://typeorm.io/image/favicon/safari-pinned-tab.svg) ... heartlessly butchered by my old nemesis, Potrace 😆

I can't find anything other than that either, though, so going to ping @pleerock as the top contributor to their primary repo to see if they can help out in the provision of a vector version of their logo.

[2021-01-04 12:52] #3435 closed

[2021-01-04 12:55] PeterShaggyNoble commented on #3445
@HariSekhon, is their another metric of popularity we can use for assessing this brand's suitability for inclusion in our library? Using the Alexa rank for either site isn't going to give us an accurate reflection of whether or not it's within our scope.

[2021-01-04 13:30] #2849 closed

[2021-01-04 13:30] nareshr8 commented on #3439
Should we use the Filled in version of the Icon or the one with just lines? The Website's icon which we see along with title seems to have just the line. While, the header of the website has Red filled in on the squares

[2021-01-04 13:32] adamrusted commented on #3439
Following their style guide, it should be the line version of the logo, see [this page](https://brand.databricks.com/Styleguide/Guide/#page/59EE8808-1DA4-41D6-95E62D23B4073806) for details on their logo.

[2021-01-04 14:43] #4247 closed

[2021-01-04 14:49] #4313 closed

[2021-01-04 14:53] #1919 closed

[2021-01-04 15:01] #3578 closed

[2021-01-04 15:26] PeterShaggyNoble commented on #3441
Looks like this one could be tricky; per the page @NovaGL linked above as well as [this one](https://www.rottentomatoes.com/help_desk/licensing/), RT have very specific guidelines for the usage of their icons, none of which allow for the use of the tomato alone to represent the RT brand itself. From what's available on those 2 pages I think we'd have to, unfortunately, go with the full wordmark.

[2021-01-04 15:30] PeterShaggyNoble commented on #3448
The Alexa rank for this one has plummeted to below 1.7m now and, coupled with the only other metric we have available to us of just 299 GH stars, I'm going to say that this one is, unfortunately, beyond our scope. @Zorono, if you know of another metric that better reflect the popularity of this brand then please leave a comment and we will revisit it.

[2021-01-04 15:30] #3448 closed

[2021-01-04 15:43] PeterShaggyNoble commented on #3455
@Krishna-Ravi, to revisit this one: could you provide us with a bit more information that might help us assess the popularity of this one as the Alexa rank only offers us insight into the parent company's popularity. I suspect that it does meet our requirements but having some tangible data to judge by would be a big help.

[2021-01-04 15:52] PeterShaggyNoble commented on #3461
This was my first instinct upon seeing their logo. What do the other @simple-icons/maintainers think?

![Game Jolt](https://user-images.githubusercontent.com/15157491/103553045-c7493980-4ea4-11eb-882d-c07b39152ca8.png)

[2021-01-04 16:00] PeterShaggyNoble commented on #3463
@richarddewit, if you want to submit a PR for this, we can provide further assistance there. I believe our checks for absolute centre require less precision now than when you last tested it.

Note that although the Alexa rank has dropped considerably since the initial request to [~558k](https://www.alexa.com/siteinfo/crystal-lang.org), its [15.4k stars on GH](https://github.com/crystal-lang/crysta

[2021-01-04 16:03] PeterShaggyNoble commented on #3464
@NovaGL, do you have any tangible data for us to base that on should anyone question its inclusion in the future?

[2021-01-04 16:04] fbernhart commented on #3461
@PeterShaggyNoble How about instead cutting out all of the "green fill"? This way it does resemble even more a lightning bolt in my opinion.

![gamejolt](https://user-images.githubusercontent.com/70264417/103554027-93731180-4eae-11eb-9823-ef0e82b9538f.png)

[2021-01-04 16:07] #3552 closed

[2021-01-04 16:12] fbernhart commented on #3464
@PeterShaggyNoble Although the Alexa rank of [673,374](https://www.alexa.com/siteinfo/homebridge.io) is still out of scope, [16.6k stars on GitHub](https://github.com/homebridge/homebridge) should be more than enough. So this can be added to Simple Icons. 👍🏼

[2021-01-04 16:29] PeterShaggyNoble commented on #3461
@fbernhart, see the edit to my last comment 😉

[2021-01-04 16:40] fbernhart commented on #3464
@PeterShaggyNoble Sorry, I haven't seen that you've self assigned this. I just created a PR for it. 😅

[2021-01-04 16:42] PeterShaggyNoble commented on #3464
No worries, @fbernhart 👍🏻

[2021-01-04 17:10] PeterShaggyNoble commented on #3476
Not sure of the best approach here. Simply making it monochrome doesn't work but adding gaps between the elements seems to me to be taking too many liberties with their logo. Thoughts, @simple-icons/maintainers?

![](https://user-images.githubusercontent.com/15157491/103560428-a9cd9d00-4eaf-11eb-96cd-0e5535a02b6a.png)
![](https://user-images.githubusercontent.com/15157491/103560357-8dc9fb80-4eaf-1

[2021-01-04 17:16] adamrusted commented on #3476
@PeterShaggyNoble I feel like the version with gaps is better. Mainly due to the fact that the colour difference is a key part of the logo.

[2021-01-04 17:16] PeterShaggyNoble commented on #3474
@bmreading, are you still planning on taking this one on?

[2021-01-04 17:26] PeterShaggyNoble commented on #3482
Thanks for the request, @Andrew-Colman.

It's going to be tricky to make this monochrome (I'm too out of practice to even consider trying!). Also, the icon you've linked to differs from the imagery on their website in its use of black. So, before we proceed, I'm going to ping @devongovett and @wbinnssmith for their feedback, to see if they have an existing or preferred monochrome treatment or, if

[2021-01-04 17:34] PeterShaggyNoble commented on #3484
Are you still planning to take this one on, @jairoMolina9? An official SVG of the `D` icon can be found at https://github.com/challengepost/supportcenter/blob/master/images/devpost-icon-rgb.svg

[2021-01-04 17:49] PeterShaggyNoble commented on #3488
It looks like #3370 has been resolved. However, before we proceed, do you have any data we could use to assess the popularity of this brand, @Ayfri, and its suitability for inclusion in our library? We can't go by Alexa rank, unfortunately, as that would be for the parent jerbrains.com site.

[2021-01-04 18:01] PeterShaggyNoble commented on #3510
Thanks for the request, @miZyind.

Would you like to take a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

It's not clear to me what their primary colour is so we may need to ping one of their contributors for feedback.

[2021-01-04 18:25] Ayfri commented on #3488
I think that you can see [this](https://www.jetbrains.com/lp/devecosystem-2020/csharp/) who says that 20% of the C# developers use Rider at the beginning of 2020, I think that is has raised a bit also, we can wait for the 2021 version also to see the raise.

[2021-01-04 19:26] fschrempf commented on #3648
Duplicate of #3491

[2021-01-04 19:28] fschrempf commented on #3491
Would like to see this added too. I just don't know how to deal with the gradient.
Current Alexa rank is 299,544.

[2021-01-04 19:41] #4428 closed

[2021-01-04 19:55] #3648 closed

[2021-01-04 22:56] fbernhart commented on #4603
There is a SVG version of the logo here: https://anilist.co/img/icons/safari-pinned-tab.svg

@ahmubashshir would you like to give it a try and create a pull request yourself, following [our contribution guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md)?

[2021-01-04 23:05] fbernhart commented on #4558
@anderbak would you like to give it a try and create a pull request yourself, following [our contribution guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md)?

[2021-01-04 23:08] fbernhart commented on #4497
@nicolacentonze would you like to give it a try and create a pull request yourself? Every step needed is explained in [our contribution guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md).

[2021-01-05 03:10] miZyind commented on #3510
@PeterShaggyNoble Thanks for your reply!
I've opened an [issue](https://github.com/palantir/blueprint/issues/4470) to ask them to provide us the primary color.
Hope that we can receive their feedback soon.
I'm willing to give this a try as well 😄

[2021-01-05 08:05] #4603 closed

[2021-01-05 09:12] #4314 closed

[2021-01-05 09:15] #4315 closed

[2021-01-05 09:39] #4312 closed

[2021-01-05 09:51] PeterShaggyNoble commented on #3489
They also use the favicon for [their GH org](https://github.com/ResurrectionRemix) so I think that's the one we should go with. The one on Wikimedia isn't used on any pages on Wikipedia and comes from an unofficial source so I doesn't appear to be in anyway official. Indeed, checking their Wikipedia page in other languages (e.g., [French](https://fr.wikipedia.org/wiki/Resurrection_Remix_OS)) shows

[2021-01-05 09:55] PeterShaggyNoble commented on #3495
Hmm ... do we go with or without the registered trademark symbol here ... 🤔

[2021-01-05 09:58] PeterShaggyNoble commented on #3494
Dang! Their entire site is geoblocked here so I can't even dig around to see if they have any brand guidelines 🙄 Trying to figure out if we could get away with just the encircled "Sho" - I feel like I've seen it in use but that may be within the context of their own brand.

[2021-01-05 10:00] fbernhart commented on #3495
@PeterShaggyNoble I haven't seen any brand guidelines that are stating that we have to include it.

And quoting our contribution guidelines:

[2021-01-05 10:05] PeterShaggyNoble commented on #3495
Yep, that would be my inclination as well, @fbernhart; thanks for the confirmation :+1:

[2021-01-05 10:07] fbernhart commented on #3494
@PeterShaggyNoble https://www.showtime.com is blocked here in Germany as well. BUT I can access https://www.sho.com, which I guess is the same company?

They are using "Sho" as favicon, as [pinterest profile picture](https://www.pinterest.de/shonetworks) and of course as URL of their website. So I guess just using the "Sho" might be possible.

[2021-01-05 10:25] #3495 closed

[2021-01-05 10:43] #3468 closed

[2021-01-05 11:07] PeterShaggyNoble commented on #3505
No available vector logo that I can find and the extremely low quality of [the PNG they use on their site](https://stx1.spoj.com/gfx/2015e.png) is going to make this tricky to faithfully recreate.

[2021-01-05 11:12] #3853 closed

[2021-01-05 11:14] PeterShaggyNoble commented on #3511
Thanks for the request, @bettker. However, could you provide us with some data that might help us better assess the popularity of this product and its suitability for inclusion in our library? The Alexa rank provided only speaks to the popularity of the parent domain cnpq.br

For anyone wanting to take this on, you may find it easier to recreate from [this logo](http://memoria.cnpq.br/Portal-Latte

[2021-01-05 11:15] #3641 closed

[2021-01-05 11:18] PeterShaggyNoble commented on #3514
Thanks for the request, @sheef-code. This one could be tricky to convert to monochrome but [this grayscale](https://www.chartjs.org/img/icon.svg) version might offer a better starting point. I'm going ping @etimberg & @kurkle as the top contributors to their primary repo to see if they can provide any feedback on an existing or preferred monochrome treatment.

Suggested colour: `#ff6384`

[2021-01-05 11:19] #4328 closed

[2021-01-05 11:20] PeterShaggyNoble commented on #3516
Are you still planning to take this one on yourself, @KarthikNayak024?

[2021-01-05 11:27] PeterShaggyNoble commented on #3508
I think we'll need to use this to set a precedent: If the logo provided by Apache differs from the logo used by the project itself, which do we use? I'd vote that, in the case of minor differences, we go with the Apache version but, in cases like this, where the difference is more significant, we go with the project logo. After all, to the best of my knowledge, it's up to each individual project t

[2021-01-05 11:30] PeterShaggyNoble commented on #3527
Thanks for the request, @MysteriousKyle. Did you mean to close this or are you still in need of it?

[2021-01-05 11:36] fbernhart commented on #3508
I would use the new logo from their website: https://superset.apache.org/

[2021-01-05 11:43] #3503 closed

[2021-01-05 11:47] #3771 closed

[2021-01-05 12:10] PeterShaggyNoble commented on #3527
Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-01-05 12:22] #3058 closed

[2021-01-05 12:23] PeterShaggyNoble commented on #3538
Thanks for the request, @yenkhoon. I haven't been able to find a vector version of this logo (as yet) but for anyone with the skills to redraw it from a raster file, there's a decent quality PNG available [here](https://www.alibabagroup.com/en/news/library).

Also, are you sure about the colour? My research so far would lead me to choose the orange rather than the grey.

[2021-01-05 12:32] adamrusted commented on #3538
I've been able to vectorize just the icon from the PNG @PeterShaggyNoble linked - full path (which passes Linter) below.

[code]

[2021-01-05 12:34] HariSekhon commented on #3445
I don't know, JFrog is a pretty major software vendor, you may have heard of them from Artifactory, a very widely used repo, and you already have JFrog and JFrog Bintray icons...

[2021-01-05 12:38] #3260 closed

[2021-01-05 12:45] #4531 closed

[2021-01-05 12:47] PeterShaggyNoble commented on #3539
Think we're going to have to take some liberties with this one; I couldn't find a monochrome version of their logo and simply flattening it didn't work.

![](https://user-images.githubusercontent.com/15157491/103648072-2a45d980-4f54-11eb-987a-ce7dfb3147eb.png)

[2021-01-05 12:49] PeterShaggyNoble commented on #3541
Personally, I'd be opposed to adding these as I feel that only the official, well-recognised graphics should be used but what do the other @simple-icons/maintainers think?

[2021-01-05 12:55] fbernhart commented on #3539
@adamrusted Inkscape has a measurement tool (shortcut: M). So you could measure the width and create a gap with the same width.

[2021-01-05 13:09] PeterShaggyNoble commented on #3549
@chiqors, did you mean to close this issue or are you still in need of the icon?

[2021-01-05 13:09] #3341 closed

[2021-01-05 13:18] cyppan commented on #4531
Forgot to check, just did with our graphist it's ok for us thank you @adamrusted

[2021-01-05 13:46] #3550 closed

[2021-01-05 14:07] adamrusted commented on #2436
Happy to submit a PR if you think my path (red) will be ok?

![image](https://user-images.githubusercontent.com/1830867/103655517-4b5ff780-4f5f-11eb-834e-b095da316005.png)

[2021-01-05 14:29] #3446 closed

[2021-01-05 14:31] #3466 closed

[2021-01-05 14:33] #3496 closed

[2021-01-05 15:06] PeterShaggyNoble commented on #3556
This is from Google's own Material Icons Extended icon font. In the past we've rejected icons from that library as they have been "Materialised" but this one looks close enough to me. If others are happy to run with it, I'll clean it up and submit a PR. If you want a look at the original SVG first, you can find it [here](https://petershaggynoble.github.io/MDI-Sandbox/google/)

![](https://user-ima

[2021-01-05 15:17] PeterShaggyNoble commented on #3567
Thanks for the request, @jmknoble. I had a look around but, unfortunately, couldn't find a vector version of their logo so it will need to be recreated manually.

[2021-01-05 15:34] ericcornelissen commented on #3541
Given that [Creative Commons](https://simpleicons.org/?q=Creative%20Commons) is already part of the collection, I would say that these icons, provided they are allowed in monochrome, should be allowed.

[2021-01-05 15:35] fbernhart commented on #3567
I haven't found any vectorized version either. The biggest raster image I could find was their Twitter profile picture:

https://pbs.twimg.com/profile_images/1859373103/edcon_color_transbg2_400x400.png

Maybe @treyhunner as maintainer of EditorConfig and the one that initially uploaded https://github.com/editorconfig/editorconfig.github.com/blob/master/logo.png could help us here out? We would nee

[2021-01-05 15:56] PeterShaggyNoble commented on #3573
Thanks for the request, @gmpravin. However it looks to me as though both the icon and the colour for this are the same as our existing React icon - would that suit your needs?

![React](https://user-images.githubusercontent.com/15157491/103668038-933a4b00-4f6e-11eb-9dc2-74cecc569635.png)

[2021-01-05 16:36] PeterShaggyNoble commented on #3577
Thanks for the request, @hgunay.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

[2021-01-05 16:56] PeterShaggyNoble commented on #3588
Bit of a grey area here from what little I know of the brand. Brands whose sole purpose is to provide adult content, we don't allow but brands that merely allow adult content (e.g., pre-crackdown Tumblr), we do allow. Brands like this, though, whose primary purpose seems to be adult content falls somewhere in between the 2 for me (and its categorisations on [Wikipedia](https://en.wikipedia.org/wik

[2021-01-05 16:56] #3568 closed

[2021-01-05 16:57] PeterShaggyNoble commented on #3401
@mic-ray or @JoaoPedroMoraes, are either of you still planning to take this one on?

[2021-01-05 16:58] PeterShaggyNoble commented on #3360
@JoaoPedroMoraes, are you still planning to take this one on?

[2021-01-05 17:02] PeterShaggyNoble commented on #3443
@JoaoPedroMoraes, are you still planning to take this one on?

Sidenote: it's good to see @brandcolors is back, @runxel 🙂 Although, I think we should use it as a last resort when we can't source or decide on a colour through official channels.

[2021-01-05 17:04] PeterShaggyNoble commented on #3594
Thanks for the request, @MiguelMJ

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

[2021-01-05 17:04] mic-ray commented on #3401
Hey @PeterShaggyNoble , I had some trouble with the required preparation of the SVG icon. Therefore I wouldn't mind someone else taking this one

[2021-01-05 17:09] fbernhart commented on #3588
Just wondering (without categorizing Only Fans):

Where is stated that we don't allow porn companies/adult content? According to our contribution guidelines we're not allowing:

And I wouldn't consider porn an illegal service. At least not in most of the countries worldwide. 😄

[2021-01-05 17:14] PeterShaggyNoble commented on #3585
Aside from the work already being done here; is Nike not a company that's incredibly, litigiously protective of its brand & IP? Or am I thinking of someone else?

[2021-01-05 17:21] PeterShaggyNoble commented on #3592
They now have an SVG in the header of their website: https://www.arangodb.com/wp-content/uploads/2016/10/ArangoDB-logo-bg.svg

Still no monochrome version that I can find, though.

[2021-01-05 18:08] gmpravin commented on #3573
Hii, thanks for replying  both icons are same ,but my opinion is add title on bottom of icon , to differentiate the react native icon

- Like this ![react_native](https://pagepro.co/blog/wp-content/uploads/2020/03/react-native-logo-324x375.png)

[2021-01-05 20:08] treyhunner commented on #3567
@fbernhart there was never a vectorized version of the EditorConfig logo. I believe you've found the biggest version that I have.

I'm attaching the biggest version from my machine here:

![editorconfig logo](https://user-images.githubusercontent.com/285352/103693762-a6d5b980-4f4e-11eb-8a4d-56ad81642b3a.png)

[2021-01-05 20:39] fbernhart commented on #3567
@treyhunner Thanks a lot! This is already going to help us a lot. Maybe very soon you'll have a vectorized version. 😉

[2021-01-05 21:41] #3340 closed

[2021-01-05 22:48] #3413 closed

[2021-01-05 23:01] #4371 closed

[2021-01-06 01:01] #3355 closed

[2021-01-06 07:16] willium opened #4628 "SurveyMonkey logo"
**Name:** Survey Monkey
**Website:** surveymonkey.com
**Alexa rank:** 452

**Official resources for icon and color:**
https://www.surveymonkey.com/mp/brandassets/

[2021-01-06 09:29] #2440 closed

[2021-01-06 09:29] #3989 closed

[2021-01-06 09:30] adamrusted commented on #4628
Thanks for your request @willium - would you be interested in contributing this icon to the project? If so, have a read of our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and feel free to submit a Pull Request.

I'd say for this one we can just get away with the `Goldie` logomark, with the Hex being `#00BF6F`.

[2021-01-06 11:07] #4535 closed

[2021-01-06 11:17] adamrusted commented on #3297
Looking at [this image](https://docs.alibabagroup.com/assets2/images/cn/news/library_logos_taobao_large.png) found on the [Alibaba Group logos page](https://www.alibabagroup.com/cn/news/library#slide_logo) it would appear that one of the glyphs above the logo has been removed. I'll double check now whether the SVG is easily editable to match the PNG, and submit a PR.

[2021-01-06 11:27] PeterShaggyNoble commented on #3565
@JoaoPedroMoraes, are you still planning to take this one on?

[2021-01-06 11:28] #3176 closed

[2021-01-06 11:31] PeterShaggyNoble commented on #3628
Closed by #3680

[2021-01-06 11:31] #3628 closed

[2021-01-06 11:33] #3295 closed

[2021-01-06 11:34] PeterShaggyNoble commented on #3623
Thanks, @glynnis 🙂 Have you had any luck in tracking it down yet?

[2021-01-06 11:43] #3613 closed

[2021-01-06 11:48] PeterShaggyNoble commented on #3646
Thanks for the request, @sukesh2000.

Would you like to have a read of [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself? Vector versions of their logo can be downloaded from https://www.ros.org/press-kit/

[2021-01-06 11:49] #3097 closed

[2021-01-06 11:59] PeterShaggyNoble commented on #3651
Thanks for the request, @ramlaxman.

There's an SVG available [here](https://github.com/CenterForOpenScience/ember-osf-web/blob/develop/public/assets/images/default-brand/cos-logo-white.svg) but it's pretty terrible so we're probably best to have someone manually recreate it.

[2021-01-06 12:07] PeterShaggyNoble commented on #3674
Thanks for the request, @LitoMore

Much as I'd personally love to see this one included in our library, I think it unfortunately is very clear from the document you linked that they are _very_ protective of their brand with the following line being most relevant to us:

For that reason, I'm going to have to say this is out of scope for us but would like one of the other @simple-icons/maintainers t

[2021-01-06 12:10] adamrusted commented on #3674
I agree here. Unfortunately they're very explicit on their requirements - which we're unable to enforce.

[2021-01-06 12:11] PeterShaggyNoble commented on #3674
Thanks, @adamrusted. A shame, though.

[2021-01-06 12:11] #3674 closed

[2021-01-06 12:21] adamrusted commented on #3674
It is - even with #2846 merged though, I don't think as a project we can be responsible for distributing a usable icon 😬

[2021-01-06 12:25] PeterShaggyNoble commented on #3681
Thanks for the request, @Tarun-Kamboj.

First thing we'll need to do is ascertain the popularity of this as the Alexa rank is for IBM itself and none of their [GH repos](https://github.com/IBM-Watson) come close to our cut-off point of 5k stars. As it's an IBM product that's been around for a few years and, according to [Wikipedia](https://en.wikipedia.org/wiki/Watson_(computer)) is widely used, I

[2021-01-06 12:27] PeterShaggyNoble commented on #3682
Thanks for he request, @xkeyscored.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

[2021-01-06 12:33] adamrusted commented on #3681
@PeterShaggyNoble try this - from the official IBM Brand Portal:
[www.ibm.com/brand/systems/watson/05fb7da08dd4835ae17a5ad6f7eea70e/limited-use-light.svg](https://www.ibm.com/brand/systems/watson/05fb7da08dd4835ae17a5ad6f7eea70e/limited-use-light.svg)

[2021-01-06 12:40] MarcE85 opened #4633 "Shelly"
**Name:** Shelly
**Website:** https://shelly.cloud
**Alexa rank:** 90,279

Regards Marc

[2021-01-06 12:48] #3584 closed

[2021-01-06 13:02] #3590 closed

[2021-01-06 13:23] #4541 closed

[2021-01-06 13:24] #1823 closed

[2021-01-06 13:28] #3216 closed

[2021-01-06 13:33] #3464 closed

[2021-01-06 13:36] #3562 closed

[2021-01-06 13:50] #3422 closed

[2021-01-06 14:07] PeterShaggyNoble commented on #3690
Reopening this as both the icon & colour do indeed need to be updated.

[2021-01-06 14:08] PeterShaggyNoble commented on #3691
@DHBot-team, is there a reason you immediately close all your issues after posting them?

[2021-01-06 14:10] PeterShaggyNoble commented on #3692
Alexa rank for this one has now dropped below 630k; is there another metric we can use before we dismiss it, @runxel?

[2021-01-06 14:17] PeterShaggyNoble commented on #3703
Thanks for the request, @LitoMore.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

[2021-01-06 14:20] PeterShaggyNoble commented on #3713
Thanks for the request, @Lich496.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-01-06 14:24] #3226 closed

[2021-01-06 14:25] #3307 closed

[2021-01-06 14:25] PeterShaggyNoble commented on #3471
[5.1k GH stars](https://github.com/python-visualization/folium) just about brings this within our scope now. Haven't managed to find a vector logo as yet so we'll probably have to create it from [this image](https://python-visualization.github.io/folium/_images/folium_logo.jpg).

[2021-01-06 14:34] #4425 closed

[2021-01-06 14:35] #3357 closed

[2021-01-06 14:38] PeterShaggyNoble commented on #3721
Thanks for the detailed request, @btschida11.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-01-06 14:47] PeterShaggyNoble commented on #3722
Thanks for the reques, @squasha27.

Would you like to have a look through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself? You can find an SVG of their logo embedded in the HTML of their website's header.

[2021-01-06 14:51] adamrusted commented on #3471
Using the image linked above, I'm not quite sure if this is meant to be pixelated - or if it's just a low resolution image. Created both variations just in case - which would we prefer @simple-icons/maintainers?

![image](https://user-images.githubusercontent.com/1830867/103781691-9563de80-502e-11eb-8152-e481495a4359.png)

[2021-01-06 14:53] PeterShaggyNoble commented on #3726
Thanks for the request, @wdyun. With [9k stars on GH](https://github.com/apache/zookeeper), this _is_ within our scope.

There's an SVG available at https://apache.org/logos/#zookeeper but I don't think it's going to work out in monochrome; reducing it to just the linework is going to make it illegible and any other treatment probably won't be recognisable.

[2021-01-06 14:55] PeterShaggyNoble commented on #3728
Thanks for the request, @DHBot-team. However, as [this doesn't even register on Alexa](https://www.alexa.com/siteinfo/76.de), we're going to have to rule it as beyond the scope of this project for now. If it does gain traction and its Alexa rank rises above 500k then please feel free to reopen this issue.

[2021-01-06 14:55] #3728 closed

[2021-01-06 14:59] PeterShaggyNoble commented on #3731
Thanks for the request, @aQuaYi.

There's an SVG embedded in the HTML of the header on their site but it's going to take a bit of work to convert it to monochrome without butchering it.

[2021-01-06 15:02] PeterShaggyNoble commented on #3302
Sorry for the delay, @thomasfedb, been on a bit of a hiatus. The second example you provided is the one we should use. Do you want to open a PR and we can take it from there. Note that they are now using [this SVG](https://cdn.ncbi.nlm.nih.gov/pubmed/2fa595a0-cf6a-415d-927c-25a0337f3584/home/images/pubmed-logo-white.svg) on their site (I _think_ it was a PNG last I checked), which is what we shoul

[2021-01-06 15:04] PeterShaggyNoble commented on #3471
The pixel-art effect looks intentional to me @adamrusted so I vote for option 1.

[2021-01-06 15:07] #3744 closed

[2021-01-06 15:22] #3318 closed

[2021-01-06 15:22] adamrusted commented on #3471
Cool, which green do we prefer? They're both pulled from that PNG.

![folium](https://user-images.githubusercontent.com/1830867/103785322-f8f00b00-5032-11eb-9198-f1f408df82a3.png)
![folium (1)](https://user-images.githubusercontent.com/1830867/103785325-f988a180-5032-11eb-80fd-5013a01952ee.png)

[2021-01-06 16:00] #3690 closed

[2021-01-06 16:14] #3736 closed

[2021-01-06 16:19] #3576 closed

[2021-01-06 16:21] #3566 closed

[2021-01-06 16:22] #3321 closed

[2021-01-06 16:23] #3490 closed

[2021-01-06 16:26] #3752 closed

[2021-01-06 16:27] #3766 closed

[2021-01-06 16:31] PeterShaggyNoble commented on #3732
@ramkrishn123, are you still planning on taking this one on?

[2021-01-06 16:40] PeterShaggyNoble commented on #3758
Thanks for the request, @netwrknerd.

There's an SVG in their website header if you'd like to take a look through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a go yourself?

[2021-01-06 16:41] #2175 closed

[2021-01-06 16:53] #3225 closed

[2021-01-06 16:57] #3224 closed

[2021-01-06 17:01] #3743 closed

[2021-01-06 17:28] PeterShaggyNoble commented on #3789
Thanks for the request, @rchillard.

There are a couple of possible treatments we could give this one. The first one, for me, is more faithful to the original.

![](https://user-images.githubusercontent.com/15157491/103800458-5e98c300-5044-11eb-9a4e-a70f6e011a60.png)
![](https://user-images.githubusercontent.com/15157491/103800659-94d64280-5044-11eb-8f19-4285b5783d7a.png)

[2021-01-06 17:32] fbernhart commented on #3789
@PeterShaggyNoble I would go for the first one as well. 👍🏼

[2021-01-06 17:35] PeterShaggyNoble commented on #3794
Thanks for the requests, @t-900-a.

Would you like to have a read through our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give these a try yourself? If so, please submit separate PRs for each. There are SVGs of each logo in the headers of their respective sites (it looks like https://handshake.org/ might be the official site for the prot

[2021-01-06 17:56] PeterShaggyNoble commented on #3800
Thanks for the request, @zzxzzk115.

Can I ask where you sourced that SVG from? Looking at their website, I think we'll need to include the circle.

[2021-01-06 18:02] PeterShaggyNoble commented on #3801
Thanks for the request, @WarenGonzaga.

There's an SVG of their logo [here](https://github.com/BoostIO/issuehunt-materials/blob/master/v1/issuehunt-logo-v1.svg) (repo is linked from their website so we can consider it an official source). It may be tricky to convert it to monochrome, though.

[2021-01-06 18:08] #2436 closed

[2021-01-06 18:18] #3788 closed

[2021-01-06 18:27] rajat19 opened #4645 "Apache Storm Icon"
**Name:** Apache Storm
**Website:** https://storm.apache.org
**Alexa rank:** 2278

**Official resources for icon and color:** https://storm.apache.org/images/logo.png

[2021-01-06 18:36] rajat19 opened #4646 "Aerospike Icon"
**Name:** Aerospike
**Website:** https://www.aerospike.com
**Alexa rank:** 190,298

**Official resources for icon and color:**
https://www.aerospike.com/wp-content/uploads/2018/02/aerospike_logo_horizontal_newsite.png

https://avatars0.githubusercontent.com/u/2214313?s=200&v=4

[2021-01-06 18:43] fbernhart commented on #4645
@rajat19 The Alexa rank is for apache.org and not the subdomain storm.apache.org. So we can't use that as metric of popularity.

But [their GitHub repo](https://github.com/apache/storm) has 6.2k stars (we're requiring > 5k stars), so this is within the scope of Simple Icons. 👍🏼

A SVG version of the logo can be found here: https://apache.org/logos/#storm

I'm not sure about which color to use thou

[2021-01-06 18:59] fbernhart commented on #4646
I would be in favour of using just the "A". They use it as favicon as well on Facebook, Twitter, LinkedIn, YouTube etc.

I haven't found a vectorized version, but this pretty high resolution image: https://aero-media.aerospike.com/2018/09/Aerospike-Twitter-card-image.jpg

[2021-01-06 20:51] rajat19 commented on #4646
Actually I was not able to find any official "A" icon on their website. that's why i added the image available on their website.
Can you use image present in their fb post (it is available in png) ?
https://www.facebook.com/Aerospikedb/photos/a.474040665963003/474044522629284/

Following is the link for that image
https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/563904_474044522629284_588029156_n.png

[2021-01-06 21:08] rajat19 commented on #4645
Storm website uses `#235693` in their menu bar
It is more closer to `#225593` so you can use this for the icon

[2021-01-07 04:10] bmreading commented on #3474
@PeterShaggyNoble I had forgotten about this one, but the PR has now been submitted.

[2021-01-07 04:21] LitoMore commented on #3703
@PeterShaggyNoble No problem!

[2021-01-07 05:08] hackemateninja opened #4660 "React native icon"
React native:
[react native](https://reactnative.dev/*)
[Alexa rank](https://www.alexa.com/siteinfo/reactnative.dev)

 I think that left react native icon

[2021-01-07 05:28] hackemateninja opened #4661 "supabase icon"
Supabase
[https://supabase.io/](https://supabase.io/)
[https://www.alexa.com/siteinfo/supabase.io](https://www.alexa.com/siteinfo/supabase.io)

supabase icon left

[2021-01-07 08:39] fbernhart commented on #4660
Duplicate of #3573

[2021-01-07 08:39] #4660 closed

[2021-01-07 09:14] fbernhart commented on #4661
Alexa rank: [176,027](https://www.alexa.com/siteinfo/supabase.io)

There is a vectorized logo here:
https://www.github.com/supabase/supabase/tree/master/web%2Fstatic%2Fimg%2Fshowcase-logo%2Fsupabase-logo.svg

Color: `#3ECF8E` from the SVG file

[2021-01-07 09:50] #3501 closed

[2021-01-07 09:51] adamrusted commented on #3255
Icons were added in #4573 and #4574 - closing this issue.

[2021-01-07 09:51] #3255 closed

[2021-01-07 09:56] PeterShaggyNoble commented on #3807
Thanks for the request, @fafifox.

However, given the line below from their brand guide I don't think we're going to be able to add this one, unless any of the other @simple-icons/maintainers deem this to be an "absolutely necessary" case.

[2021-01-07 09:57] PeterShaggyNoble commented on #3813
Duplicate of #3505

[2021-01-07 09:57] #3813 closed

[2021-01-07 09:59] PeterShaggyNoble commented on #3812
Thanks for the request, @aybarska.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, using the icon and colour found in [this SVG](https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760a499b56c47b8fa74fbb_chainlink-logo.svg)?

[2021-01-07 10:09] PeterShaggyNoble commented on #3817
Thanks for the request, @Vacui. Here's my suggested treatment of it, based on [this SVG](https://de.wikipedia.org/wiki/Datei:Gamasutra-logo-onlight-o.svg) from an official EPS, with the colour taken from the website stylesheet. However, as the SVG is an absolute mess of points, it's going to need someone with better skills than I to clean it up.

![](https://user-images.githubusercontent.com/15157

[2021-01-07 10:24] PeterShaggyNoble commented on #3837
Thanks for the request, @awhitford.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself? You can find an SVG of their icon at https://github.com/OWASP/www-event-2020-07-virtual/blob/master/assets/images/logo.svg

[2021-01-07 10:28] PeterShaggyNoble commented on #3838
Thanks for the request, @awhitford.

There's an SVG of their logo [here](https://github.com/agile-alliance-brazil/agile-brazil-hotsite/blob/development/website_legacy/static/img/aab-logo-white.svg) if you'd like to take a look through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself.

[2021-01-07 10:33] PeterShaggyNoble commented on #3839
Thanks for the request, @awhitford.

Would you like to give this one a try yourself, based on the PDF you provided?

[2021-01-07 10:46] fbernhart commented on #3807
It's absolutely necessary to change the colors in order to add it to Simple Icons. 😋 I'm in favour of adding it.

[2021-01-07 10:47] Vacui commented on #3817
Thx @PeterShaggyNoble for your help.
I hope it will be accepted.

Cheers.

[2021-01-07 10:48] PeterShaggyNoble commented on #3854
Don't forget about this one, @mondeja 😉

[2021-01-07 10:54] PeterShaggyNoble commented on #3855
I agree with @service-paradis that we should use the "AHK" or, if we can get away with it, just the "A" as they do in their favicon. Might be tricky to monochromise, though, while maintaining the integrity of the logo.

[2021-01-07 11:02] PeterShaggyNoble commented on #3795
Do you want to open a PR for this one, @mondeja, seeing as you've already put the work into sourcing everything?

[2021-01-07 11:18] PeterShaggyNoble commented on #3950
Thanks for the request, @hasthamalp.

Webex used to have its own, circular logo but they rebranded a while ago to use the Cisco logo, which is already included in our library. Is there another logo/icon I might be unaware of that we should be taking into consideration?

[2021-01-07 11:20] PeterShaggyNoble commented on #3951
Thanks for the request, @hasthamalp.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, using the SVG in the website header?

[2021-01-07 11:27] mondeja commented on #3795
I don't have so much time to upload new icons for now, so feel free to take it yourself @PeterShaggyNoble

[2021-01-07 11:47] PeterShaggyNoble commented on #3953
Thanks for the request, @hasthamalp.

Would you like to give this a try yourself, using the SVG found in their website header? There's a [press kit link](https://www.oyorooms.com/press) in the footer of their website but it redirects to their "About" page where I don't see any resources available.

[2021-01-07 11:51] PeterShaggyNoble commented on #3956
Thanks for the request, @j4mbee.

However, from [their brand centre](https://whatsappbrand.com/):

Given that that's what most people would probably want to use it for, I don't think we can add this one to our library. What do the other @simple-icons/maintainers think?

[2021-01-07 11:52] PeterShaggyNoble commented on #3954
This site is geo-blocked in the EU, where the majority of the @simple-icons/maintainers are located. @NovaGL, are you able to access it?

[2021-01-07 11:57] PeterShaggyNoble commented on #3955
Thanks for the request, @hasthamalp.

I'm disinclined to allow this one on the basis that they've attempted to disable the browser's context menu on their site! 😆

Not being familiar with the brand, should we use the wordmark here or the girl, as they do in their favicon? Either way it looks it will need to be recreated manually.

[2021-01-07 11:59] PeterShaggyNoble commented on #3831
@moldypenguins, being more familiar with the brand, can you confirm that a simple circle is the correct icon for us to use? Given the name, I was expecting something a bit more elaborate! 😆

[2021-01-07 12:03] fbernhart commented on #3956
I would say: What the users of Simple Icons do with the icons we provide in the end, is up to them. So I wouldn't mind adding it.

[2021-01-07 12:07] fbernhart commented on #3831
I would go either with the circle and the full wordmark "UptimeRobot". Or the circle and just "UR", as they use in on Twitter and Facebook --> https://www.facebook.com/UptimeRobot

[2021-01-07 12:15] PeterShaggyNoble commented on #3974
I'd expect a darker orange, I think, @service-paradis; it seems to be used more extensively on their site and in PDFs like [this one](https://www.namecheap.com/assets/docs/2019/guide-to-namecheap-affiliate-marketing.pdf).

[2021-01-07 12:18] PeterShaggyNoble commented on #3976
Thanks for the request, @ismailalabou.

Can I ask where you sourced that PNG from? I couldn't find it in use anywhere on their site. Their logo is the standard Google logo with the "Digital Garage" wordmark added and, going by their favicon, their icon is just the standard Google "G" which is already available in out libary.

[2021-01-07 12:21] fbernhart commented on #3976
I would assume that the linked PNG is a very old, outdated version of their logo. At least the "2016/11" part in the URL suggests that.

[2021-01-07 12:23] PeterShaggyNoble commented on #3976
Well spotted, @fbernhart 🙂 I'm going to reject this for now but if you can suggest an alternative and officially sourced icon to the Google "G", @ismailalabou, please let us know and reopen the issue.

[2021-01-07 12:23] #3976 closed

[2021-01-07 12:24] PeterShaggyNoble commented on #3986
Duplicate of #3190

[2021-01-07 12:24] #3986 closed

[2021-01-07 12:30] PeterShaggyNoble commented on #3988
Thanks for the request, @hasthamalp.

For anyone looking to take this one, there's an SVG in the header of [this page](https://crowdsource.google.com/about/) and, from their own Material Icons Extended font, their should be some space added around the middle person when it's converted to monochrome.

![](https://user-images.githubusercontent.com/15157491/103892786-14ffb500-50e4-11eb-9544-3f0806b99

[2021-01-07 12:39] ericcornelissen commented on #3956
This is somewhat of a gray zone. On the one hand I agree with @fbernhart, on the other hand, just like we follow other guidelines, this guideline do give an indication of the intended usage, which to me seems like: this is just the app icons and the normal WhatsApp logo is what you should always use otherwise. But please do correct me if I'm wrong in that regard.

Moreover, I'm not sure if the Ale

[2021-01-07 12:42] PeterShaggyNoble commented on #3956
Yep, that was my interpretation, too; that the "B" icon is for their own use only and everyone else should use the standard one.

With regards to popularity, >100m download on [Google Play](https://play.google.com/store/apps/details?id=com.whatsapp.w4b&hl=en_IE&gl=US) should put it within our scope.

[2021-01-07 12:53] beerendlauwers opened #4666 "Behat icon"
**Name:** Behat
**Website:** https://docs.behat.org/en/latest/
**Alexa rank:** 641,466

**Official resources for icon and color:** https://github.com/Behat/docs/blob/v3.0/_themes/borg/static/images/b%402x.png

[2021-01-07 12:55] PeterShaggyNoble commented on #4093
Thanks for the request, @Griefed.

The only SVG I could find for this was the poorly Potraced one in the repo you linked to so it looks like we'll need to manually recreate this one.

[2021-01-07 12:55] vinixc opened #4667 "Icone WildFly e Primefaces"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-01-07 12:56] PeterShaggyNoble commented on #4667
Thanks for the request, @vinixc, but could you please complete the issue template.

[2021-01-07 12:57] PeterShaggyNoble commented on #4115
Did you mean to close this, @7788doc or are you still in need of it?

[2021-01-07 13:03] fbernhart commented on #4666
@beerendlauwers Thanks for your request.

Unfortunately we're requiring an Alexa rank of below 500k or more than 5k stars on GitHub (see our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md)). And Behat has an Alexa rank of [641,466](https://www.alexa.com/siteinfo/behat.org) and only [3.5k stars](https://github.com/Behat/Behat) on GitHub.

I'm clo

[2021-01-07 13:03] #4666 closed

[2021-01-07 13:03] PeterShaggyNoble commented on #4118
Thanks for the request, @cicero-mt.

Note that while its Alexa rank alone would put it outside our scope, its 8.2k stars on GH keeps it within it.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, using the SVG from their website header?

[2021-01-07 13:11] #3882 closed

[2021-01-07 13:12] beerendlauwers opened #4668 "Add BrowserStack icon"
**Name: Browserstack**
**Website: browserstack.com**
**Alexa rank: 8932**

**Official resources for icon and color:** https://3fxtqy18kygf3on3bu39kh93-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/browserstack.svg

[2021-01-07 13:16] PeterShaggyNoble commented on #4123
Thanks for the request, @moldypenguins.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself? Note, though, that I don't think white is the correct choice for the colour here.

[2021-01-07 13:32] #3958 closed

[2021-01-07 13:48] fbernhart commented on #3591
Closing this in favour of #3726

[2021-01-07 13:48] #3591 closed

[2021-01-07 13:49] fbernhart commented on #3545
Logo available here:

https://apache.org/logos/#hive

[2021-01-07 13:54] service-paradis commented on #3954
There is a Canadian version available. This is the logo found in the header
![image](https://user-images.githubusercontent.com/12817388/103900163-7b290f80-50c5-11eb-8b4e-281d95200608.png)

This is the logo found in the header of https://byjus.com/press/
![image](https://user-images.githubusercontent.com/12817388/103900534-e70b7800-50c5-11eb-8a95-317cb857b0c3.png)

I'm searching for a vector right

[2021-01-07 13:55] fbernhart commented on #3546
Logo available here: https://apache.org/logos/#impala

Unfortunately the Alexa rank is for apache.org and not the subdomain "impala". So we can't use that as measurement of popularity.

[Their GitHub repo](https://github.com/apache/impala) only has 534 stars (we're requiring more than 5k stars), so unless we can find another way of measuring it's popularity, it would be out of scope for Simple Ico

[2021-01-07 13:57] fbernhart commented on #3547
Logo available here: https://apache.org/logos/#drill

Unfortunately the Alexa rank is for apache.org and not the subdomain "drill". So we can't use that as measurement of popularity.

[Their GitHub repo](https://github.com/apache/drill) only has 1.5k stars (we're requiring more than 5k stars), so unless we can find another way of measuring it's popularity, it would be out of scope for Simple Icons

[2021-01-07 13:59] fbernhart commented on #3548
Logo available here:
https://apache.org/logos/#hadoop

Unfortunately the Alexa rank is for apache.org and not the subdomain "hadoop". So we can't use that as measurement of popularity.

BUT [their GitHub repo](https://github.com/apache/hadoop) has 11.2k stars (we're requiring more than 5k stars), so we can definitely add it. 👍🏼

[2021-01-07 14:13] service-paradis commented on #3974
Yes, you're right.
The darker color of the logo is `#FE5803`
 Maybe `#de3723` would be a better choice. It is used for most of buttons and links on their website.

[2021-01-07 14:16] fbernhart commented on #3652
Alexa rank: [113,689](https://www.alexa.com/siteinfo/redux-saga.js.org)
GitHub stars: [21.2k](https://github.com/redux-saga/redux-saga)

I haven't found a vectorized version of their logo, but they provide a really high quality PNG here:
https://github.com/redux-saga/redux-saga/blob/master/logo/3840/Redux-Saga-Logo.png

Color: picked from the PNG. Either `#999999` or `#89D96D`.

[2021-01-07 14:30] fbernhart commented on #4249
I think it would be better to just name this "Iron". As their product "Iron MQ" doesn't seem to have a separate logo. Or does it @antoine-pous?

[The Iron logo](https://www.iron.io/images/logo.svg) can be found as SVG in the header of https://www.iron.io
Color: `#3177BC` from the logo

[2021-01-07 14:34] PeterShaggyNoble opened #4669 "On Assessing the Popularity of Apache Projects"
I think we need to come up with an alternative metric of popularity for Apache projects as we can't always rely on Alexa ranks, if the don't have a website, or GitHub stars, if they don't have an active development community, and our current alternative of using Google Trends can be somewhat subjective. Something like weekly/monthly download stats per-project would be handy, if Apache publish that

[2021-01-07 14:40] PeterShaggyNoble commented on #4130
I'd expect the colour of this one, representing the _overall_ BBC brand, to be grey/black as seen in the logo on [their news site](https://www.bbc.com/news), for example.

[2021-01-07 14:42] runxel commented on #3692
Well, they are the parent of Let's Encrypt, which is kind of a metric. But I definitely see a cause for not adding it either.

[2021-01-07 14:57] PeterShaggyNoble commented on #4209
See #2309 for more details

[2021-01-07 15:02] fbernhart commented on #4669
I've searched, but couldn't find any download statistics or anything similar. I guess we have to stick with GitHub stars.

I would prefer closing the corresponding issues instead and leave a comment "Feel free to reopen this issue once Apache XYZ gets more popular".

[2021-01-07 15:11] PeterShaggyNoble commented on #4669
There is some project specific data [here](https://projects.apache.org/statistics.html), @fbernhart but it speaks more to their activity, which wouldn't necessarily translate to popularity.

And, yes, upon further consideration, I agree that requests for incubating projects should be closed as, once they graduate, it may still take a while for them to gain the necessary traction for us to consider

[2021-01-07 15:21] PeterShaggyNoble commented on #4253
As this is a concept/methodology rather than a concrete brand, it's going to be beyond our scope, I'm afraid.

There is also an open request for Agile Alliance in #3838 and feel free to open issues requesting any other related brands.

[2021-01-07 15:21] #4253 closed

[2021-01-07 15:26] PeterShaggyNoble commented on #4261
Thanks for the request, @aempha.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-01-07 15:40] ismailalabou commented on #3976
okay, np x) all good.

On Thu, Jan 7, 2021 at 1:23 PM Peter Noble <notifications@github.com> wrote:

[2021-01-07 15:40] PeterShaggyNoble commented on #4264
Thanks for the request, @loganmarchione.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a go yourself?

[2021-01-07 15:51] PeterShaggyNoble commented on #4272
Thanks for the request, @Beatso.

I guess we could get away with using the pixelated globe but given its reliance on shading, it may not work as a monochrome icon.

[2021-01-07 15:54] PeterShaggyNoble commented on #4137
Yep, it's definitely the "macOS" wordmark on a single line. There's an SVG available at https://commons.wikimedia.org/wiki/File:MacOS_wordmark_(2017).svg if you'd like to give this a try yourself, @LiteLT.

[2021-01-07 15:57] PeterShaggyNoble commented on #4273
Thanks for the request, @inigochoa.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-01-07 16:25] PeterShaggyNoble commented on #3640
Are you still planning to take this one one, @chiraag-kakar?

[2021-01-07 16:32] PeterShaggyNoble commented on #3518
I think it's safe to say this one is popular enough for inclusion (and 4 👍🏻s on this issue is more than we usually get, too, so that helps!)

@huaqiwen or @mishakessler, would either of you be interested in taking this one on yourself, using the icon in the library @fbernhart linked to?

[2021-01-07 16:33] PeterShaggyNoble commented on #4285
Added in #4643

[2021-01-07 16:36] PeterShaggyNoble commented on #4259
Thanks for the request, @hasthamalp, and for the resources, @adityaoberai.

Would either of you be interested in taking this icon on yourself?

[2021-01-07 16:38] PeterShaggyNoble commented on #4298
Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, @jnutterdev?

[2021-01-07 17:01] PeterShaggyNoble commented on #4129
While I agree with the removal of this one based on rank and stars alone; I don't think a repo's archival should factor into our decision to remove a brand as there may still be plenty of people actually using it or a well-maintained fork that has taken over from it.

[2021-01-07 17:06] PeterShaggyNoble commented on #4326
The Alexa rank of this one has fallen drastically, particularly in the last week or so, and it now sits at [~592k](https://www.alexa.com/siteinfo/entri.me), which puts it outside the scope of this project. As it's such a recent drop, though, I'm going to label this as "pending" so we can monitor it for a while to see if it revounds.

[2021-01-07 17:43] PeterShaggyNoble commented on #1368
Shame the 3 example icons they included are ones that don't work at that size! 😆

[2021-01-07 17:44] PeterShaggyNoble commented on #4351
Closing due to inactivity and the fact that the Alexa rank has now dropped down below 4m.

[2021-01-07 17:44] #4351 closed

[2021-01-07 17:50] PeterShaggyNoble commented on #4308
Thanks for the request and detailed info, @xyzes. Would you be interested in taking this one on yourself? For the colour, and to throw another one in the mix, I'd suggest `#111111`, used in their menu & footer.

[2021-01-07 22:07] fbernhart commented on #3646
Closing this as duplicate of #3347

[2021-01-07 22:07] #3646 closed

[2021-01-07 22:59] GearsEngine opened #4677 "Raspbian icon request"
#### Can you please add a Raspbian (Raspberry Pi OS) icon to the website?

I would love to see this!
Thanks!

[2021-01-07 23:03] MiguelMJ commented on #3594
Done!

[2021-01-07 23:30] fbernhart commented on #4677
@GearsEngine Please provide the needed information from our issue template. Otherwise your request won't be valid. Thanks

[2021-01-08 04:48] Barosmun opened #4679 "Made alternate/updated C# and C logos"
C#
[code]

C
[code]

[2021-01-08 09:05] #3347 closed

[2021-01-08 09:10] adamrusted commented on #4679
Hi @Barosmun, thanks for submitting these icons. Where exactly did you source these from?

If you could fill out the below info for each icon, that'd be great:

They'll also require a fair bit of work before we're able to include them - if you'd like to give it a shot please [read through our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gi

[2021-01-08 10:04] #4263 closed

[2021-01-08 10:06] #3846 closed

[2021-01-08 10:10] #3789 closed

[2021-01-08 10:16] #3952 closed

[2021-01-08 10:19] #4325 closed

[2021-01-08 10:33] PeterShaggyNoble commented on #4324
@fbernhart, do you want to open a PR for this one, seeing as you've already put the work into sourcing it?

[2021-01-08 10:34] PeterShaggyNoble commented on #4355
Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, @atao60?

[2021-01-08 10:35] PeterShaggyNoble commented on #4327
Do you want to open a PR for this one, @service-paradis?

[2021-01-08 10:36] PeterShaggyNoble commented on #4212
Thanks for the request, @BriannaFoxwell.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-01-08 10:39] PeterShaggyNoble commented on #2059
With only one brand left on this list, I'm going to open a separate issue for it and (finally!) close this one out. Great wok to everyone who contributed, it was a fun collaborative effort 🙂

[2021-01-08 10:39] #2059 closed

[2021-01-08 10:44] PeterShaggyNoble opened #4681 "Request: Lancia"
**Name:** Lancia
**Website:** https://www.lancia.com/
**Alexa rank:** [~760k](https://www.alexa.com/siteinfo/lancia.com)
**Official resources for icon and color:** None that we've been able to find, as yet.

Spinning this out into its own issue as it was the only on left on the list on #2059. Given its low Alexa rank, though, we may have to rule it as beyond our scope. Tried a few of the [European

[2021-01-08 11:14] PeterShaggyNoble commented on #4300
Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself, @MArslanRiaz96?

[2021-01-08 11:30] PeterShaggyNoble commented on #1641
I vote for the circled "C".

Being more familiar with the brand, what do you think @rodrigoalmeidanet?

[2021-01-08 11:44] PeterShaggyNoble commented on #4363
Given that the colour should definitely be blue and in the absence of any definitive guidance, I suggest we go with `#006699`, which they use for a few of their other projects and seems to me to be the primary colour for the whole organisation.

[2021-01-08 12:34] PeterShaggyNoble commented on #4407
Closing due to inactivity.

[2021-01-08 12:34] #4407 closed

[2021-01-08 12:39] adamrusted commented on #3320
Fixed in #4627.

[2021-01-08 12:39] #3320 closed

[2021-01-08 12:54] PeterShaggyNoble commented on #4410
@mondeja, I could look into adding a run of badges along the bottom of the preview, just need to know the specs with regard to colours and sizes.

[2021-01-08 13:36] mondeja commented on #4410
The idea would be to add at least two versions, which are included in the preview part of the issue comment. One with the symbol colored using the color of the brand, and other with the symbol colored with white color. The default badge color (almost black) would be used in both as the background of the left part, the right part background could be lightgreen. The white version ensures that is dis

[2021-01-08 13:36] adamrusted commented on #4590
@mondeja I've just rebuilt Aseprite from scratch using the coordinates of the icon and writing the path out myself to avoid collinear segments, but it's still giving the error. Any chance you could take a look?

[code]

[2021-01-08 14:00] mondeja commented on #4590
You are right, I've fixed the error and will upload a pull soon.

[2021-01-08 14:13] service-paradis commented on #4327
Sure, will give it a try :)

[2021-01-08 14:26] PeterShaggyNoble commented on #4415
Thanks for the request, @minzzan.

It's not entirely clear to be whether we should use the boxed "N", as you provided, or the unboxed one seen on a couple of their site or if we'd need to use the entire wordmark.

I haven't been able to find a vector version of any of them as yet but, if someone's feeling brave/bored, they may turn something up trawling through the [>3.5k SVGs in their GH org](htt

[2021-01-08 14:47] PeterShaggyNoble commented on #4250
Can't believe we don't have this one already!

Option 1 or option 2? I vote 1.

![](https://user-images.githubusercontent.com/15157491/104028189-59608300-51c0-11eb-933e-c77a52508572.png)
![](https://user-images.githubusercontent.com/15157491/104027775-c9223e00-51bf-11eb-9437-fa0930509c1c.png)

[2021-01-08 15:16] service-paradis commented on #4250
I vote for the option 1 too

[2021-01-08 15:27] #4265 closed

[2021-01-08 15:29] PeterShaggyNoble commented on #3480
Would it be worthwhile adding https://convertio.co/ (and maybe a couple of others) to our contributing guidelines somewhere?

[2021-01-08 15:30] #3169 closed

[2021-01-08 15:34] PeterShaggyNoble commented on #4419
For anyone else having trouble with the download link, it worked for me when I forced it to open in a new tab.

[2021-01-08 15:37] loganmarchione commented on #3807
@fbernhart  - How is this? What should the official color be? Black or one of the shades of gray?
`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Solidity icon</title>><path d="M15.875 10.287l-3.855 6.856H4.305L8.16 24h7.715l3.857-6.857zM8.123 0L4.268 6.857l3.855 6.856 3.856-6.856h7.714L15.838 0z"/></svg>`

[2021-01-08 15:51] sancfc opened #4691 "Add icons for podman"
**Name:** Podman / Pod Manager
**Website:** https://podman.io/
**Alexa rank:** [~386k](https://www.alexa.com/siteinfo/podman.io)
**Official resources for icon and color:** [SVG](https://podman.io/images/podman.svg) in website header

Add icon for Podman who is a Docker competitor

[2021-01-08 15:53] service-paradis commented on #4691
@sancfc  Please provide the needed information from our issue template. Otherwise your request won't be valid. Thanks

[2021-01-08 15:54] loganmarchione commented on #3368
@PeterShaggyNoble  - Thoughts on this? If ok, I can submit.
`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Git LFS icon</title><path d="M0 16.592l12.04 6.948v-9.675L24 6.957 19.368 4.28l-11.96 6.908v3.883l-2.776-1.601V9.586l11.965-6.908L11.966.005 0 6.913zm12-2.79l.04 9.738L24 16.63V6.957z"/></svg>`

[code]

[2021-01-08 16:04] mondeja commented on #3480
I'm not sure in what section could be included... :thinking:

[2021-01-08 16:15] PeterShaggyNoble commented on #4447
[This](https://www.tietoevry.com/globalassets/images/photos_lv/screenshot-2020-03-19-at-15.18.56.png) stacked version that they use for their favicons and in a couple of places on their website would suit our needs better.

[2021-01-08 16:29] RichardRNStudio commented on #4588
Hi @adamrusted, sorry for the late answer. What do you mean? I didn't find any similar icon, could you share a link with me?

[2021-01-08 16:30] PeterShaggyNoble commented on #4458
Closing due to inactivity. @IstiaqAhmedNabil, if you can provide the details @fbernhart asked for then please reopen this issue.

[2021-01-08 16:30] #4458 closed

[2021-01-08 16:59] PeterShaggyNoble commented on #4490
Thanks for the request, @pythonhubpy.

As with all Amazon/AWS requests, though, we'll first need to assess the popularity of this product as the Alexa rank alone, which is for Amazon itself, is not enough to go on. Could you provide us with any information that might help us decide whether or not this is within the scope of our project?

[2021-01-08 16:59] PeterShaggyNoble commented on #4491
Thanks for the request, @pythonhubpy.

As with all Amazon/AWS requests, though, we'll first need to assess the popularity of this product as the Alexa rank alone, which is for Amazon itself, is not enough to go on. Could you provide us with any information that might help us decide whether or not this is within the scope of our project?

[2021-01-08 17:03] PeterShaggyNoble commented on #3757
Added in #4289

[2021-01-08 17:20] PeterShaggyNoble commented on #4444
I think we need to somehow retain the concept of the layers here, @adamrusted, which is lost in your version above.

I'm going to ping @tanner0101 here, as the top contributor to their primary repo, to see if they can help us out with an existing or preferred monochrome treatment of their icon.

[2021-01-08 17:39] pythonhubpy commented on #4491
Can you please tell how to find the popularity of the product.

[2021-01-08 17:40] pythonhubpy commented on #4490
Please tell how to find the popularity of the product.

[2021-01-08 17:40] Griefed commented on #4093
Oh, my apologies, I didn't realize it wasn't good enough.

[2021-01-08 17:43] PeterShaggyNoble commented on #2887
Great work everyone 👏🏻 Sorry I wasn't around to be of more help with it.

[2021-01-08 18:09] PeterShaggyNoble commented on #4205
With the downloads on their marketing hub being temperamental, might I suggest that anyone who is able to access them save copies locally to share with the team for review purposes and that we include a zip of the original in our PRs?

[2021-01-08 18:14] runxel commented on #2059
Nice! 🤩
Good work, everybody! You're all amazing!

[2021-01-08 19:26] nekocodeX commented on #4369
Hi @PeterShaggyNoble, my pull request for the Zenn icon has already been merged (#4372).
Why have I been assigned to this issue now?
Do I need to address it additionally?

Best regards.

[2021-01-08 19:27] adamrusted commented on #4369
Hi @nekocodeX, we've been going through old issues and assigning them to the people that completed them, no additional work needed thanks 🙂

[2021-01-08 19:57] Barosmun commented on #4679
Hi there,

I based these icons off of the wikimedia.org C# logo, I then edited the logos myself - but the original can be found [here](https://commons.wikimedia.org/wiki/File:C_Sharp_logo.svg). I actually found that using the SVG masks looked pixelated on my iPhone screen - apparently this is a known issue with certain displays so I've updated the logos again.

C#
`<svg id="Layer_1" data-name="Lay

[2021-01-09 04:22] rchillard commented on #3789
Thanks @PeterShaggyNoble.  Looks awesome :+1:

[2021-01-09 09:11] chalkygames123 opened #4696 "Request: semantic-release Icon"
**Brand Name:** semantic-release
**Website:** https://semantic-release.gitbook.io/
**Alexa rank:** `gitbook.io` isn't its own domain
**Github stars:** 11.6 k
**Official resources for icon and color:** https://github.com/semantic-release/semantic-release/blob/master/media/semantic-release-logo.svg `#494949`

[2021-01-09 10:21] Moustikitos opened #4697 "Add Ark Ecosystem Icon"
**Brand Name: Ark Ecosystem**
**Website: https://www.ark.io**
**Alexa rank: [90,395](https://www.alexa.com/siteinfo/ark.io)**

**Official resources for icon and color: https://ark.io/images/logo.svg**

[2021-01-09 13:04] phutran-se opened #4698 "Missing icon for objective-c"
**Name: Objective-C**
**Website: https://developer.apple.com/documentation/objectivec?language=objc**
**Alexa rank: 40**

**Resources for icon and color:**

  https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/objective-c/objective-c.png

[2021-01-09 14:48] MArslanRiaz96 commented on #4300
Sure please, Thanks for sharing doc @PeterShaggyNoble

[2021-01-09 17:09] adamrusted commented on #4696
Hi @chalkygames123 - thanks for the request! Would you like to look at contributing this icon yourself? You can find all the details on how to contribute in our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md), but no worries if not.

[2021-01-09 17:10] adamrusted commented on #4697
Hi @Moustikitos - thanks for the request! Would you like to look at contributing this icon yourself? You can find all the details on how to contribute in our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md), but no worries if not.

[2021-01-09 17:14] Moustikitos commented on #4697
Hi, will do thanks !

[2021-01-09 17:14] adamrusted commented on #4697
Brill! If you leave this issue open, when you submit a PR we'll close it then 👍🏻

[2021-01-09 17:17] adamrusted commented on #4698
Hi @phutran-se, thanks for the request.

Given that this is a subsection of the Apple Developer subdomain, we're unfortunately unable to use the Alexa rank. I've tried to compare it against a few other programming languages [on Google Trends](https://trends.google.com/trends/explore?q=%2Fm%2F05q31,%2Fm%2F0_lcrx4,%2Fm%2F010sd4y3) but it appears to be scoring quite poorly there too. Could you give u

[2021-01-09 17:34] adamrusted commented on #4668
This is a bit of a tricky icon to work with, given the sheer density of colours on there. If we were to go something along the lines of what was proposed in https://github.com/simple-icons/simple-icons/issues/4530. I've given it a go with 0.5px gaps between each colour, but think it just looks a bit messy. Do any of the other @simple-icons/maintainers have thoughts on this?

![browserstack](https:

[2021-01-09 18:02] chalkygames123 commented on #4696
Hi, thanks for the suggestion.

At first, I thought of doing it myself and checked the guidelines, but as I'm not confident in editing SVG, I would like to leave it to you 🙏

[2021-01-09 18:44] tompijls opened #4700 "https://homebridge.io/"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-01-09 18:56] service-paradis commented on #4700
Hello @tompijls
Please provide the needed information from our issue template. Otherwise your request won't be valid.

[2021-01-09 18:59] service-paradis commented on #4668
Makes me think of this [old issue](https://github.com/simple-icons/simple-icons/issues/470#issuecomment-332010010) closed because it was too difficult to make a monochrome version.

[2021-01-09 19:04] service-paradis opened #4701 "Update General Motors icon"
**Brand Name:** General Motors
**Official resources for icon and color:** TBA

https://www.forbes.com/sites/samabuelsamid/2021/01/08/general-motors-invites-everybody-in-to-its-new-electric-vehicles/?sh=2c967e83650e
Labeled this issue as pending since the new logo was just announced, but not in used officially yet.

[2021-01-09 20:29] #4363 closed

[2021-01-09 21:31] fbernhart commented on #4668
I gave it some tries cutting out different parts of the logo. But I'm not very satisfied with the results ...

![simpleicons](https://user-images.githubusercontent.com/70264417/104109034-2f938300-52ca-11eb-8b41-baafaaf59ffb.png)
![simpleicons (1)](https://user-images.githubusercontent.com/70264417/104109036-33270a00-52ca-11eb-8a88-4e0dd3e9e0b4.png)
![simpleicons (2)](https://user-images.githubuser

[2021-01-09 22:06] beerendlauwers commented on #4668
I like the fourth one a lot!

[2021-01-09 22:13] adamrusted commented on #4668
Yeah, it's a very fiddly logo with no real distinguishing features 🤣

[2021-01-09 22:15] adamrusted commented on #4700
Closing this as it's a duplicate of #3464, icon is already scheduled for release on Sunday.

[2021-01-09 22:15] #4700 closed

[2021-01-09 22:16] fbernhart commented on #4668
@adamrusted Have you tried your style with a gap width of 0.35px instead? 🤔

[2021-01-09 22:24] adamrusted commented on #4668
@fbernhart here it is at 0.35px gap. What do you think?

![browserstack (1)](https://user-images.githubusercontent.com/1830867/104109807-6ae18200-52c9-11eb-921d-56c9c35deb3c.png)

[2021-01-09 22:53] fbernhart commented on #4668
@adamrusted Sorry to say that, but it's still a mess. 😄

[2021-01-09 22:58] adamrusted commented on #4668
@fbernhart - yeah, unfortunately unless another @simple-icons/maintainers can offer a solution, we may need to mark this one as unachievable.

[2021-01-10 02:54] pythonhubpy commented on #4490
I couldn't check the popularity of the particular product in the Alexa ranking can you please tell me how can I do that??

[2021-01-10 10:33] #4697 closed

[2021-01-10 12:43] #4324 closed

[2021-01-10 13:03] #1516 closed

[2021-01-10 13:07] #4286 closed

[2021-01-10 17:13] momo90q opened #4706 "Shelly 2.5 homekit firmware bug webinterface"
### Kind of issue
  - [ ] Improvement
  - [x] Bug
  - [ ] Other, namely:

### This issue concerns
  - [ ] The NPM Package
  - [x] The Packagist Package

### Description

after installing homekit firmware for shelly 2.5, i cant setup anything over webinterface.. update function also not possible
![image](https://user-images.githubusercontent.com/77241791/104130160-88692700-536f-11eb-8f01-939a58f095

[2021-01-10 19:00] bettker commented on #3511
This website is used in Brazil by the academic community - students and researchers - as a type of curriculum vitae.

I believe that most of the Alexa rank of the domain cnpq.br comes from the subdomain lattes. On the Alexa rank page, in the "Top keywords by traffic", 4 of the first 5 keywords correspond to the subdomain lattes.

I only found one site that has statistics for the subdomain: [https:

[2021-01-10 19:04] fbernhart commented on #3511
Sounds reasonable to me.👍🏼If @PeterShaggyNoble agrees, it can be added.

Thanks for the feedback @bettker.

[2021-01-10 19:14] fbernhart commented on #4706
@momo90q Welcome to GitHub! 😊

I'm not sure why you've opened this issue here, in the repository of Simple Icons. We don't have anything to do with Shelly or firmware.

If you want your problem to get fixed, you need to report it (probably) here: https://github.com/mongoose-os-apps/shelly-homekit

[2021-01-10 19:14] #4706 closed

[2021-01-11 08:33] el1f commented on #980
Looks great! Also a big fan of the light corner logo since it gives it a little visual flare with next to no cost.
Was wondering about why you decided to opt for a full flexbox implementation instead of CSS Grid though. Is it just because of browers compatibility?

[2021-01-11 10:40] adamrusted commented on #3329
Just picking this one up - looks like while the 'feature colour' on the website is indeed the blue @NovaGL mentioned, the primary colours of their logo are the red/orange presented on a white background (see their social media channels). Should I go for the mid-point of the gradient?

[2021-01-11 10:46] PeterShaggyNoble commented on #3163
Looks like we're in agreement, so 🙂 I think this is ready to take to PR now, @NovaGL.

[2021-01-11 10:57] PeterShaggyNoble commented on #4534
Thanks for the request and the info, @DovOps.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-01-11 11:04] PeterShaggyNoble commented on #3190
Looks good to me, @adamrusted 👍🏻 Although, they now use [this one](https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/placeholder_fcebae.svg) in the HTML if you want to double check for changes - it's used as a placeholder before product images are loaded in.

My vote still goes to the blue for the brand colour, though.

[2021-01-11 11:06] ericcornelissen commented on #980
Primarily because of browser compatibility. The current website [specifies the layout using both flexbox and grid](https://github.com/simple-icons/simple-icons/blob/7affe87312bdeef4e60a492ecd6602f9f403a2ba/stylesheet.css), which seemed a bit redundant to me so I tried to achieve the layout with flexbox only. However, [as I said earlier](https://github.com/simple-icons/simple-icons/issues/980#issue

[2021-01-11 11:10] PeterShaggyNoble commented on #2489
I like it, @adamrusted 🙂 But I don't know if either of our versions are going to be suitable for inclusion; just spotted this line on the branding page which I either missed or has since been added:

So if we add this _at all_, we may need to go with the full wordmark.

[2021-01-11 11:19] fbernhart commented on #2489
How about just using the "K" instead? As they use it in their favicon, on [Twitter](https://twitter.com/kongregate) and [Facebook](https://www.facebook.com/kongregate).

[2021-01-11 11:27] adamrusted commented on #2489
If we think we can get away with it...

![kongregate](https://user-images.githubusercontent.com/1830867/104176956-ea716d00-53ff-11eb-9a7f-35cdd46f473f.png)

[2021-01-11 11:35] adamrusted commented on #3190
@PeterShaggyNoble - I've just rebuilt it from the new source, though it looks pretty much the same. Do you want me to submit a PR for it?

![flipkart](https://user-images.githubusercontent.com/1830867/104177658-07f30680-5401-11eb-9406-c08cbecb06dd.png)

[2021-01-11 11:37] antoine-pous commented on #4250
I vote for option 1 too

[2021-01-11 11:48] PeterShaggyNoble commented on #4493
Thanks for the request, @sadabnepal.

However, could you provide us with some more information on the logo you provided as from looking around their website and at [their Wikipedia page](https://en.wikipedia.org/wiki/TestNG) it doesn't actually look as though they have a logo?

[2021-01-11 11:51] fbernhart commented on #3538
I guess we could use this PDF (page 19) as well as source here for a vectorized version:
https://doc.irasia.com/listco/hk/alibabagroup/annual/2020/ar2020.pdf

[2021-01-11 12:15] PeterShaggyNoble commented on #3575
Thanks, @andfanilo. However, this was recently added in #4413 via duplicate issue #4368. As an official representative, though, if you feel there are any errors in our treatment of your logo or in the choice of colour then please do open a new PR to update it.

[2021-01-11 12:19] #3329 closed

[2021-01-11 12:32] PeterShaggyNoble commented on #4587
Yep, that would work much better for the source, @MaxWinterstein.

[2021-01-11 12:41] jnutterdev commented on #4298
Yes, absolutely. I'll put that together in a little while. Thanks @fbernhart for the tips as well!

[2021-01-11 12:48] PeterShaggyNoble commented on #4600
@ishvaram, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

[2021-01-11 13:02] PeterShaggyNoble commented on #4602
Thanks for the request, @ahmubashshir.

In the absence of any brand guidelines, I think we should be OK with just going with the "MAL" initials, as seen in [their favicon](https://cdn.myanimelist.net/images/favicon.ico). There doesn't seem to be a vector version available, though, so we'll need to recreate it manually.

[2021-01-11 13:34] ahmubashshir commented on #4602
Someone in forum created 1000x1000px rastar image of their logo... would that work?

[2021-01-11 14:04] Shunya-sama opened #4713 "Add icon for Espressif (ESP-32)"
Espressif is the company in charge of the ESP MCUs (similar to Arduino boards). They have github repos with 5k+ stars: https://github.com/espressif

**Brand Name:** Espressif
**Website:** https://www.espressif.com/
**Alexa rank:** 60401

**Official resources for icon and color:** https://www.espressif.com/sites/all/themes/espressif/logo-black.svg

[2021-01-11 14:47] PeterShaggyNoble commented on #3488
Thanks for the info, @Ayfri; to me that looks popular enough for inclusion. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try?

[2021-01-11 14:58] PeterShaggyNoble commented on #3491
Dropping the gradient and adding a thin line between it and the other side of the pyramid is probably the only way we're going to be able to convert it to full monochrome but that may lose some of the identity from the icon then.

[2021-01-11 15:04] PeterShaggyNoble commented on #3494
:+1: Let's go with that, so, @fbernhart.

[2021-01-11 15:25] PeterShaggyNoble commented on #3508
The next question, then, is what treatment to give it when converting it to monochrome? Keep it solid as in the Apache library or add gaps between the colours.

[2021-01-11 15:26] #3297 closed

[2021-01-11 15:36] PeterShaggyNoble commented on #3445
Thanks, @HariSekhon. However, the inclusion of other brands from a company doesn't automatically qualify _all_ its brands for inclusion.

It looks to me like the Shippable site is still active and, given that it only has an Alexa rank of [~660k](https://www.alexa.com/siteinfo/shippable.com), I'm inclined to say that this one is, unfortunately, beyond our scope. However, I'd like to hear what the o

[2021-01-11 15:44] PeterShaggyNoble commented on #3539
I was trying to avoid that, @adamrusted, so as not to give the appearance that the 4 "leaves" are equally spaced apart when the top and bottom ones are actually supposed to be overlapping.

[2021-01-11 15:52] PeterShaggyNoble commented on #3541
I'd forgotten about that one, @ericcornelissen. In that case, as we've already set the precedent, we'll need to allow these, too.

[2021-01-11 16:15] PeterShaggyNoble commented on #3588
Hmm ... could've sworn we had a policy against sites & services whose primary purpose was the distribution of adult material, @fbernhart. I think it's a policy we _should_ add to pre-empt future requests for such brands that might get us blocked by corporate firewalls.

[2021-01-11 16:25] PeterShaggyNoble commented on #3573
Sorry, @gmpravin but, as an icon library, we do our best to avoid including wordmarks. We also strive to only use official treatments of logos, which your example does not appear to be as I can't find it in use anywhere on their website. Given all that and that, as mentioned, the icon and colour are identical to our existing React icon, I'm afraid we're going to have to reject this request and clo

[2021-01-11 16:36] el1f commented on #980
Ain't this interesting! Definitely gonna keep in mind for future projects! Thanks for the info!

[2021-01-11 16:43] JFQueralt commented on #4351
Totally understand. We'll work on our side to get it up and get back to you when applicable.
Thx for considering nevertheless.

[2021-01-11 17:00] PeterShaggyNoble commented on #4633
Thanks for the request, @MarcE85.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself? There's a vector version of their logo in [their catalogue](https://shelly.cloud/documents/catalogues/catalogue.pdf), linked from their website's footer.

[2021-01-11 17:42] loganmarchione commented on #4677
@GearsEngine  - Is this icon not the same as the Raspberry Pi icon?
https://github.com/simple-icons/simple-icons/blob/develop/icons/raspberrypi.svg

[2021-01-11 18:00] PeterShaggyNoble commented on #4646
I'd agree with that treatment, @fbernhart 👍🏻

[2021-01-11 18:01] PeterShaggyNoble commented on #4645
Thanks for the request and info, @rajat19.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-01-11 18:10] PeterShaggyNoble commented on #3831
Of those 2, my vote would go to the "UR" option, @fbernhart.

[2021-01-11 21:16] #3569 closed

[2021-01-11 22:00] ericcornelissen commented on #4461
Some thoughts, without replying to any comments specifically:

- Automatically labelling issues or PRs stale is a good idea. It may come across as unpersonal to outsiders, but unfortunately we have limited time to keep track of everything. I think marking stale should not close issues or PRs for the following reason: it is very discouraging for contributors if something is closed because we didn't

[2021-01-12 00:11] #4713 closed

[2021-01-12 00:18] atao60 commented on #4355
Would you allow attribute 'aria-label' on tag 'svg' in the svg file?

[2021-01-12 00:49] fbernhart commented on #4355
@atao60 No, unfortunately not. See #1191 and https://github.com/simple-icons/simple-icons/issues/1135#issuecomment-454674687 for details.

The SVG should follow this format:

[code]

More details can be found in our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2021-01-12 01:22] fbernhart commented on #3443
By the way: They just rebranded recently! 😲  https://www.underconsideration.com/brandnew/archives/new_logo_and_identity_for_burger_king_by_jones_knowles_ritchie.php

[2021-01-12 02:02] bramleydev commented on #3443
Wow, completely forgot about this. @fbernhart you make a good point regarding their branding guidelines. However, as far as I know, they can only protect their logo from being used for signifying affiliation. Should definitely try to clear that up with them officially, but that's how I see it.

[2021-01-12 03:23] zzxzzk115 commented on #3800
Thanks for the reply, @PeterShaggyNoble

I sourced it from [easyicon.net](https://www.easyicon.net/iconsearch/%E7%BD%91%E6%98%93%E4%BA%91%E9%9F%B3%E4%B9%90/)

This is the version of the icon with the circle :
[netease_cloudmusic_logo_with_circle](https://www.easyicon.net/1186871-netease_cloudmusic_icon.html)

[2021-01-12 03:41] atao60 commented on #4355
For my own edification:

[code]

[2021-01-12 06:42] Ayfri commented on #3488
Yes, I can try tomorrow.

[2021-01-12 07:49] adamrusted opened #4728 "Update Kia"
**Brand Name:** Kia
**Official resources for icon and color:**
  Recently updated their logo. SVG available in header of [their website](https://kia.com). More info in [this press release](https://press.kia.com/eu/en/home/media-resouces/press-releases/2021/Kia-unveils-new-logo-and-global-brand-slogan.html).

[2021-01-12 08:50] #3388 closed

[2021-01-12 08:59] fbernhart commented on #4728
I haven't found any new brand guidelines/press kit. 🤔

Concerning the color:
https://www.kia.com uses [this SVG ](https://www.kia.com/etc.clientlibs/settings/wcm/designs/kia-uk/clientlib/resources/rbr/logo_kia_black.svg) in the header with `#131E29` as color. Background color is `#05141F`.

https://worldwide.kia.com uses `#05141F` as fill for the embedded SVG as well as font color.

So I would opt

[2021-01-12 09:01] adamrusted commented on #4728
That colour seems to be most consistently used - so I agree on making that our hex of choice.
Did you want to look at this one, or shall I submit the PR?

[2021-01-12 09:03] fbernhart commented on #4728
Let me create one 🚗

[2021-01-12 09:03] adamrusted commented on #3290
@PeterShaggyNoble I think the naming of the icon had changed, so I couldn't find `icon-klook` in the page source. Dug around and found it now though, so submitted a PR to update icon.

[2021-01-12 09:12] #4558 closed

[2021-01-12 09:17] adamrusted commented on #4355
Wow, their Alexa rank has really [dropped off a cliff](https://www.alexa.com/siteinfo/scully.io) since this issue was first created. Any ideas why, @simple-icons/maintainers? Currently the Alexa Rank and GitHub stars would unfortunately mean this is out of scope for us.

[2021-01-12 09:20] #3296 closed

[2021-01-12 09:40] PeterShaggyNoble commented on #3545
Labelling this as "pending" until we can resolve #4669.

[2021-01-12 09:42] PeterShaggyNoble commented on #3954
Thanks, @service-paradis; I'd suggest the boxed "B" as seen on their press page and used for their apps.

[2021-01-12 09:43] #4728 closed

[2021-01-12 09:45] PeterShaggyNoble commented on #3546
Labelling as "pending" until we resolve #4669. Note that this one graduated from incubation over 3 years ago so, with only 534 stars, my initial inclination would be to reject it as out of scope.

[2021-01-12 09:46] PeterShaggyNoble commented on #3547
Labelling as "pending" until #4669 is resolved.

Graduated from incubation over 6 years ago.

[2021-01-12 09:47] PeterShaggyNoble commented on #3548
Thanks for the request, @HariSekhon.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-01-12 09:48] PeterShaggyNoble commented on #3974
`#de3723` gets my vote, too, @service-paradis.

[2021-01-12 09:50] #3510 closed

[2021-01-12 09:53] PeterShaggyNoble commented on #3692
In the same way we don't automatically consider "sister" brands of popular brands for inclusion, I don't think we should automatically consider parent companies of popular brands, either.

As it only dipped below 500k at the end of October, I suggest we monitor this until the end of this month to see if it recovers - 3 months should be ample time for it to do so _if_ it's going to do so.

[2021-01-12 10:13] fbernhart commented on #1368
Coming back to this one. I really like the preview that @PeterShaggyNoble created! 👍🏼 Especially that the brand icons are displayed in their brand color!

Some minor ideas/suggestions from my side:
- How about making the Simple Icons icon a bit smaller and instead increasing the size of the other brand icons? The users of Simple Icons are coming to https://simpleicons.org to get the icons for thei

[2021-01-12 10:47] PeterShaggyNoble commented on #4265
@loganmarchione, did you intend to close this issue or are you still in need of the icon?

[2021-01-12 10:51] PeterShaggyNoble commented on #3807
@loganmarchione, personally I'd go with the darkest grey in the logo. The other possible option might be the blue from [their website](https://soliditylang.org/), which actually includes [a tretament](https://soliditylang.org/images/SolBlueGradient.png) we could base our monochrome version on.

[2021-01-12 10:53] PeterShaggyNoble commented on #3368
Fire away with the PR and we'll take it from there, @loganmarchione :+1:

[2021-01-12 10:57] PeterShaggyNoble commented on #3169
Wow! Incredible work, everyone 😁 The last thing I expected to see completed when I came back was this monstrosity!

[2021-01-12 11:01] ericcornelissen commented on #1368
Completely agree with everything you say @fbernhart :+1: The only thing would "disagree" with is that I'm not sure if the brand icons in that preview are really to small, though I'm definitely not against making them bigger.

This is an interesting point, there is definitely a case to be made for choosing the most popular brands. Though I'm still not against totally random, going for only/mostly p

[2021-01-12 11:06] atao60 commented on #4355
I don't know how to answer...
- for me https://github.com/simple-icons/simple-icons/issues/4355#issuecomment-756682428 was a clear green light to do the job. It's hard to understand such a stop and go policy :disappointed:, even if the status of one of your criteria has dramatically changed.
- about Alexa: what about the period of the cliff, i.e. from 18 to 24 of December (500k threshold the 23)?

[2021-01-12 11:06] PeterShaggyNoble commented on #4679
Thanks for your efforts, @Barosmun. However, from the page you linked to:

So, for that reason, and as we don't add variants to our library, we're going to have to reject these.

[2021-01-12 11:06] #4679 closed

[2021-01-12 11:11] PeterShaggyNoble commented on #4300
👍🏻 Looking forward to your PR, @MArslanRiaz96 - we'll leave this issue open for tracking purposes, though, until it's merged.

[2021-01-12 11:12] PeterShaggyNoble commented on #4698
I looked into this over the weekend and there is no official logo or icon for Objective-C so, unfortunately, we will be unable to add it to our library.

[2021-01-12 11:12] #4698 closed

[2021-01-12 11:13] ericcornelissen commented on #4355
@atao60 apologies for that. The 500k Alexa rank threshold is not a strict one, neither are the GitHub stars and Scully _may_ still be included if those "requirements" are not met. In any case, if what you say is true, and _Scully_ continues to see strong growth, the SVG can always be included whenever that happens, so you work will in #4355 has not been for nothing :slightly_smiling_face:

I do ho

[2021-01-12 11:14] PeterShaggyNoble commented on #4701
@service-paradis; the new branding is now in use on [their website](https://www.gm.com/) so we can proceed with updating our icon.

[2021-01-12 11:21] PeterShaggyNoble commented on #4668
I agree with, @adamrusted; I don't think it's going to be possible to convert this one to monochrome while maintaining the intent of the logo and the integrity of the brand.

[2021-01-12 11:24] adamrusted commented on #4355
Apologies, I meant to just flag it to the other maintainers, not to diminish the work you've put into this PR. The icon itself looks great, and as @ericcornelissen mentions, once the icon is back within scope then we can of course add it.

It may well be that people haven't been looking at Scully over the holidays - so I think it's only sensible for us to keep an eye on it for a few more weeks and

[2021-01-12 11:47] adamrusted commented on #4668
Cool, so following @PeterShaggyNoble's comments above, I'm going to close this issue as something we're unable to add at this time. If their branding should change significantly, or an official monochrome SVG is found, then we can reopen this to look at adding it.

[2021-01-12 11:47] #4668 closed

[2021-01-12 11:47] fbernhart commented on #3807
I've picked the following colors from the logo:

`#666666`, `#383838`, `#333333` and `#1C1C1C`. I would pick either one of the middle ones, or even the [midpoint between these two](https://meyerweb.com/eric/tools/color-blend/#383838:333333:1:hex), which would be `#363636`.

[2021-01-12 11:51] PeterShaggyNoble commented on #3511
Yep, I concur with @fbernhart 👍🏻 Many thanks for the detailed info, @bettker.

cnpq.br actually redirects to another website so it's going to be its subdomains that contribute the most to its Alexa rank.

[2021-01-12 11:54] PeterShaggyNoble commented on #2489
Yep, I'd be OK with that, too, if you wanna open a PR for it @adamrusted.

[2021-01-12 11:54] PeterShaggyNoble commented on #3190
Fire away, @adamrusted.

[2021-01-12 11:58] fbernhart commented on #1368
It would be great if we would generate a new one from time to time. 👍🏼  I think quarterly should be more than enough, maybe even every half of a year, simultaneously with every major release?

I wouldn't add different icons every time we update it. I would stick with the icons we're choose now and just use a half-yearly update to reflect the changes in these icons (new logo, different color etc.).

[2021-01-12 12:27] fbernhart opened #4735 "Define different threshold for removing a brand"
As suggested in #3465, it would be helpful in my opinion to define a different threshold for removing a brand than for adding it.

### Problem
As we've probably all seen in the past, the Alexa rank isn't a very "stable" measurement of popularity sometimes. Once in a while it happens that we're adding a brand that is within scope, just to see it's Alexa rank dropping in the next few months or even

[2021-01-12 12:30] adamrusted commented on #4735
I think it may be worth mentioning #4725 here - as the icon was proposed, and initial work put into it, before the Alexa rank plummeted. Should this fall into the same rank as 'icons already added', as similar amounts of work have gone into constructing the icon for the collection?

[2021-01-12 12:32] PeterShaggyNoble commented on #4677
@loganmarchione is correct, this one is already included as "Raspberry Pi".

[2021-01-12 12:32] #4677 closed

[2021-01-12 13:01] PeterShaggyNoble commented on #4735
Here were my thoughts on it over the weekend, all assuming that the Alexa rank is the only thing we have to go on.

1. A brand dipping below 500k should not be grounds for _immediate_ consideration for removal.
2. Only when it reaches a threshold of 600k* should it be considered for removal and an issue opened for it.
3. If, after 30* days, there is no sign of recovery (rank is stable or still dec

[2021-01-12 13:13] fbernhart commented on #4735
In my opinion this seems to be too complex and too much work, as it would require reviewing and checking in on the Alexa rank on a regular basis.

I would instead go for a bigger threshold (1 million sounds reasonable to me) and just remove it, once it drops beyond this line.

This would as well be covered by a bigger threshold.

[2021-01-12 13:49] service-paradis commented on #4128
There is an updated version trimming whitespaces right now.
I will try to find some time to test is out soon :)

[2021-01-12 14:15] #4327 closed

[2021-01-12 14:23] PeterShaggyNoble commented on #2587
So, 9 months later, do we want to continue holding off on these or do we take it that any airlines, etc. that have survived this long are going to be OK?

[2021-01-12 14:30] PeterShaggyNoble commented on #3800
Thanks, @zzxzzk115. However, unless Easyicon is in some way affiliated with 163.com, we can't consider it an official source.

[2021-01-12 14:36] #3190 closed

[2021-01-12 14:50] loganmarchione commented on #4265
Nope I used the Wikipedia icon instead, thanks!

[2021-01-12 15:05] fbernhart commented on #4701
Any thoughts on the color?

- https://www.gm.com has [this SVG](https://www.gm.com/content/dam/company/img/us/en/gmcom/favicons/1/GM_BUG_FAV_ICON.svg) in the `<head>` tag, which uses `#0170CE`.
- The monochrome JPG [here](https://plants.gm.com/media/us/en/gm/photos.detail.html/content/Pages/galleries/us/en/releases/2021/0108-gm-logos.html) uses  `#0671CD`
- The website https://www.gm.com itself is

[2021-01-12 15:22] service-paradis commented on #4701
The monochrome blue JPEG is giving me `#0971CE` using Illustrator 😅
`#0170CE` is probably a good choice

[2021-01-12 15:52] PeterShaggyNoble commented on #4701
Colour picking from raster files should be one of the lowest items on our list of potential sources for colours as they may not always be accurate.

[2021-01-12 16:10] #3795 closed

[2021-01-12 16:27] PeterShaggyNoble commented on #4410
Are there any other common variations we could include, @mondeja? Things look a little unbalanced with just those 2:

![](https://user-images.githubusercontent.com/15157491/104342716-086bca00-54f3-11eb-8915-1d6976b2b2c6.png)

[2021-01-12 16:41] fbernhart commented on #4410
@PeterShaggyNoble Shields.io has two more variants, the last two seen here: https://shields.io/#styles

How about including them?

[2021-01-12 17:03] fbernhart commented on #2960
@layershifter I've now manually created a vectorized version myself. 😊 As color I've used `#35BDB2`, picked from the linked PNG.

Feel free to suggest another color here (#4743) if you feel like it doesn't really fit.

[2021-01-12 17:24] PeterShaggyNoble opened #4745 "Update Bing"
**Brand Name:** Bing
**Official resources for icon and color:** https://www.bing.com/sa/simg/favicon-2x.ico

Bing was [rebranded as Microsoft Bing](https://github.com/simple-icons/simple-icons/pull/4744) late last year. As part of that rebranded the adopted the MS logo as their logo but continue to use the `b` in places as their icon (e.g., for [their favicon](https://www.bing.com/sa/simg/favicon-

[2021-01-12 17:27] PeterShaggyNoble commented on #3577
Note that Corsair have updated their branding slightly since this issue was posted; their new logo can be found at https://cwsmgmt.corsair.com/img/reusable/corsair-logo.svg

[2021-01-12 17:29] adamrusted commented on #4745
There's likely to be an SVG embedded in [this document](https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE1q9FS) hosted by Microsoft. I'm downloading it now to check.

[2021-01-12 17:36] PeterShaggyNoble opened #4746 "Update Citrix"
**Brand Name:** Citrix
**Official resources for icon and color:** https://brand.citrix.com/
- https://brand.citrix.com/brand-system/compact-mark/
- https://brand.citrix.com/brand-system/logo/
- https://brand.citrix.com/brand-system/color/

We'll need to update our Citrix icon following a rebrand in September.

[2021-01-12 17:40] PeterShaggyNoble opened #4747 "Update Intel"
**Brand Name:** Intel
**Official resources for icon and color:** SVG in header of https://www.intel.ie/

Intel rebranded in September so we'll need to update our icon; some digging will be needed to see if that pesky registered trademark symbol is still needed.

[2021-01-12 17:41] adamrusted commented on #4746
Happy to submit this one, if you'd like?

[2021-01-12 17:47] PeterShaggyNoble commented on #4746
Fire away, @adamrusted 🙂 Didn't have time to get to these today so was queuing them up for tomorrow or whoever wanted them in the meantime.

As a general rule, if I don't immediately assign one of my own issue to myself or label it "good first issue", it's fair game.

[2021-01-12 17:53] adamrusted commented on #4747
Details on the trademark usage is [found here](https://www.intel.com/content/www/us/en/trademarks/intel.html). While the wording is confusing as heck, I imagine we'd need to keep the ® icon.

[2021-01-12 18:00] antoine-pous commented on #4249
I always thinks this one was IronMQ logo 🤔

![IMG_20210112_185856.jpg](https://user-images.githubusercontent.com/7486600/104353576-550dd000-5508-11eb-9633-4447c0db8185.jpg)

[2021-01-12 18:02] PeterShaggyNoble commented on #4578
With the recent merger of [PSA](https://www.groupe-psa.com/) & [FCA](https://www.fcagroup.com/) to form [Stellantis](https://www.stellantis.com/), we should keep an eye out for a more up-to-date source for these.

[2021-01-12 18:04] adamrusted opened #4749 "Opel"
Comparing our current icon for Opel (black) to the source available [here](https://medialibrary.groupe-psa.com/corporate/media?mediaTitle=title_LOGO+OPEL&mediaId=1900667), there appears to be some differences. As @PeterShaggyNoble mentioned [here](https://github.com/simple-icons/simple-icons/issues/4578#issuecomment-758836398) however, we should keep an eye out for a new brand centre being launche

[2021-01-12 21:52] fbernhart commented on #4249
@antoine-pous Indeed. After watching the promotion video at https://iron.io/mq, I think you're right.

However, I'm not sure about how to best measure the popularity of IronMQ. As the Alexa rank of 30,858 is for https://iron.io and not for https://iron.io/mq.

As well I unfortunately can't find any vectorized version of the IronMQ logo.

[2021-01-12 23:56] fbernhart commented on #3364
@trozler Are you still planing on taking this one?

[2021-01-13 00:16] fbernhart commented on #3489
I guess the [favicon](https://resurrectionremix.com/img/favicon.png) on their website should be big enough to create a SVG from. As it's a simple logo, it should be pretty easy. I'll give it a try. 😊

Any preferences on the color? `#000000`?

[2021-01-13 00:31] trozler commented on #3364
@fbernhart Hi I'm really sorry I forgot about this.
 I'm very busy with a project and work currently , feel free to close this or assign the issue to someone else.
I do think the zip folder attached contains most of the material needed, but entirely your call.

[2021-01-13 02:31] ishvaram commented on #4600
@PeterShaggyNoble Sure! will make a PR soon :)

[2021-01-13 03:48] sodre commented on #3368
@loganmarchione thank you so much!

[2021-01-13 08:58] #4701 closed

[2021-01-13 09:28] #4746 closed

[2021-01-13 09:34] #3461 closed

[2021-01-13 09:47] PeterShaggyNoble commented on #4747
Very confusing language, indeed, but I think including is the way to go, too.

[2021-01-13 10:01] antv199 opened #4750 "GameJolt Icon?!"
I'm not sure if this exists already (I didn't find it on the website), but there's an icon for Itch.io, already. Why not for GameJolt? Are there legal restrictions around it?

[2021-01-13 10:02] antv199 commented on #4750
Name: GameJolt
Website: https://gamejolt.com
Alexa Ranking: https://www.alexa.com/siteinfo/gamejolt.com

[2021-01-13 10:04] adamrusted commented on #4750
Hi @antv199, this is a duplicate of #3461 closed this morning by #4742. Icon should be available on the website and NPM package from Sunday. Hope that helps!

[2021-01-13 10:04] #4750 closed

[2021-01-13 10:05] antv199 commented on #4750
oh ok. thanks and sorry for any hassle caused

[2021-01-13 10:05] PeterShaggyNoble commented on #4749
Just to clarify, I don't think we should hold off on updating any icons, waiting for Stellantis to issue new brand guidelines as they may never do so and, even if they do, it could be a while. I was just pointing out that we should keep an eye out for them and do another review if they do materialise.

[2021-01-13 10:06] adamrusted commented on #4750
No worries! I realise the issue and PR were probably already closed, and therefore not showing when you looked to request it 😅

[2021-01-13 10:24] PeterShaggyNoble commented on #3489
There's a larger version in [their GH org](https://github.com/ResurrectionRemix), @fbernhart.

[2021-01-13 10:46] PeterShaggyNoble commented on #3364
Coming back to this, I think we first need to decide, in light of our new guidelines allowing sporting organisations but not clubs, where we stand on sporting competitions. Personally, I vote that we _not_ include them as, generally speaking, they are too prone to change year on year or when they get new sponsors.

[2021-01-13 11:01] fbernhart commented on #3364
@PeterShaggyNoble Sorry, too late. 😅 Just created a PR.

I think we should include them. I don't see much of a difference between sport organizations and sport leagues. As well there shouldn't be that many popular leagues, so it should be pretty managable.

Looking at the German Wikipedia site for Premier League (https://de.wikipedia.org/wiki/Premier_League) they have had one logo until 2007, anot

[2021-01-13 11:08] adamrusted commented on #3364
Putting it into non-sports terms, I would see `The FA` as a parent company, and the `Premier League` as a 'product' of the FA. Providing it matches our other criteria, and isn't an individual artist / club - I think we're safe to add it.

[2021-01-13 11:28] PeterShaggyNoble commented on #4461
To formalise some of the suggestions I made internally.

## Preamble
Our goal as maintainers should be to encourage outside contributions while, at the same time, not leaving requests sitting idle for too long; we don't _need_ to take everything on ourselves. (Of course, we're all here initially because of love of creating icons so nobody's going to fault anyone for taking too much on board!) So I

[2021-01-13 11:31] PeterShaggyNoble commented on #3364
OK, yeah, I can see the case for _generally_ allowing them but, separate to our stance on sport-related icons, we can disallow annual competitions under the guideline that disallows icons for yearly releases, which would cover the soccer world cup.

[2021-01-13 11:33] adamrusted commented on #3364
Yeah, I would quote the yearly releases part of our guidelines with regard to the World Cup, but as @fbernhart mentioned in his comment, the Premier League doesn't seem to be changing their icon too frequently - so therefore I would accept it as a 'product' of the FA.

[2021-01-13 11:58] PeterShaggyNoble commented on #4410
Yep, that helps balance things a bit. I omitted the "flat-square" as its similar enough to the "flat" style to give you an idea of how it would look. I'm also considering using the brand colour instead of the green.

![](https://user-images.githubusercontent.com/15157491/104449428-803f0080-5596-11eb-9309-912e2a618a3c.png)

[2021-01-13 12:14] #4747 closed

[2021-01-13 12:17] PeterShaggyNoble commented on #4410
Looks like we have a winner 🙂 I'll get to work on updating the preview generator. Might take a while as I try to figure out how to get external files pulled in with the `<image>` tag to render to the canvas or, failing that, recreate the badges myself.

[2021-01-13 12:21] #4264 closed

[2021-01-13 12:34] #3854 closed

[2021-01-13 12:48] #4322 closed

[2021-01-13 12:55] #4487 closed

[2021-01-13 13:00] #4527 closed

[2021-01-13 13:10] #4362 closed

[2021-01-13 13:21] #2960 closed

[2021-01-13 13:24] #3383 closed

[2021-01-13 13:36] #4153 closed

[2021-01-13 13:43] #3528 closed

[2021-01-13 14:01] fbernhart commented on #4745
I've found one! At https://www.bing.com/covid 😆 in the header.

[code]

[2021-01-13 14:07] adamrusted commented on #4745
Huzzah! Did you want to take this one, or am I ok to?

[2021-01-13 14:16] fbernhart commented on #4745
@adamrusted Feel free to take it! 👍🏼

[2021-01-13 15:54] #3368 closed

[2021-01-13 17:52] adamrusted commented on #4588
Hi @RichardRNStudio , sorry for the delay in responding. I meant do we already have an icon for a brand similar to Google Optimize within our [collection](https://simpleicons.org), with which we could compare popularity?

Either that, or is there another metric we could look at for this one, as the Alexa rank is for `Google`, as opposed to the product `Google Optimize`.

[2021-01-13 17:57] adamrusted commented on #2587
I don't think there's any harm in adding them - as you say we can assume they'll survive if they've managed so far. Can always remove in v5.0.0 if they do go bump in the near future anyway.

[2021-01-13 17:58] PeterShaggyNoble commented on #2438
Still can't find a vector version of this one all these months later. Anyone with the necessary skills want to take a crack at manually vectorising it?

[2021-01-13 18:06] adamrusted opened #4761 "Microsoft Edge"
**Brand Name:** Microsoft Edge
**Website:** [microsoft.com/en-us/edge](https://www.microsoft.com/en-us/edge)
**Alexa rank:** N/A, though it's on _every_ Windows system 🙄

**Official resources for icon and color:** [Trademark Info](https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE1q9FT)

[2021-01-13 18:12] PeterShaggyNoble commented on #4761
We already have this one, @adamrusted 😉 Or are you saying it needs to be updated?

![](https://user-images.githubusercontent.com/15157491/104491932-d2017e00-55ca-11eb-80aa-53a617cd3ec9.png)

[2021-01-13 18:13] adamrusted commented on #4761
Ignore me then - the search function wasn't working on my mobile. 😅

[2021-01-13 18:13] #4761 closed

[2021-01-13 18:17] PeterShaggyNoble commented on #2993
Any thoughts from any of the other @simple-icons/maintainers on how to proceed with this one? I think the encircled `Ð` is going to be our only viable option if we can find a vector of it or a decent quality raster file.

[2021-01-13 18:20] Barosmun commented on #4679
No problem, just thought I'd offer them. Thanks for your time

[2021-01-13 18:24] adamrusted commented on #2993
All for that as our `Simple Icons` variation of it, especially when icons8 already include a very similar version. Would suggest the block circle with the cut-out `Ð` just for readability's sake.

[2021-01-13 19:29] RichardRNStudio commented on #4588
Hey @adamrusted, I think `Google Analytics` or `Google Tag Manager` might be have similar ranks.

[2021-01-13 20:39] fbernhart commented on #2438
As it's quite a simple logo, I'll give it a try and vectorize it. 😊

[2021-01-13 21:00] adamrusted commented on #4588
Hi @RichardRNStudio, @fbernhart and I have had a quick look at some of the competitors to `Google Optimize`, to see how they rank. `Optimizely`, which has an Alexa rank of [10,601](https://www.alexa.com/siteinfo/optimizely.com) showed consistently as performing worse than `Google Optimize` on [Google Trends](https://trends.google.com/trends/explore?q=%2Fm%2F02vllvp,%2Fm%2F0wyjs_1,Adobe%20Target,%2

[2021-01-13 21:15] JackDaoud opened #4763 "Tidyverse"
**Brand Name:** Tidyverse
**Website:** https://www.tidyverse.org
**Alexa rank:** 44,252

**Official resources for icon and color:** I'm not sure where to get these...

[2021-01-13 21:18] antoine-pous commented on #4249
I'll ask to their team if they can provide it tomorrow :)

[2021-01-13 21:24] fbernhart commented on #4763
Which one is the logo/icon you're looking for?

This one? https://www.github.com/tidyverse/tidyverse.org/tree/master/static%2Fimages%2Fhex-tidyverse.png

[2021-01-13 21:26] JackDaoud commented on #4763
Yes, that's the one!

[2021-01-13 22:57] fbernhart commented on #4763
I haven't found any official SVG version of their logo on their [website](https://www.tidyverse.org/), in their [website repo](https://github.com/tidyverse/tidyverse.org) or the [tinyverse repo](https://github.com/tidyverse/tidyverse).

BUT I've found a SVG here https://github.com/rstudio/hex-stickers! As tinyverse seems to be supported by RStudio (according to the footer on their website) and as

[2021-01-13 23:07] sjstark commented on #3585
You may be right on that @PeterShaggyNoble , this very well be an icon worth dropping. As I'm not sure many would need to use it without Nike supplying it in the first place.

[2021-01-13 23:08] JackDaoud commented on #4763
Thank you @fbernhart for finding the SVG. I'd love to give it a try and create a pull request myself, it'd be my first contribution :smiley:

[2021-01-14 02:11] moldypenguins commented on #3831
https://uptimerobot.com/assets/images/uptimerobot-logo.svg
this is the full logo
their icon would be the green period with the UR

Basically this but add the R
<svg xmlns="http://www.w3.org/2000/svg" width="547.8" height="78.5"><path fill="#FFF" d="M96.1 3.2v38.3c0 4.3-.9 8.1-2.8 11.3-1.9 3.2-4.5 5.6-8 7.3-3.5 1.7-7.6 2.5-12.3 2.5-7.1 0-12.8-1.9-16.9-5.6-4.1-3.7-6.2-8.8-6.3-15.2V3.2H64v38.9c.2 6.4

[2021-01-14 05:08] sadabnepal commented on #4493
Hi Peter, there is no official logo but one in shared link is widely used to represent the TestNG across testing community.

[2021-01-14 08:20] fbernhart commented on #4493
@sadabnepal Sorry but if there is no official logo, we can't add it. We're only adding official logos.

Feel free to reopen this issue once TestNG has an official logo.

[2021-01-14 10:07] PeterShaggyNoble commented on #3585
I can't find anything to back up my suspicions, @sjstark, and it's not something I think we should reject just because of a niggle in the back of my brain! Unless any of the other @simple-icons/maintainers have that same niggle, or something more concrete to go on.

[2021-01-14 10:12] PeterShaggyNoble commented on #4763
Given their alignment with RStudio, @fbernhart, I think we can safely assume that that SVG was either supplied by Tidyverse or, at least, is used with their blessing so I think we can consider official enough for our purposes. If we have doubts, though, we could ping someone from Tidyverse to confirm.

[2021-01-14 10:56] PeterShaggyNoble commented on #3270
Seeing as we're running afoul of this a little more lately, let's get a final consensus from the new @simple-icons/maintainers that we are going to allow the duplication of existing icons _provided_ the brand colour is different and close this one out.

[2021-01-14 10:59] adamrusted commented on #3270
Yep, as @ericcornelissen mentioned above, happy for duplicate icons providing the brand colour is different enough to warrant us having both. No point having carbon copies of both brand and colour though.

[2021-01-14 11:39] #2784 closed

[2021-01-14 11:49] PeterShaggyNoble commented on #3314
Closing this out again in accordance with [this comment](https://github.com/simple-icons/simple-icons/issues/4679#issuecomment-758582856).

[2021-01-14 11:49] #3314 closed

[2021-01-14 11:57] PeterShaggyNoble commented on #3012
Before we continue on with these, are we accepting that they are all popular enough for inclusion or do we need to do some research?

Also, do we want to add RAD Server to the list?

[2021-01-14 11:58] PeterShaggyNoble commented on #3248
Any of the other @simple-icons/maintainers have any ideas about converting this one to monochrome?

[2021-01-14 12:00] PeterShaggyNoble commented on #3203
Seeing as we haven't heard back, do you want to proceed with your version @NovaGL and open a PR?

[2021-01-14 12:36] RichardRNStudio commented on #4588
Absolutely. I'll do it on this week, thank you very much @adamrusted.

[2021-01-14 12:41] PeterShaggyNoble commented on #4493
I'm going to ping @cbeust here to see if they would be OK with us adding a version of that unofficial logo to our library to represent their brand or if they have something else they'd prefer us to use.

[2021-01-14 12:57] PeterShaggyNoble commented on #4691
Based on the description, I'm guessing this is a request for https://podman.io/ so I've edited its details into the original post.
**Suggested colour:** `#892ca0`

The weird thing is that I _definitely_ remember doing some preliminary work on this months ago but can't find _any_ mention of it in our issues or PRs nor my work in progress files!

[2021-01-14 12:59] #4250 closed

[2021-01-14 13:07] sancfc commented on #4691
Thanks a lot!
Yes it is

El jue, 14 ene 2021 a las 13:58, Peter Noble (<notifications@github.com>)
escribió:

--

*{“name”:*“Francis Santiago <https://github.com/sancfc>"
*“role”:*“*DevOps & DBA PostgreSQL*”,
*“tlf” :*“(+34) 645212423”,
*“mail”*:“santiagocfc@gmail.com” }
<https://www.linkedin.com/in/sancfc/>  <https://www.linkedin.com/in/sancfc/>
<https://twitter.com/sancfc> <https://www.linkedin.

[2021-01-14 13:35] adamrusted commented on #4691
There is a LOT of detail in this one, which may make it too complex for us to include. I've been able to generate the below SVG, which looks _okay_, but I think if we're going to include it, we'd need a more 'block colour' variation as opposed to this line-art.

![podman](https://user-images.githubusercontent.com/1830867/104597343-1e04ff00-566d-11eb-9eca-731d04d44540.png)

I've included the raw pa

[2021-01-14 14:31] brunano21 opened #4767 "Request: nrwl & nx icons"
**Brand Name:** nrwl/nx
**Website:** https://nx.dev/, https://nrwl.io/
**Alexa rank:** [171,689 (nx.dev)](https://www.alexa.com/siteinfo/nx.dev) / [356,588 (nrwl.io)](https://www.alexa.com/siteinfo/nrwl.io)

**Official resources for icon and color:**
https://github.com/nrwl/nx/blob/master/images/nx-logo.png

[2021-01-14 14:50] adamrusted commented on #4767
Hi @brunano21, thanks for the request. Would you be interested in contributing these icons yourself? If so, have a read through our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and be sure to add each icon as it's own Pull Request, so we can track them easier.

---

SVG of nx.dev logo found [here](https://nx.dev/assets/images/nx-logo-white.sv

[2021-01-14 15:05] sancfc commented on #4691
It is perfect

[2021-01-14 16:45] PeterShaggyNoble commented on #4691
I think the first one is more faithful to the original, @adamrusted. But shouldn't the strokes on the larger seal be the same weight as the smaller ones?

[2021-01-14 16:46] adamrusted commented on #4691
I just took the existing paths, which were different weights for the larger and smaller seals 🤷‍♂️

[2021-01-14 17:08] adamrusted commented on #4691
![podman](https://user-images.githubusercontent.com/1830867/104624106-17858000-568b-11eb-80b1-bb2ddd9905ce.png)

@PeterShaggyNoble THAT'S BETTER.
Love when Illustrator messes up paths for me... :roll_eyes:

[2021-01-14 17:33] PeterShaggyNoble commented on #4691
That looks spot on to me, @adamrusted 👍🏻

[2021-01-14 17:54] #3290 closed

[2021-01-14 17:57] #3057 closed

[2021-01-14 21:44] service-paradis opened #4775 "Request Windows Terminal icon"
**Brand Name:** Windows Terminal
**Website:**
- https://github.com/microsoft/terminal
- https://docs.microsoft.com/en-us/windows/terminal/
**Alexa rank:** N/A but have 70.8k stars on Github

![image](https://user-images.githubusercontent.com/12817388/104652861-bc9e5980-5687-11eb-98e4-3deeba851b96.png)

**Official resources for icon and color:**

SVGs
- https://github.com/microsoft/terminal/tree/ma

[2021-01-14 21:48] adamrusted commented on #4775
[Terminal_HC.svg](https://github.com/microsoft/terminal/blob/main/res/terminal/Terminal_HC.svg) may be easiest to convert, being as it's just black and white in the first place. I'd suggest one of the darker tones - maybe `#4D4D4D`?

[2021-01-14 21:53] service-paradis commented on #4775
I agree that we should probably use the high contrast version.
I forgot to add in the original post that I would probably also choose one of the dark tone from the middle part since it is prominent. `#4D4D4D` looks to be a good compromise between the darkest shade and the lightest ones.

[2021-01-14 21:59] campionn commented on #4249
[vectorized_version_of_the_ironmq_logo.zip](https://github.com/simple-icons/simple-icons/files/5817197/vectorized_version_of_the_ironmq_logo.zip)

Do these work?

Iron.io would love to see where the logos are going. Please share!

[2021-01-14 22:07] service-paradis opened #4776 "Request sharp icon"
![image](https://user-images.githubusercontent.com/12817388/104654976-ffadfc00-568a-11eb-8451-c9de2cb1cd3c.png)

**Brand Name:** sharp
**Website:**
- https://sharp.pixelplumbing.com/
- https://github.com/lovell/sharp/
**Alexa rank:** N/A but Github repo have 18.7k stars

**Official resources for icon and color:**

There is a single SVG file found [here](https://github.com/lovell/sharp/tree/master/

[2021-01-14 22:16] ericcornelissen commented on #4735
I think @PeterShaggyNoble's proposal can be simplified to something along the lines of (sticking with the Alexa rank as popularity measure): _If a brand's Alexa rank drops below **[INSERT EXACT NUMBER HERE]**, the brand can/should be marked for removal by opening a Pull Request where the brand is removed. At the latest with the next major release the Alexa rank is checked again, if a) the Alexa ra

[2021-01-14 22:27] ericcornelissen commented on #4461
Great write up @PeterShaggyNoble, I agree with pretty much everything, I'm just not sure about the repeat comments every X days 🤔 Anyway, my only worry is that existing stale bots are not build for this kind of "complexity" 😅

I think this is truly one of the most important points! In the same spirit as using `out of scope` instead of `invalid` 👍

[2021-01-15 06:35] cbeust commented on #4493
Fine with me. This logo is semi official, though, since it's being used in the TestNG Eclipse plug-in.

[2021-01-15 07:01] JackDaoud commented on #4763
@fbernhart, I looked over your [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md). Most of it looks doable for creating a pull request, except this one part:

`Using your preferred tool you should:

1. Isolate the icon from any text or extraneous items.
2. Merge any overlapping paths.
3. Compound all paths into one.
4. Change the icon's viewbox/can

[2021-01-15 08:02] brunano21 commented on #4767
@adamrusted thanks for taking this into consideration. Before doing that, do you believe I should request permission to the company for adding their logos to this repo?

[2021-01-15 09:23] #3360 closed

[2021-01-15 09:25] #3387 closed

[2021-01-15 09:28] #3441 closed

[2021-01-15 09:30] #3484 closed

[2021-01-15 09:34] #3516 closed

[2021-01-15 09:36] #3565 closed

[2021-01-15 09:38] #3257 closed

[2021-01-15 09:48] PeterShaggyNoble commented on #4249
Thanks for taking the time to respond and providing those files, @campionn; it's very much appreciated. Simple Icons is a library of monochrome SVG icons of popular brands. You can find our website at https://simpleicons.org/ and more information about the project in [our README](https://github.com/simple-icons/simple-icons/blob/develop/README.md). If you like, we can ping you for feedback and app

[2021-01-15 09:54] PeterShaggyNoble commented on #4776
I don't think we need cut-outs here as the colour difference isn't so severe that it significantly changes the logo when converted to monochrome. However, as they consistently use the duotone version everywhere, including their favicons, where we'd most often find at least a suggestion of a monochrome treatment, I would wonder if they would allow a monochrome version.

Sidenote: here are also a nu

[2021-01-15 09:56] PeterShaggyNoble commented on #4493
Thanks for taking the time to respond, @cbeust, and giving us the "go-ahead" on this, it's much appreciated. Before one of our contributors puts the work into manually recreating it, would you have a vector version of that logo to hand that we could use?

[2021-01-15 09:58] PeterShaggyNoble commented on #4767
Thanks, @brunano21, appreciate that. We don't have a firm rule on it but it never hurts to ask for permission from official sources.

[2021-01-15 10:21] PeterShaggyNoble commented on #4461
I have no knowledge of GH bots so I'll leave the particulars to those that do 😆

We could probably retire the `invalid` label as it doesn't serve much purpose. If an issue/PR is completely off-topic for us then we can just remove all labels when closing it and, possibly, lock it as well.

[2021-01-15 10:30] mondeja commented on #4461
I think the same, but why not add `off-topic` to avoid the need of enter in the issue/PR to check the closing reason?

[2021-01-15 10:31] fbernhart commented on #4461
As far as I know the `invalid` label is needed for Hacktoberfest. By looking at past PRs that had been labeled with "invalid", it seems like Hacktoberfest hasn't been really a problem to our repo.

But I would still keep it for the future.

[2021-01-15 13:58] service-paradis commented on #4776
I did not found any guidelines. Maybe @lovell can tell us if we can add a monochromatic version of the logo to the library.

[2021-01-15 15:01] #3471 closed

[2021-01-15 15:06] #4117 closed

[2021-01-15 17:31] PeterShaggyNoble commented on #3732
Found an official SVG of the icon above at https://gitlab.gnome.org/GNOME/gnome-terminal/blob/master/data/icons/hicolor_apps_scalable_org.gnome.Terminal.svg

[2021-01-15 17:49] PeterShaggyNoble commented on #3838
Unfortunately, we're not going to be able to add this one as their logo usage guidelines at the end of [this page](https://www.agilealliance.org/the-alliance/logo-files/) explicitly state:

[2021-01-15 17:49] #3838 closed

[2021-01-15 18:56] lovell commented on #4776
Hi, thanks for the interest in sharp, there isn't currently a monochrome version of the logo but it would be a good idea to add one. I'll fire up Inkscape over the weekend and create a modified SVG so you can then use/adapt it as required for this very useful service.

[2021-01-15 21:01] ericcornelissen commented on #980
I did some further testing and to clarify: I don't think this is something to consider for most websites as it seems to be caused by the combination of using [`minmax(14rem, 1fr)` on repeat](https://github.com/ericcornelissen/simple-icons-website/commit/34587554409f9c93ab7b77c01eea4fabb3351dd4#diff-d5e25bdbe5815ca8804129249aa126a217444fcdf8e45a04f2ef6e3da4b8daf6R404) with over 1500 DOM elements. A

[2021-01-15 22:06] lovell commented on #4776
Here's the "official" (and hand-edited) sharp logo as a monochrome SVG:

https://github.com/lovell/sharp/blob/master/docs/image/sharp-logo-mono.svg

Please ensure the Creative Commons licence remains intact.

[2021-01-16 17:56] bBSempai commented on #3855
![autohotkey](https://user-images.githubusercontent.com/64588227/104819198-fa4ede00-5851-11eb-82d0-660e63ce7bf1.png)
Would this work? @PeterShaggyNoble @service-paradis
Made it from this:
![AutoHotKey-1](https://user-images.githubusercontent.com/64588227/104819219-13f02580-5852-11eb-8365-24f75f6dc1e1.png)
Thanks

[2021-01-16 19:24] #4588 closed

[2021-01-16 21:35] #3837 closed

[2021-01-16 21:38] #3640 closed

[2021-01-16 21:41] #3582 closed

[2021-01-17 00:13] ericcornelissen commented on #980
Quick update, I migrated the redesigned website repository to this organisation. You can now find it at:

- repo: https://github.com/simple-icons/simple-icons-website
- website: https://simple-icons.github.io/simple-icons-website/

[2021-01-17 12:54] runxel commented on #3674
It's the same as with Disney.
Lego has sued people for less. :/

[2021-01-17 19:54] hgunay opened #4788 "ASUS & AMD icons too small!!!"
I think ASUS and AMD icons too small in badges. But they are looking so good in image tags.
Can you update these icons with bigger ones?

Badges;
![Asus](https://img.shields.io/badge/--000?style=flat-square&logo=ASUS&logoColor=fff)
![Amd](https://img.shields.io/badge/--000?style=flat-square&logo=AMD&logoColor=fff)

Images;
<img src="https://simpleicons.org/icons/amd.svg" height="50px">&nbsp;
<img

[2021-01-17 21:29] fbernhart commented on #4788
@hgunay Thanks for your request.

However, we at Simple Icons only provide the SVGs themselves. The badges are created by https://github.com/badges/shields (which are using our SVGs). So if you want something about the badges to be changed, you have to open an issue with them.

The icons of Asus and AMD are indeed pretty landscape. But there isn't anything we can do about that, as this is the way

[2021-01-17 21:33] adamrusted commented on #4788
I've also just been looking into this to see if there are any improvements that can be made on our end - and as @fbernhart mentions above, unfortunately we have to stick with the existing SVGs as they are. AMD explicitly state you must use the full wordmark and icon, and Asus use the full wordmark everywhere themselves. Hopefully you're able to work an alternative out with https://github.com/badge

[2021-01-17 21:34] #4788 closed

[2021-01-17 21:41] #755 closed

[2021-01-17 22:28] fbernhart commented on #4763
@JackDaoud Sorry, but I don't have any specific resource that I can recommend. I've started with Inkscape and editing SVGs myself just some few months back. All I did was just "trial & error" and some quick Google searches. 😄 Maybe the Tidyverse icon isn't the easiest icon to start with, but here is what I would do concerning this icon:

- I find it easy to work with both, the "Objects" (`Object`

[2021-01-17 22:48] #4745 closed

[2021-01-17 22:58] #3807 closed

[2021-01-17 23:24] #2489 closed

[2021-01-17 23:39] #3681 closed

[2021-01-18 06:07] yoel0 opened #4789 "Puppeteer Icon Request"
**Brand Name:** Puppeteer
**Website:** https://pptr.dev/
**Alexa rank:** 103,921

**Official resources for icon and color:** https://github.com/puppeteer/puppeteer/blob/v5.5.0/README.md

[2021-01-18 08:20] Ryoga-exe commented on #3276
Hello, @PeterShaggyNoble. I found a vector version of the logo.
SVG file: https://img.atcoder.jp/assets/top/img/logo_bk.svg

How about using this file?
Best regards.

[2021-01-18 10:00] PeterShaggyNoble commented on #4776
Thanks for taking the time to reply, @lovell, and especially for providing us with that file - it's very much appreciated.

Simple Icons is released under a [CC0 license](https://github.com/simple-icons/simple-icons/blob/develop/LICENSE.md) so, if that's OK by you, would you like to open a PR for this yourself? Our contributing guidelines can be found at https://github.com/simple-icons/simple-icon

[2021-01-18 10:04] PeterShaggyNoble commented on #3855
That works for me, @bBSempai. Although, to maintain the original intent of it being a key, I think the "A" should be knocked out of the square. Assuming the other @simple-icons/maintainers agree with that treatment, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and open a PR for this? For the colour, I

[2021-01-18 10:27] PeterShaggyNoble commented on #4789
Thanks for the request, @yoel0.

There's no official vector version of their logo anywhere that I can find (as yet) so it looks like this one will need to be recreated manually. Also, as they use the full logo including the wordmark everywhere I think, unfortunately, we're going to have to do the same.

[2021-01-18 10:30] PeterShaggyNoble commented on #3276
Nice find, @Ryoga-exe 🙂 Where'd you com across that?

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-01-18 10:58] Ryoga-exe commented on #3276
I found the logo in the header of the website. And I'll ask the president for permission to use!

Absolutely. I'll do it on this week, thank you very much @PeterShaggyNoble.

[2021-01-18 11:14] PeterShaggyNoble opened #4791 "Rename or Remove Delicious"
Following on from the discussion in #4499, [the del.icio.us website](http://del.icio.us/) was actually shut down in 2019 but, as of December, there is now a holding page up stating that it should be back online this year without providing a firm date. Therefore, we should check whether it's back online yet prior to the `v5` release and consider it for removal if not.

If we are able to keep it the

[2021-01-18 11:28] PeterShaggyNoble commented on #3276
D'oh! In all this time, I never considered that they might actually have 2 completely different designs 🤦🏻‍♂️ The [English site](https://atcoder.jp/?lang=en) only has a PNG but [the Japanese one](https://atcoder.jp/?lang=en) does indeed feature SVGs. Thanks for that, @Ryoga-exe, looking forward to your PR.

[2021-01-18 12:57] PeterShaggyNoble commented on #4205
For Google My Business, the following monochrome version is used in the menu of their. Personally, I prefer our current treatment as that appears to a simplified, Materialised treatment, which is something we've rejected in the past, but what does everyone else think?

![](https://user-images.githubusercontent.com/15157491/104918380-92e97900-598c-11eb-9033-31606f5676b5.png)

[2021-01-18 13:19] hgunay commented on #4788
Ok, thanks for your response.

[2021-01-18 13:20] hgunay commented on #4788
Ok, thanks for your response.

[2021-01-18 14:38] fbernhart commented on #2438
[Their blog](https://www.countingworks.com/blog) uses [this SVG](https://www.countingworks.com/img/countingworks_logo.svg) as header instead of the PNG. 😉  So no need to vectorize it.

I'll create a PR.

[2021-01-18 14:46] adamrusted commented on #4205
I agree. Though it may be worth reviewing the current icon to ensure the gaps are 0.5px, and perhaps smooth out the stroke somewhat, to meet the materialized icon in the middle?

[2021-01-18 15:24] PeterShaggyNoble commented on #4735
Thinking on this some more over the weekend in light of #4759, I think we should hold off on _removing_ any icons based on decreased popularity until the world gets back to normal. There are a lot of brands and companies taking a hit these past few months and, while the reasons for some, like the IRFU, may be obvious to us, others may be less so. Of course, we'd hope that, by the time v5 comes aro

[2021-01-18 15:39] PeterShaggyNoble opened #4797 "Adding Aliases"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### Description
In somewhat of a follow-up of #3695, although stopping short of adding alternative spellings & keywords, and in light of #3573, I'd like to propose that we somehow add aliases to icons for (sub-)brands that share the same icon _**and**_ colour (see #3270 for brands that share an icon but _not_ a colour). Only

[2021-01-18 16:00] adamrusted commented on #4797
I think the icons should always be found first by the primary version used by the brand themselves, regardless of whether that's the abbreviation or the full title. Having an array of "alisases" as a second level of searching could work quite well, if proper guidelines are applied, as @PeterShaggyNoble lays out above.

[2021-01-18 16:15] fbernhart commented on #4797
I think it's a great idea! 👍🏼

I would be in favour of adding the aliases to the `simple-icons.json`, if that's technically possible and doesn't have any major disadvantages. Would something like this work?

[code]

The benefit of putting everything into the `simple-icons.json` file is in my opinion, that everything is "at one place". Which will as well help keeping it easy for outsiders to contri

[2021-01-18 16:27] PeterShaggyNoble commented on #4797
If we are adding it to `simple-icons.json`, I don't think we should touch `title`, instead adding a new optional `alias(es)` key per your second suggestion.

I updated the list in the original post with another use case: old brand names, which covers rebrandings and mergers.

[2021-01-18 16:54] lovell commented on #4776
I've released copyright for the sharp logos (both colour and monochrome) into the public domain via https://github.com/lovell/sharp/commit/4c57ac2bbe8cbc8afab70a67d92f4cbf4748f153 so please feel free to use them as you need.

[2021-01-18 17:02] yoel0 commented on #4789
Ah, Understandable! Thank you for the Prompt Response Peter!

[2021-01-18 17:07] KALIMI opened #4800 "SwiftUI Icon"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

Apple new declarative framework -> SwiftUI
https://developer.apple.com/documentation/swiftui

[2021-01-18 17:10] adamrusted commented on #4797
If we're able to include the 'alias' array in the get method of the various forms of the module, would that mitigate some of the breaking change issues we're currently seeing where it's a rename of an existing product? You could just add the "former name" to the alias list, and have the module still find it using that.

[2021-01-18 17:14] #4800 closed

[2021-01-18 17:14] PeterShaggyNoble commented on #4800
Thanks for the request, @KALIMI. However, could you please complete the issue template with all the required info. Note, though, that we do already have an icon for Swift, if that's what you're looking for.

![Swift](https://user-images.githubusercontent.com/15157491/104945398-95f66080-59b0-11eb-8b89-2aea254f590f.png)

[2021-01-18 17:15] PeterShaggyNoble commented on #3439
Are you still planning on taking this one on, @nareshr8?

[2021-01-18 17:30] ericcornelissen commented on #4797
I like this suggestion @PeterShaggyNoble, it provides a solution for quite some old issues and existing issues (e.g. brand renames). Nice :+1:

I don't really see a reason not to include it in `_data/simple-icon.json`, following #2846 an `aliases` field can be optional (or, following [this suggestion](https://github.com/simple-icons/simple-icons/issues/4797#issuecomment-762346663), the `title` fie

[2021-01-18 17:35] Ali-Mahmood-Dentsu opened #4802 "Request Okta (identity management)"
**Brand Name:** okta
**Website:** https://www.okta.com/
**Alexa rank:** [127](https://www.alexa.com/siteinfo/okta.com)

**Official resources for icon and color:** https://en.wikipedia.org/wiki/Okta_(identity_management)#/media/File:Okta_logo.svg

[2021-01-18 17:36] adamrusted commented on #4797
@ericcornelissen I prefer your first solution there. We could look at having `full`, `old`, `abbreviation`, and `subbrand` as the 'types', which should differ enough from one another - and gives you more data to play with on from a website perspective than just a plain array (highlighting all `old` tags as 'removed in next major release', for example).

[2021-01-18 17:42] adamrusted commented on #4802
@Ali-Mahmood-Dentsu, thanks for the request! Would you be interested in contributing this icon yourself? If so, take a look at the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and submit a Pull Request. No worries if not though.

There's an [SVG icon](https://www.okta.com/themes/custom/okta_www_theme/images/logo.svg) is available in the [webs

[2021-01-18 17:47] #3463 closed

[2021-01-18 17:54] Ali-Mahmood-Dentsu commented on #4802
@adamalston I don't think I can do a PR, sorry!

[2021-01-18 17:58] #3577 closed

[2021-01-18 18:02] adamrusted commented on #4802
No worries! I've marked it as a `good first issue` so hopefully another member of the community is able to pick it up.

[2021-01-18 18:22] runxel commented on #4797
I am not against adding this feature, even tho I will question the need, if it is _only_ for the website.
But maybe it _is_ helpful, if we slowly cross the 2000s mark. 🤔

If you could use it for selecting the icon it would serve a bigger need – but in this case you need again to ensure the uniqueness – and that is exactly the one thing we can not as it defies the very purpose.

[2021-01-18 18:39] runxel commented on #898
Closed with #77

[2021-01-18 18:39] #898 closed

[2021-01-18 21:29] 70MM13 opened #4805 "Snapcast logo"
**Brand Name:** Snapcast
**Website:** https://github.com/badaix/snapcast
**Alexa rank:** 75, but.. probably for github?

**Official resources for icon and color:**
https://github.com/badaix/snapcast/tree/master/doc
![](https://raw.githubusercontent.com/badaix/snapcast/master/doc/web_hi_res_512.png)

[2021-01-18 21:52] adamrusted commented on #4805
Hi @70MM13, thanks for the request!
Unfortunately, you're right about the Alexa Rank being for GitHub - and while we can also consider GitHub stars as a measure of popularity, Snapcast only has ~3.5k stars, which is too few for us to include them based on that metric. If you're able to provide a measure of popularity similar to those listed in the [contributing guidelines](https://github.com/simpl

[2021-01-19 08:31] DecliningLotus opened #4807 "Request: Chakra UI"
**Brand Name:** Chakra UI
**Website:** https://chakra-ui.com/
**Alexa rank:** [44,408](https://www.alexa.com/siteinfo/chakra-ui.com)
**GitHub Stars:** [14.5k](https://github.com/chakra-ui/chakra-ui)

**Official resources for icon and color:** https://github.com/chakra-ui/chakra-ui/tree/develop/logo

[2021-01-19 09:09] adamrusted commented on #4807
Thanks for the request @DecliningLotus! Looks like we'd be best to use the `logomark-black.svg` as our source, and I'd suggest `#52C9C6` as the hex - given it's the [calculated midpoint](https://meyerweb.com/eric/tools/color-blend/#7BCBD4:29C6B7:1:hex) of the gradient used. Would you like to give this icon a go by following our [contribution guidelines](https://github.com/simple-icons/simple-icons

[2021-01-19 09:18] DecliningLotus commented on #4807
Sorry, it seems a little out of my depth. Appreciate you mediating this issue!

[2021-01-19 09:34] PeterShaggyNoble commented on #4807
@adamrusted, I'd go with `#319795` from their website's stylesheet for the colour.

[2021-01-19 09:41] PeterShaggyNoble commented on #4802
The "Auras" section of their [media assets](https://www.okta.com/press-room/media-assets/) would suggest that the "o" on its own is OK, @adamrusted.

[2021-01-19 09:59] brunano21 commented on #4767
@adamrusted @PeterShaggyNoble I'm still waiting for a reply from nrwl.

However, in the meantime, I'm trying to follow the [contributing guidelines}(https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and but I faced some difficulties in optimizing the icon with the [SVGOMG Online Tool](https://jakearchibald.github.io/svgomg/).
Specifially I have followed the instructions an

[2021-01-19 11:37] PeterShaggyNoble commented on #4797
While including the type of alias, as suggested by @ericcornelissen, could be a useful addition for _us_, I don't know that the benefits would justify the extra work required of contributors, especially having to check the possible values for the type each time.

[2021-01-19 11:42] #3518 closed

[2021-01-19 13:08] PeterShaggyNoble commented on #3527
Don't forget this one, @adamrusted :wink:

[2021-01-19 13:23] adamrusted commented on #3527
Forget what? 🤪

[2021-01-19 14:11] adamrusted commented on #4767
Hi @brunano21, thanks for working on this. Which software have you been using to edit the SVG? Inkscape and Illustrator, for example, allow you to create a 'union' of the paths - before exporting it to SVGOMG.
<details>
<summary>Inkscape</summary>
<img src="https://user-images.githubusercontent.com/1830867/105045430-cf39d980-5a5f-11eb-9c3c-b7194d3223bb.png"/>
</details>
<details>
<summary>Illustra

[2021-01-19 14:29] #3785 closed

[2021-01-19 14:47] brunano21 commented on #4767
@adamrusted Oh I think I have entirely skipped the [Extract the Icon from the Logo](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#2-extract-the-icon-from-the-logo) section! 😁
Let me give it a try.

[2021-01-19 16:25] fbernhart commented on #3592
I've created two different versions now. One with the darker green added and one with the darker green cut out. Any preferences?

![arangodb](https://user-images.githubusercontent.com/70264417/105062702-2bf6bd80-5a7b-11eb-850e-2d191c05f9db.png)
![arangodb (1)](https://user-images.githubusercontent.com/70264417/105062708-2ef1ae00-5a7b-11eb-89f9-2ce11583bcbf.png)

[2021-01-19 16:58] PeterShaggyNoble commented on #3592
Of those 2, the first one works best for me but it may need a cut-out around the stone.

[2021-01-19 16:59] ericcornelissen commented on #898
Not sure how #77 resolved this issue, but I'm fine closing this as it is more or less resolved with https://github.com/simple-icons/simple-icons-website

[2021-01-19 17:16] ericcornelissen commented on #4797
Though it is definitely up for discussion, I would say that the extra work required by contributors to look up the possible values is quite small compared to what I expect to be relatively common once aliases are a thing:

In other words, from my perspective, forcing contributors to include the type requires them to comply with the scope of aliases we have defined (apart from using the wrong value

[2021-01-19 17:18] 70MM13 commented on #4805
Hi,

Too bad! I looked if I could find a way to show how popular this is but couldn't find anything helpful... 1000+ downloads on Android won't help I guess? And I'm not going to track it down all those linux distributions :)

Thanks anyway

[2021-01-19 17:41] PeterShaggyNoble commented on #4797
Given your hypothetical scenario, I can see your point for adding types now. So I'll concede that point 🙂

I do envisage the possibility of multiple aliases of each type so I think we'd need to allow for _either_ an array of (sorted?) strings _or_ a single string for the value. Some scenarios would include:

1. More than 2 (sub-)brands sharing the same icon and colour,
2. A company having differen

[2021-01-19 17:43] PeterShaggyNoble commented on #4805
Thanks for the information, @70MM13. Unfortunately, only 1000+ downloads on Google Play does still put it outside our scope so I'm going to close this out for now. If it ever does reach one of the thresholds of popularity that have been mentioned, though, feel free to reopen the issue.

[2021-01-19 17:43] #4805 closed

[2021-01-20 04:30] nareshr8 commented on #3439
@PeterShaggyNoble yes. I am waiting for response from databricks side. They were suggesting to check with them if using the word databrivks below the logo is fine. I mailed them. Yet to get back response. Will send a reminder and check if they are ok

[2021-01-20 04:32] nareshr8 commented on #3439
Sorry I missed there response mail. Saw it now. Will work on it today

[2021-01-20 08:49] adamrusted commented on #4797
Easy way to fix the abbreviation / full name issue as far as I can tell would just be to combine both of them into an `alternate` property. If they're both likely to show up in results when users search for the icon, we don't need to be _super_ specific in the 'alias' section, and can just refer to it as an alternate name. Stuff like #4308 springs to mind, whereby the project has a pretty obscure

[2021-01-20 10:35] PeterShaggyNoble commented on #4797
Combining them into one could be a good compromise, @adamrusted as, realistically, we're never going to have _both_ a full name and an abbreviation. So for the 5 types, we'd have:

1. `also` (I was going to suggest `alternate` here originally so this may not be the best term)
2. `local(ly)`
3. `alt(ernative(ly))`
4. `alt(ernative(ly))`
5. `previous(ly)` or `old`

So, we would then have something l

[2021-01-20 10:48] adamrusted commented on #4797
With regard to `local(ly)` you do then get into the realms of do we record the country/locality next to each entry, resulting in a real JSON hellscape!

If you wanted to shorten the tags as much as possible, might I suggest:

1. `dup` duplicate icon (React & React Native, for example)
2. `aka` also known as (full / abbreviation version of name)
3. `int` international variations on the company's na

[2021-01-20 13:48] service-paradis commented on #4797
There are a lot of good ideas here!

I love the array of objects having the type as key, but I'm not sure it would be the easiest to use for external projects.

If I have an external package and want to iterate over every names to search for an icon for example. It might be easier to loop through a single array of objects and checking the name property.

It would be more difficult to iterate throu

[2021-01-20 13:53] mondeja commented on #4797
But access to object keys directly and then only loop through that array would be faster in terms of computation.

[2021-01-20 14:30] PeterShaggyNoble commented on #4797
In JavaScript, for example, you could do one of the following to get all the values as a single array:

[code]

[2021-01-20 14:33] service-paradis commented on #4797
Totally agree, and I'm not against it. Just wanted to mention that it is not necessarily the easiest way. :)

[2021-01-20 16:18] #3974 closed

[2021-01-20 16:57] #3527 closed

[2021-01-20 17:38] PeterShaggyNoble commented on #3990
Two possible treatments here. My vote goes to the first. (Colour TBD)

![](https://user-images.githubusercontent.com/15157491/105212973-01be0200-5b46-11eb-869f-1d69b42165dd.png)

![](https://user-images.githubusercontent.com/15157491/105213176-4a75bb00-5b46-11eb-8e6a-f2228a4e5ea2.png)

[2021-01-20 18:02] fbernhart commented on #3990
I'm as well voting for the first one. 👍🏼

[2021-01-20 18:11] service-paradis commented on #3990
Voting for the first one, but I dont know if we can add this logo:
https://bigbluebutton.org/trademark/#:~:text=When%20using%20the%20BigBlueButton%20name,at%20legal%40bigbluebutton.org.

[2021-01-20 18:20] bBSempai commented on #3855
Yes, i'd love to! Although I didn't quite get you at the "the 'A' should be knocked out of the square" part. How must the icon look like?

[2021-01-20 18:56] sadabnepal commented on #4493
Thanks peter for reopening this and getting go-ahead. I am not sure about the vector version of logo.

[2021-01-20 23:45] HelloRusk opened #4824 "Request: bookmeter.com (in Japanese: 読書メーター)"
**Brand Name:** bookmeter (読書メーター)
**Website:** https://bookmeter.com/
**Alexa rank:** [23,152](https://www.alexa.com/siteinfo/bookmeter.com)

**Official resources for icon and color:**

There is [an SVG file](https://bookmeter.com/assets/common/logo-2bd6d48f3447beaa56041246b812bc2eb6e11706e1fea2ab027ac1d3420ba78d.svg) that is provided in the banner of the official website. This image includes the

[2021-01-21 08:55] adamrusted commented on #4824
Thanks for the request @HelloRusk!

Unfortunately I would say given that the [Android](https://play.google.com/store/apps/details?id=com.bookmeter.android) and [iOS](https://apps.apple.com/jp/app/id509979590) apps both use the icon mentioned in the SVG, we'll have to go with that one as the `official brand icon` instead of the PNG profile icon you mentioned. The hex code in the SVG is `#64BC4B`, s

[2021-01-21 09:00] adamrusted commented on #3990
I also vote the first one, matches best to an official SVG source [here](https://github.com/bigbluebutton/bbb-app-rooms/blob/ca7952804775ba74f3f97964badb0087aaae707d/app/assets/images/icon.svg). As @service-paradis mentions above though, this may be one we shouldn't include.

[2021-01-21 09:04] garpunkal opened #4826 "Skrift Icon"
**Skrift**
**https://skrift.io/**

[2021-01-21 09:11] adamrusted commented on #4826
Hi @garpunkal, thanks for your request!
Unfortunately, Skrift appears to be out of our scope currently, with an Alexa rank of [2,473,623](https://www.alexa.com/siteinfo/skrift.io). Could you please fill out the Issue template below, and provide any other metric we could use to measure it's popularity, as mentioned in the [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/d

[2021-01-21 09:29] #3248 closed

[2021-01-21 09:36] PeterShaggyNoble commented on #3990
This is something we're already discussing in a broader sense in #4629. Here, though, it looks to me like point 4 in those guidelines is incomplete as it renders point 2 moot and is directly contradicted by this line at the end of that section:

So I think whatever we decide in #4629 will cover us here.

[2021-01-21 09:52] PeterShaggyNoble commented on #3855
Something like this, @bBSempai:

![](https://user-images.githubusercontent.com/15157491/105334043-54db9780-5bce-11eb-834a-109978e44836.png)

[2021-01-21 10:01] PeterShaggyNoble commented on #4824
Picking up on an internal discussion, I think we can go with "Bookmeter" here, @adamrusted, as they do on [the App store](https://apps.apple.com/us/app/bookmeter/id509979590).

But it does raise a good point (somewhat related to #4797) of what to do when a brand does not have a name that's transl(iter)ated to the extended Latin alphabet?

[2021-01-21 10:11] HelloRusk commented on #4824
@adamrusted Thank you for your investigation. I agree with you.
I'd like to contribute by myself 😃

[2021-01-21 10:33] PeterShaggyNoble commented on #4797
Just realised I may have misinterpreted your concern, @service-paradis and I do see a potential issue in mixing strings and arrays if someone wants to iterate through each alias _type_ rather than all aliases together as, using my example above, simply doing `icon.aliases.alternatively[0]` and `icon.aliases.locally[0]` would produce different and undesirable results so I think we should require th

[2021-01-21 11:07] PeterShaggyNoble commented on #3955
SVG available at https://en.wikipedia.org/wiki/File:Amul_official_logo.svg

[2021-01-21 11:22] adamrusted commented on #4797
I agree, for consistency and ease of searching, keeping any included key as an array (even with a single entry) would make any code significantly easier to manage.

Again, yes. I don't think we can reliably combine icons of various alphabets (especially the likes of Chinese and Japanese) into one sorted array. This also goes alongside the issue raised in #4824, in that do we need to specify that t

[2021-01-21 11:32] adamrusted commented on #3855
Given the treatment on their [Facebook page](https://www.facebook.com/AutoHotkey/photos/a.455934534445306/998365490202205/), could we look at something like the below?

![image](https://user-images.githubusercontent.com/1830867/105345526-47c5a500-5bdc-11eb-8e17-7b4fe984c064.png)

[2021-01-21 13:01] renovate[bot] opened #4828 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 13:04] PeterShaggyNoble commented on #4797
As much as it pains me as a linguist to say this, I think, for consistency and ease of management, that we do. Letters in `title`s should be limited to `[A-Za-z]` and their [accented variants](https://en.wikipedia.org/wiki/Latin_Extended-A#Character_table) only (I think this would be covered by point 8 below, too). Relatedly: I'll try to put together a PR later today to ensure that our normalisati

[2021-01-21 13:21] fbernhart commented on #3855
Here would be my suggestion based on the [SVG](https://www.autohotkey.com/static/ahk_logo_no_text.svg) in their [website](https://www.autohotkey.com/) header. It still resembles keys in my opinion:

![image](https://user-images.githubusercontent.com/70264417/105356179-5ec3c180-5bf3-11eb-88d4-3607936c2d4a.png)

[2021-01-21 13:26] fbernhart commented on #4828
Wow, that's helpful! 😆

@ericcornelissen Could you have a look?

[2021-01-21 13:36] service-paradis commented on #4828
Looks like it happens to other repositories too (ex. https://github.com/elastic/cloud-on-k8s/issues/4142).
Looking at old RenovateBot issues, it also happens in the past (https://github.com/renovatebot/renovate/issues/1388). Maybe there is nothing to do if was an error with npm.

[2021-01-21 13:37] service-paradis commented on #4828
Nothing to do here:
https://github.com/renovatebot/renovate/issues/8371

[2021-01-21 13:39] fbernhart commented on #4828
@service-paradis I've just found the same issues by googling 😄 I assume the problem is at renovate bot's end, as we haven't changed anything regarding the configuration lately.

[2021-01-21 14:22] #4828 closed

[2021-01-21 15:31] bBSempai commented on #3855
The whole of AHK should be the most authentic icon although it is pretty long and short and might just not be efficient for 24x24. On the other hand the A has been used as their favicon on their [website](https://www.autohotkey.com/) and is also better as an icon.

[2021-01-21 15:47] remjx opened #4832 "Icon request: Lydia"
**Brand Name:** Lydia
**Website:** [lydia-app.com](https://lydia-app.com)
**Alexa rank:** 212,391
**Official resources for icon and color:**
Press page: https://lydia-app.com/en/info/press.html
Media kit: https://www.notion.so/f095000b23734477b31ae7b9403706fb?v=6ee827f8a3864903b3ad631e50dd46aa&p=edc6b5e2b0ad4f8d8a4fff3311cef3d6
The SVG for Simple Icons can be found in Media Kit > Our logo > Downlo

[2021-01-21 16:56] fbernhart commented on #3855
Let's pin @Lexikos, the owner and one of the maintainers of the [official AutoHotkey repo](https://github.com/Lexikos/AutoHotkey_L).

Is there any official monochrome version of the AutoHotkey logo? And if not, which of the above would be the preferred monochrome treatment?

[2021-01-21 18:37] Atulin opened #4835 "Request: SubscribeStar"
**Brand Name:** SubscribeStar
**Website:** https://www.subscribestar.com/
**Alexa rank:** 87,642

**Official resources for icon and color:** https://www.subscribestar.com/brand

[2021-01-21 20:43] calvinespinoza commented on #4628
I certainly agree. After looking at the company's brand assets page, that looks like the best option.

I created a [PR to add this icon](https://github.com/simple-icons/simple-icons/pull/4790). @adamrusted , do you mind taking a look at it?

[2021-01-22 13:16] #4832 closed

[2021-01-22 13:21] PeterShaggyNoble commented on #4835
Thanks for the request, @Atulin.

Unfortunately, they don't provide any SVGs on that brand page nor anywhere else on their site that I can find so we'll need to recreate it manually, based on [this monochrome treatment](https://ss-staging-assets.s3-us-west-1.amazonaws.com/brand/ss_logomark_mono_di.png).

[2021-01-22 13:54] #3758 closed

[2021-01-22 16:19] Atulin commented on #4835
I emailed them some time ago asking for an svg icon, and was sent one. Not sure if I can share it, but perhaps one can be requested for the purpose of this repo as well?

[2021-01-22 17:34] PeterShaggyNoble commented on #4835
@Atulin, would you mind getting in contact again to ask if you can provide us with that SVG?

[2021-01-22 17:47] PeterShaggyNoble commented on #4130
From [this PDF](http://downloads.bbc.co.uk/commissioning/site/bbc_music_styleguide_2017.pdf), the colour should definitely be black (`#000000`). We're going to have to do some digging to find a decent vector file to use 'cause all the ones I've found, including the ones in that PDF are a complete mess of points, especially in the "C". There's ...
1. [this one](https://static.files.bbci.co.uk/orbit

[2021-01-22 18:41] #4824 closed

[2021-01-22 20:46] Atulin commented on #4835
Just sent them an email asking for a monochrome icon or a permission to modify the one I got and turn it monochrome.

[2021-01-22 22:05] glynnis commented on #3623
Hi everyone!

Finally pulled a dusty hard drive off the shelf and found my original logo files. Attaching them here. This is everything I have: https://drive.google.com/drive/folders/1vodWlKEu7EIVXjHRZ7T29JYfdM7kJIYM?usp=sharing

Please download and save elsewhere—it'll be on GDrive for a bit but I clean out my files there with some regularity so it won't live there in perpetuity :)

Thanks for yo

[2021-01-22 22:11] glynnis commented on #3623
Also please see notes in #41 about licensing! Thanks.

[2021-01-23 14:18] PeterShaggyNoble commented on #4835
Thanks for that, @Atulin, much appreciated.

[2021-01-23 16:04] tecosaur opened #4845 "Request: Org mode"
**Project:** Org (`.org` files)
**Website:** https://orgmode.org/
**Alexa rank:** 247,154

**Official resources for icon and color:**
Theme colors (`#77aa99` / `#587e71`) be seen on the home page and in the icon. As for the icon:
- color: https://orgmode.org/resources/img/org-mode-unicorn.svg
- color, borderless: https://orgmode.org/resources/img/org-mode-unicorn-borderless.svg
- colour, reduced d

[2021-01-23 16:46] PeterShaggyNoble commented on #4212
Coming back to this one, they do have a simplified icon which can be seen in their favicon and some of their screenshots, which is available at https://github.com/mumble-voip/mumble/blob/master/icons/mumble_small.svg and would be better suited to our purposes.

[2021-01-23 16:59] PeterShaggyNoble commented on #4845
Thanks for the detailed request, @tecosaur. As this appears to be your own brand, would you be interested in having a read of [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and giving this a try yourself?

I don't know if the monochrome version is the best representation, I would have expected the monochrome treatment to be the outline of t

[2021-01-23 17:25] tecosaur commented on #4845
Thanks for the quick response.
I think it's worth clarifying that this isn't "my own brand" so much as a OSS project which I have become involved with.

Looking at other PRs it giving this a shot doesn't look too bad, so I'm happy to give it a go.

Re: the monochrome version, I"m not sure what what exactly is expected by simple-icons on this? I assumed you wanted a single shade, but I could do som

[2021-01-23 17:25] tecosaur commented on #4845
Ooops, wrong button :facepalm:

[2021-01-23 19:24] service-paradis opened #4847 "Add Zoiper icon"
**Brand Name:** Zoiper
**Website:** https://www.zoiper.com/
**Alexa rank:** [~61k](https://www.alexa.com/siteinfo/zoiper.com)

**Official resources for icon and color:**

I did not found a SVG on their website, but there is one in the footer of this PDF.
- https://www.zoiper.com/pdf/User%20Guide%20Zoiper%205%20v.1.0.6.pdf

I'm not sure how it could look with a monochrome treatment.

I would use `#

[2021-01-24 12:31] mondeja opened #4849 "Escape 'Get commit message' step output in 'Publish' workflow"
The problem is that, if a release contain the character `'` in their body, the output will not be escaped and the command will fail. After two attempts to solve this in #4707 and https://github.com/simple-icons/simple-icons/commit/70ead50f27b1e9f14547e6739de4f830a0600304, I have not been able to fix it due to the difficulty of debugging the output, so the problem persists.

[2021-01-24 18:16] ericcornelissen commented on #1382
Closing this in favor of https://github.com/simple-icons/simple-icons-website/issues/16

[2021-01-24 18:16] #1382 closed

[2021-01-24 21:03] Bellisario opened #4853 "Add Wolksvagen Icon"
**Brand Name:** Wolksvagen
**Website:** [https://wolksvagen.com/](https://wolksvagen.com/)
**Alexa rank:**  8,165,326 (site ranks)

**Official resources for icon and color:**

[code]
The code it's from the original site header of [https://volkswagen.it/it.html](https://volkswagen.it/it.html) because I'm Italian and if I go to [https://wolksvagen.com/](https://wolksvagen.com/), the site redirects m

[2021-01-24 21:11] adamrusted commented on #4853
Hi @Bellisario, thanks for the request. We do already have Volkswagen in our library - is the icon above any different to [this one](https://simpleicons.org/?q=volkswagen)?

[2021-01-24 21:24] adamrusted commented on #4853
Upon pulling this icon into Figma, it's the Volkswagen icon we already have on file.
I'll close this for now, but if there are any edits that need making to our current icon, please reopen it @Bellisario.

[2021-01-24 21:24] #4853 closed

[2021-01-24 22:07] mondeja commented on #4849
I will reopen this in a week if https://github.com/simple-icons/simple-icons/commit/bc8ee013eda9c292a35a0012e95971f072ad1df3 doesn't work

[2021-01-24 22:07] #4849 closed

[2021-01-25 03:36] sebastiandg7 opened #4856 "Add Nrwl Nx icon"
**Brand Name:** Nx
**Website:** https://nx.dev/
**Alexa rank:** 161,488

**Official resources for icon and color:**

https://nx.devassets/images/nx-logo-white.svg
https://github.com/nrwl/nx/tree/master/images

[2021-01-25 08:39] runxel commented on #4853
Looks like Spam btw.
(Look at the bad Alexa rank and the misspelling, also for me the site just says: "Adblocker detected". lol)

[2021-01-25 10:12] brunano21 commented on #4767
Icons are ready, but no update from nwrl (@vsavkin @jeffbcross @kmaida) yet 🙄

[2021-01-25 10:26] PeterShaggyNoble commented on #4856
Duplicate of #4767

[2021-01-25 10:26] #4856 closed

[2021-01-25 11:40] bBSempai commented on #3855
He hasn't been active since August ;_(

[2021-01-25 14:09] kmaida commented on #4767
Hi @brunano21, I apologize for the delay. It is fine to add these logos. Thanks for asking!

[2021-01-25 14:38] #4807 closed

[2021-01-25 14:43] #4802 closed

[2021-01-25 14:49] #3812 closed

[2021-01-25 15:23] Bellisario commented on #4853
Oops... @adamrusted I didn't found the icon, sorry... perfect, by the way!

[2021-01-25 16:20] #3594 closed

[2021-01-25 16:48] sadabnepal opened #4861 "Add WebDriverIO icon"
**Brand Name:** WebDriverIO
**Website:** https://webdriver.io/
**Alexa rank:** 270,801

**Official resources for icon and color:** https://webdriver.io/

[2021-01-25 16:51] sadabnepal commented on #4861
[Png Logo](https://webdriver.io/img/webdriverio.png)

[2021-01-25 16:58] PeterShaggyNoble commented on #4861
Thanks for the request, @sadabnepal. I think we'll need to go with the boxed "I/O" as seen in their website's header (among other places). There's no SVG available that I can find but it should be straightforward enough to recreate from the CSS.

[2021-01-26 05:48] sadabnepal commented on #4861
Sure @PeterShaggyNoble

[2021-01-26 12:20] PeterShaggyNoble commented on #2687
OK, so, from [the updated zip](https://d1.awsstatic.com/webteam/architecture-icons/Q32020/AWS-Architecture-Assets-For-Light-and-Dark-BG_20200911.478ff05b80f909792f7853b1a28de8e28eac67f4.zip) available [here](https://aws.amazon.com/architecture/icons/), it looks to me based on the naming of the icons as `Arch_Amazon-S3-Standard_[SIZE].svg` that the icon we should be using is the bucket one and, fol

[2021-01-26 14:18] #3364 closed

[2021-01-26 14:27] #2952 closed

[2021-01-26 14:29] #2438 closed

[2021-01-26 14:40] #3538 closed

[2021-01-26 14:56] #3953 closed

[2021-01-26 14:59] #4118 closed

[2021-01-26 15:05] #4130 closed

[2021-01-26 15:20] Ryoga-exe commented on #3276
Hello, @PeterShaggyNoble. I contacted the president and he said they will be discussing this internally, so it will take longer than I have expected...

[2021-01-26 15:36] adamrusted opened #4868 "DISCLAIMER.md"
### Kind of issue
Improvement

### This issue concerns
The GitHub Repository

### Description
Further to #4629, we need to look at compiling a DISCLAIMER.md which goes through the relevant details. I'm happy to put something together, but thought it best to split it from the existing PR so we can discuss it further without it pinging the PR every time.

## Contents
- While we provide icons for pop

[2021-01-26 15:36] #3652 closed

[2021-01-26 17:25] service-paradis opened #4870 "Add Newegg"
**Brand Name:** Newegg
**Website:** https://www.newegg.com/
**Alexa rank:** [~400](https://www.alexa.com/siteinfo/newegg.com)

**Official resources for icon and color:**

- I, unfortunately, cannot find any official vector version of their logo

[2021-01-26 17:38] PeterShaggyNoble commented on #4870
Can't find a vector either but I did find [this monochrome treatment](https://c1.neweggimages.com/webresource/b2b/en/images/logos/logo-neb-f.png) in the footer of [their business site](https://www.neweggbusiness.com/).

[2021-01-26 17:40] PeterShaggyNoble commented on #3276
Thanks for that, @Ryoga-exe 👍🏻 Hopefully they give the go-ahead.

[2021-01-26 23:51] service-paradis opened #4876 "Add Snap.svg"
![image](https://user-images.githubusercontent.com/12817388/105921839-64f8da00-6007-11eb-94a9-a4b015ee7642.png)

**Brand Name:** Snap.svg
**Website:** http://snapsvg.io/ and https://github.com/adobe-webplatform/Snap.svg
**Alexa rank:** [~293k](https://www.alexa.com/siteinfo/snapsvg.io) and [13k ⭐ on Github](https://github.com/adobe-webplatform/Snap.svg)

**Official resources for icon and color:**

[2021-01-27 05:52] metmarkosaric opened #4878 "Add Plausible Analytics"
**Brand Name:** Plausible Analytics
**Website:** https://plausible.io
**Alexa rank:** 64,891

**Official resources for icon and color:**
https://github.com/plausible/docs/blob/master/static/img/logo.svg

I'm the co-founder of Plausible Analytics. Thanks!

[2021-01-27 16:50] PeterShaggyNoble commented on #4845
That looks like a good start but it would need to be entirely monochrome rather than grayscale.

[2021-01-27 16:51] PeterShaggyNoble commented on #3855
Dang! The next step may be to create an issue/discussion in their repo asking for clarification.

[2021-01-27 17:03] tecosaur commented on #4845
Ah, so you were thinking of hatching when you said that? I'm not sure about that, but I could reveal some detail with something like this:
![image](https://user-images.githubusercontent.com/20903656/106026239-8ab7d900-6104-11eb-9d85-028c6646c20d.png)

[2021-01-27 17:16] PeterShaggyNoble commented on #4845
I like it, @tecosaur 👍🏻 Works much better than my idea to use the outlines. Do you need to run that treatment past the Org Mode team for approval? If not then you can take it straight to PR.

[2021-01-27 17:20] tecosaur commented on #4845
I'm confident that using the slightly modified version in my comment above is fine.

I'll try to reduce the number of splines and take a look at the contributing document in the next few days :slightly_smiling_face:.

[2021-01-27 17:23] Atulin commented on #4835
Well, here's the email I got in return:
![image](https://user-images.githubusercontent.com/11233299/106028267-05b0cd80-60cc-11eb-9979-1900fee994e1.png)

And the logo in question: https://gofile.io/d/kLnMGN

[2021-01-27 17:32] PeterShaggyNoble commented on #3545
Sorry, forgot we already OKed this one internally based on Google Trends. There are a few different possible treatments here:
1. The mascot on its own,
2. The full wordmark including strokes,
3. The full wordmark excluding strokes, or,
4. The full wordmark without the fill.

(Ignore the largest version in each preview)

![](https://user-images.githubusercontent.com/15157491/106029551-1d388800-60c5

[2021-01-27 17:33] adamrusted commented on #3545
Of the 4, I'd say 1 or 3. Just because the text looks cleanest in 3 - but if we can get away without it, then 1.

[2021-01-27 17:50] adamalston commented on #3548
What color should this icon be? I cant find a consensus on #66CCFF or #FFFF00.

[2021-01-27 17:56] PeterShaggyNoble commented on #3548
Looking at [their old site](https://hadoop.apache.org/old/) they used blues pretty heavily so I'd lean towards `#66ccff` but I think, in the absence of anything concrete to go on, either is fine.

[2021-01-27 23:39] yuri-norwood opened #4883 "Add Icon for Suckless (and possibly dwm)"
**Brand Name:** Suckless
**Website:** https://suckless.org
**Alexa rank:** 412,962

## Official resources for icon and color:
* Icon: https://suckless.org/logo.svg and/or https://dwm.suckless.org/dwm.svg
* Colors:
  * [![#006699](https://img.shields.io/badge/%23-006699-006699)](https://suckless.org/pub/style.css)
  * [![#222222](https://img.shields.io/badge/%23-222222-222222)](https://git.suckless

[2021-01-28 00:18] yuri-norwood commented on #4883
Seeing as [Awesome WM](https://simpleicons.org/?q=awesomeWM) is just a clone of dwm, and is already supported, this seems like a no brainer.

[2021-01-28 00:48] wattseat opened #4884 "Jellyfin icon on wordpress plugin"
The Jellyfin icon is already available on simple icons but not on wordpress plugin. Is it possible to add it?

[2021-01-28 02:49] Galarzaa90 opened #4885 "Icon request: Processing"
**Brand Name:** Processing
**Website:** https://processing.org/
**Alexa rank:** 47,511

**Official resources for icon and color:** This is a bit complicated because they don't have a dedicated site for these, and they have one icon for their website and one icon for their software.

Website: https://processing.org/img/processing2-logo-256x256.jpg
Software: https://processing.org/img/processing3-lo

[2021-01-28 05:58] fbernhart commented on #4884
The different plugins are mostly created and maintained by the community. In case of the WordPress plugin it's @tjtaylo, which maintains this project. He would have to update his plugin to use the newest version of Simple Icons.

If he doesn't answer here, maybe open an issue here: https://wordpress.org/support/plugin/simple-icons

I'm closing this now as it's an issue about the WordPress plugin a

[2021-01-28 05:58] #4884 closed

[2021-01-28 07:15] tjtaylo commented on #4884
Hello, I've updated the plugin to include the Jellyfin icon!

[2021-01-28 10:29] Latezly opened #4887 "Namecheap icon cannot be displayed"
`https://img.shields.io/badge/-Namecheap-DE3723?style=flat-square&logo=namecheap&logoColor=ffffff`
![](https://img.shields.io/badge/-Namecheap-DE3723?style=flat-square&logo=namecheap&logoColor=ffffff)

\----

`https://img.shields.io/badge/-Namecheap-DE3723?style=flat-square&logo=cloudflare&logoColor=ffffff`
![](https://img.shields.io/badge/-Namecheap-DE3723?style=flat-square&logo=cloudflare&logoCo

[2021-01-28 10:36] adamrusted commented on #4887
Hi @Latezly, thanks for getting in touch!
The icon for NameCheap was only added to the project 8 days ago, and so it's likely that Shields.io haven't updated their dependency on our library since. They're usually pretty quick, so it should be available by next week - though if you're still having issues it's worth [submitting an issue to them](https://github.com/badges/shields/issues/new/choose) t

[2021-01-28 10:40] #4887 closed

[2021-01-28 10:42] Latezly commented on #4887
That's it, thank you for your answer

[2021-01-28 10:52] adamrusted commented on #4885
Searching through their [GitHub Organisation]() brought these SVGs to light. I'd go with the icon variant, providing we can match it to the company, and not just their community day.

`https://github.com/processing/processing-community-day-website/blob/a59dab73f5ad401e33d8995f936e2d28e183e4d6/img/logo.svg`
![](https://raw.githubusercontent.com/processing/processing-community-day-website/a59dab73f5

[2021-01-28 12:59] PeterShaggyNoble commented on #2587
Right, that's all the straightforward ones taken care of; the rest need some work or a discussion.

First up [Air Asia](https://www.airasia.com/). I actually had a PR queued up ready to go before we put these icons on hold and, unfortunately, they've changed their branding since and have yet to update their [media kit](https://newsroom.airasia.com/media-kit). There _is_ an [SVG of their logo](http

[2021-01-28 13:07] adamrusted commented on #2587
@PeterShaggyNoble there's a high resolution version of the encircled `a` available [here](https://ir.airasia.com/images/logo/airasia.png) from the [investor relations site](https://ir.airasia.com/).

[2021-01-28 14:47] PeterShaggyNoble commented on #2587
Nice find, @adamrusted 👍🏻 Even _I_ should be able to take a stab at that! 😆 Unless you were planning to give it a go?

[2021-01-28 14:50] adamrusted commented on #2587
Nah, go for it @PeterShaggyNoble!

[2021-01-28 16:50] tecosaur commented on #4845
Done (1.7kb) :slightly_smiling_face:  now I just need to make a PR.

[2021-01-28 16:56] PeterShaggyNoble commented on #2587
Scratch that; found an SVG in the footer of https://www.airasia.com/shop 🙂

[2021-01-28 17:07] bBSempai commented on #3855
![image](https://user-images.githubusercontent.com/64588227/106172874-4e928000-61b9-11eb-9ca2-ea24e846652b.png)
WHERE IS THE ISSUE TAB IM WEAK

[2021-01-28 17:20] PeterShaggyNoble commented on #3855
Looks like they're disabled 🙁 Guess we'll have to go with our own best interpretation, so.

[2021-01-28 23:19] Atulin commented on #4835
A small update:
![image](https://user-images.githubusercontent.com/11233299/106210732-acc65f80-61c7-11eb-93a2-2b76efcd07e1.png)

[2021-01-29 12:08] #4137 closed

[2021-01-29 15:16] PeterShaggyNoble commented on #4835
Thanks for your efforts on this one so far, @Atulin and we can absolutely send them a link to the PR for review before merging it when the time comes.

On the file they provided: while it gives us a better starting point, it will still require a bit of manual work to recreate the [monochrome treatment](https://ss-staging-assets.s3-us-west-1.amazonaws.com/brand/ss_logomark_mono_di.png) below so, be

[2021-01-29 16:14] PeterShaggyNoble commented on #3703
Are you still interested in taking this one on, @LitoMore?

[2021-01-29 16:32] arifia opened #4896 "CorelDraw"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-01-29 16:57] #4847 closed

[2021-01-29 17:16] #4749 closed

[2021-01-30 01:19] MoDev32 opened #4898 "Update .NET"
~~**Brand Name: .NET Core**~~
~~**Website: https://dotnet.microsoft.com/download/dotnet-core**~~
~~**Alexa rank: 21**~~

~~**Official resources for icon and color:~~
~~https://dotnet.microsoft.com/static/images/redesign/downloads-dot-net-core.svg**~~

~~**Color:#512bd4**~~

Update the existing .NET icon to the official primary color mentioned on page 16 of [.NET brand guidelines](https://github.co

[2021-01-30 08:02] LitoMore commented on #3703
Oh sorry, I will make a PR in these few days.

[2021-01-30 09:46] runxel commented on #4896
Hey Arifia!
Thanks for the request. Is there any reason you closed it immediately?

[2021-01-30 17:44] adamrusted commented on #4868
@simple-icons/maintainers I've started work on a _very basic_ disclaimer [here](https://github.com/adamrusted/simple-icons/blob/Add/Disclaimer.md/DISCLAIMER.md), please feel free to take a look, and make any suggestions.

[2021-01-31 02:19] Lexikos commented on #3855
There is no official monochrome logo, as far as I am aware. I suppose "official" is whatever is on the website (which I leave to others to maintain), or embedded in the program and documentation.

The first graphic in the first comment appears to be an unofficial reproduction of the program icon. The "H" in the icon is not part of any font, but was drawn with two vertical lines (with rounded caps)

[2021-01-31 06:53] fbernhart commented on #3855
Thanks for your feedback @Lexikos!

In this case I would suggest another version. Based on the version of  @adamrusted with the "AHK" letters on one key, I would give it the same style as my suggestion. So that the outer part of the key and the letters "AHK" are paths.

I don't have a PC available right now to give it a try. But maybe @adamrusted could give it a try. 😊

[2021-01-31 14:13] sadabnepal commented on #4493
@PeterShaggyNoble  Can you please let me know if you need any information from me

[2021-01-31 15:51] ericcornelissen opened #4900 "Expose guidelines in NPM package"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [ ] The Packagist Package

### Description

With https://github.com/simple-icons/simple-icons/pull/2846 being merged since a few releases, I think it is time to consider whether or not [the `"guidelines"` field](https://github.com/simple-icons/simple-icons/blob/ce43d3ebeab3

[2021-01-31 20:25] diegobot1977 opened #4901 "Request: CBS"
**Name:** CBS
**Website:** https://www.cbs.com/
**Colour:** `#162b48`
**Official resources for icon and color:** We'll, I will see on Google: https://www.google.com/search?q=cbs%20colors&tbm=isch

[2021-02-01 03:03] ghost opened #4903 "Request: LibreWolf"
**Brand Name:** LibreWolf
**Website:** https://librewolf-community.gitlab.io/
**Color:** `#00ACFF`
**Official resources for icon and color:** https://librewolf-community.gitlab.io/images/logo.png

[2021-02-01 04:52] AndrewDaGuy commented on #4903
**Branding:** https://gitlab.com/librewolf-community/branding

[2021-02-01 06:20] fbernhart commented on #4901
Alexa rank: [1,494](https://www.alexa.com/siteinfo/cbs.com)

There is a SVG in the header of https://www.cbs.com