[2020-06-25 15:49] onimur commented on #3254
Done, @PeterShaggyNoble

[2020-06-25 15:51] PeterShaggyNoble commented on #3254
Thanks, @onimur. Just to clarify: are you _only_ requesting Bintray here or are you also requesting Jfrog?

[2020-06-25 15:56] onimur commented on #3254
Only Bintray, @PeterShaggyNoble sorry

[2020-06-25 15:59] PeterShaggyNoble commented on #3254
Thanks (again), @onimur :+1:

[This SVG](https://bintray.com/assets/homepage-logos/bintray-logo-2c8440c4b7cc3d118552ded6815c3ce1.svg) is being used in their header and "hero" image. Would you like to take a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2020-06-25 16:19] PeterShaggyNoble opened #3260 "Request: Bigbasket"
**Name:** Bigbasket
**Website:** https://www.bigbasket.com/
**Alexa Rank:** [~2.2k](https://www.alexa.com/siteinfo/bigbasket.com)
**Suggested Colour:** `#a5cd39`
**Official resources for icon and color:** There's a vector version of the icon in [this sprite](https://www.bigbasket.com/static/staticContent/header.css.svg) and the monochrome treatment can be seen in [this PNG](https://www.bigbasket.c

[2020-06-25 16:38] onimur commented on #3254
I can try. Thank you!

[2020-06-25 17:00] PeterShaggyNoble commented on #1368
Revisiting this, I've rounded down to the nearest multiple of 100 and retained the "Over" prefix. We just need to decide, then, if we want to handpick the icons to be shown off and, if so, which ones, or if we just stick the current randomisation I'm using?

![](https://user-images.githubusercontent.com/15157491/85764700-71355580-b70d-11ea-9f96-7b7545c9a600.png)

[2020-06-25 17:31] onimur commented on #3254
@PeterShaggyNoble Is there a pattern I should adopt in the pull request comment?

[2020-06-25 17:40] PeterShaggyNoble commented on #3254
Yep, we have a template for PRs.

[2020-06-25 19:02] PeterShaggyNoble commented on #3254
Thanks for taking this one on, @onimur. We'll leave this issue open until the PR is merged, though.

[2020-06-25 19:05] onimur commented on #3254
Okay, Thank you.

[2020-06-25 20:13] furknyavuz commented on #3238
Correction:
Color code: `#FF4800`
And I'm working on this ticket. FYI

[2020-06-26 06:09] NovaGL commented on #3255
I think we should add the FreeNAS logo for Legacy purposes. Not everyone will update their box quickly and they might like to reference that logo. We should just add the one TrueNAS logo and then people can raise issues or pull releases if they would like the other logos.

[2020-06-26 06:13] NovaGL commented on #3257
Although I agree this is a good addition I think we should use the brandmark as well so it doesn't get confused with other logos.

![](https://www.logolynx.com/images/logolynx/bb/bb245ce16f2add84bce1d8fcfbf56bcd.png)

[2020-06-26 06:15] NovaGL commented on #3247
Hi Peter since this topic already exists, what's you opinon on the xml you added in a previous submission.
Should it be allowed if people want to keep the xml tags in there? If it's ok maybe the submission text should be changed?

[2020-06-26 06:21] NovaGL commented on #3248
@PeterShaggyNoble I see no problem with using the Logo.SVG in the dropbox folder and just making it monochrome it doesn't appear to be dramatically different to the favicon.

[2020-06-26 10:29] Ninad99 opened #3263 "Request: RxJS"
**Name:** RxJS
**Website:** https://rxjs.dev/
**Alexa rank:** 260,308

**Official resources for icon and color:** This is the [logo](https://rxjs.dev/assets/images/logos/logo.png) used in the website.

[2020-06-26 10:49] PeterShaggyNoble commented on #3263
Thanks for the request, @Ninad99

There's a monochrome SVG in one of their GitHub repos that we could use: https://github.com/ReactiveX/rxjs/blob/master/resources/CI-CD/logo/svg/RxJs_Logo_Black.svg

Not sure on the colour, black seems pretty dominant on their site (but that may be temporary while showing their support for BLM) but I'd actually lean towards the pink: `#d81b60`.

Would you like to h

[2020-06-26 12:28] Ninad99 commented on #3263
Sure!

[2020-06-26 14:46] ericcornelissen commented on #1368
Still not a fan of including the text at the top personally and I think random icons is fine.

Also, maybe our logo can be a bit smaller? I don't think it is _that_ important.

[2020-06-26 15:19] ericcornelissen commented on #2260
After reconsidering this (the original issue) I think there are only two viable solutions:

- Allow for the `slug` property to be defined in the data file in the case that we foresee a name clash (e.g. VOX and Vox) or we encounter one for an existing icon. This leaves us with two problems we need to consider:
  1. Communicate the slug with users of the package, as it cannot be derived from the nam

[2020-06-26 15:23] ericcornelissen commented on #2260
Regarding #3219, as you pointed out, the primary problem is the `<title>` element which can only be correct for one SVG. In the NPM package we couldsomewhat sidestep this problem by changing the title dynamically, but given that that doesn't solve the problem anywhere else I'm against doing this.

[2020-06-27 07:18] plibither8 opened #3264 "Request: HEY (email service)"
**Name: Hey (stylised as HEY)**
**Website: [https://hey.com](https://hey.com)**
**Alexa rank: 56,729**

**Official resources for icon and color:**

Couldn't find media kits or brand guidelines, but here is an SVG file of the logo on the top corner of their website (it's got the HEY lettering too).
[Hey Logo.zip](https://github.com/simple-icons/simple-icons/files/4840110/Hey.Logo.zip)

[2020-06-29 02:52] pqpxo opened #3269 "ESPHome.io"
Name: Sam Wakefield
Website: https://esphome.io/
Alexa rank: 197186

**Official resources for icon and color:**

[2020-06-29 11:10] PeterShaggyNoble opened #3270 "Solve possible issues for (sub-)brands with the same icon"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [x] The Packagist Package
  - [x] The Website

### Description
Spinning this out of #2260 from an issue that arose in #3028 and, more pressingly, #3219 and that's what do do in cases where 2 brands differ in name and colour but share the same icon. We initially decided agai

[2020-06-29 12:16] PeterShaggyNoble commented on #3255
You raise a good point, there, @NovaGL - the rebranding isn't going to immediately render existing FreeNAS products obsolete and (in a UI, for example) it could be confusing to use the new icon to represent them, especially for people with products from both before and _after_ the rebrand.

My suggestion would then, therefore, be to add the current FreeNAS logo as well as TrueNAS one and remove th

[2020-06-29 16:32] #3254 closed

[2020-06-29 16:40] PeterShaggyNoble commented on #3247
@NovaGL, note that the SVG file you're referring to above is for use as a favicon on our website and isn't part of our library. Our library should cater to the "lowest common denominator". For example, people inlining the SVGs in their HTML don't need the additional markup. Anyone who _does_ need i can easily write their own tooling to add it.

[2020-06-29 16:53] PeterShaggyNoble commented on #3248
Gave it a quick try and a stright monochromisation, to me, doesn't work nearly as well as the treatment seen in their favicon.

![Eagle](https://user-images.githubusercontent.com/15157491/86033791-693d2480-ba31-11ea-960c-34abf9e956ec.png)

[2020-06-29 16:57] PeterShaggyNoble commented on #3264
Thanks for the request, @plibither8. I think we can go with just the hand here and, for the colour, I'd suggest the `#5522fa` "blurple" colour from the CSS.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself?

[2020-06-29 16:59] PeterShaggyNoble commented on #3269
Thanks for the request, @pqpxo. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself using the icon found in [this SVG](https://esphome.io/_static/logo-text.svg)?

[2020-06-29 17:01] PeterShaggyNoble commented on #3219
Discussion on a possible approach for this has been moved to #3270.

[2020-06-29 17:02] plibither8 commented on #3264
Hi, sure :)

I'll look through the guide and hope to start work soon.

[2020-06-29 17:04] PeterShaggyNoble commented on #3197
Given that this will be resolved by other work we'll be undertaking on the website, I'm going to close this issue out.

[2020-06-29 17:04] #3197 closed

[2020-06-29 23:54] NovaGL commented on #3248
Yeh, I can see your point now. It might need to be traced.

[2020-06-30 16:38] PeterShaggyNoble commented on #2260
Thinking about this again some more last night, one approach we _could_ use to allow us to take this simpler approach would be to wrap the "modifier" in parentheses (e.g., "Hive Blockchain" would become "Hive (Blockchain)") and only add it to the JSON entry, allowing the SVG to use a different filename (e.g., "hive_blockchain") while retaining the correct name (e.g., "Hive") in its `<title>`. We'd

[2020-06-30 16:39] #3264 closed

[2020-06-30 16:44] #3238 closed

[2020-07-01 11:00] oliverpitsch opened #3275 "Request: Trusted Shops"
**Name:** Trusted Shops
**Website:** https://trustedshops.de
**Alexa rank:** 76,212

**Official resources for icon and color:**
https://brand.trustedshops.com/d/dorIFVeUmcN9/corporate-design#/basic-elements/logo-1573044308/symbol

[2020-07-01 11:34] sheriyuo opened #3276 "AtCoder"
![AtCoder](https://img.atcoder.jp/assets/favicon.png)

[code]

[2020-07-01 16:20] PeterShaggyNoble commented on #3275
Thanks for the request, @oliverpitsch. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

**Suggested colour:** `#ffdc0f`, from https://brand.trustedshops.com/d/dorIFVeUmcN9/corporate-design#/basic-elements/colours

[2020-07-01 16:25] PeterShaggyNoble commented on #3276
Thanks for the request, @disangan233. However could you please complete the issue template below and edit it into your issue?
[code]

[2020-07-01 17:04] PeterShaggyNoble commented on #3012
Are you still interested in taking these on, @saveroo?

[2020-07-02 03:55] disangan233 commented on #3276
Name:AtCoder

Website:https://atcoder.jp

Alexa rank:31929

[2020-07-02 09:59] PeterShaggyNoble commented on #1919
Reopening this one as Google Photos has recently been rebranded and not has a monochrome option for their icon: https://partnermarketinghub.withgoogle.com/#/brands/1TP3sHcc3rsLp2L0EW_pfsCjSM79DZ_ng/1nrCb8vd2u-VIKRe37NOOy6V6o749qU9jBQHBiRxqVvs

[2020-07-02 11:52] PeterShaggyNoble commented on #3276
Thanks, @disangan233. I had a quick look around that site and couldn't find a vector version of the logo we could use so we'll need someone to recreate it - I'd suggest _without_ the wordmark underneath. The choice of colour isn't at all clear-cut so I think we should just go with `#101010` from their website's header.

[2020-07-02 16:40] #3243 closed

[2020-07-02 23:44] disangan233 commented on #3276
ok

[2020-07-03 10:29] #2462 closed

[2020-07-03 11:58] PeterShaggyNoble commented on #3212
Reopening this as it has just passed 500k and is currently sitting at [497110](https://www.alexa.com/siteinfo/podcastaddict.com).

[2020-07-03 14:07] PeterShaggyNoble commented on #3164
I have this queued up locally, ready to go and will get a PR in over the next few days. If anyone has a need for it in the meantime, you can download it by clicking the image below. Note though that this has not yet passed through our review processes.

[![Starling Bank](https://user-images.githubusercontent.com/15157491/86476600-c4775b80-bd3e-11ea-8611-0fbb0c439b74.png)](https://github.com/simple

[2020-07-03 14:27] PeterShaggyNoble commented on #3167
I have this queued up locally, ready to go and will get a PR in over the next few days. If anyone else has a need for it in the meantime, you can download it by clicking the image below. Note though that this has not yet passed through our review processes.

[![vFairs](https://user-images.githubusercontent.com/15157491/86478062-92b3c400-bd41-11ea-8463-0da1d550b314.png)](https://github.com/simple-i

[2020-07-03 15:26] ericcornelissen commented on #3270
Having thought about this a bit more, I actually believe we should just add the same SVG, with the `<title>` changed, if subbrands use the same logo but different color (maybe *even* if it's the same color) **and** are truly separate brands. So, for #3219, I think we should indeed add the Svelte SVG with the `<title>` changed to "Sapper icon".

This sidesteps all problems that come with trying to

[2020-07-03 15:52] PeterShaggyNoble commented on #3270
One small problem I foresee is that if, using Svelte as an example again, they update their logo, we'd have to remember to update Sapper, too. The more sub-brands or subsidiaries using the same logo (e.g., Japan Railways, if we eventually added them all), the more icons we'd need to remember to update.

[2020-07-03 16:02] ericcornelissen commented on #2260
Given that the consensus seems to be to use the `"slug"` property to resolve this issue, I suggest we hold of on trying to get this in before [v3](https://github.com/simple-icons/simple-icons/milestone/2) as this solution is not breaking backwards compatibility. The main reason for this is to take the time to find and implement a suitable solution for getting icons through the NodeJS API.

[2020-07-03 16:19] ericcornelissen commented on #3270
Though not ideal, I wouldn't call it a _problem_ per se.

I think it is as much our responsibility to keep our icons up-to-date as it is our communities. So, if we forget to update both (assuming first and foremost that both are updated in to the same new logo!) then we can expect a community member to inform us about it, at which point updating it is easy enough.

Moreover, I don't think anyone c

[2020-07-04 18:39] #2505 closed

[2020-07-05 09:10] gizmecano commented on #1368
I have just [tweeted about the new release](https://twitter.com/gizmecano/status/1279701582490279941) in order to test the image composed by @PeterShaggyNoble.

After removing the caption text (added as a meta description of the image) and resizing in 1000x500px, the final display seems quite correct, IMHO.

![tweet-sample](https://user-images.githubusercontent.com/852661/86529246-88afd380-beaf-11

[2020-07-05 13:57] #3247 closed

[2020-07-05 16:13] thefatguide opened #3290 "Klook"
**Name:** Klook
**Website:** klook.com
**Alexa rank:** 7157

**Official resources for icon and color:**

[2020-07-05 16:14] fatclick opened #3291 "Agoda"
**Name:** Agoda
**Website:** agoda.com
**Alexa rank:** 2019

**Official resources for icon and color:**

[2020-07-05 16:15] thefatguide opened #3292 "Trip.com"
**Name:** Trip.com
**Website:** trip.com
**Alexa rank:** 9638

**Official resources for icon and color:**

[2020-07-05 16:17] thefatguide opened #3293 "FoodPanda"
**Name:** FoodPanda
**Website:** foodpanda.hk
**Alexa rank:** 15793

**Official resources for icon and color:**

[2020-07-05 16:19] thefatguide opened #3294 "Rakuten"
**Name:** Rakuten
**Website:** rakuten.co.jp
**Alexa rank:** 93

**Official resources for icon and color:**

[2020-07-05 16:21] thefatguide opened #3295 "Cloudways"
**Name:** Cloudways
**Website:** cloudways.com
**Alexa rank:** 9793

**Official resources for icon and color:**

[2020-07-05 16:22] thefatguide opened #3296 "AliExpress"
**Name:** AliExpress
**Website:** aliexpress.com
**Alexa rank:** 38

**Official resources for icon and color:**

[2020-07-05 16:24] thefatguide opened #3297 "Taobao"
**Name:** Taobao
**Website:** taobao.com
**Alexa rank:** 9

**Official resources for icon and color:**

[2020-07-05 17:23] MrOrange9-JCT opened #3298 "Request: IFTTT"
**Name:** IFTTT
**Website:** https://ifttt.com/
**Alexa rank:** 6,802 (https://www.alexa.com/siteinfo/ifttt.com)

**Official resources for icon and color:**
https://ifttt.com/discover/brand-guidelines

[2020-07-05 22:27] softprops opened #3299 "Add Wasi (web assembly system interface) logo"
**Name:**

Wasi

**Website:**

https://wasi.dev/

**Alexa rank:**

2,761,202

**Official resources for icon and color:**

https://github.com/bytecodealliance/wasi.dev/blob/gh-pages/polyfill/WASI-small.png

[2020-07-08 15:45] gizmecano opened #3301 "Request: Joint Photographic Experts Group (JPEG)"
**Name:** Joint Photographic Experts Group (JPEG)
**Website:** [JPEG](https://jpeg.org/)
**Alexa rank:** _circa_ 350'000

***

In the same way that an icon has been added for the `SVG` format (cf. #1765 and #1790), it probably might be useful to add the official brand of the group which is managing the [`JPEG`](https://jpeg.org/) format.

**Official resources for icon and color:**

1. An official

[2020-07-08 18:45] thomasfedb opened #3302 "Request: PubMed"
**Name:** PubMed
**Website:** https://pubmed.ncbi.nlm.nih.gov/
**Alexa rank:** 126 (nih.gov)

**Official resources for icon and color:**

https://cdn.ncbi.nlm.nih.gov/pubmed/01ddcb93-2e80-4446-b2b2-d89a220d4f38/core/images/pubmed-logo-blue.svg?cf01ef562bf0

The icon is also included in [academicons](http://jpswalsh.github.io/academicons/).

[2020-07-09 09:35] gizmecano opened #3305 "Update freeCodeCamp"
**Name:** freeCodeCamp
**Official resources for icon and color:** [freeCodeCamp - Style Guide](https://design-style-guide.freecodecamp.org/)

***

Since #830, the color associated with freeCodeCamp icon is set to `#006400`. But, if you check the  [freeCodeCamp - Style Guide](https://design-style-guide.freecodecamp.org/), this color no longer appears anywhere.

This document states in [Logo Colors]

[2020-07-09 10:29] ericcornelissen commented on #3305
Thanks for bringing this to our attention @gizmecano, would you be interested in submitting a PR to update the _freeCodeCamp_ logo and color?

[2020-07-09 11:35] gizmecano commented on #3305
Yes, as it seems to not present difficulties, I think I could do this.

But first, I wanted to be sure that this brand has really changed as I described (its's why I also opened an issue on its own repository: https://github.com/freeCodeCamp/design-style-guide/issues/40)...

Furthermore, as I have already two other open PR (#3303  and #3304), I prefer to not too multiplicate branches on my fork at

[2020-07-09 11:45] ericcornelissen commented on #3305
To me, from [their landing page](https://www.freecodecamp.org/), it seems that they already fully updated their branding, and the Favicon on the style guide page is just an accident. But to be fair, it might be worth waiting for their response 👍

That is fair. We try to review PRs as quickly as possible and you can open a PR for this one once one of the other gets merged 😃

[2020-07-09 13:35] kimadactyl opened #3306 "Add Tinyletter icon"
**Name:** Tinyletter
**Website:** https://tinyletter.com/
**Alexa rank:** 68,105
**Official resources for icon and color:** https://tinyletter.com/site/press/

[2020-07-09 13:53] kimadactyl commented on #3306
I just made one myself if it helps as a starting point!

[code]

[2020-07-09 14:12] ericcornelissen commented on #3306
Thanks for the request @kimadactyl and thanks for sharing the SVG! What file did you base it on?

Also, if you're interested you are free to open a Pull Request to contribute the Tinyletter icon, you can read more about the process in the [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) 😄

[2020-07-09 14:23] kimadactyl commented on #3306
There's an EPS on the linked page, I just removed the red heart and colour declarations :)

Can do a PR if this is still open in a few weeks, I'm already very far down the yak shaving slalom on my current project tho :)

[2020-07-09 14:35] ericcornelissen commented on #3306
Alright, thanks for the details!

That's fine. You can check back on this issue when you have time to see if it is closed or assigned to someone else. Until then, good luck with your project 😄

[2020-07-10 07:49] #2978 closed

[2020-07-10 09:43] SukkaW opened #3307 "Request icon for ThinkPad"
**Name:** ThinkPad
**Website:** https://www.thinkpad.com | https://www.lenovo.com/us/en/thinkpad
**Alexa rank:** 534585 (`thinkpad.com`)
**Official resources for icon and color:**

https://static.lenovo.com/ww/campaigns/2020/think-brand/lenovo-think-homepage-thinkpad-logo.svg

The svg fetched from Lenovo's website.

**Other informations:**

- Lenovo Trademark: https://www.lenovo.com/us/en/legal/co

[2020-07-10 09:56] PeterShaggyNoble commented on #2260
How would that translate to the filename, if we using underscores? Simply replacing spaces with underscores wouldn't work.

[2020-07-10 09:59] PeterShaggyNoble commented on #3270
I'd still be concerned with the overhead of duplicate paths, but, with the `<title>` tag in the SVG, I can't see a straightforward and easy to implement (or use) way around that so, reluctantly, I think we might have allow them. 🤔

What do the other @simple-icons/maintainers think?

[2020-07-10 10:29] runxel commented on #3270
Call me carefree, but I don't see that big of an issue with having "duplicated" icons, either. 😅

<sub>(A radical solution would be to not accept subbrands with the same logo, of course, and telling the users they should just the other one.)</sub>

[2020-07-10 10:40] runxel opened #3308 "Archicad has a new logo"
**Name:** Archicad
**Official resources for icon and color:**  https://graphisoft.com/

No brand page, but on the homepage is the new logo ~~featured as svg~~.  Scratch that! It's just another dumb "lets put raster inside a vector format" bullshit ....

[2020-07-10 10:42] PeterShaggyNoble commented on #3290
Thanks for the request, @fatclick :+1:

There's an SVG of their logo embedded in the header of their website. However, in the absence of any brand guidelines, I think we can just go with the icon seen, for eample, in [their favicon](https://cdn.klook.com/s/dist_web/assert/desktop/imgs/favicon-098cf2db20.png). A vector version of that can be found in, among other places, the SVG sprite embedded in

[2020-07-10 10:50] #3229 closed

[2020-07-10 11:14] PeterShaggyNoble commented on #3291
Thanks for the request, @fatclick

At first glance, I would have said that the colours were essential to this logo and, therefore, it couldn't be "monochromised" and, unfortunately, [their brand guidelines](https://www.agoda.com/press/agoda-logo-guidelines) seem to confirm this:

They also, further down the page, have an image with a (red) monochrome version and the line:

I'd like to get some fee

[2020-07-10 11:19] NovaGL commented on #3291
I agree. There is no way to make this monochrome without loosing the meaning

[2020-07-10 11:20] gizmecano commented on #3305
I think exactly the same...

It's why I have preferred to ask, in order to have more certainty.

No problem. A pull request does not imply an instant reply. 😉

[2020-07-10 11:25] PeterShaggyNoble commented on #3292
Thanks for the request, @fatclick

Brand guidelines can be found at https://www.behance.net/gallery/76291003/Tripcom-Brand-design-renewal but I haven't managed, as yet, to find a vector version of their logo. When we do (or someone manages to recreate it), I think we'll have to go with the full "Trip.com" wordmark.

**Suggested colour:** `#287dfa`, from brand guidelines.

[2020-07-10 11:33] PeterShaggyNoble commented on #3293
Thanks for the request, @fatclick :+1:

There's an SVG embedded in the header of their website that we could use. Their [press kit](https://www.foodpanda.com/wp-content/uploads/2015/07/APAC_foodpanda_rebrand_press_kit.pdf) uses a filled version of the panda's head, which seems to be inconsistent with its usage everywhere else.

Would you like to have a read through [our contributing guidelines](ht

[2020-07-10 11:42] PeterShaggyNoble commented on #3294
Thanks for the request, @fatclick :+1:

I think we're OK to go with just the underlined "R" here, rather than the full wordmark. The "Club R Everywhere" image on [this page](https://www.rakuten.co.uk/toolbar-plugin) includes a vector version of it.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and giv

[2020-07-10 11:47] PeterShaggyNoble commented on #3295
Thanks for the request, @fatclick :+1:

Media kit can be found at https://www.cloudways.com/en/media-kit.php. Although, if that doesn't include vector versions of the logo, there's an SVG available at https://platform.cloudways.com/signup.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a

[2020-07-10 11:56] PeterShaggyNoble commented on #3296
Thanks for the request, @fatclick :+1:

There's a vector version of their logo on page 19 of [this PDF](https://doc.irasia.com/listco/hk/alibabagroup/annual/2020/ar2020.pdf) (found on [their parent company's website](https://www.alibabagroup.com/en/global/home)) we can use. I think we'll need to use the full wordmark in this case.

**Suggested colour:** `#ff4747`, from website stylesheet, but I'm

[2020-07-10 12:03] PeterShaggyNoble commented on #3297
Thanks for the request, @fatclick :+1:

There's [an SVG on Wikimedia](https://commons.wikimedia.org/wiki/File:Taobao_Logo.svg) that we could use, although it is sourced from Brands of The World.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

**Suggested colour:** `#ff5000

[2020-07-10 13:11] PeterShaggyNoble commented on #3291
OK, going to close this out, so.

If anyone disagrees and would like to make a case for adding this then please do leave a comment and we'll revisit it.

[2020-07-10 13:11] #3291 closed

[2020-07-10 13:18] PeterShaggyNoble commented on #3299
Thanks for the request, @softprops :+1:

However, on the 2 metrics I can see, this is currently out of scope for us; we have a cut-off of 500k for Alexa ranks and 5k for GitHub stars. Is there another metric we could use to ascertain the popularity of this one and its suitability for inclusion in our library?

[2020-07-10 13:38] PeterShaggyNoble commented on #3302
Thanks for the request, @thomasfedb :+1:

Given that this is buried 3 subdomains deep on its parent site, I don't know that the Alexa rank is a truly accurate reflection of popularity in this case. There _is_ also the pubmed.gov domain, which, if it ranked <500k, would definitely mean it's within our scope. However, it only ranks at [~8.3m](https://www.alexa.com/siteinfo/pubmed.gov) but, as it jus

[2020-07-10 14:18] thomasfedb commented on #3302
I'm not sure if this is the best methodology, but using Google Trends we can see that PubMed receives far more interest than Elsevier (Alexa rank 619): https://trends.google.com/trends/explore?q=%2Fm%2F02j3lz,%2Fm%2F026db_

[2020-07-10 14:25] PeterShaggyNoble commented on #3120
Closing this as it has been merged with #3169

[2020-07-10 14:25] #3120 closed

[2020-07-10 14:35] PeterShaggyNoble commented on #3307
Thanks for the detailed request, @SukkaW :+1:

Normally, we would declare a brand with a ranking below 500k as out of scope but as,
- it is only _just_ outside the cut-off,
- regularly fluctuates over that cut-off,
- the website is for an individual product from a massively popular company (ranked 616 as of this writing), and,
- the website is targeted at a single country and still ranks that high

[2020-07-10 14:46] PeterShaggyNoble commented on #3308
GAH! Why do people do that?! Nothing worse than hunting an hour for a vector file, finally seeing the three glorious letters of SVG and then viewing the source to see that crap!

Luckily, in this case, there's a PDF with a vector version at https://graphisoft.com/contact-us/press-relations#/documents/archicad-logo-98604 😁

[2020-07-10 14:51] PeterShaggyNoble commented on #3270
Personally, your "radical" solution would also be my preferred one of the 2. But, it looks like we have a 2-1 consensus on this now so let's call this resolved and that we'll allow the duplicate paths. Let's leave this open for further feedback, though, until the PR related to #3219 is ready to go because, once that's merged, then the precedent is set.

[2020-07-10 14:54] PeterShaggyNoble commented on #3219
Thanks for your patience, @erianvc; current consensus from #3270 for this is that we're going to allow SVGs with duplicate paths so  would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

Note that our existing Svelte icon will need to be updated first (see #3169) before it can be

[2020-07-10 14:58] PeterShaggyNoble commented on #3305
Yup, that favicon is definitely an oversight; I'd say it's pretty clear that this one does need to be updated if someone wants to proceed with it. If @gizmecano _does_ here otherwise from them, we can address their feedback then.

[2020-07-10 15:01] #3301 closed

[2020-07-10 15:06] SukkaW commented on #3307
@PeterShaggyNoble Thanks!

ThinkPad is known Laptop created by IBM and acquired by Lenovo.
Since Lenovo is a Chinese company, so the "dedicated website" with that domain is for China only.

Here is the Wikipedia about "ThinkPad": https://zh.wikipedia.org/zh-hans/ThinkPad

I could help collecting more information (size, color) about ThinkPad Brand design, but maybe not make the icon by myself.

[2020-07-10 15:08] PeterShaggyNoble commented on #3302
Thanks, @thomasfedb, that's definitely a good backup indicator of it being popular enough for us to add and gives us another possible metric to judge other brands on going forward.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

Given the lack of brand guidelines, I think

[2020-07-10 19:13] vasugamdha opened #3313 "Add Google Colab icon!"
**Name:** Google Colab
**Website:** [Google Colab](https://colab.research.google.com/)
**Alexa rank:**  Rank is number 1, as its a google service.

**Official resources for icon and color:** [ICON](https://colab.research.google.com/img/colab_favicon_256px.png)

[2020-07-10 19:26] vasugamdha commented on #3296
According to the pdf @PeterShaggyNoble ,
Suggested colour should be: #ff6701

[2020-07-10 20:00] runxel commented on #3308
Have I ever told you you're magnificent? Well, you are.
Thanks once again for your detective work!

[2020-07-10 20:01] RubenMateus opened #3314 "Update C#?"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png

[2020-07-11 01:03] softprops commented on #3299
There bet this project is placing is that webassembly (already important enough to be covered by simple icons) will as valuable outside of the browser as it is inside the browser. The Alexa rank is a likely indicator of a typical [technology adoption curve](https://en.m.wikipedia.org/wiki/Technology_adoption_life_cycle).

Here's a quote from the creator of Docker as an indicator of relevance

[Ref

[2020-07-11 09:28] #3298 closed

[2020-07-11 16:08] ericcornelissen commented on #3299
I think it is unlikely that this project will ever have an Alexa ranking that is high enough to be considered for inclusion, so that won't be our reason for dismissing this request.

From my point of view, as it stands now, it is difficult for us to accept this request for the simple reason that, in addition to not showing any signs of significant popularity (we provide _SVG icons for popular bran

[2020-07-11 16:13] ericcornelissen commented on #3313
Regarding the icon: it seems there is an SVG embedded in the header of the website/app 👍

It being a product of Google by itself is not always an indication of popularity (or longevity). In this case, as it is a product aimed primarily at researches and data analysts (at least as far as I know) I don't think it being a product of Google immediately indicates popularity. However, I don't think long

[2020-07-11 16:27] ericcornelissen commented on #2260
I wasn't thinking in term of implementation yet, just in terms of usability 😅 Just replacing spaces with underscores won't work, but don't forget that we are not looking for a filename in the NPM package, see the [index.js template file](https://github.com/simple-icons/simple-icons/blob/7596ada5cf9cfb5c614751d7243f905eea008a25/scripts/templates/index.js) for reference. Currently we check if either

[2020-07-11 19:35] #3299 closed

[2020-07-11 19:56] vasugamdha commented on #3313
Hey @ericcornelissen ,

Google Colab is widely used, online alternative of Jupyter Notebook. It helps in performing high-end computations for researchers. It is a service provided by Google.(I corrected it. Its service not a product.)
And as a logo or popularity, its weighs as much as Jypyter Notebook, or maybe even slightly better.

[2020-07-12 14:17] LuckyF commented on #2849
Hi @PeterShaggyNoble,
I have found another source file, where Convertio produces round edges.
Maybe this works.

[2020-07-13 16:28] type-null opened #3317 "Request: ZCOOL icon"
**Name: zcool**
**Website: https://www.zcool.com.cn**
**Alexa rank:** 1.5k

**Official resources for icon and color:**

https://www.crunchbase.com/organization/zcool

[2020-07-13 18:40] anselmoblopes opened #3318 "Add Google PageSpeed Insight Icon"
Name: Google PageSpeed Insight
Website: https://developers.google.com/speed/pagespeed/insights/
Alexa rank: Rank is number 1
Official resources for icon and color: [ICON](https://www.gstatic.com/images/icons/material/product/2x/pagespeed_64dp.png)

[2020-07-13 18:45] anselmoblopes opened #3319 "Add BlazeMeter Icon"
Name: BlazeMeter
Website: https://www.blazemeter.com/
Alexa rank: Rank is number 37,730
Official resources for icon and color: [ICON](https://www.blazemeter.com/new_images/new_top_black_logo.svg)

[2020-07-14 05:08] ghost opened #3320 "Request: OpenBugBounty icon"
**Name: OpenBugBounty**
**Website: https://openbugbounty.org**
**Alexa rank: 68,172**

**Official resources for icon and color: https://www.openbugbounty.org/images/design/logo-obbnew.svg**

[2020-07-14 05:58] ericcornelissen commented on #3320
Thanks for the request @vu1n, nice to see that you found an existing SVG version of the logo. Based on that SVG and the website I'd say that `#f67909` is the brand color, correct?

Would you be interested in contributing the logo yourself? You can read more about how to do that in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-07-14 07:39] wulfhunter94 opened #3321 "Icon request for B&R Automation"
**Name:B&R**
**Website: https://www.br-automation.com/**
**Alexa rank:*194,230*

**Official resources for icon and color:**

[2020-07-14 08:24] ericcornelissen commented on #3319
Thanks for the request @anselmoblopes and thanks for linking to the SVG version of the logo. Based on the favicon of the website and the image they use on social media I would expect the logo to be the three lines with a B, which I suspect one can easily recreate from the SVG you linked. The color is less clear as the logo uses a gradient from `#D42626` to `#CC1D2E` 🤔

Would you be interested in c

[2020-07-14 08:28] ericcornelissen commented on #3318
It's difficult to assess the popularity of this one given that it's Alexa rank is for `developers.google.com`, but given that it's a Google product and [has existed for ~10 years](https://en.wikipedia.org/wiki/Google_PageSpeed_Tools) I personally think it's safe to add this one. Any opinions from other @simple-icons/maintainers?

[2020-07-14 08:33] ericcornelissen commented on #3317
Thanks for the request @type-null, with [an Alexa rank of ~1.5k](https://www.alexa.com/siteinfo/zcool.com.cn) this is popular enough for inclusion 👍

There is [_an_ SVG logo](https://static.zcool.cn/git_z/z/common/images/svg/logo.svg) in the header of the website, but based on the CrunchBase link I'm not sure if that is the one we should include in the collection. Given that none of the maintainer

[2020-07-14 08:59] NovaGL commented on #3318
This is a tricky one Google services come and go pretty quickly and the logos change pretty quickly to.

I think it would be good if @anselmoblopes explained what the service is and how it's used. It might be used widely in SEO companies?

[2020-07-14 09:04] ericcornelissen commented on #3318
What we are most concerned about is services that "come and go pretty quickly" (changing logos often just gives us a lot of work, but doesn't break backwards compatibility). This is why I pointed out that the service has already existed for ~10 years.

I suspect it is, and ideally we would get some statistics about that before we decide to add this one. However, personally, I would also be fine ad

[2020-07-14 09:32] NovaGL commented on #3318
I had a go but not really happy with it.
![image](https://user-images.githubusercontent.com/16315601/87409636-903a4f80-c608-11ea-9e7b-8903bf835518.png)

If someone wants to fix it up here is my attempt.

[code]

[2020-07-14 10:43] vu1n commented on #3320
#3322

[2020-07-14 10:47] vu1n commented on #3320
#3322

[2020-07-14 10:48] vu1n commented on #3320
#3322

[2020-07-14 10:48] vu1n commented on #3320
#3322

[2020-07-14 13:50] iamrajiv opened #3323 "Add AtCoder Icon"
**Name:** AtCoder
**Website:** https://atcoder.jp/
**Alexa rank:** 25,538

**Official resources for icon and color:**

[https://atcoder.jp/](https://atcoder.jp/)
[https://img.atcoder.jp/assets/logo.png](https://img.atcoder.jp/assets/logo.png)

[2020-07-14 14:25] ericcornelissen commented on #3323
Seems to be a duplicate of #3276, correct @iamrajiv? Closing this as a duplicate, let us know if this is a mistake 😄

[2020-07-14 14:36] iamrajiv opened #3324 "Add SymPy Icon"
**Name:** SymPy
**Website:** https://www.sympy.org/
**Alexa rank:**

**Official resources for icon and color:**

[https://www.sympy.org/en/index.html](https://www.sympy.org/en/index.html)
[https://www.sympy.org/static/images/logo.png](https://www.sympy.org/static/images/logo.png)

[2020-07-14 16:37] type-null commented on #3317
Thank you for the response! Sorry for not giving the right source. This is a very popular designer community in China. I couldn't find their official visual guideline. But they use the same [profile picture](https://img.zcool.cn/job/f_receipt_ask/7889554af9550000017ae663c894.jpg@160w_160h_1c_1e_1o_100sh.jpg) across websites (including [their official website](https://www.zcool.com.cn/u/1461875#tab

[2020-07-15 13:16] anselmoblopes commented on #3318
hi and thanks for the reply. this service is use to get a series of performance metrics of a website.  this icon i'll use in the Azure devops enterprise wiki inside the badge and display the PageSpeed results in the dashboard.
I liked the @NovaGL preview but i'll respect your decisions :)

Many Thanks in Advance!

[2020-07-15 13:30] anselmoblopes commented on #3319
Hi and thanks for the reply ! if it's helps, you can use this other icon:

[ICON](https://storage.googleapis.com/website-dev-images/sites/default/files/BM_LinkedIn_profile_0.png)

[2020-07-15 18:29] TJMusiitwa opened #3329 "Request for Codemagic Icon"
**Name:** Codemagic
**Website:** https://codemagic.io/
**Alexa rank:** 67,787

**Official resources for icon and color:** Unable to locate any

[2020-07-15 20:27] anselmoblopes commented on #3329
I don't know if it's help :

[ICON](https://codemagic.io/img/twitter.png)

[2020-07-16 05:45] NovaGL commented on #3329
Thanks for the request. Do you think you would be up to trying to do a pull request?

The SVG of the logo can be found [here](https://codemagic.io/assets/svg/codemagic-logo.svg)
I think the star should be enough like on their favicon

Not quite sure what the color would be but maybe `#0957ff`

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRI

[2020-07-16 17:42] adarshaacharya opened #3331 "Request for Expressjs Icon"
Can we have logo for Expressjs too..  There doesn't seems any official logo from Expressjs team so it will be better if we can use the ``ex`` one which is on the favicon of express website.

**Name:** Expressjs
**Website:** https://expressjs.com/
**Alexa rank:** 10,432
**Official resources for icon and color:**  Unable to locate any

[2020-07-16 17:44] adarshaacharya commented on #3331
https://github.com/expressjs/expressjs.com/issues/1177

[2020-07-16 17:54] PeterShaggyNoble commented on #3331
Duplicate of #2924

[2020-07-16 17:54] #3331 closed

[2020-07-16 18:07] AndrewFakher opened #3332 "Add Sourcetree Icon"
**Name:** Sourcetree
**Website:** https://www.sourcetreeapp.com
**Alexa rank:** 72,503

**Official resources for icon and color:** https://iconify.design/icon-sets/?query=sourcetree

[2020-07-16 18:20] Z4nzu opened #3333 "Create some icons for cyber security related like metasploit framework logo,and etc.. i have many ideas if you really want then I'll help you"
**Name:** Mr.Z4nzu
**Website:** GitHub.com/Z4nzu
**Alexa rank:**

**Official resources for icon and color:**

[2020-07-16 18:31] #3333 closed

[2020-07-16 22:20] ericcornelissen commented on #3333
Hi @Z4nzu, thanks for your request. It would help us if you could open an issue for each icon you're interested in, and please take the time to try and find brand guidelines or vector version of the logo as well. Also, the issue template is designed to be filled out with the details of the brand, rather than your own details. Thanks :slightly_smiling_face:

[2020-07-16 22:30] ericcornelissen commented on #3332
Thanks for the request @AndrewFakher, there is actually an SVG available on [the Atlassian Design Logos page](https://atlassian.design/guidelines/marketing/resources/logo-files) :wink:

Are you interested in contributing the icon yourself? You can read more about how to do that in the [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-07-17 02:58] GoldenMaximo opened #3334 "Sequelize"
**Name:** Sequelize
**Website:** [sequelize.org](https://sequelize.org/)
**Alexa rank:** 31,280

**Official resources for icon and color:**

<img src="https://avatars3.githubusercontent.com/u/3591786?s=400&v=4" height="50">

[2020-07-17 14:32] arenasa70 commented on #3091
Iḿ sorry I do not know hoy to pull it myself, and at this moment I have no time to learn to do this, but I would be great to include this logo in the site.

[2020-07-17 14:46] Berkmann18 commented on #2924
Seems like it according to https://github.com/expressjs/expressjs.com/issues/1177

I've seen DevIcon using the `ex` too.

[2020-07-17 14:52] Berkmann18 opened #3335 "Capacitor"
**Name:** Capacitor
**Website:** https://capacitorjs.com
**Alexa rank:** https://www.alexa.com/siteinfo/capacitorjs.com

**Official resources for icon and color:**

[2020-07-17 15:00] Berkmann18 opened #3336 "Neutralinojs"
**Name:** Neutralinojs
**Website:** https://neutralino.js.org
**Alexa rank:** https://www.alexa.com/siteinfo/neutralino.js.org

**Official resources for icon and color:**

[2020-07-17 20:30] AryanBeezadhur opened #3337 "Icon Request: HackTheBox"
**Name:** HackTheBox
**Website:** https://hackthebox.eu
**Alexa rank:** 36,554

**Official resources for icon and colour:**

https://www.hackthebox.eu/docs/Hack_The_Box_Brand_Assets_Guide.pdf

All measurements, contrast, ratios and other information needed are in the `.pdf` the file above &uarr;

The Hack The Box symbol colour is `#9FEF00`. The Hack The Box wordmark colour is `#141A26`.

[2020-07-17 20:39] AryanBeezadhur commented on #3336
Check [Requesting an Icon in CONTRIBUTING.md](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon):

The Alexa rank of `https://neutralino.js.org` is ~2m, which is way too high for consideration. Neutralino.js.org is too small a website.

[2020-07-17 20:50] AryanBeezadhur opened #3338 "Replace Alexa rank with SimilarWeb Global rank or Traffic Overview"
**I find the Alexa rank confusing since the statistics and rank are hard to spot and very badly laid out.**

**Let's look at the [Alexa ranking for github.com](https://www.alexa.com/siteinfo/github.com). Can you find the traffic or ranking anywhere? No? Neither can I :(**

![image](https://user-images.githubusercontent.com/34424160/87829672-69358500-c877-11ea-84f8-dfd5bab63991.png)

**Now let's lo

[2020-07-17 20:54] Berkmann18 commented on #3336
Ooh yeah! True, I should have paid attention to that.

[2020-07-17 20:55] #3336 closed

[2020-07-18 06:24] NovaGL commented on #3338
Thanks for this @AryanBeezadhur

Can I suggest you make a pull request of how you would change the documentation and we can discuss it further?
If you don't feel comfortable, we can get input from some of the other maintainers for feedback.

[2020-07-18 06:25] NovaGL commented on #3337
Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-07-18 09:55] ericcornelissen commented on #3091
Thanks for letting us know @arenasa70, luckily there is already a Pull Request that will add the icon. Once that is reviewed the icon will be included in the collection :+1:

[2020-07-18 10:09] ericcornelissen commented on #3338
That's an interesting proposal @AryanBeezadhur, the results page from Alexa have ~recently changed and I agree that it's not for the better (at least for our purposes).

I'd definitely be interested in giving it a try. However, we will need to asses if it is "good enough" for our purposes. From some trying I have a couple of findings:

- The ranking seems to be slightly different, this is not nece

[2020-07-18 15:38] adamalston opened #3339 "Request: Dark Reader Icon"
**Name:** Dark Reader
**Website:** https://darkreader.org/
**Alexa rank:** 37,964

**Official resources for icon**
https://github.com/darkreader/darkreader-design
https://github.com/darkreader/darkreader.github.io/blob/master/images/darkreader-icon-256x256.png
https://github.com/darkreader/darkreader.github.io/blob/master/images/darkreader-icon.svg

**Colors:**
Colors can be found here: https://gi

[2020-07-18 16:20] LowlyDBA opened #3340 "Request: edX"
**Name:** edX
**Website:** https://edX.org
**Alexa rank:** [568](https://www.alexa.com/siteinfo/edx.org)

**Official resources for icon and color:**
Logo Guide: https://www.edx.org/sites/default/files/mediakit/file/edx_visual_identity_guidelines.pdf
SVG Logo: https://en.wikipedia.org/wiki/File:EdX.svg

I am not affiliated with edX.

---

I plan to make a pull request for this icon, using the blue

[2020-07-18 17:10] ericcornelissen commented on #3339
Thanks for the request @adamalston and thanks for searching for resources on the brand. As per your links, there is an SVG ready to use by us. The only question is how to make it monochrome :thinking:

Would you be interested in contributing the icon yourself? You can read more about how to do that in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUT

[2020-07-18 17:13] ericcornelissen commented on #3340
Thanks for the request @LowlyDBA and it's nice to hear you will be opening a PR for the icon. I wonder what your solution for making the logo monochrome will be :smile: I guess the _"grey version of the logo"_ on page 6 of the PDF can give some inspiration.

[2020-07-18 18:15] gizmecano commented on #3305
According to the reaction to my issue on the [**freeCodeCamp** design style guide repository](https://github.com/freeCodeCamp/design-style-guide/) (https://github.com/freeCodeCamp/design-style-guide/issues/40), I think this icon has to be updated and I will try to proceed shortly.

[2020-07-18 18:21] Severus11 opened #3341 "Request to add icon for "OpenCV""
**Name:** OpenCV
**Website:** https://opencv.org/
**Alexa rank:** 16,634

**Official resources for icon and color:** https://opencv.org/resources/media-kit/

[2020-07-18 18:50] ericcornelissen commented on #3341
Unfortunately the media kit does not contain an SVG, but [Wikipedia does have an SVG version of the logo](https://en.wikipedia.org/wiki/OpenCV#/media/File:OpenCV_Logo_with_text_svg_version.svg) (didn't check its quality).

Would you be interested in contributing this icon yourself @Severus11? You can read more about how to do that in [the Contributing Guidelines](https://github.com/simple-icons/si

[2020-07-18 20:02] Severus11 commented on #3341
Sure @ericcornelissen !
I will refer to the guidelines are give a try !

[2020-07-18 20:20] gizmecano opened #3345 "Update Nissan"
**Name:** Nissan
**Official resources for icon and color:** (not found at this time)

The logo added in #2649 seems to must to updated: on 15th July, Nissan has offically announced a [_redesigned Nissan logo_](https://global.nissanstories.com/en/releases/release-ec6f96874c2578bc97899ed477004a80-redesigned-nissan-logo).

![EdHcGztU0AAgS1L2](https://user-images.githubusercontent.com/852661/87861208-

[2020-07-18 20:35] gizmecano commented on #3332
The main problem with this kind of brands is that they used gradient as inner part of their identity.

But, if we follow the process used by @PeterShaggyNoble (for making Jira in #3267 for exemple), maybe we can use a kind of flat variant based on the official `svg`...

[2020-07-18 21:06] adamalston commented on #3339
I have spent some time now in Illustrator attempting to convert the SVG to monochrome without much progress. I do not think I hold the necessary expertise to produce the HQ icon. I think it would be better if someone else could contribute this icon.

[2020-07-19 08:53] avats-dev commented on #3295
Hey @PeterShaggyNoble ,Can I work on it?
PS: I have read the contributing guidelines and would abide by them.

[2020-07-19 12:10] ericcornelissen commented on #3339
Thanks for trying and no problem 👍

[2020-07-19 12:12] ericcornelissen commented on #3295
Go ahead @avats-dev, I assigned you to this issue and we are looking forward to your Pull Request 😃

[2020-07-19 15:33] JihunDev opened #3347 "Request: ROS Icon"
**Name:** ROS
**Website:** https://www.ros.org/
**Alexa rank:** 26.5 k

**Official resources for icon and color:**
Brand guidelines : https://www.ros.org/press-kit/
color : the color value for print is 533C and the online hex color is #22314E

[2020-07-19 18:09] #2988 closed

[2020-07-19 18:20] #2981 closed

[2020-07-20 01:35] NovaGL commented on #3345
Hi @gizmecano

Thanks for this, its a bit tricky as the old logo will still be widely used. I don't think this logo should replace it.
Also there is no brand guidelines on how this logo should be used.

We'll put this logo on the back burner and when you can provide more information including a SVG we will revisit it.

[2020-07-20 01:37] NovaGL commented on #3347
Thanks for the request. Do you think you would be up to trying to do a pull request?
Color: `#22314E`

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-07-20 02:10] NovaGL commented on #3339
Hi @adamalston

If you still want to have a go at doing a pull request you can try my attempt if you're happy with it?

[code]

![image](https://user-images.githubusercontent.com/16315601/87893029-f77d5700-ca81-11ea-9609-96e0a9400bac.png)

[2020-07-20 02:17] NovaGL commented on #3335
Thanks for the request. Do you think you would be up to trying to do a pull request?
You could use the SVG listed here: https://iconify.design/icon-sets/?query=sourcetree
Color:  `#119eff`

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-07-20 02:24] NovaGL commented on #3334
SVG can be found here
https://iconify.design/icon-sets/?query=Sequelize

I don't know how you would change this to monochrome though.

[2020-07-20 05:21] adamalston commented on #3339
@NovaGL That looks awesome, good work!

I have created a pull request with a credit to you (#3348)

[2020-07-20 06:39] JihunDev commented on #3347
@NovaGL I could help collecting more information about ROS design, but maybe not make the icon by myself.

[2020-07-20 06:41] NovaGL commented on #3347
That's alright, I think that's all that we need.

Since this logo is pretty generic we will have to include to word ROS and the dots when added in.  As my local tv station also has those dots as their logo.

[2020-07-20 07:12] JihunDev commented on #3347
The trademark style guidelines show this.

You can write ROS under the logo

[2020-07-20 07:17] ericcornelissen commented on #3345
I agree that there's not much of a hurry updating the icon as long as there is no official SVG or guidelines, but ones those exist we should update the logo. If we stick with the old version of the logo we are part of the problem that the old logo is still being used.

[2020-07-20 07:20] ericcornelissen commented on #3335
@NovaGL looks like you copied the wrong URL, the one you provided is for SourceTree rather than Capacitor :sweat_smile: Could you share the website where you found the CapacitorJS SVG?

[2020-07-20 07:21] NovaGL commented on #3335
Thanks what a tricky website, that doesn't change the url
https://api.iconify.design/ion:logo-capacitor.svg

[2020-07-20 07:22] ericcornelissen commented on #3334
I'd suppose the lines between the center blocks should be made white/transparent to maintain the impression of the logo :thinking: but this may require some artistic interpretation.

[2020-07-20 16:00] type-null commented on #3058
In their [brand guidelines](https://help-video-oss.oss-cn-hangzhou.aliyuncs.com/Saas主站/Testin云测vi手册0206.pdf), on page 19 (A2-07), wordmark is suggested for mono color simple icon (top left one). Color #007dd7 is correct as seen on page 22 (A3-01).

[2020-07-20 16:25] gizmecano commented on #3345
I was just forwarding this information as soon as I saw it.  Of course, you can handle this problem at your convenience. 😉

[2020-07-21 03:10] Girmela opened #3350 "gcash"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-07-21 04:43] NovaGL commented on #3350
Hi @Girmela

You need to fill the information out before we can help. Providing no information means this request can't be actioned.

[2020-07-21 04:51] NovaGL commented on #3317
@type-null would you say this is the correct logo?
https://api.iconify.design/ri:zcool-fill.svg

It seems to match the favicon but not the app logos.

[2020-07-21 05:48] type-null commented on #3317
How about [this one](https://worldvectorlogo.com/logo/zcool-2)?

[2020-07-21 09:43] #2861 closed

[2020-07-21 13:35] MetLee opened #3353 "PyCharm"
**Name:** PyCharm (in #625 but it was closed)
**Website:** https://www.jetbrains.com/pycharm/
**Alexa rank:** 1,747

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/File:PyCharm_Logo.svg
color: black (000000)

I don't know how to process a svg image so I need someone's help. Thanks a lot.

[2020-07-21 14:22] LofiBtz commented on #531
I remade your minecraft logo to white
![minecraft](https://user-images.githubusercontent.com/68601431/88066543-ca09d980-cb65-11ea-8933-6cce027531dd.png)

[2020-07-21 20:02] thmsgbrt opened #3354 "Add ReactiveX icon"
![Rx_Logo_S](https://user-images.githubusercontent.com/16786906/88101085-c6924480-cb9d-11ea-8886-76f1863295c6.png)

**Name:** ReactiveX
**Website:** http://reactivex.io/

**Official resources for icon and color:** http://reactivex.io/assets/Rx_Logo_S.png

[2020-07-23 03:28] crse opened #3355 "Add Kitsu icon"
**Name:** Kitsu
**Website:** https://kitsu.io
**Alexa rank:** ~160000 (https://www.alexa.com/siteinfo/kitsu.io)

**Official resources for icon and color:**
https://www.behance.net/gallery/51546457/Kitsu-Brand-Identity-Design

[2020-07-23 03:45] NovaGL commented on #3353
I believe we should use the logo from their website listed here
https://www.jetbrains.com/company/brand/logos/

It's just the square saying PC_ so the rest isn't part of the logo

Color: `#000000`

[2020-07-23 09:59] khuedoan opened #3357 "Request: OpenNebula icon"
**Name:** OpenNebula
**Website:** https://opennebula.io/
**Alexa rank:** 351,681

**Official resources for icon and color:**

https://opennebula.io/docs/ (the **Download Our Logos** section at the end of the page)

Icon:

![OpenNebula](https://opennebula.io/wp-content/uploads/2020/04/opennebula_cloud_logo_white_bg.svg)

Color: `#0098c3`

Thanks :smile:

[2020-07-23 10:24] NovaGL commented on #3357
Thanks for the request. Do you think you would be up to trying to do a pull request?

You can use the logo here https://opennebula.io/wp-content/uploads//2019/05/ic-file-download.svg

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-07-23 10:34] khuedoan commented on #3357
I will try but it might takes a few months because currently I'm a bit busy.

[2020-07-24 13:07] Hugo-Trentesaux commented on #967
Now, it's 614,869 and it had a maximum at 588,834 :smile: but it is on fork-awesome

[2020-07-24 13:08] sebaek42 opened #3358 "life is 42"
**Name: 42**
**Website: 42.fr**
**Alexa rank: 94,029**

**Official resources for icon and color: ![](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/1200px-42_Logo.svg.png)**

[2020-07-24 14:47] PeterShaggyNoble commented on #3296
Thanks, @vasugamdha - if that's the orange used for the PDF itself, would that not be the brand colour of the Alibaba Group, rather than AliExpress?

[2020-07-24 14:53] PeterShaggyNoble commented on #3332
I'd agree with that, @gizmecano; it's consist with how we treat all of Atlassian's icons.

[2020-07-24 15:34] PeterShaggyNoble commented on #3314
I'm going to reopen this for further discussion on whether or not we should update our existing icon to use the hexagon, rather than the circle, in order to be consistent with our C++ icon. Also, should we rename it in v4 as C#?

[2020-07-24 15:59] PeterShaggyNoble commented on #3321
Thanks for the request, @wulfhunter94 :+1:

There's [an SVG](https://www.br-automation.com/typo3conf/ext/br_sitesetup/Resources/Public/Images/logo.svg) in the header of their website we could use - although it's complete mess - and it looks like `#ff8800` would be the correct choice of colour. The only thing to decide, in the absence of an official monochrome version and any brand guidelines, is h

[2020-07-24 16:01] PeterShaggyNoble commented on #3323
Going to switch these around, as this one includes the details requested in the issue template.

[2020-07-24 16:02] #3323 closed

[2020-07-24 16:06] PeterShaggyNoble commented on #3324
Thanks for the request, @iamrajiv

An SVG of their logo can be found at https://github.com/sympy/svn_materials/blob/master/logo/sympy.svg but they also have [this version](https://github.com/sympy/sympy.github.com/blob/e606a6dc2ee90b1ddaa9c36be6c92392ab300f72/media/sympy-notailtext.svg), without the tail which might suit our purposes better.

Would you agree with `#3b5526` from their website's sty

[2020-07-24 16:14] PeterShaggyNoble commented on #3318
Yup, I'd say this is definitely within scope for us as it's pretty ubiquitous these days, apart from their website it's also included with browsers (such as Chrome, most obviously) and by third parties like [GTmetrix](https://gtmetrix.com/), which itself has an Alexa rank of [~1.1k](https://www.alexa.com/siteinfo/gtmetrix.com).

I found [this SVG](https://developers.google.com/web/fundamentals/per

[2020-07-24 16:20] PeterShaggyNoble commented on #3319
In those cases, we usually go for the calculated midpoint of the gradient. Another option from their website stylesheet might be `#ca2133`, used, among other places, as the hover colour for the "Start Testing Now" link in the header.

[2020-07-24 16:31] PeterShaggyNoble commented on #2924
Given @dougwilson's comment in expressjs/expressjs.com#1177 that:

I think we'd be OK (re)creating our own version of this.

Thanks for reaching out to them to check, @Berkmann18 :+1:

[2020-07-24 16:32] iamrajiv commented on #3324
Yes @PeterShaggyNoble `#3b5526` is fine and for SVG  logo I think [https://github.com/sympy/svn_materials/blob/master/logo/sympy.svg](https://github.com/sympy/svn_materials/blob/master/logo/sympy.svg) will be much better since it has been used in their official site.

[2020-07-24 16:42] PeterShaggyNoble commented on #3338
We can certainly try it out as another alternative means of measuring popularity but given, among others, the issues Eric has mentioned above ([they don't seem to know we exist!](https://www.similarweb.com/error/simpleicons.org/)), I don't see it as a viable replacement for Alexa.

[2020-07-24 17:47] AryanBeezadhur commented on #3338
The URL you provided is wrong. This is the correct one: https://www.similarweb.com/website/simpleicons.org/

SimilarWeb acknowledges that the site exists by displaying the site favicon and tagline, but they do not display any detailed stats for a site with less than 50k visits.

[2020-07-24 17:55] AryanBeezadhur commented on #3338
[Source](https://support.similarweb.com/hc/en-us/articles/360001631538-SimilarWeb-Data-Methodology#:~:text=SimilarWeb's%20public%20data%20sources%20are,pages%20and%20apps%20every%20month.)

[SimilarWeb Data Sources](https://www.similarweb.com/corp/ourdata/)

SimilarWeb has [many fortunte500 clients](https://www.similarweb.com/corp/clients/#:~:text=Trusted%20and%20Loved%20by).

[2020-07-24 18:20] #3046 closed

[2020-07-24 19:02] RubenMateus commented on #3314
Yeah, I opened because when searching for it. I couldn't find it, but I do agree with your analysis. Thanks!

[2020-07-25 14:51] AMartinNo1 opened #3359 "YourTravel.TV"
**Name:** YourTravel.TV
**Website:** https://yourtravel.tv/
**Alexa rank:** 1,834,081

**Official resources for icon and color:**
https://yourtravel.tv/wp-content/uploads/2019/10/top-logo.svg

[2020-07-25 21:02] ronfury opened #3360 "Request: Kali Linux Icon"
**Name: Kali Linux
**Website: https://www.kali.org/
**Alexa rank: 9,526
**Official resources for icon and color: https://www.kali.org/docs/policy/kali-linux-trademark-policy/

[2020-07-28 07:21] mpetuska opened #3362 "Request: KVision Icon"
name: KVision
website: https://kvision.gitbook.io/kvision-guide/
alexaRank: https://www.alexa.com/siteinfo/gitbook.io
repository: https://github.com/rjaros/kvision
PNG: https://raw.githubusercontent.com/rjaros/kvision/master/graphics/kvision-logo.png
owner: @rjaros

[2020-07-28 10:41] PeterShaggyNoble commented on #3341
Are you still interested in taking this one on, @Severus11?

Looks like the media kit has been updated since @ericcornelissen checked it as it now includes SVGs which we can use.

Tricky choice on the colour; we could go with one of the 3 from the logo but, for some reason, I find myself leaning towards the purple they use for the hover colour on their social media links, among other places.

[2020-07-28 11:04] PeterShaggyNoble commented on #3347
Unless the guidelines specifically forbid it, we should be OK to add this one _without_ the wordmark.

[2020-07-28 11:05] #2862 closed

[2020-07-28 11:08] PeterShaggyNoble commented on #3335
There is a version of this available in [Ionicons](https://ionicons.com/), which we should probably use for the source, as it can be considered official. I'll have a dig through their repos in a bit, see if I can find an SVG of the full logo, which would be a better starting point.

[2020-07-28 11:43] PeterShaggyNoble commented on #3335
No joy in their repos, other than the file linked above.

[2020-07-28 11:51] PeterShaggyNoble commented on #3334
Without knowing where SVG Porn sourced their version, we can't really use that as an reliable source. There are, unfortunately, no SVGs in @sequelize's own repos so I'm going to ping @SimonSchick here, as one of their most recently active team members, to see if they can help us in sourcing an official vector.

[2020-07-28 13:11] Severus11 commented on #3341
heyy
i was not able to add the icon because while reducing the size its quality is degrading.
will look on the media kit as well or someone from simply icons could try

[2020-07-28 13:21] PeterShaggyNoble commented on #3317
I'd agree that the version with the face, rather then the "Z" is the one we should go with.

Currently, other than official sources, we only accept Wikipedia and Wikimedia as alternative sources. That being said, if an alternative source can be found that in turn can be shown to have either sourced their version through official channels or kept to the same exacting standards as we do when recreat

[2020-07-28 13:24] PeterShaggyNoble commented on #531
@LofiBtz, see #3026

[2020-07-28 13:29] PeterShaggyNoble commented on #3354
Thanks for the request, @thmsgbrt 👍

There's an SVG at https://github.com/ReactiveX/rxjs/blob/master/resources/CI-CD/logo/svg/RxJs_Logo_Black.svg that we can use and, from their website stylesheet, I'd suggest `#b7178c` for the colour.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try

[2020-07-28 13:34] PeterShaggyNoble commented on #967
Thanks for the update, @Hugo-Trentesaux, and for staying on top of this. Personally, though, I'd like to see it spend more than a few days under the 500k mark before we revisit it.

[2020-07-28 13:37] PeterShaggyNoble commented on #3358
Thanks for the request, @sebaek42 :+1:

There's [an SVG](https://www.42.fr/wp-content/themes/42/images/42_logo_black.svg) in the header of their website we could use and it looks like we should go with `#000000` for the colour.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself

[2020-07-28 13:52] Berkmann18 commented on #3335
@PeterShaggyNoble That would be better given that the one that @NovaGL contains a base64 image and the png->svg alternative I have led to an icon of lesser quality.
The Ionic capacitor icon looks much more suitable for this. I'm really short in time this week so I may not be able to update my PR for some time.

[2020-07-28 14:26] PeterShaggyNoble commented on #3359
Thanks for the request, @AMartinNo1 :+1:

However, per our contributing guidelines, our cut-off Alexa rank for brands is 500k and, while this brand has shown significant growth since you opened your issue, it's popularity does seem to be on the decline again. We'll monitor it for a few days to see if it improves again and stabilises but, in the meantime, is there another metric of popularity we co

[2020-07-28 14:30] sebaek42 commented on #3358
Thanks for the reply!It'd be my pleasure to give contribution 😄 I will give it a try!- sebaek42, from 42seoul삼성 갤럭시 스마트폰에서 보냈어요.
-------- 원본 이메일 --------발신: Peter Noble <notifications@github.com> 날짜: 20/7/28  오후 10:37  (GMT+09:00) 받은 사람: simple-icons/simple-icons <simple-icons@noreply.github.com> 참조: sebaek42 <sebaek@student.42seoul.kr>, Mention <mention@noreply.github.com> 제목: Re: [simple-icons/s

[2020-07-28 14:31] PeterShaggyNoble commented on #3360
Thanks for the request, @ronfury :+1:

It's not clear to me, though, what we should be using for our icon - the dragon or the boxed wordmark? Being more familiar with the brand, which would you suggest? The colour seems to be a bit more straightforward in ` #79909b`.

[2020-07-28 14:35] PeterShaggyNoble commented on #3362
Thanks for the request, @mpetuska 👍

Note, though, that the Alexa rank you posted is for gitbook.io - Alexa doesn't really do subdomains - so the next most obvious metric we'd look at to assess the popularity of this is GitHub Stars and, unfortunately, with just 5, this would be beyond the scope of Simple Icons. Is there another metric of popularity we can use to assess this brand's suitability fo

[2020-07-28 14:39] trozler opened #3364 "icon request premier league"
**Name:**
Premier League
**Website:**
https://fantasy.premierleague.com/#/
**Alexa rank:**
1,502
https://www.alexa.com/siteinfo/premierleague.com

**Official resources for icon and color:**
SVG file attached below. I'm sorry this is the best I could I find, as I dont work for them.
[epl-icon.zip](https://github.com/simple-icons/simple-icons/files/4988970/epl-icon.zip)

[2020-07-28 14:43] PeterShaggyNoble commented on #3364
Thanks for the request, @trozler :+1: (my hatred for soccer aside! 😆)

Seeing as you've put some work in on this already, would you like to open a PR for review? If you haven't had a look through them already, our contributing guidelines can be found at https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md

[2020-07-28 14:51] ronfury commented on #3360
@PeterShaggyNoble
Dragon signifies the Kali Distro. People in security community are familiar with it. This will be the best fit.
Coming to background color, #33627e might match their blue.

[2020-07-28 15:50] PeterShaggyNoble commented on #3360
Thanks, @ronfury. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself? You can find an SVG of the dragon embedded in the HTML of their website footer, which is also where I got the colour I mentioned above.

[2020-07-28 15:57] #2800 closed

[2020-07-28 16:15] mpetuska commented on #3362
What do you mean just 5 stars? It has over 400 stars. Also you could check bintray downloads statistics for popularity measures https://bintray.com/rjaros/kotlin/kvision#statistics

[2020-07-28 16:17] mpetuska commented on #3362
I see what happened, you've checked stars on docs repo 😀 try https://github.com/rjaros/kvision

[2020-07-28 17:00] PeterShaggyNoble commented on #3362
Ah, sorry, I just followed the GitHub link from the page linked in the original comment - thanks for clarifying. However, our cut-off point when judging popularity by Stars is 5k so, at ~400, this would still be outside our scope. I had a look at the Bintray link and 2147 downloads in 30 days certainly seems _fairly_ reasonable but, as it's a new metric of popularity, we'd need some feedback from

[2020-07-28 18:57] ddelange opened #3366 "Add homebrew icon"
Hi!

Got another shields.io related request (gotta love badges 😄)

**Name:** Homebrew
**Website:** http://brew.sh
**Alexa rank:** [23598](https://www.alexa.com/siteinfo/brew.sh)

**Official resources for icon and color:**

- [brew.svg](https://github.com/Homebrew/brew.sh/tree/master/assets/img/brew.svg)
- [homebrew.svg](https://github.com/Homebrew/brew.sh/tree/master/assets/img/homebrew.svg)

The

[2020-07-28 23:24] trozler commented on #3364
Hahah @PeterShaggyNoble no worries. Yeh sure thing I have read the guides and will get started soon!

[2020-07-29 04:42] sodre opened #3368 "Please add GIT-LFS Icon"
**Name:** Git LFS
**Website:** https://git-lfs.github.com/
**Alexa rank:**

**Official resources for icon and color:**

https://raw.githubusercontent.com/git-lfs/git-lfs/master/script/windows-installer/git-lfs-logo.ico
https://raw.githubusercontent.com/git-lfs/git-lfs/master/script/windows-installer/git-lfs-logo.bmp

[2020-07-29 09:28] MikeMcQuaid commented on #3366
`brew.svg` refers just to the package manager. The official Homebrew logo is still `homebrew.svg`.

[2020-07-29 11:37] thmsgbrt commented on #3354
Hi!
I’m in holidays right now, I’ll do it next week when I’m back if this is still open. 😁

[2020-07-29 11:45] PeterShaggyNoble commented on #1974
Note: It looks like they've changed brand colours recently; pink seems to be their primary colour now.

I also wonder if the Flash files available on the page @foo-dogsquared linked above might contain a vector version of the icon - anyone still got a copy of Flash that could check?

[2020-07-29 11:47] PeterShaggyNoble commented on #2489
Completely forgot about this one. I've slapped the "pending" on this as, from [this announcement](https://www.kongregate.com/forums/1-kongregate/topics/1916387-important-kongregate-announcement) and the backlash in [this forum](https://www.kongregate.com/forums/1-kongregate), it looks like Kongregate could be on the decline.

[2020-07-29 14:44] PeterShaggyNoble opened #3369 "Update Adobe Icons"
Adobe have recently updated the majority of their product logos so that they all now have filled, square backgrounds with rounded corners so we'll need to update to match. In all cases an SVG of the logo can be found on the individual product's page.

We'll need to decide, too, what to do for the colours and be consistent; either we keep our current colours, use the colour of the background square

[2020-07-29 15:27] PeterShaggyNoble opened #3370 "Update JetBrains icon"
The [JetBrains SVG](https://github.com/simple-icons/simple-icons/blob/ac123f81611d795a1d15d9ac5f2c5a837feb72e4/icons/jetbrains.svg) is current very low quality. Anyone willing to redo the icon and submit a PR for it would be greatly appreciated! For an official source you can find it in the zip file at: https://www.jetbrains.com/company/brand/logos/

* * *

<details>
<summary>Original issue</summa

[2020-07-29 15:33] PeterShaggyNoble commented on #3364
I've assigned this issue to you, so, @trozler - if you need any help, let us know.

[2020-07-29 15:37] PeterShaggyNoble commented on #3368
Thanks for the request, @sodre :+1:

The first thing we need to decide is whether this can be considered a brand in its own right or is it just a feature of GitHub. I'd lean towards the latter but we have already added GitHub Actions, which I also viewed as a feature rather than a brand. Thoughts, @simple-icons/maintainers?

If we do decide to add it, there's an SVG embedded in the HTML of the web

[2020-07-29 15:50] PeterShaggyNoble commented on #3366
Thanks for the request, @ddelange and for your feedback, @MikeMcQuaid :+1: We could always add all 3, assuming they're all popular enough.

@MikeMcQuaid, do you have a preference for a monochrome treatment of these? Something like the below, perhaps?

![Homebrew](https://user-images.githubusercontent.com/15157491/88822211-7af22300-d1bb-11ea-90e6-58addfaa9610.png)

[2020-07-29 16:07] sodre commented on #3368
Hi @PeterShaggyNoble thanks for looking into it.

Although git-lfs was written by github, the technology is implemented in other sites, e.g. GitLab, BitBucket and Sonatype Nexus can all host "git-lfs" content.

I am happy with either color ;)

[2020-07-29 16:12] MikeMcQuaid commented on #3366
Looks good!

[2020-07-29 16:22] PeterShaggyNoble commented on #3366
Thanks, @MikeMcQuaid.

@ddelange, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give these a try yourself? If adding multiple icons, please submit a separate PR for each as it makes them easier to review.

[2020-07-29 16:42] ddelange commented on #3366
Will give it a go! Can you link me the script that generates the preview png above @PeterShaggyNoble?

[2020-07-29 16:44] PeterShaggyNoble commented on #3366
You can find it at https://petershaggynoble.github.io/MDI-Sandbox/simpleicons/preview/, @ddelange, and it's also mentioned in our PR template,

[2020-07-29 18:56] ddelange commented on #3366
So after 2 hours of fiddling with the suggested icomoon.io (no way to scale/resize) and later Inkscape (long workaround to scale both the canvas and objects down to 24px), I finally have SVG's that look ok. They're horizontally center and resized to 24px.
![image](https://user-images.githubusercontent.com/14880945/88838781-55284680-d1da-11ea-8f59-6b7fa00e0ca1.png)

If you guys have ways to do this

[2020-07-29 23:54] trozler commented on #3364
Thanks @PeterShaggyNoble. Busy for the next week or so with another project. But will get to it after that.

[2020-07-30 10:39] PeterShaggyNoble commented on #3368
Yep, that definitely makes a better case for inclusion than Actions :+1: Thanks for the info, @sodre. Would still like some feedback from the other @simple-icons/maintainers before we move on with this, though.

[2020-07-30 10:47] #3353 closed

[2020-07-30 14:11] PeterShaggyNoble commented on #3366
Yeah, they're a wee bit tricky with the `stroke`s and white `fill`s. If it's any help, here's a step-by-step of how I created the mockup above in Inkscape:

First off, I use the "Stroke to Path" tool a lot here and Inkscape sometimes doesn't play nice when converting strokes so you'll need to keep an eye out for any visual shift each time, something I didn't do here as it was only a rough draft. I

[2020-07-30 14:36] PeterShaggyNoble commented on #3087
@EinsEli, are you still working on this one? If you open a PR we can do a full review and continue the discussion on whether or not to include the background.

[2020-07-30 14:37] PeterShaggyNoble commented on #3058
Thanks for that, @type-null. Now that we've cleared that up, would either you or @wb565 be interested in taking this one on?

[2020-07-30 14:43] PeterShaggyNoble commented on #2864
Apologies, @SchmecksXT, looks like this one fell between the cracks completely. Can you provide us with a bit more information on this to help us assess its popularity and suitability for inclusion in our library. It doesn't look like it has its own website so we can't go by Alexa rank and its [GitHub reop](https://github.com/influxdata/chronograf) only has ~1.1k stars, whereas our cut-off point i

[2020-07-30 14:56] PeterShaggyNoble commented on #3173
Are you still working on this one, @support27? Can we provide you with any more help on it?

[2020-07-30 15:22] PeterShaggyNoble commented on #3199
Are you still planning to work on this one, @micwoj92?

[2020-07-30 15:36] PeterShaggyNoble commented on #3212
@reenamn, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this one a try yourself?

**Suggested colour:** `#f4842d`, from the SVG @NovaGL linked above.

[2020-07-30 16:02] support27 commented on #3173
honestly i have no idea how to modify SVGs... seems to be outside of my
skillset.

Best Regards,

Roger @ support27

www.support27.com

info@support27.com

+1 (800) 674-9364

------ Original Message ------
From: "Peter Noble" <notifications@github.com>
To: "simple-icons/simple-icons" <simple-icons@noreply.github.com>
Cc: "support27" <info@support27.com>; "Mention"
<mention@noreply.github.com>
Sent

[2020-07-30 16:20] MetLee commented on #3369
I will update the other icons.

[2020-07-30 16:21] PeterShaggyNoble commented on #3369
Thanks for taking these on, @MetLee, it's a big help.

[2020-07-30 17:28] ericcornelissen commented on #3368
Git LFS to me seems like something that can be included in the collection, thanks for the request @sodre :+1:

[2020-07-30 17:34] ddelange commented on #3366
Ok, I'm definitely in way over my head here. You guys _definitely_ have superpowers.

Thank you so much for writing this extremely detailed explanation, I'm gonna bookmark it and re-use it if I ever need to tough SVG's again.

For now, if you don't mind, I will resign and "know that I know nothing".

![telegram-cloud-document-4-5812384769299711051 2020-07-30 19_31_31](https://user-images.githubuse

[2020-07-30 17:41] vanessafsoares opened #3383 "Request: Cucumber Icon"
**Name**: *Cucumber*
**Website**: *https://cucumber.io/*
**Alexa rank**: *[91555](https://www.alexa.com/siteinfo/cucumber.io)*

**Official resources for icon and color**:

*https://static1.smartbear.co/cucumber/media/images/logos/icons/cucumber-open-icon.svg*

[2020-07-30 17:47] vanessafsoares opened #3385 "Request: Appium Icon"
**Name:** Appium
**Website:** http://appium.io/
**Alexa rank:** [94806](https://www.alexa.com/siteinfo/appium.io)

**Official resources for icon and color:**

https://avatars1.githubusercontent.com/u/3221291?s=200&v=4

[2020-07-30 17:55] vanessafsoares opened #3387 "Request: Selenium Icon"
**Name:** Selenium Webdriver
**Website:** https://www.selenium.dev/
**Alexa rank:** [22191](https://www.selenium.dev/)

**Official resources for icon and color:**

https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/15484977381551942825-512.png
https://selenium.dev/images/selenium_logo_square_green.png
https://www.selenium.dev/images/selenium_logo_square_red.png

[2020-07-30 17:59] vanessafsoares opened #3388 "Request: CodeceptJS Icon"
**Name:** CodeceptJS
**Website:** https://codecept.io/
**Alexa rank:** [685166](https://www.alexa.com/siteinfo/codecept.io)

**Official resources for icon and color:**

https://codecept.io/logo.svg

[2020-07-30 18:03] MetLee commented on #3369
According to the websites (https://www.adobe.com/products/photoshop-lightroom.html and https://www.adobe.com/creativecloud/catalog/desktop.html), I suggest that `Adobe Lightroom CC` should be renamed `Adobe Lightroom`.

[2020-07-30 18:55] AMartinNo1 commented on #3359
Ah, sorry. Busy days. Thanks for reminding me with the label. Not sure if that's enough for you. Anyway, here are a few more stats:

- YouTube: 150k followers (https://www.youtube.com/channel/UC1IRqyZ_LLJKF40PzBgkUww)
- Facebook: 12k followers (https://www.facebook.com/yourtravel.tv)
- Instagram: 49.9k followers (https://www.instagram.com/yourtravel.tv/)

[2020-07-31 03:58] micwoj92 commented on #3199
Yes, but I was just waiting first till 3271gets merged or rejected

[2020-07-31 09:26] PeterShaggyNoble commented on #3369
Yes, I'd agree with that, @MetLee. As it's a breaking change, though, it will need to wait until [v4](https://github.com/simple-icons/simple-icons/milestone/3). Can you create a separate issue so we can add it to that milestone, please?

[2020-07-31 10:23] PeterShaggyNoble commented on #3368
Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, @sodre?

[2020-07-31 10:31] PeterShaggyNoble commented on #3366
No problem, @ddelange - there is a bit of a learning curve in it, alright. All these years working with SVG and I still can't "draw" anything worth a damn myself! 😆

Had a look at my version compared to the original and, unfortunately, some discrepancies did creep in when converting the strokes to paths, most notably in the apple and the head. So we'll either need someone with better software than

[2020-07-31 10:35] PeterShaggyNoble commented on #3383
Thanks for the request, @vanessafsoares :+1: Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2020-07-31 10:35] PeterShaggyNoble commented on #3173
No problem, @support27.

[2020-07-31 10:44] MikeMcQuaid commented on #3366
If you can dump a PNG render in here I can review.

[2020-07-31 11:01] PeterShaggyNoble commented on #3359
Thanks for the additional info, @AMartinNo1 - 150k YouTube subscribers certainly seems significant enough to me. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2020-07-31 11:07] PeterShaggyNoble commented on #3366
See screenshots below, @MikeMcQuaid, which highlight some of the differences, with my version in red. These 2 are the most severe ones, the rest are mostly hairline small.

![](https://user-images.githubusercontent.com/15157491/89029218-d809e800-d325-11ea-94b3-254a0f7223c0.png)
![image](https://user-images.githubusercontent.com/15157491/89029304-05ef2c80-d326-11ea-90b5-ea011eaeca61.png)

[2020-07-31 11:07] AMartinNo1 commented on #3359
Sure, will give it a try 👍🏻

[2020-07-31 11:21] MikeMcQuaid commented on #3366
Can you paste the actual resulting icon rather than the differences? Thanks 😁

[2020-07-31 11:33] PeterShaggyNoble commented on #2924
Found some official SVGs in one of the OpenJS Foundation's repos! 😁 https://github.com/openjs-foundation/artwork/tree/master/projects/express

[2020-07-31 11:52] PeterShaggyNoble commented on #3385
Thanks for the request, @vanessafsoares :+1:

Went through their website & GitHub repos, no sign of a vector logo. I did however find a number of SVGs in some of the OpenJS Foundations (e.g., https://github.com/openjs-foundation/artwork/tree/master/projects/appium) but, unfortunately, they're using an old design so it looks like we'll need to recreate this one from a raster file.

[2020-07-31 11:58] PeterShaggyNoble commented on #3387
Thanks for the request, @vanessafsoares :+1:

For anyone wishing to take this on, I found [this SVG](https://github.com/SeleniumHQ/heroku-selenium/blob/master/selenium-green.svg) in one of their GitHub repos.

[2020-07-31 12:03] PeterShaggyNoble commented on #3388
Thanks for the request, @vanessafsoares :+1:

This monochrome treatment was recently added to a few of their repos so I think we should follow that: https://github.com/codeceptjs/codecept-js.github.io/blob/master/favicon/safari-pinned-tab.svg

[2020-07-31 14:30] PeterShaggyNoble opened #3394 "GoToWebinar"
**Name:** GoToWebinar
**Website:** https://www.gotomeeting.com/webinar
**Alexa rank:** [~874](https://www.alexa.com/siteinfo/gotowebinar.com)
**Suggested Colour:** `#00c0f3`
**Official resources for icon and color:** SVG embedded in HTML of website header

Yet another request from a client of mine.

[2020-07-31 15:06] PeterShaggyNoble commented on #3366
Oop, sorry, @MikeMcQuaid.  [This zip](https://github.com/simple-icons/simple-icons/files/5007650/homebrew.zip) contains the SVG, a 24*24  PNG and a second one scaled up to match the size of the source SVG.

[2020-07-31 15:54] MikeMcQuaid commented on #3366
LGTM 👍🏻 ❤️ :shipit:

[2020-07-31 16:10] PeterShaggyNoble commented on #3366
Thanks, @MikeMcQuaid, your feedback is much appreciated - always helps to have input from an official source 🙂

If/when we add the other 2 icons, would you like us to run them by you again if they have similar imperfections or are you happy for us to run with them?

@ddelange, would you like to take this to PR, using the SVG in the zip above as a starting point? It just needs to be run through SVG

[2020-07-31 16:19] PeterShaggyNoble commented on #3338
Thanks for bringing this to our attention, @AryanBeezadhur. While it will definitely come in handy as one of our alternative measurements of popularity, there are just too many issues with it for it to (yet) replace Alexa as our primary metric. Consider, for example, that we could easily be checking the popularity of 10 or more sites in a single sitting and, if we don't get results from SimilarWeb

[2020-07-31 16:19] #3338 closed

[2020-07-31 16:33] ddelange commented on #3366
Gladly! Three PR's coming up tonight probably!

Thanks again for this 💥

[2020-07-31 16:36] PeterShaggyNoble commented on #3369
To clarify: It's just the name change that needs to wait until v4; you can go ahead with the updates to the icon & colour.

[2020-07-31 16:46] #3339 closed

[2020-07-31 16:54] PeterShaggyNoble commented on #3366
I've only done Homebrew, so far 😆

Does the package manager [brew.svg](https://github.com/Homebrew/brew.sh/blob/master/assets/img/brew.svg) represents have a name?

[2020-07-31 17:35] MikeMcQuaid commented on #3366
No, not really. I’d leave it. Linuxbrew is also now called just “Homebrew on Linux” too.

[2020-07-31 17:42] vanessafsoares commented on #3388
@PeterShaggyNoble I think it's okay to use monochrome treatment for this case 👍

[2020-07-31 21:11] MetLee commented on #3369
Sure!

[2020-07-31 21:13] MetLee opened #3396 "Rename Adobe Lightroom CC"
According to the websites (https://www.adobe.com/products/photoshop-lightroom.html and https://www.adobe.com/creativecloud/catalog/desktop.html), I suggest that `Adobe Lightroom CC` should be renamed `Adobe Lightroom`.

[2020-07-31 21:14] MetLee commented on #3369
#3396

[2020-08-01 02:41] NovaGL commented on #3394
Should we then add all the GoTo sub-brands? As it seems strange to add one and not the rest.

[2020-08-01 06:58] ridays2001 opened #3401 "Request: Pugjs icon (HTML templating engine)"
**Name:** Pug / Pugjs (formerly, Jade)
**Website:** https://pugjs.org/
**Alexa rank:** Rank - 93,333

**Official resources for icon and color:** I couldn't find any branding guidelines. Their media kit is in their repo at [pugjs/pug-log](https://github.com/pugjs/pug-logo).

[2020-08-01 10:05] #3275 closed

[2020-08-01 19:41] AMartinNo1 commented on #3359
Unfortunately I don't have AI at the moment and I've used my free trial already. So I tried it using Vectonator along with https://jakearchibald.github.io/svgomg/ After downloading it from the SVOMG-Online Tool using precision 3 and default settings I wanted to double check the sizes and such within Vectornator. However, the image is screwed up.

![image](https://user-images.githubusercontent.com/

[2020-08-01 23:24] runxel commented on #3370
I oppse this change. Not only this isn't working with just one color (the beam and the box would blend together), _they themself_ don't use the color beam at the header of their very own website.

[2020-08-02 11:17] NovaGL commented on #3401
Thanks for the request. Do you think you would be up to trying to do a pull request?

You could use this SVG.
https://github.com/pugjs/pug-logo/blob/master/SVG/pug-final-logo_-mono-64.svg

I don't use this program so I don't know what the primary color is. Maybe `#f7BD89` or `#A86454`

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.m

[2020-08-02 11:41] ridays2001 commented on #3401
@NovaGL , Hello. I am sorry. I don't know what to do... I am not really a designer... I believe the primary color would be #CCAC8D - the wheat~ish color which I picked up from it's SVG code. I've used it to make a small badge. [See here.](https://github.com/ridays2001/ridays2001/blob/main/media/pug.svg). Hope it helps.

[2020-08-02 12:20] MeMattStone opened #3404 "Fathom Analytics"
**Name:** Fathom Analytics
**Website:** https://usefathom.com
**Alexa rank:** 80,849

**Official resources for icon and color:** support@usefathom.com

[2020-08-03 00:58] danielmarostica opened #3408 "Request: Numpy"
**Name:** Numpy
**Website:** https://numpy.org/
**Alexa rank:** 14502

**Official resources for icon and color:**
https://github.com/numpy/numpy/blob/master/branding/logo/logomark/numpylogoicon.svg

[2020-08-03 01:01] danielmarostica opened #3409 "Request: Scikit-learn"
**Name:** Scikit-learn
**Website:** https://scikit-learn.org/
**Alexa rank:** 6,949

**Official resources for icon and color:**
https://github.com/scikit-learn/scikit-learn/tree/master/doc/logos

[2020-08-03 01:04] danielmarostica opened #3410 "Request: Matplotlib"
**Name:** Matplotlib
**Website:** matplotlib.org
**Alexa rank:** 10,873

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/File:Matplotlib_icon.svg

[2020-08-03 01:05] danielmarostica opened #3411 "Request: Keras"
**Name:** Keras
**Website:** keras.io
**Alexa rank:** 23,543

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/File:Keras_logo.svg

[2020-08-03 01:08] danielmarostica opened #3412 "Request: Tableau"
**Name:** Tableau
**Website:** https://www.tableau.com/
**Alexa rank:** 2,144

**Official resources for icon and color:**
https://worldvectorlogo.com/logo/tableau-software

[2020-08-03 04:07] ezequiellop opened #3413 "Motorola"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-08-03 08:31] NovaGL commented on #3413
Hi @ezequiellop. Please fill in the required information so we can look into your request.

[2020-08-03 10:21] suvozit opened #3414 "GIPHY"
**Name:** GIPHY
**Website:** https://giphy.com
**Alexa rank:** 392 (Global, October 2019)

**Official resources for icon and color:**  https://support.giphy.com/hc/en-us/articles/360022283772-GIPHY-Brand-Guidelines

[2020-08-03 10:43] NovaGL commented on #3409
Please refer to issue #3191

[2020-08-03 10:43] #3409 closed

[2020-08-03 10:44] NovaGL commented on #3408
Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-03 10:46] NovaGL commented on #3404
How would you make this logo monochrome?

By the way the logo is embedded in the webpage you mentioned.

[2020-08-03 10:59] MeMattStone commented on #3404
I've reached out to Fathom to see if they have a mono version of their logo so will report back with more info shortly

[2020-08-03 14:10] #3345 closed

[2020-08-03 15:39] midrissi opened #3415 "Request 4D icon"
**Name:** 4D
**Website:** https://www.4d.com
**Alexa rank:** 280,892

**Official resources for icon and color:**

![image](https://user-images.githubusercontent.com/3237344/89200359-d0597600-d5a7-11ea-915a-165f0c7c8bbe.png)

[2020-08-03 17:23] zzamboni opened #3416 "Request: Leanpub icon"
**Name:** Leanpub
**Website:** https://leanpub.com/
**Alexa rank:** 38,541

**Official resources for icon and color:** https://leanpub.com/press

[2020-08-04 09:55] PeterShaggyNoble commented on #3369
Going to close this out as everything in this issue has been taken care of, pending a decision on the colour choices.

Thanks once again for all your work here, @MetLee :+1:

[2020-08-04 09:55] #3369 closed

[2020-08-04 12:21] service-paradis opened #3420 "Request: Buefy icon"
**Name:** Buefy
**Website:** https://buefy.org/
**Alexa rank:** 73,851

**Official resources for icon and color:**

- https://github.com/buefy/buefy/raw/dev/static/img/buefy-logo.png
- https://github.com/buefy/buefy/raw/dev/static/img/icons/favicon.ico
- https://raw.githubusercontent.com/buefy/buefy/dev/static/img/icons/safari-pinned-tab.svg
- https://github.com/buefy/buefy/raw/dev/static/img/icon

[2020-08-04 14:44] PeterShaggyNoble commented on #3359
@AMartinNo1, [Inkscape](https://inkscape.org/) is a great, free vector editing programme, if you want to give that a try. It also has a few SVGO plugins (I use [this one](https://github.com/konsumer/inkscape-svgo)) so you don't have to go elsewhere to optimise your SVG.

[2020-08-04 15:11] PeterShaggyNoble commented on #3394
No harm in doing so. But I'd personally hold off until they're requested.

[2020-08-04 15:28] PeterShaggyNoble commented on #3370
@runxel, see [this monochrome treatment](https://www.jetbrains.com/company/brand/img/logo4.svg) in use on the page I linked above, where the y use negative space for the square.

A case, I think, of "do as we say, not as we do" - brands will sometimes violate their own publicly available guidelines as they're working in an environment where the brand is already well-established. I think the 2 line

[2020-08-04 15:36] #3305 closed

[2020-08-04 15:38] PeterShaggyNoble commented on #3401
Based in their website, I'd agree with @NovaGL choice of `#a86454` for the colour.

[2020-08-04 15:44] PeterShaggyNoble commented on #3415
Thanks for the request, @midrissi :+1: For future reference, opening a PR without an existing issue is perfectly fine around here 🙂 Now that there is an issue, though, we'll leave it open until the PR is merged.

[2020-08-04 15:59] PeterShaggyNoble commented on #3410
Thanks for the request, @danielmarostica. Making this monochrome might be tricky but from [this SVG](https://matplotlib.org/_static/logo2_compressed.svg) on their website one option may be just to go with the outer circle and the arcs, either as solids or outlines. I'm gonna have a dig through their GitHub repos now, see if I can find an official monochrome treatment.

Any suggestions on the colou

[2020-08-04 16:27] PeterShaggyNoble commented on #3410
All I could find in their repos was https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/mpl-data/images/matplotlib.svg which, while nearly 5 years old and not completely monochrome, might be indication that we _can_ omit the guidelines.

I'm going to ping @tacaswell here as one of the top contributors to @matplotlib's primary repo to see if they can help us out in either providing

[2020-08-04 16:36] PeterShaggyNoble commented on #3411
Thanks for the request, @danielmarostica :+1:

To my eye, at least, the corners of the `K` in the source file you provided look somewhat different to those in [the logo on their website](https://keras.io/img/logo.png) but my eye isn't always the best judge of these things so let's see if any of the other @simple-icons/maintainers agree. If they do, there are, unfortunately, no vector versions avai

[2020-08-04 16:42] PeterShaggyNoble commented on #3412
Thanks for the request, @danielmarostica :+1:

There's an SVG available at https://github.com/tableau/tableau-viz-lwc/blob/master/force-app/main/default/lwc/tableauViz/tableauViz.svg

For the colour, I'd guess from their website that orange is the primary so we could either go with `#ff6d02` from the stylesheet or   `#e8762d`, which is used for the centre `+` in that SVG.

[2020-08-04 16:45] PeterShaggyNoble commented on #3414
Thanks for the request, @suvozit :+1:

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2020-08-04 19:39] AMartinNo1 commented on #3359
Thanks. Linscape's website looks quite old to me. That's why I did not bother to install it. Anyway, thanks for the response. I will give it a try then 👍🏻

[2020-08-04 21:02] ericcornelissen commented on #3411
I can confirm that there are some notable differences between [the logo on their website](https://keras.io/img/logo.png) and [the SVG version of the logo on Wikimedia](https://commons.wikimedia.org/wiki/File:Keras_logo.svg) as shown ⬇️

![image](https://user-images.githubusercontent.com/3742559/89344613-ce2e0f00-d6ae-11ea-900c-edf78160b6c2.png)

<sup>The overlay - larger and transparent K - is the

[2020-08-04 22:05] runxel commented on #3370
Hm, yeah, I glimpsed over that. However, wouldn't we violate another rule there: "Don't touch the black box". ?
Sometimes, not all brand rules can be satisfied, I guess.

[2020-08-04 23:06] sharmavins23 opened #3422 "Request: Verilog/Xilinx Vivado"
This is a bit of a weird request, since there's not a lot of concrete symbols out there for this. However, this icons list has no VHDL icons available.

**Name:** Verilog (or Xilinx Vivado)
**Website:** There's not a concrete Verilog site, though there IS the popular IDE [Xilinx Vivado](xilinx.com)
**Alexa rank:** 38,837 for the above site.

So, there's two possibilities that can be included here.

[2020-08-05 00:41] AugustoEstevaoMonte opened #3423 "URI Online Judge"
**Name:** Augusto Estevão Monte
**Website:** https://www.urionlinejudge.com.br/judge/pt
**Alexa rank:**

**Official resources for icon and color:**

[2020-08-05 01:04] ridays2001 commented on #3401
Oh... Right... Didn't think to check that, lol

[2020-08-05 04:59] suvozit commented on #3414
@PeterShaggyNoble Sure. I'll give it a try. 😬

[2020-08-05 06:00] suvozit commented on #3414
### 🥳🤩

[2020-08-05 08:37] timqian opened #3427 "Request: Feeds Pub"
**Name:** Feeds Pub
**Website:** [feeds.pub](https://feeds.pub)
**Alexa rank:** 320K

**Official resources for icon and color:** https://feeds.pub/favicon.ico

[2020-08-05 09:52] NovaGL commented on #3263
Duplicate of #3354

If you think this is in error. Please reopen the issue

[2020-08-05 09:52] #3263 closed

[2020-08-05 16:02] danielmarostica commented on #3411
It would be simple to vectorize it.

Will it be accepted if I do this? Where should I upload it btw?

[2020-08-05 16:55] danielmarostica commented on #3412
I'm sorry, but, why does it have to be monochromatic?

I want something like this: https://iconify.design/icon-sets/logos/python.html

Colorful :)

[2020-08-06 03:07] mirandagil opened #3429 "Julia Lang Request"
**Name:** Julia
**Website:** julialang.org
**Alexa rank:** https://www.alexa.com/siteinfo/julialang.org

**Official resources for icon and color:**
https://github.com/JuliaLang/julia-logo-graphics

[2020-08-06 06:41] AMartinNo1 commented on #3359
A quick update: The weather forecast says it's gonna be very hot the next days and I don't have an air con ;) So, I most likely won't make any progress.

[2020-08-06 10:35] NovaGL commented on #3420
Color: `#7957d5`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-06 10:49] ericcornelissen commented on #3411
Yes, in the absence of an official vector version we look for someone that can provide a vectorized version of the logo. If you think you can do that @danielmarostica, go ahead an submit a Pull Request. You can read more about the details in [the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md).

[2020-08-06 10:53] NovaGL commented on #3411
This has already been merged. How is it different than this logo? #1793

[2020-08-06 10:58] ericcornelissen commented on #3411
Oops, can't believe we missed that :sweat_smile: Thanks for pointing this out @NovaGL! Looks like [Keras is already available on Simple Icons](https://simpleicons.org/?q=Keras) (and not sourced from Wikimedia)

[2020-08-06 10:58] #3411 closed

[2020-08-06 13:37] service-paradis commented on #3420
Sure, I just made a PR by following the guidelines (#3430). Let me know if there are something wrong!

[2020-08-07 15:20] LazyTarget opened #3432 "Request: Twinkly"
**Name:** Twinkly
**Website:** https://twinkly.com/
**Alexa rank:** https://www.alexa.com/siteinfo/twinkly.com

**Official resources for icon and color:**

https://play.google.com/store/apps/details?id=com.twinkly&hl=en
https://apps.apple.com/us/app/twinkly/id1132187056
https://twinkly.com/wp-content/themes/twinkly/assets/img/logo@2x.png

[2020-08-09 00:06] nektro opened #3435 "Zelle"
**Name:** Zelle
**Website:** https://www.zellepay.com/
**Alexa rank:** #24,060

**Official resources for icon and color:**
https://partners.zellepay.com/ (behind login wall)

https://partners.zellepay.com/sites/default/files/2020-02/Zelle-logo-no-tagline-RGB-purple.png
https://www.zellepay.com/sites/default/files/Zelle-logo-tagline-horizontal-white-v2_2.png

[2020-08-09 00:07] nektro commented on #3435
PayPal, Venmo, Cash App, etc already have icons.

[2020-08-09 01:22] midrissi commented on #3415
Fixed! Just waiting to be merged!

[2020-08-09 04:45] NovaGL commented on #3432
Thanks for the request @LazyTarget

Unfortunately the Alexa ranking is too high for this to be considered.
If you can provide other metrics to show the popularity of this we can reconsider it.

[2020-08-09 04:49] NovaGL commented on #3435
Hi @nektro.

Thanks for the request. Do you think you would be up to trying to do a pull request?
You can find the SVG of the logo here https://www.zellepay.com/themes/early_warning/images/z_logo.svg

Color:  `#6f1fd4`

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-09 04:51] NovaGL commented on #3429
Hi @mirandagil

Thanks for the request. Do you think you would be up to trying to do a pull request?

You can use the SVG's listed in the Github. Just wondering would you choose just the dots or the full wordmark.

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-09 05:19] takutottttttt opened #3436 "TypeORM"

[2020-08-10 21:37] tacaswell commented on #3410
We talked about this on our weekly dev call today.  We are positively inclined, but want to check with NumFOCUS's lawyer to make sure we are not implicitly waiving all claims to trademark in the future.

[2020-08-11 11:07] HariSekhon opened #3437 "Request: Buildkite"
**Name:** Buildkite
**Website:** https://buildkite.com/
**Alexa rank:** 70,524

**Official resources for icon and color:** https://buildkite.com/brand-assets

[2020-08-11 13:37] nareshr8 opened #3439 "Databricks icon"
**Name:** Databricks
**Website:**https://databricks.com
**Alexa rank:**15,507

**Official resources for icon and color:**

  https://github.com/databricks

[2020-08-12 05:48] Tarun-Kamboj opened #3440 "please add an icon for C#"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-08-12 07:12] #3440 closed

[2020-08-12 20:56] t-900-a opened #3441 "Rotten Tomatoes"
**Name:** Rotten Tomatoes
**Website:** https://www.rottentomatoes.com/
**Alexa rank:** 833

**Official resources for icon and color:**

  https://www.rottentomatoes.com/favicon.ico

[2020-08-13 04:58] bramleydev opened #3443 "Burger King Icon"
**Name: Burger King**
**Website: https://www.bk.com/**
**Alexa rank: 26,260**

**Official resources for icon and color: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90"><g fill-rule="nonzero" fill="none"><path d="M0 44.647C0 19.989 19.985 0 44.645 0c24.66 0 44.644 19.989 44.644 44.647 0 24.655-19.984 44.646-44.645 44.646C19.985 89.293 0 69.303 0 44.647" fill="#FEFEFE"></path><title>Burg

[2020-08-13 11:56] ineshbose opened #3444 "Dialogflow"
**Name:** Dialogflow
**Website:** https://dialogflow.cloud.google.com/
**Alexa rank:** 51,437

**Official resources for icon and color:**
- https://www.gstatic.com/dialogflow-console/common/assets/img/logo@2x-black.png
- https://static.dialogflow.com/common/favicon.png

[2020-08-13 14:36] #3437 closed

[2020-08-13 15:07] runxel commented on #3443
Hi @bramleydev! Thanks for the request.
Seems like a good addition; we already got McDonald's.

Do you want to try to do a pull request on your own?
Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

As color I'd choose `#ec1c24`, as seen on [brandcolors](http://brandcolors.net/).

[2020-08-13 15:12] runxel commented on #3436
Hi @gitackt, thanks for this request!
There seems to be no vector resource [available](https://github.com/typeorm/typeorm/)... – which means it has to be manually vectorized.

Btw, before somebody else is looking: the [Alexa rank](https://www.alexa.com/siteinfo/typeorm.io) is rather at ~96**K**

[2020-08-13 15:16] runxel commented on #3423
Hi @AugustoEstevaoMonte, thanks for this request.
I'm not familiar with the brand. Is this really their logo?
![logo-big](https://user-images.githubusercontent.com/2277182/90152871-94cd6180-dd88-11ea-8467-35a24ae4e3c8.png)

There seems to be no vectorized version around – will be quite hard to vectorize this one by hand.

The [alexa rank](https://www.alexa.com/siteinfo/urionlinejudge.com.br) is at

[2020-08-13 15:45] AugustoEstevaoMonte commented on #3423
Yes @runxel , this is their logo.

[2020-08-13 15:47] HariSekhon opened #3445 "Request: Shippable"
**Name:** Shippable
**Website:** https://www.shippable.com/
**Alexa rank:** 558,253 (as of 13/8/2020)

**Official resources for icon and color:**

[2020-08-13 16:15] #3366 closed

[2020-08-13 16:16] runxel commented on #3423
Thanks clarification, @AugustoEstevaoMonte.

[2020-08-13 17:49] upodroid opened #3446 "Icon for Hashicorp Vault"
**Name:** Vault
**Website:** https://vaultproject.io
**Alexa rank:** 215614

**Official resources for icon and color:** https://www.hashicorp.com/brand/#vault

[2020-08-14 11:47] runxel commented on #3445
Hi @HariSekhon, thanks for the request!
It seems Shippable is no longer a used brand, but rather it became [JFrog Pipelines](https://jfrog.com/pipelines/).
So I've changed your request to reflect that :)

[2020-08-14 13:30] Zorono opened #3448 "Pawn Scripting Language"
**Name:** Pawn Scripting Language
**Website:** https://www.compuphase.com/pawn https://github.com/compuphase/pawn
**Alexa rank:** `#500,171` (https://www.alexa.com/siteinfo/compuphase.com#section_traffic)

**Official resources for icon and color:** https://www.compuphase.com/images/pawnicon48.gif

[2020-08-14 13:50] hjdhjd opened #3449 "Ubiquiti Icon Request."
**Name:** Ubiquiti
**Website:** www.ui.com
**Alexa rank:** 3539

**Official resources for icon and color:**

  https://www.ui.com/marketing/#logos

[2020-08-15 02:54] NovaGL commented on #3449
Duplicate of #3014

[2020-08-15 02:54] #3449 closed

[2020-08-15 03:04] NovaGL commented on #3448
Hi @Zorono could you possibly give us more information on this and other metrics such as downloads.

As our limit is 500K for Alexa ranking. Also how would you propose this icon be changed into monochrome?

[2020-08-15 03:05] NovaGL commented on #3446
Color: `#000000`

Thanks for the request @upodroid. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-15 03:09] NovaGL commented on #3441
Color: `#FA320A`
SVGs of the logos can be found embedded in this site
https://www.rottentomatoes.com/about

@t-900-a Would you consider the "fresh" logo to be the correct icon. Or do you think the wordmark "Rotten Tomatoes" should be used instead?

[2020-08-15 03:15] NovaGL commented on #3443
Further to the above you can find the logo embedded in the website you mentioned.

[2020-08-15 03:23] t-900-a commented on #3441
Fresh logo

[2020-08-15 03:26] NovaGL commented on #3441
Thanks for the quick reply

Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-15 03:28] Matt-Gleich opened #3450 "Hack Club icon"
**Name:** Hack Club
**Website:** https://hackclub.com/
**Alexa rank:** #219,404

**Official resources for icon and color:** https://hackclub.com/brand/

[2020-08-15 04:03] t-900-a commented on #3441
It would be a while till i get to it. I have other priorities right now.

[2020-08-15 05:15] lachlanjc commented on #3450
Let's go with Icon Rounded, SVG here: https://assets.hackclub.com/icon-rounded.svg

[2020-08-15 05:31] jamestharpe opened #3451 "Delphi icon request"
**Name:** Delphi
**Website:** https://www.embarcadero.com/products/delphi
**Alexa rank:** 27,431

**Official resources for icon and color:**

https://www.embarcadero.com/news/logo

[2020-08-15 08:12] NovaGL commented on #3441
Thats alright. Get to it when you can otherwise someone else can look into it

[2020-08-15 16:56] Zorono commented on #3448
Pawn Scripting Language is generally based on `C`(Source: https://github.com/compuphase/pawn) and it's used in many cases like Game-Modding purposes (eg: [Freak Fortress 2](https://github.com/50DKP/FF2-Official) for `Team Fortress 2` and [San Andreas Multiplayer](https://sa-mp.com) for `GTA San Andreas`) and in many platforms like Windows, Linux and MacOS

[2020-08-16 17:34] #3014 closed

[2020-08-16 17:53] ahmubashshir opened #3454 "Provide an icon for kitsu"
**Name:** Kitsu
**Website:** [kitsu.io](https://kitsu.io)
**Alexa rank:** 130,294

**Official resources for icon and color:**
 [https://github.com/hummingbird-me/kitsu-web](https://github.com/hummingbird-me/kitsu-web)

[2020-08-16 19:16] Krishna-Ravi opened #3455 "Request: Autodesk Maya"
**Name: Autodesk Maya**
**Website: https://www.autodesk.in/products/maya/overview**
**Alexa rank: 48204**

**Official resources for icon and color: https://worldvectorlogo.com/logo/maya-2017
[maya-2017.zip](https://github.com/simple-icons/simple-icons/files/5081253/maya-2017.zip)

**

I sincerely request for Autodesk Maya icon, as it is the industry standard for 3d modeling and animations etc.

[2020-08-17 00:39] kk289 opened #3457 "MATLAB icon request"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-08-17 01:11] moraisandre opened #3458 "Request: Sketchfab"
**Name:** Sketchfab
**Website:** https://sketchfab.com/
**Alexa rank:** https://www.alexa.com/siteinfo/sketchfab.com

**Official resources for icon and color:** https://sketchfab.com/press

[2020-08-17 01:27] NovaGL commented on #3458
Alexa Rank = ` # 3,861`
Color:  `#1caad9`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-17 01:29] NovaGL commented on #3454
Duplicate of #3355

[2020-08-17 01:29] #3454 closed

[2020-08-17 01:36] NovaGL commented on #3455
Thanks for that.

I would say the source is https://brand.autodesk.com/brand-elements/autodesk-logo
Unfortunately it needs access to download the logo.

I can see that this logo my need some artistic interpretation to be suitable.

Do you think you would be willing to give it a go converting the logo to monochrome?

[2020-08-17 01:40] NovaGL commented on #3457
This logo has already been added under the name 'Mathworks'

Duplicate of #1114

[2020-08-17 01:40] #3457 closed

[2020-08-17 01:42] NovaGL commented on #3451
Alexa Rank =
Color:  `#eb2d2e`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-17 01:45] NovaGL commented on #3444
Thanks for the request. Do you think you would be up to trying to do a pull request?

SVG: https://en.wikipedia.org/wiki/File:Dialogflow_logo.svg
Color: `#ff9800` or `#ef6c00`

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-17 03:28] moraisandre commented on #3458
@NovaGL I just created a PR #3459 for this issue

[2020-08-17 08:31] Demonbane18 opened #3461 "GameJolt"
**Name:**
GameJolt
**Website:**
https://gamejolt.com/
**Alexa rank:**
12,949

**Official resources for icon and color:**
https://d23wybgr07mqxm.cloudfront.net/wp-content/uploads/2017/01/25225716/Game-Jolt.png

[2020-08-17 08:56] tomap opened #3462 "Request: Veepee"
**veepee**
**Website: veepee.com**
**Alexa rank: https://www.alexa.com/siteinfo/veepee.fr 5402**
**Official resources for icon and color: no press kit found, just that:**
* https://en.wikipedia.org/wiki/Vente-privee.com
* https://twitter.com/Veepee_Fr
* ?

[2020-08-17 09:41] ineshbose commented on #3444
Request opened! #3460

[2020-08-17 12:37] richarddewit opened #3463 "Request: Crystal icon"
**Name:** Crystal
**Website:** https://crystal-lang.org/
**Alexa rank:** 286,504

**Official resources for icon and color:** https://crystal-lang.org/media/

[2020-08-17 15:08] runxel commented on #3462
Thanks for the request, @tomap!

Luckily for us the logo is right in the website's header as [svg](https://static.vente-privee.com/vp5/_web/site/vp/_common/img/00_de_door_logoBlack.svg).
Do you want to try and add it by yourself? 😊

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-17 15:10] runxel commented on #3463
Hi @richarddewit! Thanks for the request!
Would you'd like to take this one by yourself? :)

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-17 15:26] runxel commented on #3461
Thanks for the request!
Would you like to try to make  a PR for it?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

---

There is actually an URL encoded svg embedded as header.
Color shoul be probably `#ccff00`

[code]

[2020-08-17 15:29] runxel commented on #3455
There is this [vectorized version](https://cdn.freelogovectors.net/wp-content/uploads/2018/05/autodesk-maya_logo.png).
Might need to overlay with the raster version and check how well it fits, but at least is a decent start.

[2020-08-18 06:31] hjdhjd opened #3464 "Homebridge"
**Name:** Homebridge
**Website:** https://homebridge.io
**Alexa rank:** 622,544

**Official resources for icon and color:**  https://github.com/homebridge/branding

Homebridge is a popular smart home platform that provides HomeKit support for non-HomeKit-native devices.

[2020-08-18 06:47] richarddewit commented on #3463
I tried, but I can't get past the linter. I keep getting the size error:

[code]

and I don't know how to fix this. I'm not a champ at Inkscape :sweat_smile:

Here's my SVG code for anyone who wants to give it a try:

[code]

[2020-08-18 07:39] NovaGL commented on #3464
Thanks for this, although its above our cutoff I know this program is popular so it should be allowed.
Color `#57277c`

Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-18 07:49] NovaGL commented on #3463
Here you go @richarddewit

Your dimensions were slightly off. Changed them in Inkscape

[code]

[2020-08-18 08:04] NovaGL commented on #3461
I think this logo is going to be quite difficult to be changed to monochrome, we could just do the lightning bolt but I feel that isn't correct, if we do the things within the lightning bolt it looks really bad.

[2020-08-18 08:29] richarddewit commented on #3463
@NovaGL Thanks! Almost there, linter is very picky :)

[code]

[2020-08-18 14:30] hjdhjd commented on #3464
Sure, I’ll give it a shot.

[2020-08-18 23:15] asitwouldseem opened #3466 "The Noun Project."
**Name: The Noun Project**
**Website: thenounproject.com**
**Alexa rank: 5,867**

**Official resources for icon and color:**
https://www.lingoapp.com/s/PnvqFdbbGRkcjfZbs9EIaBoNYdYQNVCFn8gwuZSUsrE/k/6A90F478-575D-4F32-8019-F27331DA7A09/ (from: https://thenounproject.com/about/)

[2020-08-19 08:26] KarthikNayak024 opened #3467 "Icon for the LICENCE BADGES."
**Name:** Licence
**Website:** No Official website.
**Alexa rank:**

**Official resources for icon and color:**

I want to add an icon for the MIT Licence badge so I wanted a logo for that. Is it possible to design a logo for the licence?

[2020-08-19 08:47] hgunay opened #3468 "Request Icon: Telerik or Progress"
Name: Telerik
Website: https://www.telerik.com/
Alexa rank: 7488

Official resources for icon and color:
https://www.telerik.com/favicon.ico

[2020-08-19 09:10] NovaGL commented on #3466
Color:  `#000000`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-19 09:14] NovaGL commented on #3467
Hi @KarthikNayak024

Thanks for your request unfortunately this is outside of the scope of this project. We add icons to this repo based on certain metrics such as Alexa ranking or downloads.

If there is no logo for a particular service such as this we can't include it as we have nothing to refer back to. We need an official source so we can use that as the base.

[2020-08-19 09:33] NovaGL commented on #3468
Thanks for the request. Since it shares the logo with it's parent company. Should this request be Progress Software instead?

Unless you intend to use the word Telerik in the logo.

Color: `#5ce500`

[2020-08-19 10:00] hgunay commented on #3468
Yes, Progress Software is the main company of Telerik.

Thanks for your suggestion.

[2020-08-19 10:03] NovaGL commented on #3468
No problem, you can find the SVG embedded in the website. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-19 10:05] stiliajohny opened #3469 "Add TMUX icon"
**Name:** TMUX
**Website:**  https://github.com/tmux/tmux/wiki
**Alexa rank:** ~~85~~ N\A (MOD NOTE: Do not use a website the company doesn't own as a ranking)

**Official resources for icon and color:** https://github.com/tmux/tmux/wiki

[2020-08-19 10:13] hgunay commented on #3468
Sorry, but I can't find the Progress svg logo in the website. Are you sure logo is in the web site?
Or I got it wrong! :(

[2020-08-19 10:16] NovaGL commented on #3468
Don't worry about it. It's the logo on the top left.

Here it is

[code]

[2020-08-19 12:24] spdegabrielle opened #3470 "Racket language icon"
**Name:** Racket
**Website:**   https://racket-lang.org/
**Alexa rank:** 384,283

Racket sits just above Mathematica on the red monk programming language rankings

**Official resources for icon and color:**

  https://racket-lang.org/img/racket-logo.svg

[2020-08-19 15:00] KarthikNayak024 commented on #3467
Okay, Thanks for the reply

[2020-08-19 15:00] #3467 closed

[2020-08-19 15:03] KarthikNayak024 commented on #3462
Can I help in adding this logo?

[2020-08-19 15:29] runxel commented on #3462
Of course! We're always happy if somebody wants to contribute 💯

[2020-08-20 02:48] NovaGL commented on #3469
It appears that the program is widely used so it should be fine, however their doesn't seem to be an SVG logo that I could find.

I think we would need to covert the raster image listed on that site to vector.

Color: `#1bb91f`

[2020-08-20 02:50] NovaGL commented on #3470
Color: `#9F1D20` or `#3E5BA9`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-20 12:21] Tarun-Kamboj opened #3471 "Add an icon for Folium"
**Name:** Folium
**Website:** https://python-visualization.github.io/folium/
**Alexa rank:** 765,069

**Official resources for icon and color:**

[2020-08-20 15:45] KarthikNayak024 opened #3472 "Adding Hackernews Icon"
**Name:** Hackernews
**Website:** [Hackernews](https://news.ycombinator.com/)
**Alexa rank:** [Rank](https://www.alexa.com/siteinfo/ycombinator.com)

**Official resources for icon and color:**

[2020-08-20 17:18] KarthikNayak024 commented on #3462
I'll create a PR soon

[2020-08-20 18:33] spdegabrielle commented on #3470
I'll admit I've having trouble with creating monochrome the icon the guidelines

Should it be outlines or a silhouette? How do I spell silhouette?
[racket.svg.zip](https://github.com/simple-icons/simple-icons/files/5102536/racket.svg.zip)

[2020-08-21 00:43] NovaGL commented on #3470
Wouldn't you just keep the icon the same and just choose red or blue?

Just use the existing SVG join the paths and resize to 24x24 and remove the fill.

Let me know if you get stuck.

[2020-08-21 00:59] bmreading opened #3474 "Request: Supermicro icon"
These guys are a major global server and motherboard company.

**Name:** Supermicro
**Website:** supermicro.com
**Alexa rank:** 29,589

**Official resources for icon and color:**

- [Corporate Brand Style Guide](https://www.supermicro.com/manuals/SUPERMICRO_Logo_Guidelines.pdf)

[2020-08-21 03:06] #3450 closed

[2020-08-21 03:25] NovaGL commented on #3472
Duplicate of #306

Please see Y Combinator which is already available.

[2020-08-21 03:25] #3472 closed

[2020-08-21 03:28] NovaGL commented on #3474
Color:  `#151F6D`

Thanks for the request. Do you think you would be up to trying to do a pull request?
If you feel the color I chose is not correct please choose the most appropriate color as per the document you provided.

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-21 03:42] KarthikNayak024 opened #3475 "Request: Unilever icon"
**Name:** Hindustan Unilever Limited
**Website:** [HUL](https://www.hul.co.in/)
**Alexa rank:** 85,087

**Official resources for icon and color:**

[2020-08-21 03:48] KarthikNayak024 commented on #3462
Hey @runxel,
Should I crop the text veepee from the logo or include both Icon and text?

[2020-08-21 05:47] dixitk13 opened #3476 "Icon Request: hibernate"
**Name:** Hibernate
**Website:** https://hibernate.org/
**Alexa rank:** 25.6k

**Official resources for icon and color:** https://hibernate.org/

[2020-08-21 06:22] NovaGL commented on #3475
Since this logo is the same as the parent brand I changed the subject to be easier to identify.

Color:  `#1F36C7`

Do you think you would be up to trying to do a pull request, you can use the logo embedded in the site.

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-21 16:34] HariSekhon opened #3477 "Request: Snowflake"
**Name:** Snowflake
**Website:** https://www.snowflake.com/
**Alexa rank:** 16,280 (as of 21/08/2020)
**Official resources for icon and color:**

[2020-08-21 19:47] xyzes opened #3479 "Request: Ableton Live icon"
**Name:**
Ableton
**Website:**
https://www.ableton.com/
**Alexa rank:**
# 4,606

**Official resources for icon and color:**
https://www.ableton.com/en/legal/branding-trademark-guidelines/

[2020-08-21 19:50] xyzes opened #3480 "Request: Avid Pro Tools icon"
**Name:** Avid Pro Tools
**Website:** https://www.avid.com/pro-tools
**Alexa rank:** 15,973

**Official resources for icon and color:**
https://en.wikipedia.org/wiki/Pro_Tools#/media/File:PT2019.png

[2020-08-21 20:56] guibranco opened #3481 "Request: Wakatime icon"
**Name:** Wakatime
**Website:** https://wakatime.com
**Alexa rank:** 36,610

**Official resources for icon and color:**  https://wakatime.com/legal/logos-and-trademark-usage

[2020-08-22 01:34] Andrew-Colman opened #3482 "Request: Parcel"
**Name: Parcel bundler**
**Website: https://parceljs.org/**
**Alexa rank: [140,256 ](https://www.alexa.com/siteinfo/parceljs.org)**

**Official resources for icon and color:
https://github.com/parcel-bundler/assets/blob/master/assets/parcel-icon.svg
https://github.com/parcel-bundler/assets
https://github.com/parcel-bundler/website/tree/v2/src/assets**

[2020-08-22 06:49] jairoMolina9 opened #3484 "Request: Devpost Icon"
**Name: Devpost**
**Website: https://devpost.com/**
**Alexa rank:https://www.alexa.com/siteinfo/devpost.com**

**Official resources for icon and color:**

[2020-08-22 17:13] matfax opened #3485 "Request Icon: Renovate Bot"
**Name:** renovatebot
**Website:** https://renovate.whitesourcesoftware.com/
**Alexa rank:** 109,435
**Official resources for icon and color:** https://github.com/renovatebot

[2020-08-23 02:00] Ayfri opened #3488 "Request Icon: Rider from Jetbrains Icon"
**Name:** Rider
**Website:** https://www.jetbrains.com/rider/
**Alexa rank:** 203.9k

**Official resources for icon and color:** https://resources.jetbrains.com/storage/products/rider/img/meta/rider_logo_300x300.png

[2020-08-23 02:44] Karthik-Nayak98 opened #3489 "Resurrection Remix OS"
**Name:** Resurrection Remix
**Website:** [Website](https://www.resurrectionremix.com/)
**Alexa rank:** 429,637

**Official resources for icon and color:**

[2020-08-23 16:09] ayulockin opened #3490 "Requesting for Weights and Biases Icon"
**Name:** Weights and Biases
**Website:** https://www.wandb.com/
**Alexa rank:** 196,308

**Official resources for icon and color:** https://app.wandb.ai/logo.png

[2020-08-23 17:28] jairoMolina9 commented on #3484
Hi, as you stated this is one with just the D

[LOGO LINK](https://www.google.com/search?q=devpost&tbm=isch&ved=2ahUKEwiAuLbL7LHrAhWPON8KHexCByAQ2-cCegQIABAA&oq=devpost&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyBAgAEBgyBAgAEBgyBAgAEBgyBAgAEBgyBAgAEBgyBAgAEBg6BAgjECc6BQgAELEDOgQIABBDOgcIABCxAxBDOggIABCxAxCDAToECAAQHjoGCAAQChAYUNsGWIEUYMgUaAJwAHgAgAFHiAG7BJIBATmYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=i

[2020-08-23 19:58] salif opened #3491 "Request Icon: Codeberg"
**Name:** Codeberg
**Website:** https://codeberg.org/
**Alexa rank:** 664,059

**Official resources for icon and color:** https://codeberg.org/Codeberg/Design

[2020-08-23 20:05] guibranco commented on #3481
@NovaGL pull request created!

[2020-08-23 20:06] salifm commented on #3491
Codeberg is an instance of Gitea.
You already have icon for Gitea, but it would be awesome if there is a icon for Codeberg too.
Codeberg have more repositories than the official Gitea instance (gitea.com).
Gitea repositories: 1812
Codeberg repositories: 3080
(source:  https://explore.sapk.fr/)

[2020-08-23 22:45] ImNightwing opened #3493 "Request: Disney Plus Icon"
**Name:** Disney Plus / Disney
**Website:** disneyplus.com
**Alexa rank:** 413

**Official resources for icon and color:**

[2020-08-23 23:02] ImNightwing opened #3494 "Request: Showtime Icon"
**Name:** Showtime
**Website:** showtime.com
**Alexa rank:** 20,878

**Official resources for icon and color:**

[2020-08-23 23:03] ImNightwing opened #3495 "Request Starz Icon"
**Name:** Starz
**Website:** starz.com
**Alexa rank:** 13,191

**Official resources for icon and color:**

[2020-08-23 23:04] #3493 closed

[2020-08-23 23:05] ImNightwing commented on #3493
closing because of #2309

[2020-08-24 04:34] NovaGL commented on #3490
You can find the SVG of the logo here: https://assets.website-files.com/5ac6b7f2924c656f2b13a88c/5e54ccdeb845e49a782c6cfd_wandb-logo.svg

Color: `#FFCC33`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-24 07:10] ayulockin commented on #3490
Thank you for the logo. If you don't mind can you give the same with our brand color code?

Color: `#FFBE00`

Yes, I can make a PR for the same. 😄

[2020-08-24 07:16] NovaGL commented on #3490
I'm confused. That file is from the website you mentioned and the color is what I mentioned. (Click view image on the logo top left)
Can you advise where you got your color from?

Since you appear to work for the company maybe the SVG should be updated to match your brand color

[2020-08-24 07:17] ghost opened #3496 "Request Bugcrowd Icon"
**Name: Bugcrowd**
**Website: https://bugcrowd.com**
**Alexa rank: 29,001**

**Official resources for icon and color:**

  https://www.bugcrowd.com/wp-content/uploads/2019/06/Press-Kit-Transparent-Hex-B.png

[2020-08-24 17:22] ayulockin commented on #3490
The file which I shared is our official logo. The color I mentioned [here](https://github.com/simple-icons/simple-icons/issues/3490#issuecomment-678949715) is our official color.

Yes I requested to update the color of the SVG that you sent to match the brand color.

I am sorry if I wasn't clear enough to start with.

[2020-08-25 03:47] NovaGL commented on #3490
Great, just make a PR and uses your color, since you work for the company that's good enough.

[2020-08-25 03:52] NovaGL commented on #3495
Color: `#000000`

Thanks for the request. Do you think you would be up to trying to do a pull request?
You can find the logo here - https://www.starz.com/StaticContent/Prod/guides/starzlibrary/

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-25 03:57] NovaGL commented on #3494
Color: `#B10000`

Thanks for the request. Do you think you would be up to trying to do a pull request?
You can find the logo here: https://www.sho.com/www/sho/lib/assets/svg/showtime-logo.svg

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-25 03:59] NovaGL commented on #3496
Color: `#f16a24`
Thanks for the request. Do you think you would be up to trying to do a pull request?
I would actually use this image instead - https://www.bugcrowd.com/wp-content/uploads/2019/04/bugcrowd-logo.svg

The favicon however has a different icon, can you advise which is the correct one?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CO

[2020-08-25 11:46] KarthikNayak024 commented on #3475
I did not understand how to do this. Can you please help with this step @NovaGL ?

[2020-08-25 11:49] NovaGL commented on #3475
Try opening it in inkscape that's how I do it

[2020-08-25 14:46] KarthikNayak024 commented on #3475
Thanks, but there is width and height property got inserted in the SVG tag. Is that fine?

[2020-08-25 19:50] ayulockin commented on #3490
I tried doing some edits and followed your guide. But there are a few things that I don't quite get. Like `Merge any overlapping paths`, `Compound all paths into one`, etc. I am not familiar with them.

Is it a possibility that you can add the icon? In case this is a lot to ask I would understand. Sorry to bother.

[2020-08-25 19:54] ayulockin commented on #3490
Regarding edits, I just needed the logo and not the `Weights and Biases` text. Also to give context, I need this to build a custom GitHub badge using [shields.io](https://shields.io/), since they have mentioned the use of simple-icons.

![image](https://user-images.githubusercontent.com/31141479/91221124-d7088280-e73a-11ea-9d06-18bbacf94e9e.png)

[2020-08-26 02:48] NovaGL commented on #3475
No it's not, if you're not sure look at how other icons are formatted and make sure if you run it through SVGOMG or similar.

[2020-08-26 03:01] NovaGL commented on #3488
Thanks for this.

Unfortunately there is an ongoing discussion meaning no further JetBrains icons can be added until it is resolved.
Please see #3370

When it is resolved we could potentially use this SVG

``xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Rider Icon</title>
  <path d="M6.6055 7.9817h-2.312V5.1193h2.202c1

[2020-08-26 03:05] Ayfri commented on #3488
Okay I'll wait so ^^

[2020-08-26 09:33] Mearman opened #3500 "Coloured icons"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [x] The Packagist Package

### Description
I'd love to use your logos with colour in my GFM but as far as I'm aware github won't allow styling.
Would it be possible to have a URL variant that includes the colour in the SVG path.

For example with MongoDB including the `#47A

[2020-08-26 10:33] NovaGL commented on #3500
Thanks for the request, similar things have been brought up in the past.

This project is merely to provide you with the icons anything you do beyond that is upto you.

[2020-08-26 10:42] runxel commented on #3490
Don't worry! We will at some point – it just might take some time. We have quite a backlog and time is sparse right now.
So if it is urgent it's always faster to hand in a PR.
But again, don't worry, we will add the icon.
Bear in mind that after we added it it still takes some time to get it into shields.io, since they only update their dependencies once a month or so.

[2020-08-26 13:17] Mearman opened #3501 "UnRAID logo"
**Name:** Unraid
**Website:** https://unraid.net/
**Alexa rank:** 39,298 https://www.alexa.com/siteinfo/unraid.net

**Official resources for icon and color:**

  https://craftassets.unraid.net/uploads/logos/unraid-stacked-dark.svg

[2020-08-26 13:52] xneo1 opened #3502 "Icon Request: Organizr"
**Name: Organizr**
**Website: https://github.com/causefx/Organizr**
**Alexa rank:*-*

**Official resources for icon and color: https://github.com/causefx/Organizr**

[2020-08-26 14:00] xneo1 opened #3503 "Icon Request: Tile"
**Name: Tile**
**Website: https://www.thetileapp.com/en-us/**
**Alexa rank: 58335**

**Official resources for icon and color: https://www.thetileapp.com/en-us/**

[2020-08-27 03:18] NovaGL commented on #3501
Color: `#e32929` or `#ff8d30`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-27 03:20] NovaGL commented on #3502
With an Alexa ranking of `1,199,259` this is well outside the scope of 500K
https://www.alexa.com/siteinfo/organizr.app

We can keep an eye on it and revisit it in the future if it gets closer. Do you have any other metrics we can look at in the mean time?

[2020-08-27 03:22] NovaGL commented on #3503
Color:  `#000000`

Thanks for the request. Do you think you would be up to trying to do a pull request?

The logo is embedded in the site you mentioned

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-27 03:44] KarthikNayak024 commented on #3462
This icon uses gradient colors. So what should I mention in for the colors in the JSON file?

[2020-08-27 04:16] KarthikNayak024 opened #3504 "Is it possible to add Flags of different countries?"
**Name:** Flags of countries
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

Sometimes people use the flag of countries in their project. Can we provide flags of countries here?

[2020-08-27 10:24] runxel commented on #3462
I'd use the color from the twitter profile. It has no gradient.

[2020-08-27 10:30] karmanya007 opened #3505 "Icon for SPOJ"
**Name: Sphere online judge**
**Website:https://www.spoj.com/**
**Alexa rank:54,817**

**Official resources for icon and color:**

[2020-08-27 11:27] OOQQ opened #3506 "Add p5.js"
**Name:** p5.js
**Website:** https://p5js.org/
**Alexa rank:** 38.638

**Checklist**
- I optimized the icon with SVGO or SVGOMG
- The SVG viewbox is 0 0 24 24

**Description**
The famous Processing vector library ported to javascript and the HTML5 <canvas> element for embedding.
[p5js.svg.zip](https://github.com/simple-icons/simple-icons/files/5136061/p5js.svg.zip)

[2020-08-27 11:29] #3506 closed

[2020-08-27 11:29] OOQQ commented on #3506
wrong place

[2020-08-27 12:22] azhar22k opened #3508 "Superset"
**Name:*Superset*
**Website:*https://superset.incubator.apache.org*
**Alexa rank:*2,167*

**Official resources for icon and color:*https://superset.incubator.apache.org/_images/s.png*

[2020-08-28 02:32] NovaGL commented on #3504
Thanks for the request. I'm sure there are other projects that might do this but this repo is purely related to brands.
As you can understand we can't include everything.

[2020-08-28 04:27] miZyind opened #3510 "Add BlueprintJS icon"
![](https://cloud.githubusercontent.com/assets/464822/20228152/d3f36dc2-a804-11e6-80ff-51ada2d13ea7.png)
**Name: BlueprintJS**
**Website: https://blueprintjs.com**
**GitHub: https://github.com/palantir/blueprint (16.6k stars)**
**Alexa rank: [~192k](https://www.alexa.com/siteinfo/blueprintjs.com)**
**Official resources for icon and color:**
I can only find the PNG icon in their repo. But there is

[2020-08-28 04:42] #3504 closed

[2020-08-28 07:44] ayulockin commented on #3490
Thank you for this. 💯

[2020-08-28 08:15] gizmecano commented on #3504
I personally think that it would be very difficult (and probably erroneous) to consider including flags (where color palette is obviously significant) in a project where icons are meant to be monochromatic.

If you look for flags ported to `svg` format, you can take a look to other projects such as:

1. https://github.com/hjnilsson/country-flags
2. https://github.com/lipis/flag-icon-css
3. https:/

[2020-08-28 10:49] runxel commented on #3508
Vector Logo at https://apache.org/logos/#super
(looks a bit different tho)

[2020-08-29 19:44] bettker opened #3511 "Request: Lattes Icon"
**Name:** Plataforma Lattes
**Website:** http://www.lattes.cnpq.br/
**Alexa rank:** 11,359

**Official resources for icon and color:** http://buscatextual.cnpq.br/buscatextual/images/v2/fav_ico_lattes.ico

[2020-08-30 01:02] sheef-code opened #3514 "Chart.JS icon"
**Name:Chart JS**
**Website:https://www.chartjs.org/**
**Alexa rank: 12,269**

**Official resources for icon and color:https://www.chartjs.org/img/chartjs-logo.svg**

[2020-08-30 01:56] creepertron95 opened #3515 "Icon Request: Ren'Py"
**Name:** Ren'Py
**Website:** https://www.renpy.org/
**Alexa rank:**[104,196](https://www.alexa.com/siteinfo/renpy.org)

**Official resources for icon and color:**
https://www.renpy.org/static/index-logo.png
https://github.com/renpy/renpy/blob/master/sphinx/source/logo.png

[2020-08-30 07:50] Karthik-Nayak98 opened #3516 "Rolls-Royce Motor cars"
**Name:** Rolls-Royce
**Website:** https://www.rolls-roycemotorcars.com/
**Alexa rank:** 56,266

**Official resources for icon and color:**

[2020-08-30 15:02] thejayduck opened #3517 "Icon Request: MediBangPaint Pro"
**Name:** MediBangPaint Pro
**Website:** https://medibangpaint.com/en/
**Alexa rank:** [46,164](https://www.alexa.com/siteinfo/medibangpaint.com)

**Official resources for icon and color:** https://logodix.com/logo/2136003.png

[2020-08-30 16:58] huaqiwen opened #3518 "Request: AWS DynamoDB Icon"
**Name:** DynamoDB (AWS)
**Website:** aws.amazon.com/dynamodb
**Alexa rank:**

**Official resources for icon and color:** https://iconify.design/icon-sets/logos/aws-dynamodb.html

[2020-08-30 22:27] andzah37 opened #3519 "suede"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-08-31 00:12] uselessscat opened #3521 "Request: FastAPI Icon"
**Name:** FastAPI
**Website:** [https://fastapi.tiangolo.com/](https://fastapi.tiangolo.com/) (Docs)
**Alexa rank:** 55,319 (tiangolo.com)

**Official resources for icon and color:** [https://github.com/tiangolo/fastapi/tree/master/docs/en/docs/img](https://github.com/tiangolo/fastapi/tree/master/docs/en/docs/img)

[2020-08-31 00:44] #3500 closed

[2020-08-31 00:46] NovaGL commented on #3515
I think this logo would be very difficult to convert to monochrome. If you want to have a go feel free.

[2020-08-31 05:00] NovaGL commented on #3516
Thanks for the request. Do you think you would be up to trying to do a pull request?

You can use this icon.
[code]
Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-08-31 05:25] NovaGL commented on #3516
Just create a branch with range rover. We'll review them when we can

[2020-08-31 05:26] KarthikNayak024 commented on #3516
Okay sure. Thanks

[2020-08-31 06:12] azhar22k commented on #3508
Hmm. Looks like they follow the theme colours on different webs. The one I added is from their official product's Github repo.
I think we can use any of them as the shape and design are same and both from official sources

[2020-08-31 06:19] runxel commented on #3519
@andzah37 Hi, could you please fill out the form? Thanks!

[2020-09-01 07:45] anatawa12 opened #3524 "Icon request: CurseForge"
**Name:** curseforge
**Website:** [curseforge.com](https://curseforge.com/)
**Alexa rank:** This site ranks: # 1,374 in global internet engagement

**Official resources for icon and color:**

[2020-09-01 10:41] bznein opened #3525 "Request: Lichess icon"
**Name:**
Lichess
**Website:**
Lichess.org
**Alexa rank:**
1223

**Official resources for icon and color:**

  https://lichess.cdn.prismic.io/lichess/1599c13f-65c0-432d-8545-511cd8f5b0bd_Press+Kit+2020+Images.zip

[2020-09-01 14:13] tbuteler opened #3526 "Request: Clubhouse.io"
**Name:** Clubhouse
**Website:** https://clubhouse.io/
**Alexa rank:** ~7,727 (https://www.alexa.com/siteinfo/clubhouse.io)

**Official resources for icon and color:**
https://brand.clubhouse.io/

[2020-09-01 15:34] MysteriousKyle opened #3527 "Songoda Icon Request"
**Name:** Songoda
**Website:** https://songoda.com
**Alexa rank:** [344,883](https://www.alexa.com/siteinfo/songoda.com)

**Official resources for icon and color: https://songoda.com/branding**

  **Other Information:** If additional information is needed, please feel free to contact me here or on discord @MysteriousKyle#9389

[2020-09-01 18:54] bobartlett opened #3528 "Playstation 5"
**Name:** PlayStation 5
**Website:** https://www.playstation.com/en-us/ps5/
**Alexa rank:** 485
**Official resources for icon and color:** They don't seem to be public which might be an issue

[2020-09-02 05:20] NovaGL commented on #3526
Color:  `#6515dd`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-02 05:23] NovaGL commented on #3524
Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

Icon: https://www.curseforge.com/Content/2-0-7494-36325/Skins/CurseForge/images/anvil.svg
Color: `#6441A4`

[2020-09-02 09:20] tbuteler commented on #3526
@NovaGL I'll give it a shot, sure!

[2020-09-02 09:39] creekorful commented on #3337
I would definitely love to see this icon in the pack!

[2020-09-02 10:49] rajrohanyadav opened #3529 "Request: NumPy Icon"
**Name:**NumPy
**Website:**https://numpy.org/
**Alexa rank:**14,027

**Official resources for icon and color:**

https://numpy.org/images/logos/numpy.svg

[2020-09-03 04:16] NovaGL commented on #3529
Color:  `#4d77cf` or `#4dabcf`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-03 04:36] rajrohanyadav commented on #3529
Yes @NovaGL I want to give it a shot.

[2020-09-03 08:52] rajrohanyadav commented on #3529
Hey @NovaGL,
I gave it a shot, thanks for asking.
I'm a newbie, & need a little advice: Do I write this sort of message after creating a PR, or is it not needed/unprofessional.
Thanks anyways.

[2020-09-03 08:55] NovaGL commented on #3529
There's no right or wrong way. Just create a PR and I'll let you know if it needs changes. As you can see it's a bit slow around here so might take awhile to get approved

[2020-09-03 09:07] runxel opened #3532 "New Icon: ngrok"
**Name:** ngrok
**Website:** https://ngrok.com/
**Alexa rank:** [~27k](https://www.alexa.com/siteinfo/ngrok.com)

**Official resources for icon and color:** In [header](https://ngrok.com/static/img/ngrok-black.svg), color is either black, or `#1F1E37`.

[2020-09-03 09:11] rajrohanyadav commented on #3529
Thankyou,
I figured what was wrong, and made necessary changes. Probably all is fine now.

[2020-09-05 06:35] #3354 closed

[2020-09-05 14:19] p014ri5 commented on #3496
I think the favicon one is the correct one as the merchandise and swag they distribute has the favicon like logo.

[2020-09-06 07:37] NovaGL commented on #3525
Color: `#000000`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-06 07:46] NovaGL commented on #3477
The logo is located on the page
https://1amiydhcmj36tz3733v94f15-wpengine.netdna-ssl.com/wp-content/themes/snowflake/assets/img/logo-blue.svg
Color:  `#29B5E8`

Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-07 01:10] remjx opened #3536 "Request: Bitcoin SV icon"
![image](https://user-images.githubusercontent.com/35121685/92339823-ffbb4100-f085-11ea-8261-20d1709d9f77.png)

**Name:** Bitcoin SV
**Website:** No official website since it is a decentralized network
**Alexa rank:** N/A but network is valued at $3B+, see: http://coinmarketcap.com/
**Official resources for icon and color:**
https://bitcoinassociation.net/media-assets/

There are multiple options,

[2020-09-07 01:13] remjx opened #3537 "Request: Bitcoin Cash icon"
![image](https://user-images.githubusercontent.com/35121685/92339796-c5ea3a80-f085-11ea-87e8-5d7db6b3b37c.png)

**Name:** Bitcoin Cash
**Website:** No official website since it is a decentralized network
**Alexa rank:** N/A but network is valued at $4B+, see: http://coinmarketcap.com/
**Official resources for icon and color:**
https://www.bitcoincash.org/graphics.html

[2020-09-07 02:21] Jarmos-san commented on #3191
The color is recognizable enough in my opinion. Besides can we have an update on when the PR #3421 be merged?

[2020-09-07 13:04] yenkhoon opened #3538 "Request: Alibaba Cloud"
![](https://seeklogo.com/images/A/alibaba-cloud-logo-898D58C1CE-seeklogo.com.png)

**Name:** Alibaba Cloud
**Website:** alibabacloud.com
**Alexa rank:** 6158

**Official resources for icon and color:** grey and white

[2020-09-07 13:23] digitalpenguin opened #3539 "New Icon: MODX"
**Name:** MODX
**Website:** https://modx.com
**Alexa rank:** 105,917

The same icon that comes with Font Awesome: https://fontawesome.com/icons/modx?style=brands

[2020-09-07 15:40] Steeff0 opened #3540 "Notepad++ icon"
**Name:** Notepad++
**Website:** https://notepad-plus-plus.org/
**Alexa rank:** 6,147

**Official resources for icon and color:**
https://github.com/notepad-plus-plus/notepad-plus-plus/tree/master/PowerEditor/misc/chameleon

[2020-09-07 18:37] AMartinNo1 commented on #3359
A quick update: SVG looks fine to me. Will prepare a PR asap 😃

[2020-09-08 03:09] NovaGL commented on #3539
We require the source to be from the company directly. Although you could ask one of the other maintainers if Font Awesome is an exception.

You can use the icon from here https://modx.com/assets/themes/manana/images/logo.svg

Color:  `#102C53`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-i

[2020-09-08 03:12] NovaGL commented on #3536
Can I ask why you want multiple vairants of the bitcoin logo?
#3537

Also if you are linking to a website you need to write that brands Alexa rank.

[2020-09-08 03:19] NovaGL commented on #3540
Color: `#90e59a`

Thanks for the request. Do you think you would be up to trying to do a pull request?

You can use this svg if you like.

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[code]

[2020-09-08 04:32] markjackson02 commented on #3536
Bitcoin, Bitcoin Cash, and Bitcoin SV are separate blockchains

[2020-09-08 11:21] MatthewReid854 opened #3541 "Request: Open Source Licenses"
As many simple icons are used by shields.io to incorporate into their badges, and many developers use a badge to show their open source license, it would be great to have simple icons for the most common open source licenses.

Resources for icons:
GNU license logos: https://www.gnu.org/graphics/license-logos.html
MIT Logo: https://en.wikipedia.org/wiki/MIT_License#/media/File:MIT_logo.svg
Apache L

[2020-09-08 19:01] mic-ray commented on #3401
Hey @NovaGL do you mind if I give it a try? :smile:

[2020-09-08 22:49] NovaGL commented on #3401
That would be great. Thanks

[2020-09-09 09:24] Corefinder89 opened #3543 "Request of icon for restful API"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-09-09 09:24] Corefinder89 opened #3544 "Selenium"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-09-09 23:49] NovaGL commented on #3544
Please fill in the requested information so we can look into your request.

[2020-09-09 23:49] NovaGL commented on #3543
Please fill in the requested information so we can look into your request

[2020-09-10 11:30] HariSekhon opened #3545 "Icon Request: Apache Hive"
**Name:** Apache Hive
**Website:** https://hive.apache.org/
**Alexa rank:** 2,313 (as of 2020-09-10)

**Official resources for icon and color:**

[2020-09-10 11:31] HariSekhon opened #3546 "Icon Request: Apache Impala"
**Name:** Apache Impala
**Website:** https://impala.apache.org/
**Alexa rank:** 2,313 (as of 2020-09-10)

**Official resources for icon and color:**

[2020-09-10 11:33] HariSekhon opened #3547 "Icon Request: Apache Drill"
**Name:** Apache Drill
**Website:** http://drill.apache.org/
**Alexa rank:** 2,313 (as of 2020-09-10)

**Official resources for icon and color:**

[2020-09-10 11:36] HariSekhon opened #3548 "Icon Request: Apache Hadoop"
**Name:** Apache Hadoop
**Website:** https://hadoop.apache.org/
**Alexa rank:** 2,313 (as of 2020-09-10)

**Official resources for icon and color:**

[2020-09-10 13:48] chiqors opened #3549 "Icon Request: Laravel Livewire"
**Name:** Laravel Livewire
**Website:** https://laravel-livewire.com/
**Alexa rank:** 47,358 (as of 2020-09-10)

[2020-09-10 19:22] ChrisMaunder opened #3550 "CodeProject SVG icon"
**Name:**: CodeProject
**Website:** https://codeproject.com
**Alexa rank:** #2,514

**Official resources for icon and color:**  <a href="https://www.codeproject.com/images/codeproject.svg">SVG  Icon</a>

[2020-09-11 02:01] NovaGL commented on #3550
Color:  `#C3DE6C`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-11 02:08] NovaGL commented on #3549
Colors `#4e56a6` or `#e24ca6`
I think you could fix up this logo.
Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[code]

[2020-09-11 05:14] creepertron95 opened #3552 "Icon Request: Rainmeter"
**Name:** Rainmeter
**Website:** https://www.rainmeter.net/
**Alexa rank:** [42,670](https://www.alexa.com/siteinfo/rainmeter.net)

**Official resources for icon and color:** https://github.com/rainmeter/rainmeter-www/tree/master/source/img

[2020-09-11 05:17] creepertron95 opened #3553 "Icon Request: Iconfinder"
**Name:** Iconfinder
**Website:** https://www.iconfinder.com/
**Alexa rank:** [5,661](https://www.alexa.com/siteinfo/iconfinder.com)

**Official resources for icon and color:** https://www.iconfinder.com/p/about

[2020-09-11 21:33] #3515 closed

[2020-09-12 07:23] fourjr opened #3556 "Request: Google Apps Script Icon"
**Name: Google Apps Script**
**Website: https://script.google.com/**
**Alexa rank: 1**

**Official resources for icon and color:**
https://worldvectorlogo.com/logo/google-apps-script

https://www.gstatic.com/images/branding/product/2x/apps_script_48dp.png

[2020-09-12 11:15] salifm commented on #3491
The current Alexa rank is 467,666

[2020-09-13 10:08] mishajib opened #3561 "want phpstorm icon please add php storm ide icon"
**Name:** PHPSTORM
**Website:** https://www.jetbrains.com/phpstorm/
**Alexa rank:**

**Official resources for icon and color:**
**Icon Url: **https://resources.jetbrains.com/storage/products/phpstorm/img/meta/phpstorm_logo_300x300.png

[2020-09-13 19:01] duythanhvn opened #3562 "Request: Google Domains Icon"
**Name:** Google Domain
**Website:** https://domains.google/
**Alexa rank:** https://www.alexa.com/siteinfo/domains.google

**Official resources for icon and color:** None

[2020-09-14 18:33] duythanhvn opened #3564 "Request: edX Icon"
**Name:** edX
**Website:** https://www.edx.org/
**Alexa rank:** https://www.alexa.com/siteinfo/edx.org

**Official resources for icon and color:** https://www.edx.org/media-kit

[2020-09-14 18:38] duythanhvn opened #3565 "Request: Future Learn Icon"
**Name:** Future Learn
**Website:** https://www.futurelearn.com/
**Alexa rank:** https://www.alexa.com/siteinfo/futurelearn.com

**Official resources for icon and color:** None

[2020-09-15 03:10] NovaGL commented on #3564
Duplicate of #3340

[2020-09-15 03:10] #3564 closed

[2020-09-15 03:12] NovaGL commented on #3565
Color:  `#DE00A5`

Thanks for the request. Do you think you would be up to trying to do a pull request?
The logo is located here: https://assets.futurelearn.com/packs/app/assets/images/fl_logo-f9d7f37a61915a2fbf8a26cbb285fed0.svg

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-15 12:18] rakeshvadnala opened #3566 "sololearn"
Name: sololearn
Website: sololearn.com
**Alexa rank:**

**Official resources for icon and color:**

[2020-09-16 01:22] jmknoble opened #3567 "Request EditorConfig logo"
**Name:** EditorConfig
**Website:** https://editorconfig.org/
**Alexa rank:** [290,598](https://www.alexa.com/siteinfo/editorconfig.org)

**Rationale:** Similar in character to https://simpleicons.org/?q=pre-commit

**Official resources for icon and color:** https://github.com/editorconfig/editorconfig.github.com/blob/master/logo.png

[2020-09-16 13:06] rajrohanyadav opened #3568 "Request: Ookla Speed Test Icon"
**Name:** Ookla Speedtest
**Website:** https://www.speedtest.net/
**Alexa rank:** 149

**Official resources for icon and color:**

  https://www.speedtest.net/s/images/ookla/index/gauge-blue-1x.png

[2020-09-16 14:51] ericcornelissen commented on #3358
Closed with #3417

[2020-09-16 14:51] #3358 closed

[2020-09-16 17:30] #3420 closed

[2020-09-16 18:06] HariSekhon opened #3569 "Icon Request: Presto SQL"
**Name:** Presto SQL
**Website:** https://prestodb.io/
**Alexa rank:** 125,234 (as of 2020-09-16)

**Official resources for icon and color:**

[2020-09-16 18:09] HariSekhon opened #3570 "Icon Request: Couchbase"
**Name:** Couchbase
**Website:** https://www.couchbase.com/
**Alexa rank:** 68,510 (as of 2020-09-16)

**Official resources for icon and color:**

[2020-09-16 18:12] swaylock opened #3571 "Substack"
**Name:** Substack
**Website:** https://substack.com/
**Alexa rank:**3,832

**Official resources for icon and color:**

  n/a

[2020-09-17 07:22] NovaGL commented on #3561
PR already exists and listed in issue #625

[2020-09-17 07:22] #3561 closed

[2020-09-17 07:25] NovaGL commented on #3570
Icon: https://www.couchbase.com/webfiles/1597881891348/images/couchbase_logo_black.svg
Color: `#ea2328`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-17 07:32] NovaGL commented on #3568
Color:  `#9193a8`

Thanks for the request. Do you think you would be up to trying to do a pull request?

Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.
[code]

[2020-09-17 09:47] #3191 closed

[2020-09-17 09:48] ericcornelissen commented on #3191
@Jarmos-san #3421 has just been merged and will be included in the next release (scheduled for September 20)

[2020-09-17 09:57] #2976 closed

[2020-09-17 10:02] #2157 closed

[2020-09-17 14:49] #3529 closed

[2020-09-17 14:51] ericcornelissen commented on #3408
Seems #3529 was a duplicate of this :sweat_smile: Anyway, with #3531 merge the NumPy icon will be available with the next release :smiley:

[2020-09-17 14:51] #3408 closed

[2020-09-18 04:19] gmpravin opened #3573 "Add React native icon"
Name: React Native
Website: https://reactnative.dev
Alexa ranking: 15,030 => https://www.alexa.com/siteinfo/reactnative.dev

[2020-09-18 04:40] NovaGL commented on #3566
Alexa Rank = 7694
Color:  `#333`

Thanks for the request. Do you think you would be up to trying to do a pull request?
You can use this SVG, not sure if the above color is correct, choose the most appropriate one.

[code]
Please see the [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you are upto it.

[2020-09-18 06:44] amitbhoraniya opened #3574 "Request for Selenium Logo"
**Name:** Selenium
**Website:** https://www.selenium.dev/
**Alexa rank:** 25,992

**Official resources for icon and color:**
https://www.selenium.dev/
https://www.selenium.dev/images/selenium_logo_large.png
https://www.selenium.dev/images/selenium_logo_square_green.png

[2020-09-18 08:40] #1982 closed

[2020-09-19 08:06] andfanilo opened #3575 "Request: Streamlit Icon"
**Name:** Streamlit
**Website:** https://www.streamlit.io
**Alexa rank:** 140 000

**Official resources for icon and color:** https://www.streamlit.io/brand

[2020-09-19 08:06] andfanilo commented on #3575
Hello,

I'm acting here as a Streamlit Community Manager, and will create a PR for the issue with icon and color on behalf of the team. Feel free to check with @randyzwitch, Head of Developer Relations at Streamlit!

Regards,
Fanilo

[2020-09-19 10:00] TheColdPot opened #3576 "Request: Gitee Icon (China)"
**Name:** gitee
**Website:** https://gitee.com
**Alexa rank:** 6,454 (International Rank)

**Official resources for icon and color:** https://gitee.com/static/images/logo.svg

[2020-09-19 10:02] TheColdPot commented on #3576
I did not see this logo, but there is a svg format of the logo here

[2020-09-19 14:50] hgunay opened #3577 "Request: Corsair"
**Name:** Corsair
**Website:** https://www.corsair.com/
**Alexa rank:** 4,904

**Official resources for icon and color:**
https://www.corsair.com/_ui/responsive/common/images/corsair-logo.svg
https://www.corsair.com/_ui/responsive/theme-alpha/images/favicon.ico

[2020-09-19 17:25] NikhilCodes opened #3578 "Requesting PoP!_os icon"
**Name:** Pop!_os
**Website:** https://pop.system76.com/
**Alexa rank:** 67,788

**Official resources for icon and color:**
![Pop Logo](https://upload.wikimedia.org/wikipedia/commons/c/c5/Pop_OS-Logo-nobg.svg)

[2020-09-19 19:43] neilroy1998 opened #3579 "MIT (Massachusetts Institute of Technology)"
**Name:** MIT (Massachusetts Institute of Technology)
**Website:** https://www.mit.edu/
**Alexa rank:** 546
**Why?:** For MIT license

**Official resources for icon and color:** [File:MIT logo.svg - Wikimedia Commons](https://commons.wikimedia.org/wiki/File:MIT_logo.svg)

[2020-09-20 05:21] Corefinder89 commented on #3543
Name: REST API
Official resources for icon and colour: Not getting an official resource

[2020-09-20 05:21] Corefinder89 commented on #3543
Closing issue

[2020-09-20 05:21] #3543 closed

[2020-09-20 05:26] Corefinder89 commented on #3544
Name: Selenium
Website: https://www.selenium.dev/
Official resources for icon and color: https://www.selenium.dev/images/selenium_logo_square_green.png

[2020-09-20 10:26] NovaGL commented on #3578
Please fill in all the information so we can look. At this request

[2020-09-20 11:17] NikhilCodes commented on #3578
Comment updated now!!

[2020-09-20 16:09] Souravdey777 opened #3581 "Devpost"
**Name: Devpost**
**Website: www.devpost.com**
**Alexa rank: 18018**

**Official resources for icon and color: www.devpost.com color is blue and white**

[2020-09-21 07:15] NovaGL commented on #3581
Duplicate of #3484

[2020-09-21 07:15] #3581 closed

[2020-09-21 07:24] boopathirbk opened #3582 "Postmates Icon"
**Name:** Postmates
**Website:** https://postmates.com/
**Alexa rank:** 6,097

**Official resources for icon and color:**
https://support.postmates.com/merchant/articles/226620048-article-Add-the-Postmates-order-button-to-your-website

[2020-09-21 07:30] boopathirbk opened #3583 "DoorDash Icon"
**Name:** DoorDash
**Website:** https://www.doordash.com/
**Alexa rank:** #803

**Official resources for icon and color:**
https://www.doordash.com/buttons/
https://drive.google.com/file/d/1R9sAcPYxs3zBlFcGP1IkRY4L1Elbmq2O/view

[2020-09-21 07:38] boopathirbk opened #3584 "Grubhub Icon"
**Name:** Grubhub
**Website:** https://www.grubhub.com/
**Alexa rank:** 1,592

**Official resources for icon and color:**
https://media.grubhub.com/media/logos/default.aspx

[2020-09-21 22:00] sjstark commented on #1984
Was about to make a request for the following before I found this existing issue:
[Vectorworks](https://www.vectorworks.net/en-US): [Alexa Rank 137,530](https://www.alexa.com/siteinfo/vectorworks.net)
[Full White SVG Found](https://www.vectorworks.net/cached/themes/vectorworks_redesign_2018/assets/images/logos/vw-logo-full.svg)
Trailing text would need to be clipped

[Solidworks](https://www.solid

[2020-09-21 22:39] sjstark opened #3585 "Nike Logo Request"
**Name:** Nike
**Website:** https://www.nike.com/
**Alexa rank:** 350

**Official resources for icon and color:**

[SVG from website header](https://www.nike.com/)

[code]

[2020-09-22 21:35] loveswingers opened #3588 "Icon Request: Only Fans"
**Name:** OnlyFans
**Website:** https://onlyfans.com/
**Alexa rank:** #527

I understand this icon is a little 'taboo' due to the nature of the content involved, however this alongside other alternative industries are a huge part of our economy and lifestyle, so I believe they should be included regardless of their stigma. I hope you'll consider it :-) The site is 7 years old and is extremely popu

[2020-09-22 21:55] runxel commented on #3588
I agree on this one, mostly because the intended purpose was always "for everything", not just "the thing". ;)

[2020-09-22 21:57] runxel commented on #3579
Duplicate of #3541.

[2020-09-22 21:57] #3579 closed

[2020-09-23 08:56] ChristianOellers opened #3589 "Rename Postwoman"
**Name:**

The brand 'Postwoman' has been renamed to Hoppscotch. Logo and color have been kept same.

**Official resources:**

- Old domain: https://postwoman.io/
- New domain: https://hoppscotch.io/

[2020-09-23 12:31] runxel commented on #3589
Thanks @ChristianOellers for letting us know!
This can be targeted in the next major version.

[2020-09-24 01:54] sjstark commented on #3585
I've started to work on this, however, the logo is giving my some problems. I've been using inkscape to format other SVG's but every method I've tried with this logo ends up not having the correct size.

`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Nike icon</title><path d="M24 7.8L6.442 15.276q-2.184.924-3.669.924-1.68 0-2.436-1.176-.476-.756-.28-1.918.196-1.162

[2020-09-24 08:02] JianChuanting opened #3590 "Icon request: Apache Kylin"
**Name:** Apache kylin
**Website:** https://kylin.apache.org/
**Alexa rank:** 4,538,925

**Official resources for icon and color:** https://github.com/apache/kylin/blob/master/webapp/app/image/logo.png

[2020-09-24 16:56] mperiasa2 opened #3591 "Request: Apache ZooKeeper"
Name: Apache ZooKeeper
URL: http://zookeeper.apache.org/
Icon Reference: https://apache.org/logos/#zookeeper

[2020-09-24 17:00] mperiasa2 opened #3592 "Request: ArangoDB"
Name: ArangoDB
Website: https://www.arangodb.com/
Icon Reference: https://www.arangodb.com/logos/

[2020-09-24 20:30] JoaoPedroMoraes commented on #3570
I would like to take this PR!

[2020-09-24 20:32] JoaoPedroMoraes commented on #3565
I would like to take this pr

[2020-09-24 20:35] JoaoPedroMoraes commented on #3443
I would like to take this pr

[2020-09-24 20:36] JoaoPedroMoraes commented on #3401
I would like to take this pr

[2020-09-24 20:38] JoaoPedroMoraes commented on #3387
I would like to take this pr

[2020-09-24 20:39] JoaoPedroMoraes commented on #3360
I would like to take this pr

[2020-09-24 20:40] JoaoPedroMoraes commented on #3341
I would like to take this pr

[2020-09-24 20:53] ericcornelissen commented on #3341
Great @JoaoPedroMoraes :smile: I assigned you to the issue so that other can easily find that out as well :+1:

[2020-09-25 06:19] max-programming opened #3593 "Shotcut video editor"
**Name:** Shotcut
**Website:** http://shotcut.org/
**Alexa rank:** 16.9 k

**Official resources for icon and color:**

[Shotcut logo](https://www.shotcut.org/assets/img/media/shotcut-logo-512x512.png)
Brand color: #115C77

[2020-09-25 13:55] runxel commented on #3443
Sure! Go ahead :)

[2020-09-25 13:56] runxel commented on #3591
This one might be pretty hard to make monochrome...

[2020-09-25 13:58] runxel commented on #3585
@sjstark Try a bigger precision for svgo.

[2020-09-25 14:00] MiguelMJ opened #3594 "Request: SFML icon"
**Name:** SFML
**Website:** https://www.sfml-dev.org/
**Alexa rank:** 385,884

**Official resources for icon and color:**

  https://www.sfml-dev.org/download/goodies/
  https://www.sfml-dev.org/download/goodies/sfml-icon.svg

[2020-09-25 14:08] #3414 closed

[2020-09-25 14:10] #3415 closed

[2020-09-25 14:26] #3117 closed

[2020-09-25 14:42] #3553 closed

[2020-09-25 16:00] #3049 closed

[2020-09-25 16:03] #3416 closed

[2020-09-25 16:16] service-paradis commented on #3540
@NovaGL I gave it a try:
https://github.com/simple-icons/simple-icons/pull/3595

[2020-09-25 16:32] sjstark commented on #3585
@runxel I _think_ I've tried that, but could have not done it correctly at multiple steps (one of my first attempts).

Just to be clear the CLI command I'm running is `npm run svgo --precision=10 icons/nike.svg` I tried this with a precision of 3 first with no luck.

I've also tried the online SVGOMG with precision 3 with no luck. Not exactly sure what's happening since both before and after the o

[2020-09-25 17:44] creepertron95 commented on #3591
@runxel Should we approach this design like the [Ren'Py icon](https://github.com/simple-icons/simple-icons/blob/develop/icons/renpy.svg)

[2020-09-25 20:45] creepertron95 commented on #2887
The [Groovy](https://simpleicons.org/icons/groovy.svg) icon should be renamed to [Apache Groovy](https://apache.org/logos/#groovy).

[2020-09-25 21:15] runxel opened #3596 "Rename Groovy"
The [Groovy](https://simpleicons.org/icons/groovy.svg) icon should be renamed to [Apache Groovy](https://apache.org/logos/#groovy).

_Originally posted by @creepertron95 in https://github.com/simple-icons/simple-icons/issues/2887#issuecomment-699146598_

[2020-09-26 00:58] creepertron95 opened #3597 "Request: Oracle VM VirtualBox"
**Name:** Oracle VM VirtualBox (It's usually also referred to as VirtualBox as well, Should the brand be called that instead?)
**Website:** https://www.virtualbox.org/
**Alexa rank:** [9,427](https://www.alexa.com/siteinfo/virtualbox.org)

**Official resources for icon and color:** I wasn't sure about this one, I found this on [Wikipedia sourced from the application icon of Virtualbox](https://en.

[2020-09-26 14:12] ColleSerre opened #3598 "kahoot!"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-09-26 17:10] creepertron95 commented on #3598
***Name:*** Kahoot!
***Website:*** kahoot.com
***Alexa rank:*** [3,150](https://www.alexa.com/siteinfo/kahoot.com)

***Official resources for icon and color:*** https://kahoot.com/library/kahoot-logo/

[2020-09-26 17:43] runxel commented on #3585
Yes. 10 might be a bit excessive. Three works in most cases and seldom we crank it up to 5.
BUT: Neither CLI or online can generate precision out of thin air, so have a look at the export settings from Inkscape. I don't know Inkscape, but I assume it's similar to Illustrator, where you already have to set a precision. Illustrator actually maxes out at 7. So I always export them this way and then t

[2020-09-26 17:43] runxel commented on #3591
Well, would you like to give it a try, @creepertron95? :)

[2020-09-26 17:50] runxel commented on #3592
Hi @mperiasa2, thanks for the request!
I only see raster versions, which means somebody has to vectorize the logo. Also it might be not so easy make it monochrome.
Do you have experience with vector editing and want to give it a try?

---

[Alexa rank](https://www.alexa.com/siteinfo/arangodb.com): ~150k

[2020-09-26 17:55] runxel commented on #3502
Closed due to inactivity and being beyond our scope (currently 2.9k Github stars, which is below our 5k mark).

[2020-09-26 17:55] #3502 closed

[2020-09-26 18:32] IIAIronWolf opened #3599 "Eight Sleep Icon"
**Name:** Eight Sleep
**Website:** https://eightsleep.com
**Alexa rank:** 76,908

**Official resources for icon and color:**

  I'm sure they would be willing to share this with me if needed. Here is an unofficial copy, which I just pulled from their website. I'm really only interested in the '8' and not so much the '8 Eight Sleep', full logo.
[Logo_White.svg.zip](https://github.com/simple-icons/s

[2020-09-26 20:15] scxttd opened #3601 "Request: Google Campaign Manager Icon"
**Name:** Google Campaign Manager
**Website:** https://www.google.com/dfa/trafficking
**Alexa rank:** #1 as it is part of the Google marketing platform

**Official resources for icon and color:** https://www.gstatic.com/analytics-suite/header/suite/v2/ic_campaign_manager.svg

[2020-09-26 20:31] #3540 closed

[2020-09-26 20:37] runxel commented on #3471
That _should_ be enough to be included.
Would you like to give it a try, @Tarun-Kamboj?

[2020-09-26 20:47] #3164 closed

[2020-09-26 20:52] runxel commented on #3479
Closed with #3509.

[2020-09-26 20:52] #3479 closed

[2020-09-26 20:56] runxel commented on #2513
Personally I'd be okay to include icons of those competitions. They _are_ certainly brands on their own.
And yes, I would draw the line with sport clubs, so adding Bayern München is too much, Bundesliga is okay.

[2020-09-26 21:00] #3147 closed

[2020-09-26 21:07] #3122 closed

[2020-09-26 21:20] #3109 closed

[2020-09-26 21:22] #3104 closed

[2020-09-26 22:52] creepertron95 commented on #3597
@runxel What color do you think I should use for this icon?

[2020-09-26 23:00] creepertron95 opened #3604 "Update: Zulip icon"
**Name:** Zulip
**Official resources for icon and color:** https://github.com/zulip/zulip/blob/master/static/images/zulip-logo.svg

[2020-09-26 23:04] creepertron95 opened #3605 "Update: Wattpad Icon"
**Name:** Wattpad
**Official resources for icon and color:** https://company.wattpad.com/media-kit

[2020-09-26 23:13] creepertron95 opened #3606 "Update: Riot has become Element"
**Name:** Element
**Official resources for icon and color:** https://element.io/

[Riot](https://simpleicons.org/icons/riot.svg) has been rebranded to [Element](https://element.io/blog/welcome-to-element/). The old Riot.im is basically depreciated at this point.

[2020-09-27 12:43] runxel commented on #3597
Never heard anybody call it _Oracle_ VirtualBox, so I think VirtualBox on its own is good enough.
Color could be e.g. `#183A61`, which I found is a bit on the more "stable" side of blue-ish colors.
However I really don't know, how a good monochrome treatment would look like...

[2020-09-27 12:49] runxel commented on #3429
Closed due #3498

[2020-09-27 12:49] #3429 closed

[2020-09-27 13:01] #3092 closed

[2020-09-27 13:05] runxel commented on #3606
Vector icon is in website's header.

[2020-09-27 13:10] runxel commented on #1368
The text at the top looks off, right. But otherwise it's fantastic!
If I could add my 2 cents: If you squint your eyes, the lower left corner is a bit to red-ish/orange-ish. Otherwise its great and the randomness is totally okay.

[2020-09-27 13:21] #3526 closed

[2020-09-27 13:32] #3475 closed

[2020-09-27 13:33] #3485 closed

[2020-09-27 13:35] #3524 closed

[2020-09-27 13:41] #3167 closed

[2020-09-27 13:47] #2992 closed

[2020-09-28 16:46] #3597 closed

[2020-09-28 16:46] #3000 closed

[2020-09-28 16:48] #3013 closed

[2020-09-28 16:51] #2962 closed

[2020-09-28 16:56] #3052 closed

[2020-09-28 17:00] #2928 closed

[2020-09-28 17:07] #2821 closed

[2020-09-28 17:08] #3108 closed

[2020-09-28 17:12] #2852 closed

[2020-09-28 17:13] #3099 closed

[2020-09-28 17:15] #3091 closed

[2020-09-28 17:16] #3084 closed

[2020-09-28 17:16] #3062 closed

[2020-09-28 17:19] #3130 closed

[2020-09-28 17:21] #3059 closed

[2020-09-28 17:26] tomlut opened #3610 "dts (sound)"
**Name:**dts
**Website:**https://dts.com/
**Alexa rank:**388,008

**Official resources for icon and color:**https://dts.com/

[2020-09-28 20:01] ayulockin commented on #3490
Sorry to have bothered but is there any update? 😄

[2020-09-28 20:23] runxel commented on #3490
Hey @ayulockin, no there is no update on this that I'm aware.
You're welcomed to hand in a PR yourself! 😊

[2020-09-29 05:03] Anillc opened #3613 "vertx"
**Name:** Vertx
**Website:** [https://vertx.io/](https://vertx.io/)
**Alexa rank:** 311,924

**Official resources for icon and color:** ![](https://vertx.io/assets/logo-sm.png)

[2020-09-29 09:46] HariSekhon opened #3614 "Icon Request: CCMenu"
**Name:** CCMenu
**Website:** http://ccmenu.org/
**Alexa rank:** unknown (this site has just put up a pay barrier) https://www.alexa.com/siteinfo/ccmenu.org

**Official resources for icon and color:**

[2020-09-29 13:50] ramyres110 opened #3615 "Add Nubank Icon to list"
**Name:** Nubank
**Website:** https://nubank.com.br
**Alexa rank:** https://www.alexa.com/siteinfo/nubank.com.br
**Official resources for icon and color:**  https://nubank.com.br/imprensa/

[2020-09-29 13:54] #3458 closed

[2020-09-29 14:09] runxel commented on #3614
Hey @HariSekhon, thanks for your request.
When a website has no Alexa rank this mostly means that there is no significant data of any relevance whatsoever, pushin this one way beyond our scope.
Do you maybe have any other metric we could apply? E.g. download numbers, Github stars, etc.

[2020-09-29 14:12] #3598 closed

[2020-09-29 17:41] duythanhvn commented on #3565
Thanks @JoaoPedroMoraes, feel free to create a PR for this issue.

[2020-09-29 17:51] #3521 closed

[2020-09-30 08:15] thibaultmol commented on #1060
Q: isn't possible to just have a .zip file for each release that contains all the icons as colored svg's? (or png's)

[2020-09-30 19:30] TomerPacific commented on #3596
@runxel , I'd like to help with this issue. Apart from making the necessary changes in the simple-icons.json file and icon itself, is there anything else required?

[2020-09-30 20:59] runxel commented on #3596
Hi @TomerPacific! Thank you so much for offering help! 💯
Hwoever I don't think this particular issue needs your attention. We usually batch-rename all necessary items for a new major version since this makes it easier to keep track of them.
But there are a lot of issues and requests waiting to be done! We always enjoy seeing non-maintainers sending in PRs with new icons! 🤗
Looking forward to your

[2020-09-30 21:08] runxel commented on #1060
Hey @thibaultmol
A: This could be possible indeed. 🤔
We actually have an [action that converts all icons into PDFs](https://github.com/simple-icons/svg-to-pdf-bot). I suppose we could alter that scope to include the color; from my point of view there is no point in having the PDFs to be colorless ("black") as well.
Pinging @ericcornelissen, he has a bit more knowledge there.

[2020-09-30 21:12] ghost opened #3618 "Requesting RedwoodJS Icon"
**Name:** RedwoodJS
**Website:** https://redwoodjs.com/
**Alexa rank:** 439,565

**Official resources for icon and color:** https://redwoodjs.com/logos

[2020-09-30 23:28] service-paradis commented on #3169
Just wanted to let you know that I worked on 4 icons:

1. Amazon icon #3619
2. Firebase icon #3620
3. GitLab icon #3621
4. Firefox Browser Icon #3622

[2020-10-01 06:26] ericcornelissen commented on #1060
tl;dr: it would definitely be possible, but from my point of view that shouldn't be the priority of the maintainers at the moment.

That is indeed correct (though the bot doing that for us has been experiencing some difficulties lately and given that there has been no demand for the PDFs I haven't looked into fixing it). One could definitely use a very similar bot to create colored SVGs and/or (co

[2020-10-01 08:02] graingert opened #3623 "PyCQA: Python Code Quality Authority icon request"
**Name:** PyCQA
**Website:** https://PyCQA.org
**Alexa rank:** 598,088

**Official resources for icon and color:** https://github.com/PyCQA/meta/issues/1#issuecomment-201368468

[2020-10-01 10:28] runxel commented on #3623
Hi @graingert, thanks for the request!
The Alexa rank would put this slightly beyond our scope, but since this is the org behind the Python ecosystem I think it's safe to add.
The logo itself might not be the easiest to make monochrome.

Let's ping @glynnis here, who also has a vector version. 🤗

[2020-10-01 10:29] runxel commented on #3169
Wow, thanks for working on this, @service-paradis! 💯

[2020-10-01 15:04] service-paradis commented on #3169
Found more time for [HubSpot icon](https://github.com/simple-icons/simple-icons/pull/3625) :)

[2020-10-01 15:20] TomerPacific commented on #3584
I'd like to help with this issue.

[2020-10-01 16:52] adityaoberai opened #3628 "Progate Icon"
**Name: Progate**
**Website: https://progate.com**
**Alexa rank: #29858**

[2020-10-01 17:34] Vboivin opened #3629 "Request: AWS CodePipeline"
**Name:** AWS CodePipeline
**Website:** https://aws.amazon.com/codepipeline/
**Alexa rank:** N/A

**Official resources for icon and color:**

Icon:  https://d1.awsstatic.com/webteam/architecture-icons/Q32020/AWS-Architecture-Assets-For-Light-and-Dark-BG_20200911.478ff05b80f909792f7853b1a28de8e28eac67f4.zip
https://aws.amazon.com/architecture/icons/

Color: https://aws.amazon.com/codepipeline

[2020-10-01 17:44] Vboivin commented on #3629
I am willing to make the PR to add this icon

[2020-10-01 18:06] QAInsights commented on #2887
@PeterShaggyNoble Could you please add [Apache JMeter](https://apache.org/logos/#jmeter) to the list? Thanks!

[2020-10-01 20:03] edensg opened #3632 "Request: TransferWise Icon"
**Name:** TransferWise
**Website:** https://transferwise.com/
**Alexa rank:** 1140

**Official resources for icon and color:** https://transferwise.com/gb/press

(I'm happy to have a go at contributing this icon!)

[2020-10-01 20:06] emma-sg opened #3634 "Request: WeTransfer Icon"
**Name:** WeTransfer
**Website:** https://wetransfer.com
**Alexa rank:** 132

**Official resources for icon and color:** https://wetransfer.pr.co/media_kits/217754/

(Happy to have a go at contributing this one as well)

[2020-10-01 20:53] TomerPacific commented on #3584
Created a [PR](https://github.com/simple-icons/simple-icons/pull/3636)

[2020-10-01 22:13] graingert commented on #3623
Pinging @sigmavirus24

[2020-10-02 00:39] glynnis commented on #3623
Per https://github.com/PyCQA/meta/issues/41#issuecomment-702466660, I probably DO have a vector version but not immediately available—I'll need to dig through some old files on some external hard drives since I designed the logo some number of years ago.

Keep an eye on https://github.com/PyCQA/meta/issues/41 where, if I'm able to track down the vectors, I'll share.

[2020-10-02 04:50] boopathirbk commented on #3584
**Created an error!**
More can be found here..
https://travis-ci.com/github/simple-icons/simple-icons/jobs/393894669

[2020-10-02 06:07] TomerPacific commented on #3584
@boopathirbk - from the Travis CI job that ran I saw that:

So, if I understand correctly, I need to center the icon (as it is not centered) and scale it?

[2020-10-02 10:56] OldShaterhan opened #3639 "Add ZOHO icon"
**Name:** ZOHO
**Website:** https://www.zoho.com/
**Alexa rank:** #215 https://www.alexa.com/siteinfo/zoho.com

**Official resources for icon and color:**
https://www.zoho.com/branding/
I didn't found SVGs for ZOHO branding.

[2020-10-02 10:58] OldShaterhan opened #3640 "Add QuickBooks Icon"
**Name:** QuickBooks
**Website:** https://quickbooks.intuit.com/
**Alexa rank:** #249 for intuit.com https://www.alexa.com/siteinfo/intuit.com

**Official resources for icon and color:**
https://designsystem.quickbooks.com/visual-assets/logos/

[2020-10-02 14:05] runxel opened #3641 "Request Apache JMeter"
[Apache JMeter](https://apache.org/logos/#jmeter)

_Originally posted by @QAInsights in https://github.com/simple-icons/simple-icons/issues/2887#issuecomment-702306324_

[2020-10-02 16:00] boopathirbk commented on #3584
@TomerPacific
Try resetting height and width to 0. I think the CI test with its own dimensions to test the SVG but not sure about that! I will look deeply about this and give an update soon! Thanks for your time : )

[2020-10-02 17:57] service-paradis commented on #3169
It is me again with:

1. Codecov icon #3642
2. JSON icon #3643
3. Markdown icon #3644

[2020-10-02 20:56] #3308 closed

[2020-10-03 12:56] chiraag-kakar commented on #3640
@OldShaterhan  I want to work on this issue

[2020-10-03 13:00] OldShaterhan commented on #3640
@chiraag-kakar feel free to take it :)

[2020-10-03 20:32] sukesh2000 opened #3646 "Request for Robotic Operating Systems (ROS) icon"
**Name: Sukesh Seth**
**Website: https://www.ros.org/**
**Alexa rank: 57,949**

**Official resources for icon and color:**

https://www.ros.org/

[2020-10-04 08:34] Sonnenbrand opened #3648 "CodeBerg"
**Name:** Codeberg
**Website:**https://codeberg.org/
**Alexa rank:**364028

**Official resources for icon and color:** https://codeberg.org/Codeberg/Design/src/branch/master/logo-kit blue

[2020-10-04 10:10] Steeff0 commented on #3540
Bedankt 👍

[2020-10-05 16:42] ramlaxman opened #3651 "Addition of Icon: OSF"
**Name:** OSF
**Website:** https://osf.io/
**Alexa rank:** 52,644

**Official resources for icon and color:**  https://osf.io/

[2020-10-05 23:38] reginareynolds commented on #3641
I'll take a crack at this one

[2020-10-06 05:00] Ashutosh00710 opened #3652 "Add Redux-Saga Icon"
**Name:** Redux Saga
**Website:** https://redux-saga.js.org/
**Alexa rank:**

**Official resources for icon and color:**

[2020-10-06 06:17] Mayank-Khurmai opened #3654 "Added the Wind Speed Svg Icon #3653"
Added the Wind Speed Svg Icon #3653

[2020-10-06 07:22] ADITYABHNDARI opened #3655 "Google Colab icon is missing"
**Name:*Colab*
**Website:*https://colab.research.google.com/*
**Alexa rank:*#1*

**Official resources for icon and color:**

[2020-10-06 14:07] service-paradis commented on #3169
3 more :)

1. Fedora Icon #3656
2. Linux Icon #3657
3. Android Icon #3658

[2020-10-06 16:50] d3ward opened #3659 "Add Qubes OS"
**Name:** Qubes OS
**Website:** https://www.qubes-os.org/
**Alexa rank:** [319,390](https://www.alexa.com/siteinfo/qubes-os.org)

**Official resources for icon and color:**
[GitHub Official Repository](https://github.com/QubesOS/qubes-attachment/blob/ed7e552eb8a5fca4e099361d137793d3551b3968/icons/qubes-logo-home.svg)

[2020-10-07 13:13] service-paradis commented on #3169
Some more

1. Zoom Icon #3666
2. YouTube Icon #3667
3. Vimeo Icon #3668
4. Netflix Icon #3669

[2020-10-07 19:47] DHBot-team opened #3673 "Best Buy logo request"
**Name:** Best Buy
**Website:** https://bestbuy.com
**Official resources for icon and color:** `#0046be` in header, `#fdee15` in a tag, or `#1d252b` in a wordmark logo

[2020-10-07 20:10] LitoMore opened #3674 "Request: LEGO Icon"
**Name:** LEGO
**Website:** www.lego.com
**Alexa rank:** 2553

**Official resources for icon and color:** https://commons.wikimedia.org/wiki/File:LEGO_logo.svg
Or https://www.lego.com/en-us (You can find the SVG asset from your browser: Inspector -> Network -> Img)

I have concerns about this icon. I can't find any black-and-white or grayscale version from the official website of the logo. I am no

[2020-10-07 20:36] DHBot-team opened #3676 "Lopez (software company)"
**Name:** Lopez
**Website:** https://lopez.io
**Color:** `#023548` or actually `#355c6d`?

![lopez](https://user-images.githubusercontent.com/72523927/95384675-f0b0f400-08ba-11eb-9499-3fd80dbd0b38.png)
Possible alternative color from icon:
![lopez (1)](https://user-images.githubusercontent.com/72523927/95384963-57cea880-08bb-11eb-8098-802aacfdd1cd.png)

I wouldn't see this before from Lopez softwa

[2020-10-07 22:16] MisterAnmar opened #3679 "Alpine JS"
**Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2020-10-08 04:24] Tarun-Kamboj opened #3681 "Add an icon for IBM Watson"
**Name:** IBM Watson
**Website:** https://www.ibm.com/watson
**Alexa rank:** 760

**Official resources for icon and color:** https://pin.it/2Ppw4lr

[2020-10-08 10:16] Tarun-Kamboj commented on #3471
Yes @runxel.

[2020-10-08 12:23] xkeyscored opened #3682 "Icon Request: Juniper Networks"
**Name:** Juniper Networks
**Website:** https://www.juniper.net
**Alexa rank:** 23,760

**Official resources for icon and color:** https://www.juniper.net/us/en/company/press-center/images/image-library/logos/

[2020-10-08 13:12] linwe2012 opened #3684 "Add Three.js Icon"
**Name:** Three.js
**Website:** https://threejs.org/
**Alexa rank:** 28,041

**Official resources for icon and color:** It has a favicon.

[2020-10-08 13:53] service-paradis commented on #3169
Some more :)

1. Webpack Icon #3683
2. rollup.js icon #3685
3. Ruby on Rails icon #3686
4. Nuxt.js icon #3687
5. Next.js icon #3688

[2020-10-08 18:01] DHBot-team opened #3689 "Request: Kinetic (social networking)"
**Name:** Kinetic
**Website:** https://kinetic.com
**Official resources for icon and color:** Found it in PowerPoint, so I can check some colors we have: `#14c9e9`, `#2b2f35`.

I'll get on to @NovaGL.

[2020-10-08 18:01] DHBot-team commented on #3689
@

[2020-10-09 00:11] DHBot-team opened #3690 "Update Zillow logo"
**Name:** Zillow
**Website:** https://www.zillow.com
**Color:** `#0068ff`, found on in SVG logo

[2020-10-09 00:11] #3689 closed

[2020-10-09 00:19] DHBot-team opened #3691 "[COLLECT] Markets & ETFs"
- [ ] BetaPro
- [ ] Direxion
- [ ] Dow Jones
- [ ] FTSE
- [ ] Global X
- [ ] Horizons ETF
- [ ] Invesco
- [ ] iShares
- [ ] Janus Henderson
- [ ] JPMorgan
- [ ] Legg Mason
- [ ] Nasdaq
- [ ] NYSE
- [ ] OTC Markets
- [ ] Vanguard

And all of ETFs and Markets are made of Simple Icons.
@NovaGL

[2020-10-09 14:16] runxel opened #3692 "Add ISRG"
**Name:** ISRG (Internet Security Research Group)
**Website:** https://www.abetterinternet.org/
**Alexa rank:** [~400k](https://www.alexa.com/siteinfo/abetterinternet.org)

**Official resources for icon and color:**
In website header is an svg.

[2020-10-09 14:39] beatrizsmerino opened #3693 "Icon DisneyPlus"
**Name:** Disney Plus
**Website:** https://www.disneyplus.com/
**Alexa rank:**

**Official resources for icon and color:**

[2020-10-09 14:42] beatrizsmerino commented on #3693
https://upload.wikimedia.org/wikipedia/commons/3/3e/Disney%2B_logo.svg
https://symbols.getvecta.com/stencil_78/76_disney-icon.c33d9367c0.svg

[2020-10-09 17:00] DHBot-team commented on #3676
@NovaGL Would you get this Lopez software color on Google Drawings?
It is `#023548` and `#355c6d` on the basement color.

[2020-10-09 17:01] BobCashStory opened #3694 "Add gitbook logo"
**Name:** Gitbook
**Website: https://gitbook.com
**Alexa rank:15,267

**Official resources for icon and color:**
http://styleguide.gitbook.com/icons

[2020-10-09 17:12] tsndr opened #3695 "[Feature] An icon list as JSON file"
I'd like to see a JSON file which can be parsed to present an icon dropdown.

i.e.:
[code]

[2020-10-09 21:01] AryanBeezadhur opened #3696 "Is this repo participating in hacktoberfest?"
[Hacktoberfest](https://hacktoberfest.digitalocean.com) is here!

Is this repo participating in hacktoberfest?

Thanks, and happing open-sourcing! :)

[2020-10-09 21:28] DHBot-team opened #3697 "@NovaGL Would you get this Lopez software color on Google Drawings?"
@NovaGL Would you get this Lopez software color on Google Drawings?
It is `#023548` and `#355c6d` on the basement color.

_Originally posted by @DHBot-team in https://github.com/simple-icons/simple-icons/issues/3676#issuecomment-706294747_

[2020-10-09 21:28] #3697 closed

[2020-10-09 22:09] DHBot-team opened #3698 "Request: Quan (Internet network company)"
**Name:** Quan
**Website:** https://www.quan.com/
**Color:** `#16bd45`

![quan](https://user-images.githubusercontent.com/72523927/95635448-6d2e0900-0a5a-11eb-9038-1f9262769344.png)
Icon request for Quan. I'll get a chat from @NovaGL. 💕

[2020-10-09 22:14] DHBot-team commented on #3698
See at: #3699

[2020-10-09 23:21] NovaGL commented on #3698
Hey @DHBot-team please don't mention me in every request. Also you don't need to create an issue and PR just a PR is fine. Thanks

[2020-10-10 02:27] #3673 closed

[2020-10-10 02:31] DHBot-team opened #3700 "HSBC"
**Name:** HSBC
**Website:** https://www.hsbc.com
**Colour:** `#dd0312`

@NovaGL Would you need to create a SVG icon for HSBC?

[2020-10-10 02:38] DHBot-team opened #3701 "Nasdaq"
**Name:** Nasdaq
**Website:** https://www.nasdaq.com
**Colour:** `#0091ba`

@NovaGL Would you need to create a SVG icon for Nasdaq?

[2020-10-10 02:42] DHBot-team opened #3702 "OTC Markets Group"
**Name:** OTC Markets Group
**Website:** https://otcmarkets.com
**Colour:** I can't see those colors in the logo

@NovaGL Would you need to create a SVG icon for OTC Markets Group?
💕💚

[2020-10-10 02:42] #3702 closed

[2020-10-10 03:28] LitoMore opened #3703 "Request: Apple Arcade icon"
**Name:** Apple Arcade
**Website:** https://www.apple.com/arcade
**Alexa rank:** 50

**Official resources for icon and color:**

Icon: https://www.apple.com/v/apple-arcade/i/images/overview/arcade_icon__d77taf8r7mi6_large.svg
Color: #000

[2020-10-10 12:47] creepertron95 commented on #3693
Please see #2309

[2020-10-10 13:58] AlbertWigmore opened #3704 "Icon Request: Wireshark"
**Name:** Wireshark
**Website:** https://www.wireshark.org/
**Alexa rank:** 23,835

**Official resources for icon and color:** None

There are no official links available on the wireshark.org website for media kits, SVG files etc. The icon is listed on [wikimedia commons](https://commons.wikimedia.org/wiki/File:Wireshark_Icon.png) as being license under GNU General Public License.

I am also happy

[2020-10-10 14:04] #3676 closed

[2020-10-10 14:08] DHBot-team opened #3705 "OTC Markets"
**Name:** OTC Markets
**Website:** https://otcmarkets.com/
**Colour:** `#ffffff`, `#919295`, `#444444`, `#ed098c`, `#f7931d` or `#00a791`

@NovaGL Would you need to create a SVG logo icon for OTC Markets?

[2020-10-10 14:10] DHBot-team opened #3706 "Invesco"
**Name:** Invesco
**Website:** https://invesco.com/
**Colour:** `#001a7b`

@NovaGL Would you need to create a SVG icon for Invesco?

[2020-10-10 14:13] DHBot-team opened #3707 "iShares"
**Name:** iShares
**Website:** https://www.ishares.com
**Colour:** `#000000`

@NovaGL Would you need to create a SVG icon for Nasdaq?

[2020-10-10 14:13] #3707 closed

[2020-10-10 14:15] DHBot-team opened #3708 "Vanguard"
**Name:** Vanguard
**Website:** https://investor.vanguard.com/
**Colour:** `#96151e`

@NovaGL Would you need to create a SVG icon for Vanguard for a letter V?

[2020-10-10 14:15] #3708 closed

[2020-10-10 16:57] tsndr commented on #3695
Maybe even with some search terms.

i.e.:
[code]

[2020-10-10 18:27] DHBot-team commented on #3700
@NovaGL simple-icons:HSBC

[2020-10-10 18:29] #3705 closed

[2020-10-10 19:23] #3696 closed

[2020-10-10 19:32] runxel commented on #3471
Did you accidentally closed this request @Tarun-Kamboj? 😅

[2020-10-10 19:38] runxel commented on #3693
Sorry @beatrizsmerino, we can't do this safely. :(

[2020-10-10 19:38] #3693 closed

[2020-10-10 20:09] DHBot-team opened #3709 "MTC"
**Name:** MTC
**Website:** https://www.mtc.com/us/
**Colour:** Here are some 4 colours in the main MTC icon:

![mtc](https://user-images.githubusercontent.com/72523927/95664087-82666e80-0b12-11eb-916b-f9cdbd969488.png)
![mtc-1](https://user-images.githubusercontent.com/72523927/95664111-c8233700-0b12-11eb-8035-7e65042fadcd.png)
![mtc-2](https://user-images.githubusercontent.com/72523927/95664112-c

[2020-10-10 20:15] DHBot-team commented on #3709
Found this pull request: #3710

[2020-10-10 20:15] #3709 closed

[2020-10-10 20:30] DHBot-team opened #3711 "MTC"
**Name:** MTC
**Website:** https://www.mtc.com/us/
**Colour:** `#00e5ff`, `#00cbfa`, `#00b2f4`, `#f7f7f7`, `#868686`, or `#151515`?

Let's wait for @NovaGL to chat a MTC brand of Simple Icons.

[2020-10-10 20:33] DHBot-team commented on #3711
Here are some colors of the gradient of MTC app icon:
Black: `#151515`, `#4c4c4c`, `#868686`, `#bebebe`, `#f7f7f7`.
Blue: `#00b2f4`, `#00c0f7`, `#00cbfa`, `#00d7fc`, `#00e5ff`.

@NovaGL, Would you need a MTC brand color you want to pick? Black or blue?

[2020-10-10 20:38] DHBot-team commented on #3711
Here are some colors in the MTC app icon:

Black: `#151515`, Gray: `#868686`, Light: `#f7f7f7`.
First blue: `#00b2f4`, Second blue: `#00cbfa`, Third blue: `#00e5ff`.

Let's wait for @NovaGL to chat a MTC logo request.

[2020-10-11 02:27] DHBot-team opened #3712 "Monster Arts"
**Name:** Monster Arts
**Website:** https://us.monsterarts.com/
**Colour:** `#a12135`

@NovaGL SVG - Monster! Animation icon

[2020-10-11 02:29] #3698 closed

[2020-10-11 07:54] Lich496 opened #3713 "teratail"
**Name:** teratail
**Website:** https://teratail.com/
**Alexa rank:** 4115

**icon:** https://teratail-v2.storage.googleapis.com/assets/img/common/logo_white.svg
**color:** #000000

[2020-10-11 08:04] ericcornelissen opened #3714 "Netbeans icon lines too thin"
As pointed out by @beatrizsmerino in https://github.com/simple-icons/simple-icons/pull/1885#issuecomment-706364905 the current version of the Netbeans icon is not very legible at small sizes (as shown below). For anyone addressing this, consider #2887 as well 🙂

![preview](https://user-images.githubusercontent.com/14045148/95623713-0f0f1f00-0a76-11eb-8181-25ed57eb1b22.png)
![image](https://user-im

[2020-10-11 12:47] #3706 closed

[2020-10-11 12:48] #3701 closed

[2020-10-11 12:48] #3700 closed

[2020-10-11 17:52] imxeno opened #3715 "Delphi icon request"
**Name:** Delphi programming language
**Website:** https://www.embarcadero.com/products/delphi
**Alexa rank:** 30,562 (measured for Embarcadero.com, which already has an icon)

**Official resources for icon and color:** https://www.embarcadero.com/news/logo

[2020-10-11 18:14] reginareynolds commented on #3641
#3680 contains this logo and another logo.

Unrelated, but I noticed that my Hacktober progress is still at 0. Is this repository not participating this year?

[2020-10-12 03:03] TaihuaRubin opened #3717 "Sequelize"
**Name:**  Sequelize
**Website:** https://sequelize.org/master/
**Alexa rank:** 162,341

**Official resources for icon and color:**

[2020-10-12 11:19] scxttd opened #3718 "Request: Google Display & Video 360 Icon"
**Name:** Google Display & Video 360
**Website:** https://displayvideo.google.com/
**Alexa rank:** #1 as it is part of the Google marketing platform

**Official resources for icon and color:** https://www.gstatic.com/analytics-suite/header/suite/v2/ic_display_video.svg

[2020-10-12 16:09] #3712 closed

[2020-10-12 16:11] DHBot-team opened #3719 "78 (Gaming interactive company)"
**Name**: 78
**Website**: https://www.78.net/en/us/
**Colour**: `#c40300`

@NovaGL, Would you make a SVG logo of 78 Games icon with a picture saved in PowerPoint?
![78-games-icon-with-trademark](https://user-images.githubusercontent.com/72523927/95768259-0724ca00-0c84-11eb-984b-df159ce5aa5d.jpg)

[2020-10-12 21:13] btschida11 opened #3721 "svg for Handshake student career service"
**Name: Handshake**
**Website: https://joinhandshake.com/**
**Alexa rank: 5,744**

**Official resources for icon and color:
https://drive.google.com/file/d/1KySLnq22RBQys5PCyIAyXhJx5H1tLVil/view
https://learn.joinhandshake.com/marketing-toolkit/
https://drive.google.com/drive/folders/11MDc_Krxas04ib7aYLJx5NYQBCX4Iqaf**

[2020-10-13 01:54] squasha27 opened #3722 "Icon Request: Bookstack"
**Name:** Bookstack
**Website:** bookstackapp.com
**Alexa rank:** 418,990

**Official resources for icon and color:** Unsure sorry

[2020-10-13 21:35] CoreyVidal commented on #3255
Hi, just following up on this.

[2020-10-14 19:07] AMartinNo1 commented on #3359
Ok, as I was preparing the PR I noticed the svg is not fully as expected and I don't get used to inkscape (perhaps lack of will 🙈) and I decided to get back on the Adobe Subscription today 😆