[2021-08-13 14:06] PeterShaggyNoble commented on #5976
@tagliala & @sensibleworld, now that you're using the updated icon throughout your website, are we OK to update our version now?

[2021-08-13 14:07] PeterShaggyNoble commented on #5202
That's looking much healthier now, indeed, @jorgeamadosoria 👍🏻 I've assigned this issue to you to work on.

[2021-08-13 14:14] tagliala commented on #5976
@PeterShaggyNoble I'm pretty confident your assumption is correct, FA 5.15.4 contains the updated brand logo

[2021-08-13 14:43] webserviceXXL commented on #4205
What about Google Tasks? This one is missing in the list.

Preview:
![grafik](https://user-images.githubusercontent.com/3533300/129374391-fa316879-2732-4645-8319-d78628f76267.png)

[2021-08-13 14:47] #5329 closed

[2021-08-13 14:53] service-paradis commented on #6275
Hello @anthueeccel! No problem, I'm glad you did give a try and no problem for asking question.

If you're using Inkscape, you can change the document size (which will affect the `viewbox`) by going to `File -> Document Properties`. You will need to define both `width` and `height` to 24.

After this, you can resize the path by clicking the lock icon in the header and setting the bigger size to 24

[2021-08-13 15:21] PeterShaggyNoble commented on #6258
Thanks for the enquiry, @jorgeamadosoria 👍🏻 We add individual icons for individual brands and companies as they are requested rather than adding all icons from a single industry in one go. This ensures that our library contains only the icons people _actually_ have a need for. Having said that, we have done so in the past a couple of time where it has made sense (e.g., car manufacturers & airlines

[2021-08-13 15:33] PeterShaggyNoble commented on #6246
Hmm ... tricky one 🤔 My initial, knee jerk reaction on reading the title of this issue was to rule on these in the same way we did Popcorn Time. However, @jorgeamadosoria makes a very good point that the difference is that PT was actively and knowingly providing illegal content whereas these brands merely provide a service that may possibly be used to distribute illegal content and if we were to r

[2021-08-13 17:33] jorgeamadosoria commented on #6265
I understand. Not everything is going to be easily measured.
I also understand the need to limit the amount of icons. In this case, that's why I only would like to add 4 brands out of the dozen or so.
Alternatively, we could just add the Habanos logo and that could represent all the brands. It's less aesthetically appealing, but it is more economic.

[2021-08-13 17:42] jorgeamadosoria commented on #6258
This seems to run against @service-paradis comment here: https://github.com/simple-icons/simple-icons/issues/6260#issuecomment-896602953

What's the problem with Disney? They are not kin on letting people use their brands, I suppose?

[2021-08-13 17:49] jorgeamadosoria commented on #6260
_> From my perspective, an icon library saying "it does not condone the content of the media nor their intent" based on the icon being in the library is a 1) a bit over the top, 2) does not help anyone reading the disclaimer, and 3) probably doesn't address any real concerns. That might just be me though._

It's a way to sidestep any problem with pushback or legal issues. It helps people understan

[2021-08-13 19:47] ericcornelissen commented on #4205
@webserviceXXL please [open a new issue](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.md) if you would like to see Google Tasks added, this issue is intended to keep track of progress on updating Google brands already in the collection.

[2021-08-13 20:07] ericcornelissen commented on #6180
HTML (and thus MarkDown) won't allow you to style SVGs when used in an `<img>`. We've actually run into this problem ourselves as well (see #4816). Our decision was to ignore dark mode until GItHub comes up with a solution to deal with this problem in a proper manner.

In the meantime I think the best solution is to put the logos on a white background. The background will be invisible in the "defa

[2021-08-13 20:17] ericcornelissen commented on #6265
I don't think we can consider _being ranked highly_ or _celeberties using the product_ or _having historical significance_ as accurate measures of popularity. If you're highly ranked in an obscure thing, you're not popular. Celebrities, almost by definitions, are a small group of people and therefore not a good indication of popularity (arguably their followers would be interested in the brand, ma

[2021-08-13 20:31] ericcornelissen commented on #6260
I think that specifically those kind of people won't care about a line in some text file saying that we don't condone the content of the media they don't like.

That seems self-evident to me (what I meant by "a bit over the top"). But I suppose I agree that it seems self-evident to us isn't a particularly good reason not to include it.

Not sure how it would lead to any legal issues :thinking: Did

[2021-08-14 03:26] jorgeamadosoria opened #6293 "adding Cubana icon"
![cubana](https://user-images.githubusercontent.com/15719479/129432750-5c559fa8-9afa-4724-a453-614eba0f7877.png)

**Brand Name:** Cubana de Aviación
**Website:** https://www.cubana.cu/
hex: `#0d3c82`
Cubana de Aviación is the flag carrier of the Republic of Cuba, and the only airline of import for the country

[2021-08-14 04:46] jorgeamadosoria commented on #5202
done: updating Disroot icon #6297

[2021-08-14 04:52] jorgeamadosoria commented on #6265
Well, that's why I included other metrics, like the rankings by Cigar Aficionado and the reach of the stores open, spanning the whole world over.
Also, being the most famous cigar brand in the world is not obscure. It's a multi million dollar business. Granted, it's almost certain that none of the people herein involved smoke, less of all cigars, but this is still hardly an obscure thing to know a

[2021-08-14 06:18] jorgeamadosoria commented on #6260
True, but the idea here is to protect the project from whatever spurious attacks could be leverage against it. For example, recently we had a discussion about adding Gab #6156, a far right alternative social network. Had that been included (and lacking a clear disclaimer that distances Simple Icons from whatever the icons it contains represent) you are, in theory, exposed as a platform that endors

[2021-08-14 06:27] jorgeamadosoria commented on #6246
Let me read a bit on the official sites for the ones suggested, and I'll either remove or confirm that they are indeed not promoting illegal uses.
I'm fairly certain tha tthis is not the case for bittorrent and uTorrent, but I have no idea about the others.

[2021-08-14 06:30] jorgeamadosoria commented on #6140
blue it is, then. Feel free to assign this one to me, guys.

[2021-08-14 06:32] jorgeamadosoria commented on #4934
inkscape, but I didn't knew that at the time. Now I do :)

[2021-08-14 06:36] jorgeamadosoria commented on #6247
yeah, you are right. But there's nothing we can do about that, can we? The logo is not helping (shrug).

I think your MR is good as is. Let's forget about the particular Virgin Galactic modification, I think it's covered on the one you created. Nice work on that one, btw!

[2021-08-14 09:26] webserviceXXL opened #6299 "New icon for Google Tasks"
**Brand Name:** Google Tasks
**Website:** Just available as App for Android and iOS
**Alexa rank:** _Since there is no website, there isn'ta rank ;)_

**Official resources for icon and color:**
Google do not provide an official source but here is an article about the newest logo:
https://9to5google.com/2018/03/30/google-tasks-redesign-logo-leak/

Should also be added to the Google Icon Review issu

[2021-08-14 13:58] ericcornelissen commented on #6265
Again, I don't think a ranking (even by an authoritative source) is by itself a reliable indicator of popularity. Being sold worldwide is indeed a decent indication of popularity that I didn't address, not sure I'm convinced it's a good metric but it may be.

I didn't intent to say the most famous cigar brand in the world is obscure, I gave an argument for why "being highly ranked" isn't a very re

[2021-08-14 14:06] ericcornelissen commented on #6260
I'm not necessarily saying I disagree I'm just pointing out a combination of concerns that make me question whether it is actually that useful. In summary:

- My gut feeling is that many people that would have objections to us including certain brands won't be satisfied with a one-liner in our documentation (or related document).
- My impression is that there's no legal issues with regards to incl

[2021-08-14 17:52] jorgeamadosoria commented on #6260
My original issue is solved, yes. Not to my full satisfaction, but my doubts were answered.
You can close the issue if you want.

[2021-08-14 17:56] jorgeamadosoria commented on #6265
I've provided the Habanos icon. We can reject all the other ones and review that PR, and put the issue to rest, I think. I remain convinced that the brands can be included, but Habanos is good enough and goes by the guidelines, so we can all move on to more important things

[2021-08-14 19:52] zv09 commented on #6262
@service-paradis thank you for paying attention...
definitely, should try...
sorting some things out and will examine url you have provided

[2021-08-14 20:05] jorgeamadosoria commented on #6287
other than the hex, what else is outdated here @PeterShaggyNoble ?
The icons in the PDF and the library seem the same to me.

[2021-08-14 20:08] jorgeamadosoria commented on #6287
Ah, nevermind, I see it now. the icon is outlined differently in the website

[2021-08-14 20:44] jorgeamadosoria opened #6300 "Request: Encora"
**Brand Name:** Encora
**Website:** encora.com
**Alexa rank:** 252,146

**Official resources for icon and color:**
https://dojo.live/brand/
chosen hex `#FF564D`

[2021-08-14 20:45] jorgeamadosoria commented on #6258
My concerns are satisfied. I'll be closing this one now, thank you all.

[2021-08-14 20:45] #6258 closed

[2021-08-14 21:27] sachinraja opened #6302 "use issue templates"
GitHub has a feature in beta that allows issues to function more like forms (see [docs](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository)). This would allow us to require fields (people cannot submit without filling them out) and present the template in a more friendly way. This would help prevent is

[2021-08-14 21:34] ericcornelissen commented on #6302
I like the idea! Looking forward to your Pull Request 😃

[2021-08-15 02:39] jorgeamadosoria commented on #6302
this can help with https://github.com/simple-icons/simple-icons-website/issues/95#event-5159099253

[2021-08-15 15:15] abxhr commented on #6237
Sure! I'll give it a try 🚀

[2021-08-15 15:37] abxhr commented on #6237
I'm having trouble navigating through why the checks aren't being passed. @service-paradis, could you assist me?

[2021-08-15 21:56] ramandhika opened #6308 "Request: Navicat"
**Brand Name:** Navicat
**Website:** https://www.navicat.com/en/
**Alexa rank:**

**Official resources for icon and color:**

[2021-08-16 02:39] jorgeamadosoria commented on #5155
All three icons are added in #6307

[2021-08-16 05:16] sleepymalc opened #6309 "redmine icon request"
**Brand Name:redmine**
**Website:https://www.redmine.org/**
**Alexa rank:74,301**

**Official resources for icon and color:**

[2021-08-16 05:19] sleepymalc opened #6310 "gin icon request"
**Brand Name:gin**
**Website:https://github.com/gin-gonic/gin**
**Alexa rank:85**

**Official resources for icon and color:**

[2021-08-16 05:48] abxhr commented on #6237
All done! Pull request ready to merge.

[2021-08-16 09:17] NickKaramoff opened #6311 "Icon Request: Zcash"
**Brand Name:** Zcash
**Website:** https://z.cash/
**Alexa rank:** [155,695](https://www.alexa.com/siteinfo/z.cash)

**Official resources for icon and color:**
- https://z.cash/press/
- https://www.zfnd.org/about/trademark-policy/

[2021-08-16 10:03] novojitdas opened #6313 "Icon Request: URI"
Organization Name: URI
Website: https://www.urionlinejudge.com.br/
Alexa rank: 108,039

Official resources for icon and color:

https://www.urionlinejudge.com.br/judge/img/5.0/logo.130615.png?1591503281

[2021-08-16 11:45] PeterShaggyNoble commented on #6313
Duplicate of #3423

[2021-08-16 11:45] #6313 closed

[2021-08-16 13:02] patrickvanreck opened #6314 "New Icon Request: SRG SSR"
**Brand Name:** SRG SSR
**Website:** https://www.srgssr.ch/
**Alexa rank:** [133,730](https://www.alexa.com/siteinfo/srgssr.ch)

**Official resources for icon and color:**

https://www.srgssr.ch/typo3conf/ext/is_design/Resources/Public/imgs/logo.svg
https://www.srgssr.ch/typo3conf/ext/is_design/Resources/Public/imgs/logo-100.png

[2021-08-16 16:31] julzerinos opened #6317 "New icon request: BabylonJS"
**BabylonJS**
**https://www.babylonjs.com**
**11.6 k**

[2021-08-16 16:39] julzerinos commented on #6317
Current approach using favicon data:

` ![BabylonJS](https://img.shields.io/badge/babylonjs-%232A2342.svg?style=for-the-badge&logo=data:image/vnd.microsoft.icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABUT74MTEe7hk1Iu4BTTr4KAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF9bwgJNSLxeS0a75EtGu/9LRrv/S0a74k1IvFhpZccA

[2021-08-17 00:00] #6131 closed

[2021-08-17 00:12] qrikko opened #6318 "Icon request for premake"
**Brand Name:** Premake
**Website:** https://premake.github.io/
**Alexa rank:** 4,861,546

**Official resources for icon and color:**
https://premake.github.io/img/premake-logo.png
(It seem to be all I can find, no media kits, no brand guidelines)

[2021-08-17 01:44] #6272 closed

[2021-08-17 03:42] jorgeamadosoria commented on #1191
@ericcornelissen why is this ticket still open? It seems that everything that was to be said has been said, specially in the other tickets.
Should we add to the documentation as suggested and close it?

[2021-08-17 08:05] patrickvanreck opened #6321 "New Icon Request: SwissTXT"
**Brand Name:** SwissTXT
**Website:** https://www.swisstxt.ch/
**Alexa rank:** [1,392,144](https://www.alexa.com/siteinfo/swisstxt.ch)

**Official resources for icon and color:**
https://www.swisstxt.ch/img/logo.svg
https://www.swisstxt.ch/img/cross.svg

[2021-08-17 12:26] tengjuilin opened #6324 "New Icon Request: seaborn"
**Brand Name:** Seaborn
**Website:** https://seaborn.pydata.org/
**Alexa rank:** Isn't working for seaborn.pydata.org as it's a subdomain of pydata.org ([#4,309](https://www.alexa.com/siteinfo/pydata.org) for pydata.org)
**GitHub stars:** [8.7k](https://github.com/mwaskom/seaborn)

**Official resources for icon and color:** https://seaborn.pydata.org/_static/logo-wide-lightbg.svg

[2021-08-17 12:27] service-paradis commented on #6308
Missing Alexa Rank is [~74k](https://www.alexa.com/siteinfo/navicat.com)

[2021-08-17 12:33] service-paradis commented on #6318
Thank you @qrikko for your request!
Unfortunately, nor the [Alexa Rank](https://www.alexa.com/siteinfo/premake.github.io) (less than 500k) and the [Github stars](https://github.com/premake/premake-core) (more than 5k) reach our requirements. I will close this one for now, but feel free to reopen this issue if the rank improves over time!

[2021-08-17 12:33] #6318 closed

[2021-08-17 12:35] service-paradis commented on #6321
Thank you @patrickvanreck for your request!
Unfortunately, the [Alexa Rank](https://www.alexa.com/siteinfo/swisstxt.ch) does not reach our popularity requirements (less than 500k). I will close this one for now, but feel free to reopen this issue if the rank improves over time!

[2021-08-17 12:35] #6321 closed

[2021-08-17 13:15] #5932 closed

[2021-08-17 21:14] ericcornelissen commented on #1191
It's still open because we want to change but "can't" yet (or at least not last time I checked) - even if we add documentation related to this I would leave it open. Why do you want to close it?

As for "the documentation", any suggestions?

[2021-08-18 02:18] jorgeamadosoria commented on #6140
updated. Their logo is already an svg, so it was only a matter of combining the path, svgo and linting them.
The color is even present in the page and everything. Very helpful

[2021-08-18 02:20] jorgeamadosoria commented on #1191
I want to close as many tickets as possible. There are almost 400 tickets opened. That's way too much to handle.

Just a line about "we are using title for accessibilty reasons" or something like that. It would qualify as a FAQ.
Incidentally, do we have a FAQ? Shouldn't we have a FAQ for precisely this kind of things?

[2021-08-18 07:38] ericcornelissen commented on #1191
In that regard, I'd say we have labels to help out a bit. There's just 7 open tickets with the `package` label (or 22 with the label `meta`, which could be more appropriate here) and on top of that we use the `pending` label to indicate that an issue needs attention later. Also, it's not your job to close all tickets. Still, if you feel it helps you as a maintainer, feel free to close this - provi

[2021-08-18 13:15] service-paradis commented on #4934
Thank you @Fuzzyma for the follow up! 🎉

[2021-08-18 13:25] service-paradis commented on #6059
Hello @anupshastri96, Do you still want to give this a try?

[2021-08-18 15:22] dirien opened #6330 "New Icon Request: Koç Group"
**Brand Name:** Koç Group
**Website:** https://koc.com.tr/en
**Alexa rank:** 263,239

**Official resources for icon and color:**
 All from the website. Colors and SVG. Opted only for the aries without the  name Koç

 https://www.koc.com.tr/static/img/logo.svg

[2021-08-18 16:15] dirien opened #6332 "New Icon Request: Sabanci Holding"
**Brand Name:** Sabanci Holding
**Website:** https://www.sabanci.com/en
**Alexa rank:** 476,880

**Official resources for icon and color:**
  From the website https://www.sabanci.com/en and Wiki https://en.m.wikipedia.org/wiki/File:Sabanc%C4%B1_Holding_logo.svg

[2021-08-18 16:27] dirien opened #6334 "New Icon Request: AMG"
**Brand Name:** AMG
**Website:** https://www.mercedes-amg.com/
**Alexa rank:** 154,374

**Official resources for icon and color:**
From the website -> Everything from https://www.mercedes-amg.com/content/global/en/home.html and https://www.mercedes-amg.com/etc/clientlibs/amg/amg.base/assets/images/svg/amg-logo.svg

[2021-08-19 04:44] akbhuker commented on #6324
can you please assign me?

[2021-08-19 04:44] akbhuker commented on #6314
can you please assign me?

[2021-08-19 05:40] gizmecano commented on #6137
I have recently tested your Codepen with a latest version of Firefox (version 91), but I do not see any problem, neither with the rendering of the SVG with its class, nor with that of the path. A bit strange.

## `svg.small`

![small svg crop](https://user-images.githubusercontent.com/852661/130013812-ac509a3d-73e2-4246-adca-927073114199.jpg)

## `path`

![path crop](https://user-images.githubuser

[2021-08-19 18:08] gurjeetsinghvirdee opened #6337 "New Icon Request: Scrapy"
Brand Name: Scrapy
Website: https://scrapy.org/
Alexa rank: 50,774

Official resources for icon and color:
From the website https://scrapy.org/img/scrapylogo.png or from twitter https://twitter.com/ScrapyProject/photo

[2021-08-20 06:08] TheDude53 opened #6338 "New Icon Request: Wells Fargo"
**Brand Name:** Wells Fargo
**Website:** https://www.wellsfargo.com/
**Alexa rank:** 141

**Official resources for icon and color:** https://newsroom.wf.com/English/news-releases/news-release-details/2019/Wells-Fargo-Launches-New-Brand-Campaign-This-is-Wells-Fargo-Focused-on-Customer-Experience/default.aspx (press release)

[2021-08-20 06:21] TheDude53 opened #6339 "New Icon Request: Alexa Internet"
**Brand Name:** Alexa Internet
**Website:** https://www.alexa.com/
**Alexa rank:** 5,478

**Official resources for icon and color:** https://www.alexa.com/images/alexa-logo.png (website header) https://www.alexa.com/alx-sa-c5b73fe0-1629215268/images/icon-alexa-70px.png (website footer)

[2021-08-20 06:27] TheDude53 opened #6340 "New Icon Request: Sony"
**Brand Name:** Sony
**Website:** https://www.sony.com/
**Alexa rank:** 1,761

**Official resources for icon and color:** https://www.sony.com/en/template/2020/en/img/logo.svg (website header)

[2021-08-20 12:57] #6273 closed

[2021-08-21 18:35] michaeljolley opened #6342 "New Icon Request: Deepgram"
**Brand Name:** Deepgram
**Website:** [deepgram.com](https://deepgram.com)
**Alexa rank:** [273,903](https://www.alexa.com/siteinfo/deepgram.com)

**Official resources for icon and color:**
Optimized version of the Deepgram logo SVG. Logo & hex pulled from Deepgram internal style guides.

[2021-08-22 06:18] deepak-chouhan opened #6345 "Personal website icon"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-08-22 10:11] #6145 closed

[2021-08-22 10:48] ayuhito opened #6346 "New Icon Request: Expedia"
**Brand Name:** Expedia
**Website:** https://www.expedia.com/
**Alexa rank:** 369

**Official resources for icon and color:**
https://www.brand.expediagroup.com/logo

[2021-08-22 13:30] jorgeamadosoria commented on #6345
Hi @deepak-chouhan :
In order for an icon to be added to the library, you must specify the icon source or an example of its use; the brand colors and/or guidelines for use; and the Alexa ranking (if it is a website), github stars (if it is an open project hosted here) or a comprehensive argument as to why you think it should be added, based on popularity.

[2021-08-22 13:42] ericcornelissen opened #6347 "Rename `"engine"` field in package.json"
### Kind of issue
  - [ ] Improvement
  - [x] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [ ] The Packagist Package

### Description

As per [this comment](https://github.com/simple-icons/simple-icons/pull/6179#issuecomment-903270880), [the `"engine"` field of the package manifest](https://github.com/simple-icons/simple-icons/blob/d2bd9906d8a0a2dd2aef855dbd223bc

[2021-08-22 14:19] ericcornelissen commented on #1384
Any input on this one from @simple-icons/maintainers - if a majority thinks we shouldn't add it I think we should just close this.

[2021-08-22 14:33] ericcornelissen commented on #805
It's slightly tricky but I would say so. I couldn't find an explicit text saying this in my 10 second search, but the name is a strong suggestion that it (at least) supports an "illegal" activity, namely pirating software (and other digital products).

Agreed :+1:

[2021-08-22 16:06] mondeja commented on #1384
I'm totally against adding it and agree with the arguments previously exposed in this issue.

[2021-08-22 18:58] siddharth1704 commented on #6347
Can you assign me this issue

[2021-08-22 19:21] siddharth1704 commented on #6347
#6349  kindly look into the PR

[2021-08-22 20:06] #6347 closed

[2021-08-22 20:43] ericcornelissen opened #6350 "Add issue template/form to report icons for removal"
I think it makes sense to add an issue template dedicated to reporting icons that should be removed, may two main reasons being:

- It may encourage contributors to report icons for removal, either by making them aware this is a thing or because it makes it simpler.
- It makes more sense as a link in [the disclaimer](https://github.com/simple-icons/simple-icons/blob/12ca93cf27680e0a35dd0457f8a9d1e

[2021-08-23 00:38] sweetgman opened #6352 "New Icon request: Disney+"
Can we get Disney+ added to the icon list please

[2021-08-23 01:11] GSri30 opened #6353 "New Icon Request: Prepbytes"
**Brand Name:** Prepbytes
**Website:** https://www.prepbytes.com/
**Alexa rank:** 67,466

**Official resources for icon and color:**

https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/navbar/logoPrepBytes.svg

[2021-08-23 01:21] GSri30 opened #6354 "New Icon Request: Devfolio"
**Brand Name:** Devfolio
**Website:** https://devfolio.co/home/
**Alexa rank:** 80,182

**Official resources for icon and color:**

https://devfolio.co/favicons/favicon-128.png

[2021-08-23 02:41] Quado1 opened #6355 "New icon request: BEM"
**Brand Name:** BEM
**Website:** https://bem.info/
**Alexa rank:** 251,561

**Official resources for icon and color:** No official resources, but here they are: [Logo](https://drive.google.com/file/d/1xtpKsKkuCrKvgQr2TS2NR4OrVj2jnPLG/view?usp=sharing), color: #FFFFFF

[2021-08-23 03:27] deepak-chouhan commented on #6345
Source: https://img.pngio.com/personal-ui-user-website-icon-personal-web-page-png-512_512.png

This appears to be missing; there is no icon for displaying one's personal website as a badge. In that scenario, something like this could be beneficial.

[2021-08-23 03:29] jorgeamadosoria commented on #805
There are Pull Requests for zippyshare and uptobox icons pending review, although given the low quality of the sources I'm not optimistic about their chances.
We can close the ticket now and continue discussion in those PRs.

[2021-08-23 03:29] #805 closed

[2021-08-23 03:31] jorgeamadosoria commented on #6350
Maybe a link to the issues in github, where you can choose the type of report to make?
Otherwise we will have too many links for reporting icons: New Icon, Update icon, remove icon...

[2021-08-23 03:39] jorgeamadosoria commented on #6345
So, you mean to add a generic icon that represents one's personal website / user page?

The problem I see with that is that simple-icons is more oriented towards brand icons, technology icons, etc.
Perhaps a more general purpose library would be better suited to your needs, like Material Icons or Font Awesome. They have the iconography you need, for sure.

[2021-08-23 07:18] ericcornelissen commented on #6350
Can you elaborate @jorgeamadosoria, this issue is for adding an [issue template](https://github.com/simple-icons/simple-icons/tree/develop/.github/ISSUE_TEMPLATE) to this repository, which would add it to [this list](https://github.com/simple-icons/simple-icons/issues/new/choose). I have a feeling you're thinking this is about [the website](https://simpleicons.org/)?

[2021-08-23 08:17] ELEVENStudio-Main opened #6356 "Icon : Bashu Secondary School"
**Brand Name:**Bashu Secondary School
**Website:**https://bashu.cn
**Alexa rank:**not found

**Official resources for icon and color:**Purple outline, black text

[2021-08-23 09:42] RishoT17 opened #6357 "Redmine logo"
**Brand Name:** Remine
**Website:** https://www.redmine.org/
**Alexa rank:** 77,615

**Official resources for icon and color:**
https://www.redmine.org/projects/redmine/wiki/logo
https://commons.wikimedia.org/wiki/File:Redmine_logo.svg

[2021-08-23 10:25] gizmecano commented on #6357
Duplicate of #6309 (cf. #6326 for recent pull request)

[2021-08-23 12:53] service-paradis commented on #6352
Duplicate of #2309 (also #5327 and#5443). More information available there.

[2021-08-23 12:53] #6352 closed

[2021-08-23 12:55] service-paradis commented on #6356
Thank you @ELEVENStudio-Main for your request,
Unfortunately, as you can see, the Alexa Rank is not available. This means, it does not reach our requirements for popularity.

[2021-08-23 12:55] #6356 closed

[2021-08-23 12:56] #6357 closed

[2021-08-23 13:15] chea-young opened #6358 "New icon request: Axure"
**Brand Name: Axure**
**Website: https://www.axure.com/**
**Alexa rank: 49,210**

**Official resources for icon and color:**

[2021-08-23 14:35] jorgeamadosoria commented on #6350
Yeah, I was thinking more of the website, where this is going to be an issue. But wecan discuss that later.
I'm fine with adding the issue template to the issues list.

[2021-08-23 15:45] sensibleworld commented on #5976
Sorry for the radio silence on my end! I can confirm that the new logo is good-to-go. We're using some slightly different shades on our v6 site, but the official color is `#528DD7`.

[2021-08-23 16:36] ericcornelissen commented on #6350
Thank you for clarifying @jorgeamadosoria. As I said, this issue is intended solely for discussing & adding an issue template (or form) to this repository, thus making it available only on GitHub. Adding it to the website as well is definitely an option, if you want to discuss that I'd recommend opening an issue for it in [the website repository](https://github.com/simple-icons/simple-icons-websit

[2021-08-23 17:20] gizmecano commented on #6293
I guess I missed a previous discussion, but can someone explain to me the changes in criteria that mean that an [Alexa rank close to 3,000,000](https://www.alexa.com/siteinfo/cubana.cu) now allows an icon to be added? Maybe a simple link to the exchange that introduced these changes would be enough for my knowledge? Thanks.

[2021-08-23 17:26] ericcornelissen commented on #6293
Thank you for bringing this up @gizmecano, the Pull Request was merged accidentally and this has already been reverted in 20f2a1ef4e65d27bed8dd3fca7967988868d6f25 (hence the icon won't be included in the next release). But the Alexa rank should indeed have been discussed.

[2021-08-23 18:49] jorgeamadosoria commented on #6293
There is no change in criteria in regards with Alexa rank.
There was a previous discussion about the criteria for inclusion of particularly airlines, trains and other such companies. The conclusion, at least as I took it, was that the company in question should have a good argument in their favor for inclusion. In this case, this is the official flag carrier for Cuba, hence it has a special place

[2021-08-23 19:15] ericcornelissen commented on #6293
I'm guessing you're referring to #6260 @jorgeamadosoria? If so, the only thing that was said there is that airlines are _allowed_ (i.e. they won't be rejected _because of_ being an airline). That does not mean, any and all airlines will necessarily be added. First and foremost are still the Alexa rank (and GitHub stars, but those are (probably) irrelevant here). As that criteria is not met here we

[2021-08-23 19:15] #6260 closed

[2021-08-23 19:25] gizmecano commented on #6293
I was almost coming to the same conclusion after finding the discussion and reading it. Your comment clarifies the situation: the criteria for inclusion have therefore not changed regarding the Alexa rank.

[2021-08-23 20:35] #6293 closed

[2021-08-23 20:47] #6345 closed

[2021-08-23 21:14] runxel commented on #1384
Some time ago I read a general comment on CoCs – from a very "progressive" person.
Long story short: If you need a CoC your community is already toxic and a CoC won't stop them nor solve the _underlying_ problem.
Also as others mentioned: We live in a civilized society, so "don't be an asshole" should already be the norm.

I'd be in favor of not adding a CoC at the moment.

[2021-08-23 22:21] jorgeamadosoria commented on #1384
I think a code of conduct or a set of rules is always good.
However, I also think that we shouldn't add things if there is no need for them just yet.
So, if we can deal with feedback and contributions constructively (and for what I've seem most people subscribe to @runxel's general DBAS rule) we can live without a CoC for a little while longer at least.

[2021-08-23 22:39] ericcornelissen commented on #1384
Seems there's still a general consensus against it so I'll be closing this.

To anyone stumbling on this thread, feel free to leave a comment here if you want to bring the discussion back to life.

[2021-08-23 22:39] #1384 closed

[2021-08-23 23:21] sachinraja commented on #6350
This sounds great. I have a suggestion that is probably a topic for a separate PR, but I feel that these are related, so I'll say it here. If this was merged, I suggest we keep track of the icons that should be deleted via a `deprecated` field in `_data/simple-icons.json` and  write a script to remove these icons before each major release. This way, we wouldn't have any "Delete icon" issues in the

[2021-08-24 03:48] jorgeamadosoria commented on #6350
perhaps instead of / in addition to a deprecated field, it would be good to make a new list in svglint-ignored.json for the deprecated / removed icons? The idea is to keep track of the icons that have been removed already (and perhaps a small reason why) so next time someone purposes to add it we can have a quick response handy.

[2021-08-24 03:55] gurvancampion opened #6361 "Request: Malt"
**Brand Name:** Malt
**Website:** https://www.malt.fr/
**Alexa rank:** 131,910

**Official resources for icon and color:** https://newsroom.malt.com/media-kit

[2021-08-24 07:46] vinaysharma14 opened #6363 "Request: Lodash Icon"
**Brand Name:** Lodash
**Website:** https://lodash.com/
**Alexa rank:** 18,582

**Official resources for icon and color:** https://lodash.com/assets/img/lodash.svg

[2021-08-24 08:14] ericcornelissen commented on #6350
That is an interesting suggestion @sachinraja. Generally I like to avoid adding these kinds of meta fields in the "source code" as it's not really relevant for anyone (or at least a large majority) using the NPM/Packagist package, but the automation aspect makes a lot of sense. Additionally, a field like this could help out with https://github.com/simple-icons/simple-icons-website/issues/57.

I st

[2021-08-24 09:30] gizmecano commented on #6350
I wonder if another clause could not be considered, in case a brand is removed because of an _exceedingly restrictive license_. Indeed, I am currently looking into specific uses, and I am not far from thinking that in some very specific cases, using a disclaimer could **maybe** not prove to be sufficient.

[2021-08-24 12:45] #6130 closed

[2021-08-24 18:13] service-paradis commented on #5585
According to their [Press Kit](https://monday.com/p/news/press-kit/), I think we wont be able to add this icon.

[2021-08-24 18:33] kkrypt0nn opened #6368 "Request: GoLand"
**Brand Name:** GoLand (made by JetBrains)
**Website:** https://www.jetbrains.com/go/
**Alexa rank:** 1,999

**Official resources for icon and color:**
- https://github.com/JetBrains/logos/tree/master/web/goland
- https://www.jetbrains.com/company/brand/logos/

[2021-08-24 19:40] jorgeamadosoria commented on #5585
I agree with @service-paradis:
![image](https://user-images.githubusercontent.com/15719479/130679375-fc230f61-5290-4135-853e-d3a97bd06f7d.png)

This does not leave a lot of room to maneuver. A shame.

[2021-08-24 19:55] #5535 closed

[2021-08-24 20:02] ericcornelissen commented on #6350
That's in interesting scenario I hadn't considered yet. I still don't think that warrants recording the reason in the git history. Again, all the information _should_ be recorded in GitHub already.

I want to stress though, if I'm the only one who thinks so than we should probably go ahead and add such a file. That, however, is unrelated to the original topic of this issue. Hence, if anyone feels

[2021-08-24 21:38] dirien opened #6369 "New Icon Request: Bundeswehr"
**Brand Name:** Bundeswehr
**Website:** https://www.bundeswehr.de
**Alexa rank:** 243,043

**Official resources for icon and color:**

Took from their homepage -> https://www.bundeswehr.de/themes/bwre/img/logo-bw-desktop-standard.svg

[2021-08-24 22:04] dirien opened #6371 "New Icon: Netto - Marken Discount"
**Brand Name:** Netto - Marken Discount
**Website:** https://www.netto-online.de/
**Alexa rank:** 24,456

**Official resources for icon and color:**
  From their website -> https://www.netto-online.de/INTERSHOP/static/WFS/Plus-NettoDE-Site/-/-/de_DE/css/images/netto-logo.svg

  And they are not using the capital N as logo. I even checked the App Store for their app. They really use the full name a

[2021-08-24 22:35] dirien opened #6373 "New Icon: Payback"
**Brand Name:** Payback
**Website:** https://www.payback.de/
**Alexa rank:** 12,668

**Official resources for icon and color:**

From their website, https://www.payback.de/blueberry/static/ui-core/1.375.0/assets/logos/pb_logo--desktop.svg

I trimmed the logo down ony to the dots. As it is well know like this too.

[2021-08-25 05:36] fbernhart commented on #6369
@dirien thanks for your request. According to our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md), we're not adding any governmental agencies/programs etc. So adding the German armed forces (Bundeswehr) is unfortunately out of scope for us.

Similar issue: https://github.com/simple-icons/simple-icons/issues/1635

[2021-08-25 05:36] #6369 closed

[2021-08-25 07:23] dirien commented on #6369
Hi @fbernhart,

my bad sorry! Must have missed this part in the docs! 🙈

[2021-08-25 11:12] dirien commented on #6373
To difficult for me 😅

[2021-08-25 11:14] dirien opened #6374 "New Icon: EDEKA"
**Brand Name:** EDEKA
**Website:** https://www.edeka.de/
**Alexa rank:** 22,274

**Official resources for icon and color:**
 I used their website -> https://www.edeka.de/marktsuche.jsp
 and https://upload.wikimedia.org/wikipedia/commons/e/e7/Logo_Edeka.svg

[2021-08-25 11:29] dirien commented on #6373
Ok i try another one :)

[2021-08-25 11:44] dirien opened #6377 "New Icon: Penny"
**Brand Name:** Penny
**Website:** https://www.penny.de/
**Alexa rank:** 36,456

**Official resources for icon and color:**
Everything from their website -> https://www.penny.de/.resources/penny/webresources/media/logo-penny-white.svg

[2021-08-25 12:02] dirien opened #6379 "New Icon: Aldi Süd"
**Brand Name:** Aldi Süd
**Website:** https://www.aldi-sued.de/
**Alexa rank:** 28,686

**Official resources for icon and color:**
From their website and https://upload.wikimedia.org/wikipedia/commons/e/e5/Aldi_S%C3%BCd_2017_logo.svg

[2021-08-25 12:16] service-paradis commented on #6368
Thanks for the request, @kkrypt0nn. As with other JetBrains products, though, the Alexa rank is for JetBrains, not the product itself. Since GoLand is not open-source, we can't use our secondary metric of GitHub stars to assess its popularity. Is there another metric you're aware of we can use? Perhaps a Google Trends comparison with a similar product that's already included in our library or that

[2021-08-25 12:19] dirien opened #6381 "New Icon: Aldi Nord"
**Brand Name:** Aldi Nord
**Website:** https://www.aldi-nord.de/
**Alexa rank:** 20,733

**Official resources for icon and color:**
From their website (color code) and https://upload.wikimedia.org/wikipedia/commons/2/2c/Aldi_Nord_201x_logo.svg

[2021-08-25 12:25] service-paradis commented on #5994
If someone want to give this a try, it looks like a vector version of their logo is available at https://github.com/quicktype/quicktype-xcode/tree/master/media

[2021-08-25 12:29] service-paradis commented on #6018
Thanks for the request, @VictorSVilela.
However, we can't go by the Alexa rank to assess the popularity for this one . The other metric we can use is GitHub stars and, unfortunately, this would appear to be out of scope as it only has [525 stars](https://github.com/eclipse-ee4j/jersey) (minimum of 5k required). Before we close the issue, though, is there another metric we could use to assess the p

[2021-08-25 12:33] service-paradis commented on #6054
Thanks for the request, @jlnrrg!

As you said, the Alexa rank is for Autodesk, not the product itself. Since Fusion360 is not open-source, we cannot use our secondary metric of GitHub stars to assess its popularity. Is there another metric you're aware of we can use? Perhaps a Google Trends comparison with a similar product that's already included in our library or that we can easily determine the

[2021-08-25 12:38] dirien opened #6383 "Icons of retailers"
Hi,

I thought i open this Issue to keep track and collect input to create the icons of every major retailer. Step by Step 😅

# Germany 🇩🇪

- Lidl #5852
- Kaufland #5855
- Rewe https://github.com/simple-icons/simple-icons/issues/3049
- Edeka #6375
- Netto #6372
- Aldi Süd #6379
- Aldi Nord #6381
- Penny #6378
- MediaMarkt
- Saturn
- Drogerie Markt
- Rossman
- Otto
- Norma
- Metro AG
- Tedi
- Dougl

[2021-08-25 12:39] service-paradis commented on #6058
There is a new logo now for this:
https://www.zensar.com/about/pr-news/zensar-reveals-new-brand-identity

The `z` shape is available in the website header as an SVG version if someone want to give this a try.

[2021-08-25 12:51] service-paradis commented on #6076
Updated links to CNCF logos:
- https://github.com/cncf/artwork/
- https://github.com/cncf/artwork/tree/master/projects/nats

[2021-08-25 12:51] dirien opened #6384 "New Icon: Carrefour"
**Brand Name:** Carrefour
**Website:** https://www.carrefour.com/en
**Alexa rank:** 60,578

**Official resources for icon and color:**
From their website and https://www.carrefour.com/themes/custom/c4com/img/logo_white.svg

[2021-08-25 12:53] dirien commented on #5925
Hi @diegobot1977, I accedentially created a new issue -> #6384

[2021-08-25 12:56] service-paradis commented on #6384
We'll keep the original open: #5925 and mark this one as duplicate.

[2021-08-25 12:56] #6384 closed

[2021-08-25 13:01] jlnrrg commented on #6054
I compared the google Trends with a few other cad softwares, but the popularity seems to be limited.
I'd propose to add it to the cad list, to the likes of AutoCAD and Inventor. #1984

As there a multiple softwares under the autodesk company, maybe a collective inquision for press kits might be beneficial.

[2021-08-25 13:43] dirien opened #6386 "New Icon: E.Leclerc"
**Brand Name:** E.Leclerc
**Website:** https://www.e.leclerc/
**Alexa rank:** 21,639

**Official resources for icon and color:**
From their website and https://www.e.leclerc/assets/images/sue-logo.svg as base.

Color: `#0066CC`

[2021-08-25 15:13] jorgeamadosoria commented on #6350
the problem with relying on Github for this is that the information is not as readily available. It requires sifting through comments and such. and sometimes the comment list is long, and / or messy.

It's not as easy to try and find a brand name in comments than it is to just see it in a list.
Sometimes accessibility of information is more important than reducing redundancy.

If the idea is to he

[2021-08-25 17:35] XEfnexX opened #6388 "Icon request: Guilded"
**Brand Name:** Guilded
**Website:** https://guilded.gg
**Alexa rank:** 49,627

**Official resources for icon and color:** https://guilded.gg/brand

[2021-08-25 18:52] dirien opened #6389 "New Icon: Asda"
**Brand Name:** Asda
**Website:** https://www.asda.com/
**Alexa rank:** 6,325

**Official resources for icon and color:**
From their website (really they have the svg as base64 string) color is `#68a51c`

[code]

[2021-08-25 19:20] dirien opened #6391 "New Icon: Boots UK"
**Brand Name:** Boots
**Website:** https://www.boots.com/
**Alexa rank:** 11,424

**Official resources for icon and color:**
`#05054B`
Icon from https://www.boots-uk.com/css/images/Boots_logo.svg

[2021-08-25 20:04] dirien opened #6393 "New Icon: Magasins U"
**Brand Name:** Magasins U
**Website:** https://www.magasins-u.com/accueil
**Alexa rank:** 149,328

**Official resources for icon and color:**

`#e71b34`

 Icon from https://upload.wikimedia.org/wikipedia/fr/2/2a/Super_U_logo_2009.svg

 Thats a tricky one. The circle is difficult to express i monochrome. I try my best.

[2021-08-25 20:15] jorgeamadosoria opened #6394 "List document for rejected brands"
### Kind of issue
  - [X] Improvement
  - [ ] Mistake
  - [ ] Other, namely:

### Description
As discussed in https://github.com/simple-icons/simple-icons/issues/6350#issuecomment-904199882, we need a text document, json file, or other way to keep a clear and easily accesible track of the brands that have already being rejected, as well as the issue where that brand's rejection was handled.

Some

[2021-08-25 22:18] dirien opened #6396 "Request: Auchan"
### Brand Name

Auchan

### Website

https://www.auchan.fr/

### Popularity Metric

Alexa: 16,368

### Official Resources for Icon and Color

https://www.auchan.fr/content-renderer/sav_20211110-02/images/auchan-logo-desktop.svg

`#DE0B1E`

### Additional Comments

From their website. just the Bird logo, as it is the most iconic and they use it for their favicon too

### Contributing

Yes

[2021-08-26 03:09] jorgeamadosoria opened #6398 "Update: Google Calendar"
### Brand Name

Google Calendar

### Official Resources for Icon and Color

https://about.google/brand-resource-center/logos-list/

Current icon in the library is:
![image](https://user-images.githubusercontent.com/15719479/130894195-a5a53462-9e82-4636-aa60-fbaf21a569fa.png)

but the newer version does not have the number:
![image](https://user-images.githubusercontent.com/15719479/130894211-54320

[2021-08-26 03:39] jorgeamadosoria opened #6399 "Updating icon sources"
### Brand Name

Several

### Official Resources for Icon and Color

Several.
Many icons reference svg, png, zip or pdf files as sources outside Github. Other reference uploaded files in wikipedia instead of the commons page in wikimedia, etc. The goal of this review and others to come is to standarize the source references according to the contribution guidelines, as discussed in #6364

Sources ne

[2021-08-26 03:58] jorgeamadosoria opened #6400 "Request: Add Fonoma Icon"
### Brand Name

Fonoma

### Website

https://en.fonoma.com/

### Popularity Metric

Alexa: [~335k](https://www.alexa.com/siteinfo/fonoma.com)

### Official Resources for Icon and Color

source image: https://storage.googleapis.com/static.fonoma.com/web-app/miscellanea/assets/v1/main-logo.svg
source: https://en.fonoma.com/
hex: `#02B78F`

### Additional Comments

Since there are no guidelines, I th

[2021-08-26 08:46] dungsil opened #6401 "Request: Fork"
### Brand Name

Fork

### Website

git-fork.com

### Popularity Metric

Alexa: [314,693](https://www.alexa.com/siteinfo/git-fork.com)

### Official Resources for Icon and Color

source image: https://paddle.s3.amazonaws.com/user/53282/umogvDJcRVKT9qzdjC2h_icon_512x512%402x.png

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-26 19:33] jorgeamadosoria opened #6402 "Microsoft icons review"
### Brand Name

Microsoft

### Official Resources for Icon and Color

https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks

### Additional Comments

- Dynamics 365 source is returning 404. A new source is needed, or alternatively, the icon should be removed.
- Additionally, Microsoft Office Suite icons are obsolete. Excel, Powerpoint and Word require update or removal.
- Additiona

[2021-08-26 22:10] jorgeamadosoria opened #6403 "Update: Arxiv icon"
### Brand Name

ArXiv

### Official Resources for Icon and Color

Logo: https://static.arxiv.org/static/arxiv.marxdown/0.1/about/arXiv_Brand_Guide_2021.pdf

### Additional Comments

Guidelines: https://static.arxiv.org/static/arxiv.marxdown/0.1/about/arXiv_Brand_Usage_2021.pdf

They specify that the logo shouldn't be used in APIs unless asked for permission. They also provide an email to ask for t

[2021-08-27 13:20] dirien opened #6405 "Request: Leader Price Icon"
### Brand Name

Leader Price

### Website

https://www.leaderprice.fr/

### Popularity Metric

Alexa: 443,428

### Official Resources for Icon and Color

svg: https://www.leaderprice.fr/repository/image/logo-lp-vec-03.svg
color: `#e50005`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-27 15:38] dirien opened #6408 "Request: Cora"
### Brand Name

Cora

### Website

https://www.cora.fr/

### Popularity Metric

Alexa: 66,700

### Official Resources for Icon and Color

SVG: https://www.cora.fr/_nuxt/img/cora-logo.97782ce.svg
color: `#E61845`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-27 16:03] dirien opened #6410 "Request: Monoprix"
### Brand Name

Monoprix

### Website

https://www.monoprix.fr/

### Popularity Metric

Alexa: 42,409

### Official Resources for Icon and Color

svg: https://www.monoprix.fr/contents/images/logo_monop_rouge.svg
color: `#fb1911`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-27 17:01] njNagaraj opened #6413 "cssbattle icon is not there"
css battle is a famous website for web-developer and college students to develop their designing skill for to become a web developer so please add that so i can add it to my git-hub readme portfolio

[2021-08-27 18:23] lohnsonok opened #6414 "Request: commitizen"
Brand Name
Commitizen

Website
https://commitizen-tools.github.io/commitizen/

Popularity Metric
Alexa: 3,111,423

Official Resources for Icon and Color
SVG: none
color: white

Additional Comments
No response

Contributing
Yes

[2021-08-27 22:11] dirien opened #6415 "Request: Albert Heijn"
### Brand Name

Albert Heijn

### Website

https://www.ah.nl/

### Popularity Metric

Alexa: 29,386

### Official Resources for Icon and Color

SVG: https://upload.wikimedia.org/wikipedia/commons/e/eb/Albert_Heijn_Logo.svg
Color: `#04ace6`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-27 22:23] #6414 closed, assigned to nobody

[2021-08-28 01:04] sachinraja opened #6418 "Popular icons from unofficial sources"
It seems as though there is no official JavaScript icon, which makes sense as there is no official governing body for it. The current source:
https://github.com/simple-icons/simple-icons/blob/198c42d6f8cc91c8e5551adfe0353d06c3828c34/_data/simple-icons.json#L4555-L4557

This uses the source https://github.com/voodootikigod/logo.js, which is unofficial. I realize that it may be too late to remove th

[2021-08-28 02:30] jorgeamadosoria opened #6419 "Update Hex for Team Viewer icon"
### Brand Name

Team Viewer

### Official Resources for Icon and Color

This is the actual icon used in the front page:
https://www.teamviewer.com/wp-content/themes/tv-wordpress-theme/dist/media/TeamViewer_Company_RGB.svg
the svg fill color is `#004680`

This color is also used in buttons and other media in the site.

### Additional Comments

https://www.teamviewer.com/en-us/
color should be chang

[2021-08-28 03:40] TruongNhanNguyen opened #6421 "Matplotlib Icon"
I wonder why i can't find icon of Matplotlib.

[2021-08-28 05:01] sachinraja commented on #6421
Thank you for your request, but there are required information needed when asking for an icon. Please add the following:

Brand Name
Website
Alexa Rank
Official Resources for Icon and Color (Media kits, brand guidelines, SVG files, etc. You can set this to "None" if you are unable to find any resources.)

Also please use the correct form:
https://github.com/simple-icons/simple-icons/issues/new?ass

[2021-08-28 05:05] gizmecano commented on #6421
Probable duplicate of #3410, #5321 a,d #5606.

[2021-08-28 05:30] jorgeamadosoria commented on #6400
no, the icon is not yet part of the repo.
I provided an SVG that can be used as source for the repo, for anyone that wants to contribute.
The idea of the issues marked as "good first issue" is to provide would-be contributors with something easy that they can work on when starting.
This icon request provides an SVG without difficult paths, stringent guidelines or aliases.
I'm going to add a color

[2021-08-28 05:43] jorgeamadosoria commented on #6421
Well, isn't this a popular brand icon! :)
unfortunately the discussion in #3410 appears to show that there are legal questions still unanswered on their side, hence why this is still pending @TruongNhanNguyen if you want to follow up on this issue if and when it is resolved, I would suggest you follow the discussion in #3410. The interest is there and the icon certainly qualifies for inclusion, we

[2021-08-28 05:43] #6421 closed

[2021-08-28 05:48] jorgeamadosoria commented on #6398
we can close this, then. the 31 logo is more aesthetically pleasant anyways.

[2021-08-28 05:48] #6398 closed

[2021-08-28 05:55] gizmecano commented on #6418
I understand this appreciation, but however, in this case, it is probable that other icons could be considered in the same case.

For example, Markdown icon has become a _de facto_ standard (notoriously used by [Primer Octicons](https://primer.style/octicons/markdown-16)), but it does not seem to me that it is any formal brand (by the way, source in data file refers to the work of the designer, no

[2021-08-28 06:00] RalXYZ opened #6423 "Request: MinIO Icon"
### Brand Name

MinIO

### Website

https://min.io

### Popularity Metric

The [GitHub repo of MinIO](https://github.com/minio/minio) has 29.1k stars.
The [Alexa rank of MinIO](https://www.alexa.com/siteinfo/min.io) is about 67k.

### Official Resources for Icon and Color

brand guidelines: https://min.io/logo
Sorry but I can't find the SVG file of the logo, the official website only provides PNG

[2021-08-28 06:18] jorgeamadosoria commented on #6383
Great idea, @dirien . I've added a couple retailers in Mexico, the US and Uruguay, hope you don't mind

[2021-08-28 06:22] jorgeamadosoria commented on #6418
I think this one is so established as a de facto standard that it even has other icons styled after it, like [Typescript](https://www.typescriptlang.org/branding/) for example.

I feel good keeping it in, even if there is no official source. Javascript certainly is very popular and the icon is well established and necessary for technological lists and such (speaking from experience).
I vote to kee

[2021-08-28 06:31] jorgeamadosoria commented on #6368
I'm fine with it. Slightly concerned with the fact that we are establishing precedent with this that eyeballing a google trend comparison is basis enough, but for this particular tool I have no objection.

[2021-08-28 07:00] jorgeamadosoria commented on #6394
steps 6 to 9 are highly optional. Why apply the full flow for something that is entirely bureaucratic?
step 5 is also conditional to the existence or not of a brand rejection.

Also, this allows for automation: with this list, a bot can detect duplicates (avoiding more #6421 requests, for example) or automatically reject brands that have already been rejected.
Even without automation, a list of re

[2021-08-28 12:27] XEfnexX commented on #6388
How can I scale the Icon?

[2021-08-28 12:44] dirien commented on #6383
Hi @jorgeamadosoria,

Thats really cool! And so much the learn about different countries.

[2021-08-28 13:21] sachinraja commented on #6418
I disagree that "de facto standard" icons should be included. The [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#1-identify-official-logos-and-colors) say to "identify official logos and colors."

Icons are supposed to represent a brand, not the community. If this icon was brought up and used by JSConf (as said in the source), it should be label

[2021-08-28 15:52] gizmecano commented on #6418
As I wrote before, I can understand this opinion: it may sound perhaps rigorous, but reading the current guidelines, it seems founded and logical... 😕

In this vein, in addition to Javascript or Markdown, the icon currently included for CSS3 (added by @ericcornelissen in 2266a1474c86270255d5630db40d31d6c04d538f) could probably be added to this specific list. Indeed, this file doesn't seem to exist

[2021-08-28 17:16] jorgeamadosoria commented on #6418
I would rather amend the guidelines to include "widely recognized de facto standards" before taking down any of the icons discussed here.
These icons are pivotal in current software development and are very, very accepted as symbols of their respective technologies.
If the community uses two icons, then is up to us to decide which one to add, if there is one that is clearly predominant (in our con

[2021-08-28 18:30] gizmecano commented on #6418
Of course, the arguments of @jamesmontemagno are perfectly valid (it is why I mentioned some representations which have become _de facto_ common even if they have no such formal value).

But the comments made by @sachinraja on what appears like a peculiar contradiction currently existing between the acceptance of certain icons and the wording of the guidelines are just the same valid.

It seems th

[2021-08-28 19:04] jorgeamadosoria commented on #6418
Ok, the guidelines say that to request an icon:

Is of **a popular brand**:
- For websites, the Alexa rank should be less than 500k.
     Note that for brands that have already been added the threshold for continued inclusion rises to 750k.
- For GitHub projects, the amount of "stars" should be above 5k.
**- For anything else, popularity will be judged on a case-by-case basis.**

I'm going to say

[2021-08-28 19:27] #6386 closed

[2021-08-28 21:25] sachinraja commented on #6418
I have no problem with the popularity of these icons. I only have a problem with the source of these icons, so I agree with @jorgeamadosoria, I think an amendment would help clarify this.

[2021-08-29 03:57] jorgeamadosoria commented on #6418
I've added a pull request with tentative text to address this issue in the contributing guidelines. All changes welcome there.
This PR assumes that we are already in agreement with tweaking the guidelines to make Javascript fit. I would suggest making changes to the text in the PR, and further discussion on the issue of changing the guidelines or removing the icons be kept here, if there is any.

[2021-08-29 05:38] lucasheverton opened #6429 "Add .svg Rocketseat"
please add rocketseat logo https://rocketseat.com.br/favicon.ico

[2021-08-29 13:10] sachinraja commented on #6429
Hey, thank you for the request, but we cannot consider this icon without the proper information. Please use the correct form: https://github.com/simple-icons/simple-icons/blob/develop/.github/ISSUE_TEMPLATE/icon_request.yml.

[2021-08-29 13:16] sachinraja commented on #6388
You may want to look at https://github.com/simple-icons/simple-icons/discussions/5076#discussioncomment-1121492. In Inkscape, you would do this:
1. Hit the lock icon between the inputs for the width and height
2. Change the unit to the right of the height input to "px."
3. Depending on which one is of higher value, set the width or height to 24.

[2021-08-29 16:23] ericcornelissen commented on #6394
I have to agree that such a file, if implemented properly, can be faster than searching in issues. Additionally, if it is linked it in [the issue templates/forms](https://github.com/simple-icons/simple-icons/tree/develop/.github/ISSUE_TEMPLATE) then anyone we would search through the issues should find this file as well. (that's not to say that I'm no in favor of adding such a file :upside_down_fa

[2021-08-29 16:37] ericcornelissen commented on #6418
You bring up an interesting issue @sachinraja, and the discussion so far has been excellent. I just want to add three things:

1. The "brands" discussed so far (CSS, JavaScript, and MarkDown) were all added pretty early in this project's life. So that's the primary reason they don't necessarily obey the _current_ requirements. They've probably not been questions before as, as [already pointed out]

[2021-08-29 17:14] #6253 closed

[2021-08-29 17:27] sachinraja commented on #6418
I agree, this makes the most sense to me. Does everyone agree that we should proceed with #6428 then?

[2021-08-29 18:13] dirien opened #6430 "Request: Tesco"
### Brand Name

Tesco

### Website

https://www.tesco.com/

### Popularity Metric

Alexa: 4,716

### Official Resources for Icon and Color

svg: embeded in their website https://www.tesco.com/
![image](https://user-images.githubusercontent.com/38325136/131261040-8a8a6d24-190f-40a0-9362-66447531186f.png)

color: `#00539F`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-29 18:34] dirien opened #6432 "Request: Nectar"
### Brand Name

Nectar

### Website

https://www.nectar.com/

### Popularity Metric

Alexa: 118,870

### Official Resources for Icon and Color

svg: https://www.sainsburys.co.uk/assets/images/6G0kGWeuwtT0YIRI50iXkw_49d302c7d0d703d450ece4139f7455ca_nectar_logo.svg
Color: `#8520F7`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-29 22:16] dirien opened #6434 "Request: Darty"
### Brand Name

Darty

### Website

https://www.darty.com/

### Popularity Metric

Alexa: 11,325

### Official Resources for Icon and Color

svg:

[code]

color: `#eb1b23`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-29 22:22] dirien opened #6435 "Request: Morrisons"
### Brand Name

Morrisons

### Website

https://groceries.morrisons.com/webshop/startWebshop.do

### Popularity Metric

Alexa: 49,955

### Official Resources for Icon and Color

svg: `https://groceries.morrisons.com/webshop/static/images/logos/brandLogo2.svg`

color: `#007531`

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-29 22:56] dirien opened #6437 "Update: FNAC Icon"
### Brand Name

FNAC

### Official Resources for Icon and Color

From their website: https://www.fnac.com/

[code]

no color change

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-29 23:00] dirien commented on #6437
- Original Request: https://github.com/simple-icons/simple-icons/issues/392

[2021-08-29 23:06] jorgeamadosoria commented on #6394
IU agree that we lose some info adding the label.
But, in the spirit of consensus, I think it's good enough. With that label one could, potentially, make a search query that shows all icons considered and not included (won't add + deleted) and the same query can be used for automation.
It's not as good as having the file, but it does take less effort.
If keeping the file is a hard-no for other mai

[2021-08-30 08:46] renovate[bot] opened #6440 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] Update all dependencies (`jest`, `jest-diff`, `svgo`)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repositor

[2021-08-30 12:32] service-paradis commented on #6368
Google Trends is used in many case where the current metrics does not apply (Apache products, Jetbrains products, etc...).
We always try to compare the requested product with a similar icon already in the project. If the comparison is pretty good, we ask other maintainers.
This comparison is not suitable for any icon and is used on a case by case basis.

[2021-08-30 13:54] #6419 closed

[2021-08-30 16:22] DecliningLotus opened #6442 "Request: Sendgrid"
### Brand Name

Sendgrid

### Website

https://sendgrid.com/

### Popularity Metric

Alexa Rank `#4078` - https://www.alexa.com/siteinfo/sendgrid.com

### Official Resources for Icon and Color

https://sendgrid.com/resource/brand/

### Additional Comments

_No response_

### Contributing

No

[2021-08-30 16:27] #6440 closed

[2021-08-30 16:50] ayuhito opened #6443 "Request: Sanity.io"
### Brand Name

Sanity.io

### Website

https://www.sanity.io/

### Popularity Metric

https://github.com/sanity-io/sanity - 2.7k stars on Github

### Official Resources for Icon and Color

None

### Additional Comments

_No response_

### Contributing

No

[2021-08-30 17:15] Qetzing opened #6444 "Request: FusionAuth"
### Brand Name

FusionAuth

### Website

https://fusionauth.io/

### Popularity Metric

Alexa Rank `124,609` - https://www.alexa.com/siteinfo/fusionauth.io.

### Official Resources for Icon and Color

png: https://avatars.githubusercontent.com/u/41974756?s=200&v=4
color: `#ffffff`, from the website header

### Additional Comments

_No response_

### Contributing

Yes

[2021-08-30 17:22] service-paradis commented on #6442
Sendgrid was requested a while ago (#470 and #5558) and got unfortunately rejected. It would be difficult to convert it to monochrome without losing the brand.

[2021-08-30 17:22] #6442 closed

[2021-08-30 21:57] sachinraja commented on #6443
Sanity logo is here: https://github.com/sanity-io/design/blob/next/packages/%40sanity/logos/src/sanityLogo.tsx

[2021-08-30 22:01] sachinraja commented on #6443
They don't have enough GitHub stars (must be over 5k), but they do have an Alexa rank of 26,928: https://www.alexa.com/siteinfo/sanity.io

[2021-08-30 22:03] sachinraja commented on #6444
SVG from their website: https://fusionauth.io/assets/img/logo-white.svg

[2021-08-30 23:08] sachinraja commented on #6388
I'll leave this open in case anyone else wants to try.

[2021-08-31 05:00] NeerajChatterjee opened #6446 "Need a badge"
Mediapipe badge required.

[2021-08-31 12:30] service-paradis commented on #6446
Thank you @NeerajChatterjee for your request, but there are required information needed when asking for an icon. Please add the following:

- Brand Name
- Website
- [Alexa Rank](https://www.alexa.com/siteinfo)
- Official Resources for Icon and Color (Media kits, brand guidelines, SVG files, etc. You can set this to "None" if you are unable to find any resources.)

[2021-08-31 17:06] ishrathnayeem opened #6447 "Mulesoft Icon is not available"
I can’t find the mulesoft icon can you please add it

[2021-08-31 17:48] service-paradis commented on #6447
Thank you @ishrathnayeem for your request, but there are required information needed when asking for an icon. Please add the following:

- Brand Name
- Website
- [Alexa Rank](https://www.alexa.com/siteinfo)
- Official Resources for Icon and Color (Media kits, brand guidelines, SVG files, etc. You can set this to "None" if you are unable to find any resources.)

[2021-08-31 17:52] service-paradis commented on #6400
The idea of the issues marked as "good first issue" is to provide would-be contributors with something easy that they can work on when starting.

FYI @jorgeamadosoria, if you set yourself as an assignee, it means you will work on it. If you want to let the chance to another contributor, you should leave the assignee blank on the issue.

[2021-08-31 18:51] jorgeamadosoria commented on #6400
I don't know how that happened, probably because I created a few issues in bulk

[2021-08-31 20:42] jorgeamadosoria commented on #6447
We sure can consider it!
Please use this [form](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) to make your icon request with the info @service-paradis mentioned, and we will get to it as soon as possible!

[2021-08-31 23:48] henriqueleite42 commented on #6388
Hey guys, I created the PR #6448 to add this logo.

[2021-09-01 01:09] ishrathnayeem commented on #6447
Hello, Please find the below details.

   - Brand Name- Mulesoft
   - Website - Mulesoft.com
   - Alexa Rank <https://www.alexa.com/siteinfo> - 17449
   - None

On Tue, Aug 31, 2021 at 11:18 PM Alexandre Paradis ***@***.***>
wrote:

--
Regards
MOHAMMED ISHRATH NAYEEM

[2021-09-01 06:48] adityaoberai opened #6449 "Request: Need Appwrite logo"
### Brand Name

Appwrite

### Website

https://appwrite.io

### Popularity Metric

The Appwrite project has **~11K stars** on their [GitHub repo](https://github.com/appwrite/appwrite)

### Official Resources for Icon and Color

svg: https://appwrite.io/images/appwrite.svg

### Additional Comments

_No response_

### Contributing

No

[2021-09-01 14:12] service-paradis commented on #6449
Thank you @adityaoberai for the request. Logos and brand color can also be found at https://appwrite.io/assets

Do you think you would be up trying to do a pull request?
You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-01 17:29] adityaoberai commented on #6449
Thanks @service-paradis :)

It'll be difficult for me to jump on this with my current work commitments however

[2021-09-02 01:38] #6388 closed

[2021-09-02 01:47] FayasNoushad opened #6451 "Request: Please add Pyrogram icon"
### Brand Name

Pyrogram

### Website

https://pyrogram.org

### Popularity Metric

438,973. See https://www.alexa.com/siteinfo/pyrogram.org

### Official Resources for Icon and Color

svg: https://raw.githubusercontent.com/pyrogram/logos/fe16a72cae833fcabf1f79ca0b33cee6af2f3bc3/logos/pyrogram.svg
color: Multiple Options

### Additional Comments

Multiple options for colour
Licensed under [Creativ

[2021-09-02 01:50] FayasNoushad commented on #6451
But which color I use for adding colour?

[2021-09-02 03:50] jorgeamadosoria commented on #6394
given the lack of activity in discussion here, I'm going to go ahead and close this issue and open a different one for adding a "deleted" label.

[2021-09-02 03:50] #6394 closed

[2021-09-02 04:03] jorgeamadosoria opened #6452 "Add new 'deleted' label for issues"
### Kind of Issue

Improvement

### Description

Adding a new 'deleted' label in PRs and issues that deal with removing icons. This stems from discussion in #6394. It's not optimal, but it's a functional compromise.

This will help in:
- Automate rejections of icons that has been analyzed and rejected / removed from the library already. If it can't be rejected outright (some icons may be legitimat

[2021-09-02 04:12] sachinraja commented on #6350
I think we should move ahead with this, not sure if other maintainers have a different opinion.

[2021-09-02 04:29] jorgeamadosoria commented on #6350
Not a different opinion, but I would like to get #6452 sorted out first, to see if it makes sense to autolabel issues created with this template with the proposed 'delete' label.

Not sure if that's possible, @sachinraja ?

[2021-09-02 05:28] hyeokju1313 opened #6453 "Request: Scrapy"
### Brand Name
Scrapy

### Website
<https://scrapy.org>

### Popularity Metric
<https://github.com/scrapy/scrapy> - 41.4k stars on Github

### Official Resources for Icon and Color
<https://github.com/scrapy/scrapy/tree/master/artwork>

### Additional Comments
No response

### Contributing
No

[2021-09-02 09:58] dirien opened #6454 "Request: Saturn Markt"
### Brand Name

Saturn

### Website

https://www.saturn.de/

### Popularity Metric

Alexa: 10,206

### Official Resources for Icon and Color

Svg: embeded in their website.

[code]
Color: `#EB680B`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-02 10:17] dirien opened #6456 "Request: dm"
### Brand Name

dm

### Website

https://www.dm.de/

### Popularity Metric

Alexa: 39,360

### Official Resources for Icon and Color

svg:
[code]

color: `#002878`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-02 10:35] dirien opened #6458 "Request: Rossmann"
### Brand Name

Rossmann

### Website

https://www.rossmann.de/

### Popularity Metric

Alexa: 33,902

### Official Resources for Icon and Color

svg: https://www.rossmann.de/unternehmen/resources/templating-kit/themes/rsmn-corp/5.97.0-2021.08.16.05.53/images/layout/logo.svg

color: `#C3002D`

### Additional Comments

Only full claim is allowed -> https://www.rossmann.de/unternehmen/presse/media-d

[2021-09-02 11:44] Circeus commented on #6383
For canada (those that adapt alright for this anyway):
 - Staples / Bureau en gros (the French-lnaguage Brand name ha s acompletely different logo)
 - IGA
 - Loblaws / Provigo
 - Dollarama
 - Pharmacy Jean Coutu
 - Giant Tiger
 - Proxim
 - Couche-Tard
 - Canadian Tire
 - Simons
 - Sobeys
 - Home Hardware
 - Réno-Dépôt
 - Rona

[2021-09-02 12:58] service-paradis commented on #6453
Duplicate of #6337

[2021-09-02 12:58] #6453 closed

[2021-09-02 12:58] service-paradis commented on #6337
Additional information from @hyeokju1313 in #6453:

### Brand Name
Scrapy

### Website
<https://scrapy.org>

### Popularity Metric
<https://github.com/scrapy/scrapy> - 41.4k stars on Github

### Official Resources for Icon and Color
<https://github.com/scrapy/scrapy/tree/master/artwork>

### Additional Comments
No response

### Contributing
No

[2021-09-02 13:30] dirien opened #6460 "Request: Müller"
### Brand Name

Müller

### Website

https://www.mueller.de/

### Popularity Metric

Alexa: 65,838

### Official Resources for Icon and Color

svg: https://www.mueller.de/7aaea20bf455fcb4119f987a33c3860fb6bd5dc6/assets/base/images/logotype.svg
color: `#F46519`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-02 13:33] dirien commented on #6383
@Circeus, merce mon pote!  😄.

I added it to the main list, if its okay for you.

[2021-09-02 17:35] ericcornelissen commented on #6350
Issue templates allow you to automatically assign labels. I don't think it makes sense to wait with this until #6452 is resolved: if this can be implemented before that that's fine, we can always add the `delete` label to the template at a later point.

However, I don't even think it makes sense to do this. We should be very careful when it comes to removals and not just accept all requests for re

[2021-09-02 21:49] jorgeamadosoria commented on #6350
adding the label does not automatically accepts the removal as valid, though.
The only valid removals would be the ones in a closed PR with the deleted label, for example, not an issue with the same label.

[2021-09-02 21:50] ericcornelissen commented on #6350
I didn't say that's what it means, I said it could be interpreted as such

[2021-09-02 22:19] jorgeamadosoria commented on #6350
I guess it's not completely necessary to add the label if you are concerned about that. The automation bot I had in mind was going to scout PRs mostly, I wanted the issues labeled as well for maybe automated prioritization or something like that, but it's not essential.

@sachinraja feel free to ignore my comment if you want to move forward.

[2021-09-03 02:16] #6418 closed

[2021-09-03 06:40] mRtyu opened #6462 "Request: Appian"
### Brand Name
Appian

### Website
https://appian.com/

### Popularity Metric
Alexa: 55,724

### Official Resources for Icon and Color
svg: https://appian.com/content/dam/appian-aem/FavIcon_16x16.svg

color: #1A1AB4

### Additional Comments
No response

### Contributing
Yes

[2021-09-03 13:09] service-paradis commented on #6462
Thank you @mRtyu for the request.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-03 13:11] service-paradis commented on #6444
Thank you @Qetzing for the request.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-03 13:16] service-paradis commented on #6423
Thank you @RalXYZ for the request. The icon in their website header is a SVG (the bird can also be found in the website footer as SVG).

The bird is used in their website footer, as their [Github organisation logo ](https://github.com/minio), for their [social media](https://twitter.com/Minio) and for their favicon. I think it could be used.

You can take a look at our [contributing guidelines](ht

[2021-09-03 15:23] #6437 closed

[2021-09-03 18:33] ericcornelissen commented on #6350
Not saying it should never be on issues, just that I perst think it should go on the issue template. Also, if there's concencus to the contrary the label can be included. And, in any case, the issue template can be added before that discussion is resolved.

[2021-09-03 19:34] djmacloud opened #6465 "Request: Ame Digital icon"
### Brand Name

Ame Digital

### Website

https://www.amedigital.com/

### Popularity Metric

Alexa rank is #224,661. You can see it on [Alexa Rank for Ame Digital](https://www.alexa.com/siteinfo/amedigital.com).

Ame Digital is a popular brazillian digital wallet, similar with Picpay that's already added [Picpay](https://simpleicons.org/?q=picpa).

### Official Resources for Icon and Color

SVG:

[2021-09-03 20:10] Zapotoczny-Rafal commented on #6449
Hello, I would like to contribute to this issue, if the author allows, I can create this icon in a few days.

[2021-09-03 22:36] ericcornelissen commented on #770
Closing this issue given it's age and lack of activity. It should be noted that since this issue was created there has been some with regards to changing the project structure, most notably the extraction of the website into a separate project.

Some of the suggestions in the original issue description could still be of interest so if someone thinks we should reconsider please leave a comment!

[2021-09-03 22:36] #770 closed

[2021-09-03 22:39] ericcornelissen commented on #2380
Closing this out for now as it has turned out this is somewhat difficult to implement using GitHub actions due to access restrictions on Pull Request for forks.

That said, if anyone has ideas for how we might be able to implement this, please leave a comment so we can reconsider.

[2021-09-03 22:41] ericcornelissen commented on #4461
@jorgeamadosoria, you might be interested in this as it is tangentially related to the discussion in #4629

[2021-09-03 22:49] ericcornelissen commented on #4669
Closing this as inactive with the added consideration that this could be considered as being part of #1207.

If anyone has any input, please do feel free to re-open and/or continue the discussion :slightly_smiling_face:

[2021-09-03 22:49] #4669 closed

[2021-09-03 22:52] jorgeamadosoria commented on #4461
I am, thanks @ericcornelissen.
- I agree with @PeterShaggyNoble's writeup, except that I would extend some intervals to 1 month.
For example, I would leave "good first issue" up for 1 month, then remove the label so anyone can take it.

- I guess we would have to write a stalebot for this, since I agree with @ericcornelissen that most existing ones are not going to be able to handle this specifici

[2021-09-04 05:16] jorgeamadosoria commented on #5358
4 is better.

[2021-09-04 05:19] jorgeamadosoria commented on #5358
@Yash-Singh1 If you look at your SVG, you will find at the end a lot of attributes in the `<path>`, things like style, fill, class, etc.
The icon should only consist of the `<path>` element with a `d` attribute, nothing else.
This is easy to remove using an editor like Inkscape, for example. Which one are you using?

[2021-09-04 05:29] jorgeamadosoria commented on #5358
It should look something like this (previous to optimization):

`<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Handlebars.js</title>
  <path
     d="m 9.1008583,4.9481971 a 3.4502173,3.4502173 0 0 0 -0.3988,0.014 c -2.38215,0.1876 -3.328726,1.41316 -3.900262,1.9382002 -0.571536,0.52504 -1.6553282,1.7626 -2.3761243,1.545081 -0.7207954,-0.21752 -0.9241438,-1.107861 -0

[2021-09-04 09:00] mRtyu commented on #6462
Sure @service-paradis, I will take it up.

[2021-09-05 05:26] #5358 closed

[2021-09-05 08:36] dirien opened #6470 "Request: Otto"
### Brand Name

Otto

### Website

https://www.otto.de/

### Popularity Metric

Alexa: 1,925

### Official Resources for Icon and Color

svg: embeded in their website
color: `#d4021d`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-05 08:55] dirien opened #6472 "Request: boulanger"
### Brand Name

boulanger

### Website

https://www.boulanger.com/

### Popularity Metric

Alexa: 13,104

### Official Resources for Icon and Color

svg: https://www.boulanger.com/wcsstore/assets/dist/svg/logo-b-boulanger.svg
color: `#FD5300`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-05 09:10] dirien opened #6474 "Update: Intermarche"
### Brand Name

Intermarche

### Website

https://www.intermarche.com/

### Popularity Metric

Alexa: 7,085

### Official Resources for Icon and Color

svg: embeded in their website
color: `#e2001a`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-05 10:31] dirien opened #6476 "Request: Argos"
### Brand Name

Argos

### Website

https://www.argos.co.uk/

### Popularity Metric

Alexa: 5,229

### Official Resources for Icon and Color

svg: https://argos.careers/wp-content/themes/argos/assets/images/argos-logo.svg
color: `#DA291C`

### Additional Comments

Took the svg from their careers page as the main page had no svg only image

### Contributing

Yes

[2021-09-05 16:15] dirien opened #6479 "Request: arm"
### Brand Name

arm

### Website

https://www.arm.com/

### Popularity Metric

Alexa: 35,788

### Official Resources for Icon and Color

svg: https://www.arm.com/-/media/global/logos/arm-logo-white-rgb.svg?revision=d98f22d3-09c8-4813-a9d8-434c89710774&la=en&hash=D4CDA0CEC5DF33934201ABAA45A258021966BE47

color: `#3E4A56`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-05 17:49] sachinraja opened #6481 "inline `path` for js files"
### Kind of Issue

Performance

### This issue concerns the...

NPM package

### Package Version

All

### Other Software

not needed

### Description

I think `icon.path` should be inlined [here](https://github.com/simple-icons/simple-icons/blob/develop/scripts/build/templates/icon-object.js) instead of being computed as a getter. The majority of use cases are going to need `path`, and not the st

[2021-09-05 18:18] #6363 closed

[2021-09-06 12:39] clhibbard opened #6483 "Book Seller icons"
Can bookseller icons be added to the simple icons?
Barns & Noble
Kobo

[2021-09-06 15:51] dirien commented on #6483
Hi @clhibbard,

Cool request! I work myself on a hugh list of retailers -> #6383

Checkout the our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to try to contribute this two!

[2021-09-06 16:36] jorgeamadosoria commented on #6483
@dirien  Should we add book sellers to #6383 to have a single cohesive list?
In addition to @clhibbard suggestions I was thinking about:
- Manning: Alexa ~14k
- O'Reilly Media: Alexa ~ 2.7k
- Springer: Alexa 702
- Wiley: Alexa 815
- Apress: Alexa ~86k
- Pearson: Alexa ~1.5k
- McGraw HIll: Alexa ~1.3k
- Cambridge University Press: Alexa 405
- Oxford University Press: Alexa ~2k
- Packt Publishing: A

[2021-09-06 16:40] dirien commented on #6483
@jorgeamadosoria absolutely! that would be awesome! +1 on your idea!

[2021-09-06 19:37] clhibbard commented on #6483
@jorgeamadosoria Here in the states we still call it Kobo. I know it's Kakuten but they still brand with the big K button

Other booksellers, I would love to see.
Chirp and
Scribd

[2021-09-06 20:08] jorgeamadosoria commented on #6483
If you want Kobo included, then I would suggest you use the [icon request template](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) and provide the data requested there. Problem with Kobo is that the logo, as far as I can see it, is just a variant of the Rakuten logo. So it would take a separate discussion with other m

[2021-09-06 20:20] jorgeamadosoria commented on #6383
added the book seller icons discussed on #6483

[2021-09-06 20:22] jorgeamadosoria commented on #6483
@clhibbard I've added the book icons you've requested to #6383. this is a list to keep track of several other retailers by several companies.
I will close this ticket now. You can follow our progress there (or even contribute, if you feel like it!).
Remember to open a separate ticket for Kobo to have it discussed by itself.

[2021-09-06 20:22] #6483 closed

[2021-09-06 20:44] #5925 closed

[2021-09-07 05:57] keyiflerolsun commented on #6453
yes, this is very big library

[2021-09-07 05:57] keyiflerolsun commented on #6337
yes, this is very big library

[2021-09-07 07:22] #6472 closed

[2021-09-07 08:05] dakshkohli23 opened #6484 "Funimation"

[2021-09-07 17:47] jorgeamadosoria commented on #980
@ericcornelissen are there any action items that you hadn't covered in other issues / PRs? I've read a few comments and they are apparently either covered or superseded by other changes.

Trying to gain clarity on which action items need to be separated in their own tickets to close this one, as it is too long and deals with many things at once.

[2021-09-07 18:23] dirien opened #6485 "Request: Leroy Merlin"
### Brand Name

Leroy Merlin

### Website

https://www.leroymerlin.fr/

### Popularity Metric

Alexa: 7,419

### Official Resources for Icon and Color

svg: embeded in their website
color: `#78BE20`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-07 18:29] dirien commented on #6383
Added Poland 🇵🇱  as a new country...

[2021-09-07 19:26] ericcornelissen commented on #980
I tried to create an issue in the website repo for everything in this thread that was not covered by the initial launch of the new website. But as the thread is pretty large I may have missed some things.

[2021-09-07 19:41] dirien opened #6487 "Request: Picard Surgelés"
### Brand Name

Picard Surgelés

### Website

https://www.picard.fr/

### Popularity Metric

Alexa: 155,868

### Official Resources for Icon and Color

SVG: https://www.picard.fr/on/demandware.static/-/Sites-picard-Library/default/dw08b66fc6/icons/app-mobile.svg
Color: `#01ACE9`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-07 20:56] dirien opened #6489 "Request: Grandfrais"
### Brand Name

Grandfrais

### Website

https://www.grandfrais.com/

### Popularity Metric

Alexa: 373,790

### Official Resources for Icon and Color

SVG: https://www.grandfrais.com/charte/recrutement/logo_sans_baseline.svg
Color: `#ED2D2F`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-07 21:18] dirien opened #6491 "Request: Żabka"
### Brand Name

Żabka

### Website

https://www.zabka.pl/

### Popularity Metric

Alexa: 407,969

### Official Resources for Icon and Color

SVG: embeded in website
Color: `#006420`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-08 10:53] waffledork opened #6494 "Icon Request: Disney"
Can we get a Disney icon? Ideally a Disney+ icon but a Disney one will suffice as well.

[2021-09-08 15:05] kopringo commented on #3505
![spoj_2015_full](https://user-images.githubusercontent.com/1200575/132534704-da728da9-3374-4eed-973a-9bf59b2b2eb2.png)
Hi, I hope this file quality should be enough to prepare an icon :)

[2021-09-08 16:32] adamrusted commented on #6494
Duplicate of #2309. Disney are VERY protective of their brands, and we cannot risk any legal activity against this project or its contributors.

[2021-09-08 16:32] #6494 closed

[2021-09-08 16:38] sadafpartovi opened #6495 "Enzyme Icon not available"

[2021-09-08 22:54] sachinraja commented on #6495
Hi, sorry but we cannot consider this request unless you provide some information. [The icon request form](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) should guide you through it. You can either comment here with the information or create a new issue using that form.

[2021-09-09 03:06] jorgeamadosoria commented on #3505
Thanks for the source!
If you be so kind to check https://github.com/simple-icons/simple-icons/pull/6497 for a preview of how your link will look as well as the choice of color, that would be very helpful!!

[2021-09-09 12:20] MrWormHole commented on #6076
@service-paradis any way to check that our logo PR anytime soon?

[2021-09-09 12:40] gizmecano opened #6498 "New version of SVGOMG (powered by SVGO v2.5.0)"
### Kind of Issue

Improvement

### Description

Guess maintainers have already seen this information go by, but for all intents and purposes, I point out that [SVGOMG has been updated and is now powered by SVGO v2.5.0](https://twitter.com/jaffathecake/status/1435568725521018884): it maybe could usefulto check how this possibly impacts [contributing and optimization](https://github.com/simple-icon

[2021-09-09 19:22] herokunt opened #6499 "Request Icon: AJV"
**Brand Name**: AJV
**Website**: https://ajv.js.org/
**SVG FIle**: https://ajv.js.org/img/ajv.svg
**Hex Colors**: `#409CFF`, `#F5775B`, `#23C8D2`

[2021-09-09 19:57] herokunt opened #6500 "Request: Matter.js"
### Brand Name

Matter.js

### Website

https://brm.io/matter-js/docs/

### Popularity Metric

Github stars: 12k
https://github.com/liabru/matter-js

### Official Resources for Icon and Color

**SVG Icon**: https://camo.githubusercontent.com/77e2685e9b84be282f193a05c6571760200f8adfaf92892490ade52a596f2a7c/68747470733a2f2f62726d2e696f2f6d61747465722d6a732f696d672f6d61747465722d6a732e737667

Hex Col

[2021-09-09 19:57] #6499 closed

[2021-09-09 20:00] herokunt opened #6501 "Request: AJV"
### Brand Name

AJV

### Website

https://ajv.js.org/

### Popularity Metric

GitHub Stars: 9.8k
https://github.com/ajv-validator/ajv

### Official Resources for Icon and Color

**SVG Icon**: https://ajv.js.org/img/ajv.svg
**Hex Colors**: `#409CFF`, `#F5775B`, `#23C8D2`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-09 22:05] zv09 commented on #6262
@service-paradis I have added Tether icon but seems some lint errors can't handle on the go with syntax for json

[2021-09-10 01:12] sachinraja commented on #6498
I want to say that this doesn't change much as contributors using the cli have already been using svgo 2.4.0:
https://github.com/simple-icons/simple-icons/blob/b9cc1788d1efa38de69a17e1c8cb9a86eeed4954/package.json#L30

so if it was a big change, it probably would have come up earlier. Though the fact that it took 2 years to update svgo makes me question if we should be recommending SVGOMG in the d

[2021-09-10 01:16] sachinraja commented on #6481
Mentioning @simple-icons/maintainers to make sure they see this.

[2021-09-10 07:39] adamrusted commented on #6501
Just looking at this, I would say that `#23C8D2` is their primary colour, as it's used on the buttons of their website. Other than that, all 3 colours seem to be used about the same amount. Given you've listed yourself as contributing this, @herokunt - am I ok to assign this issue to you?

[2021-09-10 07:44] adamrusted commented on #6481
Not knowing super well how the codebase works for the project, assuming the path is already available without computation then yes we should definitely be using that directly, instead of the regex. If however it's not yet stored as just a path, then that's one hell of a lot of work involved. I agree that we _should_ keep SVG in there, especially as it wouldn't be much work to build the SVG ourselv

[2021-09-10 07:52] adamrusted commented on #6500
SVG version of the logo is available on the homepage of the website, so that should be used as the source as opposed to the **SVG Icon** link above. Unsure how this could best be 'converted' to an icon though, short of including the full logo.
As you've indicated that you'd like to contribute this @herokunt - I'll assign the issue to you. If you have any trouble, feel free to ping a maintainer.

[2021-09-10 12:42] mondeja commented on #6481
What about doing the opposite, storing the path and building the SVG from it? So the template would be something like:

[code]

[2021-09-10 12:49] sachinraja commented on #6481
We could just have the build script use the regex to get the path for each icon.

Yeah, that's what I was suggesting:

[2021-09-10 13:05] mondeja commented on #6481
Yes, I've done some performance tests and it is so much faster.

[code]

<details>
<summary>svg-getter-elsevier.js</summary>

[code]

</details>

Would you mind if I open a pull for this or do you want to do it?

[2021-09-10 13:08] sachinraja commented on #6481
Thank you for testing the performance! You can open the PR :+1:

[2021-09-10 13:36] mondeja commented on #6481
It is a bit slower, just as expected, but I think the ~x20 performance gain in `path` compensates it:

[code]

[2021-09-10 13:41] forsgren opened #6503 "Request: Peak Design"
### Brand Name

Peak Design

### Website

https://www.peakdesign.com/

### Popularity Metric

Alexa rank: 39,205

### Official Resources for Icon and Color

SVG: https://cdn.shopify.com/s/files/1/2986/1172/t/6/assets/headerlogo-10.svg
Color: `#1C1B1C` (from within the logo)

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-10 13:45] sachinraja commented on #6481
I agree, that is worth it to me.

[2021-09-10 15:17] service-paradis commented on #6018
Closing for now. Feel free to reopen the issue @VictorSVilela if you have more information about its popularity.

[2021-09-10 15:17] #6018 closed

[2021-09-10 15:19] service-paradis commented on #6054
Closing as out of scope. If you find metrics that wold help assess the popularity, feel free to reopen the issue @jlnrrg.

[2021-09-10 15:19] #6054 closed

[2021-09-10 15:20] service-paradis commented on #6413
Closing this one as incomplete. Feel free to reopen the issue with required information @njNagaraj.

[2021-09-10 15:20] #6413 closed

[2021-09-10 15:21] service-paradis commented on #6429
Closing this one as incomplete. Feel free to reopen the issue with required information @lucasheverton

[2021-09-10 15:21] #6429 closed

[2021-09-10 15:26] jlnrrg commented on #6054
I imagine that the heart ranking of [alternativeto.net](https://alternativeto.net/) might be useful here.
Although based on the score I would not rank Fusion360 very high, so the ticket can stay closed from my point of view.

[2021-09-10 16:12] herokunt commented on #6500
Hi Adam, so it turns out the logo with the full text looks too small  so I've made a version based on the favicon. Not pixel-perfect but I wonder if this is still good enough to add it, and if so should I link the favicon as the source in `_data/simple-icons.json`? As for the color I'd go with the text color: `#4b5562`

![matterjs](https://user-images.githubusercontent.com/48509601/132884212-76cd7

[2021-09-10 20:40] ericcornelissen commented on #6481
Just chiming in here for some historical context: The current implementation was added to have the `path` available, without any regard for performance, only with regards to size: we didn't want to have the path (which can be 90% of an icon object) duplicated.

Also, flipping the approach so that the `svg` value is computed is a brilliant solution that greatly improves the performance, nice work o

[2021-09-10 21:11] Qetzing commented on #6444
Hey,

I've some similar issues to this post: https://github.com/simple-icons/simple-icons/issues/3463#issuecomment-675289254

[code]

This is my svg and `npm run lint` gives me basically the same errors:

[code]

Have you an idea to fix this? Or can I just ignore it and create pull request anyways?

[2021-09-10 22:00] sachinraja commented on #6484
Hi, sorry but we cannot consider this request unless you provide some information. [The icon request form](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) should guide you through it. You can either comment here with the information or create a new issue using that form.

[2021-09-11 09:20] AlexGeniusMan opened #6509 "Adding Gunicorn icon"
Source: https://gunicorn.org/

[2021-09-11 21:49] sachinraja commented on #6509
Hi, sorry but we cannot consider this request unless you provide all the information. [The icon request form](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) should guide you through it. You can either comment here with the information or create a new issue using that form.

[2021-09-12 14:46] #6107 closed

[2021-09-12 15:04] service-paradis commented on #6444
Hello,

Which tool do you used?

If you're using Inkscape, you can resize the path by clicking the lock icon in the header and setting the bigger size to 24 (be sure to be in `px`).

Finally, you can open the alignment toolbar (`Object -> Align and Distribute`). You will be able to center the path both vertically and horizontally.
Hope this helps!

[2021-09-12 15:49] service-paradis commented on #6446
Closing for now as incomplete. Feel free to reopen the issue @NeerajChatterjee with required information.

[2021-09-12 15:49] #6446 closed

[2021-09-12 18:05] taigit opened #6511 "Update:"
### Brand Name

Bold icon -- should be the letter B that is very clearly in bold font (currently, it does not look like it's bold font)

### Official Resources for Icon and Color

None

### Additional Comments

The very common and important icon for **Bold** font should be in **Bold** font compared to the fonts of the other icons.  Currently,  the B of the icon appears to be just standard font ins

[2021-09-12 19:44] jorgeamadosoria commented on #4205
Google Cloud doesn't seem to have any changes. Should it be removed from the list?

Additionally, Google Classroom and Google Cast only seem to have the hexes wrong, but the icons themselves does not seem to change. I've added a PR for the hex change.

[2021-09-13 11:49] adamrusted commented on #4205
I would just mark it as complete, and put a note next to it saying it doesn't require changes.

Are the sources for these already up to date with an official source? If so, do the new hexes you've proposed match up to the official source?

[2021-09-13 12:57] sachinraja commented on #6511
I'm not sure I understand, which icons are you referring to? We don't have a "Bold" or "Italic" icon unless you're referring to [simple-icons/simple-icons-font](https://github.com/simple-icons/simple-icons-font).

[2021-09-13 13:03] Qetzing commented on #6444
Kind of, yes, but after the cleanup with SVGOMG, I get the same error.. So, I can't fix this when using SVGOMG..

[2021-09-13 15:54] jorgeamadosoria commented on #4205
There is a PR for this along the icons mentioned. And the source is the one specified in this very issue.

[2021-09-13 16:21] fbuireu opened #6514 "Add MentorCruise, Codementor and TopTal icons"
I would like to use simple-icons along with [MentorCruise](https://mentorcruise.com/), [Codementor](https://www.codementor.io/) and [TopTal ](https://www.toptal.com/)icons.

Congrats on the amazing job!

[2021-09-13 19:21] TropicalRaisel opened #6515 "Request: Skypack"
https://www.skypack.dev

[code]

[2021-09-13 22:15] sachinraja commented on #6514
Hi, sorry but we cannot consider this request unless you provide all the information. [The icon request form](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) should guide you through it. You can either comment here with the information or create a new issue using that form.

[2021-09-13 22:15] sachinraja commented on #6515
Hi, sorry but we cannot consider this request unless you provide all the information. [The icon request form](https://github.com/simple-icons/simple-icons/issues/new?assignees=&labels=new+icon&template=icon_request.yml&title=Request%3A+) should guide you through it. You can either comment here with the information or create a new issue using that form.

[2021-09-13 22:22] TropicalRaisel commented on #6515
@sachinraja Ah thanks for letting me know. For some reason the option to select a template did not appear. I'll remake this using the template.

[2021-09-13 22:22] #6515 closed

[2021-09-13 22:23] sachinraja commented on #6515
That's odd, we may have missed a place when migrating to issue forms. How did you find the link to create an issue? On the website?

[2021-09-13 22:25] tropicalraisel opened #6516 "Request: Skypack"
### Brand Name

Skypack

### Website

https://www.skypack.dev/

### Popularity Metric

Alexa rank: https://www.alexa.com/siteinfo/skypack.dev
Packages served: >464,382,481

### Official Resources for Icon and Color

### Search Icon
[code]

### Hero Logo
[code]

### Color
`#3167ff`

### Additional Comments

_No response_

### Contributing

No

[2021-09-13 22:26] TropicalRaisel commented on #6515
I don't remember but wouldn't worry about it.

[2021-09-13 22:27] sachinraja commented on #6515
That's fine, just asking so we can fix it for others and avoid more incomplete issues.

[2021-09-13 22:34] ericcornelissen commented on #6498
I think allowing contributors to just use SVGOMG makes contributing a lot easier for a lot of people. If you're not comfortable with the CLI and/or don't have NodeJS installed, running `npm install` and `npm run svgo -- icons/icon.svg` can be daunting and as long as there's a web version available we might as well offer it as an option.

If we're concerned SVGOMG gets out of date and want to make

[2021-09-13 22:40] sachinraja commented on #6498
I see, thanks for explaining. I agree then, we should keep all options open.

[2021-09-13 22:42] sachinraja commented on #6516
Thank you for making a new request with all the information. Just one question though: where did you find the source for the SVG (link)?

[2021-09-13 22:44] TropicalRaisel commented on #6516
The website's homepage has it.

[2021-09-13 22:50] sachinraja commented on #6516
I see it there, thank you :+1:

[2021-09-14 01:42] jorgeamadosoria commented on #3187
judging by the discussion on #3271, this issue can be safely closed.

[2021-09-14 01:42] #3187 closed

[2021-09-14 02:00] sachinraja commented on #6484
Feel free to create a new issue with all the information if you would like this to be added.

[2021-09-14 02:00] #6484 closed

[2021-09-14 04:37] fbuireu commented on #6514
Sorry for the lack of details, I based my request on an old (and obviously wrong) comment. I've edited my first post so please if you need further details or information don't hesitate to ask me.

Again, thanks and sorry

[2021-09-14 09:17] taigit commented on #6511
Hmm, the **Bold** that I'm referring to is the first icon at this list:

https://remixicon.com/#editor

Is this the right github repo for those icons?  If not, do you know where the repo is?

[2021-09-14 12:55] sachinraja commented on #6511
No, our website is https://simpleicons.org. For Remix Icon go to [Remix-Design/RemixIcon](https://github.com/Remix-Design/remixicon), though it seems to be dead.

[2021-09-14 12:55] #6511 closed

[2021-09-14 12:57] sachinraja commented on #6495
Feel free to create a new issue with all the information if you would like this to be added.

[2021-09-14 12:57] #6495 closed

[2021-09-14 12:58] sachinraja commented on #6514
Thank you for fixing!

[2021-09-14 15:12] CrazyMarvin opened #6519 "Request: Oh Dear"
### Brand Name

Oh Dear

### Website

https://ohdear.app/

### Popularity Metric

The Alexa rank is 418,749: https://www.alexa.com/siteinfo/ohdear.app

### Official Resources for Icon and Color

Logos and color scheme: https://ohdear.app/logos

### Additional Comments

_No response_

### Contributing

No

[2021-09-14 20:17] X1pheR opened #6520 "Request: Ziggo"
### Brand Name

Ziggo

### Website

www.ziggo.nl

### Popularity Metric

https://www.alexa.com/siteinfo/ziggo.nl

Rank: 39,147

### Official Resources for Icon and Color

https://origin.ziggo.nl/content/dam/ziggo/entertainment/img/zenderoverzicht/svg_logos/013_ziggo_tv.svg

color: #f48c00

all from official website

### Additional Comments

It's a main brand in the Netherlands here which provides

[2021-09-14 23:13] TropicalRaisel opened #6521 "Request: Snowpack"
### Brand Name

Snowpack

### Website

https://www.snowpack.dev/

### Popularity Metric

19.2k stars on GitHub: https://github.com/snowpackjs/snowpack/stargazers

### Official Resources for Icon and Color

### SVG from website
[code]

### Color
`#2e5e82`

### Additional Comments

_No response_

### Contributing

No

[2021-09-14 23:15] service-paradis commented on #6521
Duplicate of #6072

[2021-09-14 23:15] #6521 closed

[2021-09-15 17:49] jorgeamadosoria opened #6523 "Update: Tata icon"
### Brand Name

Tata

### Official Resources for Icon and Color

https://www.tatasteel.com/media/media-kit/logos-usage-guidelines/

### Additional Comments

Change source from https://www.tata.com
to
https://www.tatasteel.com/media/media-kit/logos-usage-guidelines/

also add this url as guidelines

### Contributing

Yes

[2021-09-15 17:52] jorgeamadosoria opened #6524 "Update: TurboSquid icon"
### Brand Name

TurboSquid

### Official Resources for Icon and Color

https://www.brand.turbosquid.com/turbosquidicons

### Additional Comments

Change sources from https://www.brand.turbosquid.com to https://www.brand.turbosquid.com/turbosquidicons
Add guidelines: https://www.brand.turbosquid.com/

### Contributing

Yes

[2021-09-15 17:53] jorgeamadosoria opened #6525 "Update: TinyLetter"
### Brand Name

TinyLetter

### Official Resources for Icon and Color

https://tinyletter.com/

### Additional Comments

change from https://tinyletter.com/site/press to new https://tinyletter.com/site/press/

### Contributing

Yes

[2021-09-15 17:56] jorgeamadosoria opened #6526 "Update Tesla icon"
### Brand Name

Tesla

### Official Resources for Icon and Color

https://www.tesla.com/tesla-gallery

### Additional Comments

change source from http://www.teslamotors.com/en_GB/about to https://www.tesla.com/tesla-gallery

### Contributing

Yes

[2021-09-15 17:58] jorgeamadosoria opened #6527 "Update: Topcoder"
### Brand Name

Topcoder

### Official Resources for Icon and Color

https://www.topcoder.com/thrive/articles/How%20to%20use%20the%20Topcoder%20GUI%20KIT

### Additional Comments

change source from http://topcoder.com/ to https://www.topcoder.com/thrive/articles/How%20to%20use%20the%20Topcoder%20GUI%20KIT

### Contributing

Yes

[2021-09-15 18:05] jorgeamadosoria opened #6528 "Update: Thunderbird icon"
### Brand Name

Thunderbird

### Official Resources for Icon and Color

https://www.thunderbird.net/en-US/

### Additional Comments

change source from https://demo.identihub.co/thunderbird to https://www.thunderbird.net/en-US/

### Contributing

Yes

[2021-09-15 18:06] jorgeamadosoria opened #6529 "Update: Thymeleaf icon"
### Brand Name

Thymeleaf

### Official Resources for Icon and Color

https://github.com/thymeleaf/thymeleaf-dist/tree/main/src/site/images

### Additional Comments

change source to https://github.com/thymeleaf/thymeleaf-dist/tree/master/src/artwork/thymeleaf%202016 to https://github.com/thymeleaf/thymeleaf-dist/tree/a2e6b4a31c389a71f3f35f0decb48d7b1050df26/src/site/images

### Contributing

Yes

[2021-09-15 18:11] jorgeamadosoria opened #6530 "Update: TUI"
### Brand Name

TUI

### Official Resources for Icon and Color

https://www.design.tui/brand/logos/

### Additional Comments

change source from https://www.tuiholidays.ie/ to https://www.design.tui/brand/logos/
also change hex as depicted in the new source

### Contributing

Yes

[2021-09-15 18:14] jorgeamadosoria opened #6531 "Update: Trove icon"
### Brand Name

Trove

### Official Resources for Icon and Color

https://trove.nla.gov.au/about/who-we-are/our-logo

### Additional Comments

change source from https://trove.nla.gov.au/ to https://trove.nla.gov.au/about/who-we-are/our-logo
 add guidelines: https://trove.nla.gov.au/about/who-we-are/trove-brand-guidelines

### Contributing

Yes

[2021-09-15 18:19] jorgeamadosoria opened #6532 "Update: TuneIn icon"
### Brand Name

TuneIn

### Official Resources for Icon and Color

https://cms.tunein.com/ footer svg icon

### Additional Comments

change source from https://cms.tunein.com/press to https://cms.tunein.com/

This would change the TuneIn icon from the favicon T I to the full TuneIn icon which I think represents the brand better (the current icon is only used in the favicon, while the longer one is

[2021-09-15 18:27] jorgeamadosoria opened #6533 "Update: Teespring icon"
### Brand Name

Spring

### Official Resources for Icon and Color

https://teespring.com/ (svg logo)

### Additional Comments

Teespring rebranded as Spring, and changed the logo.
We would need to change the name (perhaps adding Spring as an alias, or changing the name to Spring and put Teespring as an aka? Not sure yet) as well as changing the logo.

input from @simple-icons/maintainers necessary

[2021-09-15 18:30] jorgeamadosoria opened #6534 "Update: the movie database icon"
### Brand Name

The Movie Database

### Official Resources for Icon and Color

https://www.themoviedb.org/about/logos-attribution

### Additional Comments

Icon and hex are outdated

### Contributing

Yes

[2021-09-15 18:31] jorgeamadosoria opened #6535 "Update: Trulia icon"
### Brand Name

Trulia

### Official Resources for Icon and Color

https://www.trulia.com/newsroom/media/brand-logos/

### Additional Comments

change source from http://www.trulia.com to new https://www.trulia.com/newsroom/media/brand-logos/
also change icon and hex.

### Contributing

Yes

[2021-09-15 18:32] jorgeamadosoria opened #6536 "Update: Talend icon"
### Brand Name

Talend

### Official Resources for Icon and Color

https://www.talend.com/ logo and/or favicon

### Additional Comments

the logo and hex have changed.

### Contributing

Yes

[2021-09-15 18:33] dirien opened #6537 "Request: Franprix"
### Brand Name

Franprix

### Website

https://www.franprix.fr/

### Popularity Metric

Alexa: 225,137

### Official Resources for Icon and Color

color: `#ec6237`
icon: website

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-15 18:34] jorgeamadosoria opened #6538 "Update: TeamSpeak icon"
### Brand Name

TeamSpeak

### Official Resources for Icon and Color
https://teamspeak.com/en/
discussion here:
https://community.teamspeak.com/t/new-media-pack-branding-page/22628

### Additional Comments

change source from https://www.teamspeak.com/en/more/media-pack/ to https://community.teamspeak.com/en/

Media pack is no longer available after rebranding. More importantly, the comment by the

[2021-09-15 18:50] jorgeamadosoria opened #6541 "Update: Tailwind CSS icon"
### Brand Name

Tailwind CSS

### Official Resources for Icon and Color

https://tailwindcss.com/

### Additional Comments

change hex from `#38B2AC` to `#06B6D4`

### Contributing

Yes

[2021-09-15 18:52] jorgeamadosoria opened #6542 "Update: Toggl icon"
### Brand Name

Toggl

### Official Resources for Icon and Color

https://toggl.com/media-toolkit

### Additional Comments

change hex from `#E01B22` to `#E57CD8`

### Contributing

Yes

[2021-09-15 18:52] dirien opened #6543 "Request: Géant Casino"
### Brand Name

Géant Casino

### Website

https://www.geantcasino.fr/

### Popularity Metric

Alexa: 317,646

### Official Resources for Icon and Color

svg: https://www.geantcasino.fr/wp-content/themes/geant/assets/img/logo.svg
color: `#DD1F26`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-15 18:57] jorgeamadosoria opened #6544 "Update: Travis CI icon"
### Brand Name

Travis CI

### Official Resources for Icon and Color

https://www.travis-ci.com/  (footer svg)

### Additional Comments

the current logo is outdated. The hex also does not occur in the current logo, so it also needs to be outdated.

### Contributing

Yes

[2021-09-15 19:01] jorgeamadosoria commented on #5251
Finished Letter T review. 19 icons are outdated in several ways:

https://github.com/simple-icons/simple-icons/issues/6523
https://github.com/simple-icons/simple-icons/issues/6524
https://github.com/simple-icons/simple-icons/issues/6525
https://github.com/simple-icons/simple-icons/issues/6526
https://github.com/simple-icons/simple-icons/issues/6527
https://github.com/simple-icons/simple-icons/issu

[2021-09-15 19:09] dirien opened #6546 "Request: Pulumi"
### Brand Name

Pulumi

### Website

https://www.pulumi.com/

### Popularity Metric

Alexa: 161,405

### Official Resources for Icon and Color

svg: https://www.pulumi.com/images/logo/logo-on-white.svg
color: `#8a3391`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-15 19:10] adamrusted commented on #6538
There's an SVG of the logo on the homepage, and I think it might be worth creating the monochrome version to our standards and present it to them. With the right colour and guidelines, Teamspeak may allow it through.

[2021-09-15 19:12] adamrusted commented on #6533
So 'Spring' has already been added, and as @ericcornelissen pointed out elsewhere, an aka won't do anything just yet. If I remember correctly, they were just in the midst of the rebrand when v5 came out, and there were still references to both brands. @PeterShaggyNoble worked on this one - I think?

[2021-09-15 19:16] adamrusted commented on #6529
Be mindful to get the proper blob version of the link (pressing 'y' on the page updates it in your address bar) - and ideally an SVG source should be used if there's one available (assuming the previous source was SVG?)

[2021-09-15 19:17] adamrusted commented on #6527
So the logo is available as an SVG on the website header, and while those are _some_ guidelines, they appear to be for a wider GUI kit and not the logo specifically.

[2021-09-15 20:16] service-paradis commented on #6544
Our version is very similar to their favicon though:
https://www.travis-ci.com/wp-content/uploads/2021/08/favicon-c566132d45ab1a9bcae64d8d90e4378a.svg

[2021-09-15 20:20] adamrusted commented on #6544
Yeah, our _current_ version came from a contributor at Travis. While that worked at the time, I think if there's an SVG we can now use that _kind of_ matches it, we should refer to that source.

[2021-09-15 20:24] jorgeamadosoria commented on #6544
yes, there is an SVG in the footer of the travis-ci homepage. The icon is much more detailed now

[2021-09-15 20:27] jorgeamadosoria commented on #6544
it doesn't, not completely. The favicon has an uneven moustache, and round eyes. SI version has laughing eyes and an even moustache.
There is a greyscale SVG in the footer of the homepage. I think we can try with that one.

[2021-09-15 20:27] jorgeamadosoria commented on #6527
still the logo is included, so why not?

[2021-09-15 20:30] jorgeamadosoria commented on #6529
can't get the previous version to find out, since it doesn't exist anymore :(
I tried to find a SVG from an official source, to no avail. They only host pngs.

[2021-09-15 20:33] adamrusted commented on #6527
I would say in this instance that because an adequate SVG is available on the homepage, the homepage URL should be the source. You're right that the GUI kit is great for colours etc, so I'd refer to that for guidelines, unless other @simple-icons/maintainers have any strong thoughts?

[2021-09-15 20:33] jorgeamadosoria commented on #6533
So yes, Spring has been added.
Teespring icon is still different though.
So either:
- change the icon, keep the name.
- Remove the icon.

I'm good with whatever, just need two more people's opinions.

[2021-09-15 20:36] service-paradis commented on #6544
If we update it, I'm still voting to use the favicon as source since it is an official monochrome version. I think it would look better at smaller size than a greyscale version.

Anyway, I think we can ask @Nat-ess before if our current icon is really outdated and, if so, which icon should we use.

[2021-09-15 20:37] adamrusted commented on #6533
While TeeSpring still appear to be a company here in the UK (you might need a VPN if based elsewhere), my vote would be to just update the logo to the sidewards spring shape. Should it fall drastically out of scope or be dissolved completely, then we can look to remove as of the next major release.

[2021-09-15 20:39] service-paradis commented on #6527
As we move to the new Topcoder style, the Topcoder logo has progressed. We are going to use the black and white logo and in special situations the colored version from now on. This logo doesn’t use the trademark sign anymore.

There is link to a Google Drive with different vector version of their logo, so https://www.topcoder.com/thrive/articles/How%20to%20use%20the%20Topcoder%20GUI%20KIT might be

[2021-09-15 20:42] jorgeamadosoria commented on #6527
the logo is also on the guidelines, as well as instructions on where and how to use each.

[2021-09-15 20:43] service-paradis commented on #6542
In a future major release, I wonder if we should rename this icon as "Toggle Track"...

[2021-09-15 20:45] jorgeamadosoria commented on #6544
if you do, please add the awaiting reply label to the ticket. I won't move on this until someone else chimes in.

[2021-09-15 20:46] jorgeamadosoria commented on #6538
I already asked them about this issue. But I agree on proactivity, I will try.

[2021-09-15 20:47] service-paradis commented on #6534
We could probably add an alias for this one also ("TMDB")

[2021-09-15 20:48] jorgeamadosoria commented on #6542
they do seem to name their product as such, so I think that wouldn't hurt.

[2021-09-15 20:48] service-paradis commented on #6532
I'm personally in favor of it, but some other maintainers might disagree:
https://github.com/simple-icons/simple-icons/pull/3942#issuecomment-736844643

[2021-09-15 20:52] service-paradis commented on #6525
Only a `/` is missing at the end:
https://tinyletter.com/site/press/

[2021-09-15 20:55] jorgeamadosoria commented on #6532
it's true that the socials use the short version. Maybe we should stick to that version, then. I don't like it, but we must always err to the side of least work.

[2021-09-15 20:55] #6532 closed

[2021-09-15 20:55] service-paradis commented on #6542
The icon we currently have is for "Toggle Track" and the parent company named "Toggle" have another logo. It makes me think of another case we had: #5989

[2021-09-15 20:56] jorgeamadosoria commented on #6525
indeed! edited

[2021-09-15 21:01] jorgeamadosoria commented on #6542
apparently, there was a renaming at some point in the past. From the wiki:

_Toggl Track (formerly Toggl) is a time tracking software operated by Toggl OÜ, headquartered in Tallinn, Estonia,[3] that offers online time tracking and reporting services through their website along with mobile and desktop applications._

So I guess an aka should suffice for this. Toggl aka Toggle track, or viceversa, w

[2021-09-15 21:04] service-paradis commented on #6542
Since they use different icon, I would not use `aka` for this. I would do the same as Foursquare #5989 (similar case), but we can ask other @simple-icons/maintainers opinion on it.

[2021-09-15 21:08] jorgeamadosoria commented on #6542
Oh? I don't think they use different icons. The media toolkit lists all of these as options. It names the full wordmark ones as "logos" and the compact ones as "icons", but they all represent the same product, the "toggl track"

[2021-09-15 21:11] dirien commented on #5251
If you folks need a helping hand, let me know!

[2021-09-15 21:15] adamrusted commented on #6542
See  [here](https://user-images.githubusercontent.com/1830867/133510521-ce82767d-e371-4c44-badf-1a119d0b7e2c.png) for parent company logo on that page.

[2021-09-15 21:17] jorgeamadosoria commented on #6542
see options in my last comment

[2021-09-15 21:18] dmroch opened #6549 "Request: Mautic"
### Brand Name

Mautic

### Website

https://www.mautic.org/

### Popularity Metric

The Alexa Rank is 31,763. See https://www.alexa.com/siteinfo/mautic.org

### Official Resources for Icon and Color

svg: https://www.mautic.org/sites/default/files/2020-03/Mautic_Logo_Monochrome_LB.svg
color: '#4e5e9e'

### Additional Comments

_No response_

### Contributing

No

[2021-09-15 21:18] jorgeamadosoria commented on #5251
many of these are just source updates. Feel free to take any of these if you want.

[2021-09-15 21:27] dirien opened #6550 "Request: Aqua Security"
### Brand Name

Aqua Security

### Website

https://www.aquasec.com/

### Popularity Metric

Alexa: 93,691

### Official Resources for Icon and Color

svg: https://www.aquasec.com/wp-content/themes/aqua3/images/logo_aqua.svg
color: `#1904da`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-15 21:51] service-paradis commented on #6550
Duplicate of #5992

[2021-09-15 21:51] #6550 closed

[2021-09-15 21:52] jorgeamadosoria commented on #6542
Update: The PR now contains both Toggl and Toggl track icons.

[2021-09-16 03:13] sachinraja commented on #6541
Should the source also be updated to https://tailwindcss.com/brand? Not really sure how the review process works for existing icons.

[2021-09-16 11:48] Anonymous7code opened #6556 "Request: Matplotlib Icon"
### Brand Name

Matplotlib

### Website

https://matplotlib.org/

### Popularity Metric

The Github Stars on matplotlib repo. are 14.2k

### Official Resources for Icon and Color

https://camo.githubusercontent.com/109927a15915074d15313889468aa9aa688de3b9e38cc4359a01f665d351114e/68747470733a2f2f6d6174706c6f746c69622e6f72672f5f7374617469632f6c6f676f322e737667

### Additional Comments

_No response_

[2021-09-16 11:50] Anonymous7code opened #6557 "Request: Seaborn Icon"
### Brand Name

Seaborn

### Website

https://seaborn.pydata.org/

### Popularity Metric

The Github repo stars are 8.8k

### Official Resources for Icon and Color

https://github.com/mwaskom/seaborn/blob/master/doc/_static/logo-wide-lightbg.svg

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-16 12:53] syalanurag1991 opened #6558 "Request: Please add icon for dlib"
### Brand Name

Dlib

### Website

http://dlib.net/

### Popularity Metric

Dlib is a great ML library for predicting landmarks for facial features:
[GitHub](https://github.com/davisking/dlib)

It has 10560 stars.

### Official Resources for Icon and Color

The logo appears at the top of the website: http://dlib.net/

### Additional Comments

_No response_

### Contributing

No

[2021-09-16 13:24] jorgeamadosoria commented on #6541
I think you are the review process, @sachinraja.
And yes, the source should be that one, thanks for noticing.

[2021-09-16 23:03] zv09 commented on #6262
@service-paradis hi, how to push PR to review ?

[2021-09-17 07:54] ericcornelissen opened #6560 "Issue link in the disclaimer are outdated"
Due to #6303 the [`submit an issue` links in DISCLAIMER.md](https://github.com/simple-icons/simple-icons/blob/develop/DISCLAIMER.md) are outdated, the links should be updated so they point to the relevant issue form.

[2021-09-17 10:57] #6430 closed

[2021-09-17 14:02] service-paradis commented on #6556
This one is surely quite popular. In fact, your request duplicate at least those issues:
#3410, #5321 and #5606.

It looks like there are some legal issues for this one. You can follow the discussion in #3410

[2021-09-17 14:02] #6556 closed

[2021-09-17 14:04] service-paradis commented on #6557
Duplicate of #6324, but you can surely open a new PR if you want to contribute since the previous assignee did not.

[2021-09-17 14:04] #6557 closed

[2021-09-17 20:28] ghost opened #6561 "Request: Garuda Linux"
### Brand Name

Garuda Linux

### Website

https://garudalinux.org/

### Popularity Metric

The Alexa rank is #180,674. Check at https://www.alexa.com/siteinfo/garudalinux.org

### Official Resources for Icon and Color

https://gitlab.com/garuda-linux/themes-and-settings/artwork/garuda-icons/-/blob/master/usr/share/icons/hicolor/scalable/apps/garuda.svg

### Additional Comments

The logo in the te

[2021-09-18 09:54] dirien opened #6562 "Request: Globus"
### Brand Name

Globus

### Website

https://www.globus.de

### Popularity Metric

Alexa: 157,080

### Official Resources for Icon and Color

svg: https://www.globus.de/produkte/media/vector/97/7f/34/globus.svg
color: `#CA6201`

### Additional Comments

Thats a tricky one, regarding the main color...

### Contributing

Yes

[2021-09-18 14:42] sachinraja commented on #6498
Going to close this as I don't believe any changes are needed, but we can reopen if necessary.

[2021-09-18 14:42] #6498 closed

[2021-09-18 14:44] sachinraja commented on #6509
Feel free to create a new issue with all the information if you would like this to be added.

[2021-09-18 14:44] #6509 closed

[2021-09-18 15:13] #6530 closed

[2021-09-18 15:13] #6541 closed

[2021-09-19 00:19] markbattistella opened #6566 "Request: Bio.link"
### Brand Name

Bio.link

### Website

https://bio.link

### Popularity Metric

The Alexa rank is: 20,583

Created by the same people at BuyMeACoffee but since a lot of people are using bio.link to have their items listed there it makes sense to have an icon.

### Official Resources for Icon and Color

You can grab the SVG from their site on the logo in top right corner. It's already an SVG.

###

[2021-09-19 03:58] #6537 closed

[2021-09-19 09:21] rahulshawdev commented on #6566
Sure, gonna work on it

[2021-09-19 16:41] dirien opened #6570 "Request: Iceland"
### Brand Name

Iceland

### Website

https://www.iceland.co.uk/

### Popularity Metric

Alexa: 54,649

### Official Resources for Icon and Color

svg: embedded in their weubsite
color:`#cc092f`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-19 17:42] dirien opened #6572 "Request: MediaMarkt"
### Brand Name

MediaMarkt

### Website

https://www.mediamarkt.de/

### Popularity Metric

Alexa: 4,981

### Official Resources for Icon and Color

svg: embeded in the page.
color: `#DF0000`

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-20 01:51] Kashalls opened #6574 "Request: ubiquiti networks"
### Brand Name

ubiquiti networks

### Website

https://www.ui.com/

### Popularity Metric

The alexa rank is 3,528

It is a major brand in IT switching equipment. Also known as unifi, ubiquiti, ubnt.

### Official Resources for Icon and Color

Unable to locate any media samples or inquire about icons.

### Additional Comments

There seems to be a lot of variants of this icon from over the years,

[2021-09-20 05:40] gizmecano commented on #6498
No objection for closing, @ericcornelissen's answer seems self-explanatory enough.

[2021-09-20 13:25] Evernow opened #6575 "Request: OpenZFS"
### Brand Name

OpenZFS

### Website

https://openzfs.github.io/openzfs-docs/index.html

### Popularity Metric

7.2k Github Stars

### Official Resources for Icon and Color

https://commons.wikimedia.org/wiki/File:OpenZFS_logo.svg

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-20 13:36] service-paradis commented on #6574
Thank you @Kashalls for your request. Ubiquiti is already in the project: https://simpleicons.org/?q=ubiquiti

[2021-09-20 13:36] #6574 closed

[2021-09-20 17:00] #6237 closed

[2021-09-20 19:00] service-paradis commented on #6444
You can try with a slightly higher precision in SVOMG (4 for example instead of 3). It, sometimes, resolves the problem.

[2021-09-20 20:34] #6311 closed

[2021-09-21 01:44] #6536 closed

[2021-09-21 12:45] service-paradis commented on #5251
I think we can close this one now! Thank you everyone involved, this was a huge tasks! 💯

[2021-09-21 12:45] #5251 closed

[2021-09-21 15:17] Qetzing commented on #6444
It sadly does still not work. Here is my SVG, if you can, you can give it a try:

[code]

[2021-09-21 16:16] #6013 closed

[2021-09-21 16:30] #6235 closed

[2021-09-21 19:56] service-paradis commented on #5442
Closing for now. Feel free to reopen this issue @gyananetra999 if you have more information regarding the icon that would need to be added.

[2021-09-21 19:56] #5442 closed

[2021-09-21 19:58] service-paradis commented on #5439
According to the discussion results in #5438, I will close this one for now.

[2021-09-21 19:58] #5439 closed

[2021-09-22 03:21] dmroch opened #6581 "Request: Cockpit"
### Brand Name

Cockpit

### Website

https://cockpit-project.org

### Popularity Metric

Github Stars: 6.2k

### Official Resources for Icon and Color

svg: https://cockpit-project.org/images/site/cockpit-logo.svg

### Additional Comments

_No response_

### Contributing

No

[2021-09-22 03:56] jorgeamadosoria commented on #4797
what's missing to advance this issue forward?

[2021-09-22 04:04] jorgeamadosoria commented on #5859
Can't we just treat the old alias as the aka?

and as for the package, isn't there a way to get a particular svg from different slugs, so you don't have to generate duplicated svgs?

[2021-09-22 06:43] Hugo-Trentesaux commented on #967
Pixelfed's Alexa rank is now around 348,017 for a while.

[2021-09-22 08:09] ericcornelissen commented on #5859
That depends. `aka` doesn't do anything at the moment, so whether or not these can be treated the same depends on what we want either of them to do. To me, the main difference between `aka` and `old` is that `old` is solely to provide backwards compatibility after a brand name has been changed (and therefor has a limited lifetime).

From that perspective, it seems indeed likely that `old` and `aka

[2021-09-22 08:29] ericcornelissen commented on #4797
While the aliases can already be added to the `_data/simple-icons.json` file, there isn't agreement yet on what should be done with the alias. I created #5859 to discussion the `old` alias specifically (as you've seen @jorgeamadosoria) and I suggest we do the same for the other aliases.

I would say that at least until a separate thread to discuss the implementation of each alias has been created,

[2021-09-22 09:54] CrazyMarvin opened #6583 "Request: Instatus"
### Brand Name

Instatuts

### Website

https://instatus.com/

### Popularity Metric

The Alexa rang is 111,885. See https://www.alexa.com/siteinfo/instatus.com for more information.

### Official Resources for Icon and Color

None (but let me know if I should email the founder to get this)

### Additional Comments

Instatus is a really nice company.

### Contributing

No

[2021-09-22 12:43] benricok opened #6584 "Request: OpenHAB"
### Brand Name

OpenHAB

### Website

https://www.openhab.org/

### Popularity Metric

The Alexa rank is 40,433 see https://www.alexa.com/siteinfo/openhab.org
https://github.com/openhab

### Official Resources for Icon and Color

![image](https://user-images.githubusercontent.com/62467535/134345497-1789a603-9e6d-4ded-978a-0685a402039b.png)
https://www.openhab.org/about/logos.html

### Additional C

[2021-09-22 14:52] jorgeamadosoria commented on #5859
I understand. That's unfortunate, but I guess there is no other choice but to duplicate the file.
I would keep the old for one or two releases. Are releases happening in set time periods? because if not, I think they should. Like once every three to six months, for example. That should be A LOT of time to give warning.

The aka and old should be added to the text search on the website. Additionall

[2021-09-22 19:33] ericcornelissen commented on #5859
I would keep the old for one or two releases. Are releases happening in set time periods? because if not, I think they should. Like once every three to six months, for example. That should be A LOT of time to give warning.

See #5627 for this discussion.

This is theoretically already possible if we were to use the raw data file in the website build process. The broader question is whether to expo

[2021-09-23 00:15] sachinraja commented on #6566
@markbattistella The linked PR seems to have been closed so since you marked that you are willing to contribute this, feel free to open a PR.

[2021-09-23 02:06] markbattistella commented on #6566
@sachinraja thank you! i had some trouble merging until i realised there was a linter so i made a new PR. sorry to clog it up

[2021-09-23 02:15] #6546 closed

[2021-09-23 02:16] jorgeamadosoria commented on #6525
so, LGTM @service-paradis?

[2021-09-23 17:24] #6523 closed

[2021-09-23 17:24] #6524 closed

[2021-09-23 17:24] #6525 closed

[2021-09-23 17:24] #6526 closed

[2021-09-23 17:24] #6527 closed

[2021-09-23 17:24] #6528 closed

[2021-09-23 17:24] #6529 closed

[2021-09-23 17:46] jorgeamadosoria commented on #2061
It's this issue still relevant? Is there an action that can be taken to move this along or close it?
FWIW, working with Inkscape I have have zero problems and have never needed SVGOMG, so it's definitely possible for a completely ignorant person like me to work with SVGs without ever needing that particular software.

[2021-09-23 17:53] jorgeamadosoria commented on #1060
this issue's discussion seems to have run its course. Shouldn't we close this now? @ericcornelissen ?

[2021-09-23 19:14] uncvrd opened #6590 "Request: Linkfire"
### Brand Name

Linkfire

### Website

https://www.linkfire.com/

### Popularity Metric

The Alexa rank is 48,203

### Official Resources for Icon and Color

From website header, here is a direct URL link to the asset used https://www.linkfire.com/wp-content/themes/linkfire/assets/img/svg/logo-dark.svg

### Additional Comments

_No response_

### Contributing

No

[2021-09-24 02:23] jorgeamadosoria commented on #6538
I have created a monochrome version in the linked PR, and emailed it to TeamSpeak at ts3sdk@teamspeak.com

[2021-09-24 03:47] jorgeamadosoria commented on #6572
This is a tricky one to work on.
Can I ask how did you remove the text @dirien ?
I tried but couldn't get a full 100% match in the two spikes that touch the letters

[2021-09-24 06:40] dirien commented on #6572
Just took the official one and deleted the Letters by hand @jorgeamadosoria

[2021-09-24 08:06] abhinavminhas opened #6592 "Request: TestCafe"
### Brand Name

TestCafe

### Website

https://testcafe.io/

### Popularity Metric

https://www.alexa.com/siteinfo/testcafe.io

### Official Resources for Icon and Color

None

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-24 13:09] service-paradis commented on #6592
Thank you @abhinavminhas for the request. Vector versions of their logo can be found at https://github.com/DevExpress/testcafe/tree/master/media/logos/svg

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-24 14:40] jorgeamadosoria commented on #6572
LGTM

[2021-09-24 17:22] runxel commented on #2061
Maybe this issue can be closed now, @jorgeamadosoria.
The original problem was that SVGOMG broke Travis builds and other stuff, like the PDF generation.
This is no longer the case, since we switched to GitHub Actions e.g.
(Also it broke Illustrator)

I guess all of this is no longer relevant since every commit gets checked.

[2021-09-24 17:39] #2061 closed

[2021-09-24 19:45] tuhanayim opened #6594 "Request: SolidJS"
### Brand Name

SolidJS

### Website

https://www.solidjs.com

### Popularity Metric

164,175 - https://www.alexa.com/siteinfo/solidjs.com

### Official Resources for Icon and Color

https://www.solidjs.com/media

### Additional Comments

_No response_

### Contributing

No

[2021-09-25 00:10] jorgeamadosoria commented on #3432
I mean it looks good to me. It's not like there are a lot of options for vector sources for this brand.
Question, why not choose a simpler one, like:
https://apps.apple.com/us/app/twinkly/id1132187056

Taking into consideration that we are forced to work with a raster source, maybe it would make sense to simplify said raster source.

[2021-09-25 09:38] veni-vidi-code opened #6597 "Request: GAP 4"
### Brand Name

GAP

### Website

https://www.gap-system.org/

### Popularity Metric

508 Github Stars
https://github.com/gap-system/gap

### Official Resources for Icon and Color

github profile picture

### Additional Comments

It might be possible that the GNU License must be included for leagal reasons i am not sure about that

I know that it is not one of the biggest programms, but in the wor

[2021-09-25 09:55] #6572 closed

[2021-09-25 10:07] fbuireu opened #6598 "Request: CodeSignal"
### Brand Name

CodeSignal

### Website

https://codesignal.com/

### Popularity Metric

The Alexa Rank is 27,761 (https://www.alexa.com/siteinfo/codesignal.com)

### Official Resources for Icon and Color

SVG: https://codesignal.com/wp-content/uploads/2020/10/Group-28393.svg
Color: `#33485f` (from site's header)

### Contributing

Yes

[2021-09-25 10:42] ericcornelissen commented on #2061
I still strongly believe that providing SVGOMG as an option for contributor is very useful. Just because we tend to use editor plugins or the CLI doesn't mean others want to or can use it.

But even more than that, the problem isn't just SVGOMG, the problem is that SVGO [can be configured](https://github.com/svg/svgo/issues/1164#issuecomment-542310044) in such a way that it breaks some SVG tooling

[2021-09-25 10:45] ericcornelissen commented on #1060
Yes, let's close due to it being stale

[2021-09-25 10:45] #1060 closed

[2021-09-25 10:59] #6350 closed

[2021-09-25 10:59] #6560 closed

[2021-09-25 11:20] #5969 closed

[2021-09-25 18:54] jorgeamadosoria commented on #4205
Every icon listed has been reviewed. They are either the same, or have a PR open except WearOS.
I think it makes sense to make a push to check these PRs as Priority 0 tasks so we can close this review @simple-icons/maintainers as fast as possible.

[2021-09-25 20:49] service-paradis commented on #6597
Thank you @veni-vidi-code for your request!

Unfortunately, nor the [Alexa Rank](https://www.alexa.com/siteinfo/gap-system.org) (less than 500k) and the [Github stars](https://github.com/gap-system/gap) (more than 5k) reach our requirements.

Before we close the issue, though, is there another metric we could use to assess the popularity?

[2021-09-25 21:12] #6118 closed

[2021-09-26 00:07] ElRodrigote opened #6600 "Request for new cryptocurrency related icons"
Hi there!

I'd like to request for some additional logos from blockchain and cryptocurrency projects:
* [Cardano](https://www.coingecko.com/en/coins/cardano)
* [Polkadot](https://www.coingecko.com/en/coins/polkadot)
* [Avalanche](https://www.coingecko.com/en/coins/avalanche)
* [Solana](https://www.coingecko.com/en/coins/solana)
* [Polygon](https://www.coingecko.com/en/coins/polygon)
* [Axie Infini

[2021-09-26 01:53] jorgeamadosoria commented on #6600
HI Rodrigo, thanks for your request.
In order for us to add any icon, they have to comply with the inclusion criteria outline in [CONTRIBUTING.md](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md)

In this case, the criteria that is more appropriate would be Alexa ranking:

https://www.alexa.com/siteinfo/cardano.org (7419)
https://www.alexa.com/siteinfo/polkadot.network (2

[2021-09-26 09:26] veni-vidi-code commented on #6597
Thanks @service-paradis for the fast reply.
I did not knew about those minimum requirements and think that gap will not be able to meet them due to its pure use for computational discrete mathematics. There are also not many statistics about it online other than their [list of citations](https://www.gap-system.org/Doc/Bib/statistics.html) which is not pretty impressive either...

So thanks for you

[2021-09-26 09:27] #6597 closed

[2021-09-26 13:52] ahmedshahriar opened #6602 "Request:"
### Brand Name

PythonAnywhere

### Website

https://www.pythonanywhere.com/

### Popularity Metric

The Alexa rank is 15,443 see https://www.alexa.com/siteinfo/www.pythonanywhere.com

### Official Resources for Icon and Color

reference link : https://www.pythonanywhere.com/about/media_resources/

logo in png: https://www.pythonanywhere.com/static/anywhere/images/PA-logo-large-icononly.png

Previ

[2021-09-26 14:16] #6600 closed

[2021-09-27 00:54] seanmaaa opened #6604 "Request: Play Framework"
### Brand Name

Play Framework

### Website

https://www.playframework.com

### Popularity Metric

The Alexa rank is 179,954. See https://www.alexa.com/siteinfo/playframework.com
12K Stars on Github. See https://github.com/playframework/playframework

### Official Resources for Icon and Color

Official resources for icon and color: Available on play framework git repository.
https://github.com/pla

[2021-09-27 01:07] seanmaaa opened #6605 "Request: Akka"
### Brand Name

Akka

### Website

https://akka.io

### Popularity Metric

The Alexa rank is 211,179. See https://www.alexa.com/siteinfo/akka.io
11.8K Stars on GitHub. See https://github.com/akka/akka

### Official Resources for Icon and Color

Official resources for icon and color: Available on Akka git repository.
https://github.com/akka/akka.io/tree/main/resources/images

Color : #009EC5 (from

[2021-09-27 12:34] service-paradis commented on #5853
Additional info from #6602:

Feel free @ahmedshahriar to contribute to it by opening a PR. You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-27 12:35] service-paradis commented on #6602
Duplicate of #5853

Thank you for your request @ahmedshahriar. I'm closing this one in favor of the older #5853, but feel free to contribute :)

[2021-09-27 12:35] #6602 closed

[2021-09-27 12:36] service-paradis commented on #6604
Duplicate of #6068

Thank you for your request @seanmaaa. I'm closing this one in favor of the older #6068, but feel free to contribute :)

[2021-09-27 12:36] #6604 closed

[2021-09-27 23:35] brunomdrrosa opened #6614 "Request: Redragon"
### Brand Name

Redragon

### Website

https://www.redragon.com.br/

### Popularity Metric

The Alexa rank is 1,803,367. See https://www.alexa.com/siteinfo/redragon.com.br

### Official Resources for Icon and Color

svg: https://logodownload.org/redragon-logo/
color: `#e50b22`, from the official logo

### Additional Comments

_No response_

### Contributing

Yes

[2021-09-28 07:15] #6067 closed

[2021-09-29 12:42] #6143 closed

[2021-09-29 13:42] service-paradis commented on #6462
I just found brand guidelines for them:
https://assets.appian.com/uploads/assets/Appian_BrandGuidelines_Newsroom.pdf

I dont know if there is a page somewhere that links to this document.

[2021-09-29 15:39] aloisdg opened #6619 "Request: Welcome to the Jungle"
### Brand Name

Welcome to the Jungle

### Website

https://www.welcometothejungle.com/en

### Popularity Metric

Current Alexa rank is #50,295
WTTJ is a kind of indeed famous in the french startup scene.

### Official Resources for Icon and Color

Here is the logo ![](https://axeptio.imgix.net/2020/08/Icon_Yellow_200x200.jpg?auto=format&fit=crop&w=170&h=auto&dpr=1)

and in svg: ![](https://cdn.we

[2021-09-29 15:49] service-paradis commented on #6619
Thank you @aloisdg for the request. The Alexa Rank reach our criteria.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-29 15:58] service-paradis commented on #4461
Now that we have Issue forms and we ask people if they want to contribute, I think we might extend the "good first issue" rule. If we dont add this label, but the requester answer Yes, we should also wait some time before taking it. #6592 is an example where we could have waited a little bit more (not saying it was not correct to take it) since the interest of contributing was mentioned.

Also, sh

[2021-09-29 16:32] aloisdg commented on #6619
Sure I will give it a try,

[2021-09-30 02:58] jorgeamadosoria commented on #6543
can't access this one either.
I'm beginning to think there is something going on with Europe websites and Latin American access.

[2021-09-30 03:51] jorgeamadosoria commented on #6500
the problem I see with the favicon, other than it being too low fi, is that the borders of the icon don't seem natural. For example, the triangle is cut for no reason other than to fit the image in a square; the red rectangle is meant to be similar to the red square in the logo, so I can only assume that it was cut as well.

I tried to see if this icon or any other had an use elsewhere, but Matter

[2021-09-30 06:35] bigbreadguy opened #6621 "Request:"
### Brand Name

brunch

### Website

https://brunch.co.kr/

### Popularity Metric

The Alexa rank is around 80.4 k. See [https://www.alexa.com/siteinfo/brunch.co.kr](https://www.alexa.com/siteinfo/brunch.co.kr).

### Official Resources for Icon and Color

png : https://t1.daumcdn.net/brunch9/static/images/pc/logo_brunch_v1.png
color : `#231F20`, from the website logo

### Additional Comments

Ther

[2021-09-30 07:30] ericcornelissen commented on #4461
I personally (still? not sure if I voiced this before) don't see a reason for remove the `good first issue`, I would rather say that we as maintainers wait x time before picking those up.

Definitely - I think that would be the last step before closing this issue (automation can be taken care of separately, the issue says "define" after all). My vote would go for a `LABELS.md` file so it's easier

[2021-09-30 07:41] aloisdg commented on #6619
Following the contribution guidelines, this is what I have for know

[code]

PR will follow through

[2021-09-30 13:10] service-paradis commented on #6605
Thank you @seanmaaa for the request. The Alexa Rank (and Github stars) reach our requirements.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-30 13:13] service-paradis commented on #6598
Thank you @fbuireu for the request. The Alexa Rank (and Github stars) reach our requirements.

I think we could also use only their icon (which is used as their favicon and for their social media). We can find a Vector version of it (https://codesignal.com/wp-content/uploads/2020/10/Group-28393.svg) at the bottom of this page: https://codesignal.com/about/

You can take a look at our [contributing

[2021-09-30 13:16] service-paradis commented on #6583
Thank you @CrazyMarvin for the request. The Alexa Rank reach our requirements.

A Vector version of their icon is available in their [website](https://instatus.com/) footer.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try.

[2021-09-30 13:21] service-paradis commented on #6581
Thank you @dmroch for the request. The Alexa Rank reach our requirements.

A Vector version of their logo is also available at https://github.com/cockpit-project/cockpit-project.github.io/blob/b851b3477d90017961ac9b252401c9a6cb6239f1/images/site/cockpit-logo.svg

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you w

[2021-09-30 13:26] fbuireu commented on #6598
Thanks for the research @service-paradis, you are absolutely right about the SVG. I've updated the initial request by adding the suggested SVG.

[2021-09-30 19:00] Zapotoczny-Rafal opened #6625 "Request: Allegro"
### Brand Name

Allegro

### Website

https://allegro.pl/

### Popularity Metric

Alexa rank is 286. See https://www.alexa.com/siteinfo/allegro.pl

### Official Resources for Icon and Color

Icon: Available on wikipedia  https://upload.wikimedia.org/wikipedia/commons/c/c3/Allegro.pl_sklep.svg
and Allegro website https://a.allegroimg.com/original/126b6e/bf09245243ef947800dfb73121cb (It is white and

[2021-09-30 20:49] JMeye21 opened #6626 "Request: Pixlr"
### Brand Name

Pixlr

### Website

https://pixlr.com/

### Popularity Metric

The Alexa rank is #1,063. See: https://www.alexa.com/siteinfo/pixlr.com

### Official Resources for Icon and Color

None

### Additional Comments

_No response_

### Contributing

No

[2021-10-01 09:36] mandrasch opened #6628 "License link on the icons card on website missing?"
### Kind of Issue

Other

### Description

https://github.com/simple-icons/simple-icons/blob/master/DISCLAIMER.md states

I can't find the license link on the website icon cards? Was this removed?

Thanks in advance for clarification!

PS: Thanks so much for providing a icon library as CC0/public domain, searched a long time for a CC0 icon set 🥰

### Contributing

Yes

[2021-10-01 11:35] adamrusted commented on #6628
Hi @mandrasch - the licenses are only included on the icons where we know the express licensing terms of them. For example,
[OCaml](https://user-images.githubusercontent.com/1830867/135613442-da6d653a-0fc6-4040-9b6a-47775d487975.png). If there's a guidelines link provided, but no license info - it's up to you as a user to investigate further into what the terms may be, and if there's any specific

[2021-10-01 13:04] service-paradis commented on #6444
@Qetzing Here is the path I got when I gave this a try:
[code]

Feel free to open a PR using it!

[2021-10-01 20:53] dirien opened #6632 "Request: Ionos"
### Brand Name

Ionos

### Website

https://www.ionos.de/

### Popularity Metric

Alexa: 4,392

### Official Resources for Icon and Color

svg: https://www.ionos.de/modules/frontend-skin-thunder/img/components/header/vi-logo.svg
color: `#003d8f`

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-01 23:03] #6566 closed

[2021-10-02 01:46] #6368 closed

[2021-10-02 03:12] #6330 closed

[2021-10-02 14:53] sachinraja opened #6635 "consider adding hacktoberfest topic"
This month is [hacktoberfest](https://hacktoberfest.digitalocean.com/) and "Maintainers determine if their open-source projects participate by adding the ‘hacktoberfest’ topic." Assuming everyone knows what hacktoberfest is or has read about it in the link above:
pros:
  - more pull requests
  - encouraging people to make contributions

cons:
  - we already have a lot to review
  - our guidelines

[2021-10-02 14:56] ericcornelissen commented on #6180
Closing this as answered, if there are further questions or other suggestions for how to solve the problem feel free to comment here :slightly_smiling_face:

[2021-10-02 14:56] #6180 closed

[2021-10-02 15:46] ericcornelissen opened #6636 "Add support for filled/outlined icon variants"
# Description

Some icons come in two variants, filled and outlined. We _could_ support this. This issue serves to discuss how this would work. If you have objections or concerns about this idea, please leave comment in [the discussion].

If you have suggestions for listed problems, foresee any other problems, have another usecase or candidate logo, please feel free to leave a comment here or in [

[2021-10-02 15:47] ericcornelissen commented on #5598
Closing this given that #5735 is merged. Whether Hackster will receive a separate `outline` or `filled` treatment can be resolved in a new issue.

[2021-10-02 15:47] #5598 closed

[2021-10-02 15:53] ericcornelissen commented on #4951
Closing this due to inactivity. If you get/got a response from OSI, feel free to share it here :slightly_smiling_face:

[2021-10-02 15:53] #4951 closed

[2021-10-02 15:57] ericcornelissen commented on #5070
@mondeja, should we add this as a check for the linter or close this issue without adding it?

[2021-10-02 15:58] CxRes commented on #4951
@ericcornelissen Unfortunately, I never got a response!

Thanks for your offer to help though...

[2021-10-02 18:09] danrusman opened #6637 "Request: Code::Blocks"
### Brand Name

Code::Blocks

### Website

https://www.codeblocks.org/

### Popularity Metric

The Alexa rank is 52,077. See https://www.alexa.com/siteinfo/codeblocks.org

### Official Resources for Icon and Color

Two variants of icons:
![code1](https://user-images.githubusercontent.com/54821932/135734675-074c6c4e-0113-49b8-a441-c471711efa86.jpg)
![code2](https://user-images.githubusercontent.com

[2021-10-02 18:32] sachinraja commented on #6636
I think we should consider #6186 (export all icons from one file) in any decision on "How to get a variant through the Node.js API?" Most of these look good to me though. It may be cleaner to just put variants in separate folders like `icons/filled`, `icons/outlined`, and `icons/normal`.

[2021-10-02 19:58] jorgeamadosoria commented on #6635
Maybe some more people turning issues into PRs would be a good thing. We could take October to review PRs and not address issues directly.

[2021-10-02 21:14] jorgeamadosoria commented on #3610
@tomlut after some back and forth and given a long time to check the ups and downs of this website on the Alexa Ranking, it seems that it has spent more time over 500k than below.
I think that given this, we need to close this issue due to the brand not achieving the requirements for inclusion.
If you keep an eye on the website ranking and it stays below 500k for three months, then feel free to re

[2021-10-02 21:14] #3610 closed

[2021-10-02 21:19] jorgeamadosoria commented on #6628
Closing this issue as answered. @mandrasch if you have any other questions, feel free to ask.

[2021-10-02 21:19] #6628 closed

[2021-10-02 22:06] shubhamj99 commented on #6626
Added. Please check the pull request. Thanks

[2021-10-02 23:36] danrusman opened #6639 "Request: Portugol Studio"
### Brand Name

Portugol Studio

### Website

http://lite.acad.univali.br/portugol/

### Popularity Metric

The Alexa rank is 197,660. See the https://www.alexa.com/siteinfo/univali.br

### Official Resources for Icon and Color

Official icon:
![portugol_studio](https://user-images.githubusercontent.com/54821932/135734552-aa00d62e-973b-4280-8017-c2ecc13e3692.png)
Hexadecimal color: #ffc200

### Ad

[2021-10-03 00:01] mondeja commented on #5070
I've opened a PR to add this as a check.

[2021-10-03 00:09] #5070 closed

[2021-10-03 00:19] danrusman opened #6642 "Request: FICO"
### Brand Name

FICO

### Website

https://www.fico.com/

### Popularity Metric

The Alexa rank is 95,739. See the https://www.alexa.com/siteinfo/fico.com

### Official Resources for Icon and Color

Icon in header: https://community.fico.com/s/blaze-advisor-overview
Remove the white line

![blazeadvisoroverview](https://user-images.githubusercontent.com/54821932/135735049-dafa9f96-e4cb-421d-9ad5-f

[2021-10-03 01:59] #6381 closed

[2021-10-03 07:35] abhinavminhas commented on #6592
Worked on it, currently having issue with getting precise size as 24 x 24

x icons\testcafe.svg
  x icon-size Size of <path> must be exactly 24 in one dimension; the size is currently 23.451 x 23.532
  x icon-centered <path> must be centered at (12, 12); the center is currently (11.828, 12.156)

https://github.com/abhinavminhas/simple-icons/actions/runs/1299944789

[2021-10-03 07:36] abhinavminhas commented on #6592
@service-paradis Currently having issue with getting precise size as 24 x 24

x icons\testcafe.svg
x icon-size Size of must be exactly 24 in one dimension; the size is currently 23.451 x 23.532
x icon-centered must be centered at (12, 12); the center is currently (11.828, 12.156)

https://github.com/abhinavminhas/simple-icons/actions/runs/1299944789

[2021-10-03 07:51] Udaara opened #6643 "Request: Open Policy Agent (OPA)"
### Brand Name

Open Policy Agent (OPA)

### Website

https://www.openpolicyagent.org/

### Popularity Metric

 5,600 for [opa](https://github.com/open-policy-agent/opa)

### Official Resources for Icon and Color

SVG: https://cncf-branding.netlify.app/img/projects/opa/icon/black/opa-icon-black.svg
More SVGs: https://cncf-branding.netlify.app/projects/opa/

### Additional Comments

_No response_

[2021-10-03 07:51] Udaara opened #6644 "Request: Argo"
### Brand Name

Argo

### Website

https://www.cncf.io/projects/argo/

### Popularity Metric

9,367 for [argo-workflows](https://github.com/argoproj/argo-workflows) & 7,026  for [argo-cd](https://github.com/argoproj/argo-cd)

### Official Resources for Icon and Color

SVG: https://cncf-branding.netlify.app/img/projects/argo/icon/black/argo-icon-black.svg
More SVGs: https://cncf-branding.netlify.ap

[2021-10-03 08:53] dirien opened #6645 "Develop Branch"
hi @simple-icons/maintainers,

can someone with admin rights check the develop branch history?

![image](https://user-images.githubusercontent.com/38325136/135746623-6b1b40c9-f611-49da-9d91-9809faba9bdb.png)

There where two version bumps this morngin and, when i did a update of my fork the upstream gets an empty commit...

I would fix it but can't as i have to rights on the gitrepo.

Thanks.

[2021-10-03 09:04] dirien commented on #6645
i would
[code]
To the comit before the Aldi Nord Merge. Then check the Aldi Nord commit again.

[2021-10-03 10:11] ericcornelissen commented on #6645
From my local git history, it looks like there was some confusion from your side (as you committed eceb37ae967424008cf8e2692583543cb0131461). The parent commit of the second version bump is c66c2d8ac13fcc7456884c9344d9dbd90f453bc9 and was not directly committed to the develop branch of this repository (as there's no CI checks). I can't tell where the merge commit (i.e. eceb37ae967424008cf8e2692583

[2021-10-03 10:12] #6645 closed

[2021-10-03 11:06] ASNNetworks commented on #6190
Hi @service-paradis, I found this SVG logo of VeChain. You can make it all white instead of the colors (which are wrong) and then it's good to go :)

https://iconape.com/vechain-logo-icon-svg-png.html

[2021-10-03 11:07] ericcornelissen commented on #2380
I was studying the `stefanzweifel/git-auto-commit-action` documentation for #6646 and stumbled on [the "Advanced Uses" section](https://github.com/stefanzweifel/git-auto-commit-action#advanced-uses) and it would seems we might be able to get automated fixes working if we ask contributors to enable actions on their fork.

I haven't tested this yet but re-opening this issue as there are new options

[2021-10-03 13:34] dirien commented on #6645
@ericcornelissen , sorry for the trouble. I am still thinking how this could happend. I did not merged the Aldi Nord PR. What i did was to update my fork... Github asked for a PR on my fork... Super strange..

Sorry again for this.

[2021-10-03 14:26] ericcornelissen commented on #6645
No problem @dirien :slightly_smiling_face: The Aldi Nord PR was merged by **joaopedromoraez**, see:

![image](https://user-images.githubusercontent.com/3742559/135758050-308a7d82-0702-4fae-b21f-e9e0f46e7489.png)

The eceb37ae967424008cf8e2692583543cb0131461 commit is separate from that. I also can't really tell what happened but as the source code on `develop` looks good there's not much of a prob

[2021-10-03 14:41] jorgeamadosoria commented on #6592
that happens from time to time after optimization. You need to adjust the size of the icon to something slightly larger than 24px (in inkscape) and save it. I do it by trial by error, maybe there is a better way, idk.

Alternatively, you could review #6618, which already has this icon ready to be merged, and only requires review

[2021-10-03 14:58] sachinraja commented on #2380
Is it possible to have a workflow on `pull_request` that pushes to the contributor's branch if they enabled edits?

[2021-10-03 19:31] danrusman opened #6647 "Update: URI Online Judge to beecrowd"
### Brand Name

URI Online Judge

### Official Resources for Icon and Color

URI Online Judge is now beecrowd
![beecrowd](https://user-images.githubusercontent.com/54821932/135768660-e5d15352-e44b-4839-a68f-5a9080928994.png)

### Additional Comments

New logo announcement: https://www.youtube.com/watch?v=M01aY5Jzi8c

### Contributing

Yes

[2021-10-03 20:09] jorgeamadosoria commented on #3423
Closed as obsolete duplicate of #6647 (Uri Online Judge soon to happen rebranding)

[2021-10-03 20:25] ericcornelissen commented on #2380
I think a pre-commit hook won't be sufficient for all of the contributions we receive. Lots of contributors do so without ever running `npm install`, so they won't benefit from the pre-commit hooks. Not to mention that I'd wager that some of the people that would benefit from it the most are also the people least likely to run `npm install`.

That said, adding a pre-commit hook wouldn't hurt.

[2021-10-03 22:36] gotmax23 opened #6649 "Request: Sourcehut"
### Brand Name

Sourcehut

### Website

https://sourcehut.org

### Popularity Metric

Sourcehut has 24,552 users.

Source: https://sourcehut.org/blog/2021-09-15-whats-cooking-september-2021/

### Official Resources for Icon and Color

https://sourcehut.org/logo/

Source: https://sourcehut.org/logo/

### Additional Comments

- There is are two available colors (Black and White) and each color has a

[2021-10-04 01:44] #6503 closed

[2021-10-04 03:57] abhinavminhas commented on #6592
@jorgeamadosoria I'll keep that in mind next time.
[#6618](https://github.com/simple-icons/simple-icons/pull/6618) seems fine.

Builds fine.
[CI](https://github.com/abhinavminhas/simple-icons/actions/runs/1302081406)
[Icon File changes](https://github.com/abhinavminhas/simple-icons/commit/3f4b45cf322d9a55e9f5e5142167a12e2e7841ab)

[2021-10-04 04:11] abhinavminhas commented on #6592
@jorgeamadosoria I have merged the latest an created the pull request [#6650](https://github.com/simple-icons/simple-icons/pull/6650)
All checks passing.

[2021-10-04 06:35] LeslieCayas opened #6651 "Request: Ruby Sinatra"
### Brand Name

Ruby Sinatra

### Website

http://sinatrarb.com/

### Popularity Metric

The Alexa Rank is #638,264. See https://www.alexa.com/siteinfo/sinatrarb.com

### Official Resources for Icon and Color

http://sinatrarb.com/
from website header

### Additional Comments

_No response_

### Contributing

No

[2021-10-04 13:16] adamrusted commented on #6651
Thanks for submitting this request, @LeslieCayas. Looking at the Alexa rank this would currently be out of scope, and given the sudden rise in it's popularity between 6-13 Sept, would want to keep an eye on how stable the popularity is anyway. Have you got another metric we could use to determine whether or not to include this brand? (GitHub stars, etc)

[2021-10-04 13:25] sachinraja commented on #6649
I'm not sure user count is a good metric and the [Alexa rank](https://www.alexa.com/siteinfo/sourcehut.org) is at 1,797,898.

[2021-10-04 13:27] service-paradis commented on #6637
Thank you @danrusman for the request. The Alexa Rank reach our requirements.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try!

[2021-10-04 13:35] service-paradis commented on #6642
Thank you @danrusman for the request. The Alexa Rank reach our requirements. The vector icon in their website header should work. They also have some Trademark guidelines that could be added: https://www.fico.com/en/legal

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try!

[2021-10-04 13:37] service-paradis commented on #6643
Thank you @Udaara for the request. Both, the Alexa Rank and Github stars reach our requirements. https://cncf-branding.netlify.app/projects/opa/ is a good find for the project guidelines!

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try!

[2021-10-04 13:40] service-paradis commented on #6642
Rereading your request, Fico can be added as a brand since it reaches our requirements.

Blaze Advisor, I'm not so sure. We'll need to measure the popularity of the project itself since the other measurement works for Fico only.

[2021-10-04 13:43] service-paradis commented on #6644
Thank you @Udaara for the request. The Github stars reach our requirements.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try!

[2021-10-04 13:44] #3423 closed

[2021-10-04 13:48] service-paradis commented on #6649
Unfortunately, right now, it appears to be out of scope. We cannot use Google Trends for comparison since there are not enough results for Sourcehut.

Closing this one for now. Thank you for the request @gotmax23 and feel free to reopen the issue if the popularity increases!

[2021-10-04 13:48] #6649 closed

[2021-10-04 13:49] service-paradis commented on #6651
With [~11k](https://github.com/sinatra/sinatra) Github stars, I think we're ok with this one!

[2021-10-04 14:50] jorgeamadosoria commented on #6592
Merged in #6650

[2021-10-04 14:50] #6592 closed

[2021-10-04 17:06] Thisissempi opened #6652 "Request: Funimation"
Brand Name
Funimation

Website
https://www.funimation.com/

Popularity Metric
The Alexa rank is #4,394 . See: https://www.alexa.com/siteinfo/funimation.com

Official Resources for Icon and Color
![FUni](https://user-images.githubusercontent.com/90338761/135897131-956b7f74-eff1-48b4-a61a-f890073935f9.png)
![unYA3SK](https://user-images.githubusercontent.com/90338761/135897132-db25419a-3226-44fa-b8e

[2021-10-04 17:27] MrGriefs opened #6653 "Request: FiveM"
### Brand Name

FiveM

### Website

https://fivem.net

### Popularity Metric

The Alexa rank is 16,653. https://www.alexa.com/siteinfo/fivem.net

### Official Resources for Icon and Color

png: https://cookbook.fivem.net/wp-content/uploads/2019/05/f39849c511fa123c3346b7afef26971f1f8a740d.png

### Additional Comments

No press kit is available.
Unofficial SVG: https://github.com/TFNRP/data/blob/mai

[2021-10-04 17:46] CrazyMarvin commented on #6583
I will give this a try, @service-paradis.
But please beware as I am not really into graphic design. 😅

[2021-10-04 18:58] service-paradis commented on #6583
No problem @CrazyMarvin, feel free to ask questions in your PR if you need help!

[2021-10-04 19:01] service-paradis commented on #6653
Thank you @MrGriefs for the request. The Alexa Rank reach our requirements.

You can take a look at our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) if you want to give this a try!

[2021-10-04 19:27] MrGriefs commented on #6653
Awesome, thanks for letting me know before I made a bad PR.

[2021-10-04 20:30] danrusman commented on #6639
@service-paradis, thank you for getting back to me.
The Portugol Studio is a brazilian software to learn Programming logic and was delevoped by Univali university.

In this link http://lite.acad.univali.br/portugol/ is official to download this software. Another metric is available on the site and count 561,681 downloads.

[2021-10-04 20:43] CrazyMarvin commented on #6583
The green is #4EE3C2.
[Instatus logo kit.zip](https://github.com/simple-icons/simple-icons/files/7281189/Instatus.logo.kit.zip)
I will open the PR later this week. Thanks!

[2021-10-04 23:23] service-paradis commented on #6639
Thank you @danrusman for the additional information. Sometimes, we also use Google Trends to compare with an already added brand with a similar tool. Unfortunately, it is not really convincing:
https://trends.google.com/trends/explore?geo=CA&q=sololearn,portogol%20studio

Number of downloads is not an official measure we use to assess popularity. While ~500k total downloads is not bad, I'm not sur

[2021-10-05 00:06] danrusman commented on #6639
@service-paradis thanks for your attention.
I would like to correct one information the correct name is "Portugol Studio" not "Portogol Studio".

This software is used more in Brazil than in Canada. See the link: https://trends.google.com/trends/explore?geo=BR&q=sololearn,Portugol%20Studio

I would also like to thank you for sharing sololearn, I really didn't know about it and now I will have one

[2021-10-05 01:29] danrusman commented on #6642
@service-paradis thank you for getting back to me.

Sorry, I don't have a metric about Blaze Advisor. Can we add only Fico?

[2021-10-05 01:33] jorgeamadosoria commented on #6639
your second trend link does paint a better picture. However, I think that the problem is the same as @service-paradis for Canada: it's a local trend for Brazil, not a global one.

As @service-paradis said, we don't have a metric based on downloads just yet.

[2021-10-05 01:49] danrusman opened #6656 "Request: Hot Wheels"
### Brand Name

Mattel

### Website

https://hotwheels.mattel.com/shop

### Popularity Metric

The Alexa rank is 20,344. See https://www.alexa.com/siteinfo/mattel.com
Another metric: https://trends.google.com/trends/explore?q=Hot%20Wheels

### Official Resources for Icon and Color

See https://en.wikipedia.org/wiki/File:Hot_Wheels_logo-en.svg

### Additional Comments

_No response_

### Contributi

[2021-10-05 01:50] sachinraja commented on #6635
@simple-icons/maintainers what do you think about this?

[2021-10-05 02:05] danrusman opened #6657 "Request: BlueStacks"
### Brand Name

BlueStacks

### Website

https://www.bluestacks.com/

### Popularity Metric

The Alexa rank is 1,752. See https://www.alexa.com/siteinfo/bluestacks.com

### Official Resources for Icon and Color

Icon in SVG: https://worldvectorlogo.com/logo/bluestacks

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-05 02:12] danrusman commented on #6639
No problem, thank you for yours attention in this issue!

[2021-10-05 02:12] #6639 closed

[2021-10-05 12:51] service-paradis commented on #6642
@danrusman Sure, FICO does reach our requirements, feel free to open a PR 😃

[2021-10-05 14:39] jorgeamadosoria commented on #6635
I say let's do it.

[2021-10-05 14:41] #6619 closed

[2021-10-05 14:50] dirien commented on #6635
+1! Do we have some nice issues (docs, tests etc must not be icons per default) we can lable as "good first issue"?

[2021-10-05 15:02] sachinraja commented on #6635
I'm also for this. It looks like we already have [66 issues labeled "good first issue"](https://github.com/simple-icons/simple-icons/labels/good%20first%20issue), though labeling more wouldn't hurt.

[2021-10-05 16:28] jorgeamadosoria commented on #6635
there has been plenty of new icon requests that can be labelled as good first icons. I have been averaging 1 issue daily for more than a week now, and the number does not go down, so thee is plenty there.

As for docs, I'm not sure. There are a couple of tickets for the website that could be good first issues.
I'm sure @service-paradis or @ericcornelissen have more in mind.

[2021-10-05 17:10] CrazyMarvin commented on #6519
Does anyone have an idea how to design this logo? It is quite long.
What do you think of this approach?

![ohdear](https://user-images.githubusercontent.com/15004217/136070327-b41e1503-ee52-41b4-b06a-7423bc7f9f57.png)

This is too long I fear.

![ohdear (1)](https://user-images.githubusercontent.com/15004217/136070452-395f235f-4e88-4d96-b915-c79a1b915c54.png)

[2021-10-05 21:20] mouadTaoussi opened #6659 "Request: APM Terminals"
### Brand Name

APM Terminals

### Website

https://www.apmterminals.com/

### Popularity Metric

Example: The Alexa rank is 72,981. See https://www.alexa.com/siteinfo/apmterminals.com

### Official Resources for Icon and Color

Example:
svg: https://commons.wikimedia.org/wiki/File:APMT_Tag_Ver_ColorPos_GIF.png
color: `#ff6441`, from the icon

### Additional Comments

_No response_

### Contributi

[2021-10-05 21:27] mouadTaoussi opened #6660 "Request: KONAMI"
### Brand Name

KONAMI

### Website

https://www.konami.com/en/

### Popularity Metric

Example: The Alexa rank is 18,888, See https://www.alexa.com/siteinfo/konami.com

### Official Resources for Icon and Color

Example:
svg: https://commons.wikimedia.org/wiki/File:Konami_logo_red.svg
color : `#b60014`

### Additional Comments

There is another variant of the logo, See https://commons.wikimedia.o

[2021-10-06 02:42] reececomo opened #6661 "Request: Percy"
### Brand Name

Percy

### Website

https://percy.io/

### Popularity Metric

The Alexa rank is 181,612. See https://www.alexa.com/siteinfo/percy.io

### Official Resources for Icon and Color

Badge: https://percy.io/static/images/percy-badge.svg
Color: #9E66BF

### Additional Comments

Popular visual regression testing tool

### Contributing

No

[2021-10-06 10:16] Udaara commented on #6644
Thank you @service-paradis. Let me go through the guidelines and try it out :)

[2021-10-06 12:35] #6116 closed

[2021-10-07 06:30] Griger opened #6664 "Request: Penpot"
### Brand Name

Penpot

### Website

https://penpot.app/

### Popularity Metric

The Alexa Rank is 297,05. See https://www.alexa.com/siteinfo/penpot.app

### Official Resources for Icon and Color

I think that the proper logo for this website can be found here: https://github.com/penpot/penpot/blob/develop/frontend/resources/images/favicon.png

Color: `#000000`. I think.

### Additional Comments

[2021-10-07 06:42] alagos opened #6665 "Request: Ask Different"
### Brand Name

Ask Different

### Website

https://apple.stackexchange.com/

### Popularity Metric

# 135
https://www.alexa.com/siteinfo/stackexchange.com

### Official Resources for Icon and Color

svg: https://cdn.sstatic.net/Sites/apple/Img/logo.svg
color: #74A5D2 from the logo

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-07 07:08] alagos opened #6667 "Request: Code Review"
### Brand Name

Code Review

### Website

https://codereview.stackexchange.com/

### Popularity Metric

# 135
https://www.alexa.com/siteinfo/stackexchange.com

### Official Resources for Icon and Color

svg: https://cdn.sstatic.net/Sites/codereview/Img/logo.svg
color: #485A62 from the logo

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-07 09:05] msodi opened #6669 "Request: Personio"
### Brand Name

Personio

### Website

https://www.personio.com/

### Popularity Metric

The Alexa Rank is 177,048. See https://www.alexa.com/siteinfo/personio.com

### Official Resources for Icon and Color

svg: https://www.personio.com/wp-content/themes/stack-child/assets/img/personio-favicon.svg
color: `#000000`

### Additional Comments

_No response_

### Contributing

No

[2021-10-07 09:35] adamrusted commented on #6659
There's an SVG of the full logo available in the header of the website. Perhaps this can be used with the [favicon](https://www.apmterminals.com/-/media/sitewide/Icons/favicon.png?rev=12fccfaca985419498fbbe4fc9657237) to create a suitable icon?

[2021-10-07 09:37] adamrusted commented on #6657
There's a decent-sized PNG as the favicon [on their website](https://cdn-www.bluestacks.com/bs-images/favicon.png) which we could use as a source. Unfortunately, unless another @simple-icons/maintainers approves it - I don't think we can use worldvectorlogo as a source.

[2021-10-07 09:48] NirmalSilwal opened #6670 "Request: add NIIT technology logo"
### Brand Name

NIIT

### Website

https://www.niit.com/india/

### Popularity Metric

The Alexa rank is 39,358. See https://www.alexa.com/siteinfo/niit.com

### Official Resources for Icon and Color

none

### Additional Comments

_No response_

### Contributing

No

[2021-10-07 14:17] adamrusted commented on #6670
On the homepage I'm seeing (in the UK) there is a lovely [SVG that we can use](https://user-images.githubusercontent.com/1830867/136402947-98ebce5a-c635-42e9-a130-c17803256769.png), of the wordmark in a circle. Would you want to contribute this one @NirmalSilwal, based on the SVG found there? (You might need a VPN / Proxy to access it)

[2021-10-07 15:18] #3549 closed

[2021-10-07 16:07] estebangarviso opened #6671 "Request: Smarty"
### Brand Name

Smarty

### Website

https://www.smarty.net/

### Popularity Metric

Site ranks 56,435 in global internet engagement https://www.alexa.com/siteinfo/smarty.net
It used in one of the most popular eCommerce CMS called Prestashop and this is the 6th most popular in the United States in Open Source category. 6th most popular on the Entire Internet in Open Source category. 9th most popul

[2021-10-07 17:27] WarenGonzaga commented on #5554
As per @rebecca-warren we can create a 1-color for their logo. I'm waiting for so my open source dev team can add their logo everywhere on our projects.

[2021-10-07 18:41] #6449 closed

[2021-10-07 19:02] #5299 closed

[2021-10-07 22:16] torendo opened #6673 "Request: Metro AG"
### Brand Name

Metro AG

### Website

https://www.metroag.de

### Popularity Metric

Brand was picked from the list of retailers issue #6383

### Official Resources for Icon and Color

svg: https://commons.wikimedia.org/wiki/File:Metro_Wholesale_%26_Food_Specialist_logo.svg
color: `#00387F`, from the logo itself

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-08 01:45] joaopedromoraez commented on #6669
I would like to work on this issue

[2021-10-08 02:04] anatawa12 opened #6675 "Request: Wiki.js"
### Brand Name

Wiki.js

### Website

https://js.wiki/

### Popularity Metric

The alexa rank is 435,848: https://www.alexa.com/siteinfo/js.wiki

### Official Resources for Icon and Color

SVG: https://cdn.js.wiki/images/wikijs-butterfly-mono.svg
Color:  #1976D2 and #6754E2

Source: https://requarks.slack.com/archives/C49J7AB8R/p1632996164059800
![image](https://user-images.githubusercontent.com/2

[2021-10-08 05:19] b-junkoo commented on #6661
Done. Here's the pull request https://github.com/simple-icons/simple-icons/pull/6677

[2021-10-08 10:35] mRtyu commented on #6462
sorry for closing this accidently.
thanks for the brand guidelines @service-paradis

[2021-10-08 11:16] adamrusted commented on #6671
Unless you're able to find approval from the Smarty team for that SVG, unfortunately I don't think we'll be able to use it (It's part of VSCode, not the project itself). If you're able to get a version from Smarty, or the licensing of the VSCode one allows us to use it (and other @simple-icons/maintainers agree) then we could use that.

[2021-10-08 11:40] #6379 closed

[2021-10-08 13:30] torendo opened #6679 "Request: Yandex"
### Brand Name

Yandex

### Website

https://www.yandex.com

### Popularity Metric

Alexa rank is 931: https://www.alexa.com/siteinfo/yandex.com

### Official Resources for Icon and Color

Logo rules: https://yandex.com/company/general_info/logotype_rules/
Rebranding articlre with rounded logo variant: https://yandex.com/company/blog/yandex-updates-logo-to-reflect-current-ecosystem-of-online-and-o

[2021-10-08 13:32] #6679 closed, assigned to nobody

[2021-10-08 14:01] torendo commented on #6383
**FYI:** O'Reilly might not allow to use their logo here, because their terms: https://www.oreilly.com/terms/#trademark
`...You agree not to use any O'Reilly Marks without the prior written consent of O'Reilly...`
`...You may not remove or alter any O'Reilly Marks...`

[2021-10-08 14:03] torendo commented on #6383
**FYI:** Spar not allow any usage of their logo without permit: https://spar-international.com/website-terms/
`The mark SPAR and the SPAR logo are registered trademarks of SPAR International and cannot be used by anyone for any purpose without the express written agreement of SPAR International.`

[2021-10-08 14:57] torendo opened #6681 "Request: 4chan"
### Brand Name

4chan

### Website

https://www.4chan.org/

### Popularity Metric

The Alexa rank is 970: https://www.alexa.com/siteinfo/4chan.org

### Official Resources for Icon and Color

svg done by overpaint original png logo
main color picked from original logo, plus main color from the website headlines
legal usage not prohibit to use their logo: https://www.4chan.org/faq

### Additional Co

[2021-10-08 15:30] torendo opened #6684 "Request: Kuaishou"
### Brand Name

Kuaishou

### Website

https://www.kuaishou.com/

### Popularity Metric

Alexa rank is 8589: https://www.alexa.com/siteinfo/kuaishou.com
According Statista, this social network has more active users than Twitter or Reddit: https://www.statista.com/statistics/272014/global-social-networks-ranked-by-number-of-users/

### Official Resources for Icon and Color

svg is made by overpaint

[2021-10-08 15:50] jorgeamadosoria commented on #6383
Spar may be a problem. I've sent an email to them requesting authorization for inclusion. We will see what they answer. Thanks for bringing this to our attention @torendo

[2021-10-08 16:06] torendo opened #6686 "Request: O'Reilly"
### Brand Name

O'Reilly

### Website

https://www.oreilly.com/

### Popularity Metric

Alexa rank 2605: https://www.alexa.com/siteinfo/oreilly.com

### Official Resources for Icon and Color

Svg and color `#D3002D` are from: https://www.oreilly.com/about/logos/
Legal notice disallows to change logo.

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-08 20:05] dirien commented on #6383
Thanks @torendo, for the contribution. I added metro and o`reilly to the main list above!

[2021-10-09 03:07] jorgeamadosoria commented on #6657
I have no problem with wordvectorlogo as long as the icon in question is simple and therefore there is a reasonable expectation that the svg is not going to be too different from an official version (ie, Sonatype or this one, but not Apache Cassandra or Fur Affinity, for example).
Having said that, this icon is simple enough and the PNG has a pretty decent definition, so I think that can be used a

[2021-10-09 03:50] reececomo commented on #6661
This is awesome work @b-junkoo - congratulations! Looking forward to using this. Thanks!

[2021-10-09 03:50] #6661 closed

[2021-10-09 14:03] adsingh14 opened #6690 "Unable to run website on local space."
### Kind of Issue

Other

### Description

I created icon and updated `.json` file successfully but unable to test my icon on local space. I created an discussion for the same.

[Discussion Link](https://github.com/simple-icons/simple-icons/discussions/6689)

### Contributing

No

[2021-10-09 15:32] #6172 closed

[2021-10-09 15:49] FayasNoushad opened #6691 "Request: Python Requests"
### Brand Name

Python Requests

### Website

https://python-requests.org/

### Popularity Metric

The alexa rank is `50,072`.

See :- https://www.alexa.com/siteinfo/python-requests.org

### Official Resources for Icon and Color

https://raw.githubusercontent.com/psf/requests/main/docs/_static/requests-sidebar.png

### Additional Comments

- Multiple colours :- Black and Gray
- No specific license

[2021-10-09 19:43] drthanwho opened #6694 "Request: PolkaDot"
### Brand Name

Polkadot

### Website

https://polkadot.network

### Popularity Metric

Alexa Rank: 24,479

### Official Resources for Icon and Color

https://polkadot.network/brand-assets/

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-09 22:23] em3B commented on #6669
Hello! Please find a PNG attached. Hope you are well!
<img width="82" alt="logo" src="https://user-images.githubusercontent.com/74742934/136675077-619eb796-54cc-4132-8af6-7c8a8ff3cca2.png">

[2021-10-09 23:47] IlluminatiFish opened #6696 "Request: CyberChef"
### Brand Name

GCHQ CyberChef

### Website

https://gchq.github.io/CyberChef

### Popularity Metric

https://github.com/gchq/CyberChef 13,100+ stars on their github repository

### Official Resources for Icon and Color

None but you can use **https://gchq.github.io/CyberChef** to get the icon and color

### Additional Comments

N/A

### Contributing

No

[2021-10-10 00:47] jason-c-daniels opened #6698 "Request: MyGet icon"
### Brand Name

MyGet

### Website

https://www.myget.org/

### Popularity Metric

MyGet is a place where some developers and companies put preview releases. I would like to be able to use their logo instead of nuget's on the badge I currently have, just to keep things clear. It's not as popular as nuget, but serves a similar purpose, tho earlier in the development lifecycle.

https://www.alexa.co

[2021-10-10 07:58] #4128 closed

[2021-10-10 08:04] nurhusni opened #6699 "Request: F Sharp"
### Brand Name

F Sharp

### Website

https://fsharp.org/

### Popularity Metric

Both the Alexa rank and Github stars for F# or F Sharp are low. But it's the 2nd top paying programming languages based on [Stack Overflow Survey in 2021](https://insights.stackoverflow.com/survey/2021#technology-top-paying-technologies).

### Official Resources for Icon and Color

None

### Additional Comments

_No

[2021-10-10 16:07] Griger commented on #6664
Hi @adamrusted, I am trying to make the pull request to add this icon. However, I have some problems annotating the icon. I open the SVG file on VS Code and add the `viewBox`, `role` and `title` and after save it, when I open the SVG file in InkScape no icon is shown. What am I missing here?

Many thanks for your time. Regards.

[2021-10-10 16:07] seb-mtl opened #6702 "Spaces in icon name break csi"
Unable to download icon via `csi` if the icon name contains a space

[code]

[2021-10-10 16:10] seb-mtl commented on #6702
Sorry, wrong [repo](https://github.com/peterpme/create-simple-icon)

[2021-10-10 16:10] #6702 closed

[2021-10-10 16:56] sachinraja commented on #6665
@simple-icons/maintainers has there been a decision made on https://stackexchange.com websites?

[2021-10-10 19:10] Tofpu opened #6704 "Request: SpigotMc"
### Brand Name

SpigotMc

### Website

https://www.spigotmc.org/

### Popularity Metric
Founded in 2012, SpigotMC.org is home to the community behind the biggest Minecraft server software projects and provides a place for everyone involved with Minecraft servers to connect with each other whether they seeking help and support or sharing and showcasing their work.

Their Alexa rank is `#16,062`

##

[2021-10-10 20:14] Phozer opened #6705 "Request: Steelseries"
### Brand Name

Steelseries

### Website

https://steelseries.com/

### Popularity Metric

The Alexa rank is 13,746. See https://www.alexa.com/siteinfo/steelseries.com.

### Official Resources for Icon and Color

Paste the svg path at the bottom to https://jakearchibald.github.io/svgomg/ and "Paste markup".

svg path: `<svg class="logo--ss-logo" aria-hidden="true" aria-labelledby="ss-logo-crosshai

[2021-10-11 02:11] adsingh14 commented on #6705
I'm working on it.

[2021-10-11 02:31] adsingh14 commented on #6696
Can you add 'GCHQ CyberChef' in issue title?
That would look better for others to check which icon has been requested.

[2021-10-11 02:37] #6690 closed, assigned to nobody

[2021-10-11 02:38] adsingh14 opened #6709 "How to test icons local ?"
### Discussed in https://github.com/simple-icons/simple-icons/discussions/6689

<div type='discussions-op-text'>

<sup>Originally posted by **adsingh14** October  9, 2021</sup>
Hi ! I've created an icon but unable to test it locally. I have tried both docker and npm way.

Build and test the package using `$ npm test` : This command working
Run the project linting process using `$ npm run lint` : T

[2021-10-11 02:49] FayasNoushad commented on #6691
Updated

[2021-10-11 03:39] jorgeamadosoria commented on #6671
This document provides an usable icon (also, the favicon is available). It also doubles as guidelines:
https://www.smarty.net/files/SmartyTrademark.pdf

However, I think we can't add this icon (quoting from that same PDF):
[code]

[2021-10-11 03:44] #6671 closed

[2021-10-11 11:34] fizixmastr opened #6712 "Request: COMSOL Multiphysics"
### Brand Name

COMSOL

### Website

https://www.comsol.com/

### Popularity Metric

The Alexa rank is 143,978

### Official Resources for Icon and Color

https://seekvectorlogo.com/comsol-inc-vector-logo-svg/

### Additional Comments

I think the only reason it would be rejected is it is too niche.

### Contributing

No

[2021-10-11 16:33] rosslh opened #6713 "Request: Backbone.js"
### Brand Name

Backbone.js

### Website

https://backbonejs.org/

### Popularity Metric

The number of GitHub stars is 27.8k. See https://github.com/jashkenas/backbone/

### Official Resources for Icon and Color

svg: https://uxwing.com/backbone-js-icon/ or https://upload.wikimedia.org/wikipedia/commons/2/20/Backbone.js_logo.svg
color: `#0071b5`, from lighter part of logo

### Additional Comments

[2021-10-12 10:33] RapidCompiler opened #6715 "Request: Apache Ignite"
### Brand Name

Apache Ignite

### Website

ignite.apache.org

### Popularity Metric

The Alexa rank is 2191. See https://ignite.apache.org/

### Official Resources for Icon and Color

I wasn't able to find the SVG for the logo. But the color of the image from the website header seems to be #ed1c24

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-12 11:36] AlexGeniusMan opened #6716 "Request: Gunicorn"
### Brand Name

Gunicorn

### Website

https://gunicorn.org/

### Popularity Metric

The Alexa rank is 168,112

### Official Resources for Icon and Color

I wasn't able to find the SVG for the logo. But the color of the image from the website header seems to be #298729

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-12 13:39] sachinraja opened #6717 "some issues do not have proper titles"
...so they are being marked as duplicates. I think we need to add comments on what format the title needs to be in. Like `Request: [brand name]` for icon requests.

See #6716, #6715, #6696.

[2021-10-12 17:55] jorgeamadosoria commented on #6712
Simple Icons is an open source project. That means that anyone can make a contribution to it, and if it gets approved, we can merge it and enrich this tool for the community. Your request and comment shows that you have the interest and at least the basic skills necessary to be a valuable contributor.

If you can't or won't contribute, that's totally fine :) I can take care of this request for you

[2021-10-12 18:47] GrinninBarrett opened #6719 "Request: Add icon for Robo 3T"
### Brand Name

Robo 3T

### Website

https://robomongo.org/

### Popularity Metric

The Alexa rank for Robo 3T is 146,375 (see https://www.alexa.com/siteinfo/robomongo.org). Currently, it has 8.7k stars on GitHub (see https://github.com/Studio3T/robomongo).

### Official Resources for Icon and Color

color: #4DAE51, from logo on website

Secondary color is white (#FFFFF)

### Additional Comments

[2021-10-12 19:07] GrinninBarrett commented on #6719
I have created an SVG file from the Robo 3T logo. It is not perfectly identical, but I think should be sufficient for most uses.

[2021-10-12 23:37] #6716 closed

[2021-10-12 23:50] sachinraja commented on #6657
It may be worth it to email them at support@bluestacks.com, because they may have the SVG assets (since they mention it on the page).

[2021-10-13 04:39] jorgeamadosoria commented on #6657
I send them the email, let's see.

[2021-10-13 06:41] asmitbm opened #6722 "Appwrite icon not visible"
### Kind of issue

- [x] Bug

### Description
I have been trying to add Appwrite logo, but when I generate the URL, the icon is not visible.
Please check this link: https://img.shields.io/badge/Appwrite-F02E65?style=for-the-badge&logo=Appwrite&logoColor=white

![Screenshot (44)](https://user-images.githubusercontent.com/81866614/137080378-035a0506-79cd-4d77-86ad-0bcb682003f9.png)

Steps to produce

[2021-10-13 07:00] Asmit2952 opened #6721 "Request: GroupMe"
### Brand Name

GroupMe

### Website

https://groupme.com/en-GB/

### Popularity Metric

GroupMe is a mobile group messaging app owned by Microsoft. It was launched in May 2010 by the private company GroupMe. In August 2011, GroupMe delivered over 100 million messages each month and by June 2012, that number jumped to 550 million. In 2013, GroupMe had over 12 million registered users.

### Officia

[2021-10-13 07:36] Asmit2952 opened #6723 "Request: IBM Cloud"
### Brand Name

IBM Cloud

### Website

https://www.ibm.com/us-en/

### Popularity Metric

IBM cloud computing is a set of cloud computing services for business offered by the information technology company IBM.

### Official Resources for Icon and Color

https://www.ibm.com/brand/systems/cloud/brand/color

### Additional Comments

N/A

### Contributing

Yes

[2021-10-13 07:43] ericcornelissen commented on #6722
Seems like shields.io did not yet update to [the latest version of simple-icons](https://github.com/simple-icons/simple-icons/releases/tag/5.18.0) yet, none of the new icons there seem to work at the moment. As the icons for [the previous release](https://github.com/simple-icons/simple-icons/releases/tag/5.17.0) do already work (*) you should be able to use the Appwrite icon within the next 7 days

[2021-10-13 07:43] #6722 closed, assigned to nobody

[2021-10-13 15:59] dirien opened #6724 "Request: VEXXHOST"
### Brand Name

VEXXHOST

### Website

https://vexxhost.com/

### Popularity Metric

Alexa: 387,179

### Official Resources for Icon and Color

svg: https://vexxhost.com/wp-content/uploads/2020/01/100_circle.svg

color `#2a1659`

### Additional Comments

_No response_

### Contributing

Yes

[2021-10-13 19:47] SimonGolms opened #6726 "Update: Rename material-ui to mui"
### Brand Name

Material-UI

### Official Resources for Icon and Color

svg: https://github.com/mui-org/material-ui/blob/master/docs/src/icons/SvgMuiLogo.tsx
color: `#007FFF`, from svg

### Additional Comments

Related blog post: https://mui.com/blog/material-ui-is-now-mui/

### Contributing

Yes

[2021-10-13 19:53] SimonGolms opened #6727 "Request: Create-React-App"
### Brand Name

Create React App

### Website

https://create-react-app.dev/

### Popularity Metric

- Alexa Rank: [18218](https://www.alexa.com/siteinfo/create-react-app.dev)
- GitHub Stars: [90.8k+](https://github.com/facebook/create-react-app)

### Official Resources for Icon and Color

svg: https://github.com/facebook/create-react-app/blob/main/docusaurus/website/static/img/logo.svg
color: `#0

[2021-10-13 20:11] jorgeamadosoria commented on #6715
I think we need a particular metric for Apache projects. I tend to include it, but that's just because I like the Apache Foundation in principle, so not really an objetive metric

[2021-10-14 07:01] ahnaf-zamil opened #6729 "Request: Apache Hadoop"
### Brand Name

Apache Hadoop

### Website

https://hadoop.apache.org/

### Popularity Metric

12k stars on GitHub: https://github.com/apache/hadoop

### Official Resources for Icon and Color

PNG: https://cdn.icon-icons.com/icons2/2699/PNG/512/apache_hadoop_logo_icon_169586.png
PNG: https://www.kindpng.com/picc/m/364-3642984_hadoop-logo-black-and-white-hadoop-icon-hd.png

Color: #FEEC4F

### Addi

[2021-10-14 13:24] #6729 closed

[2021-10-15 02:40] #6713 closed

[2021-10-15 14:35] dhruvkb opened #6731 "Request: Help Scout"
### Brand Name

Help Scout

### Website

https://www.helpscout.com

### Popularity Metric

The Alexa rank is 9,542. See https://www.alexa.com/siteinfo/helpscout.com

### Official Resources for Icon and Color

- [Brand assets](https://style.helpscout.com/resources/)
- Primary color: Blue (`#1292ee`) from the logo

### Additional Comments

_No response_

### Contributing

No

[2021-10-15 20:11] #6614 closed, assigned to nobody

[2021-10-15 20:21] #6358 closed

[2021-10-15 20:22] #5992 closed

[2021-10-15 21:59] yerimoh opened #6733 "Request: please make this icon"
### Brand Name

tesseract

### Website

https://github.com/madmaze/pytesseract

### Popularity Metric

https://github.com/madmaze

### Official Resources for Icon and Color

"None"

### Additional Comments

_No response_

### Contributing

NO

[2021-10-16 05:14] adsingh14 commented on #6733
Can you please change the issue title with Icon.

For reference, have a look at other issue titles.

[2021-10-16 06:29] #6127 closed

[2021-10-16 14:52] jorgeamadosoria commented on #6733
@yerimoh thank you for your interest!
However, the popularity metric for Github repos is to have a minimum of 5k starts, and pytesseract has, at this time, 3.8k only.

As it stands, the brand does not meet the popularity requirements necessary for inclusion.

[2021-10-16 15:36] anishwar-007 commented on #5587
@PeterShaggyNoble I am a little new in open source, so i wanted to ask that if we just have to add the icon or do we have to make some changes in it?

[2021-10-16 19:33] #6733 closed

[2021-10-16 21:55] ColtonMumley commented on #6723
Can I take this one?

[2021-10-16 22:29] ColtonMumley commented on #6721
I can take this one

[2021-10-16 23:34] Tmpod opened #6735 "Request: Lemmy"
### Brand Name

Lemmy

### Website

https://join-lemmy.org

### Popularity Metric

At the time of writing this, the main [Lemmy server](https://github.com/LemmyNet/lemmy) repository has 5411 stars.

![image](https://user-images.githubusercontent.com/35771816/137604527-08d8a2c5-21e6-4ab5-82f9-302efe68f3ba.png)

### Official Resources for Icon and Color

https://github.com/LemmyNet/lemmy-ui/tree/mai

[2021-10-17 00:40] sachinraja commented on #6735
Title should include brand name to avoid being marked as duplicate

[2021-10-17 03:32] Asmit2952 commented on #6721
I'm working on it already. Please find another issue.

[2021-10-17 11:52] Tmpod commented on #6735
Oops missed that completely. Thanks for the heads up!

[2021-10-17 14:12] harjotlucky commented on #6735
I'm working on it.

[2021-10-17 14:51] sachinraja commented on #6735
Great, I'll assign it to you @harjotlucky

[2021-10-17 17:39] harjotlucky commented on #6731
I'm working on it.

[2021-10-17 17:53] SimonGolms opened #6739 "Request: commitlint icon"
### Brand Name

commitlint

### Website

https://commitlint.js.org

### Popularity Metric

Alexa: [2 053 680](https://www.alexa.com/siteinfo/commitlint.js.org)
GitHub: [9.4k](https://github.com/conventional-changelog/commitlint)

### Official Resources for Icon and Color

svg: https://github.com/conventional-changelog/commitlint/blob/master/docs/assets/icon.svg
color. `#000000`, from the svg backg

[2021-10-17 18:02] SimonGolms opened #6740 "Request: i18next icon"
### Brand Name

i18next

### Website

https://www.i18next.com/

### Popularity Metric

Alexa: [107,693](https://www.alexa.com/siteinfo/i18next.com)
GitHub: [5,9k (i18next)](https://github.com/i18next/i18next) + [6,8k (react-i18next)](https://github.com/i18next/react-i18next)

### Official Resources for Icon and Color

svg: https://github.com/i18next/i18next-gitbook/blob/master/assets/img/logo.svg

[2021-10-18 02:48] #6262 closed

[2021-10-18 14:12] adsingh14 opened #6744 "Request: Sony"
### Brand Name

Sony

### Website

https://www.sony.com

### Popularity Metric

Alexa Rank: 1,783

### Official Resources for Icon and Color

svg: https://www.sony.com/en/template/2020/en/img/logo.svg
color: #FFFFFF, from website header

### Additional Comments

Brand Guidelines: https://static.brandingstyleguides.com/2020/06/SONY.pdf

### Contributing

No

[2021-10-18 15:03] #6744 closed, assigned to nobody

[2021-10-18 17:31] service-paradis commented on #6651
If @adsingh14 did not start working on it, I think you can create a PR for this.

[2021-10-18 21:55] mrsagar105 opened #6751 "Request: 99designs"
### Brand Name

99designs

### Website

https://99designs.com/

### Popularity Metric

The Alexa Rank is 2071.

### Official Resources for Icon and Color

None

### Additional Comments

There are some variants of their logo. This is a very popular design platform. Please take this site into consideration as well. Thanks.

### Contributing

No

[2021-10-18 22:10] rosslh opened #6752 "Update: Swift icon and colour"
### Brand Name

Swift

### Official Resources for Icon and Color

https://developer.apple.com/swift/resources/

### Additional Comments

Color and icon are outdated

### Contributing

Yes

[2021-10-18 23:46] ronschaeffer opened #6754 "Request: LinkTap"
### Brand Name

LinkTap

### Website

https://www.link-tap.com/

### Popularity Metric

Alexa rank is 6,347,231. See https://www.alexa.com/siteinfo/link-tap.com

### Official Resources for Icon and Color

LinkTap provided me with this file on request:  https://1drv.ms/u/s!AtYGFztGDGYlj5g3LSjUiWrN9RyHuQ?e=oQZRE3

### Additional Comments

Popular with smarthome ethusiasts such as Home Assistant user

[2021-10-18 23:54] ronschaeffer opened #6755 "Request: Google Home"
### Brand Name

Google Home

### Website

https://play.google.com/store/apps/details?id=com.google.android.apps.chromecast.app

### Popularity Metric

"140 million by 2025" : I can't find app install numbers, but here are Google Home smart speaker sales (with forecast):  https://www.statista.com/statistics/1022722/worldwide-google-home-unit-shipment/

### Official Resources for Icon and Color

~Ca

[2021-10-19 00:03] #6727 closed, assigned to nobody

[2021-10-19 02:08] #6681 closed, assigned to nobody

[2021-10-19 07:20] aloisdg opened #6756 "Request: D-EDGE"
### Brand Name

D-EDGE

### Website

https://www.d-edge.com/

### Popularity Metric

This site ranks: 317,352 in global internet engagement.

D-EDGE is the European No1 and World No3 hotel distribution technology provider in hospitality. It combines the technical excellence of Availpro and the digital marketing expertise of Fastbooking, two of the largest independent hotel marketing technology com

[2021-10-19 13:04] #6754 closed, assigned to nobody

[2021-10-19 16:31] Asmit2952 commented on #6721
Yup, referred that, but it was a PNG image, so had to convert it into SVG first.

[2021-10-19 18:10] itzLBaandatube opened #6757 "Add discord.js badge"
Add djs badge
Infro
background Color :.0A0815
Logo : https://media.discordapp.net/attachments/892560168225759262/900077220926726144/20211019_194508.jpg