[2021-02-01 10:41] PeterShaggyNoble commented on #4898
Thanks for the request, @MoDev32. However "Core" was dropped from their branding in November with the release of `v5.0` and it is now simply known as ".NET", which is already included in our library. The continued inclusion of "Core" in the logo or icon is expressly forbidden on page 15 of their [brand guidelines](https://github.com/dotnet/brand/blob/master/dotnet-brand-guidelines.pdf).

We should

[2021-02-01 12:22] PeterShaggyNoble commented on #4900
Should it not simply be omitted if there are no guidelines?

[2021-02-01 12:27] PeterShaggyNoble commented on #4903
Thanks for the request, @AndrewDaGuy. However, this does not look like it would be popular enough for inclusion in our library with an Alexa rank of just [~2.3m](https://www.alexa.com/siteinfo/librewolf-community.gitlab.io) and only a handful of stars in Gitlab - our cut-off for GitHub projects, which would be relevant here, is 5k stars. Is there perhaps another metric we could use to assess its p

[2021-02-01 14:28] PeterShaggyNoble commented on #4493
All that's needed now, from anyone who can find or provide it, @sadabnepal, is an official source for us to use.

[2021-02-01 14:32] MoDev32 commented on #4898
Thank you for bringing those information. I know they have already dropped that, but i thought having the icon to be added as a stack experience is good, as developers won't drop it soon, but if they forbidden the use of the icon then it's ok to ignore it.
I'll open a new PR with the update request.
But as we speaking of .NET, can you add the .NET Framework? It's not abandoned tho

Thank you.

[2021-02-01 14:44] MoDev32 commented on #4898
I see that you have changed the title to be an update request. So there's no need to issue a new one. I will update the content to be a request of update as well.

[2021-02-01 15:15] MoDev32 commented on #4898
Opened a PR #4906

[2021-02-01 15:27] ericcornelissen commented on #4900
By being `undefined` I meant omitted 👍

[2021-02-01 16:52] #4883 closed

[2021-02-01 21:20] adamrusted commented on #3855
@fbernhart sorry - I've missed this comment. Will give it a look tomorrow morning - hopefully we can get this one merged!

[2021-02-02 13:55] #3494 closed

[2021-02-02 17:27] PeterShaggyNoble commented on #3950
Closing due to lack of activity.

[2021-02-02 17:27] #3950 closed

[2021-02-02 17:52] PeterShaggyNoble commented on #4298
Are you still planning on taking this one one, @jnutterdev?

[2021-02-02 17:52] PeterShaggyNoble commented on #4300
Are you still planning on taking this one on, @MArslanRiaz96?

[2021-02-02 17:59] PeterShaggyNoble commented on #4326
The Alexa rank on this is still declining, which, unfortunately, keeps it beyond the scope of our project. Closing this out for now but if it recovers in the future or somebody has an alternative metric we can use to assess its popularity we can revisit it.

[2021-02-02 17:59] #4326 closed

[2021-02-02 18:03] PeterShaggyNoble commented on #4419
Are you still planning on working on these, @JonasJason?

[2021-02-02 19:59] JonasJason commented on #4419
@PeterShaggyNoble Sorry for the disappearance! I don't have any plans to add those

[2021-02-02 20:54] #4898 closed

[2021-02-02 20:56] #3302 closed

[2021-02-02 21:07] adamrusted commented on #3855
How's this look @fbernhart @Lexikos?

![autohotkey](https://user-images.githubusercontent.com/1830867/106662754-b0c4f980-659a-11eb-9727-dd3f380d8ab0.png)

[2021-02-02 21:14] fbernhart commented on #3855
Looks great to me! 😊 What do you think @PeterShaggyNoble ?

[2021-02-02 21:21] bBSempai commented on #3855
Well I did what @PeterShaggyNoble asked including the hex:

![autohotkey](https://user-images.githubusercontent.com/64588227/106663712-1bd9f480-65ca-11eb-9550-fb9e2949041d.png)

Was going to put up a PR and upload this here and noticed @adamrusted put it here already😅

[2021-02-02 21:25] adamrusted commented on #3855
I've not put a PR together - happy for you to do it. I'll edit my original post to include the path, should that be chosen as the preferred one 👍🏻

[2021-02-02 21:43] bBSempai commented on #3855
Sure! I did it. Also edited my post and included the path.
Thankyou!

[2021-02-02 22:02] ericcornelissen commented on #4868
Cool @adamrusted :+1: Here are some suggestions:

- I would omit the discussion on trademark symbols, or, if you want to make the reader aware of the fact that we have policy on including/excluding trademark symbols, mention that and link to the relevant section in the Contributing Guidelines.
- Though the document is not very long, I think we should still consider adding a table of contents ([lik

[2021-02-02 23:29] #1531 closed

[2021-02-02 23:34] ericcornelissen commented on #1368
@PeterShaggyNoble any input from your side on this? I would love for us to update the image, especially with the redesign (see https://github.com/simple-icons/simple-icons-website/issues/21)

[2021-02-02 23:41] ericcornelissen commented on #1168
With https://github.com/simple-icons/simple-icons/issues/755 resolved, are there any opinions from the current @simple-icons/maintainers regarding this issue?

[2021-02-03 06:47] varghesejose2020 commented on #4259
https://mlh.io/

[2021-02-03 09:32] PeterShaggyNoble commented on #4898
.NET Framework also use just the ".NET" mark and the same purple colour so it would be a duplicate of our existing icon. We can look at adding it as an alias, though, when #4797 gets resolved.

[2021-02-03 09:50] PeterShaggyNoble commented on #1168
With our other recent discussions of legalities, I was actually thinking about this last night too and I think @cactysman's approach is a great start; we could add an optional new `license` entry to the JSON that takes a URL linking to the licensing info for that icon, which could then be used on the new website. In addition to this, we could add a note to `LICENSE.md` and/or the upcoming `DISCLAI

[2021-02-03 10:07] PeterShaggyNoble commented on #1368
Yep, gonna try to make some time for this this week, maybe even today. To summarise the feedback and make sure I have everything covered:

1. Remove the tagline
2. Reduce the size of our own icon
3. Increase the size and/or spacing of the icons to fill the space created by 1 & 2, removing icons if necessary
4. Generate the image randomly from a manual selection of our most popular & favourite icon

[2021-02-03 10:45] ericcornelissen commented on #1368
Sounds good @PeterShaggyNoble :+1: Definitely think 1-3 are the most important now so that we have something to replace the old image with, 4-5 are less important for now - we may even consider opening a new separate issue for that once 1-3 are done.

Regarding 4: this does highlight a problem with focussing on the "most popular" icons, which is that we don't really know that and, as you said, lis

[2021-02-03 11:35] AndrewDaGuy commented on #4903
Does a gitter page count? [gitter.im/librewolf-community/librewolf)](https://gitter.im/librewolf-community/librewolf)

[2021-02-03 11:45] ericcornelissen commented on #1168
As per the discussion, I would "prefer" having the name of the LICENSE (e.g. as a [SPDX license id](https://spdx.org/licenses/)) over having _just_ a URL. Though I get that the URL can be useful as well, e.g. to find potential updates to the license or to display it on the website. We can of course just provide both the name and URL in an object or array, as in:

[code]

I think going with the obj

[2021-02-03 11:50] ericcornelissen commented on #4868
As per [this comment](https://github.com/simple-icons/simple-icons/issues/1168#issuecomment-772378630): another thing that we should consider putting in the disclaimer is that our CC0-1.0 license does not apply to the logos included in the project and that logos may have their own license - and once https://github.com/simple-icons/simple-icons/issues/1168 is resolved, say that this info may be obt

[2021-02-03 12:06] ericcornelissen commented on #1950
Thanks for sharing @CreativeBulma, due to inactivity I will be closing this :slightly_smiling_face:

If you are able to convert this into a package and publish it (if you haven't already) we may be able to feature it as a [third-party extension](https://github.com/simple-icons/simple-icons#third-party-extensions).

[2021-02-03 12:06] #1950 closed

[2021-02-03 12:49] PeterShaggyNoble commented on #1368
I'm fine with completely random as well, but we should filter out any that don't work as icons (e.g., Elsevier) - I already have that in place, just need to populate the list.

Yup, I already have that in place as well. The warning was for if we were going to put together a list of icons to use manually.

Here's my next attempt, on a `48*48` grid. Don't know that I'm entirely happy with the paddin

[2021-02-03 12:54] ericcornelissen commented on #980
Perhaps a little bit premature, but I already have [a branch ready to remove the website from this repository](https://github.com/ericcornelissen/simple-icons/tree/remove-website).

However, there is one thing that I'm unsure of and it is [a15d06972b233c59780a93be9dd0b342469f420e](https://github.com/ericcornelissen/simple-icons/commit/a15d06972b233c59780a93be9dd0b342469f420e). I have never used Gi

[2021-02-03 12:59] ericcornelissen commented on #1368
That's a good point as well, though it pretty much has to be manual - we could possible infer this from the filesize :thinking:

Amazing! :tada:

(I assumed you didn't, as you should be able to use the same functionality if we work from a manually created list of allowed icons)

I think this works pretty nicely and I would be happy to use this as is. That said, I also feel like it can be made to l

[2021-02-03 15:00] Taucher2003 opened #4913 "Request: Jetbrains Rider"
**Brand Name:** Rider (made by Jetbrains)
**Website:** https://www.jetbrains.com/rider/
**Alexa rank:** 203.9 k (this is the rank from the jetbrains website)

**Official resources for icon and color:** https://www.jetbrains.com/rider/

As there are already IntelliJ IDEA, PhpStorm, WebStorm, PyCharm added to the list, I think the other programs could also be added. I wanted to request the Rider ico

[2021-02-03 15:14] PeterShaggyNoble commented on #4913
Duplicate of #3488

[2021-02-03 15:14] #4913 closed

[2021-02-03 15:37] Taucher2003 commented on #4913
whooops, didn't see that while looking through the other issues

[2021-02-03 16:26] #4826 closed

[2021-02-03 16:36] PeterShaggyNoble commented on #1368
It's a good starting point but not entirely accurate as, for example, it simply may not work at `48*48` because its lines are too thin. There are other factors too, though, as you can see from the first 6 icons in [this Pen](https://codepen.io/PeterShaggyNoble/full/ZEBbKpQ) - similar path lengths but only 3 of them are fully legible. I've set an initial threshold of 5000 in my generator script, wh

[2021-02-03 16:59] ericcornelissen commented on #4797
Based on some thinking and some internal discussion I want to bring up a few points. But first, let me just put a new example here to see where we are currently at:

[code]

First, regarding:

Just to clarify, @PeterShaggyNoble, you mean aliases have the same restriction as `"title"`s currently do?

Then, I have three more questions I think we need to tackle before we can implement this:

- Should

[2021-02-03 17:11] pachainti opened #4914 "protonVPN"
**Brand Name:** ProtonVPN
**Website:** https://protonvpn.com
**Alexa rank:** 7326
**Official resources for icon and color:** https://protonvpn.com/press

[2021-02-03 17:21] pachainti opened #4916 "e.foundation"
**Brand Name:** /e/ foundation
**Website:** https://e.foundation/
**Alexa rank:** 234135
**Official resources for icon and color:** https://e.foundation/wp-content/uploads/2019/12/e-logo.jpg https://en.wikipedia.org/wiki/File:E_Foundation_logo.png

[2021-02-03 17:26] sachinraja opened #4917 "Request: Phoenix Framework"
**Brand Name:** Phoenix Framework
**Website:**
  * https://www.phoenixframework.org/
  * https://github.com/phoenixframework/phoenix

**Alexa rank:** [182,198](https://www.alexa.com/siteinfo/phoenixframework.org)
**GitHub stars**: 16.2k

**Color**: `#f35424` - [From the phoenix repository colored image](https://github.com/phoenixframework/phoenix/blob/master/priv/static/phoenix.png)
**Official res

[2021-02-03 17:37] ericcornelissen commented on #2260
With potentially more collision problems in light of #4797, I think we should come to a conclusion here. So, here's my take:

"Unfortunately" (from my perspective) #3769 has been merged, so at least for the duration of v4.x.x releases we cannot use underscores in custom slugs to guarentee their uniqueness w.r.t. [automatically generated slugs](https://github.com/simple-icons/simple-icons/blob/ac63

[2021-02-03 18:01] PeterShaggyNoble commented on #4797
No, that was referring specifically to not allowing characters from different alphabets in the main `title` entry. We'll need to allow those for aliases, most specifically the `loc` ones.

Yes, great idea including the language in the `loc` objects. That makes them much easier to reference for non-native speakers and also means that any change to the alias (e.g., to correct a typo or because a com

[2021-02-03 18:15] service-paradis commented on #4797
Just want to chime in about this. It would be more flexible to accept IETF language tag (ex. en-US, fr-CA, ...). I'm in Québec, Canada. It is the only province with french as primary language. There are a a lot of particularity here that differs from the rest of the Canada. Date format, brand name, etc. We're often different from other french places too (we're very ~over~protective of our language

[2021-02-03 18:32] PeterShaggyNoble commented on #4797
Good shout, @service-paradis; I agree. This would also cover cases where a brand has to go by a different name for legal/trademark reasons in a country with the same language such as "Burger King" being "Hungry Jack's" in Australia.

[2021-02-03 19:15] ericcornelissen commented on #4900
Small remark I want to add here: this would require us to update the [DefinitelyTyped types for simple-icons](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/simple-icons).

[2021-02-03 20:37] liaprins-czi opened #4919 "image.sc icon request"
**Brand Name:** Image.sc
**Website:** https://forum.image.sc/
**Alexa rank:** https://www.alexa.com/siteinfo/image.sc

**Official resources for icon and color:** Unknown

[2021-02-03 21:16] ericcornelissen commented on #4797
Ah okay, thanks for the clarification. So the title stays as it is (Latin symbols, their accented variants, and (some) punctuation only) and allow localisations to be in "any" alphabet - probably limited to either UTF-X or Unicode.

You're right, I somehow mixed up `"guidelines"` and `"source"` :sweat_smile:

On the one hand I would be inclined to allow aliases of the type `"loc"`, `"aka"`, and `"

[2021-02-03 21:22] ericcornelissen commented on #1368
Thanks for investigating, was afraid it was not going to be perfect, but it does at least exclude icons that are simply too complex. It seems another important factor for legibility is "the aspect ratio" of the path - e.g. some wordmark-based logos are very wide and not very high so their aspect ratio might be 3:1 or even 4:1 (based on guessing). You should be able to filter based on this aspect o

[2021-02-03 22:12] jlnrrg commented on #1540
@ericcornelissen

The package @NikSWE published was not updated in a long time, thus leaving a lot of the simple-icons unavailable for the flutter community.
I took matters in my own hand and published a new [package](https://pub.dev/packages/simple_icons) which is based on @NikSWE approach, but with CI.

To prevent another case from happening, where the developer is unavailable for month leaving

[2021-02-03 22:44] ericcornelissen commented on #1540
Great to hear @jlnrrg, let's figure out the details of the automation in the simple-icons-font thread.

Given your comment, could you open a PR to this repository to update [the link and text for the third-party flutter extension in the README](https://github.com/simple-icons/simple-icons#flutter)?

[2021-02-03 22:45] jlnrrg opened #4923 "KakaoTalk"
**Brand Name:** KakaoTalk
**Website:** [https://www.kakaocorp.com/service/KakaoTalk?lang=en](https://www.kakaocorp.com/service/KakaoTalk?lang=en)
**Alexa rank:** hard to evaluate, as their domain belongs to the kakao brand (which would rank [13,761](https://www.alexa.com/siteinfo/kakaocorp.com))

**Official resources for icon and color:**
I found no official media kit on their website, but [wikime

[2021-02-03 22:52] jlnrrg opened #4924 "Dgraph"
**Brand Name:** Dgraph
**Website:** [https://dgraph.io/](https://dgraph.io/)
**Alexa rank:** [147,042](https://www.alexa.com/siteinfo/dgraph.io)

**Official resources for icon and color:**
I found no official entry, but submitted a [request](https://discuss.dgraph.io/t/brand-simple-icons-submission/12248) in their forum.
The logo can be found in [wikipedia](https://en.wikipedia.org/wiki/File:Dgrap

[2021-02-03 22:57] jlnrrg commented on #1540
@ericcornelissen
I will do so.
Should I mark the existing package as outdated, leave it as is, or delete it?

[2021-02-03 23:39] ericcornelissen commented on #1540
I would say you can replace the existing project link and "creator" link by your project and a link to your GitHub page/website/social media account.

[2021-02-04 05:45] ronaldvandervegt opened #4926 "Picnic"
**Brand Name: Picnic
**Website: https://picnic.app/nl/
**Alexa rank: 396,210

**Official resources for icon and color:**
  The SVG logo file can be retrieved from the site https://picnic.app/, by saving the logo from the left top.
  Direct link: https://picnic.app/nl/wp-content/uploads/sites/2/2020/11/logo.svg

[2021-02-04 05:49] Riverlance opened #4927 "Add Git Extensions icon"
**Brand Name:** Git Extensions
**Website:** http://gitextensions.github.io/ and https://github.com/gitextensions/gitextensions
**Alexa rank:** https://www.alexa.com/siteinfo/gitextensions.github.io

**Official resources for icon and color:** ![](https://avatars.githubusercontent.com/u/1700077?s=400&v=4)

[2021-02-04 08:48] mondeja opened #4928 "Black"
**Brand Name:** Black
**Website:** N/A
**Alexa rank:** N/A ([19,4K Github stars](https://github.com/psf/black))

**Official resources for icon and color:** Color `#000000`. I haven't found any vector version, only [raster images with great quality](https://github.com/psf/black/blob/master/docs/_static/logo2.png) in their [documentation directory](https://github.com/psf/black/tree/master/docs/_stat

[2021-02-04 09:04] PeterShaggyNoble commented on #4914
Thanks for the request, @pachainti.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself?

[2021-02-04 09:09] PeterShaggyNoble commented on #4916
Thanks for the request, @pachainti.

Note that [their media page](https://e.foundation/media-inquiries/) claims that there is a press kit "Coming Soon" so I'm going to label this as pending for now so we can monitor that to see if they publish it and if it includes vector artwork.

[2021-02-04 09:14] PeterShaggyNoble commented on #4919
Thanks for the request, @liaprins-czi.

I couldn't find a vector version of their logo either so looks like this one will need to be recreated from a raster file.

[2021-02-04 09:26] PeterShaggyNoble commented on #4923
Thanks for the request, @jlnrrg.

With 100m+ downloads on [Google Play](https://play.google.com/store/apps/details?id=com.kakao.talk&hl=en), I think we can say this one is popular enough for inclusion. There's an SVG available [here](https://commons.wikimedia.org/wiki/File:KakaoTalk_logo.svg) if you'd you like to have a read through [our contributing guidelines](https://github.com/simple-icons/sim

[2021-02-04 09:30] jlnrrg commented on #4923
As I am new to svg icon extraction, I would be happy if someone else would take on that task.
Otherwise I'll do so, but it might take me a while.

[2021-02-04 09:30] PeterShaggyNoble commented on #4924
Thanks for the request, @jlnrrg.

[This SVG](https://dgraph.io/assets/images/logo.svg) is available in the header of their website if you'd you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself. We should first wait, though, to see if there is a response to your post in their forum, in case

[2021-02-04 09:31] xtlmnz commented on #4914
Hey Peter i have created a pull request for the issue please check.
#4929

[2021-02-04 09:33] PeterShaggyNoble commented on #4926
Thanks for the request, @ronaldvandervegt.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself?

[2021-02-04 09:37] PeterShaggyNoble commented on #4927
Thanks for the request, @Riverlance.

Note that, while on Alexa rank alone this would be outside our scope, its 5.4k stars on GitHub indicate that its popular enough for us to add.

For anyone looking to take this on, there are some SVGs available in [this GitHub directory](https://github.com/gitextensions/gitextensions/tree/master/Logo). When converting it to monochrome, we may need to add a cut-

[2021-02-04 10:37] jlnrrg commented on #4923
I had an urge to try it myself nevertheless.
This is my result: [weTransfer](https://we.tl/t-s3e4KQq42e)

I am noticed that the svg has one attribute fill="none". Which on deletion changes the svg significantly.

[2021-02-04 10:50] jlnrrg commented on #4924
I created the svg accordingly. And now there is just to wait for a response.
[weTransfer](https://we.tl/t-VHq9ool45O)

[2021-02-04 12:03] PeterShaggyNoble commented on #4903
Thanks for the reply, @AndrewDaGuy. Unfortunately, there being only 67 people in that community doesn't speak to its popularity so we're going to have to say this is out of the scope of this project. If its Alexa rank ever improves or anyone can come up with an alternative metric we can measure its popularity by then we can revisit this issue.

[2021-02-04 12:20] AndrewDaGuy commented on #4903
@PeterShaggyNoble sure, thanks for the response.  \ (•◡•) /

[2021-02-04 12:48] marcoXbresciani opened #4932 "Mercurial SCM"
**Brand Name:** Mercurial
**Website:** https://www.mercurial-scm.org/
**Alexa rank:** https://www.alexa.com/siteinfo/mercurial-scm.org

**Official resources for icon and color:**
* https://www.mercurial-scm.org/hg-logo/logo-droplets.svg
  ![Droplets](https://www.mercurial-scm.org/hg-logo/logo-droplets.svg)
* https://www.mercurial-scm.org/hg-logo/logo-hg.svg
  ![Logo](https://www.mercurial-scm.org/

[2021-02-04 12:55] PeterShaggyNoble commented on #1368
Stop reading my mind! Stuck this on my to-do list last night and, less than an hour later, your notification pops up!

Ah, they recommend padding of 40px around the edges. I'll undo the update I made to the spacing between icons and reduce it further, if necessary.

[2021-02-04 14:43] hasthamalp commented on #4259
@adityaoberai  please  look  https://github.com/simple-icons/simple-icons/pull/4915#issuecomment-773237788

[2021-02-04 15:13] xCloudzx opened #4933 "Fix potentially confusing documentation"
I was trying to find how to import only one icon at a time and came across this line:
`const icon = require('simple-icons/icons/simpleicons');`

This is a bit confusing to read for the first time. Both `simple-icons` and `simpleicons` represent this repository and can be easily mistaken for other files, not icons. `simpleicons` is also plural, so it could be misinterpreted as a folder. I realize t

[2021-02-04 15:18] service-paradis opened #4934 "SVG.js"
![image](https://user-images.githubusercontent.com/12817388/106913732-5038d800-66d2-11eb-9a10-af1f7352b9af.png)

**Brand Name:** SVG.js
**Website:** https://svgjs.com/ and https://github.com/svgdotjs/svg.js
**Similarweb rank:** [2,270,762](https://www.similarweb.com/website/svgjs.dev/#overview)
**Github stars:** [10.4k](https://github.com/svgdotjs/svg.js)

**Official resources for icon and color:*

[2021-02-04 16:10] PeterShaggyNoble commented on #1368
I've reduced the spacing between icons back to `48px` which gives us padding of `51px` top & bottom and `48px` left & right, which satisfies GitHub requirements. I've also filtered by aspect ratio, too so I now have the following initial filters:
1. luminance (`red*.299+green*.587+blue*.114`) >=96
2. path length <=5000
3. aspect ratio <=3:1

which leaves us with 877 possible icons from the current

[2021-02-04 16:24] PeterShaggyNoble opened #4936 "On Removing Hyphens & Symbols from File Names"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [x] The Packagist Package

### Description
This issue is a follow-up to @ericcornelissen's [comment](https://github.com/simple-icons/simple-icons/issues/2260#issuecomment-772689951) below:

With the addition of `slug`s in #4918 we could now, conceivably, remove `-`s from fi

[2021-02-04 16:35] PeterShaggyNoble commented on #1168
Agreed, that way the URL could be optional.

Also agreed, but if the brand's website doesn't include the license text then we should link to the license itself.

See the following repos:
- https://github.com/spdx/license-list-XML
- https://github.com/spdx/tools
- https://github.com/spdx/license-list-data

I think we'll need to, yeah.

[2021-02-04 17:10] PeterShaggyNoble commented on #1368
I've got this up & running in [a repo](https://petershaggynoble.github.io/simple-icons-open-graph/) now; I'd been focussing on the design mostly so the code needs a wee bit of work, not least pulling in our library dynamically - someone'll need to show me how to pull it in as a dependency 'cause I don't have the first clue!

[2021-02-04 17:42] fbernhart commented on #4934
😂😂😂 Oh, the irony!

[2021-02-04 17:51] ericcornelissen commented on #1168
These two comments seem to contradict eachother :confused: I don't think we should link to a generic link text as 1) it creates duplication and 2) I don't know how it is useful for users of the data file. If you were thinking of providing a link to a generic copy of the license on e.g. the website then I think that should be handled there.

Thanks for the pointers, though my main concern was if ou

[2021-02-04 18:13] ericcornelissen commented on #4936
Thanks for converting this into an issue @PeterShaggyNoble :+1:

Just to clarify the issue a bit. Do we want to remove all  `-`s from all automatically created slugs, including [those like `-dot-` and `-and-`](https://github.com/simple-icons/simple-icons/blob/e8ba23c0e3a888878cce72741caf817ef279ba55/scripts/utils.js#L9-L14), or just those that appear in the brand name? Here's my take:

Removing hy

[2021-02-04 20:15] mondeja commented on #4933
I think that we can go with any open source brand. What about using `shields.io`?

[code]

Maybe including the extension or is too ugly?

[code]

[2021-02-04 20:30] xCloudzx commented on #4933
I think `shields.io` is a good pick as it also shows the special case of replacing `.` with `dot`. I don't think the extension should be used as that isn't how it would normally be imported.

[2021-02-04 21:04] PeterShaggyNoble commented on #4933
Given #4936, `shields-dot-io` may not be the best choice at the moment. I'd suggest using either `github` or `npm` instead.

[2021-02-04 21:34] bBSempai commented on #3955
@PeterShaggyNoble should this work?? I personally know as being an Indian (lol) and you sending the SVG the official logo is the wordmark so here I have created it manually.

![amul](https://user-images.githubusercontent.com/64588227/106956900-4b6d3600-675d-11eb-9c65-cdf898650640.png)

I chose #ED1C24 as that is the color on the main text in the color logo and mostly associated with the company.

[2021-02-04 22:27] mondeja commented on #4933
I agree, but are not `npm` or `github` still being too meta as the documentation can be read from both sites?

[2021-02-04 22:45] xCloudzx commented on #4933
I was thinking the same. Perhaps `Jekyll` or `Babel`?

[2021-02-05 00:15] Atulin commented on #4835
🎉🎉🎉
https://gofile.io/d/faSkIF

[2021-02-05 12:55] #4490 closed

[2021-02-05 12:55] #4491 closed

[2021-02-05 13:31] service-paradis opened #4937 "Update Strapi icon"
![image](https://user-images.githubusercontent.com/12817388/107039858-6dca7800-678c-11eb-8ab2-8e7051f34f12.png)

**Brand Name:** [Strapi](https://strapi.io/)
**Official resources for icon and color:**

- https://strapi.io/newsroom
- https://www.notion.so/Media-Kit-2e389f6d82624cf29fee9c5223defab9
- Color :
  - `#2f2e8b` (name in logo and font color)
  - Other shade of purple found in the logo and

[2021-02-05 13:39] service-paradis opened #4938 "Update LinkedIn icon color?"
Looks like LinkedIn updated their logo color in 2019.

**Brand Name:** LinkedIn
**Official resources for icon and color:**

- https://brand.linkedin.com/downloads
- Color found in the logo: `#0a66c2`
- Colors found on their website: `#0073b1`

[2021-02-05 20:13] xtlmnz commented on #4938
Hey I have updated the colour for the icon. Please review the pull request

[2021-02-05 20:15] xtlmnz commented on #4937
Hey for the colour selection which should I choose

#2f2e8b
#8c4bff
#8e75ff

[2021-02-05 21:59] Simolation opened #4940 "Request: Grammarly"
**Brand Name:** Grammarly
**Website:** https://grammarly.com/
**Alexa rank:** 138

**Official resources for icon and color:**
https://www.grammarly.com/media-assets

[2021-02-05 22:09] Simolation opened #4941 "Request: Enpass"
**Brand Name:** Enpass
**Website:** https://www.enpass.io/
**Alexa rank:** 94.719

**Official resources for icon and color:**
https://www.enpass.io/
Logo in the upper left as inline svg

[2021-02-06 14:02] theDavidBarton opened #4942 "Request: AOL"
**Brand Name:** AOL
**Website:** https://www.aol.com/
**Alexa rank:** [326](https://www.alexa.com/siteinfo/aol.com) _(Retrieved on: 2/6/2021, 2:33PM)_

**Official resources for icon and color:**

- primary color: `#3399FF`
- secondary color: `#000000`

_(Source: [styleguide.aol.com](https://styleguide.aol.com/#color-section))_

- [logo SVG](https://s.yimg.com/cv/apiv2/default/20190830/aol-logo.svg

[2021-02-06 16:11] Nathan13888 opened #4943 "Request: Artix Linux Icon"
**Brand Name:** Artix Linux
**Website:** https://artixlinux.org
**Alexa rank:** 243,765 (https://www.alexa.com/siteinfo/artixlinux.org)

If there is Arch Linux, there should be Artix Linux.

**Official resources for icon and color:** https://artixlinux.org/img/artix-logo.png

[2021-02-06 18:57] service-paradis commented on #4940
Thanks for the request, @Simolation!

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-06 18:58] service-paradis commented on #4941
Thanks for the request, @Simolation!

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-06 21:20] ericcornelissen opened #4946 "Document what the slug of a brand is"
### Kind of issue
  - [ ] Improvement
  - [ ] Bug
  - [x] Other, namely: Documentation

### This issue concerns
  - [x] The NPM Package
  - [x] The Packagist Package
  - [x] The CDN usage

### Description

Currently it is pretty hard to find out what the slug (i.e. the SVG filename among other things) of a brand is given the title - and issues such as #2260, #4918, #4921, and #4936 won't make it a

[2021-02-06 21:21] ericcornelissen commented on #4933
@xCloudzx, what do you think about the documentation for [CDN usage](https://github.com/simple-icons/simple-icons#cdn-usage)? We could use a similar style for NodeJS.

I think we should figure out a way to properly document how titles are converted into filenames (or _slug_s as we call them) anyway. I opened #4946 to start the discussion on this :slightly_smiling_face:

[2021-02-06 22:06] xCloudzx commented on #4933
Yeah the CDN docs look good to me. It clearly articulates exactly where to put the icon's name alongside an example.

[2021-02-06 22:42] mondeja commented on #4943
[Here is](file:///C:/Users/monde/Desktop/Vertical_BW.svg) a black/white vectorized version and [here are](https://gitea.artixlinux.org/artix/artwork/src/branch/master/logo) their complete artwork with all the versions of their logo. The color seems to me that should be `#10A0CC`, extracted from the colorfull version.

[2021-02-07 03:18] Nathan13888 commented on #4943
Hey, thanks for the findings!

Ideally, I won't have to do this (as I have no clue) but I'll take a look at the guide and see what I could do.

[2021-02-07 13:45] theDavidBarton commented on #4789
I've found a non-official (not too high quality/not optimized) vector logo of Puppeteer that may help to recreate the icon: https://seeklogo.com/vector-logo/354674/puppeteer

**Colors:** `#01d8a2`, `#dfdedf`, `#ffffff`, `#000000`
**Font family:** ['Google Sans'](https://www.typewolf.com/google-sans)

[2021-02-08 06:53] varghesejose2020 opened #4949 "Request: CodeNewbie Icon"
**Brand Name:** CodeNewbie
**Website:** https://www.codenewbie.org/
**Alexa rank:** 321,172

**Official resources for icon and color:** https://s3.amazonaws.com/codenewbie-assets/codenewbie+hashtag+logo.p

[2021-02-08 07:02] yoel0 commented on #4789
That's awesome David! Thank you.

[2021-02-08 13:19] CxRes opened #4951 "open-source-initiative icon fill"
OSI has very specific [instructions](https://opensource.org/logo-usage-guidelines) on how their logo is rendered.

Currently, when I use the open-source-initiative icon (with shields.io), I only get a green border and that is the only color I can change. This is not ideal as it does not meet the requirements above (particularly 2.1). Ideally icon should at the very least be filled as the backgroun

[2021-02-08 13:25] adamrusted commented on #4951
Unfortunately, given there is a monochrome treatment given in the guidelines, we're unlikely to be able to offer the 'fill colour' treatment you mention above, as providing a proper monochrome icon with the fill selected would directly contradict their guidelines. Happy for another @simple-icons/maintainers to say otherwise though.

[2021-02-08 14:00] ericcornelissen commented on #4951
This relates to #1512, simply put so far we only provide monochrome versions of logos and, as @adamrusted points out, [the OSI instructions](https://opensource.org/logo-usage-guidelines) are also very specific about the monochrome treatment of the logo - though I personally agree that a filled monochrome version would make more sense :man_shrugging:

We could/should look into providing colored ico

[2021-02-08 14:24] PeterShaggyNoble commented on #4923
Would you like to open a PR for this, @jlnrrg, and we can review it properly there?

[2021-02-08 14:26] PeterShaggyNoble commented on #4924
If you open a PR for this one, too, @jlnrrg, we can review it properly there.

[2021-02-08 15:03] #4933 closed

[2021-02-08 15:24] PeterShaggyNoble commented on #4936
Agreed.

Next question, then, is: with the advent of the `slug`, do we start stripping `.`, `&` and `+` out completely? If we're making a special case for them then why not other characters, like `_`. Also, our handling of `+` is inconsistent with the other 2.

Maybe dropping them into subdirectories of the `icons` directory might be an idea, too, to reduce the potential for name clashes. E.G.:
-

[2021-02-08 15:27] PeterShaggyNoble commented on #4797
Coming back to this on a couple of points:

1. Contrary to what I said above, I do now think we _should_ allow `dup` entries if the `dup`'s title is contained entirely within the `title` of the parent icon to allow people to use the icon with the correct `<title>`.
2. I thought of one possible use case for allowing an optional `source` for `dup` entries; that being when the `hex` is different from

[2021-02-08 15:31] PeterShaggyNoble commented on #3955
Agreed on all fronts, @bBSempai - nice work. Although there are another few possible options for the red found on the website, but we can discuss that further in the PR if you'd like to open one?

[2021-02-08 15:34] PeterShaggyNoble commented on #4835
Nice one, @Atulin 👍🏻 Seeing as you've already put the work into sourcing this, would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this one on yourself?

[2021-02-08 15:45] PeterShaggyNoble commented on #4937
Another option, and the one I'd lean towards, would be `#1c1b7e` from their website stylesheet.

First, though, we need to figure out if they allow a monochrome treatment of their icon. Although they don't explicitly state it can't be done, they also don't seem to use or provide a possible treatment anywhere.

[2021-02-08 15:46] Atulin commented on #4835
Sure, I can give it a shot

[2021-02-08 15:48] PeterShaggyNoble commented on #4942
Thanks for the request, @theDavidBarton.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-02-08 15:48] ericcornelissen commented on #4936
For context, the reason for the replacement logic of `.`, `&` and `+`  is that they are usually included when you say the brand name as opposed to e.g. `_` and `!`. For example (I believe these are the original brands for the decision on each character):

- `.NET` is "dot-net", not "net"
- `AT&T` is "a-t-and-t", not "a-t-t"
- `Google+` is "googleplus" not "google" (I agree that it should be "googl

[2021-02-08 15:51] PeterShaggyNoble commented on #4936
Strangely, that's exactly how I read it! 😆 Although, that could well be to do with how focussed we've been on that darn `_` in relation to its slug!

[2021-02-08 15:56] ericcornelissen commented on #4797
Agreed, that makes sense - provided that we do plan to automatically generate the SVGs of duplicates (which I'm in favor of, e.g. following [your suggestion in a different thread](https://github.com/simple-icons/simple-icons/issues/4936#issuecomment-775225684)).

Good, i agree that that _could_ happen and so we should support it. Ideally, it would only be allowed if it is different from the parent

[2021-02-08 16:07] ericcornelissen commented on #4936
Admittedly (which is why I used presumable) I'm not familiar with the brand, but "pop-underscore-os" doesn't seem like a very nice name to me :sweat_smile:

[2021-02-08 16:13] PeterShaggyNoble commented on #4949
Thanks for the request, @varghesejose2020.

There's an SVG embedded in the header of https://community.codenewbie.org/ if you'd like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself.

[2021-02-08 16:16] PeterShaggyNoble commented on #4789
Thanks, @theDavidBarton. However, we currently only allow icons & logos from official sources as well as Wikipedia & Wikimeadia. The file you linked to, though, may give someone a good starting point which can then be compared to one of their raster files for any differences.

[2021-02-08 16:47] theDavidBarton commented on #4942
Sure @PeterShaggyNoble 👍

You can assign it to me, if I'd fail I will reach you out to delegate it to someone else. 😅 Anyway the guidelines look straightforward.

[2021-02-08 16:59] CxRes commented on #4951
Technically, monochrome icons here are using two colors once we consider the background and OSI instructions for outline icons are for "one ink" situations. I am alright with the suggestion for a filled monochrome version of this icon, which I think it is a better compromise than the outline icon.

However to be on the safe side, I have written to OSI for their input. I hope they reply soon!

@eri

[2021-02-08 17:12] PeterShaggyNoble commented on #4789
The [version](https://cdn.svgporn.com/logos/puppeteer.svg) available from [SVG Porn](https://svgporn.com/) may be a better starting point.

[2021-02-08 18:30] bBSempai commented on #3955
ofcourse!

[2021-02-08 21:33] bBSempai commented on #3955
@PeterShaggyNoble I opened the PR! Although I guess there are some problems associated with the icon check :(

[2021-02-08 22:45] theDavidBarton commented on #4789
I gave a try to re-create the logo based on the one you've linked @PeterShaggyNoble from [SVG Porn](https://cdn.svgporn.com/logos/puppeteer.svg). I removed the colors, made it monochromatic, optimized and did everything from the [checklist](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#5-check-the-icon).

Compared to the [super low-quality official logo](https://develop

[2021-02-09 11:41] jlnrrg commented on #1368
@PeterShaggyNoble great work with the graph image.
I was searching for exactly something like this for the [flutter package](https://pub.dev/packages/simple_icons) of simple icon.
As pub.dev has no dark mode I am aware of, I'd also argue for an additional light theme.
Furthermore I have the question if there is a persistent url, or api I can curl which hands the most recent image.

[2021-02-09 13:09] PeterShaggyNoble commented on #4789
Nice work, @theDavidBarton - that's definitely a great start 👍🏻

However, there are a few small differences when compared to the logo on their website, primarily around in the controls, that will need to be addressed.

![](https://user-images.githubusercontent.com/15157491/107368028-f1130300-6ad7-11eb-993a-eba1aa6a0c6e.png)

[2021-02-09 14:39] PeterShaggyNoble commented on #4273
So, even in the monochrome files, there's a path for each segment of colour with no base shape. `Union`ing them all results in this fun mess!

![](https://user-images.githubusercontent.com/15157491/107379117-85836280-6ae4-11eb-8c9f-ddfb3b53ed11.png)

[2021-02-09 16:06] PeterShaggyNoble commented on #1368
Here's one with a white background for you, @jlnrrg. When the new site is launched, our version will be available at https://simpleicons.org/images/og.png Alternatively, you could fork my repo and adjust the settings to suit your needs to build your own periodically (Note: it's still, somewhat, a work in progress, particularly the test suite.)

![](https://user-images.githubusercontent.com/1515749

[2021-02-09 17:22] PeterShaggyNoble commented on #2587
Next one: LOT ((Polish) Airlines)

We've 2 options here the full "LOT" wordmark from [their logo](https://do4r85wsrjs5z.cloudfront.net/mqbeucmeugenhj/img/logo_pl.svg) or just the plane in the thinner circle as seen in their favicon and the headers of [their in-flight magazine](https://d6u0ytoepgi6w.cloudfront.net/Kaleidoscope/Kaleidoscope-202102.pdf). I'd be in favour of the latter as it suits our

[2021-02-09 17:54] #4942 closed

[2021-02-09 18:01] PeterShaggyNoble commented on #4419
Thanks for the reply, @JonasJason 👍🏻

Can one of the other @simple-icons/maintainers have a read through [their brand page](https://www.yoyogames.com/legal/brand) to see if there's any way to interpret it that would allow us to use _just_ the icons, without the wordmarks. It doesn't look like it to me, unfortunately.

[2021-02-09 18:11] ericcornelissen commented on #4419
The only argument I can give for using just the icons is that isn't explicitly prohibited and both logos can be found without the text on their website.

I think the page is intended for game developers that should include these logos in their games, not for users like us... They do say:

Unless someone wants to contact them, I think we should err on the safe side and include the wordmarks.

[2021-02-09 20:30] theDavidBarton commented on #4789
I gave a 2nd try @PeterShaggyNoble. Does it worth a pull request or should I leave it to someone with more experience? (I do not deny I've enjoyed it, but it is painful at the same time 😅 )

Now it follows the original splotches more closely, I still don't feel it looks OK (or even worse than the first try).

[code]

![puppeteer-diff](https://user-images.githubusercontent.com/43063460/107423785-12

[2021-02-10 05:35] yoel0 commented on #4789
@theDavidBarton Looks real close, really appreciate the work put in.

[2021-02-10 09:23] PeterShaggyNoble commented on #4419
The line that leads me to believe the wordmarks must be included is from point B at the end of the page:

And, now that I read it again, I notice the also prohibit altering the colours which, unfortunately, would rule YoYo Games out completely as all versions of their logo use 2 colours.

[2021-02-10 10:51] ericcornelissen commented on #4419
You're talking about:

Where "not altered" suggest they cannot be changed, which you could argue is a bit ambiguous and can read as "don't alter the logo itself, but omit the text if you want, because that's what we do as well".

And where "not re-coloured" suggests we cannot recouler the YoYo Games logo (the GameMaker logo already being black). I agree with you on this one, except if we can find

[2021-02-10 10:56] #4259 closed

[2021-02-10 10:57] #1641 closed

[2021-02-10 11:19] PeterShaggyNoble commented on #4936
If we're rolling this into #4921, do you want to work on it, @ericcornelissen or shall I?

[2021-02-10 11:33] #4775 closed

[2021-02-10 11:43] PeterShaggyNoble commented on #4789
That's looking pretty good to me, @theDavidBarton 👍🏻 There are still a few minor differences and excess points but if you want to open a PR then one of the @simple-icons/maintainers who is more adept and the conversion & comparison of raster to vector should be able to help you clean it up a bit more.

[2021-02-10 12:52] ericcornelissen commented on #4936
Not sure if we should put in the same PR (mainly because #4921 can be made not breaking after #4918 is merged). I'd say we hold of on this until at least #4918 is merged. At that point I can look into opening a PR for this :+1:

[2021-02-10 15:17] vanessafsoares opened #4964 "Request: Browserstack"
**Brand Name:** Browserstack
**Website:** https://www.browserstack.com/
**Alexa rank:** [8.577](https://www.alexa.com/siteinfo/browserstack.com)

**Official resources for icon and color:**
https://3fxtqy18kygf3on3bu39kh93-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/browserstack.svg

[2021-02-10 15:19] PeterShaggyNoble commented on #4964
Duplicate of #4668

[2021-02-10 15:19] #4964 closed

[2021-02-10 16:19] Neo42 opened #4965 "Icon request for XState"
**Brand Name:** XState
**Website:** https://xstate.js.org/
**Alexa rank:** [328,744](https://www.alexa.com/siteinfo/xstate.js.org)

**Official resources for icon and color:** [Image kit on GitHub](https://github.com/davidkpiano/xstate/tree/master/docs/.vuepress/public)

[2021-02-10 16:41] PeterShaggyNoble commented on #4965
Thanks for the request, @Neo42.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/README.md) and take this on yourself, using the "X" in [this SVG](https://github.com/davidkpiano/xstate/blob/master/docs/.vuepress/public/logo.svg)? Not sure what to go with for the colour, though; the calculated midpoint of the gradient on

[2021-02-10 17:14] Neo42 commented on #4965
Sure, I'm on it. The dark color from their doc icon looks good. The hex value I got is different tho. Perhaps we picked from different places.

<img width="603" alt="截屏2021-02-11 上午1 03 53" src="https://user-images.githubusercontent.com/22409868/107544620-629c9f80-6c05-11eb-83f0-f2349e1d47d7.png">
<img width="842" alt="截屏2021-02-11 上午1 10 10" src="https://user-images.githubusercontent.com/22409868

[2021-02-10 17:24] PeterShaggyNoble commented on #4965
I grabbed the colour from the menu items, @Neo42.

[2021-02-10 19:07] adamrusted commented on #4934
Not able to test currently, as I'm away from my computer - but perhaps the HTM file [here](https://github.com/svgdotjs/svg.logo) may have a full SVG included?

[2021-02-10 19:09] adamrusted commented on #4937
At a glance, I'd just add lines between the different colour sections of 0.5pt, though obviously an official monochrome treatment would be preferred.

There's a couple icons mentioned recently that'd benefit from a having two colours, would it be worth us looking at the possibility of a `Simple Duotone Icons` sub-project?

[2021-02-10 19:40] caffeine-coder25 opened #4967 "Brand Name: Coding Ninjas"
**Brand Name:** Coding Ninjas
**Website:** https://www.codingninjas.com
**Alexa rank:** 15054
**Official resources for icon and colour:** https://www.codingninjas.com/assets-landing/images/CNLOGO.svg

[2021-02-10 20:18] PeterShaggyNoble commented on #4967
Thanks for the request, @caffeine-coder25 but could you complete the issue template, please?

[2021-02-10 20:56] litetex opened #4968 "Request: Vaadin"
**Brand Name:** Vaadin
**Website:** https://vaadin.com/
**Alexa rank:** [57,498](https://www.alexa.com/siteinfo/vaadin.com)
**Official resources for icon and color:** https://vaadin.com/trademark

[2021-02-10 22:06] service-paradis commented on #4934
Good catch!
Unfortunately, the logo found in it is not exactly the same:

Logo we want:
![image](https://user-images.githubusercontent.com/12817388/106913732-5038d800-66d2-11eb-9a10-af1f7352b9af.png)

Built SVG:
![image](https://user-images.githubusercontent.com/12817388/107578782-2dbb2900-6bc2-11eb-844c-e329ee9368a1.png)

[2021-02-11 08:54] adamrusted commented on #4934
Yeah, figured as much. Just saw that there were build options, and some plugins related to that repo, so thought it may have added the anchors to it 😅

[2021-02-11 09:41] PeterShaggyNoble commented on #4934
Given svgdotjs/svg.js#1125, that actually might be the case.

[2021-02-11 09:52] frenkert3243 opened #4974 "Fareharbor Icon"
Hi,

I use the WP plugin Popular Brand SVG Icons - Simple Icons. Thank you for the useful plugin.

I would like to request the icon of Fareharbor to be added to simple icons. See: https://fareharbor.com/

Kindest,
frenkert

[2021-02-11 09:54] PeterShaggyNoble commented on #4974
Thanks for the request, @frenkert3243. However, could you please add the issue template below back into your post and fill it out?

[code]

[2021-02-11 10:12] frenkert3243 commented on #4974
-->
**Brand Name: Fareharbor
**Website: https://fareharbor.com/
**Alexa rank: 19,413

**Official resources for icon and color: I can not access those official resources unfortunately.

[2021-02-11 10:26] PeterShaggyNoble commented on #4974
Thanks, @frenkert3243.

There's an SVG embedded in the sidebar of their website. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/README.md) and give this a try yourself?

[2021-02-11 10:29] PeterShaggyNoble commented on #4968
Thanks for the request, @litetex.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself?

Note for @simple-icons/maintainers: We won't be able to merge this until #4912 is resolved.

[2021-02-11 10:41] frenkert3243 commented on #4974
Hi,

thank you for your response.
To be honest, I just opened an account on Github in order to make this request. As well I had to look up what an SVG means. I have read the contributing guidelines, but I lack the skills to meaningfully and constructively participate. There are too many things mentioned that are new to me. So currently I can not try this myself, I am sorry.

Best,

[2021-02-11 10:46] AlexZeDim opened #4975 "Request: PM2"
**Brand Name:** PM2
**Website:** https://pm2.keymetrics.io
**Alexa rank:** 38,783
**GitHub ⭐:**  [34,2k](https://github.com/Unitech/pm2)

**Official resources for icon and color:**

**Color:** `#6901DF`

[2021-02-11 10:50] AlexZeDim commented on #4975
On my own behalf, pm2 is quite a popular process manager for node.js. As for the source icon and color, I have read [CONTRIBUTING.md](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and making a PR from my own fork with an `*.svg` logo. If it passes all the tests and reviews, I'll be glad to add more pull requests with icons for other `js` modules.

[2021-02-11 14:26] service-paradis opened #4978 "Add zeplin"
![image](https://user-images.githubusercontent.com/12817388/107648579-7fa79180-6c4a-11eb-8f7f-4cb5ccf885f2.png)

**Brand Name:** Zeplin
**Website:** https://zeplin.io/
**Alexa rank:** [~9k](https://www.alexa.com/siteinfo/zeplin.io)

**Official resources for icon and color:**

- SVG can be found in their [website header](https://zeplin.io/)
- I'm unsure if it would be possible to make a monochrome

[2021-02-11 14:38] caffeine-coder25 commented on #4967
Brand Name: Coding Ninjas
Website: https://www.codingninjas.com
Alexa rank: 15054
Official resources for icon and colour: https://www.codingninjas.com/assets-landing/images/CNLOGO.svg

[2021-02-11 14:39] caffeine-coder25 commented on #4967
Brand Name: Coding Ninjas
Website: https://www.codingninjas.com
Alexa rank: 15054
Official resources for icon and colour: https://www.codingninjas.com/assets-landing/images/CNLOGO.svg

[2021-02-11 17:35] PeterShaggyNoble commented on #4336
Need some feedback on this, not sure it works.

![](https://user-images.githubusercontent.com/15157491/107674951-742a8980-6c8f-11eb-87f5-b8678600a014.png)

[2021-02-11 21:34] Fuzzyma commented on #4934
Wow such a controversy over a logo 😂

Yes its true, the handles are generated and actually movable. If you want the svg code, you can just run it and copy the generated svg.

[2021-02-12 01:00] scottgit commented on #3334
@adamrusted Just curious if this is going to merge soon. Noticed it was due to close just over a month ago, but hasn't yet (and hasn't merged with the icons).

[2021-02-12 02:32] scottgit opened #4983 "Chaijs Icon"
**Brand Name:** Chai (or Chaijs, not sure which is more "official" for branding)
**Website:** https://www.chaijs.com/  (also https://github.com/chaijs/chai)
**Alexa rank:** 192,110 (GitHub stars > 7k)

**Official resources for icon and color:**  I'm not clear on which of these is the more official branding image. The first is taken from the website, the second from the GitHub ReadMe:

  ![Small Ch

[2021-02-12 09:49] #4938 closed

[2021-02-12 11:28] PeterShaggyNoble commented on #4465
Given the lack of a logo as well having no way to assess the popularity of the product and the lack of activity, I'm going to close this out as out of scope for now. @aduguid, if the company get back to you and you can come up with some metric we can measure the popularity with (e.g., Google Trends in comparison to a related brand that's already in our library) then please feel free to reopen this

[2021-02-12 11:28] #4465 closed

[2021-02-12 12:19] PeterShaggyNoble commented on #4497
There's some vector files available [here](https://www.interaction-design.org/about/press-kit) but the text is a mess in them all. The [website logo](https://public-media.interaction-design.org/images/idf-logo-full-expanded-hds.svg) uses actual `text` elements but it turns out Inkscape sucks at converting text to paths, resulting in the same mess of points so this will need someone with better too

[2021-02-12 12:36] PeterShaggyNoble commented on #4587
Are you still planning on taking this one on, @MaxWinterstein?

[2021-02-12 12:38] PeterShaggyNoble commented on #4600
Are you still planning to take this one on, @ishvaram?

[2021-02-12 12:39] ishvaram commented on #4600
Yes, sorry held up with other things. Will make PR

[2021-02-12 14:06] adamrusted commented on #3334
Hi @scottgit - thanks for checking in.
Though I generated the PR on the 30th December, it'll require another member of the @simple-icons/maintainers to review it, and then it'll get added to the public package on the next Sunday after the approval. We're working through quite a backlog at the moment, but I think we're hoping to clear a lot of the outstanding requests over this weekend.

[2021-02-12 14:33] adamrusted commented on #4934
Thanks for the clarification @Fuzzyma - having never used Bower myself, I don't seem to be able to get it working properly! Perhaps another @simple-icons/maintainers could look at it?

[2021-02-12 14:39] Fuzzyma commented on #4934
To be fair this repo is incredibly old. Bower is outdated, too. This repo was just for us to have the logo somewhere when we need it. I will upload an svg version  to the repo once I have a few minutes

[2021-02-12 14:40] adamrusted commented on #4934
Ah, fair enough. No rush on it though.

[2021-02-12 14:41] adamrusted commented on #4578
@PeterShaggyNoble, looks like Stellantis have made this CRAY easy for us, SVG files are included on the homepage, in the mega-menu. Will go through our existing entries, and see if they need updating.

[2021-02-12 14:51] PeterShaggyNoble commented on #4578
Wow! Why can't everything be that easy?! 🙂

And there's the elusive Lancia logo we could never find - Sweet!

[2021-02-12 14:55] adamrusted commented on #4578
I know right? There's an arguably better (larger) SVG on the per-brand page, so I'm linking to those in the ones I do.

[2021-02-12 14:57] PeterShaggyNoble commented on #4681
A vector version of this has finally been made available at https://www.stellantis.com/en/brands/lancia but its Alexa rank is even more dire now (~1.9m) than it was just a month ago so do we still want to add it?

[2021-02-12 15:08] MaxWinterstein commented on #4587
Yes. Currently, a little stuck as I am not happy how the pointy end out the tentacle turned out. But maybe this is just because of the size. Is there any restriction to that? Like 'must look good at 128x128'?

![image](https://user-images.githubusercontent.com/5927148/107785082-730b6200-6d4c-11eb-8d0d-0cc3d7f131a9.png)

[2021-02-12 15:15] adamrusted commented on #4681
Was just looking into the Alexa rank of this one. This and `Abarth` both have awful ranks. Abarth I can understand, at it looks like their cars are basically the `Fiat` bodies with a different brand attached. May be worth shelving them as 'out of scope', but knowing where to find them should they climb up in rankings and get requested again.

[2021-02-12 15:22] PeterShaggyNoble commented on #4633
In an effort to avoid adding the full wordmark, I took a stab at recreating the encircled "S" they use for their favicon and on Facebook. What do people think? Should we go with this or the wordmark?

![](https://user-images.githubusercontent.com/15157491/107786601-00978380-6d46-11eb-85e3-dbfceda0e51b.png)

[2021-02-12 15:33] service-paradis commented on #3432
More than a month later and it sits at ~150K. I think we can add this one!

[2021-02-12 15:56] EM-Creations opened #4992 "Request: Barclays icon"
**Brand Name:** Barclays
**Website:** https://home.barclays/
**Alexa rank:** 92,389

**Official resources for icon and color:** Not publically available but here's an SVG from Wikipedia: https://en.wikipedia.org/wiki/Barclays#/media/File:Barclays_logo.svg

[2021-02-12 15:59] PeterShaggyNoble commented on #4992
Thanks for the request, @EM-Creations 👍🏻

There's a base-64 encoded SVG in the CSS for the website's header (see below) we can use here. Suggested colour: `#00aeef` from the wordmark beside it.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-02-12 16:07] endermctv opened #4993 "Add Wappalyzer icon"
**Brand Name:** Wappalyzer
**Website:** https://www.wappalyzer.com/
**Alexa rank:** 9,985

**Official resources for icon and color:**
Color: `#32067c`
SVG:
[code]

[2021-02-12 16:10] PeterShaggyNoble commented on #4667
Closing due to lack of activity.

[2021-02-12 16:10] #4667 closed

[2021-02-12 16:12] #4681 closed

[2021-02-12 16:22] EM-Creations commented on #4992
I didn't realise you guys were open to community pull requests. What a great idea I'd love to try doing it myself thanks.

[2021-02-12 16:27] PeterShaggyNoble commented on #4763
Are you still working on this one, @JackDaoud?

[2021-02-12 18:38] JackDaoud commented on #4763
Yep @PeterShaggyNoble , been a bit busy but will get to this soon.

Forgot to reply @fbernhart but thank you for the detailed breakdown of how I can go about editing this icon. I'll look into it soon.

[2021-02-12 19:25] AlonsoSolano opened #5000 "Caffeine TV"
**Brand Name:** Caffeine.tv
**Website:** https://www.caffeine.tv/
**Alexa rank:** I don't know but this is the link: https://www.alexa.com/siteinfo/caffeine.tv

**Official resources for icon and color:** There's no link

[2021-02-12 19:54] fbernhart commented on #5000
@AlonsoSolano caffeine.tv ranks at 57,010. So it's within the scope of Simple Icons.

![20210212_205258.jpg](https://user-images.githubusercontent.com/70264417/107816062-77e40c00-6d74-11eb-9e97-8fd7b6b75176.jpg)

[2021-02-12 19:56] service-paradis commented on #4993
Thanks for the request @endermctv!

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-13 00:37] #3401 closed

[2021-02-13 08:11] polar-beer opened #5001 "PUBGm"
**Brand Name: PUBG mobile**
**Website: https://pubgmobile.jp/**
**Alexa rank: **

**Official resources for icon and color:**
https://www.pubgmobile.com/en/event/brandassets/

[2021-02-13 09:05] fbernhart commented on #5001
The Alexa rank is at [326,807](https://www.alexa.com/siteinfo/pubgmobile.jp), so it's within the scope of Simple Icons.

[2021-02-13 09:08] Karthik-Nayak98 commented on #4940
Can I contribute to this issue?

[2021-02-13 09:13] GitHiru commented on #5001
Thanks a lot!

[2021-02-13 13:06] fbernhart commented on #4940
@Karthik-Nayak98 For sure! Feel free to submit a pull request! 😊

[2021-02-13 14:08] litetex commented on #4968
@PeterShaggyNoble
Yes, i will try to import it

[2021-02-13 16:02] tassiaaccioly opened #5004 "Miro Icon"
**Brand Name:** Miro
**Website:** https://miro.com
**Alexa rank:** [889](https://www.alexa.com/siteinfo/miro.com)

**Official resources for icon and color:**
For the SVG Logo and color: https://www.figma.com/file/tKX3C0DfPuomCW2G4AX2mY/UI-Kit-for-external-teams?node-id=1%3A4

**Official logo colors removed from official figma file:**
Yellow: #FFD02F
Basic/Dark: #050038

**Complimentary Colors to t

[2021-02-13 16:48] JNuutinen opened #5010 "Request: Robot Framework icon"
**Brand Name:** Robot Framework
**Website:** https://robotframework.org
**Alexa rank:** 164,278

**Official resources for icon and color:**
https://github.com/robotframework/visual-identity/blob/master/logo/robot-framework.svg

[2021-02-13 16:55] adamrusted commented on #5010
Thanks for the request @JNuutinen! Would you be interested in contributing this icon yourself? If so, take a read of our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and let me know if you have any issues.

For the hex code, there's either `#01FFD9` (used on 'Remote Event' text) or `#00C0B5` used on the section just below. Not being familiar

[2021-02-13 17:22] JNuutinen commented on #5010
Sure, I can contribute this! I'll go through the contributing guidelines.
I think the correct color to use would be black (#000000), according to RFW's branding guidelines.

[2021-02-13 17:24] adamrusted commented on #5010
Ah, amazing. Hadn't spotted those!
In that case, could you link to [here](https://github.com/robotframework/visual-identity/blob/fadf8cda9f79ea31987a214f0047cca9626327b7/logo/robot-framework.svg) as the `source`, and [here](https://github.com/robotframework/visual-identity/blob/fadf8cda9f79ea31987a214f0047cca9626327b7/robot-framework-brand-guidelines.pdf) as the `guidelines` for the icon in the JS

[2021-02-13 17:29] JNuutinen commented on #5010
Will do 👍

[2021-02-13 19:00] jlnrrg opened #5018 "Contributing Guidelines for github beginners"
I noticed that people requesting new icons are encouraged to contribute themselves. Here the existing guidelines are already amazing help in the contributing process.

As I myself am quite new when it comes to contributing on foreign github repos, I had to deal with this entry barrier.
So I propose to add terminal git commands accordingly (maybe in a summary tag under the specific point).
I know a

[2021-02-13 19:37] jlnrrg opened #5019 "Brand icon history"
First and foremost I'd like to ask if simple-Icons aims to provide most recent brand icons or brand icons in general.
If the latter is the case, is there a way/ interest in contributing past brand icons?
eg. the gmail logo changed often already.

[2021-02-13 19:57] runxel commented on #5019
Hi @jlnrrg, thanks for your interest in Simple Icons.
We aim to provide the current icons of important brands.
I don't think anybody is interested in outdated logos, but of course everybody can just check the history of each icon in this repo – it's plain git after all.

Or do you rather mean icons of brands which no longer are operational, like e.g. Pam-Am?

[2021-02-13 21:39] jlnrrg commented on #5019
@runxel
I host the simple-Icon set for flutter, which directly build from this current build, where past Information is no longer available. So I could (in theory) imagine someone wanting to build an app where different Version of past Icons are listed.

Like:
gmail.svg
gmail-2012.svg
gmail-2010.svg

[2021-02-14 01:35] cyper85 opened #5021 "Fraunhofer-Gesellschaft"
**Brand Name:** Fraunhofer-Gesellschaft
**Website:** [fraunhofer.de](https://fraunhofer.de)
**Alexa rank:** [#59,300](https://www.alexa.com/siteinfo/fraunhofer.de)

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/Category:Logos_of_Fraunhofer_Society

[2021-02-14 02:00] cyper85 opened #5023 "Sparkasse"
**Brand Name:** Sparkasse
**Website:** [sparkasse.de](https://sparkasse.de)
**Alexa rank:** [#46,250](https://www.alexa.com/siteinfo/sparkasse.de)

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/Category:Sparkasse_in_Germany

[2021-02-14 02:40] cyper85 opened #5025 "Deutsche Bank"
**Brand Name:** Deutsche Bank
**Website:** [deutsche-bank.de](https://www.deutsche-bank.de)
**Alexa rank:** [#3862](https://www.alexa.com/siteinfo/deutsche-bank.de)

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/Category:Deutsche_Bank_logos

[2021-02-14 02:52] cyper85 opened #5027 "Commerzbank"
**Brand Name:** Commerzbank
**Website:** https://www.commerzbank.de/
**Alexa rank:** [#2,698](https://www.alexa.com/siteinfo/commerzbank.de)

**Official resources for icon and color:**
https://commons.wikimedia.org/wiki/Category:Commerzbank_logos

[2021-02-14 11:30] runxel commented on #5019
I can't really imagine any useful use case for that, but if you're interested in building something like that we encourage you to do so. If we see that there is real demand we might incorporate this project at some point, but I think right now we would have trouble to support this.

[2021-02-14 11:41] runxel commented on #5018
Hey @jlnrrg, thanks for your suggestion.
I agree it's quite hard to make good contribution guidelines, especially to get beginners onboard.
However you'll have to find the right balance, and personally I think it starts to go in the wrong direction if we add git commands.
It's neither helping nor of any use. It's actually contradicting! Why would novices start with the CLI?
Certainly they would us

[2021-02-14 13:29] Mostafa1999-byte opened #5030 "login"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-02-14 14:08] jlnrrg commented on #5019
@runxel ok, maybe my example was confusing, let me try again.
As simple-Icon is supported by [shields.io](https://shields.io/), i could want to specify the Excel Version i am familiar with in my github profile.

Implementation wise it would be more of a guidelines than anything else: everytime a brand is updated, the previous icon gets saved under a different name, thus the latest icon would be ex

[2021-02-14 14:12] jlnrrg commented on #5018
@runxel thanks for the reality check. I didn't think about non-Linux users.
Then a Screenshot Guide is what I would propose instead.

[2021-02-14 14:18] fbernhart commented on #5030
@Mostafa1999-byte Could you please fill out the needed information from the issue template? Otherwise your request won't be valid.

[2021-02-14 16:37] PeterShaggyNoble commented on #5019
Thanks for this suggestion, @jlnrrg. After an internal discussion with the rest of the team over the weekend, we all agree with @runxel that, in general, this isn't something we want to pursue. One major problem would be that we'd open ourselves up to more potential legal issues both from the company itself due to misrepresenting its brand by continuing to include their outdated branding in our li

[2021-02-14 17:15] jlnrrg commented on #5019
Thank you for discussing it. The legal side seems to indeed be a major point against it, but great to know that individual Version Brands can be supported (after consultation).

[2021-02-14 17:15] #5019 closed

[2021-02-14 17:15] PeterShaggyNoble commented on #4983
Thanks for the request, @scottgit. I think the "C" version from their website is the one we should go with. There's no vector version, though, that I can find on their website or in their GitHub org so we'll either need someone to recreate it or reach out to them to see if they can supply us with one. There _is_ [an SVG](https://bestofjs.org/projects/chai) available on [this page](https://bestofjs

[2021-02-14 17:48] EM-Creations commented on #4992
PR opened: https://github.com/simple-icons/simple-icons/pull/5031

[2021-02-14 17:56] majordomo-systems opened #5032 "Hasura"
Hasura

https://hasura.io/
RANK: 56,383
BRAND KIT: https://github.com/hasura/graphql-engine/tree/master/assets/brand

**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-02-14 20:26] service-paradis commented on #5032
Thanks for the request @majordomo-systems!

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-15 04:14] alagos opened #5034 "Request: Simkl icon"
**Brand Name:** Simkl
**Website:** https://simkl.com
**Alexa rank:** [#63903](https://www.alexa.com/siteinfo/simkl.com)

**Official resources for icon and color:**
https://us.simkl.in/img_favicon/v2/safari-pinned-tab.svg

[2021-02-15 07:09] ishvaram commented on #4600
https://github.com/simple-icons/simple-icons/pull/5035 added a PR, there are some unresolved issues. will check and update the same?
@PeterShaggyNoble can you also comment is something needs to be changed? especially SVG related attributes

[2021-02-15 11:12] PeterShaggyNoble commented on #3432
Agreed, @service-paradis. So next we need to decide what to use for the icon. I'd suggest the tree icon seen in their favicon and app icons but I've yet to find a vector version of it.

[2021-02-15 11:31] PeterShaggyNoble commented on #5000
Thanks for the request, @AlonsoSolano. From the brand guidelines available [here](https://www.caffeine.tv/newsroom.html) I suggest we use the SVG found in the footer of their website and `#0000ff` for the colour.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-02-15 12:07] PeterShaggyNoble commented on #5001
Thanks for the request, @GitHiru.

I've yet to find an official vector version for PUBG Mobile. There are some high quality raster files available [here](https://www.pubgmobile.com/en/event/brandassets/) but it's going to be tricky to recreate manually. It we don't need to distinguish between PUBG and the mobile version (I'm not a gamer so don't know what the distinction is) then there's an SVG of

[2021-02-15 12:22] PeterShaggyNoble commented on #5004
Thanks for the request, @tassiaaccioly. To save having to sign up for a Figma account, there is [an SVG](https://miro.com/static/images/layout/footer/mr-footer-1/footer-logo.svg) available in the footer of their website but I've included the markup for the 2 icons available through Figma below. I'd personally be more in favour of the unboxed version.

Would you like to have a read through [our con

[2021-02-15 13:04] PeterShaggyNoble commented on #5021
Thanks for all these, @cyper85 👍🏻 A note for the future, though: if you're contributing an icon yourself then you can go straight to PR without the need to create an issue for each one.

[2021-02-15 13:24] service-paradis commented on #5034
Thanks for the request @alagos!

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-15 13:38] service-paradis commented on #3432
I also agree that we should use the tree icon. Unfortunately, did not find any good vector version of it anywhere!
Only a PNG version:
https://www.twinkly.com/wp-content/uploads/2019/09/twinkly-icon.png

[2021-02-15 15:05] thisisjunsung opened #5036 "Hyper"
**Brand Name:** Hyper
**Website:** https://hyper.is/
**Alexa rank:**

**Official resources for icon and color:**

[2021-02-15 15:10] PeterShaggyNoble commented on #3276
Have you heard anything back from them yet, @Ryoga-exe?

[2021-02-15 15:47] Ryoga-exe commented on #3276
I'm still waiting.😥
However, it has been a while since I last contacted him, so I will try to contact him again.

[2021-02-15 16:11] PeterShaggyNoble commented on #3488
Are you still planning to take this one on, @Ayfri?

[2021-02-15 16:27] PeterShaggyNoble commented on #3514
Made a couple of attempts at it using our standard `0.5dp` cut-out; not too sure it works.

![](https://user-images.githubusercontent.com/15157491/107971461-67b57200-6faa-11eb-885a-f7924a4f71d6.png)
![](https://user-images.githubusercontent.com/15157491/107971648-a519ff80-6faa-11eb-8071-bbd4d489c569.png)

[2021-02-15 16:33] Ayfri commented on #3488
I'm pretty busy these times and adding an icon seems very long and complex, and it's not primordial for me to add it (using base64 is sufficient).
Sorry for not doing it ^^'

[2021-02-15 16:47] #3593 closed

[2021-02-15 16:54] inigochoa commented on #4273
Thanks for trying to create the icon @PeterShaggyNoble

I contacted Qwant for some assistance. I hope they respond soon

[2021-02-15 16:55] PeterShaggyNoble commented on #3488
No problem, @Ayfri; thanks for letting us know 🙂

[2021-02-15 17:12] max-programming commented on #3593
Thanks @adamalston

[2021-02-15 18:36] service-paradis commented on #5036
Thanks for the request @thisisjunsung!

This can be included with an Alexa rank of [~200k](https://www.alexa.com/siteinfo/hyper.is)

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-16 04:58] NiedsonEmanoel opened #5040 "Request: Mercado Pago"
**Brand Name:** Mercado Pago
**Website:** https://www.mercadopago.com.br
**Alexa rank:** [7,369](https://www.alexa.com/siteinfo/mercadopago.com.br)

**Official resources for icon and color:**

[2021-02-16 10:38] PeterShaggyNoble commented on #4967
Thanks for updating, @caffeine-coder25.

It looks like their icon is an angled version of the "C" from their logo, as seen in their [favicon](https://www.codingninjas.com/favicon.ico). I haven't been able to find a vector version of it yet but, if anyone wants to try to recreate it, there's a good quality PNG available in their media kit at the end of [this page](https://www.codingninjas.com/press

[2021-02-16 11:04] majordomo-systems commented on #5032
Yes, I would! Thanks!

[2021-02-16 12:44] PeterShaggyNoble commented on #5018
Thanks for the suggestion, @jlnrrg. However, I agree with @runxel that our contributing guidelines aren't really a place for a tutorial on how to use GitHub. I also think that adding CLI commands for each point would actually increase the barrier for entry for GitHub novices who may be put off by thinking the only way to use GitHub is through the command line.

At most, if anything, maybe we could

[2021-02-16 12:58] PeterShaggyNoble commented on #3432
Gave it a go myself and the result doesn't look to be too terrible but, given my poor track record at converting raster to vector, I could do with someone else throwing an eye over it before I start trying to clean it up and optimise it:
[code]
![](https://user-images.githubusercontent.com/15157491/108065937-9852e580-7056-11eb-94e4-6c3bb7bf3b80.png)

[2021-02-16 12:58] PeterShaggyNoble commented on #3276
Thanks, @Ryoga-exe; keep us posted.

[2021-02-16 12:59] PeterShaggyNoble commented on #4273
Thanks for that, @inigochoa; we appreciate it.

[2021-02-16 13:06] PeterShaggyNoble commented on #5040
Thanks for the request, @NiedsonEmanoel 👍🏻 There's an SVG embedded in the HTML of the header of [their developer site](https://www.mercadopago.com.br/developers/pt/guides) and, for the colour, I'd suggest the light blue from their website. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a t

[2021-02-16 14:13] NiedsonEmanoel commented on #5040
Yes! i will try do this.

[2021-02-16 14:19] PeterShaggyNoble commented on #5040
Looking forward to it, @NiedsonEmanoel. We'll leave the issue open for tracking purposes until the PR is merged, though.

[2021-02-16 16:48] #2511 closed

[2021-02-16 16:49] adamrusted commented on #2511
Closing as Out Of Scope (see discussion on PR)

[2021-02-16 16:50] service-paradis commented on #4791
Looks to be back online with the name [del.icio.us](https://del.icio.us/).

[2021-02-16 16:53] service-paradis commented on #4861
Look like there is a SVG version of the `I/O` icon in the header of https://webdriver.io/docs/api/

[2021-02-16 17:08] PeterShaggyNoble commented on #3588
OK, so, coming back to this one: are all @simple-icons/maintainers that, regardless of our (yet to be decided) policy on adult services, we're going to allow this one as it isn't intended or marketed as an adult service it merely allows it?

[2021-02-16 18:14] service-paradis commented on #3588
I agree to allow this one. It can be used for different purposes and have [strict rules against illegal services](https://onlyfans.com/terms). They allow adult services, but they barely mention it and I dont think they advertise it.

[2021-02-16 18:42] fbernhart commented on #5018
Agreeing with what @runxel has said.

[2021-02-17 00:11] sai-avula opened #5043 "F# (f-sharp) Programming Language Icon"
**Brand Name:** F# (f-sharp) Programming Language
**Website:** https://fsharp.org/
**Alexa rank:** 644,297

**Official resources for icon and color:**
Logo (_Light Background_) - https://fsharp.org/img/logo/fsharp256.png
Logo (_Dark Background_) - https://cdn.greatnonprofits.org/images/uploads/organizations/fsharp512.png

[2021-02-17 06:51] Karthik-Nayak98 commented on #4940
The logo should have both green background the white arrow right?

[2021-02-17 08:00] fbernhart commented on #4940
@Karthik-Nayak98 Yes

[2021-02-17 11:31] PeterShaggyNoble commented on #5043
Thanks for the request, @sai-avula

However, with an Alexa rank of [~666k](https://www.alexa.com/siteinfo/fsharp.org) and 2.2k stars for [their main GitHub repo](https://github.com/fsharp/fsharp) this, unfortunately, falls outside the scope of our project. Our cut-offs for considering a brand for inclusion are 500k & 5k, repsectively.

[2021-02-17 11:31] #5043 closed

[2021-02-17 14:01] Karthik-Nayak98 commented on #4205
Google pay icon is outdated. Please update the icon. Check their [website](https://pay.google.com/intl/en_in/about/)

[2021-02-17 14:18] service-paradis commented on #5034
For information, they have an official media kit linked in their website footer:
https://drive.google.com/drive/folders/0B-54ieAFggpUMmY5a195alFxSVE

[2021-02-17 15:30] iAnyKey opened #5049 "wenglor logo"
**Brand Name:** wenglor sensoric elektronische Geräte GmbH
**Website:** [www.wenglor.com](https://www.wenglor.com/de/)
**Alexa rank:** [1.2k](https://www.alexa.com/siteinfo/wenglor.com)

**Official resources for icon and color:**

[2021-02-17 15:32] PeterShaggyNoble commented on #5049
Thanks for the request, @iAnyKey

However, the Alexa rank for this is actually ~764k and, as our cut-off point is 500k, is therefore outside the scope of this project. If the rank ever does improve such as to bring this within our scope then please reopen this issue and we will revisit it.

[2021-02-17 15:32] #5049 closed

[2021-02-17 15:56] sai-avula opened #5050 "Add Jovian.ai Website Icon"
**Brand Name:** Jovian.ai
**Website:** https://www.jovian.ai/
**Alexa rank:** 70,447

**Official resources for icon and color:**

_Website Rank_ - (under 500k)
_Github Project_ : https://github.com/JovianML/jovian-py (Less than 5k)

Images -

Main Image - https://jovian.ai/forum/uploads/default/original/2X/7/742399a6c684f2f0b1cb7fc8cf758e7100236015.png

A 512x512 image -
https://user-images.github

[2021-02-17 17:34] PeterShaggyNoble commented on #5050
Thanks for the request, @sai-avula

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this one on yourself using [the SVG](https://uploads-ssl.webflow.com/5f853acc1d8f7c5cbc3cda0d/5f9262a263cd2e60d4965416_jovian_horizontal_logo_noml.svg) found in their website's header & footer?

[2021-02-17 18:31] sai-avula commented on #5050
Absolutely, I'm in

[2021-02-17 20:34] sai-avula opened #5051 "Using C++ svg shield icon"
I'm trying to ad a C++ shield icon to one of my projects.

Something like - https://img.shields.io/badge/-Julia-9558B2?logo=julia&logoColor=white&style=for-the-badge
(this is for Julia)

What is the right link url syntax for c++
Ive tried -
https://img.shields.io/badge/-c++-00599C?logo=c++&logoColor=white&style=for-the-badge

https://img.shields.io/badge/-c++-00599C?logo=cplusplus&logoColor=white&

[2021-02-17 21:02] PeterShaggyNoble commented on #5051
See badges/shields#3361

[2021-02-17 21:02] #5051 closed

[2021-02-17 21:38] #3713 closed

[2021-02-18 02:35] foo-dogsquared opened #5055 "Rocket.Chat (communication platform)"
A free and open source alternative to Discord.

**Brand Name:** Rocket.Chat
**Website:** https://rocket.chat/
**Alexa rank:** 131,077 (as of 2021-02-18)

**Official resources for icon and color:**
- I guess https://rocket.chat/press/ would be the preferred URL to refer to.
- As for the colors, https://docs.rocket.chat/guides/brand-and-visual-guidelines/colors. `#F5455C` would be the color since it

[2021-02-18 04:13] foo-dogsquared opened #5056 "Wayland (display server protocol)"
**Brand Name:** Wayland
**Website:** https://wayland.freedesktop.org/
**Alexa rank:** ~3.1 miliion (as of 2021-02-18)

It is attempting to replace Xorg (which is also on the icon set), some of them are being developed by the Xorg developers.
It is slowly being developed and implemented in different desktops (e.g., Mutter in GNOME desktop, KDE Plasma was recently making massive progress especially

[2021-02-18 04:19] foo-dogsquared opened #5057 "Kdenlive (video editor)"
**Brand Name:** Kdenlive
**Website:** https://kdenlive.org/en/
**Alexa rank:** 115,080 (as of 2021-02-18)

**Official resources for icon and color:**
- https://kdenlive.org/en/logo/
- `#527eb2` could be the color here. :/

[2021-02-18 09:59] PeterShaggyNoble commented on #4205
Thanks, @Karthik-Nayak98. For tracking purposes, though, and to ensure it doesn't get lost in the shuffle, could you open a new issue or PR for that, please?

[2021-02-18 10:06] PeterShaggyNoble commented on #5055
Hey, @foo-dogsquared, good to see you 🙂 Do you want to take these ones on yourself?

[2021-02-18 10:09] PeterShaggyNoble commented on #5056
I don't know that we can call this one in scope yet, @foo-dogsquared; that's a very low Alexa rank and it has very few stars in its GitLab. I don't think the GH stars of a third-party repo that uses it is enough to go on; is there anything else we can use? Maybe a Google Trends comparison with a similar brand we already have in our collection?

[2021-02-18 10:11] PeterShaggyNoble commented on #5057
Agreed on the colour and, for anyone wanting to take this one on, we should go with the one labelled as "For situations smaller than 50px" in the supplied SVG.

[2021-02-18 11:19] PeterShaggyNoble commented on #4936
OK, so I think we're decided that we're going to remove the hyphens but, following on from @ericcornelissen's comment in #5047 we need to decide whether or not we want to keep dots, pluses and ampersands and then, whatever we decide, whether we want to use the `slug` entry to make exceptions where the inclusion or removal of the symbol(s) doesn't make sense.

Firstly, I'm now of the opinion after

[2021-02-18 12:10] Emaleth opened #5058 "Odysee icon (LBRY frontend / rebrand?)"
**Brand Name: Odysee / LBRY**
**Website: https://odysee.com/**
**Alexa rank: 3,925**
**Official resources for icon and color: https://odysee.com/public/img/odysee_white.png**

[2021-02-18 12:33] PeterShaggyNoble commented on #5058
Thanks for the request, @Emaleth

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself, using the vector files available [here](https://odysee.com/@OdyseeHelp:b/odyseepresskit:b)?

[2021-02-18 17:35] ericcornelissen commented on #4936
So, to summarize @PeterShaggyNoble, your primary argument is to go with consistency? And you want to stick with the automatic replacement of `+`, `&`, and `.` because 1) that's how we do it now or/and 2) that's occurs more often? Is that somewhat correct?

I would like to push back against that a little bit and argue that we can keep it "consistent" even if we sometimes allow changes to the automa

[2021-02-18 18:00] service-paradis opened #5060 "Update Trello"
**Brand Name:** Trello
**Official resources for icon and color:**

According to https://blog.trello.com/a-whole-new-trello, Trello will update their logo. Labeled as `pending` for now, since they did not update their guidelines yet.

[2021-02-18 23:44] NashJames opened #5062 "Nano"
**Brand Name:** Nano
**Website:** https://nano.org/
**Alexa rank:** 120,005

**Official resources for icon and color:**
https://nano.org/resources

[2021-02-19 00:15] foo-dogsquared commented on #5056
Unfortunately, I cannot pinpoint how truly popular Wayland is especially due to being a specification which makes multiple implementations. X.Org would be a similar project but it is an implementation of a window system.

The related project from its Gitlab (weston) is just a part of the Wayland ecosystem. I can only look from its [most popular implementation](https://github.com/swaywm/sway) relat

[2021-02-19 00:19] foo-dogsquared commented on #5055
Sure. This seems simple enough.

[2021-02-19 00:49] foo-dogsquared opened #5064 "OpenWrt (embedded Linux framework)"
**Brand Name:** OpenWrt
**Website:** https://openwrt.org/
**Alexa rank:** 26,382 (as of 2021-02-19)

**Official resources for icon and color:**
- https://openwrt.org/docs/guide-graphic-designer/openwrt-logo which also contains the link to the brand guidelines.
- `#00B5E2` would be the primary color as it is used on the logo.

[2021-02-19 09:48] #2899 closed

[2021-02-19 11:30] #3489 closed

[2021-02-19 11:48] #2993 closed

[2021-02-19 12:21] #4691 closed

[2021-02-19 13:06] #2260 closed

[2021-02-19 13:49] Karthik-Nayak98 commented on #4205
Let me try to do that

[2021-02-19 14:19] #1168 closed

[2021-02-19 14:27] ericcornelissen opened #5067 "Expose license data in NPM package"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [ ] The Packagist Package

### Description

Following #4900 and with #4945 merged, this issue is to discuss if and how [the `"license"` field](https://github.com/simple-icons/simple-icons/blob/39269e7d3947c1280a96d4e6b996a746f3ff49f4/.jsonschema.json#L32-L143) should be exp

[2021-02-19 15:13] mondeja opened #5070 "Unify implicit/explicit closepath commands"
Currently in simple-icons, there are 107 icons that ends without a [closepath](https://www.w3.org/TR/SVG/paths.html#PathDataClosePathCommand) command (`z` or `Z`). As you can see in [this comment in StackOverflow](https://stackoverflow.com/a/10213649/9167585), as [SVG specification points](https://www.w3.org/TR/SVG/painting.html#SpecifyingFillPaint), if a path ends without a closepath command, wil

[2021-02-19 16:04] #2998 closed

[2021-02-19 16:33] #4861 closed

[2021-02-19 16:59] ericcornelissen commented on #5070
This seems more related to https://github.com/simple-icons/simple-icons/issues/2380 than https://github.com/simple-icons/simple-icons/pull/5002. Note that it is easy to commit changes in the context of https://github.com/simple-icons/simple-icons/pull/5002 because we are running the workflow on a schedule. On the other hand, https://github.com/simple-icons/simple-icons/issues/2380 (and by extensio

[2021-02-19 17:08] PeterShaggyNoble commented on #4936
I guess the main crux of my argument against them is to try to keep the number of custom slugs we have as low as possible to minimise the number of times users need to reference [the lookup table](https://github.com/simple-icons/simple-icons/pull/5002), especially those who would be familiar enough with our library that they can easily convert titles to slugs without reference. But I can definitel

[2021-02-19 17:15] mondeja commented on #5070
Ahm, so the commits would be directly to the forked branches... :thinking: But could that not be a bit confusing for contributors? They will must pull if the changes are triggered, right?

[2021-02-19 17:21] ericcornelissen commented on #5018
I agree that the best we can do is link to "good" resources for getting started with git and GitHub - as we already d in the 2rd step of the guidelines.

How about changing the opening section of the Contributing Guidelines to something like :arrow_down: (I just moved the link in the third point to the opening paragraph.)

---

# Contributing to Simple Icons

Simple Icons welcomes contributions an

[2021-02-19 17:26] ericcornelissen commented on #5070
I agree that it could be confusing, but I think it is possible to communicate this to the contributor (e.g. by commenting on the Pull Request when it happens) or by only doing it when triggered by one of the maintainers.

Furthermore, If I understand you correctly, I would be very wary of merging in "invalid" PRs under the assumption that problems will be fixed automatically on `develop`.

In any

[2021-02-19 17:27] adamrusted commented on #5018
@ericcornelissen the above looks good - we could also point people to a discussion on our repo for a 'beginner walkthrough' - I'd be quite happy to talk people through the process on there, our of the way from PRs / Issues if that's a preferred way of going about it.

[2021-02-19 17:33] ericcornelissen commented on #5018
Good idea, I think this is worthwhile even if we just have a thread for people to ask questions!

[2021-02-19 17:35] mondeja commented on #5070
Technically, are not "invalid" because these changes (`negative-zeros` and removal of `z`/`Z` at end) would be only file size optimizations, since the SVG spec allows negative zeros and treats missing of closepath at ends as implicit closepaths.

[2021-02-19 17:54] adamrusted commented on #5018
I've started the discussion at https://github.com/simple-icons/simple-icons/discussions/5076 - and will try and keep on top of any questions we do get. May be worth linking to it from the `CONTRIBUTING.md` file as a 'Still Stuck?' resource.

[2021-02-19 18:14] #3476 closed

[2021-02-19 18:19] PeterShaggyNoble commented on #3726
Took a quick, rough pass at this nonetheless and it's pretty terrible at `1x` but not as terrible as expected at `2x` or `5x`. I still think the linework is too thin for this to work as an icon.

![](https://user-images.githubusercontent.com/15157491/108544727-cb0f0f00-72de-11eb-9624-d74df55c6f73.png)

[2021-02-19 18:23] ericcornelissen commented on #2380
@mondeja [brought up](https://github.com/simple-icons/simple-icons/issues/5070#issuecomment-782213396) that doing automated fixes in Pull Requests might be 1) perceived as being invasive and 2) confusing for newcomers (_"huh, I can't push because my branch is out of sync?"_). And that we should instead consider pushing automated fixes AFTER the pull request has been merged, especially since some o

[2021-02-19 18:31] mondeja commented on #2380
I see your point. Probably this "huh, I can't push because my branch is out of sync?" feeling could be prevented if we create a comment in fixed pull requests explaining to contributors in a comment how to pull the changes to their local branches.

[2021-02-19 18:34] #3491 closed

[2021-02-19 18:39] #3545 closed

[2021-02-19 19:42] tassiaaccioly commented on #5004
Made Pull Request for this Icon: https://github.com/simple-icons/simple-icons/pull/5077

#5077

[2021-02-19 19:48] mondeja commented on #4928
I found the file very difficult to vectorize, [opened issue in Black repository](https://github.com/psf/black/issues/1994) asking for a vectorized version of the logo.

[2021-02-20 07:01] sadabnepal commented on #4861
@service-paradis @PeterShaggyNoble  Thank you for adding the icon, I was trying to find it in [https://simpleicons.org/](https://simpleicons.org/) and still can't see in list.. Wondering if we need to wait for some time before it appears on website

[2021-02-20 07:52] fbernhart commented on #4861
@sadabnepal Indeed, you need to wait a bit.

We're releasing new icons every Sunday. So by tomorrow you should be able to find it on the website.

[2021-02-20 12:02] #3588 closed

[2021-02-20 12:06] #3721 closed

[2021-02-20 12:08] #3439 closed

[2021-02-20 12:10] #4776 closed

[2021-02-20 12:13] #3488 closed

[2021-02-20 12:14] #4696 closed

[2021-02-20 12:18] #4646 closed

[2021-02-20 12:20] #4601 closed

[2021-02-20 12:29] #4415 closed

[2021-02-20 12:35] #4352 closed

[2021-02-20 14:38] mondeja opened #5078 "Migrate SVGO to v2"
It seems that [SVGO maintenance is back](https://github.com/svg/svgo/releases/tag/v2.0.0)! :tada: So will be worth to migrate to the new version and stay tuned with changes.

The configuration must be handled in `svgo.config.js` now.

[2021-02-20 14:48] #4534 closed

[2021-02-20 15:08] #5004 closed

[2021-02-20 16:20] #3539 closed

[2021-02-20 16:22] #3682 closed

[2021-02-20 16:25] #4300 closed

[2021-02-20 16:43] #4323 closed

[2021-02-20 17:32] Yasser-dev opened #5080 "Request: GoCV Icon"
Brand Name: GoCV
Website: https://gocv.io/

[2021-02-20 18:52] majordomo-systems commented on #5032
Sorry for the delay, only got a chance to look at this today.  Having an issue getting it to fit within the viewbox:

[code]

[2021-02-20 23:56] ericcornelissen commented on #2061
Just want to point out real quick here that with [SVGO v2](https://github.com/svg/svgo/releases/tag/v2.0.0) there is now a bundle included with SVGO to run it in a browser context. This _could_ make it significantly easier for us to have a "clone" of SVGOMG of our own, perhaps even just one that always uses the configuration we need (though probably the precision needs to stay configurable).

[2021-02-21 02:15] majordomo-systems commented on #5032
Hi, I've been pulled and finished hacking.  I have an SVG that meets the guidelines.  How do I push back to your repo?  I created a new branch (locally, hasura), however as expected cannot push.  Sorry (first time contributing...)

[2021-02-21 08:51] fbernhart commented on #5032
@majordomo-systems

Have you followed the steps here? https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md

The first part tells you how to create a pull request.

You have to:

- Fork the Simple Icons repository
- Create a new branch from `develop`
- Add your SVG and make the changes to the JSON file
- Commit and push these changes to your branch
- And then create a pull

[2021-02-21 12:27] Tuweikan opened #5082 "Request : Osu! Icon"
**Brand Name: Osu!**
**Website: osu.ppy.sh**

[2021-02-21 12:40] nicholaswilde opened #5083 "Request: Task"
**Brand Name:Task
**Website:https://taskfile.dev/#/
**Alexa rank: 4,195,340

**Official resources for icon and color:
* https://taskfile.dev/Logo.png
* https://github.com/go-task/task/raw/master/docs/Logo.png

[2021-02-21 12:48] #5078 closed

[2021-02-21 13:00] fbernhart commented on #5083
Hi @nicholaswilde, thanks for your request.

Unfortunately Task doesn't seem to be popular enough to be added to Simple Icons.

We're requiring an Alexa rank of below 500,00 or more than 5,000 stars on Github.

And with an Alexa rank of over[ 4 million](https://www.alexa.com/siteinfo/taskfile.dev#/) and "only" [3,100 stars on GitHub](https://github.com/go-task/task), we can't add it to Simple Icon

[2021-02-21 13:00] #5083 closed

[2021-02-21 13:03] fbernhart commented on #5082
[6,3k stars](https://github.com/ppy/osu) on GitHub. So this is popular enough to be added.

[2021-02-21 13:07] fbernhart commented on #5080
Hi @Yasser-dev , thanks for your request.

Unfortunately GoCV doesn't seem to be popular enough to be added to Simple Icons.

We're requiring an Alexa rank of below 500,00 or more than 5,000 stars on Github.

And with an Alexa rank of over [1,520,765](https://www.alexa.com/siteinfo/gocv.io) and "only" [3,800 stars on GitHub](https://github.com/hybridgroup/gocv), we can't add it to Simple Icons.

H

[2021-02-21 13:07] #5080 closed

[2021-02-21 13:15] sadabnepal opened #5084 "rest-assured icon"
**Brand Name:** RestAssured
**Website:** https://rest-assured.io/
**Alexa rank:** 857,605

**Official resources for icon and color:** https://rest-assured.io/img/logo-transparent.png

[2021-02-21 13:18] Tuweikan opened #5085 "Request: Weblate icon"
**Brand Name: Weblate**
**Website: https://weblate.org/**

**Official resources for icon and color: https://github.com/WeblateOrg/weblate/**

[2021-02-21 14:09] service-paradis commented on #5084
Thanks for the request @sadabnepal!

The Alexa rank is a little bit low (we require less than 500k), but since it have over [5k ⭐on Github](https://github.com/rest-assured/rest-assured), it can be included.

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-21 17:29] Kythe42 opened #5086 "Request: Threadless Icon"
Brand Name: Threadless
Website: https://www.threadless.com/
Alexa rank: 10,246

Official resources for icon and color: https://www.threadless.com/info/about/

[2021-02-21 17:39] Kythe42 opened #5087 "Request: Spreadshirt Icon"
Brand Name: Spreadshirt
Website: https://www.spreadshirt.com
Alexa rank: 5,628

Official resources for icon and color: https://www.flickr.com/photos/spreadshirt/sets/72157616504600460/

[2021-02-21 17:44] Kythe42 opened #5088 "Request: Adobe Stock Icon"
Brand Name: Adobe Stock
Website: https://stock.adobe.com/
Alexa rank: 40

[2021-02-21 18:07] Kythe42 opened #5089 "Request: Zazzle Icon"
Brand Name: Zazzle
Website: https://www.zazzle.com/
Alexa Rank: 1,188

Official resources for icon and color: https://www.zazzle.com/logo

[2021-02-21 18:08] fbernhart commented on #5088
SVG from the header of their [website](https://stock.adobe.com):
https://as.ftcdn.net/r/v1/pics/970799db9780bab7bdc963d283ff64ee812913ca/all/default/stock_logo_2020_white.svg

Color (of the SVG):
`#0C131F`

About the popularity:
The Alexa rank of 40 is for the domain adobe.com and not the subdomain. Therefore we can't use it as a measurement of popularity.

But looking at [Google Trends](https://t

[2021-02-21 18:10] fbernhart commented on #5088
@Kythe42 Would you like to have a read through our [contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and give this a try yourself?

[2021-02-21 18:28] Kythe42 commented on #5088
Thank you for the link. I've had a read through it, and given that I don't understand half of what it says, I probably shouldn't attempt anything myself.

[2021-02-21 18:52] Kythe42 opened #5090 "Request: CafePress Icon"
Brand Name: CafePress
Website: https://www.cafepress.com/
Alexa Rank: 11,784

Official resources for icon and color:
https://static.cpcache.com/logo.png
https://en.wikipedia.org/wiki/CafePress#/media/File:CafePress_logo.svg

[2021-02-21 18:59] Kythe42 opened #5091 "Request: TeePublic Icon"
Brand Name: TeePublic
Website: https://www.teepublic.com/
Alexa rank: 5,115

Official resources for icon and color:
https://cdn.teepublic.com/assets/logos/tp-crest-white-7ed2d983694e2879f583a437d0812f3d0fcbe994a5d845486faf7058e1927f1b.png

[2021-02-21 19:05] nicholaswilde commented on #5083
Thanks for looking into it and the response!

[2021-02-21 20:38] majordomo-systems commented on #5032
Thanks, I've created a pull request.  Hope I've done everything correctly.

[2021-02-21 20:54] #4602 closed

[2021-02-21 20:56] majordomo-systems commented on #5032
You might notice - I did NOT do everything correctly (first pull request).  Somehow pushed an incorrect version of the SVG.  Everything should be ok now.  Thanks

[2021-02-21 21:02] #4940 closed

[2021-02-21 21:03] Christopher-Hayes opened #5094 "Request: PlayCanvas icon"
**Brand Name:** PlayCanvas
**Website:** https://playcanvas.com/
**Engine on GitHub:** https://github.com/playcanvas/engine (6.1k stars)
**Alexa rank:** [#162,130](https://www.alexa.com/siteinfo/playcanvas.com)

**Official resources for icon and color:**
Icon: http://static.playcanvas.com/images/logo/PLAY_FLAT_ORANGE3.png
Graphic Logo: https://playcanvas.com/assets/images/logo/PlayCanvas-Logo-White

[2021-02-21 23:32] alagos opened #5095 "Request: Ask Ubuntu icon"
**Brand Name:** Ask Ubuntu
**Website:** https://askubuntu.com/
**Alexa rank:** [295k](https://www.alexa.com/siteinfo/askubuntu.com)

**Official resources for icon and color:**
I couldn't find an official media kit, but in the landing page source code there's [this svg](https://cdn.sstatic.net/Sites/askubuntu/Img/logo.svg) that could be easily cropped to fit only the "Ask" logo.
About the official

[2021-02-22 00:45] PythonCoder8 opened #5097 "Request: Roblox Icon"
**Brand Name: Roblox**
**Website: web.roblox.com**
**Alexa rank: 93**

**Official resources for icon and color:**

[2021-02-22 09:53] PeterShaggyNoble commented on #5067
I think this is something we should add to `index.js` for each icon so that it's exposed through `simpleIcons.get()` giving people access to licensing info for each icon they use to do with as the please.

We could include it exactly as we do in `simple_icons.json` and document how to use the `type` to look up the license name & URL through a third party. That, however, would create more work and

[2021-02-22 10:03] PeterShaggyNoble opened #5098 "Require brands of the same name to be sorted by slug"
Currently [Handshake (Protocol) is listed before Handshake](https://github.com/simple-icons/simple-icons/blob/f464deebc2e6ecfe8da62fac3399a25141cb56f9/_data/simple-icons.json#L3432-L3442) but [Hive (Blockchain) is listed after Hive](https://github.com/simple-icons/simple-icons/blob/f464deebc2e6ecfe8da62fac3399a25141cb56f9/_data/simple-icons.json#L3558-L3568) in `simple-icons.json`.

For consistenc

[2021-02-22 10:45] PeterShaggyNoble commented on #2061
I'd be in favour of that, @ericcornelissen as it could significantly reduce one of the barriers to entry for contributors who are complete new to working with SVGs. With everything else we have going on right now, though, I wouldn't deem it high priority.

[2021-02-22 10:50] PeterShaggyNoble commented on #5082
Thanks for the request, @putulopi.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this one on yourself using [this SVG](https://osu.ppy.sh/assets/images/osu-logo-white.59d385da.svg) found in the header of https://osu.ppy.sh/home/download?

[2021-02-22 10:56] PeterShaggyNoble commented on #5085
Thanks for the request, @putulopi.

With an Alexa rank of [~522k](https://www.alexa.com/siteinfo/weblate.org), though, and only [~2.3k stars](https://github.com/WeblateOrg/weblate) on GitHub and our respective cut-offs being 500k and 5k this is currently out of scope for our project. However, as the Alexa rank does regularly fluctuate above 500k, I'm simply going to label this one as "pending" for

[2021-02-22 11:05] PeterShaggyNoble commented on #5084
No vector logo that I can find and the quality of the raster file isn't great so this will be tricky to recreate precisely.

[2021-02-22 11:07] putulopi commented on #5082
```Would you like to have a read through our contributing guidelines and take this one on yourself using this SVG found in the header of https://osu.ppy.sh/home/download?```

Ups, sorry about that. I didn't know anything about SVG 😅, maybe someday. Sorry for the inconveniece 🙏

[2021-02-22 11:09] putulopi commented on #5085
Understandable👌

[2021-02-22 11:15] PeterShaggyNoble commented on #5086
Thanks for the request, @Kythe42.

Looks like we're going to have to go with the full wordmark here, unfortunately. Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this one on yourself?

[2021-02-22 11:34] PeterShaggyNoble commented on #5094
Thanks for the request, @Christopher-Hayes.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and try this one yourself?

[2021-02-22 11:41] PeterShaggyNoble commented on #5097
Thanks for the request, @PythonCoder8.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take this on yourself, using the press kit available [here](https://corp.roblox.com/press-kit/)?

[2021-02-22 11:58] PeterShaggyNoble commented on #4205
Strangely, I still see our current icon in use on pay.google.com. But that may just be down to a phased roll out that hasn't made it to Ireland yet. Found an official SVG at https://pay.google.com/gp/promo/p_referrals/static/images/gp3-lockup.svg that we can work off for now.

[2021-02-22 12:52] ericcornelissen commented on #5067
If we add it there, I think we should also add it to the tree-shakeable `[slug].js` files.

So, to summarize, your suggestion is to add a link to the license text if the license type is one of [the SPDX license IDs](https://github.com/simple-icons/simple-icons/blob/1df43dd50bd38d703f46b9e47ee5137b06b92918/.jsonschema.json#L58-L132) such that if an icon's `license` field is not `undefined` it is al

[2021-02-22 13:29] Kythe42 commented on #5086
Unfortunately I don't understand half of what's written on that page, so I don't think that will be possible.

[2021-02-22 14:57] hasthamalp opened #5099 "Request: Swathanthra Malayalam Computing Icon"
**Brand Name:** Swathanthra Malayalam Computing
**Website:** https://smc.org.in/
**Alexa rank:** 1,014,485

**Official resources for icon and color:** https://smc.org.in/

[2021-02-22 15:01] PeterShaggyNoble commented on #5099
Thanks for the request, @hasthamalp.

However, with an Alexa rank in excess if 1m this is beyond our 500k threshold and therefore out of scope for this project, unfortunately.

[2021-02-22 15:01] #5099 closed

[2021-02-22 15:22] #4261 closed

[2021-02-22 17:10] PeterShaggyNoble commented on #5087
Thanks for the request, @Kythe42.

There's an SVG in the header of their website we can use here: https://image.spreadshirtmedia.com/content/asset/sprd-logo_horizontal.svg

[2021-02-22 17:16] PeterShaggyNoble commented on #5060
Looks to me like the new logo is already in use on their website so we can proceed with updating it.

[2021-02-22 17:29] #4355 closed

[2021-02-22 21:18] PardhuMadipalli opened #5102 "Request: Eclipse Jetty Icon"
**Brand Name:** Eclipse Jetty
**Website:** https://www.eclipse.org/jetty/
**Alexa rank:** 10,061

**Official resources for icon and color:** https://www.eclipse.org/jetty/common/images/jetty-logo.svg

[2021-02-23 00:24] service-paradis commented on #5095
I would, personally, expect `#DC461D` to be the brand color. From the stylesheet, it is the primary color. It is used for a lot of element (ex. header, link color, ...).
For the icon, I would expect only the speech bubble with `ask` written in it:
![image](https://user-images.githubusercontent.com/12817388/108786300-4a038200-7541-11eb-8739-b6d433c4a45d.png)

Here are the trademark / Leal guideline

[2021-02-23 02:01] service-paradis opened #5104 "Private Internet Access"
![image](https://user-images.githubusercontent.com/12817388/108793248-17618580-7551-11eb-9fb4-209f07808c3e.png)

**Brand Name:** Private Internet Access
**Website:** https://www.privateinternetaccess.com/
**Alexa rank:** [~16k](https://www.alexa.com/siteinfo/privateinternetaccess.com)

**Official resources for icon and color:**

- https://www.privateinternetaccess.com/pages/press
  - There are vec

[2021-02-23 05:28] alagos commented on #5095
I've just [asked on meta](https://meta.askubuntu.com/q/19534/41141), mostly linking to this issue, so hopefully we could get some official input soon.

[2021-02-23 13:22] ericcornelissen commented on #5067
Working on https://github.com/simple-icons/simple-icons-website/issues/47 now, definitely agree with this point :smile:

[2021-02-23 15:39] PeterShaggyNoble commented on #5104
The irony! 😆

[2021-02-23 15:43] PeterShaggyNoble commented on #5102
Thanks for the request, @PardhuMadipalli.

Howver, we can't go by the Alexa rank to assess the popularity for this one as it's for the Eclipse Foundation as a whole. So the next metric we look at is GitHub stars and, unfortunately, with our cut-off there being 5k, this would appear to be out of scope as it only has [~3.1k stars](https://github.com/eclipse/jetty.project). Before we close the issue,

[2021-02-24 00:12] service-paradis commented on #4878
Thanks for the request @metmarkosaric!

Would you like to take a look at [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and gave it a try?

[2021-02-24 00:25] service-paradis commented on #4941
For future contributor information, there is also a press kit with SVG icons available at https://www.enpass.io/press/

[2021-02-24 09:56] PeterShaggyNoble commented on #5082
Did some more digging into this one and it looks like [the main site](https://ppy.sh/) is a personal site with osu! being their primary product so, while not _entirely_ accurate, I think we can say the [Alexa rank of ~4k](https://www.alexa.com/siteinfo/ppy.sh) is a good _enough_ reflection of its popularity.

Also found [these brand guidelines](https://osu.ppy.sh/wiki/vi/Brand_identity_guidelines)

[2021-02-24 10:29] PeterShaggyNoble commented on #5098
It looks like replacing [the `collector` function](https://github.com/simple-icons/simple-icons/blob/develop/scripts/lint.js#L25-L33) in `scripts/lint.js` with something like the below _should_ do the trick but I don't have a setup to allow me to test it properly. We may also need to add the `slug` to the log in some way when applicable as the `title` alone won't be enough to tell people exactly w

[2021-02-24 11:56] #3855 closed

[2021-02-24 12:19] metmarkosaric commented on #4878
Thanks @service-paradis! Will try again.

[2021-02-24 12:19] metmarkosaric opened #5109 "Request: Plausible Analytics icon"
**Brand Name:** Plausible Analytics
**Website:** https://plausible.io
**Alexa rank:** 55,226

**Official resources for icon and color:** https://github.com/plausible/docs/blob/master/static/img/logo.svg

I'm the co-founder of Plausible Analytics. Thanks!

[2021-02-24 12:54] #4308 closed

[2021-02-24 13:48] service-paradis commented on #4878
@metmarkosaric
Sorry for the confusion, your issue was correct. I was just asking you if you wanted to make a PR by yourself :)

[2021-02-24 13:56] ericcornelissen commented on #5098
Not sure if I follow exactly what you're encountering but my guess is that it is due to our use of `localeCompare` without specifying the locale explicitly in which case it's behaviour depends on the implementation and may be either undefined entirely, always the same locale, or the locale from your device. So, even if this is not the problem you're having, we should probably fix that.

On the web

[2021-02-24 14:10] metmarkosaric commented on #4878
Ahh I see. I'm not a developer unfortunately so I'm not sure how to do it by reading the instructions there.

[2021-02-24 14:28] service-paradis commented on #4878
No problem! Another contributor or a maintainer will do it eventually :)
Out of curiosity, do you have monochrome version available?

[2021-02-24 14:29] service-paradis commented on #5109
Closing in favor of #4878

[2021-02-24 14:29] #5109 closed

[2021-02-24 14:38] ericcornelissen commented on #4936
Thanks for the clarification, that makes sense as well.

I think that if we can implement in a backwards compatible way without too much effort, and we have the resources to do so, we should do it is early as possible - provided we all agree on the decision of course.

[2021-02-24 17:52] #3951 closed

[2021-02-24 18:52] kingabzpro opened #5110 "plotly"
**Brand Name:** Plotly
**Website:** https://plotly.com/
**Alexa rank:** 22,697

**Official resources for icon and color:** [Logo](https://images.prismic.io/plotly-marketing-website/bd1f702a-b623-48ab-a459-3ee92a7499b4_logo-plotly.svg) #3F4F75

[2021-02-24 22:14] adamrusted commented on #5110
There's an SVG available [here](https://images.prismic.io/plotly-marketing-website/bd1f702a-b623-48ab-a459-3ee92a7499b4_logo-plotly.svg), and I'd probably go with the darker blue of the logo as the brand colour. Would you like to give this a go @kingabzpro? If so, have a read through the [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and submit

[2021-02-25 01:24] kingabzpro commented on #5110
I tried my all but it seems like I am noob at this. I am sending you the svg file and hope that you can use it.
[plotly](https://send.tresorit.com/a#_HDkuhCyqXfd6U4enrPyfg)

[2021-02-25 08:18] Yasser-dev opened #5112 "Request: Fawry Icon"
Brand Name: Fawry
Website: https://fawry.com/
Alexa rank: 94,352

[2021-02-25 08:51] adamrusted commented on #5110
No worries - let me take a look through your Pull Request and see what's not worked with it. We should be able to fix it pretty quickly 👌

[2021-02-25 10:27] PeterShaggyNoble commented on #5104
Mocked up a couple of options on this. I personally prefer the first one.

![](https://user-images.githubusercontent.com/15157491/109139710-b9e95680-7753-11eb-8c33-412e491fe28a.png)
![](https://user-images.githubusercontent.com/15157491/109139953-00d74c00-7754-11eb-9d4d-1fc817841b82.png)

[2021-02-25 10:44] kirilltarelkin opened #5113 "CoinMarketCap"
**Brand Name: CoinMarketCap**
**Website: https://coinmarketcap.com/**
**Alexa rank:**

**Official resources for icon and color:**

[2021-02-25 10:58] #4923 closed

[2021-02-25 11:00] PeterShaggyNoble commented on #5112
Thanks for the request, @Yasser-dev.

Sadly, there's no official vector version of their logo that I could find so we'll need to recreate this one manually. There is _a_ vector version available [here](https://iconape.com/fawry-logo-logo-icon-svg-png.html) which may give someone a good starting point but, as it's an unofficial source, care will need to be given to ensure it lines up as exactly as

[2021-02-25 11:04] PeterShaggyNoble commented on #5113
Thanks for the request, @kirilltarelkin.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself using [the SVG](https://s2.coinmarketcap.com/static/cloud/img/coinmarketcap_1.svg?_=5ee57a9) found in their website's header?

**Alexa rank:** [223](https://w

[2021-02-25 11:31] #5094 closed

[2021-02-25 11:42] PeterShaggyNoble commented on #5095
Woah! Thanks for the extensive research, @service-paradis 👏🏻 Although, I don't know how I managed to ping you instead of @alagos in my first comment! 😆

Thanks to you, too, @alagos for opening that question on Meta. As the consensus in the comments seems to be that the colours _should_ be Ubuntu's then I think `#dc461d` is the best choice for us as it is closest to Ubuntu's primary colours.

Would

[2021-02-25 11:43] #5018 closed

[2021-02-25 12:33] #3703 closed

[2021-02-25 12:57] PeterShaggyNoble commented on #3732
Not sure what the best approach is here; neither of these options work for me.

![](https://user-images.githubusercontent.com/15157491/109156578-e9ef2480-7768-11eb-96f0-9d190095157e.png)
![](https://user-images.githubusercontent.com/15157491/109156643-fd9a8b00-7768-11eb-83cf-48a7970cb63b.png)

[2021-02-25 13:11] ialexanderbrito commented on #3732
I thought the first option was cool, it became more visible to me.

[2021-02-25 13:23] service-paradis commented on #5104
Both are looking good, good job!
I, also, prefer the first one. Gives better results at small sizes.

[2021-02-25 14:31] Karthik-Nayak98 commented on #4205
I am from India. Here the apps are updated with a new logo which is in that link. @PeterShaggyNoble

[2021-02-25 15:00] #4661 closed

[2021-02-25 15:45] PeterShaggyNoble commented on #4878
@metmarkosaric, as one of the founders, do you have an existing monochrome version of your logo or, if not, do you have a preferred treatment for converting it to monochrome? We could either just flatten it completely or use a cut-out.

![](https://user-images.githubusercontent.com/15157491/109178057-5cb7ca00-7780-11eb-8d0d-1f83e6c3b13c.png)
![](https://user-images.githubusercontent.com/15157491/1

[2021-02-25 16:04] #4767 closed

[2021-02-25 17:00] adamrusted commented on #3731
Perhaps a smaller gap between sections? Assuming that's 0.5pt, does it look any more cohesive at 0.35/0.25pt?

[2021-02-25 17:18] #3955 closed

[2021-02-25 17:31] PeterShaggyNoble commented on #4936
I've made a start on disallowing `-`s in filenames for all future icons while adding a custom slug for each existing file with a `-` in its name. This will help minimise the number of files we need to rename in v5. Everything else we're discussing wouldn't be implemented until v5 anyway so we still have a bit of time to decide.

[2021-02-25 19:06] PardhuMadipalli commented on #5102
The git repository has 1.7K forks. Does it count? I didn't find any other suitable metric.

[2021-02-25 20:09] #5110 closed

[2021-02-25 20:15] #4298 closed

[2021-02-25 20:35] service-paradis opened #5117 "Add JSS"
**Brand Name:** JSS
**Website:** https://cssinjs.org/
**Alexa rank:** [~307k](https://www.alexa.com/siteinfo/cssinjs.org) and [~6,2k ⭐ on Github](https://github.com/cssinjs/jss)

**Official resources for icon and color:**

- There is a SVG file used in the website header
- I would choose `#f7df1e` for the color (found in stylesheet).
  - It is the color of the logo in the favicon
  - It is the col

[2021-02-26 09:10] gizmecano commented on #4578
I think Peugeot have to be unchecked (cf. https://github.com/simple-icons/simple-icons/pull/5013#issuecomment-786513237)

[2021-02-26 10:23] HaloKo4 opened #5120 "Request : Trino Icon"
**Brand Name:** Trino
**Website:** https://trino.io/
**Alexa rank:** https://www.alexa.com/siteinfo/trino.io  (used to be: prestosql.io )

**Official resources for icon and color:**
https://github.com/trinodb/trino.io/blob/master/favicon.ico
https://trino.io/assets/images/trino-logo/trino-ko_tiny-alt.svg

Note: Trino is the new name of previous [PrestoSQL](https://github.com/trinodb/trino) project

[2021-02-26 10:41] adamrusted commented on #5120
Thanks for the request @HaloKo4!
Looks like we're good for inclusion purely on the Alexa rank on this one. The source code of the website (including the above linked SVG) is available [here](https://github.com/trinodb/trino.io/blob/master/assets/images/trino-logo/trino-ko_tiny-alt.svg).
Taking that SVG, and a hex code from the website, I've come up with this - do you think it accurately depicts th

[2021-02-26 10:57] PeterShaggyNoble commented on #4578
Closing this out as we now have PRs for all these updates.

[2021-02-26 10:57] #4578 closed

[2021-02-26 11:01] PeterShaggyNoble commented on #3954
DO you want to run with this one, @service-paradis?

[2021-02-26 11:02] PeterShaggyNoble commented on #3956
Anyone else want to weigh in on this one so we can get it resolved?

[2021-02-26 11:15] PeterShaggyNoble commented on #3987
Myntra have recently tweaked their logo and [the only vector version](https://blog.myntra.com/wp-content/themes/myntra/assets/img/logo-full.svg) (in the footer of [their blog](https://blog.myntra.com/) I can find uses the old logo. [The PNG](https://blog.myntra.com/wp-content/themes/myntra/assets/img/Myntra-logo-horizontal.png) in the header of their blog may be of good enough quality for someone

[2021-02-26 11:18] PeterShaggyNoble commented on #4093
Going to reach out to @JoshStark here to see if they have a vector version of the icon that they could supply is with.

[2021-02-26 11:22] PeterShaggyNoble commented on #4444
Do you want to proceed with this one, @adamrusted, as we haven't heard anything back yet?

[2021-02-26 11:24] PeterShaggyNoble commented on #4587
Sorry for the delay, @MaxWinterstein.

Looks like that curve isn't quite perfect in any of the versions of their icon. To proceed I suggest you clean it up to the best of your ability without deviating from the original too much and then open a PR where one of us may be able to assist you in cleaning it up further.

[2021-02-26 11:26] PeterShaggyNoble commented on #4835
Are you still planning on taking this one on, @Atulin?

[2021-02-26 11:38] PeterShaggyNoble commented on #4876
Not sure the cut-out works here; it changes the logo too much for my liking. What do you think? Also, if we do run with it, do we need cut-outs in the top corners too?

![](https://user-images.githubusercontent.com/15157491/109295628-f934a780-7826-11eb-9bbc-51f3fd506106.png)

[2021-02-26 11:39] PeterShaggyNoble commented on #4896
Closing this due to an incomplete issue template. @arifia, if you update your original comment with the required information then we can reopen and revisit this.

[2021-02-26 11:39] #4896 closed

[2021-02-26 11:41] Atulin commented on #4835
Sorry, haven't had the time to go about it in full. Thought it's going to be easier, but the icon turns out to be made of a lot of overlaying black and white paths which makes adapting it to Simpleicons standards a hit of a pain.

Still might do it if I find a spare weekend or two, but feel free to unassign me for now, maybe some more skilled SVG artist will take this on.

[2021-02-26 11:45] metmarkosaric commented on #4878
Thanks @PeterShaggyNoble! Let's go with the cutout version!

[2021-02-26 12:23] PeterShaggyNoble commented on #5056
I'm still not, personally, convinced that the stars in a third party repo are enough for us to go on here. Any thoughts from any of the other @simple-icons/maintainers?

[2021-02-26 12:48] PeterShaggyNoble commented on #3731
.35 and .25 cut-outs below.

![](https://user-images.githubusercontent.com/15157491/109302003-a364fd00-7830-11eb-866e-e2e0fe31d749.png)
![](https://user-images.githubusercontent.com/15157491/109302272-f0e16a00-7830-11eb-817d-08ff29af157e.png)

[2021-02-26 12:53] #4628 closed

[2021-02-26 13:43] anuj-pr opened #5123 "Forklift 3"
**Brand Name:** Forklift
**Website:** [https://binarynights.com](https://binarynights.com/)
**Alexa rank:** [555,532](https://www.alexa.com/siteinfo/binarynights.com)

**Official resources for icon and color:**
Icon image can be found [here](https://binarynights.com/images/forklift-256.png)

[2021-02-26 14:03] adamrusted commented on #3731
@PeterShaggyNoble I quite like the 0.25pt variation, how do you feel about either of those?

[2021-02-26 14:20] PeterShaggyNoble commented on #5123
Thanks for the request, @anuj-pr.

However, our cut-off for Alexa ranks is 500k so this would be beyond our scope. Is there another metric of popularity such as GitHub stars or a Google Trends comparison with comparable brand already in our library or something else that we could use to measure the popularity of this one?

[2021-02-26 14:42] PeterShaggyNoble commented on #5102
Thanks for the suggestion; we don't currently use GH forks as a metric but maybe we should start. One problem we would have, not all projects encourage forking or accept PRs so I don't think a low number of forks would be reflective of a repos lack of popularity so I don't think we should _reject_ brands on that alone. But a high number of forks could definitely be taken as a reflection of popular

[2021-02-26 15:18] PeterShaggyNoble commented on #5117
I'd agree with that choice of colour, @service-paradis 👍🏻

[2021-02-26 16:13] PeterShaggyNoble commented on #5120
@adamrusted, they actually have a monochrome version in the header of [their docs](https://trino.io/docs/current/) which is also [available on GH](https://github.com/trinodb/docs.trino.io/blob/master/352/_static/trino.svg).

[2021-02-26 16:27] #3794 closed

[2021-02-26 16:41] PeterShaggyNoble commented on #4835
Looks like that link has expired, @Atulin; could you zip the file up and attach it to a comment here?

And, as long as you don't mind, I might give this one a try myself if I've time over the weekend.

[2021-02-26 16:43] PeterShaggyNoble commented on #3731
Tricky one, @adamrusted; 0.25 is definitely closer to the original but might be _too_ small at 24*24.

[2021-02-26 16:59] Atulin commented on #4835
Sure. I forgot that zips can be attached to comments here, and it seems I unnecessarily went through some 3rd party hosting.

Here it is:
[ss_sign_mono.zip](https://github.com/simple-icons/simple-icons/files/6051216/ss_sign_mono.zip)

[2021-02-26 17:55] PeterShaggyNoble commented on #4835
Wow! You weren't kidding about the state of that file! 😮 🙈 Made a quick start into it but it's going to need a _lot_ of cleaning up. Here's my WIP in case I don't get time for it over the weekend and you or anyone else wants to run with it:

[code]

![image](https://user-images.githubusercontent.com/15157491/109336709-b04b1600-785b-11eb-93f1-d4b8f4df426a.png)

[2021-02-26 18:09] PeterShaggyNoble commented on #4932
Thanks for the request, @marcoXbresciani. Here's a quick and (very) rough first pass at this for feedback:

![](https://user-images.githubusercontent.com/15157491/109338093-b6da8d00-785d-11eb-8d0b-3bb650f4dd76.png)

[2021-02-26 18:17] marcoXbresciani commented on #4932
Yup. Might be quick and rough, but it's cool. 😁

[2021-02-26 18:21] HaloKo4 commented on #5120
I think it's good :)
@electrum is the creator of Trino so if there is question regarding satisfaction from the logo probably good to consult with him :) in any case it's a good addition to https://simpleicons.org/

[2021-02-26 18:50] andersoncampos opened #5125 "Icon for Classic ASP programmers"
**Brand Name:** Microsoft Classic ASP 3.0
**Website:** www.microsoft.com
**Alexa rank:**

**Official resources for icon and color:**

https://images.lejusteweb.com/logo-asp-classic-1.svg
https://en.wikipedia.org/wiki/Active_Server_Pages

[2021-02-26 19:32] ericcornelissen commented on #5102
I don't think forks are a good indicator of popularity for our purposes. If we do decide to use it though, going by this repo's numbers, 5k would be a bit high I think.

[2021-02-26 22:59] electrum commented on #5120
@aliloney created the amazing Trino logo, so I’ll defer to her

[2021-02-27 02:33] anuj-pr commented on #5123
Hi @PeterShaggyNoble, Thanks for the swift response.

I understand that the site may not be eligible for your cutoff. Forklift 3 is a closed source MacOS finder alternative so getting GitHub stars would not be possible. Would you be open if I get the icon and create a PR for it?

[2021-02-27 10:20] #5062 closed

[2021-02-27 10:42] bbenno opened #5126 "Request: reveal.js Icon"
**Brand Name:** reveal.js
**Website:** <https://revealjs.com/>
**GitHub:** <https://github.com/hakimel/reveal.js>
**Alexa rank:** [151,838](https://www.alexa.com/siteinfo/revealjs.com)

**Official resources for icon and color:**
SVG: <https://static.slid.es/reveal/logo-v1/reveal-black-text.svg>
![](https://static.slid.es/reveal/logo-v1/reveal-black-text.svg) ![](https://static.slid.es/reveal/logo-

[2021-02-27 11:06] #5126 closed

[2021-02-27 15:43] service-paradis commented on #3954
If you or someone else want to give this a try, you can go with it :)

[2021-02-27 15:49] service-paradis commented on #5056
I'm not convinced either right now. Like @PeterShaggyNoble, a Google trends comparison with a similar brand available in our collection would help. If there is not, I would wait before merging this one.

[2021-02-27 15:49] #4968 closed

[2021-02-27 16:27] service-paradis commented on #5102
I'm not convinced about using number of forks to measure popularity.
Since Eclipse Jeety is a WebServer, [I compared it using 2 brands we already have (Apache Tomcat and nginx) using Google Trends](https://trends.google.com/trends/explore?geo=US&q=%2Fm%2F0cdjtt,%2Fm%2F01chz8,%2Fm%2F02qft91). The comparison does not convince me about its popularity, but I'm not sure if the comparison is fair.

[2021-02-27 16:38] service-paradis commented on #4993
Is there any reason why you close this request @endermctv?

[2021-02-27 16:57] endermctv commented on #4993
I will re-open it and follow the contributing guidelines.

[2021-02-27 17:36] #3753 closed

[2021-02-27 17:39] #4901 closed

[2021-02-27 17:55] endermctv commented on #4993
@service-paradis

There it's done ! Hope you enjoyed my help for this repo.

[2021-02-28 08:55] rafi0101 opened #5132 "Request: Icinga Icon"
**Brand Name:** Icinga
**Website:** https://icinga.com/
**Alexa rank:** [262,337](https://www.alexa.com/siteinfo/icinga.com)

**Official resources for icon and color:** https://commons.wikimedia.org/wiki/File:Icinga_logo.svg

[2021-02-28 10:04] fbernhart commented on #5132
Hello @rafi0101, welcome to Simple Icons.

We're preferring official SVGs, which are provided by the brand themselves, over SVGs from Wikipedia/Wikimedia. Only if there is no official source, we're using Wikipedia/Wikimedia as source.

That being mentioned, I've searched their website but couldn't find any SVG version of their logo. I've found a [press page](https://icinga.com/company/press-media/

[2021-02-28 10:13] fbernhart commented on #5125
Hi @andersoncampos, welcome to Simple Icons.

I'm not familiar at all with ASP, but quoting [Wikipedia](https://en.wikipedia.org/wiki/Active_Server_Pages) it seems like ASP hasn't been maintained anymore since 2002:

Which leads me to assume, that ASP isn't popular enough to be added to Simple Icons. Or can you prove otherwise? Normally we're using the Alexa rank to determinate the popularity of a

[2021-02-28 13:03] HaloKo4 opened #5133 "Google cloud services"
Google Cloud has many services.
This is a total different realm than https://github.com/simple-icons/simple-icons/issues/4205
Note that Google Cloud has icon but also any one of it's services has it's own icon.

These services are highly popular.

Listing the most common (important ones):

- [x] BigQuery #9437
- [x] BigTable #9439
- [x] DataFlow #9450
- [x] DataProc #9451
- [x] Cloud Composer #945

[2021-02-28 15:21] rafi0101 commented on #5132
@fbernhart  I'll try it

[2021-02-28 17:55] adamrusted commented on #4287
I've been able to generate the below by tracing the PNG - it doesn't match up _perfectly_ but it looks like the PNG icon they use for their GitHub Organisation picture is cropped at the left slightly. If we want to run with this version, I'm happy to submit a PR.

![quantconnect](https://user-images.githubusercontent.com/1830867/109428210-fcc65b00-79ed-11eb-9760-99f91abf5020.png)

[code]

[2021-02-28 18:27] adamrusted commented on #3623
Just taking a quick look at this one, now we're looking to explicitly include some license information alongside our icon data - I've generated the below. Unsure of what hex suits this best - and am happy to play about with alternative treatments if need be.

![pycqa](https://user-images.githubusercontent.com/1830867/109429251-a14a9c00-79f2-11eb-9ae4-0c8e3ba06562.png)

[2021-02-28 22:50] eac792 opened #5136 "Better Business Bureau https://www.bbb.org/ https://www.alexa.com/siteinfo/bbb.org"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-01 07:20] adamrusted commented on #5136
Thanks for the request @eac792.
Could you please fill out the issue template in your original comment with the necessary information, including any logo/icon or colour resources you find?

[2021-03-01 11:09] PeterShaggyNoble commented on #5123
With no other metric to go on other than the Alexa rank then we're, unfortunately, going to have to rule this one as being out of scope. If it's Alexa rank ever does improve or you can think of another way of measuring its popularity then please leave a comment and we will revisit this.

[2021-03-01 11:09] #5123 closed

[2021-03-01 11:15] PeterShaggyNoble commented on #5102
[Comparing it with some other Eclipse products](https://trends.google.com/trends/explore?geo=US&q=%2Fg%2F11g8wsyqf4,%2Fm%2F0ndx2mr,%2Fm%2F0cdjtt) that are already in our collection makes a bit of a better case for including it.

[2021-03-01 11:33] PeterShaggyNoble commented on #5125
Thanks for the request, @andersoncampos - as an ASP guy, I appreciate this one 👍🏻

However, I would share some of @fbernhart's concerns regarding its popularity. I do know that there are plenty of legacy systems still running ASP, which is why MS haven't killed it off completely, but that alone, for me wouldn't be enough. A [Google Trends](https://trends.google.com/trends/) comparison with an exis

[2021-03-01 11:38] PeterShaggyNoble commented on #5133
Thanks for the request, @HaloKo4. Could you edit a checklist in, though, listing out the ones you require?

We're also going to need to figure out a way to assess the popularity of each. Maybe taking one that's about half as popular as Google Cloud itself and using that as our baseline - anything as or more popular than that gets in, anything less popular doesn't? Dunno if that would be a fair or

[2021-03-01 11:50] PeterShaggyNoble commented on #4287
Finally found [an SVG](https://cdn.quantconnect.com/web/i/docs/home/docs_using_qc_rev0.svg) on [this page](https://www.quantconnect.com/docs/home/home), @adamrusted.

[2021-03-01 11:55] PeterShaggyNoble commented on #3623
Looks like a good start to me, @adamrusted :+1:

@glynnis, would you mind throwing an eye over the above and letting us know if you're happy for us to run with that treatment?

[2021-03-01 13:19] HaloKo4 commented on #5133
@PeterShaggyNoble edited and added a list of the most common ones.
It is tricky to figure out popularity but it's important to understand that these services are used by companies thus one company can be 1000+ individuals using the service.
The ones I listed are highly popular they are the flag products of Google Cloud.

[2021-03-01 15:58] PeterShaggyNoble commented on #5133
Yep, that's definitely a good starting point, @HaloKo4, thanks 👍🏻 Let's run with those for now and if anyone needs any of the others, we'll assess them at the time.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and take some of these on yourself? If so, be sure to check them off your list as you start

[2021-03-01 16:03] #4937 closed

[2021-03-02 09:40] #4914 closed

[2021-03-02 10:01] #3536 closed

[2021-03-02 10:07] #4123 closed

[2021-03-02 10:59] #4993 closed

[2021-03-02 12:01] #5067 closed

[2021-03-02 12:51] #4444 closed

[2021-03-02 14:34] PeterShaggyNoble commented on #3731
Coming back to this one again with fresh eyes, I think 0.35 might be our best option - still somewhat visible at 24*24 without eating into the original too much. I'll hold off another couple of days for further feedback, though, before opening a PR.

[2021-03-02 17:46] YolandaHaynes commented on #5097
Hello! If this has not been assigned yet, I would like to try this. This will be my first time contributing to an open-source. Thank you.

[2021-03-02 17:49] PeterShaggyNoble commented on #5097
Absolutely, @YolandaHaynes, go for it 🙂 If you need any help, let us know.

[2021-03-02 17:56] PeterShaggyNoble commented on #3732
I think the second option is starting to grow on me, @ialexanderbrito as it's a bit more faithful to the original than the first 🤔

Anyone else have a preference or alternative suggestion?

[2021-03-02 18:36] fbernhart commented on #3732
Just wanted to point out that the provided Alexa rank is for gnome.org and not specific for the Gnome Terminal.

So what could we use to measure the popularity here?

[2021-03-02 21:16] sampl opened #5155 "Request: Google docs, forms, & slides"
**Brand Name:** Google slides, Google Docs, Google Forms
**Website:** https://docs.google.com/
**Alexa rank:** 1! (Only because they're subdomains of Google 🙃)

**Official resources for icon and color:**
https://ssl.gstatic.com/docs/common/material_common_sprite259.svg
https://logos.fandom.com/wiki/Google_Drive

Note: Google Sheets is [already added](https://github.com/simple-icons/simple-icons/bl

[2021-03-02 21:42] sampl opened #5156 "Request: GoToMeeting"
**Brand Name:** GoToMeeting
**Website:** GoToMeeting
**Alexa rank:** 753

**Official resources for icon and color:**
https://www.gotomeeting.com/

[2021-03-02 22:27] service-paradis commented on #5030
Closing due to inactivity

[2021-03-02 22:27] #5030 closed

[2021-03-03 09:50] PeterShaggyNoble commented on #3394
This will now be an alias of [GoToMeeting](https://github.com/simple-icons/simple-icons/issues/5156).

[2021-03-03 09:51] PeterShaggyNoble commented on #5156
Thanks for the request, @sampl.

I already have [a PR](https://github.com/simple-icons/simple-icons/pull/5154) open adding GoToWebinar for my own purposes so, as they share the same icon, I will repurpose that later on today to instead fulfil this request.

[2021-03-03 10:24] PeterShaggyNoble commented on #5155
Thanks for the request, @sampl. Could have sworn we already had Google Docs!

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take some or all of these on yourself? We used [this sprite](https://ssl.gstatic.com/docs/common/h_sprite53_grey_medium.svg) for the Google Sheets i

[2021-03-03 10:57] #4946 closed

[2021-03-03 11:23] PeterShaggyNoble commented on #3732
Good catch, @fbernhart; I completely overlooked that. Their repos don't seem to [attract a lot of stars](https://gitlab.gnome.org/GNOME?sort=stars_desc) so I don't think that's going to give us an accurate reflection of popularity. I don't know GNOME at all but I'd guess that as it seems to be the default terminal that may speak to its popularity? It doesn't fare _too_ badly against Windows Termin

[2021-03-03 14:26] #4926 closed

[2021-03-03 16:45] gastaldi opened #5161 "Request: Eclipse Che icon"
**Brand Name:** Eclipse Che
**Website:** https://www.eclipse.org/che/
**Alexa rank:** 10,028

**Official resources for icon and color:** https://www.eclipse.org/che/

[2021-03-03 16:50] PeterShaggyNoble commented on #3573
Reopening this and labelling it as "pending" so we remember to add an alias for it when #4797 is resolved.

[2021-03-03 17:32] PeterShaggyNoble commented on #5161
Thanks for the request, @gastaldi.

Note that the Alexa rank is for the entire Eclipse domain, rather than the Che page so we can't use that to assess its popularity. It does, though, have [~6.3k stars on GH](https://github.com/eclipse/che/) which means it _is_ within our scope.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/d

[2021-03-03 18:36] gastaldi commented on #5161
Thanks for the quick reply @PeterShaggyNoble.  By following the guidelines, I managed to reduce the image to the file below, but I am struggling to make it monochromatic, as leaving it all black will not look nice:

[eclipse-che.svg.zip](https://github.com/simple-icons/simple-icons/files/6078299/eclipse-che.svg.zip)

[2021-03-03 18:47] gastaldi commented on #5161
I think I did it:

[code]

[2021-03-03 19:11] gastaldi commented on #5161
There you go: https://github.com/simple-icons/simple-icons/pull/5163

[2021-03-04 11:16] #4992 closed

[2021-03-04 11:49] LittleJake opened #5166 "Request: MediaTek icon"
**Brand Name: MediaTek**
**Website: https://www.mediatek.com/**
**Alexa rank: 50,019**

**Official resources for icon and color: https://corp.mediatek.com/news-events/press-library**

[2021-03-04 11:51] PeterShaggyNoble commented on #5166
Thanks for the request, @LittleJake

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and take this one on yourself?

[2021-03-04 11:57] LittleJake commented on #5166
Thanks, @PeterShaggyNoble. My pleasure!
I'll do my best.

[2021-03-04 12:39] #3537 closed

[2021-03-04 14:01] #4287 closed

[2021-03-04 15:48] PeterShaggyNoble commented on #3731
Well, that was fiddlier than it first seemed! Had to do a fair bit of manual adjustment. Can someone throw an eye over this before I open put together a PR? To help with the comparison to the original, try changing the coordinates & dimensions of the path to:
- X: 4.440
- Y: 0.091
- W: 15.100
- H: 23.838

[code]

[2021-03-04 17:36] #4789 closed

[2021-03-05 05:49] EdMaxi opened #5179 "WHMCS Icon"
**Brand Name:** WHMCS
**Website:** https://www.whmcs.com/
**Alexa rank:** [7,282](https://www.alexa.com/siteinfo/whmcs.com)

**Official resources for icon and color:** https://www.whmcs.com/media/

[2021-03-05 09:42] PeterShaggyNoble commented on #5179
Thanks for the request, @EdMaxi

Unfortunately, [their brand guidelines](https://www.whmcs.com/download/1249/brand-guidelines) prohibit the use of their logo in monochrome so we won't be able to add this one.

[2021-03-05 09:42] #5179 closed

[2021-03-05 13:12] #3988 closed

[2021-03-05 16:39] #5120 closed

[2021-03-06 00:13] tschaffter opened #5188 "Request: Synapse Icon"
**Brand Name:** Synapse
**Website:** https://synapse.org/
**Alexa rank:** [727,373](https://www.alexa.com/siteinfo/synapse.org)

**Official resources for icon and color:**

https://www.synapse.org/images/logo.svg

[2021-03-06 11:09] Simolation commented on #4941
I just had time to add the Enpass icon and now I want to make the pull request, but I was wondering how to make this nice preview image, everyone adds to their pull requests

[2021-03-06 20:11] julianrinaldi opened #5191 "Request: Denon Icon"
**Brand Name:** Denon
**Website:** https://www.denon.com/en-us/
**Alexa rank:** 51,955

**Official resources for icon and color:**
https://en.wikipedia.org/wiki/File:Denon_logo.svg

[2021-03-06 20:35] fbernhart commented on #5191
Thanks for your request @julianrinaldi.

Whenever possible, we prefer to use logos that are provided by the brands themselves. And only if there is no official SVG version, we take the one from Wikipedia.

That being said, there is [this SVG](https://www.denon.com/assets-denonmvp/dist/images/denon-logo.svg) in the header of their [website](https://www.denon.com).

As color I'd suggest using `#0B13

[2021-03-06 20:44] #5010 closed

[2021-03-06 21:13] #5023 closed

[2021-03-06 21:25] #5025 closed

[2021-03-06 23:20] #5156 closed

[2021-03-06 23:29] #4943 closed

[2021-03-06 23:42] #4967 closed

[2021-03-07 02:03] #5161 closed

[2021-03-07 11:33] foo-dogsquared commented on #5056
Here's a [Google trends of Wayland with Xorg](https://trends.google.com/trends/explore?q=%2Fm%2F05zyyjy,%2Fm%2F02mln1).

[2021-03-07 14:52] #4932 closed

[2021-03-07 19:19] #5104 closed

[2021-03-07 23:52] NikAbrams opened #5200 "flex"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-08 05:35] fbernhart commented on #5200
@NikAbrams thanks for your request and welcome to Simple Icons.

In order for your request to be valid, you have to provide the needed information from the issue template (brand name, website, Alexa rank etc.)

[2021-03-08 10:29] PeterShaggyNoble opened #5202 "Update Disroot"
**Brand Name:** [Disroot](https://disroot.org/)
**Alexa rank:** [~423k](https://www.alexa.com/siteinfo/disroot.org)
**Official resources for icon and color:** No vector file(s) that we've been able to find yet. [This PDF](https://git.disroot.org/Disroot/Website/raw/branch/master/pages/annual_reports/AnnualReport2019.pdf) looks to have a decent raster version in it that might offer a good starting

[2021-03-08 11:41] PeterShaggyNoble commented on #5056
That looks reasonable to me, @foo-dogsquared and looks to have been closing ground with Xorg over the past year. What do you think, @service-paradis?

[2021-03-08 11:56] kishjogia opened #5204 "kit.co"
Brand Name: Kit
Website: https://kit.co/
Alexa rank: 7,936

Official resources for icon and color: support@kit.co

[2021-03-08 12:03] PeterShaggyNoble commented on #5204
Thanks for the request, @kishjogia.

There are some brand guidelines available [here](https://help.kit.co/en/articles/1246030-what-are-your-brand-guidelines) which allow us to use the boxed "K" instead of the full wordmark. I haven't found a vector version of it yet, though, but it _should_ be straightforward enough to recreate.

[2021-03-08 12:08] #5027 closed

[2021-03-08 13:17] #3324 closed

[2021-03-08 17:06] #3691 closed

[2021-03-08 17:48] PeterShaggyNoble commented on #5040
Are you still planning to take this one on, @NiedsonEmanoel?

[2021-03-08 17:49] PeterShaggyNoble commented on #5050
Are you still planning to take this one on, @sai-avula?

[2021-03-08 18:31] pepepej opened #5208 "Disney"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-08 18:33] PeterShaggyNoble commented on #5208
Thanks for the request, @pepepej.
However, for legal reasons, we cannot add any Disney icons. Please see #2309 for more details.

[2021-03-08 18:33] #5208 closed

[2021-03-08 19:27] service-paradis commented on #5056
Thank you @foo-dogsquared! I agree with @PeterShaggyNoble.

Would you like to give it a try yourself and submit a pull request while following our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md)?

[2021-03-08 22:21] MarcE85 commented on #4633
Hey, this look really nice. Thx for your work.

[2021-03-09 12:09] PeterShaggyNoble commented on #5136
From [this page](https://www.bbb.org/western-michigan/for-businesses/for-businesses/using-bbb-logos/) and [this one](https://www.bbb.org/western-michigan/for-businesses/for-businesses/using-bbb-logos/name-logo-policy/) it looks like this is a licensed logo with accreditation requirements we wouldn't be able to meet. Even if we could, the license is non-transferrable so we would not be able to make

[2021-03-09 12:09] #5136 closed

[2021-03-09 12:14] adamrusted commented on #2587
I'd say `LOT Polish Airlines` as it's used in the `<title>` tag. It's the company's english registered name - so safest to go with that.

Also think the header of the magazine is the _better_ icon for our collection, though the thin border may be _too_ thin for the previewer. Could we compromise and use the thicker `O` from the logo wordmark?

[2021-03-09 17:36] jamesybeeee opened #5210 "Lifx icon"
Brand: Lifx
Website: lifx.com
Alexa Rank: 106,120

**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-10 00:17] YashTotale opened #5212 "Request: Docusaurus Icon"
**Brand Name:** Docusaurus
**Website:** https://v2.docusaurus.io/
**Alexa rank:** 71,877

**Official resources for icon and color:** No official resources, but [here's the icon](https://docusaurus.io/img/docusaurus.svg)

[2021-03-10 12:00] PeterShaggyNoble commented on #5212
Thanks for the request, @YashTotale.

This one may be tricky to convert to monochrome. Below was my first immediate thought when I saw it but it doesn't really work. Inverting the document and adding a cut-out between it and the body may work better.

![](https://user-images.githubusercontent.com/15157491/110626123-3dfdfe00-8198-11eb-910f-717e45aec4fb.png)

[2021-03-10 15:12] #4965 closed

[2021-03-10 16:51] CarpenterBug opened #5214 "Scrum.org"
**Brand Name:** Scrum.org
**Website:** https://www.scrum.org/
**Alexa rank:** [16,434](https://www.alexa.com/siteinfo/scrum.org)

**Official resources for icon and color:**
https://www.scrum.org/scrumorg-trademarks-and-copyrights

[2021-03-10 17:27] DanielBarbakadze opened #5215 "Request: Kubuntu"
You have logos for Ubuntu and Lubuntu but not for Kubuntu. Please Add it too.

**Brand Name:** Kubuntu
**Website:** https://kubuntu.org/
**Alexa rank:** [232,399](https://www.alexa.com/siteinfo/kubuntu.org)

**Official resources for icon and color:** [Kubuntu Official Icon](https://commons.wikimedia.org/wiki/File:Kubuntu_logo.svg)

Thanks.

[2021-03-10 17:34] PeterShaggyNoble commented on #2587
Are you taking that one, @adamrusted? I think I've had my fill of these by now! 😆

[2021-03-10 17:35] adamrusted commented on #2587
Sure, why not.

[2021-03-10 17:53] PeterShaggyNoble commented on #5215
@DanielBarbakadze, can you please edit the issue template back into your request and provide all the required information it asks for.

[2021-03-10 18:16] DanielBarbakadze commented on #5215
Done

[2021-03-10 18:18] adamrusted commented on #5215
Thanks for updating this @DanielBarbakadze - though for a source we should use the artwork available from the footer of their website (listed as Kubuntu Artwork". Would you like to take a look at contributing this yourself, following our [contribution guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md)?

[2021-03-10 18:20] #5036 closed

[2021-03-10 18:23] DanielBarbakadze commented on #5215
Yes, pretty sure. I would like to do this myself :)

[2021-03-10 18:29] DanielBarbakadze commented on #5215
Unfortunately, I'm not available this time.

[2021-03-11 04:05] noahhendlish commented on #5215
Hey, I just updated it using the Kubuntu Artwork from the website! Creating pull request right now.

[2021-03-11 08:54] #2687 closed

[2021-03-11 09:10] gizmecano commented on #3567
By the way, are there any progress on this particular icon?

[2021-03-11 12:14] fbernhart commented on #3567
@gizmecano Thanks for reminding me! To be honest, I've forgotten about this one.

I'll create a PR in the next few days.

[2021-03-11 12:55] PeterShaggyNoble commented on #4983
Going to reach out to @keithamus here as the most recently active member of the of the @chaijs team in their primary repo to see if they can help us out with the provision of vector files or point us in the right direction.

[2021-03-11 13:11] PeterShaggyNoble commented on #4978
🤔 Dunno if this is gonna work. Perhaps some additional cut-outs between the different colours? Or will that affect the integrity of the icon too much?

![](https://user-images.githubusercontent.com/15157491/110792252-0d3ac900-826b-11eb-8644-d6a13fc51f93.png)

[2021-03-11 13:18] PeterShaggyNoble commented on #4978
With additional cut-outs:

![](https://user-images.githubusercontent.com/15157491/110793213-44f64080-826c-11eb-9db4-11e608f50172.png)

[2021-03-11 13:30] keithamus commented on #4983
Here you are

[![](https://raw.githubusercontent.com/gist/keithamus/3d8cfbaeddf8bdf5f7cd94a3bdae0934/raw/63ca295f3aa7e1b94b598d84dfe0330383497a8c/Chai%20Logo%20(C).svg)](https://raw.githubusercontent.com/gist/keithamus/3d8cfbaeddf8bdf5f7cd94a3bdae0934/raw/63ca295f3aa7e1b94b598d84dfe0330383497a8c/Chai%20Logo%20(C).svg)

[![](https://gist.githubusercontent.com/keithamus/3d8cfbaeddf8bdf5f7cd94a3bdae0

[2021-03-11 13:35] adamrusted commented on #4983
Thanks for these @keithamus - is there a preferred version for use as a (generally) smaller-sized icon?

[2021-03-11 13:36] keithamus commented on #4983
Yes the "C" logo is for smaller sizes <64px. The full "chai" logo is for anything above.

[2021-03-11 13:38] adamrusted commented on #4983
Amazing, thanks for your help on this! I'd say we should just stick to the `C` version, as most of our users will be using it for https://github.com/badges/shields or similar implementations.

[2021-03-11 13:40] keithamus commented on #4983
Just FYI the red is `#A30701` and the tan (primary) is `#FFEBAE`. The logo background gradient goes from the primary colour up to `#FFFEFA`. The typeface is `Redressed`.

[2021-03-11 17:19] rivera10 opened #5223 "Request: bioRxiv icon"
**Brand Name:** bioRxiv
**Website:** https://www.biorxiv.org/
**Alexa rank:** 22,141

**Official resources for icon and color:**
I could not find an official page with the logo and color information.
Will these work instead?
[Option 1](https://www.cshl.edu/covid-19-machine-learning-effort-preprints-are-key/)
[Option 2](https://www.biorxiv.org/sites/default/files/site_logo/bioRxiv_logo_homepage.png

[2021-03-11 17:27] PeterShaggyNoble opened #5224 "Update Super User?"
**Brand Name:** Super User
**Official resources for icon and color:** https://cdn.sstatic.net/Sites/superuser/Img/logo.svg

While our current icon lines up perfectly with [the logo](https://cdn.sstatic.net/Sites/superuser/Img/logo.svg) on [their website](https://superuser.com/), the versions available at the link above are slightly wider, as you can see below. As that link is providing official br

[2021-03-11 17:52] PeterShaggyNoble commented on #4978
Slightly thinner cut-outs between the coloured panels might work better:

![](https://user-images.githubusercontent.com/15157491/110831746-7550d580-8292-11eb-80dd-1dfb112721ba.png)

[2021-03-11 18:21] service-paradis commented on #4978
Really love the last one! Good job @PeterShaggyNoble!

[2021-03-12 00:26] YashTotale commented on #3556
This icon would be really helpful 👍

[2021-03-12 14:34] PeterShaggyNoble commented on #3692
2 months later and they've shown no sign of recovery - down at ~770k now - so I'm going to close this one out. Sorry, @runxel.

[2021-03-12 14:34] #3692 closed

[2021-03-12 14:37] PeterShaggyNoble commented on #2587
With #5221, that's the list complete so I'm going to close this out.

Another enjoyable collaborative effort 🙂 Thanks, @runxel & @adamrusted 👍🏻

What's next, @runxel?! 😆

[2021-03-12 14:37] #2587 closed

[2021-03-12 15:49] PeterShaggyNoble commented on #4916
A month later and still no sign of that press kit so let's proceed without it. The next question is: Do we add this as "e Foundation", which is the parent organisation, or as "/e/", which is the actual brand? I vote the latter. Also unsure on the colour. Black maybe?

[2021-03-12 15:56] PeterShaggyNoble commented on #3410
@tacaswell, we have recently added support for adding brand/trademark guidelines and licensing info to an icon's JSON data to address and have a disclaimer file [in the works](https://github.com/simple-icons/simple-icons/pull/4912) if those thing would help assuage your lawyer's fears.

[2021-03-12 15:59] PeterShaggyNoble commented on #3385
Going to ping @brianwarner, who contributed all the files to the OpenJS repo linked above, to see if they can provide with a vector version of the updated logo or point us in the right direction.

[2021-03-12 18:36] dhruvkb opened #5230 "Sphinx Doc"
**Brand Name:** Sphinx Doc
**Website:** https://www.sphinx-doc.org/en/master/
**Alexa rank:** 202,635

**Official resources for icon and color:** Image from site header: https://www.sphinx-doc.org/en/master/_static/sphinxheader.png
![site_header](https://www.sphinx-doc.org/en/master/_static/sphinxheader.png)

[2021-03-12 19:25] PeterShaggyNoble commented on #5230
Thanks for the request, @dhruvkb.

There's an SVG [here](https://github.com/sphinx-doc/sphinx/blob/3.x/doc/_static/favicon.svg) if you'd like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and give this a try yourself.

[2021-03-12 21:29] PaulRaffer opened #5231 "Request: Purism Icon"
**Brand Name:** Purism
**Website:** https://puri.sm/
**Alexa rank:** 100,119

**Official resources for icon and color:** https://puri.sm/wp-content/themes/wp-purism/images/brand.svg

[2021-03-13 02:40] sid-r-singh opened #5232 "Request: Nikon"
**Brand Name:Nikon**
**Website:https://www.nikon.com/**
**Alexa rank:68,087**

**Official resources for icon and color:**

[2021-03-13 02:42] sid-r-singh opened #5233 "Request: Panasonic"
**Brand Name:Panasonic**
**Website:https://www.panasonic.com/**
**Alexa rank:4,371**

**Official resources for icon and color:**

[2021-03-13 02:46] sid-r-singh opened #5234 "Request : Blackmagic Design"
**Brand Name:Blackmagic Design**
**Website:https://www.blackmagicdesign.com**
**Alexa rank:4,032**

**Official resources for icon and color:**

[2021-03-13 05:47] dhruvkb commented on #5230
I actually tried this once before (#4437) but was never able to get the decimal precision right. I'll wait a couple of weeks to see if someone wants to take a stab at it first and circle back to it if no one has worked on it by then.

[2021-03-13 10:41] mikestopcontinues opened #5236 "Request: BookBub"
**Brand Name:** BookBub
**Website:** https://www.bookbub.com/welcome
**Alexa rank:** 8848

https://www.alexa.com/siteinfo/bookbub.com

**Official resources for icon and color:**
https://insights.bookbub.com/bookbub-follow-bookmark-buttons-for-authors-websites/

[2021-03-13 12:55] fbernhart commented on #5231
Just a side note:

Not sure where you got the Alexa rank from, but the actual rank is at [97,578](https://www.alexa.com/siteinfo/puri.sm).

[2021-03-13 19:55] fbernhart commented on #3592
Finally got back to this one. Here are two more options: Cut-out round one stone or around both.

Any preferences from the other @simple-icons/maintainers for one of the four versions?

![arangodb_in](https://user-images.githubusercontent.com/70264417/111042556-39f30a00-843e-11eb-85f1-a3b6617566a4.png)

![arangodb_in2](https://user-images.githubusercontent.com/70264417/111042563-3eb7be00-843e-11eb

[2021-03-13 20:06] #4941 closed

[2021-03-13 21:47] diegobot1977 opened #5238 "Request: ABC"
**Name:** ABC (abbreviated as American Broadcasting Company)
**Website:** https://www.abc.com/
**Color:** `#000000`
**Official resources for icon and color:** see below on Google: https://www.google.com/search?q=ABC+logo&tbm=isch

[2021-03-13 22:02] diegobot1977 opened #5239 "Request: NBC"
**Name:** NBC
**Website:** https://www.nbc.com/
**Color:** Some of these colors are: `#fcb711`, `#f37021`, `#cd004c`, `#6460aa`, `#0089d0`, `#0db14e`, and `#000000`.
**Official resources for icon and color:** https://www.google.com/search?q=NBC&tbm=isch

[2021-03-13 22:06] diegobot1977 opened #5240 "Request: FOX"
**Name:** FOX
**Website:** https://www.fox.com/
**Color:** `#000000`
**Official resources for icon and color:** https://www.google.com/search?q=FOX+TV&tbm=isch

[2021-03-13 22:08] diegobot1977 opened #5241 "Request: CW"
**Name:** CW (or The CW)
**Website:** https://www.cwtv.com/
**Color**: see below in The CW homepage
**Official resources for icon and color**: https://www.google.com/search?q=CW+logo&tbm=isch

[2021-03-13 22:36] fbernhart commented on #5238
@diegobot1977 Thanks for this request (and all the others).

Just two quick notes:
It would be helpful if you could include the Alexa rank of the brands into your requests. Basically it's just visiting the site https://www.alexa.com/siteinfo, entering the website you want to get the Alexa rank for and then adding this number to your icon request. For abc.com it would be 6,620, according to https:/

[2021-03-14 11:38] adamrusted opened #5251 "Full Source Review"
I've started going through our collection a letter at a time using [_data/simple-icons.json](https://raw.githubusercontent.com/simple-icons/simple-icons/develop/_data/simple-icons.json) file to check our sources still match up. I'd appreciate any help in going through the list, to try and get through as many as possible ready for v5.0.0!

- [x] 0-9 (7 icons) @adamrusted
- [x] A (177 icons) @adamru

[2021-03-14 13:50] gizmecano commented on #3567
Thanks for your attention. I hope your pull request #5237 will be merged soon.

[2021-03-14 15:59] adamrusted commented on #5232
Thanks for your request @sid-r-singh!
Would you like to contribute this icon yourself, following the [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md)?

Looking at their website, there's an embedded SVG in the header which we can use. I'd personally set the colour to the yellow used in the SVG - though that's open for debate if others would prefer

[2021-03-14 16:02] adamrusted commented on #5234
Thanks for your request @sid-r-singh!
Would you like to contribute this icon yourself, following the [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md)?

There's the SVG logo available in the header, which (looking at their favicon) we can use just the three squares without the fill. I'd therefore recommend we use the orange from the stroke as the

[2021-03-14 16:07] adamrusted commented on #5001
@PeterShaggyNoble I would be tempted to say we just add `PUBG`. As far as I'm aware, it's just a 1:1 mobile port of the 'main' game.

[2021-03-15 10:13] PeterShaggyNoble commented on #5223
Thanks for the request, @rivera10. Couldn't find any vector artwork either so we'll need to recreate this one manually. Being more familiar with the brand and in the absence of any guidelines to go on, do you think we could use just the "bR" as they do in [their favicon](https://www.biorxiv.org/sites/default/files/images/favicon.ico) - would it be a recognisable representation of their brand?

[2021-03-15 10:22] PeterShaggyNoble commented on #5233
Thanks for the request, @sid-r-singh.

The only official vector artwork I've been able to find so far are the PDFs on [this page](https://lstr.panasonic.com/en/media-center/corporate-identity-guide-8/) but they're going to need a lot of cleaning up. The versions available in the few PDF _documents_ I've found so far, such as [their annual report](https://www.panasonic.com/global/corporate/ir/annua

[2021-03-15 10:27] PeterShaggyNoble commented on #5230
Had a quick look at the file above now that I'm back at my computer and it _looks_ to me like it's been automatically converted from a raster file as there are a number of imperfections that will need to be cleaned up as best we can. Or it may be easier for someone to start from scratch using the PNG you provided.

[2021-03-15 10:42] PeterShaggyNoble commented on #5236
Thanks for the request, @mikestopcontinues.

If you're already subscribed to their newsletter, could you download the files from the page you provided and upload them here, please, to save a contributor from having to subscribe? From the details available in the page, I suspect that all the files available there may be PNG, not SVG.

As to the treatment, seeing as they allow for it, I think we sho

[2021-03-15 10:44] PeterShaggyNoble commented on #5231
Thanks for the request, @PaulRaffer.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and try this one yourself, using just the rectangle as permitted on [this page](https://puri.sm/pr/images/)?

[2021-03-15 10:57] PaulRaffer commented on #5231
You are right. I copied the wrong number. Sorry!

[2021-03-15 11:09] PeterShaggyNoble commented on #5239
Thanks for the request, @diegobot1977.

No official vector version of Just the NBC logo available that I can find as yet but there are SVGs available in the header and footer of https://www.nbcsports.com/ and there are a few [here](https://en.wikipedia.org/wiki/NBC_logo) that we could use.

Would you like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-i

[2021-03-15 11:27] PeterShaggyNoble commented on #5240
Thanks for the request, @diegobot1977.

Just a note on this: Fox Broadcasting Company was _not_ part of the Disney acquisition in 2019, it is a subsidiary of the Fox Corporation which was established in the wake of the acquisition to manage the assets Disney didn't pick up so we _can_ add this one. Fox Networks Group, which oversees the operations of the Fox television stations outside the US _is_

[2021-03-15 11:29] PeterShaggyNoble commented on #5238
Thanks for the request, @diegobot1977. However, as ABC is a Disney company, we, unfortunately, will not be able to add this one. See #2309 for more details.

[2021-03-15 11:29] #5238 closed

[2021-03-15 11:31] PeterShaggyNoble commented on #3592
Yep, I'd agree with @adamrusted.

[2021-03-15 12:09] #4975 closed

[2021-03-15 12:16] #4924 closed

[2021-03-15 12:23] PeterShaggyNoble commented on #5232
I'd agree with yellow.

See also: https://www.nikon.com/about/corporate/brand/brand_symbol/

[2021-03-15 12:29] adamrusted commented on #5188
See https://github.com/simple-icons/simple-icons/pull/5189#issuecomment-799380034 for comment.

[2021-03-15 12:29] #5188 closed

[2021-03-15 12:43] #5021 closed

[2021-03-15 15:08] rivera10 commented on #5223
Hello @PeterShaggyNoble,
Yes, the "bR" is fine.
Ramon

[2021-03-15 16:25] #5117 closed

[2021-03-15 17:02] brianwarner commented on #3385
Thanks @PeterShaggyNoble, I'll defer to @jlipps as to whether we have up-to-date Appium assets at https://github.com/openjs-foundation/artwork#appium and how they compare to https://appium.org

Jonathan, the assets on the artwork repo were transferred to me by Kris when JSF merged, could you please have a look and let me know if I've got the wrong versions up there? If so, it would you be able to

[2021-03-15 17:23] PeterShaggyNoble commented on #3385
Thanks for taking the time to respond, @brianwarner; it's much appreciated 👍🏻

[2021-03-15 17:53] service-paradis opened #5277 "Update Open Source Initiative icon"
**Brand Name:**  Open Source Initiative
**Official resources for icon and color:**

- https://opensource.org/logo-usage-guidelines

According to their [guidelines](https://opensource.org/logo-usage-guidelines#Trademark_Symbol), we should add the Trademark symbol (`®`) for this icon.

![image](https://user-images.githubusercontent.com/12817388/111198144-a0d70700-8595-11eb-8bbd-ae82b2cd925d.png)

[2021-03-15 18:33] illuminator3 opened #5278 "x86 assembly icon request"
**Brand Name:** x86 assembly
**Website:** -/-
**Alexa rank:** -/-

**Official resources for icon and color:** -/-

[2021-03-15 18:36] fbernhart commented on #5278
Thanks for your request @illuminator3. However, we can only add a brand, if there is an **official** icon for it and if it has a certain popularity.

As far as I'm aware of, there isn't any official icon for x86 assembly. Unless you can prove otherwise, we have to close this issue.

[2021-03-15 20:27] #5241 closed

[2021-03-16 01:16] service-paradis opened #5282 "Update R icon?"
I wanted to take a look at the letters `R` for #5251. The first one is [`R`](https://www.r-project.org/logo/). I though it would look a little bit better with gaps. What do other @simple-icons/maintainers think?

**Brand Name:** R
**Official resources for icon and color:**

#### Current treatment
![image](https://user-images.githubusercontent.com/12817388/111241360-4eb4d680-85d3-11eb-908b-c8d6ddfc

[2021-03-16 07:30] Sugam1111 opened #5283 "Request: Gremlin Icon"
**Brand Name:** Apache TinkerPop Gremlin
**Website:** https://tinkerpop.apache.org/
**Alexa rank:** [2,214](https://www.alexa.com/siteinfo/apache.org) (subdomain of apache)

**Official resources for icon and color:**
https://tinkerpop.apache.org/docs/current/images/gremlin-logo.png
https://tinkerpop.apache.org/docs/current/images/gremlin-running.png

[2021-03-16 11:04] PeterShaggyNoble commented on #5282
That's definitely much clearer, especially as the size increases. And it looks like we'd be covered from this line of the license:

[2021-03-16 11:28] #4845 closed

[2021-03-16 11:38] PeterShaggyNoble commented on #5241
Thanks for the request, @diegobot1977. Did you mean to close the issue out, though?

[2021-03-16 11:50] PeterShaggyNoble commented on #5283
Thanks for the request, @Sugam1111.

As you point out the Alexa rank is for Apache itself so we can't go by that. So the next metric we look at is GitHub stars, where we have a cut-off of 5000. Unfortunately, Tinkerpop as a whole only has [~1.3k stars](https://github.com/apache/tinkerpop) and, with Gremlin just being a part of it, it looks like this one is going to be beyond our scope.

Before we

[2021-03-16 12:24] PeterShaggyNoble commented on #4797
OK, so, after letting this sit for a while, I have one last suggestion before we proceed to PRS: Would `alt`(ernative) offer better calrity than `dup` for that type? And maybe `int`(ernational(ised)) instead of `loc` as well?

[2021-03-16 15:53] kishan-dhankecha opened #5290 "Request: CorelDRAW"
**Brand Name:** CorelDRAW
**Website:** [CorelDRAW](https://www.coreldraw.com/en/)
**Alexa rank:** #7209

**Official resources for icon and color:**
&nbsp;&nbsp;&nbsp;[Official Graphic from their website](https://www.coreldraw.com/static/cdgs/images/home/coreldraw-2021-wm.png)

[2021-03-16 16:03] PeterShaggyNoble commented on #5290
Thanks for the request, @Kishan-Dhankecha.

There are some PDFs available [here](https://www.coreldraw.com/en/pages/11800013.html) with vector versions in them if you'd like to have a read through [our contributing guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) and give this a try yourself.

[2021-03-16 17:56] PeterShaggyNoble commented on #3556
Coming back to this one and having had a closer look at Google Materialised one, I don't think we should necessarily follow its lead, as it's pretty bad, even missing the bottom right circle. So let's decide for ourselves whether we go with or without cut-out. With would keep things consistent with a lot of other icons but doesn't look great at larger sizes.

![](https://user-images.githubusercont

[2021-03-16 19:14] ericcornelissen commented on #4797
I guess that depends on what it should actually be used for :thinking: If it is intended for two brands with the same icon, I think "dup" is clearer, as "alt" suggests (to me) it is an alternative name - which "aka" is for I would say. On that note, I would be fine changing "aka" into "alt".

As per [the "definition" on Wikipedia](https://en.wikipedia.org/wiki/Internationalization_and_localization

[2021-03-16 19:21] ericcornelissen commented on #3732
Regarding the treatment, I prefer the second over the first but either works for me.

Regarding the popularity, to the best of my knowledge if someone is using GNOME they're using GNOME terminal by default, and given that most Linux users use terminals I would say that if GNOME is included, GNOME terminal is popular enough by extension. Regarding the Google Trends, I'd wager most GNOME terminal us

[2021-03-16 22:14] diegobot1977 opened #5293 "Remove Pingup icon"
**Brand Name:** Pingup
**Official resources for icon and color:** Defunct

The Pingup icon needs to remove because Pingup is defunct

[2021-03-16 22:23] diegobot1977 opened #5294 "Request: Adyen"
**Brand Name:** Adyen
**Website:** https://www.adyen.com/
**Color:** `#0fbc53`
**Official resources for icon and color:** https://www.google.com/search?q=Adyen&tbm=isch

[2021-03-16 22:49] diegobot1977 opened #5295 "Request: NZXT"
**Brand Name:** NZXT
**Website:** https://www.nzxt.com/
**Color:** `#51007a`, or how about a black thing (`#000000`)?
**Official resources for icon and color:** (https://www.google.com/search?q=NZXT&tbm=isch)

[2021-03-16 23:04] diegobot1977 opened #5296 "Request: Merck"
**Brand Name:** Merck
**Website:** https://www.merck.com/
**Color:** `#007972`
**Official resources for icon and color:** https://www.google.com/search?q=Merck&tbm=isch

[2021-03-16 23:07] diegobot1977 opened #5297 "Request: Clorox"
**Brand Name:** Clorox
**Website:** https://www.clorox.com/
**Color:** `#e1211c`, `#cbab21`, or `#0038a5`?
**Official resources for icon and color:** https://www.google.com/search?q=Clorox+logo&tbm=isch

[2021-03-17 05:49] fbernhart commented on #5295
Alexa rank: [18,313](https://www.alexa.com/siteinfo/nzxt.com)

[2021-03-17 05:54] fbernhart commented on #5294
@diegobot1977 Thanks for your request. Can you please include the Alexa rank in your requests the next time?

Alexa rank: [1,803](https://www.alexa.com/siteinfo/adyen.com)

[2021-03-17 05:56] fbernhart commented on #5296
@diegobot1977 Thanks for your request. Can you please include the Alexa rank in your requests the next time?

Alexa rank: [42,311 ](https://www.alexa.com/siteinfo/merck.com)

[2021-03-17 05:57] fbernhart commented on #5297
@diegobot1977 Thanks for your request. Can you please include the Alexa rank in your requests the next time?

Alexa rank: [103,464](https://www.alexa.com/siteinfo/clorox.com)

[2021-03-17 08:22] coyjennings opened #5298 "TypeORM"
**Brand Name:** TypeORM
**Website:** https://typeorm.io/
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-17 08:27] trevinomatt opened #5299 "Koa"
**Brand Name:** Koa - next generation web framework for node.js
**Website:** https://koajs.com/
**Alexa rank:**

**Official resources for icon and color:** #33333d

[2021-03-17 10:56] PeterShaggyNoble commented on #5298
Duplicate of #3436

[2021-03-17 10:56] #5298 closed

[2021-03-17 12:06] fbernhart commented on #5299
Alexa rank: [310,631](https://www.alexa.com/siteinfo/koajs.com)

[2021-03-17 13:49] diegobot1977 commented on #5295
Ok.

[2021-03-17 13:50] diegobot1977 commented on #5239
Ok.

[2021-03-17 14:02] diegobot1977 opened #5300 "Request: Abbott"
**Brand Name:** Abbott
**Website:** https://www.abbott.com/
**Color:** `#008fc7`
**Official resources for icon and color:** https://www.google.com/search?q=Abbott&tbm=isch

[2021-03-17 14:07] diegobot1977 opened #5301 "Request: GSK"
**Brand Name:** GSK (or something to be "GlaxoSmithKline")
**Website:** https://www.gsk.com/
**Color:** `#f36633`
**Official resources for icon and color:** https://www.google.com/search?q=GSK&tbm=isch

[2021-03-17 14:14] diegobot1977 opened #5302 "Request: Avast"
**Brand Name:** Avast
**Website:** https://www.avast.com/
**Color:** `#ff7800`
**Official resources for icon and color:** https://www.google.com/search?q=Avast&tbm=isch

[2021-03-17 14:18] diegobot1977 opened #5303 "Request: JUCE"
**Brand Name:** JUCE
**Website:** https://juce.com/
**Color:** `#64a843`
**Official resources for icon and color:** https://www.google.com/search?q=JUCE&tbm=isch

[2021-03-17 14:27] diegobot1977 opened #5304 "Request: HSBC"
**Brand Name:** HSBC
**Website:** https://www.hsbc.com/
**Color:** `#db0012`
**Official resources for icon and color:** https://www.google.com/search?q=HSBC&tbm=isch

[2021-03-17 14:31] diegobot1977 opened #5305 "Request: Framework7"
**Brand Name:** Framework7
**Website:** https://framework7.io
**Color:** `#ee350f`
**Official resources for icon and color:** https://www.google.com/search?q=Framework7&tbm=isch

[2021-03-18 06:23] fbernhart commented on #5300
The missing Alexa rank: [34,117](https://www.alexa.com/siteinfo/abbott.com)

[2021-03-18 06:24] fbernhart commented on #5301
The missing Alexa rank: [27,985](https://www.alexa.com/siteinfo/gsk.com)

[2021-03-18 06:25] fbernhart commented on #5302
The missing Alexa rank: [1,715](https://www.alexa.com/siteinfo/avast.com)

[2021-03-18 06:29] fbernhart commented on #5303
The missing Alexa rank: [344,676](https://www.alexa.com/siteinfo/juce.com)

[2021-03-18 06:31] fbernhart commented on #5304
The missing Alexa rank: [5,525](https://www.alexa.com/siteinfo/hsbc.com)

[2021-03-18 06:33] fbernhart commented on #5305
The missing Alexa rank: [53,923](https://www.alexa.com/siteinfo/framework7.io)

[2021-03-18 17:48] mikestopcontinues commented on #5236
Hey, judging by their icon set, I think you're right, just the "BB," sans circle. Unfortunately, they are all pngs, but if you like, I'm willing to do a conversion.

[bookbub-full-icon-sets.zip](https://github.com/simple-icons/simple-icons/files/6166207/bookbub-full-icon-sets.zip)

[2021-03-18 19:46] diegobot1977 commented on #5304
Ok!!!

[2021-03-18 19:46] diegobot1977 commented on #5304
I'll do this again.

[2021-03-18 19:47] diegobot1977 commented on #5305
Let me hold up and try doing this again.

[2021-03-18 19:48] diegobot1977 commented on #5294
HOLDUP!!! Let's try doing this again.

[2021-03-18 19:49] diegobot1977 commented on #5295
Let me hold up and try doing this again.

[2021-03-18 19:52] diegobot1977 opened #5306 "Adyen"
**Name:** Adyen
**Website:** https://www.adyen.com/
**Alexa rank:** 1,794
**Color:** `#0fbc53`
**Official resources for icon and color:** see below on the Adyen's homepage

[2021-03-18 19:57] diegobot1977 opened #5307 "Akamai"
**Name:** Akamai
**Website:** https://www.akamai.com/
**Alexa rank:** 4,554
**Color:** `#199ad6` or `#f28b21`?
**Official resources for icon and color:** see below on the Akamai's homepage

[2021-03-18 20:01] diegobot1977 opened #5308 "Request: Barnes & Noble"
**Name:** Barnes & Noble
**Website:** https://www.barnesandnoble.com/
**Alexa rank:** 1,907
**Official resources for icon and color:** see below on the Barnes & Noble's homepage

[2021-03-18 20:02] fbernhart commented on #5305
There is no need to close it and open another one.

[2021-03-18 20:07] diegobot1977 opened #5309 "Engadget"
**Name:** Engadget
**Website:** https://www.engadget.com/
**Alexa rank:** 1,241
**Color:** `#2b2d32` or actually a black thing (`#000000`)?
**Official resources for icon and color:** see below on the Engadget's homepage

[2021-03-18 20:09] diegobot1977 commented on #5301
Let me hold up.

[2021-03-18 20:09] diegobot1977 commented on #5302
Let me hold up.

[2021-03-18 20:13] diegobot1977 opened #5310 "HSBC"
**Name:** HSBC
**Website:** https://www.hsbc.com/
**Alexa rank:** 5,512
**Color:** `#db0012`
**Official resources for icon and color:** see below on the HSBC homepage

[2021-03-18 20:16] diegobot1977 opened #5311 "Qualys"
**Name:** Qualys
**Website:** https://www.qualys.com/
**Alexa rank:** 29,070
**Color:** `#ed3026`
**Official resources for icon and color:** see below on the Qualys homepage

[2021-03-18 21:00] Sugam1111 commented on #5283
Cypher query language (in Neo4j) is the more popular alternative to Gremlin query language which I use on AWS Neptune.
Here is a trends comparison https://trends.google.com/trends/explore?q=%2Fm%2F0hhr8wc,%2Fm%2F0_frrg4

[2021-03-18 21:37] adamrusted commented on #5311
Looks like we can just use the SVG in the header of the website for this one. Would you like to give it a go, @diegobot1977? Take a look at our [contributing guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md) and see if you fancy it.

[2021-03-18 21:38] adamrusted commented on #5310
Clear SVG version available on the header of the site. Would you like to give this one a go @diegobot1977? Take a look at our [contribution guidelines](https://www.github.com/simple-icons/simple-icons/tree/develop/CONTRIBUTING.md) and see what you think.

[2021-03-18 22:31] diegobot1977 commented on #5311
Yes for sure.

[2021-03-18 22:31] diegobot1977 commented on #5310
Yes for sure

[2021-03-19 10:10] adamrusted commented on #5307
I would say the blue is the better choice for Akamai - and while they don't give an SVG on their main site (not even in their media area) there is an SVG available on their [Developer Portal](https://developer.akamai.com/) which we can use. Given their favicon is just the blue curve - I think we can get away with that being our icon. Did you want to have a go at this one @diegobot1977 or shall we

[2021-03-19 10:12] adamrusted commented on #5308
Think we should use either `#54575A` or `#3e5962` for the colour. The first being used in the SVG itself (and used on their socials) - while the second is prominently used throughout the site as the CTA colour. We can use the SVG on their homepage, though I'd recommend we switch to just `B&N` to match their [social pictures](https://twitter.com/bnbuzz). Did you want to take this one on @diegobot19

[2021-03-19 10:14] adamrusted commented on #5309
There is a [brand kit](https://o.aolcdn.com/engadget/brand-kit/eng-logo-guidelines.pdf) available in the footer of the site, which we should use for colour reference (`#000` or `#FFF`) and include as the `guidelines` entry in the JSON as it explains about the icon's usage. I think we can get away with just the `e`, as that's used as their favicon. Did you want to work on this one @diegobot1977 - o

[2021-03-19 10:16] adamrusted commented on #5306
The green looks to be the right choice, and there's an EPS available in their [press kit](https://www.adyen.com/press-and-media) which we can use. Think we can get away with just the `a` as they do in their favicon. Do you want to look at this @diegobot1977 or shall we open it up to others?

[2021-03-19 13:39] diegobot1977 commented on #5309
Ok.

[2021-03-19 13:40] diegobot1977 commented on #5308
Yes for sure.

[2021-03-19 13:40] diegobot1977 commented on #5306
Yes for sure

[2021-03-19 13:42] diegobot1977 commented on #5307
Yes for sure.

[2021-03-19 13:47] diegobot1977 commented on #5308
Let's hold up and try again.

[2021-03-19 13:47] diegobot1977 commented on #5311
Let's hold up and try again.

[2021-03-19 13:48] adamrusted commented on #5308
Hey @diegobot1977 - no need to close an issue, you can just update your original request message above :)

[2021-03-19 13:48] diegobot1977 commented on #5308
Maybe `#54575a` for the colour.

[2021-03-19 14:41] service-paradis opened #5317 "Update neo4j icon"
**Brand Name:** neo4j
**Official resources for icon and color:**

Since there is a monochrome version of there logo available at https://neo4j.com/style-guide/, I think we should update the current one to use this treatment.
![image](https://user-images.githubusercontent.com/12817388/111797496-996a7300-889f-11eb-9398-d242d13108fa.png)

[2021-03-19 16:16] pristis opened #5319 "Saab, Lancia, Rover"
Hello!

I just want to request Saab, Lancia and Rover (different from Land Rover) to be included in icons list. You can check it here:
Saab: https://worldvectorlogo.com/logo/saab-scania
Lancia: https://worldvectorlogo.com/logo/lancia-1
Rover: https://worldvectorlogo.com/logo/rover-2

Thanks!

[2021-03-19 16:33] adamrusted commented on #5319
Thanks for your request @pristis!

Just had a quick look at this, Lancia is out of our scope based on its [Alexa Rank](https://www.alexa.com/siteinfo/lancia.com), and I don't think Rover has its own domain any more that we can compare using that metric. Saab seems to be in scope, so that should be good for us to add, though we try to use an official source (media pack, website, or PDF from the com

[2021-03-19 17:16] ericbutler555 opened #5320 "Smashwords"
**Brand Name:** Smashwords
**Website:** https://www.smashwords.com/
**Alexa rank:** 8,922 (6,470 in USA)

**Official resources for icon and color:**

[2021-03-20 05:53] Tarun-Kamboj opened #5321 "Matplotlib"
**Brand Name:** Matplotlib
**Website:** https://matplotlib.org/
**Alexa rank:** 13,549

**Official resources for icon and color:** https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Created_with_Matplotlib-logo.svg/1024px-Created_with_Matplotlib-logo.svg.png

[2021-03-20 05:57] Tarun-Kamboj opened #5322 "RazorPay"
**Brand Name:** Razorpay
**Website:** https://razorpay.com/
**Alexa rank:** 2,191

**Official resources for icon and color:** https://razorpay.com/assets/razorpay-glyph.svg

[2021-03-20 06:06] Tarun-Kamboj opened #5323 "TCS"
**Brand Name:** TCS (Tata Consultancy Services)
**Website:** https://www.tcs.com/
**Alexa rank:** 3,792

**Official resources for icon and color:** https://pbs.twimg.com/profile_images/1319549897515806722/rSiFW4qo_400x400.jpg

[2021-03-20 07:24] fbernhart commented on #5321
Duplicate of #3410

[2021-03-20 07:24] #5321 closed

[2021-03-20 15:29] krissemicolon opened #5324 "Adding bspwm logo"
bspwm
https://github.com/baskerville/bspwm
62

http://i.imgur.com/z5EWeYY.png

[2021-03-20 21:13] mrcrater opened #5325 "transmission"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-20 21:14] #5325 closed

[2021-03-21 15:13] thisisjunsung commented on #5324
Agree

[2021-03-21 15:16] thisisjunsung opened #5327 "Disney Plus"
**Brand Name:**
Disney Plus
**Website:**
https://www.disneyplus.com/
**Alexa rank:**
175
**Brand Guidelines**
https://dmedmedia.disney.com/disney-plus/images

[2021-03-21 17:54] nishantkantojha opened #5328 "AtCoder"
**AtCoder**
**https://atcoder.jp/:**
**31,047**

**Official resources for icon and color:**

[2021-03-21 18:55] nishantkantojha opened #5329 "StopStalk"
**StopStalalk**
**https://www.stopstalk.com/dashboard**
**212,092**

**Official resources for icon and color:**

[2021-03-21 20:08] adamrusted commented on #5328
Duplicate of #3276.

[2021-03-21 20:08] #5328 closed

[2021-03-21 20:09] adamrusted commented on #5327
As noted in our contribution guidelines, were unable to add Disney properties due to how stringent they are with their properties. Apologies @thisisjunsung.

[2021-03-21 20:09] #5327 closed

[2021-03-22 05:58] angeloanan opened #5330 "Request: UpCloud"
**Brand Name:** UpCloud
**Website:** https://upcloud.com
**Alexa rank:** 15,563

**Official resources for icon and color:**
**Logo and Guidelines:** https://upcloud.com/brand-assets/
**Primary Color**: Midnight Purple `#7B00FF`

[2021-03-22 06:20] tenngoxars opened #5331 "obsidian"
**Brand Name:**obsidian
**Website:**https://obsidian.md/
**Alexa rank:**50980

**Official resources for icon and color:**

[2021-03-22 08:31] nektro opened #5332 "Zig"
**Brand Name:** Zig Programming Language
**Website:** https://ziglang.org/
**Alexa rank:** 4,180,292 at the time of writing

**Official resources for icon and color:**
- https://ziglang.org/zig-logo.svg
- https://github.com/ziglang/logo

[2021-03-22 10:05] adamrusted commented on #5331
Duplicate of #3731.

[2021-03-22 10:05] #5331 closed

[2021-03-22 10:11] adamrusted commented on #5332
Hi @nektro, thanks for the request.
While the Alexa Rank of this one would put it out of scope - https://github.com/ziglang/zig has 8.7k stars, so we're able to consider it. I think we could get away with https://github.com/ziglang/logo/blob/413593ac9f77fb528e1d86383b3c54fbab0bed2b/zig-logo-dark.svg as the source, using just the boxed `Z` and the orange from that. Would you like to give it a go yo

[2021-03-22 17:51] OldShaterhan opened #5333 "KashFlow"
**Brand Name:** KashFlow
**Website:** https://www.kashflow.com/
**Alexa rank:** # 164,095 (https://www.alexa.com/siteinfo/kashflow.com)

**Official resources for icon and color:**

Not found yet.

[2021-03-22 18:14] OldShaterhan opened #5334 "IRIS"
**Brand Name:** IRIS
**Website:** https://www.iris.co.uk/
**Alexa rank:** # 381,074 (https://www.alexa.com/siteinfo/iris.co.uk)

**Official resources for icon and color:**

Not found yet.

[2021-03-23 10:17] #5277 closed

[2021-03-23 10:31] #4949 closed

[2021-03-23 10:37] #4336 closed

[2021-03-23 12:34] #3514 closed

[2021-03-23 12:46] service-paradis opened #5335 "Update Kaggle"
![image](https://user-images.githubusercontent.com/12817388/112148289-135a6f00-8bb4-11eb-9d66-7ebecfd604dd.png)

**Brand Name:** Kaggle
**Official resources for icon and color:**

- https://www.kaggle.com/brand-guidelines

Following the review of some icons we have while contributing to #5251 (#5279), I found the above guidelines. According to those guidelines, I think we need to use the full word

[2021-03-23 12:49] service-paradis opened #5336 "Remove ko-fi ?"
![image](https://user-images.githubusercontent.com/12817388/112148738-9b407900-8bb4-11eb-8697-b190c021f451.png)

**Brand Name:** Ko-fi
**Official resources for icon and color:**

- https://more.ko-fi.com/brand-assets

Following the review of some icons we have while contributing to #5251 (#5279), I found the above guidelines. According to those guidelines, I think we need to remove this icon since

[2021-03-23 12:59] service-paradis opened #5337 "Update Raspberry Pi"
![image](https://user-images.githubusercontent.com/12817388/112149829-c7a8c500-8bb5-11eb-8fbf-d0c5b9bf0d28.png)

**Brand Name:** Raspberry Pi
**Official resources for icon and color:**

- https://static.raspberrypi.org/files/Raspberry_Pi_Visual_Guidelines_2020.pdf

Following the review of some icons we have while contributing to #5251 (#5279), I found the above guidelines. According to those guide

[2021-03-23 13:03] studionigh opened #5338 "capterra"
**Brand Name:**
**Website:**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-23 13:55] service-paradis opened #5340 "Update npm icon"
**Brand Name:** npm
**Official resources for icon and color:**

- https://www.npmjs.com/

I think we should update our NPM logo. The one we currently have is not really used by npm.
On their website, they use the filled wordmark in the header and the squared `n` in the footer.
I really think the following logo would fit better in our collection:
![image](https://user-images.githubusercontent.com/1

[2021-03-23 16:23] fbernhart commented on #5338
@studionigh Thanks for your requests.

Could you please fill out the needed information above (brand name, website, Alexa rank etc.)?

Otherwise your request won't be valid and we have to close it.

[2021-03-23 16:33] OfficialCRUGG opened #5341 "JetBrains DataGrip"
**Brand Name:** (JetBrains) DataGrip
**Website:** https://www.jetbrains.com/datagrip/
**Alexa rank:** 203.9k (Not entirely sure if this is the right number, was the thing in the top left on the Alexa Site Info Page)

**Official resources for icon and color:** https://github.com/JetBrains/logos/tree/master/web/datagrip

*Note: This would pretty much be exactly the same as the IntelliJ, Rider and PH

[2021-03-24 15:42] Nathan13888 opened #5343 "Request: Alacritty Icon"
**Brand Name:** Alacritty
**Website:** https://github.com/alacritty/alacritty
**Alexa rank:** NA

**Official resources for icon and color:**

https://github.com/alacritty/alacritty/tree/master/extra/logo
https://github.com/alacritty/alacritty/blob/master/extra/logo/alacritty-term.svg
https://github.com/alacritty/alacritty/blob/master/extra/logo/alacritty-simple.svg

[2021-03-24 15:43] Nathan13888 commented on #5332
I think that the svg from the official Ziglang repo is good.

[2021-03-25 06:50] ParkDyel opened #5346 "sqlalchemy"
**Brand Name:** sqlalchemy
**Website:** [sqlalchemy](https://www.sqlalchemy.org/)
**Alexa rank:** [51,574](https://www.alexa.com/siteinfo/sqlalchemy.org)
**Official resources for icon and color:** ![logo](https://www.sqlalchemy.org/img/sqla_logo.png)

[2021-03-26 09:19] #5317 closed

[2021-03-26 09:33] #4900 closed

[2021-03-26 11:32] inigochoa commented on #4273
Hello! I have not received a response in all this time. I think you can close the issue.

[2021-03-26 12:39] LitoMore opened #5352 "Add App Annie icon"
**Brand Name:** App Annie
**Website:** https://www.appannie.com
**Alexa rank:** 3,532

**Official resources for icon and color:**
https://www.appannie.com/en/about/press/

[2021-03-26 23:10] mfarragher opened #5356 "Request: foobar2000"
**Brand Name:** foobar2000
**Website:** https://www.foobar2000.org
**Alexa rank:** 99,128

**Official resources for icon and color:**

[Official forum](https://hydrogenaud.io/index.php?board=28.0) is on HydrogenAudio

**Icons:**
2014 Aliencat
https://hydrogenaud.io/index.php?topic=104579.0
https://commons.wikimedia.org/wiki/File:Foobar2000_logo_2014.png

https://hydrogenaud.io/index.php?topic=5560

[2021-03-27 10:58] adamrusted commented on #5356
The PS file available at your last link looks to be the best (and most up to date) version of the logo. There are some strokes to be careful of on the white sections, but otherwise could be quite an easy one to contribute. Would you like to give it a go by following our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md), @mfarragher?

[2021-03-27 11:18] adamrusted commented on #5341
Thanks for the request @OfficialCRUGG!
You're right that this would be exactly the same as the IntelliJ, Rider, or PHPStorm icons - in that we'll just need to include the black box with text cut out.

Unfortunately, we can't use the Alexa rank as that's for JetBrains as a whole. Given it's not one of their open-source projects, we're also unable to use something like GitHub Stars as a measure of p

[2021-03-27 11:19] adamrusted commented on #5332
Glad to hear it! Would either @Nathan13888 or @nektro like to take a look at contributing this icon? Just follow our [guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and submit a PR - and we can go from there!

[2021-03-27 11:24] adamrusted commented on #5346
I can't see a vector version of their logo anywhere - and I don't fancy trying to recreate that. Have asked them on Twitter if they've got a vector version on file, so let's see if they get back to me! 😅

[2021-03-27 11:25] adamrusted commented on #4273
Thanks for getting back to us @inigochoa!
I'll remove the awaiting reply label, but will leave the issue open for now - someone might want to tackle it in the future!

[2021-03-27 22:37] Yash-Singh1 opened #5358 "Handlebars Icon"
**Brand Name:** Handlebars
**Website:** https://handlebarsjs.com/
**Alexa rank:** 6.5K
**Github stars:** 15.9K

**Official resources for icon and color:**

https://github.com/handlebars-lang/docs/blob/master/src/.vuepress/public/icons/handlebarsjs-icon.svg

[2021-03-28 05:01] congaterori opened #5360 "missing icon batch file (cmd or command prompt)"
**Brand Name: batch file**
**Website:**
**Alexa rank:**

**Official resources for icon and color: https://images.all-free-download.com/images/graphiclarge/bat_file_37086.jpg**

[2021-03-28 09:30] OfficialCRUGG commented on #5341
For similar software, I'd say the biggest one would be HeidiSQL (Alexa ranking 31,9k and 2,4k Stars on GH). An even bigger one but a bit more different one would be phpMyAdmin (Alexa ranking 10,2k and 5,4 Stars on GH; Website ranking probably very low because it's a server application and mainly installed via package managers)

For measuring the popularity of DataGrip itself, maybe one option woul

[2021-03-28 10:26] fbernhart commented on #5341
Just wanna chime in and let you know that the correct Alexa ranks are [68,026](https://www.alexa.com/siteinfo/heidisql.com#section_traffic) for HeidiSQL and [17,939](https://www.alexa.com/siteinfo/phpmyadmin.net#section_traffic) for phpMyAdmin.

I've as well found dbeaver, which seems to be a similar tool (Alexa rank: [36,249](https://www.alexa.com/siteinfo/dbeaver.io), stars on GitHub: [19.7k](ht

[2021-03-28 14:31] #5340 closed

[2021-03-28 14:39] #5215 closed

[2021-03-28 14:47] adamrusted opened #5365 "Remove EverPlaces"
As mentioned in #5362, EverPlaces' domain has expired. They've not posted on [Twitter](https://twitter.com/everplaces?lang=en) since 2015, and any articles mentioning them are [from 2014](https://www.crunchbase.com/organization/everplaces/company_overview/overview_timeline). I think this is a safe candidate for removal.

[2021-03-28 14:50] adamrusted commented on #5360
Hi @congaterori, thanks for the request!
I don't _think_ this is in scope of our project - purely as it's not a 'brand'.
Happy for other @simple-icons/maintainers to chip in before we close the request though.

[2021-03-28 14:56] fbernhart commented on #5360
I was already thinking about this this morning.

Although it's not a "brand", it's a scripting language, isn't it? And we already have quite a lot of SVGs for different scripting/programming languages.

I think the bigger problem here would be to find an official logo/icon, if there even is one. If there is none, we can't add it anyway.

[2021-03-28 15:02] adamrusted commented on #5360
From a read around Microsoft's own website, `.bat` files aren't their own programming / scripting language, but instead are purely used to batch together Windows / DOS Shell Commands allowing for a series of command line operations to be carried out in a sequence. There isn't an official icon for either of those command sets, so while the JPEG linked above is used for `.bat` files, it's just a GUI

[2021-03-28 15:49] ericcornelissen opened #5368 "Support iterating over all icons"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [ ] The Packagist Package

### Description

Currently, the `simpleIcons = require("simple-icons")` variable is only enumerable, meaning you can go over the slugs of the brand names. This is because under to hood it is just an object that maps slugs to icon data. It would be

[2021-03-28 18:35] nektro commented on #5332
I got the icon and passed it through SVGOMG but I couldn't figure out how to resize it down to 24x24 so that it would fit inside the new viewBox

[2021-03-28 20:33] Prashant-Kesharwani opened #5371 "Request: iMovie"
**Brand Name: Apple**
**Website: www.apple.com**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-28 20:36] Prashant-Kesharwani opened #5372 "Final Cut Pro"
**Brand Name: Apple**
**Website: https://www.apple.com/in/final-cut-pro/**
**Alexa rank:**

**Official resources for icon and color:**

[2021-03-29 01:29] atao60 commented on #4735
According to [What’s going on with my Alexa Rank?](https://support.alexa.com/hc/en-us/articles/200449614), “every day, Alexa estimates the average daily visitors and pageviews to every site **over the past 3 months**. ” Using the duration of this sliding sample window as grace period for each of steps 3 and 4 as specified by @PeterShaggyNoble would seem sound to me.

As stated by again [What’s goi

[2021-03-29 12:21] jonathanathe opened #5373 "F1"
Brand Name: Formula 1
Website: https://www.formula1.com/
Color: #FFFFFF
Alexa Rank:  3,414
Official resources for icon and color: https://www.formula1.com/

[2021-03-29 19:57] JonatasFontele opened #5374 "Lattes Icon"
**Brand Name:** Lattes
**Website:** http://lattes.cnpq.br/
**Alexa rank:** #11,681 In global internet traffic and engagement over the past 90 days
Country Alexa Rank 🇧🇷 Brazil #277

**Official resources for icon and color:**
![Lattes Logo](https://user-images.githubusercontent.com/3266425/112892484-bed15b00-90af-11eb-8ece-f7f4f459bff5.png)

[2021-03-29 21:51] Yash-Singh1 opened #5375 "Darkreader icon is outdated"
**Brand Name:** Darkreader
**Official resources for icon and color:** https://raw.githubusercontent.com/darkreader/darkreader-design/master/icons/darkreader-icon-19x19.svg

[2021-03-29 22:41] fbernhart commented on #5374
Closing this as duplicate of #3511.