[2019-03-25 19:28] davidklebanoff commented on #1323
This is a good one. The icon can be pulled from their [website](https://unity.com/) header. The press release download only contains rasterized versions.

[2019-03-25 20:02] #1217 closed

[2019-03-25 20:04] davidklebanoff commented on #1217
This has been added by @metaa and will be made available in the next release.

@metaa really went the extra mile for this one, so thank you for that! 🎉

[2019-03-25 22:15] davidklebanoff opened #1324 "Update or add a JSON linting step in Travis CI to check for formatting issues"
Update the [JSON lint schema](https://github.com/simple-icons/simple-icons/blob/develop/.jsonlintschema) to check for formatting issues. This can include extraneous whitespace, improper indentation, etc.

[2019-03-25 22:37] ericcornelissen commented on #1281
The SVG for MEGA was added by @metaa and will be available in the next release :+1:

[2019-03-25 22:37] #1281 closed

[2019-03-25 23:06] davidklebanoff commented on #1324
After a little reading, it would appear that JSON schema validation doesn’t have the ability to check formatting, and the linter we use `jsonlint` currently does not support formatting checks either. So this task may have a little more depth than it initially appears (not a quick toggle or schema update).

Additionally it's worth noting that there are two versions of `jsonlint`, there’s the origin

[2019-03-26 10:55] sh7dm opened #1325 "[Icon request]: htmlacademy.ru"
**Name:** HTML Academy
**Website:** https://htmlacademy.ru/
**Official resources for icon and color:** https://assets.htmlacademy.ru/img/logo--small.svg

[2019-03-26 10:59] sh7dm opened #1326 "[Icon request]: Jest"
**Name:** Jest
**Website:** https://jestjs.io/
**Official resources for icon and color:** https://jestjs.io/img/jest-card-run.svg

[2019-03-26 11:00] sh7dm opened #1327 "[Icon request]: Babel"
**Name:** Babel
**Website:** https://babeljs.io/
**Official resources for icon and color:** https://d33wubrfki0l68.cloudfront.net/7a197cfe44548cc1a3f581152af70a3051e11671/78df8/img/babel.svg

[2019-03-26 15:32] WebMatrixware opened #1328 "Requires.io"
**Name:** Requires.io
**Website:** https://requires.io/
**Official resources for icon and color:** None listed on website

[2019-03-26 16:43] davidklebanoff commented on #1328
Hi @Cryptix720,

Unfortunately **Requires.io** does not meet our popularity requirement to be included in Simple Icons. [Our guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) currently state that a new icon must be "...of a popular brand. For websites, the Alexa rank should be less than 500k. For anything else, popularity will be judged on a case-by-case basis.

[2019-03-26 16:43] #1328 closed

[2019-03-26 16:49] davidklebanoff commented on #1325
Alexa Ranking: ~20k.

[2019-03-27 06:25] Pengxn commented on #1090
+1

[2019-03-27 08:04] garyelephant opened #1329 "[Icon Request] Apache Spark"
**Name: Spark**
**Website: https://spark.apache.org/**
**Official resources for icon and color: https://spark.apache.org/images/spark-logo-trademark.png**

[2019-03-27 08:05] garyelephant opened #1330 "[Icon Request] Apache Flink"
**Name: Flink**
**Website: https://flink.apache.org/**
**Official resources for icon and color:https://flink.apache.org/img/flink-header-logo.svg**

[2019-03-27 09:02] ericcornelissen commented on #1329
Alexa rank is about ~1300 :+1: It is not obvious how the logo should be monochromatized though :thinking:

[2019-03-27 09:03] ericcornelissen commented on #1330
Alexa rank is about ~1300 :+1: It is not obvious how the logo should be monochromatized though :thinking:

[2019-03-27 09:06] ericcornelissen commented on #1329
Alexa rank is a bit hard as it is an Apache project, but I think Spark is popular enough to be included.

[Here is an SVG version of the wordmark](https://commons.wikimedia.org/wiki/File:Apache_Spark_logo.svg), but I think we should go with the logo as it is seen in the favicon of the website instead :thinking:

[2019-03-27 09:09] oswaldoacauan opened #1331 "[Icon Request] Favro"
**Name:** Favro
**Website:** https://www.favro.com/
**Official resources for icon and color:** https://favro.com/organization/54f72cf77fb4776c31d006ee/3b8ef96ba2ee8d3c793608e2?card=Fav-38416

[2019-03-27 09:19] maxdevblock opened #1332 "[Icon Request] Celery"
Name: Celery
Website: http://www.celeryproject.org/
Official resources for icon and color: http://www.celeryproject.org/

[2019-03-27 17:14] davidklebanoff commented on #1332
Alexa Ranking: ~90k.

[2019-03-27 17:16] davidklebanoff commented on #1331
Alexa Ranking: ~66k.

[2019-03-27 17:19] davidklebanoff commented on #1331
I extracted an SVG from their [login page](https://favro.com/login).

[code]

[2019-03-27 22:44] #1292 closed

[2019-03-28 00:51] VladimirHumeniuk opened #1333 "[Icon Request] Epic Games"
**Name:** Epic Games
**Website:** https://www.epicgames.com/
**Official resources for icon and color:** https://commons.wikimedia.org/wiki/File:Epic_Games_logo.svg

[2019-03-28 04:46] davidklebanoff commented on #1333
Whoever decides to complete this icon request, we request that you use icons from official sources. The SVG icon on wikimedia claims to have been extracted from an Epic Games email so if that's the best that can be found it should suffice, but if an SVG from an official source (e.g. the Epic Games website) can be found, that would be preferred.

**Don't** bother with the icon font on the EpicGames

[2019-03-28 07:17] ericcornelissen commented on #1309
The icon for Chase has been added by @metaa and will be available in the next release 👌

[2019-03-28 07:17] #1309 closed

[2019-03-28 10:03] sh7dm opened #1334 "Icon request: Electron"
**Name:** Electron
**Website:** https://electronjs.org/
**Official resources for icon and color:** https://electronjs.org/images/electron-logo.svg

[2019-03-28 14:46] maxdevblock commented on #1332
Quite good. Isn't it?
Redis has got Alexa Ranking of ~20k

[2019-03-28 14:49] davidklebanoff commented on #1332
Yes! Our project requires brands to have a ranking of 500k or higher, so Celery meets the bar.

My previous comment was made to simply catalog that fact. In fact I recently wrote a bot to do just that for new icon requests, should be added to the project soon. :)

[2019-03-28 14:51] maxdevblock commented on #1332
Yeah. Thanks :-)

[2019-03-28 15:01] davidklebanoff commented on #1272
#1275 has been merged in (thanks to @goyney for the SVGO update and @ericcornelissen for the hard work in cleaning up 160 icons!)

This should mean all icons (in the develop branch) are now a single path, and the completion of #1277 should verify this and prevent new non-single path icons from being added.

[2019-03-28 16:32] abranhe opened #1337 "Swagger logo request"
**Name:** swagger

**Website:** https://swagger.io/

**Color:** `#49A32B`

Eg: https://cdn.svgporn.com/logos/swagger.svg

![SVG Logo](https://cdn.svgporn.com/logos/swagger.svg)

[2019-03-28 19:40] #1277 closed

[2019-03-28 19:43] ericcornelissen commented on #1272
With #1277 merged all icons from this point on should contain only and only one `<path>`, so this feature request can be implemented :+1:

[2019-03-28 19:53] ericcornelissen commented on #1331
The icon for Favro has been added and will be available in the next release

[2019-03-28 19:53] #1331 closed

[2019-03-29 01:42] goyney commented on #1272
Wow, you guys really went all out and got this done. That rocks! 😄

Looking forward to the raw path data being returned soon!

[2019-03-29 13:12] disooqi opened #1338 "Google Scholar icon is missing"
**Name:** Google Scholar
**Website:** https://scholar.google.com/
**Official resources for icon and color:** blue svg, and ico

[2019-04-01 06:53] ronschaeffer opened #1340 "Icon request: Sonos"

[2019-04-01 06:59] ronschaeffer opened #1341 "Icon request: Sonos"
www.sonos.com
https://assets.sonos.com/media-kits/corporate-materials/logos/logos.zip

[2019-04-01 10:56] ronschaeffer commented on #1340
See separate issue. Sent this one before adding details.

[2019-04-01 10:57] #1340 closed

[2019-04-01 15:45] ghost opened #1342 "Feedly icon bug"
There are irregularities in the second and third necklines, to see switch to outline mode or scale up by 25600%

[2019-04-01 22:31] sweepyoface opened #1343 "Add Buddy icon"
![icon-300px](https://user-images.githubusercontent.com/7191851/55363740-0c5c6280-54ac-11e9-9500-d32ea98ab434.png)

**Name:** Buddy
**Website:** https://buddy.works/
**Official resources for icon and color:** https://buddy.works/about (bottom of page)

[2019-04-01 22:50] FerhatAktasFA opened #1344 "Icon request for real estate listing platforms in Turkey"
**Name:hurriyetemlak, zingat, emlakjet, sahibinden
**Official resources for icon and color:
www.hurriyetemlak.com
www.zingat.com
www.emlakjet.com
www.sahibinden.com

[2019-04-03 00:33] birjolaxew commented on #1337
The official icon is actually available [on their website](https://swagger.io/swagger/media/assets/images/swagger_logo.svg)

[2019-04-03 00:35] birjolaxew commented on #1338
Could you please elaborate which icon we're talking about? The favicon (blue ball with hat on) doesn't seem to be used elsewhere, and the full "Google Scholar" wordmark doesn't seem like it'd be appropriate.

[2019-04-03 00:36] birjolaxew commented on #1341
An official SVG is available in the header of their website

[2019-04-03 00:40] birjolaxew commented on #1342
Good catch! Thanks for noticing.

The issue is specifically (excuse the Paint skills):

![image](https://user-images.githubusercontent.com/4542461/55445040-b8d83a80-55b9-11e9-9138-0be9fe56d378.png)

[2019-04-03 12:57] SanderElias opened #1345 "Angular universal"
name: Angular Universal
https://angular.io
**Official resources for icon and color:**
https://angular.io/presskit
https://angular.io/generated/images/marketing/concept-icons/universal.svg

[2019-04-04 12:44] gatarelib opened #1346 "Stackbit icon"
**Name:** Stackbit icon Request
**Website:** [stackbit.com](stackbit.com)
**Official resources for icon and color:**

[2019-04-05 13:28] ericcornelissen commented on #1340
Just for your information @ronschaeffer, you can actually edit comments/issues on GitHub 😉

![image](https://user-images.githubusercontent.com/3742559/55631020-be9f6d00-57bf-11e9-9028-7bb069805f3f.png)

[2019-04-05 15:22] ericcornelissen commented on #1346
Thanks for the request @gatarelib, unfortunately Stackbit does not currently meet [our popularity threshold](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) (Their Alexa rank is [about 1.3m](https://www.alexa.com/siteinfo/stackbit.com)) and the project is also still in beta.

We'd be glad to add their icon once the project has gained more popularity. Y

[2019-04-05 21:04] ericcornelissen commented on #1324
I've looked around a bit but there seems to be no available linter that just lints white space no matter the filetype/syntax. I've tried some things with [eslint-plugin-json](https://www.npmjs.com/package/eslint-plugin-json) and [jshint-json](https://www.npmjs.com/package/jshint-json) but to no avail.

This tool, [grunt-wslint](https://github.com/bbyars/grunt-wslint) comes closest to what I think

[2019-04-05 21:43] ericcornelissen commented on #1324
Update, it seems it is possible to achieve what we want using [editorconfig-checker](https://www.npmjs.com/package/editorconfig-checker) in which case we have to add an `.editorconfig` file (read more about EditorConfig [here](https://editorconfig.org/)). Personally I prefer that over adding Grunt as a devDependency and adding a `Gruntfile.js`, and it is more convenient than building a linter from

[2019-04-06 17:40] pravynandas opened #1350 "AdGuard"
**Name:** AdGuard
**Website:** https://adguard.com/en/welcome.html
**Official resources for icon and color:**

Based on the request [MaterialDesign#4083](https://github.com/Templarian/MaterialDesign/issues/4083#issue-427324337) I have prepared below icon. Since it's more appropriate in this repo posting as a new addition. Please let me know your review comments.

Original:
![55281233-e26a3b00-5307

[2019-04-06 18:10] ericcornelissen commented on #1350
The icon looks visually okay, may I ask what your source is for the SVG? The SVG source needs some changes in order to be accepted here, specifically you can follow [these steps in the Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#3-optimize-the-icon) :slightly_smiling_face:

[2019-04-07 09:11] ericcornelissen commented on #1276
The Creative Commons icon has been added and will be available with the next release (i.e. when #1347 gets merged) 😉

[2019-04-07 09:11] #1276 closed

[2019-04-08 10:46] huiyifyj commented on #1090
Hope it will be helpful to you.
Reference resource: [`azurepipelines.zip`](https://github.com/simple-icons/simple-icons/files/3053895/azurepipelines.zip)

[2019-04-08 12:11] ericcornelissen commented on #1090
Looks promising @huiyifyj, where did you find it?

[2019-04-08 12:17] huiyifyj commented on #1090
@ericcornelissen
[vscode-icons/vscode-icons](https://github.com/vscode-icons/vscode-icons/blob/master/icons/file_type_azurepipelines.svg)

[2019-04-08 14:00] ericcornelissen commented on #1090
Seems legit, nice find! (more info here: https://github.com/vscode-icons/vscode-icons/pull/1741)

[2019-04-08 14:34] huiyifyj commented on #1090
👌... Glad to help you.

[2019-04-08 14:42] gajus commented on #1104
This would be nice. It could be just an outline of the blocks.

[2019-04-10 12:01] otherguy opened #1351 "mergify.io"
**Name:** Mergify
**Website:** https://mergify.io
**Official resources for icon and color:** https://doc.mergify.io/badge.html

[2019-04-10 14:22] ericcornelissen commented on #1351
Thanks for the request @otherguy, unfortunately [the Alexa Rank of Mergify](https://www.alexa.com/siteinfo/mergify.io) is way below [the minimum popularity threshold](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) we use. It seems the service is pretty new, so it might gain traction in which case you may reopen this issue in a while.

If you feel like

[2019-04-10 14:32] otherguy commented on #1351
Pity, but yes - it’s a super new service, launched 10 months ago. They do offer badges but without any customization.

They were mentioned on Product Hunt but that’s about as much as I can find. Hard to judge actual popularity.

[2019-04-10 15:21] ericcornelissen commented on #1351
In that case I will close this issue for now. The main reason we have this popularity threshold is to prevent self-promotion or having icons of products that may terminate in a short time frame.

Hence, if you feel like seeing it being used more in the future feel free to respond to this issue again and we'll have a look.

Thanks for you request anyway 😄

[2019-04-10 15:21] #1351 closed

[2019-04-11 02:27] arabesq610 opened #1352 "Google Cloud"
**Name:** Google Cloud
**Website:** https://cloud.google.com/
**Official resources for icon and color:** https://cloud.google.com/press/

[2019-04-11 06:29] davidklebanoff commented on #1352
https://cloud.google.com/images/products/supercloud_grey.svg

[2019-04-16 04:54] nexus0212 commented on #1245
I'll take care of it 💃

[2019-04-16 05:00] AlexFloresVeliz commented on #1245
You're the best, @nexus0212 ! 💪

[2019-04-16 06:15] nexus0212 commented on #1326
I'll take care of it 👏

[2019-04-16 06:46] nexus0212 commented on #1142
I'll take care of it ☠

[2019-04-16 08:32] redskinhu opened #1357 "Node-RED icon"
Name: Node-RED
Website: https://nodered.org/
Official resources for icon and color: https://nodered.org/about/resources/

Thanks

[2019-04-16 08:41] james-fry commented on #1357
Their icon is:
![image](https://user-images.githubusercontent.com/5823294/56194926-d2529b00-602b-11e9-9a8f-401ff12e618b.png)

[2019-04-16 10:59] nexus0212 commented on #1334
I'll take care of it ⚛

[2019-04-16 18:31] adrianoluengo opened #1359 "Arduino sgv icon"
**Name: Arduino logo**
**Website: www.arduino.cc**
**[not offical]Resources for icon and color: blue icon - https://icons8.com/icons/set/arduino**

**SVG file bellow:**
https://drive.google.com/file/d/1LeCbYjaZJTfbMzg8YqllP4WsFnFH-lZH/view?usp=sharing

[2019-04-16 19:25] ericcornelissen commented on #1359
Thank you for the request @adrianoluengo, may I ask where you found the SVG you linked and why it looks pixelated? The website actually has an SVG of the logo in its header 🤔

[2019-04-16 21:33] adrianoluengo commented on #1359
Wierd I had attempted to share the file with you and thought it would work. The alternate way to get the file is to go to icons8/link I provided and download the turquoise SVG Arduino logo.
On Apr 16, 2019, 12:25 PM -0700, Eric Cornelissen <notifications@github.com>, wrote:

[2019-04-17 08:27] ericcornelissen commented on #1359
Okay, not sure how official those are and since the official website has an SVG I think it would be best if that one is used 🤔 Thanks for the link anyway!

[2019-04-17 09:23] ericcornelissen commented on #1326
The icon for Jest has been added and will be available in the next release 🎉

[2019-04-17 09:23] #1326 closed

[2019-04-17 09:53] ericcornelissen commented on #1334
The icon for Electron was added and will be available in the next release.

[2019-04-17 09:53] #1334 closed

[2019-04-17 10:05] #1324 closed

[2019-04-17 17:37] adrianoluengo commented on #1359
Sorry about the link I provided. I understand that you get you SVG files from official company websites and I assumed that you could take external logos that resembled the company ones. The link for the official Arduino website is: https://www.arduino.cc/. I have no idea on how to extract the SVG files but I'll keep looking till I find the official SVG file.

[2019-04-17 17:53] adrianoluengo commented on #1359
Ok, so after a bit of snooping around the Arduino website, I opened
developer-tools and went to sources and found the official SVG file for the
logo (which I found on their project hub website).  I have provided it
below and I hope that this file works flawlessly.
Here's the Arduino website I found it on:
https://create.arduino.cc/projecthub

On Wed, Apr 17, 2019 at 1:27 AM Eric Cornelissen <notif

[2019-04-17 19:14] paulmelnikow opened #1362 "URL- and code-friendly slugs"
Hi! Thanks so much for this package. It's been a huge help to be able to use this package in Shields.

### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [x] The website
  - [ ] Other, namely:

### Description

It would be helpful to have a canonical slug for each icon that users could see on the website and could be used b

[2019-04-18 06:41] nexus0212 opened #1363 "[Icon Request] Adobe Lightroom CC"
**Name:** Adobe Lightroom CC
**Website:** https://www.adobe.com/products/photoshop-lightroom.html
**Official resources for icon and color:** https://upload.wikimedia.org/wikipedia/commons/b/b6/Adobe_Photoshop_Lightroom_CC_logo.svg

---
**Related issue:** #1364
The name of this icon is not clear. [Official site](https://www.adobe.com/products/photoshop-lightroom.html) represents this like a **Adobe

[2019-04-18 06:55] nexus0212 opened #1364 "Rename 'Adobe Lightroom' to 'Adobe Lightroom Classic'"
**Current name:** Adobe Lightroom
**New name:** Adobe Lightroom Classic
**Website:** https://www.adobe.com/products/photoshop-lightroom-classic.html
**Official resources for icon and color:** https://upload.wikimedia.org/wikipedia/commons/5/56/Adobe_Photoshop_Lightroom_Classic_CC_icon.svg

---
**Related issue:** #1363
Adobe has created new application witch names '**Adobe Lightroom CC**' (more abo

[2019-04-19 13:27] #1323 closed

[2019-04-19 14:41] ericcornelissen commented on #1363
I think we should go with **Adobe Lightroom CC** as this is the "official" name Adobe uses that properly distinguishes it from Adobe Lightroom Classic. Unfortunately we are not in a position to "choose the option that is more clear for users" and instead we're best of following whatever the official brand does.

[2019-04-19 15:04] ericcornelissen commented on #1362
Thanks for the suggestion and I think it is very important for us to consider. The most important thing that would prevent us from implementing it directly is backwards comparability, although I feel like we would've seen a report like this earlier if someone actually tried to use e.g. Let's Encrypt with the NPM package (like you said) 🤔

We need some time to figure out how we can best solve this.

[2019-04-19 15:11] ericcornelissen commented on #1359
Ow 😅 sorry for making you do so much work, though I hope you learned a thing or two. I already knew [the website](www.arduino.cc) has an official SVG ("... since the official website has an SVG ..."). If you right click the logo in the header and inspect it with the dev-tools you'll see that the `background-image` points to an SVG file.

[2019-04-19 15:14] ericcornelissen commented on #1142
The icon for Hackaday has been added and will be available with the next release

[2019-04-19 15:14] #1142 closed

[2019-04-19 15:17] adrianoluengo commented on #1359
I actually tried doing that and I didnt find the file linked in the regular Arduino website (which prompted me to not view the elements of the other Arduino page which had the better icon). I probably could've looked better but I found that looking in sources was much easier for some reason. But yeah I could definitely could've done just that. And btw no problem. I didn't really have to go through

[2019-04-19 15:17] #1364 closed

[2019-04-21 10:44] ericcornelissen opened #1368 "Create custom Open Graph image for SimpleIcons"
As per [this blogpost](https://github.blog/2019-04-17-custom-open-graph-images-for-repositories/) by GitHub it is now possible specify a custom [Open Graph](http://ogp.me/) image for the repository. It currently looks like ⬇️

![open-graph repository preview](https://user-images.githubusercontent.com/3742559/56468908-4bdaf680-643b-11e9-8c00-024454962695.png)

Similarly, we might think about this f

[2019-04-22 17:47] adrianoluengo commented on #1359
here's a somewhat proper link to the svg: https://cdn.arduino.cc/projecthub/img/Arduino-logo.svg

[2019-04-22 20:10] ericcornelissen commented on #1245
The icon for Adobe Xd has been added and will be available in the next release

[2019-04-22 20:10] #1245 closed

[2019-04-22 20:14] AlexFloresVeliz commented on #1245
@ericcornelissen awesome! Thanks for the contribution @nexus0212!

[2019-04-24 14:31] vinitshahdeo opened #1370 "[Icon Request] CodeChef"
Please provide [CodeChef](https://www.codechef.com/)'s icon. It's a very popular competitive programming website.

**Name:** CodeChef
**Website:** [codechef.com](https://www.codechef.com/)
**Official resources for icon and color:**  Check [here](https://pbs.twimg.com/profile_images/1051765509912449025/0iFDzwqr.jpg). It's official logo.

Thanks!

[2019-04-24 18:24] vinitshahdeo opened #1371 "[Icon request] HackerOne"
![hackerone](https://www.hackerone.com/sites/default/files/2017-06/hackerone_logo_gray.png)

Please add icon for [HackerOne](https://www.hackerone.com/). It's one of the most popular bug bounty platform.

**Name:** HackerOne
**Website:** [hackerone.com](https://www.hackerone.com/)

[2019-04-24 18:35] vinitshahdeo opened #1372 "[Icon request] HackerEarth"
Please add the icon for [HackerEarth](https://www.hackerearth.com/challenges/). It's very popular competitive coding platform.

<img src = "https://upload.wikimedia.org/wikipedia/commons/e/e8/HackerEarth_logo.png" width = 200px height= 200px>

**Name:** HackerEarth
**Website:** [hackerearth.com](https://www.hackerearth.com/challenges/)

[2019-04-24 18:49] vinitshahdeo opened #1373 "[Icon request] Electron"
Please add icon for [Electron](https://electronjs.org/) - A framework for creating cross platform desktop applications.

![electron](https://camo.githubusercontent.com/627c774e3070482b180c3abd858ef2145d46303b/68747470733a2f2f656c656374726f6e6a732e6f72672f696d616765732f656c656374726f6e2d6c6f676f2e737667)

**Name:** Electron
**Website:** [electronjs.org](https://electronjs.org/)

[2019-04-24 19:05] vinitshahdeo opened #1374 "[Icon request] DuckDuckGo"
Please provide the icon for [**DuckDuckGo**](https://duckduckgo.com/) - another search engine.

**Name:** DuckDuckGo
**Website:** [duckduckgo.com](https://duckduckgo.com/)

[2019-04-24 19:45] davidklebanoff commented on #1374
Official SVG: https://duckduckgo.com/assets/logo_homepage.normal.v108.svg

[2019-04-24 19:47] davidklebanoff commented on #1373
SVG extracted from homepage:

[code]

[2019-04-24 19:49] davidklebanoff commented on #1372
Alexa Ranking: 5.6k.

There is a '.ai' file in their [media kit](https://www.hackerearth.com/logo/) that one can create an SVG from.

[2019-04-24 19:53] davidklebanoff commented on #1371
Alexa Ranking ~34k.

The icon used for Simple Icons should be their 'glyph'. A `.eps` version can be found on their [branding page](https://www.hackerone.com/branding), which can be converted to an SVG.

[2019-04-24 19:55] davidklebanoff commented on #1370
Alexa ranking: ~6k.

[2019-04-25 08:05] ericcornelissen commented on #1373
Electron has recently been added, see #1358, and will be available in the next release 😉

[2019-04-25 08:05] #1373 closed

[2019-04-25 10:39] kze opened #1375 "TikTok icon please"
**Name:**
Tiktok
**Website:**
https://www.tiktok.com/en/

**Official resources for icon and color:**

[2019-04-26 10:50] ericcornelissen commented on #1282
The icon for Material Design has been added and will be available with the next release

[2019-04-26 10:50] #1282 closed

[2019-04-26 16:12] Prologh opened #1377 "Add Microsoft Azure icon"
**Name:** Microsoft Azure
**Website:** https://azure.microsoft.com/
**Official resources for icon and color:** Only svg official

If Amazon AWS is already here, then I think Azure should be too. I did struggle to find nice svg so I logged into Azure portal. While website is loading, nice this svg shows up:

[code]

It lacks color, unfortunately.

If you want a transparent `png`, here is one but ta

[2019-04-26 17:44] nexus0212 commented on #1345
@SanderElias I would like to create this icon 👋

[2019-04-26 17:46] #1363 closed

[2019-04-26 19:42] bergren2 opened #1379 "Request: Octopus Deploy"
**Name:** Octopus Deploy
**Website:** https://octopus.com/
**Official resources for icon and color:** https://octopus.com/company/brand

[2019-04-26 20:09] davidklebanoff commented on #1379
Alexa Ranking: ~130k.

Thanks for linking to the brand page, that should be very helpful for whomever completes this issue.

[2019-04-26 20:30] bergren2 opened #1380 "Request: Atlassian products (Confluence, Statuspage, Opsgenie)"
**Name:** Atlassian Products (Confluence, Statuspage, Opsgenie)
**Website:** https://www.atlassian.com/
**Official resources for icon and color:** https://atlassian.design/guidelines/marketing/resources/logo-files

This PR potentially encapsulates a lot at once. Jira, Trello and Bitbucket are already created. I was specifically looking for Confluence, Statuspage, and Opsgenie, but I'm sure more co

[2019-04-26 20:43] davidklebanoff commented on #1380
I'm OK with adding all of Atlassian's products at this point. It's relatively low effort and they are all quite popular now.

To whomever decides to complete this PR, all atlassian icons share the same color, `#0052CC`.

[2019-04-27 10:16] nexus0212 commented on #1343
I will add the Buddy icon 😃

[2019-04-27 16:44] ericcornelissen opened #1382 "Provide list of integrations/third party extensions on the website"
### Kind of issue
  - [x] Improvement
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [ ] The NPM Package
  - [x] The website
  - [ ] Other, namely:

### Description
Provide a list of integrations/Third Party Extensions on the website. E.g. the README currently already lists [the WordPress extensions](https://wordpress.org/plugins/simple-icons/),. Also, recently [simple-icons-font]

[2019-04-27 22:45] davidklebanoff opened #1384 "Create a Code of Conduct"
Simple Icons has grown substantially over the years. The time has come to codify our values and standards of conduct for Maintainers, Contributors, and visitors alike.

[2019-04-28 04:15] sophialucero opened #1385 "Duolingo icon"
**Name:** Duolingo
**Website:** https://www.duolingo.com/
**Official resources for icon and color:** [/design](https://www.duolingo.com/design/) ; [press kit](https://drive.google.com/drive/folders/14XLQGCdLOsrsCARJYPV4ATA80N7L1G6s)
(Didn't see an official vector icon there though)

[2019-04-29 14:10] osternaudClem opened #1386 "[Icon request]: Audible"
**Name:** Audible
**Website:** https://www.audible.com

SVG found on wikimedia: https://commons.wikimedia.org/wiki/File:Audible_logo.svg

[2019-04-29 23:36] bmuschko opened #1387 "Request: Kubernetes"
**Name:** Kubernetes
**Website:** https://kubernetes.io/
**Official resources for icon and color:** https://github.com/kubernetes/kubernetes/tree/master/logo

[2019-04-30 03:12] #1345 closed

[2019-04-30 07:00] nexus0212 commented on #1387
I'll take care of it 😃

[2019-04-30 07:57] nexus0212 commented on #1386
I'll take care of it, but i have to know what the version is needed ([**1**] full logo, [**2**] only sign).

![Web 1280 – 1](https://user-images.githubusercontent.com/7335471/56947465-96d8c600-6b2d-11e9-86ef-3c3145a30eb0.jpg)

[2019-04-30 08:05] nexus0212 commented on #1379
I will take care of it 👋

[2019-04-30 16:26] davidklebanoff commented on #1386
#2 would be perfect.

On Tue, Apr 30, 2019 at 12:57 AM Piotr Hylicki <notifications@github.com>
wrote:

--

David Klebanoff
Aventrix | Founder & Engineer | www.aventrix.com

[2019-04-30 16:26] davidklebanoff commented on #1386
#2 would be perfect.

[2019-04-30 22:17] europ opened #1391 "LaTeX Logo Request"
**Name:** LaTeX
**Website:** https://www.latex-project.org/
**Official resources for icon and color:** https://www.latex-project.org/img/latex-project-logo.svg
**GitHub:** @latex3

[2019-04-30 23:03] Darkspac3 opened #1392 "Allocine.fr"
Name: Allocine
Website: http://www.allocine.fr/
Official resources for icon and color: http://www.allocine.fr/favicon.ico

[2019-05-01 18:49] ilDuna opened #1393 "Request: Oracle"
**Name:** Oracle
**Website:** [Oracle](https://www.oracle.com)
**Official resources for icon and color:** [Oracle Brand](https://www.oracle.com/webfolder/s/brand/identity/index.html)

[2019-05-01 21:25] nexus0212 commented on #1393
I will gladly take it 😃

[2019-05-03 10:41] ericcornelissen commented on #1384
@mnn, may I ask why you reacted to this issue with a _thumbs down_?

[2019-05-03 10:45] ericcornelissen commented on #1393
Go ahead @nexus0212 😃

[2019-05-03 14:34] birjolaxew commented on #1384
@ericcornelissen I can't respond on his behalf, but I am also generally not a fan of CoC's. All of this is of course my own personal opinion.

Codification (as in the case of codifying the moral compass of a community into a written code of conduct) doesn't come without a cost. By the nature of how complex it is, morality can't be accurately converted to rules. The rules must either be so general

[2019-05-03 16:24] mnn commented on #1384
Solid response from @birjolaxew, much better articulated than mine is.

---
My general opinion on CoCs: I don't like them at all.

The problem is, that it is either so general, that is in fact useless, because those rules were already being implicitly followed. And so it is pointless to add a such CoC.

Or the rules, or rather the people creating these rules, try to force their politics onto other

[2019-05-03 17:30] ericcornelissen commented on #1384
Those are interesting viewpoints 🤔

I'm not all to familiar with CoCs, but from my experience there is also plenty of projects that have one and don't show this kind of behavior. I guess you point out an interesting example @mnn, but without context it is somewhat vague and I don't see how it really applies to this project, care to share a link explaining what happened?

I do personally believe th

[2019-05-03 17:38] #1386 closed

[2019-05-03 17:40] #1379 closed

[2019-05-03 17:43] #1387 closed

[2019-05-03 17:49] #1343 closed

[2019-05-03 18:42] mnn commented on #1384
If you have such CoC from start, or looking on the community after long time, you end up with people (contributors and community) with same values, same bias. So if your CoC has strong left wing (nowadays synonym to "progressive" = identitarian and illiberal) bias, then you will have only strong left wingers in your community and contributors (forming an ideological bubble), because everybody else

[2019-05-04 02:01] birjolaxew commented on #1384
@ericcornelissen

For the sake of the argument I was making, those are essentially the same thing. "Don't harass others" is so general that it doesn't bring anything new to the table when compared to before the rules of conduct were codified - one would assume that everyone already agrees that harassment is bad. Having it written down serves no purpose beyond, well, having it written down.

That i

[2019-05-04 19:21] nexus0212 commented on #1392
I will gladly take it 😃

[2019-05-06 06:55] ericcornelissen commented on #1384
Okay, I agree the politics aspect of this can be tricky. I also certainly agree that this project is (mostly<sup>1</sup>) apolitical and doesn't need a CoC from that point of view (as opposed to e.g. the Tor project).

The discussion so far has mostly been about the people that like CoCs versus the people that don't like CoCs. And both groups will either contribute/not contribute based on whether

[2019-05-06 09:17] h1nk opened #1397 "Multiple Icon Requests"
~~**Name:** Unreal Engine
**Website:** [unrealengine.com](https://www.unrealengine.com/) ([Alexa Ranking ~2K](https://www.alexa.com/siteinfo/unrealengine.com))
**Official resources for icon and color:** https://www.unrealengine.com/en-US/branding & https://cdn2.unrealengine.com/BrandingMedia%2FLogos%2FUnreal_Engine_Logos-194aec037564e2e849650161de30d5a294a592ee.zip~~

---

~~**Name:** OpenVPN
**We

[2019-05-07 09:36] metaa commented on #1160
I'd like to add RedHat here.

[2019-05-07 15:57] hylickipiotr commented on #1391
I'll be happy to take care of it, but I have to know what kind of logo is requested.

Latex logo is built with two parts, the sign and text which contain LaTeX phrase. @europ Would you choose between this two propositions **[1]** - sign (humming-bird 🐦), or **[2]** - LaTeX phrase.
![Web 1280 – 1](https://user-images.githubusercontent.com/7335471/57313658-590d0c00-70f0-11e9-8c3f-fa4589010436.png)

[2019-05-07 16:23] hylickipiotr commented on #1377
I'll be happy to take care of it 😃

[2019-05-07 16:27] sa-tasche commented on #1391
The bird should have an eye.
I think second should do be used. Because it is well-known.

[2019-05-08 17:07] hylickipiotr commented on #1374
I'll be happy to take care of it 😃, but I've prepared some options in black-white Duckduckgo logo, and choose which kind of logo is the best solution.
![Artboard – 1](https://user-images.githubusercontent.com/7335471/57393892-698eb680-71c4-11e9-969d-1dff05246c5e.png)

[2019-05-08 23:47] Haz001 opened #1404 "Xfce icon(s)"
**Name:** xfce
**Website:** https://xfce.org/
**Official resources for icon and color:**
(only icons i could find, couldn't find any branding guidelines by them)
https://git.xfce.org/xfce/xfdesktop/tree/pixmaps or https://github.com/xfce-mirror/xfdesktop/tree/master/pixmaps
https://git.xfce.org/www/cdn.xfce.org/tree/images or https://github.com/xfce-mirror/cdn.xfce.org/tree/master/images
(added th

[2019-05-09 12:06] nuheluxulu opened #1405 "Proxmox"
**Name: proxmox
**Website: https://www.proxmox.com/
**Official resources for icon and color: None

[2019-05-09 13:04] hylickipiotr commented on #1405
I'll take care of it :wave:

[2019-05-10 14:37] remzpath opened #1407 "Request: Prestashop"
Name: Prestashop
Website: https://www.prestashop.com
Official resources for icon and color: https://fr.wikipedia.org/wiki/Fichier:Prestashop-logo.png

Thanks & Love !

[2019-05-12 21:30] #1405 closed

[2019-05-12 21:30] davidklebanoff commented on #1405
This icon will be added in the next release. Thanks @hylickipiotr!

[2019-05-12 21:39] davidklebanoff commented on #1391
Hi @hylickipiotr,
We try to avoid using wordmarks as icons in Simple Icons. The bird would be the more appropriate icon for this project.

Could you create a PR with the bird icon? Also, the option here appears to be missing some details. I haven't seen an official monochromatic version of the LaTex logo, but looking at the [official logo](https://www.latex-project.org/img/latex-project-logo.svg),

[2019-05-12 21:58] #1090 closed

[2019-05-12 21:59] davidklebanoff commented on #1090
The icon has been added by @ericcornelissen and will be available in the next release! 🎉

[2019-05-13 03:10] huiyifyj commented on #1090
Thanks.

[2019-05-13 08:15] europ commented on #1391
I'm sorry that I did not add the direct link to the logo.

There is a separate repository for this purpose https://github.com/latex3/branding.

Hummingbird (SVG):
https://github.com/latex3/branding/blob/master/latex-project_logo/material/hummingbird.svg

LaTeX phrase (SVG):
https://github.com/latex3/branding/blob/master/latex-project_logo/material/latex-project-logo_old.svg

[2019-05-13 09:34] SVendittelli opened #1408 "Atlassian product: bamboo"
**Name:** Atlassian bamboo
**Website:** https://www.atlassian.com/software/bamboo
**Official resources for icon and color:**

https://www.atlassian.design/guidelines/marketing/resources/logo-files

[2019-05-13 13:38] birjolaxew commented on #1391
It should be mentioned here that the logo people generally associate with LaTeX is the wordmark. This is mostly because the wordmark can be easily inserted into LaTeX documents, so it is what is used to refer to LaTeX pretty much everywhere. This is reflected on e.g. [their Wikipedia page](https://en.wikipedia.org/wiki/LaTeX) and the search results:

<p align="center"><img src="https://user-images

[2019-05-13 16:26] europ opened #1409 "ManageIQ Logo Request"
**Name:** ManageIQ
**GitHub:** @ManageIQ
**Website:** http://manageiq.org/
**Official resources for icon and color:**
1. http://manageiq.org/logo/
2. https://github.com/ManageIQ/manageiq.org/tree/master/site/assets/images/logo

[2019-05-13 18:56] ericcornelissen commented on #1393
The Oracle icon has been added and will be available in the next update

[2019-05-13 18:56] #1393 closed

[2019-05-13 19:05] ericcornelissen commented on #1409
I'm sorry @europ but ManageIQ does not meet our standard [popularity threshold](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) with an [Alexa rank of ~1.5M](https://www.alexa.com/siteinfo/manageiq.org?ver=classic), is there any other indication of the popularity of the service?

[2019-05-13 19:15] ericcornelissen commented on #1391
This is a difficult one 🤔

On the one hand I agree with @birjolaxew, the wordmark is much better known (I wasn't even aware of the bird sign, even though I regularly use LaTeX).

On the other hand it doesn't work well on small sizes, and with a few exceptions most logo's are like the bird (notable exceptions are [Samsung](https://simpleicons.org/?q=samsung) and [PlayStation 3 & 4](https://simpleic

[2019-05-13 20:41] Fryguy commented on #1409
ManageIQ is the downstream of Red Hat CloudForms, which you can find out more information here: https://www.redhat.com/en/technologies/management/cloudforms , so determining popularity is tricky because it's likely split between ManageIQ and CloudForms.

Some other things that might help:

- https://github.com/ManageIQ/manageiq - main repository with 820 GitHub stars, 696 forks.
- https://github.c

[2019-05-14 07:07] #1380 closed

[2019-05-14 09:19] #1408 closed

[2019-05-14 10:35] ClydeDz opened #1411 "Skillshare icon"
**Name:** Skillshare
**Website:** https://www.skillshare.com/
**Official resources for icon and color:** https://www.skillshare.com/press

[2019-05-14 10:39] ClydeDz opened #1412 "Update Go language icon"
**Name:** Go lang
**Official resources for icon and color:** https://blog.golang.org/go-brand and this [brand book](https://storage.googleapis.com/golang-assets/Go-brand-book-v1.9.5.pdf)

[2019-05-14 11:00] birjolaxew commented on #1412
There actually was [some discussion on this in the original PR](https://github.com/simple-icons/simple-icons/pull/944#pullrequestreview-149532388). The consensus seemed to be that, since it's been 4 months (at the time, now 1 year) since they published the new design and they haven't really started using it anywhere, we'd stick with the gopher for now and update at a later time when they start usi

[2019-05-14 11:30] cybette commented on #1409
We get around 200 downloads of the ManageIQ appliances weekly. I'm not sure if that's good enough of an indicator. The social channels are also quite active - [Twitter](https://twitter.com/manageiq), [Youtube](https://www.youtube.com/user/ManageIQVideo), [forum](http://talk.manageiq.org/).

[2019-05-15 14:22] lfrichter opened #1413 "Horizon would be very cool"
**Name:** Laravel Horizon
**Website:** https://horizon.laravel.com/
**Official resources for icon and color:** rgb(64, 82, 99)
I didn't find mediakit related.

[2019-05-15 16:09] birjolaxew commented on #1413
Luckily the logo on their website is an SVG, from which the logomark can be extracted:

<p align="center"><img src="https://svgshare.com/i/D6N.svg" width="50%" /></p>

[code]

[2019-05-15 17:48] hylickipiotr commented on #1413
I'll take care of it.

[2019-05-15 18:20] adrianoluengo commented on #1359
@ericcornelissen just to update a bit since its been a little while. Did I provide a reasonable svg file. The white logo wouldn't have fit (from the main Arduino site) so thats the reason I decided to use the other official Arduino logo. Let me know if there is anything else that I could do.

[2019-05-15 20:43] birjolaxew commented on #1413
Added in #1414, and will be in next release. Thanks @hylickipiotr!

[2019-05-15 20:43] #1413 closed

[2019-05-16 07:55] DeadManPoe opened #1415 "Cassandra icon"
**Name:** Cassandra
**Website:** http://cassandra.apache.org/
**Official resources for icon and color:** none for what i'm aware of, png taken from the website can be found here http://cassandra.apache.org/img/cassandra_logo.png

Svg icon taken from Wikimedia can be found here: https://upload.wikimedia.org/wikipedia/commons/5/5e/Cassandra_logo.svg

[2019-05-16 07:58] DeadManPoe opened #1416 "Dynatrace"
**Name:** Dynatrace
**Website:** www.dynatrace.com
**Official resources for icon and color:** https://www.dynatrace.com/company/press-kit/

[2019-05-16 11:36] hylickipiotr commented on #1416
I'll take care of it!

[2019-05-16 12:07] ericcornelissen commented on #1359
@adrianoluengo you did provide a reasonable SVG. However, we as maintainers generally don't just add all requested icons whenever one is requested. We generally try to let outside contributors pick up issues, especially when an SVG is readily available, and add them through a Pull Request.

So, if you really want the Arduino logo to be added, I encourage you to open a Pull Request adding the Ardui

[2019-05-16 14:26] adrianoluengo commented on #1359
Perfect and thanks for letting me know. I'll be sure to open a new pull request.
On May 16, 2019, 5:07 AM -0700, Eric Cornelissen <notifications@github.com>, wrote:

[2019-05-17 02:17] timothymolter opened #1417 "Request for Player.FM icon"
Website and Icon: https://player.fm/

Example Podcast URL: https://player.fm/ccfergusfalls/

[2019-05-17 17:49] thiagobraga opened #1418 "Request: Todoist Icon"
**Name:** Todoist
**Website:** https://todoist.com/
**Official resources for icon and color:** https://doist.com/press/

[2019-05-17 18:21] birjolaxew commented on #1377
This has been added and will be in the next release. Thanks @hylickipiotr!

[2019-05-17 18:22] #1377 closed

[2019-05-17 18:53] Prologh commented on #1377
Great news! Thanks @hylickipiotr

[2019-05-18 07:47] hylickipiotr commented on #1418
I will be happy to take care of it 😄

[2019-05-19 21:58] hylickipiotr commented on #1416
I've almost done, but I have a problem choosing the color. In the logo are five different colors:
* symbol: `#b4dc00` `#73be28` `#6f2da8` `#1496ff`
* typography: `#1a1a1a`

I've also checked the Dynatrace website. The primary color of the website is `#0f1419`.

---
I think, better option is to use the color from the website `#0f1419`.

@DeadManPoe @birjolaxew What is your opinion?

[2019-05-20 05:50] ericcornelissen commented on #1418
The icon for Todoist has been added and will be available with the next release

[2019-05-20 05:50] #1418 closed

[2019-05-20 05:54] ericcornelissen commented on #1416
This is a difficult one, I'm not sure but I do want to add that given the styling on their website `#6F2DA8` and `#1496FF` are also good options since they're used in the accent gradient, e.g.:

![image](https://user-images.githubusercontent.com/3742559/57999082-c485af00-7adc-11e9-87a3-688d14994a70.png)

[2019-05-20 17:07] bonanitech commented on #1357
I have this SVG version. It might need a little polishing.

[node-red-icon.svg.zip](https://github.com/simple-icons/simple-icons/files/3198989/node-red-icon.svg.zip)

[2019-05-20 17:40] DeadManPoe commented on #1416
I believe the best one is the colored one (green, blue, purple), it's the logo used everywhere except when the background is of a dark color

[2019-05-22 07:13] hylickipiotr commented on #1160
I will take care of some linux distributions' logo 😄

[2019-05-22 17:59] joshuabaker opened #1427 "Request: Publish to Composer/Packagist"
It’d be great to have this resource available via [Packagist](https://packagist.org/).

[2019-05-22 21:51] metaa commented on #1160
[Alpine Linux](https://alpinelinux.org/) would be great, too ☺️

[2019-05-23 05:52] ericcornelissen commented on #1427
I don't see why we wouldn't add this :thinking:

Do you have any guidelines/examples/help on how we can best approach that, I'm not a PHP developer myself (I don't know if any of the other maintainers are) so I'm not super familiar with Composer/Packagist

[2019-05-23 07:28] ycku opened #1429 "Request for FreeBSD icon"
**Name:** FreeBSD
**Website:** https://www.freebsdfoundation.org/
**Official resources for icon and color:** https://www.freebsdfoundation.org/about/project/

[2019-05-23 14:07] d-pfeif opened #1430 "Crunchbase"
**Name:**
**Website:**
**Official resources for icon and color:**

Website: https://www.crunchbase.com/home
Name: Crunchbase
icon: https://www.linkedin.com/company/crunchbase/

[2019-05-23 20:21] hylickipiotr commented on #1429
I'll take care of it.

[2019-05-23 20:48] birjolaxew commented on #1429
This was added in #1431, and will be in the next release. Thanks @hylickipiotr!

[2019-05-23 20:48] #1429 closed

[2019-05-23 21:01] hylickipiotr commented on #1261
Microsoft Teams logo is only in color version, and it have some shadows, so I've prepared some black-white logos solutions. @davidklebanoff @ericcornelissen @brownbl1 Do you like any of the solutions?
![Group 5](https://user-images.githubusercontent.com/7335471/58285901-f7b29180-7dad-11e9-8174-1b0c82d66382.png)

[2019-05-23 21:15] hylickipiotr commented on #1269
@birjolaxew What do you think about this logo? is everthing okey?

![Group 1](https://user-images.githubusercontent.com/7335471/58286926-1b76d700-7db0-11e9-880f-80ae21870988.png)

[2019-05-23 21:26] birjolaxew commented on #1269
@hylickipiotr Looks good to me. I had a quick go at outlining the faded lines instead of removing them entirely, but I couldn't find a variant that is as recognizable as your version. Gets a :+1: from me!

[2019-05-24 04:12] ChrisKatsaras opened #1432 "Next.js"
Next.js
https://nextjs.org/

[2019-05-24 06:12] ericcornelissen commented on #1261
Looking at [the original icons](https://docs.microsoft.com/en-us/office/admins-itprofessionals) I would say option 2 is the best representation of the logo by capturing the shadow of the T-block with the outline. But it is difficult to say which is best (and I'm also not very familiar with the icon), and I think both option 1 and 3 are acceptable as well

[2019-05-24 08:57] pedrom34 opened #1433 "Request: TeamViewer"
**Name:** TeamViewer
**Website:** https://www.teamviewer.com/
**Official resources for icon and color:** https://commons.wikimedia.org/wiki/File:TeamViewer_logo.svg

[2019-05-24 09:15] birjolaxew commented on #1430
Worth noting that [their favicon](https://pbs.twimg.com/profile_images/969007370738180098/Cfo-N9RP.jpg) seems to just be the "c" and "b" from their full wordmark, which can be found as an SVG on their website (background added by me so it would show up):

<p align="center"><img width="50%" src="https://svgshare.com/i/DCj.svg" background="#000" /></p>

[code]

[2019-05-24 09:23] pedrom34 opened #1434 "Request: Synology"
**Name:** Synology
**Website:** https://www.synology.com
**Official resources for icon and color:** https://upload.wikimedia.org/wikipedia/commons/4/48/Synology_Logo.svg

There's some icons and colors on the playstore, for their applications: https://play.google.com/store/apps/developer?id=Synology+Inc.

[2019-05-24 09:48] birjolaxew commented on #1434
For anyone who wants to contribute this, their official logo resource would be [their logo guide](https://www.synology.com/en-global/company/branding) - the download links are about halfway down the page.

[2019-05-24 10:54] pedrom34 commented on #1374
First and forth ones are pretty good!

[2019-05-24 11:18] birjolaxew commented on #1374
@hylickipiotr I'd probably prefer 1. Seems like it conveys the subject the best, and the outer ring is undeniably part of the logo.

Thanks for the effort you put into this by the way (and sorry that it went ignored for 16 days)

[2019-05-24 14:50] davidklebanoff commented on #1433
https://www.teamviewer.com/resources/images/logos/teamviewer-logo-big.svg

[2019-05-24 14:56] davidklebanoff commented on #1432
Their favicon is just the `N` of their main logo, and appears to be an appropriate icon for the brand.

[2019-05-25 11:27] joshuabaker commented on #1427
Thanks for being open to this.

The required `composer.json` file is pretty similar to the existing [`package.json`](https://github.com/simple-icons/simple-icons/blob/e9f76351eceb00baba53696dfc0b45820637dae3/package.json) file.

[code]

Then a maintainer just needs to [submit the package to Packagist](https://packagist.org/packages/submit).

[2019-05-27 13:30] #1104 closed

[2019-05-27 19:37] KovuTheHusky opened #1436 "Request: Pokémon GO"
**Name:** Pokémon GO
**Website:** https://www.pokemongo.com (The Pokémon Company) & https://pokemongolive.com (Niantic)
**Official resources for icon and color:** The cleanest vector is probably the omni notification icon from their app's APK. I have included it here, but it is only served as a PNG.

Normally I would open a PR myself, but for this one I think It's probably better for me to leave t

[2019-05-28 04:36] Da13Harris opened #1437 "Updated Facebook Icon"
**Name:**
Facebook

**Official resources for icon and color:**
https://en.facebookbrand.com/assets/f-logo/

[2019-05-28 05:04] pedrom34 opened #1438 "Request: OSMC"
**Name:** OSMC
**Website:** https://osmc.tv
**Official resources for icon and color:**
  https://github.com/osmc/osmc/tree/master/assets

[2019-05-28 17:43] davidklebanoff commented on #1438
The website has an SVG version of their icon in the footer as well.

[2019-05-28 17:52] davidklebanoff commented on #1436
The Pokemon Go brand is certainly big enough to warrant having an icon in Simple Icons, but I don't believe the notification icon within the app is the appropriate icon to represent the brand.

[2019-05-28 17:58] KovuTheHusky commented on #1436
I mean, it's basically the app icon but single color. I'm not sure how you get closer to the app icon without adding additional colors. There is a reverse style icon as well if you think that fits better. As in the color and transparency swapped.

![app_icon](https://user-images.githubusercontent.com/361739/58500541-68600200-8150-11e9-8f76-2ab0bf0b7f32.png)
![notification_icon](https://user-images

[2019-05-28 17:58] hylickipiotr commented on #1438
I will take care of it 😄

[2019-05-28 18:38] davidklebanoff commented on #1438
This has been added by @hylickipiotr and will be available the next release! 🎉

[2019-05-28 18:38] #1438 closed

[2019-05-28 18:50] davidklebanoff commented on #1374
@hylickipiotr - I second @birjolaxew's choice.

[2019-05-28 18:58] hylickipiotr commented on #1430
I'll take care of it 😄

[2019-05-28 20:14] hylickipiotr commented on #1374
Okay, I think everything is clear. I will prepare PR with first logo proposition.

[2019-05-28 22:31] #1374 closed

[2019-05-28 23:46] davidklebanoff commented on #1374
Thanks for all the hard work @hylickipiotr! The icon will be available in the next release.

[2019-05-29 07:40] dream-wlmcode opened #1447 "Questionnaire system"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-05-29 20:33] hylickipiotr commented on #1093
I'll take care of it.

[2019-05-29 23:55] #1447 closed

[2019-05-30 04:58] #1430 closed

[2019-05-30 18:43] davidklebanoff commented on #1092
The icon has been added by @hylickipiotr and will be available in the next release. 🎉

[2019-05-30 18:43] #1092 closed

[2019-05-31 05:25] kokoscript opened #1451 "Request: Haxe"
**Name:** Haxe
**Website:** https://www.haxe.org/
**Official resources for icon and color:** https://haxe.org/foundation/branding.html

[2019-05-31 13:41] rembik opened #1452 "Add icon for Ansible"
**Name:**
Ansible
**Website:**
https://docs.ansible.com/
**Official resources for icon and color:**

Source: https://www.ansible.com/hubfs/2017_Images/BrandPage/Brand-Assets/Community/Ansible-Mark-RGB_Pool.svg
Color: #5BBDBF
SVG:
[code]
JSON:
[code]

[2019-05-31 13:44] brownbl1 commented on #1261
I would also cast my vote for number 2. This would include svg?

[2019-05-31 13:50] ChrisKatsaras commented on #1432
Thanks for making a PR so quickly @davidklebanoff 🎉

[2019-06-01 00:10] ClydeDz opened #1453 "SonarQube icon request"
**Name:** SonarQube
**Website:** https://www.sonarqube.org/
**Official resources for icon and color:**  https://www.sonarqube.org/logos/
**Alexa rank:** https://www.alexa.com/siteinfo/sonarqube.org
**Additional notes:** SonarQube is a product of [SonarSource](https://www.sonarsource.com/). Wondering if the logo should be of SonarSource instead? I could only find the logo / brand guidelines for Son

[2019-06-03 02:06] ArgoZhang opened #1455 "Request: Coveralls"
Name: Coveralls
Website: https://coveralls.io

[2019-06-05 11:59] goyney commented on #1272
Checking back in here. Wanted to let you know that [we've officially started pushing people from MDI here for their brand icons needs.](http://dev.materialdesignicons.com/roadmap/brand-icons)

That being said, would love to see this feature added still! :)

[2019-06-05 15:00] amaisano opened #1456 "New icon request: Pantheon.IO Logo"
![image](https://user-images.githubusercontent.com/688435/58966887-1b4be380-8781-11e9-8e4e-77c1287c9467.png)

**Name:** pantheon
**Website:** www.pantheon.io
**Official resources for icon and color:**

~https://projects.invisionapp.com/boards/8UOJQWW2J3G5#/1145336~
https://projects.invisionapp.com/boards/QSOJQWTDN93K/

☝️ includes SVGs!

[2019-06-05 15:02] tessak22 commented on #1456
Please use this asset specifically: https://projects.invisionapp.com/boards/QSOJQWTDN93K/

[2019-06-05 15:05] amaisano commented on #1456
@tessak22 is there's a smaller logo you recommend for tighter spaces? A simpler one? If not that's OK but the detail may be fuzzy at the size this tool presents at.

[2019-06-05 15:07] tessak22 commented on #1456
Unfortunately, no. I think that Fist SVG will work the best.

[2019-06-06 21:49] zypA13510 opened #1457 "Icon request: Greenkeeper.io"
**Name:** Greenkeeper
**Website:** https://greenkeeper.io/
**Official resources for icon and color:** Not that I can find.

[2019-06-07 10:19] hylickipiotr commented on #1457
The Greenkeeper icon is available in hero image `class="hero"` on their website.
[code]
Of course, I'll take care of it :smile:

[2019-06-07 13:19] mpfaff opened #1459 "Icon Request: Dart"
**Name:** Dart
**Website:** https://dart.dev
**Official resources for icon and color:**
* [Color Guide](https://drive.google.com/open?id=1QBhMJqXyRt-CpRsHR6yw2LAfQtiNat4g)
* [Dart logos](https://drive.google.com/open?id=1oOHbcrJen3s9Okgsb5MeYtvr_QV7-ZH_) in AI format.
* [Dart logos](https://github.com/dart-lang/site-shared/tree/master/src/_assets/image/dart) in SVG and PNG format

[2019-06-07 18:28] celyes opened #1461 "Icon request: GreenSock"
**Name:** GreenSock
**Website:** https://greensock.com/
**Official resources for icon and color:** https://greensock.com

[2019-06-07 23:21] #1457 closed

[2019-06-07 23:26] ericcornelissen commented on #1453
It is a bit unfortunate that SonarSource and SonarQube have the same logo mark except for their color 😅 I personally find it a bit weird to have the same icon under two different names with two different colors but I think it is our best option...

As for SonarCloud (and SonarLint?), if the individual products are also popular enough they may be added as well 🙂

[2019-06-08 03:07] Geo1088 opened #1462 "Update: VS Code"
**Name:** Visual Studio Code
**Official resources for icon and color:**
- Issue where the icon change was documented: https://github.com/microsoft/vscode/issues/71827
- Icon pulled from the latest OS X release: (I could not find any official sources online for the icon, aside from the application itself) ![code](https://user-images.githubusercontent.com/4165301/59141329-ddb1ab00-8978-11e9-9acf-a9a

[2019-06-09 11:58] #1434 closed

[2019-06-09 12:00] #1433 closed

[2019-06-09 12:01] #1432 closed

[2019-06-09 12:03] #1372 closed

[2019-06-09 12:06] #1375 closed

[2019-06-09 13:31] #1437 closed

[2019-06-09 14:11] #1359 closed

[2019-06-09 14:19] #1392 closed

[2019-06-12 02:39] ravanscafi opened #1465 "Request: Exercism"
**Name:** Exercism
**Website:** https://exercism.io/
**Official resources for icon and color:**

Possible (unofficial I think) SVG file:
https://seeklogo.com/vector-logo/342573/exercism

Official logo, but not SVG:
https://assets.exercism.io/social/general.png

I can try asking for an official SVG if needed.

(Perhaps?) Official color from website: `#009CAB`
From:
[code]

[2019-06-12 13:15] ksromanov opened #1466 "Icon request: Ocaml"
**Name:** Ocaml
**Website:** http://ocaml.org/
**Official resources for icon and color:** https://github.com/ocaml/ocaml-logo

There is a set of various .svg files with Unlicense.
Probably https://github.com/ocaml/ocaml-logo/blob/master/White/SVG/light-transparent-icon.svg is almost what can be added to _simple-icons_.

[2019-06-12 16:52] davidklebanoff commented on #1466
Another icon:
http://ocaml.org/img/OCaml_Sticker.svg

[2019-06-13 19:57] cneves1 opened #1467 "request: crunchyroll icon"
Name: crunchyroll
Website: https://www.crunchyroll.com
Official resources for icon and color: https://www.crunchyroll.com

[2019-06-13 21:35] ericcornelissen commented on #1467
For anyone willing to add this, an `<svg>` can be found in the sites header

[2019-06-14 05:55] hylickipiotr commented on #1467
I'll take care of it 🎉

[2019-06-14 06:22] hylickipiotr commented on #1466
I'll take care of it 🎉

[2019-06-14 22:46] ericcornelissen commented on #1272
Thanks for the reminder @goyney, I opened a PR that should do everything this issue needs from our side 👍

[2019-06-15 00:13] ksromanov opened #1473 "Icon request: Clean (functional programming language)"
**Name:** Clean (programming language)
**Website:** https://clean.cs.ru.nl/Clean
**Official resources for icon and color:** https://upload.wikimedia.org/wikipedia/en/8/88/Cleanlang_logo.jpg

This is programming language, alternative to Haskell.

[2019-06-15 11:25] #1462 closed

[2019-06-15 11:33] #1466 closed

[2019-06-15 11:40] ericcornelissen commented on #1473
I'm not sure if the language meets our [popularity threshold](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) here are the [GitHub results for everything using Clean](https://github.com/search?utf8=%E2%9C%93&q=language%3AClean+language%3AClean&type=Repositories&ref=advsearch&l=Clean&l=Clean) (I intentionally left out the Alexa ranking as it gives the r

[2019-06-15 12:14] #1467 closed

[2019-06-15 12:33] ksromanov commented on #1473
I don't think so.

[2019-06-15 12:33] #1473 closed

[2019-06-15 15:24] jlmensink opened #1474 "SKETCH"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-06-15 20:56] birjolaxew commented on #1269
This has been added and will be in the next release. Thanks @hylickipiotr!

[2019-06-15 20:56] #1269 closed

[2019-06-15 21:02] birjolaxew commented on #1093
This has been added and will be in the next release. Thanks @hylickipiotr!

[2019-06-15 21:02] #1093 closed

[2019-06-15 22:59] #1257 closed

[2019-06-15 23:05] ericcornelissen commented on #1474
Are you requesting an icon for [Sketch - The digital design toolkit](https://www.sketch.com/)? If so, we have an open issue for that, see  #1141. It is a bit difficult for us to add as the brand guidelines explicitly state they don't want you to use a monochromatic version the logo... And even if we ignore that, it is not clear how one should do that.

If you're talking about a different "SKETCH",

[2019-06-16 11:04] #1272 closed

[2019-06-16 14:15] RDIL opened #1477 "Cirrus CI Icon"
**Name:** Cirrus CI
**Website:** https://cirrus-ci.org - https://github.com/cirruslabs
**Official resources for icon and color:**
Black background, foreground is at https://raw.githubusercontent.com/cirruslabs/cirrus-ci-docs/master/docs/assets/images/logo.svg

@fkorotkov is that the logo that would be best for use?

P.s. sorry for the title, mobile autocorrect is the worst

[2019-06-17 06:31] hylickipiotr commented on #1477
I'll take care of it 🎉

[2019-06-17 13:10] fkorotkov commented on #1477
@RDIL @hylickipiotr thank you! 🙌

[2019-06-17 13:56] birjolaxew commented on #1477
I am concerned about the maturity of Cirrus CI. We generally use an [Alexa rank](https://www.alexa.com/siteinfo/cirrus-ci.org) of 500k as the maximum that we accept, for the sake of not adding every brand under the sun - and Cirrus CI is at ~4 million.

I understand that for a CI, Alexa rank is not the best measurement of usage and maturity, but with it being as high as it is I'm still a bit conce

[2019-06-17 14:57] fkorotkov commented on #1477
@birjolaxew Cirrus is definitely not as popular at the moment as other CIs that you have icons for. But Cirrus is mature, we are self-funded two years old startup, profitable, with constantly growing user base, not going anywhere soon. 😅

I totally agree with the point of "not adding every brand under the sun" and we can revisit adding Cirrus CI icon after some time. @RDIL, what is your use case f

[2019-06-17 15:29] birjolaxew commented on #1477
I'm ok with adding it, mostly because it seems relatively stable. The main "risk" is it being bought by another company so we'll have to remove it again, but considering that the work has already been done on adding it (#1478, thanks @hylickipiotr) this is a relatively small risk.

I'll be waiting for another maintainer to add their opinion before making any promises though. @ericcornelissen @davi

[2019-06-17 15:54] RDIL commented on #1477
@fkorotkov I was adding it to go with the new shields.io badges. It only has support for grabbing logos from this service.

[2019-06-17 15:58] RDIL commented on #1477
To be more specific, we could have stuff like this
![14CD7CFD-A211-4483-8F5C-A1AD99533D19](https://user-images.githubusercontent.com/34555510/59618879-2a268480-90f7-11e9-9d5e-25ae23a2cabb.jpeg)

[2019-06-17 19:05] ericcornelissen commented on #1477
@birjolaxew I let it through as the "used by" section seemed to show proper support + the fact that it is already somewhat older, so I support adding it as well.

[2019-06-18 00:02] villasv opened #1479 "[Icon Request] Apache Airflow"
**Name:** Apache Airflow
**Website:** airflow.apache.org
**Official resources for icon and color:** https://github.com/apache/airflow/tree/master/docs/img/logos
(Specially https://github.com/apache/airflow/blob/master/docs/img/logos/airflow_64x64_emoji_transparent.png)

[2019-06-18 07:55] lfrichter opened #1480 "Composer"
It’d be great to have this composer icon available

**Name:** Composer
**Website:** https://getcomposer.org/
**Official resources for icon and color:**
https://worldvectorlogo.com/logo/composer
https://seeklogo.com/images/C/composer-logo-41AA794AAD-seeklogo.com.png
https://cdn.freebiesupply.com/logos/large/2x/composer-logo-svg-vector.svg

[2019-06-18 10:08] birjolaxew commented on #1480
Official SVG can be found at https://github.com/composer/composer/issues/4403

[2019-06-19 12:51] MuhdNurHidayat opened #1481 "Request: Minetest"
**Name:** Minetest
**Website:** https://www.minetest.net
**Official resources for icon and color:** https://github.com/minetest/minetest/blob/master/misc/minetest.svg

Minetest is an open-source game and game engine, the website itself is ranked [less than 200k on Alexa](https://www.alexa.com/siteinfo/minetest.net) which is obviously lower than the required `less than 500k`.

I linked to the actua

[2019-06-20 14:04] gupta-ji6 opened #1482 "Add an icon for Canva"
**Name:** Canva
**Website:** https://www.canva.com/
**Official resources for icon and color:** I tried to search for one but had no luck. I've tweeted them though and will update the issue if they reply with one.

[2019-06-20 22:22] ericcornelissen commented on #1482
Though guidelines are always better, the logo on their homepage is an SVG for anyone wanting to pick this one up 👍

[2019-06-20 22:55] gupta-ji6 commented on #1482
I'd like to work upon this.

[2019-06-20 22:57] ericcornelissen commented on #1482
That's great to hear! Looking forward to it 🙂

[2019-06-24 08:20] rembik commented on #1452
Could I help to speed up the process?

[2019-06-24 14:48] birjolaxew commented on #1452
@rembik Certainly! We describe how in our [CONTRIBUTION.md](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon), but that's super detailed. The short of it is to make sure that the SVG is in a 24x24 viewbox, is monochrome (so no `fill="..."` exists) and that it has its maximum size (so the logo is either 100% width or 100% height, or both). Then ru

[2019-06-25 11:53] rembik commented on #1452
That's quickly done.

[2019-06-25 21:40] davidklebanoff commented on #1477
The icon has been added and will be available in the next release! Thanks @hylickipiotr!

[2019-06-25 21:40] #1477 closed

[2019-06-25 22:01] davidklebanoff commented on #1461
Alexa Rank: ~53k

[2019-06-25 22:05] davidklebanoff commented on #1459
Given the absence of an official monochromatic version of this icon, I fear any conversion of the current/standard logo to meet Simple Icons guidelines would render it unrecognizable.

[2019-06-25 22:07] davidklebanoff commented on #1456
Alexa Ranking: ~53k.

[2019-06-26 14:26] ghost opened #1485 "Cargo/crates.io"
**Name:** Cargo/crates.io (Package and build manager of the Rust programming language)
**Website:** https://crates.io/, https://rust-lang.org/
**Official resources for icon and color:** https://www.rust-lang.org/policies/media-guide/

[2019-06-26 15:23] RinMinase opened #1486 "Lumen by Laravel Icon"
It would be great to have this framework icon available.

**Name:** Lumen

**Website:** https://lumen.laravel.com/

**Official resources for icon and color:**
An SVG of the logo as @davidklebanoff stated, could be found at: https://lumen.laravel.com/docs/5.8

_Not an official resource but an SVG for this framework_
https://worldvectorlogo.com/logo/lumen-1

[2019-06-26 22:19] ericcornelissen commented on #1459
That is a good point @davidklebanoff 😅 For anyone willing to pick this up, it might be a good idea to share your idea of how to make it monochromatic here first.

[2019-06-26 22:22] ericcornelissen commented on #1485
It's not immediately obvious how to make the logo monochromatic, I'm not sure if simply making the entire shape one color is recognizable 🤔 If anyone is interested in picking this up, make sure you think about keeping it recognizable

[2019-06-26 22:24] ericcornelissen commented on #1486
From the looks of [the GitHub repo](https://github.com/laravel/lumen#lumen-php-framework) the framework is popular enough to be included 👍 A different source would be preferable though 🤔

[2019-06-26 22:28] davidklebanoff commented on #1486
There's an SVG version of the logo in the header of their documentation
page:
https://lumen.laravel.com/docs/5.8

[2019-06-26 22:39] #1456 closed

[2019-06-26 22:42] #1452 closed

[2019-06-27 01:45] JoaoPedroMoraes commented on #1482
create PR #1487

[2019-06-27 15:55] JoaoPedroMoraes commented on #1352
request created in pull request #1488

[2019-06-27 19:26] #1482 closed

[2019-06-27 19:26] davidklebanoff commented on #1482
This icon has been added by @JoaoPedroMoraes and will be made available in the next release!

[2019-06-27 19:47] gupta-ji6 commented on #1482
Thanks for the PR @JoaoPedroMoraes!

[2019-06-28 11:08] pedrom34 opened #1490 "Kodi"
**Name:** Kodi
**Website:** https://kodi.tv/
**Official resources for icon and color:**
https://kodi.wiki/view/Official:Media_center_logos
https://kodi.wiki/view/Official:Visual_Identity_Guidelines
https://kodi.tv/article/introducing-kodi-logo

[2019-06-28 13:39] JoaoPedroMoraes commented on #1327
Added with pull resquest #1493

[2019-06-28 17:28] #1352 closed

[2019-06-28 17:29] davidklebanoff commented on #1352
The icon has been added by @JoaoPedroMoraes and will be available in the next release!

[2019-06-28 17:45] davidklebanoff commented on #1327
The icon has been added by @JoaoPedroMoraes and will be available in the next release!

[2019-06-28 17:45] #1327 closed

[2019-06-28 17:47] #1333 closed

[2019-06-28 17:47] davidklebanoff commented on #1333
The icon has been added by @JoaoPedroMoraes and will be available in the next release!

[2019-06-28 19:40] #1152 closed

[2019-06-28 19:43] davidklebanoff opened #1499 "Update WebStorm Icon To Match IntelliJ IDEA"
**Name:** WebStorm
**Official resources for icon and color:**
https://www.jetbrains.com/webstorm/

Update the WebStorm icon to be just the black square version, similar to IntelliJ IDEA. Per the discussion in #1152.

[2019-06-28 19:44] davidklebanoff commented on #1152
The icon has been added by @JoaoPedroMoraes and will be available in the next release!

I opened #1499 to update WebStorm to match the icon style.

[2019-06-28 19:50] #1490 closed

[2019-06-28 19:51] davidklebanoff commented on #1490
The icon has been added by @JoaoPedroMoraes and will be made available in the next release! 🎉

[2019-06-28 23:21] JoaoPedroMoraes commented on #1451
'm interested in doing this pr, but how to set the colors? @davidklebanoff @ericcornelissen @birjolaxew

[2019-06-28 23:27] birjolaxew commented on #1451
@JoaoPedroMoraes I think `#F68712` from the center of [their logo](https://haxe.org/img/haxe-logo.svg) would work

[2019-06-29 15:00] sohammondal opened #1500 "Chef"
It would be great to have this configuration management tool icon available.

**Name:** Chef
**Website:** https://www.chef.io/
**Official resources for icon and color:**

https://worldvectorlogo.com/logo/chef-13

[2019-06-29 21:23] JoaoPedroMoraes commented on #1485
I'll get this pull request to make RUST. I noticed that their symbol is like base color black, is that right?

[2019-06-30 11:09] ericcornelissen commented on #1451
Orange is definitely their brand color. I agree with @birjolaxew that `#F48712` seems like the best option, but if you find a more credible source @JoaoPedroMoraes that is also fine.

[2019-06-30 11:11] ericcornelissen commented on #1499
The WebStorm logo on that page is an SVG for anyone wanting to pick this up 👍

[2019-06-30 11:12] ericcornelissen commented on #1500
Actually, their homepage has an SVG in the header, which is a preferable source to _worldvectorlogo_, for anyone willing to pick this up 👍

[2019-06-30 11:15] ericcornelissen commented on #1455
For anyone interesting in adding the Coveralls logo, I think the logo should be the inverted star as it is seen in their favicon

[2019-06-30 11:17] ericcornelissen commented on #1461
For anyone interested in picking this up, the header of their homepage has an SVG of the logo 👍

[2019-06-30 12:29] ericcornelissen opened #1504 "Lint the <title> content"
It would be nice if we could automatically verify the contents of the `<title>` element of an SVG to prevent comments such as in #1395. At the very least we should be able to verify that it follows the (currently standard) format of `[ICON_NAME] icon`.

I figured this would be possible with [SVGLint](https://github.com/birjolaxew/svglint), but I wasn't able to find a selector for the `innerHTML` o

[2019-06-30 15:51] sohammondal commented on #1500
Hey @ericcornelissen I am willing to contribute. Can you guide me with it?

[2019-06-30 16:09] JoaoPedroMoraes commented on #1330
We can leave the icon like this, what's up? but we have to decide the color!
Can I open the Pull Request with the icon like this and the color # E65270? @ericcornelissen
![Captura de Tela_selecionar área_20190630130655](https://user-images.githubusercontent.com/46731099/60399239-007a4e00-9b38-11e9-987b-55b19807b9fc.png)

[2019-06-30 16:25] birjolaxew commented on #1504
This would probably best be done using the `custom` rule in SVGLint.

I can look into implementing it, but am currently on vacation so no promises on the how quickly I'll get it done ;)

[2019-06-30 16:40] birjolaxew commented on #1451
This has been added in #1506 by @JoaoPedroMoraes, and will be in the next release.

[2019-06-30 16:40] #1451 closed

[2019-06-30 18:36] davidklebanoff commented on #1500
@sohammondal - Our [Contribution Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) provide a great step-by-step guide on how to add a new icon to Simple Icons.

[2019-06-30 18:48] davidklebanoff commented on #1330
@JoaoPedroMoraes - I found an official monochrome version of the SVG [here](https://flink.apache.org/img/logo/svg/black_outline.svg). Please use it instead and use https://flink.apache.org/material.html as the source page.

As for color, I think the squirrel's body color is the most appropriate. I extracted `#E65270` from an official [colored SVG](https://flink.apache.org/img/logo/svg/color_black.

[2019-06-30 19:12] sohammondal commented on #1500
@davidklebanoff - Yup, it's pretty straightforward. I can do it.

[2019-06-30 20:30] ericcornelissen commented on #1330
Go ahead with creating a PR @JoaoPedroMoraes, consider @davidklebanoff comment tho 😉

[2019-06-30 21:32] JoaoPedroMoraes commented on #1330
Pull Request Ok :+1:

[2019-06-30 22:28] ericcornelissen commented on #1504
Thanks for the pointer 👍 managed to do it myself now 🙂

[2019-07-01 00:35] ArgoZhang commented on #1455
sure. thanks

[2019-07-01 12:01] ericcornelissen commented on #1455
We still want the logo of Coveralls added to the collection if possible

[2019-07-01 18:26] #1465 closed

[2019-07-02 22:27] #1416 closed

[2019-07-03 17:56] #1500 closed

[2019-07-04 07:37] #1474 closed

[2019-07-04 07:37] #1504 closed

[2019-07-04 07:38] #1480 closed

[2019-07-04 14:35] #1330 closed

[2019-07-04 18:28] RinMinase commented on #1486
I have updated the issue above. Cheers! 😁

[2019-07-06 16:15] amaisano opened #1511 "Semaphore CI"
**Name:** Semaphore
**Website:** https://semaphoreci.com/
**Official resources for icon and color:**

![SVG source from website](https://d1dkupr86d302v.cloudfront.net/assets/application_bootstrap/layout/semaphore-logo-a6d954e176b6975b511f314a0cc808dc94a8030210077e3a6e904fbe69dc5354.svg)

(https://d1dkupr86d302v.cloudfront.net/assets/application_bootstrap/layout/semaphore-logo-a6d954e176b6975b511f3

[2019-07-09 20:26] SimplyCodin commented on #1412
Go now uses the new go logo on thier website so the time to update is now

[2019-07-09 22:39] greybax opened #1512 "Main purpose of this repo?"
### Kind of issue
  - [ ] Improvement
  - [ ] Bug
  - [x] Other, namely:

### This issue concerns
  - [ ] The NPM Package
  - [ ] The website
  - [x] Other, namely:

### Description
Why all icons have only one color? That's actually not true for most brand icons.
Would be nice to add some clarifications to Readme. So you'll get more PRs I think because it's not obvious for now why some of the icon

[2019-07-11 16:29] paulmelnikow commented on #1362
Hi Eric, as you know Shields users have continued to run into this issue, and it would be really great to have a friendly solution for them (that avoids just supporting many versions of the icon names, which among other things isn't great for caching).

Have you given some thought about what approach you'd like to take here? If so do you think you could lay out the steps that are needed? If you li

[2019-07-12 08:19] ericcornelissen commented on #1362
I'm not quite sure what would be the best approach. I'm thinking of three possible approaches:

- Add a new key to the icon object, e.g. `slugName` (or just `name`? since the existing one is `title`) which would basically be equal to the filename of SVGs (using [this function](https://github.com/simple-icons/simple-icons/blob/7da861312f047a08d68508d5e32a85c00b69c964/scripts/utils.js#L6)).
- A simi

[2019-07-12 13:27] ericcornelissen commented on #1512
So, and this does indeed lead to a lot of confusion, the color is supposed to represent the brand rather then the icon itself. Though, admittedly, that is often the same. The reason why it is monochromatic is, I guess, because it started out that way (and updating all existing icons would be quite an undertaking). Relatedly, this has also kind of been discussed in #1060.

I don't think something l

[2019-07-12 16:53] PeterShaggyNoble opened #1515 "Google Maps Icon"
**Name:** Google Maps
**Website:** https://www.google.com/maps
**Color:** *Seems* to be the standard Google blue: `#4285f4`
**Icon:** I haven't been able to find a source for an "official" SVG yet but they do include a Google Maps icon in their [Material Icons Extended font](https://fonts.googleapis.com/icon?family=Material+Icons+Extended) and, for reference, the MDI one can be found [here](http:/

[2019-07-12 16:57] PeterShaggyNoble opened #1516 "Ticketmaster Icon"
**Name:** Ticketmaster
**Website:** https://www.ticketmaster.com/
**Official resources for icon and color:** http://design.ticketmaster.com/brand/overview/

[2019-07-12 18:42] ericcornelissen commented on #1362
Quick update @paulmelnikow, I did some experiments and want to go with either the second or third approach. My reasoning being that it reduces to final file size. Instead of having 500+ slugs added, there is a single function that does the conversion in real-time, I don't think the cost of the conversion is that big, right?

I think the third approach is more elegant, however I can imagine use cas

[2019-07-12 20:58] oleg-nenashev opened #1517 "CloudBees Icon"
**Name:** cloudbees
**Website:** https://www.cloudbees.com/
**Official resources for icon and color:**  N/A, will provide a pull request

[2019-07-12 23:54] ericcornelissen commented on #1516
I think the icon to be added to simple icons should be just the "T" rather than the full wordmark. Also note that they want us to use [a version with trademark icon](https://lne.app.box.com/s/995l7oust2nd2lqiym2ps5kxa7zczkob)

[2019-07-14 12:33] fatihmeh opened #1524 "Request: Dassault Systèmes"
Name: Dassault Systèmes
Website: https://www.3ds.com/about-3ds/

[2019-07-14 13:44] fatihmeh commented on #1524
Pull request #1525

[2019-07-14 13:44] #1524 closed

[2019-07-14 18:26] ericcornelissen commented on #1362
A slug has been added and that should be everything you guys need @paulmelnikow, let us know here if this is sufficient and I will try to release this feature as soon as possible 👍

[2019-07-14 18:26] #1362 closed

[2019-07-14 20:50] ericcornelissen commented on #979
@birjolaxew I don't think this is a problem anymore as the stage where the package is released is separate from the stage where the package is tested, do you agree? If so, I think we can close this issue.

[2019-07-14 20:50] #979 closed

[2019-07-14 20:54] ericcornelissen commented on #989
Hey @philwolstenholme, it has been a while but the property you asked for is now (more or less) there, namely the [slug property](https://github.com/simple-icons/simple-icons/pull/1520) (you will have to add `.svg` yourself 😅), it will be available in the next release.

I'm closing this issue for now, if you feel like your issue has not yet been resolved, feel free to reopen 😄

[2019-07-14 20:54] #989 closed

[2019-07-15 04:22] Scotty-Trees commented on #1160
Can Solus get some love btw? It's one of the best and most stable rolling distros I've ever tried.

[2019-07-15 09:50] metaa opened #1529 "Solus Linux"
**Name:** SolusLinux
**Website:** [getsol.us](https://getsol.us/home/)
**Official resources for icon and color:**
- https://getsol.us/branding/
- https://commons.wikimedia.org/wiki/File:Solus_Logo.png

Based on [this comment](https://github.com/simple-icons/simple-icons/issues/1160#issuecomment-511270206) by @Scotty-Trees.

[2019-07-15 09:50] metaa commented on #1529
For this one I see two possible solutions as to how to turn that logo into a monochrome thing.
I've made two ugly in-a-rush sketches 🙂:
![image](https://user-images.githubusercontent.com/5056880/61207783-3d2c7480-a6f6-11e9-9740-bb99a0f8d4db.png)
![image](https://user-images.githubusercontent.com/5056880/61207792-4289bf00-a6f6-11e9-8e3a-78f13ea0e03a.png)

[2019-07-15 09:55] birjolaxew commented on #1529
Beautiful. Let's just ship it.

[2019-07-15 10:26] ericcornelissen commented on #1529
I like @birjolaxew's suggestion, the sketches by @metaa risk being hard to recognise due to the fact that it mixes what the negative and positive spaces of the original logo are.

[2019-07-15 10:34] metaa commented on #1529
I agree, I don't know why I didn't think of this :stuck_out_tongue:
I might create a PR with that one right away when I'm back in office.

[2019-07-15 11:05] metaa commented on #1529
Do we call it `SolusLinux` or `Solus`?

[2019-07-15 11:20] ericcornelissen commented on #1529
The brand name seems to be just `Solus` ([website](https://getsol.us/home/), [wikipedia](https://en.wikipedia.org/wiki/Solus_(operating_system))) so I think we should stick with that.

[2019-07-15 11:27] PeterShaggyNoble commented on #1516
Agreed with just using the `t`, they use it themselves in places and it's covered at http://design.ticketmaster.com/brand/logos/ - and it doesn't look, from that, like it needs the registered trademark symbol.

[2019-07-15 11:36] ericcornelissen commented on #1516
In your link (http://design.ticketmaster.com/brand/logos/) it says ⬇️so I think we should include the registered trademark symbol 🤔

Logos With ® - for everyone else >

[2019-07-15 12:01] ericcornelissen opened #1531 "Resolve non-alphanumeric characters in brand slugs"
### Kind of issue
  - [ ] Improvement
  - [ ] Bug
  - [x] Other, namely: _future proofing_

### This issue concerns
  - [x] The NPM Package
  - [ ] The website
  - [ ] Other, namely:

### Description

_Originally posted by @birjolaxew in https://github.com/simple-icons/simple-icons/pull/1519#issuecomment-511227997_

Not sure if it should be all unknown characters (`/\W/g`), all non-ascii character

[2019-07-15 13:59] paulmelnikow commented on #1531
Hi! Thanks for the ping. 😀

This is the formula @RedSparr0w developed in https://github.com/badges/shields/pull/3641#issuecomment-509394351:

Input | Output
:-- | :--
`let’s-encrypt` | `lets-encrypt`
`.NET` | `.net`
`Not a Re@l Service` | `not-a-rel-service`
`Yahoo!` | `yahoo`

It seemed to work for everything except Google and Google+.

I'm curious whether or not that's an improvement over what y

[2019-07-15 14:11] ericcornelissen commented on #1531
Leaving dashes (`-`) in seems reasonable to me, unfortunately introducing dots (`.`) is a bit of a problem for us at this point in time (and also, in my opinion, not ideal for filenames).

I think our approach (replacing e.g. "+" by "plus" and "." by "-dot-") is more robust than simply removing them entirely, avoiding potential name clashes. Then again, we do remove exclamation marks (I believe so

[2019-07-15 14:27] paulmelnikow commented on #1531
Makes sense. Dots are less of a problem in a query string, but not great in filenames.

Your solution sounds really good!

[2019-07-15 18:06] #1517 closed

[2019-07-16 03:54] johnbuhay opened #1533 "Request: Helm"
**Name:** Helm
**Website:** https://helm.sh/
**Official resources for icon and color:**

- https://landscape.cncf.io/logos/helm.svg
- https://github.com/helm/helm

[2019-07-16 05:52] davidklebanoff commented on #1397
Unreal Engine has been added and will be available in the next release. Thanks @fatihmeh for the assistance.

[2019-07-16 05:58] davidklebanoff commented on #1516
The official color is `#026CDF` as per http://design.ticketmaster.com/brand/color/

[2019-07-16 07:35] #1533 closed

[2019-07-16 20:20] jshwrnr opened #1536 "Brave"
Name: Brave
Website: https://brave.com
Icon: https://svgur.com/i/E7L.svg
Icon (black): https://svgur.com/i/E7U.svg

color: #ff5500

[2019-07-16 23:18] jhadida opened #1537 "ORCID icon"
**Name:** ORCID icon
**Website:** https://orcid.org
**Official resources for icon and color:**

https://orcid.org/trademark-and-id-display-guidelines#01-a
(Currently links to: https://figshare.com/articles/ORCID_iD_icon_graphics/5008697)

[2019-07-17 04:23] davidklebanoff commented on #1479
Unfortunately, it appears the official SVGs in the linked GitHub are low quality. Unless someone is able to find a higher quality official source, the icon may have to be recreated in a higher quality.

[2019-07-17 04:28] davidklebanoff commented on #1529
Thanks for the contribution @metaa! This icon has been added and will be made available in the next release.

[2019-07-17 04:28] #1529 closed

[2019-07-17 05:46] anavikajla opened #1539 "Lyft"
**Name: Lyft**
**Website: https://www.lyft.com/**
**Official resources for icon and color:https://www.lyft.com/press**

[2019-07-17 07:50] #1537 closed

[2019-07-17 10:38] muj-programmer opened #1540 "Request for support"
Hi
I really loved the icons and as i was not able to find a flutter package for the same. I created one and would really like if you could add it as a third party package in your **README.md**

I will try to keep it updated with the master branch of simple-icons

[link to my package](https://github.com/muj-programmer/flutter_brand_icons)

[2019-07-17 10:57] ericcornelissen commented on #1539
Any problems @anavikajla? [Lyft](https://www.lyft.com/) (which I'm assuming the title refers to) is currently not part of the collection and it does fit the criteria for it to be added. What's the reason you closed this issue?

[2019-07-18 00:44] davidklebanoff commented on #1479
Sure, asking the creators or maintainers is always a good idea.

As for quality of the linked SVGs... Taking [one of the files](https://github.com/apache/airflow/blob/master/docs/img/logos/airflow_transparent_gray.svg) in the linked repository as an example. If you zoom in to the pinwheel icon, you can see the edges aren't smooth and have some bumps and other artifacts. To me it looks like it may

[2019-07-18 07:40] #1536 closed

[2019-07-18 07:44] #1499 closed

[2019-07-18 08:00] ericcornelissen commented on #1540
That is awesome @muj-programmer, your link seems to be a project for [Feather Icons](https://github.com/feathericons/feather) tho 🤔

Either way, we should be able to work out something 🙂

---

<sup>Note to self, should also look into adding [vue-simpleicons](https://github.com/simple-icons/simple-icons-font) and [simple-icons-font](https://github.com/simple-icons/simple-icons-font) to the README.<

[2019-07-18 08:13] muj-programmer commented on #1540
My bad here is the [link](https://github.com/muj-programmer/flutter_brand_icons)

[2019-07-18 08:44] ericcornelissen commented on #1540
Thanks for the updated link 👍I updated it in the original comment as well 😉

---

About your project, I'm wondering how you keep the icons in sync with our library? I'm guessing you need to run `tool/build.sh` manually for every new release we do? (I'm asking as your project ideally doesn't get out of sync icon-wise with every release we do)

Also, am I correct that you're using an icon font? In t

[2019-07-18 09:26] muj-programmer commented on #1540
Well i initially used the svg icons available on [icomoon.io](https://icomoon.io/) to get the 614 svg icons
and converted them to fonts after that in the last release version i added the remaining svg and created the new font file

Yes i have to run `tool/build.sh` manually but it's easy becoz all i have to is copy and paste the new font file and their unicodes

[2019-07-18 09:29] muj-programmer commented on #1540
I checked [simple-icons-font](https://github.com/simple-icons/simple-icons-font) and i don't seem to find the fonts in it

Do i have to build it using first ?

[2019-07-18 09:43] ericcornelissen commented on #1540
You mean, you had to manually add the SVGs through icomoon.io again?

Okay that sounds good, that means it can be automated 😄

That is correct, the [package on NPM](https://www.npmjs.com/package/simple-icons-font) provides the font files. I'm not familiar with Flutter development so I'm not sure if you can (easily) use that.

[2019-07-18 09:44] muj-programmer commented on #1540
yeah i just checked npm.js for icon-font-buildr package and it does provide ttf format

[2019-07-18 09:46] muj-programmer commented on #1540
Yes i did that last night 41 new icons :)

[2019-07-18 09:47] muj-programmer commented on #1540
yes we can do that

[2019-07-18 09:49] muj-programmer commented on #1540
I will be glad to help setup simple-icons/brand-icons as a flutter package
it is already published as [flutter_brand_icons](https://pub.dev/packages/flutter_brand_icons)

[2019-07-18 20:13] ericcornelissen commented on #1540
that seems like quite some work, it would be nice if that can be automated 😉

it is already published as flutter_brand_icons

Can you elaborate? Are you talking about the name of the project? I'd like to ping @davidklebanoff and @birjolaxew, but I think we're all fine if you use simple-icons as name for the flutter package.

[2019-07-18 23:33] davidklebanoff commented on #1160
@Scotty-Trees - Solus was added by @metaa 2 days ago and will be available in the next release.

[2019-07-19 03:13] muj-programmer commented on #1540
well i chose `brand icons` and not `simple icons` simply because it would help people find it easily hence increase the popularity of the icons, if i change the name to `flutter_simple_icons` as the package name it wouldn't delete the previous uploaded package, hence we will have redundant packages

[2019-07-19 13:08] villasv commented on #1479
I was directed to this logo, which also has the advantage of containing only the relevant pinwheel icon.

https://github.com/apache/airflow/blob/master/airflow/www/static/pin.svg

Plus this alternative source

https://seeklogo.com/vector-logo/339932/airflow

[2019-07-19 13:26] ericcornelissen commented on #1479
Awesome @villasv, the `pin.svg` in their GitHub repository seems perfect 👍 Perhaps making it monochrome is somewhat of a challenge, but whoever is picking this up is encouraged to experiment and report on the different variants they tried.

[2019-07-22 00:52] fstanis opened #1550 "Icon Request: EyeEm"
**Name:** EyeEm
**Website:** https://www.eyeem.com/
**Official resources for icon and color:** [EyeEm Press Kit](https://www.dropbox.com/sh/3atgi6j1jx4it70/AABZxoYSuEp_zD52VKmNpdC3a?dl=0) (linked to from [here](https://www.eyeem.com/press))

[2019-07-22 08:09] joshuabaker commented on #1427
Closing as this isn’t moving.

For those needing to install via Composer, at the time of writing, you can install via [asset-packagist.org](https://asset-packagist.org/).

[2019-07-22 08:41] ericcornelissen commented on #1427
I feel like that is something for the people maintaining a repository to decide 🤔 I consider this issue still as a TODO and would therefore like to keep it open. Is the issue being open bugging you as the opener, @joshuabaker?

That is actually a great link, thanks for sharing it!

[2019-07-22 08:54] joshuabaker commented on #1427
That wording might have sounded passive aggressive. It wasn’t meant to. 😅

In my mind, I have as much responsibility to contribute to open source as repo owners (i.e. opening/closing/owning issues and submitting PRs/solutions). If I can’t, as in this case, it just sits as a perpetual to do in my issues.

There’s a couple of solutions out there right now that support similar packages (i.e. front-en

[2019-07-22 09:13] ericcornelissen commented on #1427
I wouldn't say aggressive, I just didn't see why you'd close it 😉But that's just a difference in style of using GitHub.

I appreciate that mindset, what prevents you from contributing? Time or knowledge? If it is just knowledge, ask us questions! You probably have the exact knowledge we are missing to tackle this issue ourselves.

I would like to keep this issue open and prefer to not open a clone

[2019-07-22 09:23] joshuabaker commented on #1427
Only team members can connect the repo to Packagist, so it’s not something I can do solo.

[2019-07-22 09:41] ericcornelissen commented on #1427
In that case, if [this configuration](https://github.com/simple-icons/simple-icons/issues/1427#issuecomment-495910255) is truly enough, I will try to get a version published on Packagist. I'll get back to you here when I run into problems 👍

[2019-07-22 09:47] joshuabaker commented on #1427
@ericcornelissen Give me a shout if you run into any issues. Happy to help, if I can.

[2019-07-22 10:36] huiyifyj opened #1551 "Request: Open Source Initiative"
**Name:** Open Source Initiative
**Website:** https://opensource.org/
**Official resources for icon and color:**
https://opensource.org/logo-usage-guidelines
https://opensource.org/files/LogoUsageGuidelines.pdf

[2019-07-23 19:06] tetchel opened #1552 "Mattermost icon"
**Name:** Mattermost
**Website:** https://mattermost.com/
**Official resources for icon and color:** https://www.mattermost.org/brand-guidelines/

[2019-07-23 19:22] tetchel commented on #1552
To give some justification, Mattermost is gaining traction as a Slack alternative.

For example, Theia, Eclipse Che, and Eclipse Codewind are using it as their chat platform.

[2019-07-23 19:33] birjolaxew commented on #1552
@tetchel Thanks for the clarification! Mattermost fit our Alexa rank threshold anyway, but it's always nice to hear more about the brands we're adding :)

I went ahead and added the official brand guidelines, which includes vectors of their logo, for anyone who wants to handle this issue.

[2019-07-23 19:52] ericcornelissen commented on #1427
@joshuabaker I have some questions that are currently preventing me from getting the package out there. Would you mind providing us with some insight?

First I have a couple of questions after reading the documentation.

On [About - Managing package versions](https://packagist.org/about#managing-package-versions) it says:

[...]
Tag/version names should match 'X.Y.Z', or 'vX.Y.Z', with an optional

[2019-07-23 20:17] ericcornelissen commented on #982
Since we still haven't heard anything(?), what do you think about letting the bot run on the repository without GitHub actions for now and see if it works and if we like it @davidklebanoff ?

[2019-07-24 01:47] gh0st opened #1553 "Yamaha Motor Corp"
**Name:** Yamaha Motor Corp
**Website:** https://yamaha-motor.com/
**Official resources for icon and color:**

[2019-07-24 07:30] #1117 closed

[2019-07-24 10:10] ericcornelissen opened #1554 "Provide API endpoint to iterate over all icons"
### Kind of issue
  - [x] Improvement _(or a bug since it was (unofficially) possible before?  🤔)_
  - [ ] Bug
  - [ ] Other, namely:

### This issue concerns
  - [x] The NPM Package
  - [ ] The website
  - [ ] Other, namely:

### Description
With the addition of [the generic get method](https://github.com/simple-icons/simple-icons/pull/1522) to simplify access to brands with "difficult" names [ad

[2019-07-24 10:34] birjolaxew commented on #1554
Perhaps defining the `.get` function using `Object.defineProperty(..., { enumerate: false })` would work?

[code]

[2019-07-24 18:43] ericcornelissen commented on #1554
That sounds perfect, I never realized that is what the `enumerate` key is for 😅 I will open a Pull Request for this as soon as possible. Thanks for the tip @birjolaxew!

[2019-07-24 19:17] #1554 closed

[2019-07-25 09:34] Adamanthus opened #1557 "[Request] Pastebin"
Pastebin
https://pastebin.com/
https://upload.wikimedia.org/wikipedia/en/3/35/Pastebin.com_logo.png

[2019-07-25 10:22] joshuabaker commented on #1427
Tagging works with NPM too, if I’m not mistaken. Releases via tags indicate stability and [compatibility](https://semver.org/), help document changes, and allow easier navigation in Github and Git tools. It’s worthwhile considering this approach, in my opinion.

My understanding is that `dev` in Composer maps to `master` by default; However, you can map to `dev-master` or `dev-develop` (i.e. `dev-

[2019-07-25 22:16] ericcornelissen commented on #1427
NPM primarily looks at the version specified in `package.json` as far as I can tell, and the versions are being tracked by NPM so that is what we're relying on so far (as well as [the `release` labeled Pull Requests](https://github.com/simple-icons/simple-icons/pulls?q=is%3Apr+is%3Aclosed+label%3Arelease).

That said I think we can set up automated tagging (based on the version in `package.json`?)

[2019-07-26 21:29] PeterShaggyNoble commented on #1516
@ericcornelissen, hmm ... maybe you're right. The placement of the paragraph about the `®` on that page initially suggested to me that it only applied to the wordmark and not the icon but, rereading it again, it doesn't actually *specify* that.

[2019-07-29 04:49] l0c4lh057 opened #1560 "Request: Visual Studio"
**Name:** Visual Studio
**Website:** https://visualstudio.microsoft.com/
**Official resources for icon and color:**
- https://ratnacahayarina.files.wordpress.com/2014/03/microsoft.pdf (Not sure if this is official, but I found this on another site too, but not on any of Microsoft's own sites)
- PFP from https://twitter.com/VisualStudio
- [https://en.wikipedia.org/wiki/Microsoft_Visual_Studio](http

[2019-07-29 04:53] l0c4lh057 opened #1561 "Request: Steepshot"
**Name:** Steepshot
**Website:** https://steepshot.io/ or https://alpha.steepshot.io/
**Official resources for icon and color:**
- PFP from https://twitter.com/steepshot

[2019-07-29 04:59] l0c4lh057 opened #1562 "Request: Google Search Console"
**Name:** Google Search Console
**Website:** https://search.google.com/search-console
**Official resources for icon and color:**
https://ssl.gstatic.com/search-console/scfe/search_console-128.png

[2019-07-29 05:03] l0c4lh057 opened #1563 "Request: NetBeans IDE"
**Name:** NetBeans
**Website:** https://netbeans.apache.org/
**Official resources for icon and color:**
https://netbeans.apache.org/images/apache-netbeans.svg

[2019-07-29 08:04] ericcornelissen commented on #1561
Thanks for the suggestion @l0c4lh057, unfortunately [Steepshot's Alexa ranking](https://www.alexa.com/siteinfo/steepshot.io) does not meet our minimal requirement of a ranking of 500k. Is the popularity of the website a good measure to go by in this case (I don't know Steepshot) or do you have another indicator of the popularity of Steepshot?

[2019-07-30 05:45] davidklebanoff commented on #982
I think that's fine. Unfortunately I'm quite busy for the foreseeable future with non-simple icons obligations and don't have time to dedicate to the bot at this time. I hope to revisit when things free up a bit.

[2019-07-30 07:33] ericcornelissen commented on #982
Care to share the source code of the bot with me so I can maybe look into getting it working on this repository?

[2019-07-30 20:56] ChrisKatsaras opened #1564 "Request: socket.io"
**Name:**
Socket.io
**Website:**
https://socket.io/

[2019-07-30 22:04] ChrisKatsaras opened #1565 "Request: Styled Components"
**Name:**
Styled Components
**Website:**
https://www.styled-components.com/

[2019-08-01 08:32] E-VANCE opened #1566 "Request: FileMaker"
**Name:** FileMaker
**Website:** [https://www.filemaker.com](https://www.filemaker.com)
**Official resources for icon and color:** [Digital Assets](https://content.filemaker.com/fm_digital_assets)

[2019-08-01 12:58] chayelheinsen opened #1567 "Request: Realm Icon"
**Name:** Realm
**Website:** https://realm.io
**Official resources for icon and color:** https://realm.io/press - [PressKit Download](https://s3.amazonaws.com/static.realm.io/downloads/press/Realm+Press-Kit.zip)

[2019-08-01 15:57] PeterShaggyNoble opened #1568 "Google Allo can be removed"
As detailed at [allo.google.com](https://allo.google.com/), Google Allo has been discontinued so that icon can be removed from the library.

[2019-08-02 11:07] PeterShaggyNoble opened #1569 "Lanyrd can (maybe) be removed"
[lanyrd.com](http://lanyrd.com/) is currently down and, according to its [Wikpedia entry](https://en.wikipedia.org/wiki/Lanyrd), has been for a while, having seemingly been simply abandoned.

[2019-08-03 16:17] lime-h opened #1570 "Icon Request Dashlane"
**Name:** Dashlane
**Website:** https://www.dashlane.com/
**Official resources for icon and color:**

[2019-08-03 18:51] celyes commented on #1461
any news about the addition request ?

[2019-08-03 19:24] birjolaxew commented on #1461
@celyes Looks like nobody has made a PR for this - if you are interested in adding GreenSock to Simple Icons, the easiest way to get that done is to open a PR for it ;)

Our [contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) should cover everything you need, although they are a bit detailed. In short, you'd want to

1. Op

[2019-08-03 20:35] foo-dogsquared opened #1571 "Request: Krita"
Krita is a free and open source digital painting program.

**Name:** Krita
**Website:** https://krita.org/
**Official resources for icon and color:** [Here's their press kit](https://krita.org/en/about/press/). Contains high-quality PNGs in different sizes and an SVG file of their icon.

[2019-08-03 23:22] celyes commented on #1461
@birjolaxew Thank you so much for your detailed response !

[2019-08-04 07:00] foo-dogsquared opened #1572 "Request: Godot Engine"
It's is a free and open source game engine.

**Name:** Godot Engine
**Website:** https://godotengine.org/
**Official resources for icon and color:** There's [an SVG of their logo](https://godotengine.org/themes/godotengine/assets/download/godot_logo.svg) found on their [download page](https://godotengine.org/download/).

[2019-08-04 16:36] bringel opened #1573 "Request: Nintendo 3DS"
**Name:** Nintendo 3DS
**Website:** https://www.nintendo.com/3ds/
**Official resources for icon and color:**

[2019-08-04 17:13] rabernat commented on #1338
This one would be good!

![image](https://user-images.githubusercontent.com/1197350/62426942-cd554c80-b6eb-11e9-91d9-f78c271ed2f5.png)

It appears next to "my profile".

[2019-08-05 18:09] #616 closed

[2019-08-05 18:12] davidklebanoff commented on #1573
Historically, we've had quite a difficult time finding official SVG logos of Nintendo products. If anyone is able to find one for Nintendo 3DS, that would be super helpful!

[2019-08-05 18:28] davidklebanoff commented on #1571
Monochromatizing (sp?) the official logo icon would be quite difficult and require a lot of creative interpretation. If we can find an official monochromatic version that would be great. It may also be worth simply asking the Krita team if they have one as well.

[2019-08-06 07:44] foo-dogsquared opened #1578 "Request: Musescore"
Musescore is mainly a free and open source music composition and notation software. It also features a sharing platform for your compositions and it has an [Alexa ranking of ~15k](https://www.alexa.com/siteinfo/musescore.org).

**Name:** Musescore
**Website:** https://musescore.org
**Official resources for icon and color:** It has a [PNG with very high resolution](https://s3.amazonaws.com/s.musesc

[2019-08-06 12:44] florisdenhengst commented on #1338
Other examples:

![example1](http://www.softlab.ntua.gr/~nickie/images/logo/google-scholar.png)
![example2](http://www.public.asu.edu/~mdedeogl/images/gscholar.png)

[2019-08-06 13:05] rabernat commented on #1338
I prefer the ones that @florisdenhengst found.

[2019-08-06 13:13] ericcornelissen commented on #1338
I feel like this one is too generic and doesn't really represent the Google Scholar "brand".

Though I think the one @florisdenhengst shared is better then the one @rabernat shared, but I feel like it is outdated. I don't see it being used anywhere anymore (correct me if I'm wrong).

It's not much, but if you go to [the settings page](https://scholar.google.com/scholar_settings) it is used there a

[2019-08-07 00:10] davidklebanoff commented on #1572
The icon was added and will be made available in the next release!

[2019-08-07 00:10] #1572 closed

[2019-08-09 12:52] encron opened #1581 "Showpad"
**Name:**
Showpad
**Website:**
 https://www.showpad.com/
**Official resources for icon and color:**

![logo](https://cdn.www.showpad.com/wp-content/uploads/2019/08/showpad-logo-logomark-blue.svg)

[2019-08-10 09:09] #1570 closed

[2019-08-11 13:14] adriaanzon opened #1585 "Updated Microsoft Office icons"
Microsoft updated the logos of their office suite a while ago.  https://news.microsoft.com/europe/2018/11/29/say-hello-to-microsofts-new-office-icons/

**Name:** microsoftoutlook, microsoftonedrive, microsoftword, microsoftexcel, microsoftpowerpoint, microsoftonenote, microsoftaccess
**Official resources for icon and color:** https://developer.microsoft.com/en-us/fabric#/styles/web/office-brand-ic

[2019-08-14 00:40] maraisr opened #1587 "Storybook logo"
**Name:** Storybook
**Website:** https://storybook.js.org/
**Official resources for icon and color:**
https://github.com/storybookjs/brand
Icons: https://github.com/storybookjs/brand/tree/master/icon
Colour: #FF4785

cc @domyen

[2019-08-14 00:41] maraisr commented on #1587
Basically so we can use https://shields.io/ to generate badges for our projects, and leverage this project to surface those icons 🕺

[2019-08-14 15:24] #1564 closed

[2019-08-15 10:59] #1567 closed

[2019-08-16 09:06] BayuAngora opened #1588 "Can't Embed Facebook Icon?"
Why Facebook icon can't be embedded?

https://codepen.io/BayuAngora/pen/aeRPwv

[2019-08-16 09:18] birjolaxew commented on #1588
Because your HTML is invalid. You're missing the closing quotation mark for your `style` (as indicated by the messed up syntax highlighting). [Here's a fixed version](https://codepen.io/birjolaxew/pen/zYOqVzx)

[2019-08-16 09:18] #1588 closed

[2019-08-16 10:32] BayuAngora commented on #1588
Thanks. I will use your fixed method.

[2019-08-17 17:05] yanshouwang opened #1589 "request for CodeFactor's icon"
**Name:** CodeFactor
**Website:** https://www.codefactor.io/
**Official resources for icon and color:**

![image](https://user-images.githubusercontent.com/24455689/63215093-0feb4000-c154-11e9-8d72-9641b591f430.png)

[2019-08-18 22:23] razcristea opened #1590 "Jinja2"
**Name:** jinja2
**Website:** https://jinja.palletsprojects.com/en/2.10.x/
**Official resources for icon and color:** https://upload.wikimedia.org/wikipedia/commons/8/87/Jinja_software_logo.svg

[2019-08-22 08:36] ericcornelissen commented on #1566
Thanks for the info, I added the "awaiting reply" label and that will be removed when you (@E-VANCE) comment with details about the new branding material 👍

[2019-08-22 14:42] Mihailnoomberone2 opened #1591 "Добавьте пожалуйста иконку "tilda" и "Facebook manager""
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-08-22 19:25] henning-schild opened #1592 "gentoo"
Name: gentoo
Website: https://www.gentoo.org/
Official resources for icon and color: https://wiki.gentoo.org/wiki/Project:Artwork/Artwork

It should probably be one of the "g" logos

https://wiki.gentoo.org/wiki/Project:Artwork/Artwork#Variations_of_the_.22g.22_logo

[2019-08-23 02:40] ChrisKatsaras opened #1593 "Request: Strapi"
**Name:**
Strapi
**Website:**
https://strapi.io/

[2019-08-23 08:19] birjolaxew commented on #1591
I'm going to have to close this, because it doesn't follow our issue template and none of us here speak Russian.

If you update the issue with links to the relevant websites and icon resources, we'll reopen and take a look at it.

[2019-08-23 08:19] #1591 closed

[2019-08-23 10:15] josesimoes opened #1594 "Request icon for Open Collective"
**Name:** Open Collective
**Website:** https://opencollective.com/
 Resources: https://docs.opencollective.com/help/about#media-logo

This is a very popular fund management platform among Open Source projects.

[2019-08-23 14:44] gabrielactigraph opened #1595 "Icon request: ActiGraph"
ActiGraph
www.ActiGraphCorp.com

![ActiGraph_ActiMan_BrandColorLogo_TransparentBackground](https://user-images.githubusercontent.com/47389184/63600921-16315000-c58a-11e9-92fc-c3b3ea0ea462.png)
[ActiGraph_Brand_Guidelines_2017_FINAL.pdf](https://github.com/simple-icons/simple-icons/files/3534997/ActiGraph_Brand_Guidelines_2017_FINAL.pdf)

Thanks!

[2019-08-24 11:33] ChangJoo-Park opened #1596 "svelte"
**Name:**
Svelte

**Website:**

https://svelte.dev

**Official resources for icon and color:**

![](https://svelte.dev/svelte-logo-outline.svg)
https://svelte.dev/svelte-logo-outline.svg

![](https://svelte.dev/svelte-logo-horizontal.svg)
https://svelte.dev/svelte-logo-horizontal.svg

[2019-08-25 11:22] ericcornelissen commented on #1595
@gabrielactigraph, unfortunately ActiGraph [doesn't meet](https://www.alexa.com/siteinfo/actigraphcorp.com) our [standard popularity threshold](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon), can you provide other indicators of the popularity of the brand?

[2019-08-25 13:46] thiagobraga opened #1598 "Request: Google Calendar"
**Name:** Google Calendar
**Website:** https://calendar.google.com
**Official resources for icon and color:**
https://seeklogo.com/vector-logo/318686/google-calendar
Sorry, I didn't find any official Google links that could download the Google Calendar icon. Not even on the "Logos list" link below this icon is listed.

https://www.google.com/permissions/trademark/logos-list/

[2019-08-26 11:02] ericcornelissen commented on #747
With #1558 now [merged into master](https://github.com/simple-icons/simple-icons/pull/1597) and [the first release on GitHub](https://github.com/simple-icons/simple-icons/releases/tag/1.14.0) I will close this issue.

[2019-08-26 11:02] #747 closed

[2019-08-26 11:33] alexantr opened #1599 "Updated VK icon and color"
**Name:** vk
**Official resources for icon and color:** [VK Brandbook](https://vk.com/brand)

[2019-08-27 14:12] welljsjs opened #1600 "OpenSSL icon request"
**Name: OpenSSL**
**Website: [www.openssl.org](https://www.openssl.org)**
**Official resources for icon and color: https://www.openssl.org/favicon.ico**
[![OpenSSL icon](https://www.openssl.org/favicon.ico)](https://www.openssl.org/favicon.ico)

[2019-08-27 14:13] welljsjs opened #1601 "PJSIP icon request"
**Name: PJSIP**
**Website: [www.pjsip.org](https://www.pjsip.org)**
**Official resources for icon and color: https://www.pjsip.org/favicon.ico**
[![PJSIP icon](https://www.pjsip.org/favicon.ico)](https://www.pjsip.org/favicon.ico)

[2019-08-27 16:31] gastaldi opened #1602 "ZulipChat"
**Name:** ZulipChat
**Website:** https://zulipchat.com/
**Official resources for icon and color:**

[2019-08-29 17:23] luispuerto opened #1603 "Request: RStudio"
**Name:** RStudio
**Website:** https://www.rstudio.com
**Official resources for icon and color:** https://www.rstudio.com/about/logos/

[2019-08-29 19:47] gabrielactigraph commented on #1595
Sure thing! We are a worldwide multi-million dollar medical technology company. We support all of the major pharma organizations along with many university research studies. Do you have a specific metric that you need filled to support your policy?

[2019-08-30 07:06] birjolaxew commented on #1595
@gabrielactigraph The popularity threshold is mostly there to keep out hobby projects / small projects that are likely to die out soon; I think it's [safe to say](https://www.owler.com/company/actigraphcorp) that that doesn't cover ActiGraph.

This should be good to go if anyone wants to contribute it.

[2019-08-30 09:51] ericcornelissen commented on #1603
For anyone interested in picking this up, I think we should go with the flat blue logo and use that blue as color as well

[2019-08-31 17:17] CerealKiller97 opened #1604 "Gaming Brands"
**Name:**
**Website:**
**Official resources for icon and color:**

Can you add logos of companies such as Activision, Square Enix, EA etc...
Thanks a lot.

[2019-09-03 08:16] louistsaitszho opened #1605 "Update: Android icon"
**Name:** Android
**Official resources for icon and color:**

That's the thing: I can't seem to find any official press kit for it, but somehow someone uploaded one to [Wikipedia](https://en.wikipedia.org/wiki/Android_(operating_system)#/media/File:Android_new_logo_2019.svg)

[Press release](https://blog.google/products/android/evolving-android-brand/) only has a bunch of jpgs

While the ["Google

[2019-09-03 13:56] kitbs opened #1606 "Updated Laravel icon"
![logo](https://laravel.com/img/logomark.min.svg)

**Name:** Laravel
**Website:** https://laravel.com/
**Official resources for icon and color:**
Logo: https://laravel.com/img/logomark.min.svg
Wordmark: https://laravel.com/img/logotype.min.svg
Color: #FF2D20

[2019-09-03 15:46] joaosantana commented on #1589
I want to see this icon too.

[2019-09-04 11:51] #1603 closed

[2019-09-04 12:36] kitbs opened #1609 "Laravel Nova"
![Docs Wordmark](https://nova.laravel.com/docs/assets/img/logo.svg)

**Name:** Laravel Nova
**Website:** https://nova.laravel.com/
**Official resources for icon and color:**
- Inline SVG in page header on https://nova.laravel.com (includes wordmark)
- https://nova.laravel.com/docs/assets/img/logo.svg (includes Docs wordmark)

Color: #252D37

[2019-09-04 18:27] #1551 closed

[2019-09-04 18:55] #1609 closed

[2019-09-04 19:47] PeterShaggyNoble commented on #1605
An SVG can be found on their [brand guidelines page](https://source.android.com/setup/start/brands#logo-android).

[2019-09-04 20:11] PeterShaggyNoble commented on #1605
The new colour, as per that SVG, is `#3ddb85`.

I'll be trying my hand at updating this for Material Design Icons tomorrow. If I'm successful, I'll see if I can do a full canvas one too and post it here.

[2019-09-05 15:48] TheSeanU opened #1612 "Invoice ninja"
Invoice ninja
https://www.invoiceninja.com
https://www.invoiceninja.com/favicon.ico

[2019-09-05 15:49] TheSeanU opened #1613 "Plesk"
Plesk
https://www.plesk.com/
https://www.plesk.com/favicon.ico

[2019-09-06 15:02] louistsaitszho commented on #1594
Which color should be use? `B8D3F4` or `7FADF2`?

[2019-09-06 15:11] josesimoes commented on #1594
Not seeing anything obvious about that on their visual image docs... So I would suggest using 7FADF2.

BTW: thank you so much for looking into this! 👏 😃

[2019-09-06 15:22] louistsaitszho commented on #1596
I guess the best way to deal with this is just to make the middle part transparent, like [this](https://github.com/sveltejs/svelte/blob/85b1850b77a0c0ac91bfde3b929a4c623989e7b4/site/static/svelte-logo-mask.svg)?

And then take the color from [here](https://raw.githubusercontent.com/sveltejs/svelte/85b1850b77a0c0ac91bfde3b929a4c623989e7b4/site/static/svelte-logo.svg), which would be `FF3E00`

[2019-09-06 15:23] louistsaitszho commented on #1573
[This](https://upload.wikimedia.org/wikipedia/commons/1/19/Nintendo_3ds_logo.svg) one is not "official" per se but it's Wikipedia, and it looks great 👍

[2019-09-06 15:36] PeterShaggyNoble commented on #1605
Gave it a stab; it'll probably need to be cleaned up somewhat:

[![android](https://user-images.githubusercontent.com/15157491/64440705-5c2aff80-d0c4-11e9-929d-f4c4e20a48ab.png)](https://github.com/simple-icons/simple-icons/files/3584616/android.zip)

[2019-09-06 16:07] louistsaitszho commented on #1613
that `ico` is probably not right, this should be better: https://www.plesk.com/brand/

[2019-09-06 16:14] ericcornelissen commented on #1573
@louistsaitszho actually Wikipedia/Wikimedia is usually a good enough source for our purposes ([as stated in our Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#1-identify-official-logos-and-colors)) thanks for the link!

However, it is not entirely obvious how the logo should be added to the collection without clear guidelines. The entire wordmar

[2019-09-06 16:15] louistsaitszho commented on #1602
found the [icon](https://github.com/zulip/zulip/blob/cfa62700809584003468a982605ef724204a5f21/static/images/zulip-logo.svg), but what color should it be?

[2019-09-06 19:58] gastaldi commented on #1602
No idea, maybe white on gray?

[2019-09-08 05:17] louistsaitszho commented on #1573
Nintendo's website just gave up and use a silhouette instead. Is that an option?

![Screenshot_20190906-185508](https://user-images.githubusercontent.com/3873011/64483755-81c12180-d208-11e9-9507-3c36dbed0dc8.png)

[2019-09-08 08:51] ericcornelissen commented on #1573
That's definitely an option as well, especially if Nintendo uses it themselves?

[2019-09-08 09:04] SumNeuron opened #1616 "TensorFlow"
**Name:** TensorFlow
**Website:** TensorFlow.org
**Official resources for icon and color:** https://www.tensorflow.org/extras/tensorflow_brand_guidelines.pdf

[2019-09-08 10:43] ericcornelissen commented on #1613
Thanks @louistsaitszho that is very helpful! There are vector versions of the logo (though no SVGs) in the "Download logo" `.zip` on that page for anyone interested in adding the Plesk logo to the Simple Icons collection :+1:

[2019-09-08 10:46] ericcornelissen commented on #1602
Good find @louistsaitszho, there is also an SVG version of the logo in the header of their website (just saw that).

I would expect a green color looking at their website (though I'm not at all familiar with the brand). The SVG logo in the header of the website uses `#52c2af` for the "Z" in the logo, I think that's the best option, unless there are formal branding guidelines somewhere :thinking:

[2019-09-08 10:49] ericcornelissen commented on #1616
For anyone interested in adding this to the collection, sn SVG of the logo can be found through the "Download brand assets" button in the PDF. As for the color, I think `#FF6F00` (the light orange) is the best choice to represent the brand, but it can be that `#FFA800` (the dark orange) is better if someone finds a credible source arguing for that.

[2019-09-08 10:54] #1412 closed

[2019-09-08 10:54] #1587 closed

[2019-09-08 10:54] #1594 closed

[2019-09-09 08:32] josesimoes commented on #1594
💯 👍 😃

[2019-09-09 10:14] TheSeanU opened #1619 "Roundcube"
Roundcube
https://roundcube.net/
https://roundcube.net/favicon.ico

[2019-09-09 13:42] ericcornelissen commented on #1619
For anyone interested, the header of the website contains an SVG version of their logo :+1:

[2019-09-09 17:16] #1573 closed

[2019-09-09 17:16] #1599 closed

[2019-09-09 17:16] #1602 closed

[2019-09-10 17:15] louistsaitszho commented on #1600
Turns out the logo on the website is literally just the word "OpenSSL" in `HelveticaNeue-Light` (probably).

[2019-09-10 17:25] louistsaitszho commented on #1619
What would be a good way to simplify it? And what color should it be?

![roundcube_union](https://user-images.githubusercontent.com/3873011/64635703-894b1b00-d400-11e9-9000-196c8c039df6.png)

IMO just merging everything doesn't really work. This doesn't look like "Roundcube" anymore 🤷‍♀

[2019-09-10 17:43] louistsaitszho commented on #1589
What should the color be?

[2019-09-10 17:45] birjolaxew commented on #1619
I think we'll have to play with some negative space. Here's two variants:

<p align="center"><img height="128" src="https://svgshare.com/i/Ett.svg" />&nbsp;&nbsp;&nbsp;<img height="128" src="https://svgshare.com/i/EuJ.svg" /></p>

The left one is probably the most fitting in this case (the right one would need a bit of cleanup to make all strokes equal width and centered; the above version is most

[2019-09-10 17:50] birjolaxew commented on #1589
Either `#F44A6A` (from the dots on the left), or `#0AA1A5` / `#50D690` from the gradients. I could see an argument for all of those, so pick whichever one you think works the best.

[2019-09-10 17:50] welljsjs commented on #1600
What about the „OS“ Icon I posted above?

[2019-09-10 21:45] #1581 closed

[2019-09-10 21:45] #1589 closed

[2019-09-10 21:45] #1596 closed

[2019-09-11 04:54] alexakasanjeev commented on #1616
Hi @ericcornelissen, I would like to work on this issue, I downloaded the assets and there is a white svg file just  of the logo, but there is some extra space around the logo, what should I do, should I directly upload the svg to the repo or crop first?

Screenshot of how the logo appears in svg
![TF_FullColor_Icon](https://user-images.githubusercontent.com/13250741/64669187-33b55380-d47e-11e9-8b

[2019-09-11 08:13] louistsaitszho commented on #1600
@welljsjs the .ico looks like a raster image, and it might be easier to just recreate a vector version

[2019-09-11 08:35] haloboy777 opened #1622 "genius icon is missing"
**Name:** Genuis.com
**Website:** https://genius.com
**Official resources for icon and color:** [Resource on MegaUpload](https://mega.nz/#!lxNknKxD!2mLOjTERrQQelXB08hhYKCm9PjrAGn1vT37kS7mRao0)

[2019-09-11 13:22] devlead opened #1623 "Request: Azure Artifacts"
**Name:** Azure Artifacts
**Website:** https://azure.microsoft.com/en-us/services/devops/artifacts/
**Official resources for icon and color:** https://docs.microsoft.com/en-us/azure/devops/_img/index/devopsiconartifacts40.svg?view=azure-devops

Original can be downloaded from
https://www.microsoft.com/en-us/download/details.aspx?id=41937
_( `DevOps Service Color\Azure Artifacts.svg`  in that zip.

[2019-09-11 13:37] ericcornelissen commented on #1616
Cool @alexakasanjeev! Looking forward for your Pull Request. Let me know if you run into any problems and I (or maybe someone else) will try to help you :smiley:

[2019-09-13 09:16] jurijzahn8019 opened #1624 "Add Terraform Icon"
**Name:** terraform
**Website:** https://www.terraform.io/
**Official resources for icon and color:** https://www.terraform.io/logos.html, https://www.hashicorp.com/brand#terraform, #623CE4

[2019-09-13 10:45] ericcornelissen commented on #1623
@louistsaitszho don't know if you tried (and neither have I), but in this case [using the SVGO commandline tool](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#3-optimize-the-icon) might have actually solved your problem. If you didn't try it this time, give it a shot next time :wink:

[2019-09-13 10:51] welljsjs commented on #1600
Sure, might be; I was just referring to your comment where you mentioned that the logo is "just the word OpenSSL". I wouldn't take "OpenSSL" as a logo but rather something that looks like the raster image, that's what I was trying to say.

[2019-09-13 11:57] louistsaitszho commented on #1600
Oh yeah for sure, we are on the same page. I was just saying the end result will probably be a combination of the 2: find the font and recreate the "OpenSSL", and then delete "pen" and "SL". Sorry for the confusion 🙏

[2019-09-13 18:51] djmccormick opened #1625 "Add Zoom icon"
**Name:** Zoom
**Website:** http://zoom.us
**Official resources for icon and color:** https://zoom.us/brandguidelines

[2019-09-15 10:17] arghyadeep99 opened #1626 "PyTorch"
Name: **PyTorch**
Website: https://pytorch.org
Official resources for icon and color:
https://github.com/pytorch/pytorch/blob/master/docs/source/_static/img/pytorch-logo-dark.svg
https://github.com/valohai/ml-logos/blob/master/pytorch.svg

[2019-09-15 10:19] arghyadeep99 opened #1627 "Keras"
Name: Keras
Website: https://keras.io/
Official resources for icon and color:
https://github.com/valohai/ml-logos/blob/master/keras-text.svg

[2019-09-16 15:13] Tab-Tang opened #1628 "推荐"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-09-16 15:39] birjolaxew commented on #1628
Looks like you didn't fill out any of the information for this issue. If you want to request a new icon, please fill out the name and website (and official brand resources if available).

[2019-09-16 15:39] #1628 closed

[2019-09-16 21:37] ericcornelissen opened #1629 "Use automated Pull Requests for dependency auditing"
As per the discussion in #1526 we want to look into automated Pull Request for our dependencies. Given that discussion we want to try [Renovate Bot](https://github.com/marketplace/renovate/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW45NTk=) (other considerations include [Greenkeeper](https://github.com/marketplace/greenkeeper)).

Given the nature of our project and its dependencies (i.e. all our depend

[2019-09-17 08:23] henning-schild commented on #1592
Is any information missing here, or why does it seem to be stuck?

[2019-09-17 15:41] birjolaxew commented on #1592
@henning-schild Mostly because nobody has put in the work needed to complete this issue. If you want to contribute Gentoo to the project, we [have a guide on adding new icons](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#adding-or-updating-an-icon) - all contributions are very welcome :)

[2019-09-19 19:12] casperdcl opened #1631 "Request: GnuPG"
**Name:** GNU Privacy Guard
**Website:** https://gnupg.org/
**Official resources for icon and color:** https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=tree;f=artwork/icons

[2019-09-20 09:28] #1623 closed

[2019-09-20 17:08] #1631 closed

[2019-09-24 15:30] DandelionField opened #1635 "US Department of Defense branches: Navy, Army, USMC, Air Force, etc."
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-09-25 03:34] rodrigoalmeidanet opened #1636 "IBM Icon"
**Name: IBM Company Inc
**Website: www.ibm.com
**Official resources for icon and color: www.ibm.com

[2019-09-25 03:36] rodrigoalmeidanet opened #1637 "DBVISIT"
**Name: DBVISIT INC
**Website: www.dbvisit.com
**Official resources for icon and color: www.dbvisit.com

[2019-09-25 03:38] rodrigoalmeidanet opened #1638 "CISCO Icon"
**Name: Cisco Inc
**Website: www.cisco.com
**Official resources for icon and color: www.cisco.com

[2019-09-25 03:40] rodrigoalmeidanet opened #1639 "EPSON Icon"
**Name: EPSON
**Website: www.epson.com
**Official resources for icon and color: www.epson.com

[2019-09-25 03:42] rodrigoalmeidanet opened #1640 "HP Icon"
**Name: HP Inc
**Website: www.hp.com
**Official resources for icon and color: www.hp.com

[2019-09-25 03:46] rodrigoalmeidanet opened #1641 "Cloudera Icon"
**Name: Cloudera Inc
**Website: www.cloudera.com
**Official resources for icon and color: www.cloudera.com

[2019-09-25 03:47] rodrigoalmeidanet opened #1642 "Citrix Icon"
**Name: Citrix Inc
**Website: www.citrix.com
**Official resources for icon and color: www.citrix.com

[2019-09-25 03:48] rodrigoalmeidanet opened #1643 "Broadcom"
~**Name: CA Technologies Inc
**Website: www.ca.com
**Official resources for icon and color: www.ca.com~

[2019-09-25 03:49] rodrigoalmeidanet opened #1644 "Fortinet Icon"
**Name: Fortinet Icon
**Website: www.fortinet.com
**Official resources for icon and color: www.fortinet.com

[2019-09-25 03:50] rodrigoalmeidanet opened #1645 "Fujitsu Icon"
**Name: Fujitsu Icon
**Website: www.fujitsu.com
**Official resources for icon and color: www.fujitsu.com

[2019-09-25 03:52] rodrigoalmeidanet opened #1646 "Informatica Icon"
**Name: Informatica Inc
**Website: www.informatica.com
**Official resources for icon and color: www.informatica.com

[2019-09-25 03:53] rodrigoalmeidanet opened #1647 "LogMeIn Icon"
**Name: LogMeIn Inc
**Website: www.logmein.com
**Official resources for icon and color: www.logmein.com

[2019-09-25 03:55] rodrigoalmeidanet opened #1648 "Lenovo Icon"
**Name: Lenovo Inc
**Website: www.lenovo.com
**Official resources for icon and color: www.lenovo.com

[2019-09-25 03:56] rodrigoalmeidanet opened #1649 "Kyocera Icon"
**Name: Kyocera Inc
**Website: www.kyocera.com
**Official resources for icon and color: www.kyocera.com

[2019-09-25 03:57] rodrigoalmeidanet opened #1650 "NetApp Icon"
**Name: NetApp Inc
**Website: www.netapp.com
**Official resources for icon and color: www.netapp.com

[2019-09-25 03:58] rodrigoalmeidanet opened #1651 "Nutanix Icon"
**Name: Nutanix Icon
**Website: www.nutanix.com
**Official resources for icon and color: www.nutanix.com

[2019-09-25 04:00] rodrigoalmeidanet opened #1652 "Teradata Icon"
**Name: Teradata Inc
**Website: www.teradata.com
**Official resources for icon and color: www.teradata.com

[2019-09-25 04:00] rodrigoalmeidanet opened #1653 "VMWare Icon"
**Name: VMWare Inc
**Website: www.vmware.com
**Official resources for icon and color: www.vmware.com

[2019-09-25 04:01] rodrigoalmeidanet opened #1654 "Veritas Icon"
**Name: Veritas Inc
**Website: www.veritas.com
**Official resources for icon and color: www.veritas.com

[2019-09-25 04:02] rodrigoalmeidanet opened #1655 "Tableau Icon"
**Name: Tableau Inc
**Website: www.tableau.com
**Official resources for icon and color: www.tableau.com

[2019-09-25 04:03] rodrigoalmeidanet opened #1656 "Trend Micro Inc"
**Name: Trend Micro Inc
**Website: www.trendmicro.com
**Official resources for icon and color: www.trendmicro.com

[2019-09-25 04:04] rodrigoalmeidanet opened #1657 "Veeam Icon"
**Name: Veeam Inc
**Website: www.veeam.com
**Official resources for icon and color: www.veeam.com

[2019-09-25 04:05] rodrigoalmeidanet opened #1658 "Symantec Icon"
**Name: Symantec Inc
**Website: www.symantec.com
**Official resources for icon and color: www.symantec.com

[2019-09-25 04:06] rodrigoalmeidanet opened #1659 "Sonicwall Icon"
**Name: Sonicwall Inc
**Website: www.sonicwall.com
**Official resources for icon and color: www.sonicwall.com

[2019-09-25 04:08] rodrigoalmeidanet opened #1660 "Seagate Icon"
**Name: Seagate Inc
**Website: www.seagate.com
**Official resources for icon and color: www.seagate.com

[2019-09-25 04:08] rodrigoalmeidanet opened #1661 "Toshiba Icon"
**Name: Toshiba Inc
**Website: www.toshiba.com
**Official resources for icon and color: www.toshiba.com

[2019-09-25 04:10] rodrigoalmeidanet opened #1662 "Siemens Icon"
**Name: Siemens Inc
**Website: www.siemens.com
**Official resources for icon and color: www.siemens.com

[2019-09-25 04:11] rodrigoalmeidanet opened #1663 "Splunk Icon"
**Name: Splunk Icon
**Website: www.splunk.com
**Official resources for icon and color: www.splunk.com

[2019-09-25 04:12] rodrigoalmeidanet opened #1664 "Quest Icon"
**Name: Quest Inc
**Website: www.quest.com
**Official resources for icon and color: www.quest.com

[2019-09-25 04:13] rodrigoalmeidanet opened #1665 "Palo Alto Networks Icon"
**Name: Palo Alto Inc
**Website: www.paloalto.com
**Official resources for icon and color: www.paloalto.com

[2019-09-25 04:15] rodrigoalmeidanet opened #1666 "Nokia Icon"
**Name: Nokia Icon
**Website: www.nokia.com
**Official resources for icon and color: www.nokia.com

[2019-09-25 04:15] rodrigoalmeidanet opened #1667 "NEC Icon"
**Name: NEC Inc
**Website: www.nec.com
**Official resources for icon and color: www.nec.com

[2019-09-25 04:16] rodrigoalmeidanet opened #1668 "McAfee Icon"
**Name: McAfee Inc
**Website: www.mcafee.com
**Official resources for icon and color: www.mcafee.com

[2019-09-25 04:17] rodrigoalmeidanet opened #1669 "MicroStrategy Icon"
**Name: MicroStrategy Icon
**Website: www.microstrategy.com
**Official resources for icon and color: www.microstrategy.com

[2019-09-25 04:18] rodrigoalmeidanet opened #1670 "Kaspersky Icon"
**Name: Kaspersky Icon
**Website: www.kaspersky.com
**Official resources for icon and color: www.kaspersky.com

[2019-09-25 04:19] rodrigoalmeidanet opened #1671 "Hitachi Icon"
**Name: Hitachi Icon
**Website: www.hitachi.com
**Official resources for icon and color: www.hitachi.com

[2019-09-25 04:21] rodrigoalmeidanet opened #1672 "Dynatrace Icon"
**Name: Dynatrace Inc
**Website: www.dynatrace.com
**Official resources for icon and color: www.dynatrace.com

[2019-09-25 04:22] rodrigoalmeidanet opened #1673 "BMC Software Inc"
**Name: BMC Software Inc
**Website: www.bmc.com
**Official resources for icon and color: www.bmc.com

[2019-09-25 06:33] ericcornelissen commented on #1637
Unfortunately Dbvisit is not at our usual [required popularity](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) with an [Alexa ranking of ~700k](https://www.alexa.com/siteinfo/dbvisit.com). Do you have any other measures that show the popularity of Dbvisit @rodrigoalmeidanet ?

[2019-09-25 23:54] davidklebanoff commented on #1672
We already have an icon for dynatrace! :)

You can see it here:
https://simpleicons.org/?q=dynatrace

[2019-09-25 23:54] #1672 closed

[2019-09-26 06:07] ericcornelissen commented on #1427
With #1611 merged in `develop`, we can publish the [Packagist](https://packagist.org/) after the next release (i.e. when `develop` is merged into `master`) :+1:

[2019-09-26 12:28] #1624 closed

[2019-09-26 19:24] rodrigoalmeidanet commented on #1637
Hi @ericcornelissen,

My suggestion was based on IT Vendors on the market. Isn't based in raking or required popularity.

Like the simple icons pack has the main players of the market, like Oracle, Microsoft, Amazon and etc. I suggested these IT Vendors.

[2019-09-26 19:31] rodrigoalmeidanet commented on #1672
Hi @davidklebanoff,

Sorry for my mistake buddy. I check the names on simpleicon.org search for each IT vendor before open request, but, this Dynatrace was opened wrong by me. =(

Sorry Team.

Regards,

[2019-09-27 09:32] prionkor opened #1675 "Google Tag Manager"
**Name:** Google Tag Manager
**Website:** https://tagmanager.google.com
**Official resources for icon and color:** Not official but I think svg can be found here https://iconify.design/icon-sets/logos/google-tag-manager.html

[2019-09-27 18:08] prionkor opened #1676 "Google Ads (formerly Adwords)"
**Name:** Google Ads
**Website:** https://ads.google.com

[2019-09-28 12:59] awwsmm commented on #1324
I'm trying to submit a PR with a new icon but Travis CI keeps rejecting it for having a newline at the end of the SVG. But I've deleted the newline and I'm still getting that error. Can this barrier be removed? At most this adds an additional byte or two to the size of the SVG file.

There also seem to be build errors related to code which I've not touched:

[code]

[2019-09-28 15:57] ashcoft opened #1678 "phpmyadmin missing icon"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-09-28 16:00] ashcoft opened #1679 "kanban missing icon"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-09-28 22:10] ericcornelissen commented on #1324
This seems to be a common problem (mostly caused by editors - including GitHub's IDE - always adding a final newline by default, though installing [EditorConfig](https://editorconfig.org/?) for your editor would immediately solve that problem). Given the trouble it is causing contributors I'm fine with getting rid of the requirement 👍

The build error is peculiar, let's continue that discussion on

[2019-09-28 22:29] ericcornelissen commented on #1679
As far as I know Kanban is a "work method" 😕 Could you provide more details about your request @ashcoft? A link is always helpful!

[2019-09-28 22:31] ericcornelissen commented on #1678
I'm guessing you're requesting an icon for the [phpMyAdmin](https://www.phpmyadmin.net/) project @ashcoft, is that correct? If so, it would be greatly appreciated if you could fill out the issue template (you can edit this issue by clicking on the three dots on the top right of your comment).

[2019-09-28 22:32] #1629 closed

[2019-09-28 22:33] ericcornelissen commented on #1616
Any updates on this @alexakasanjeev? I assigned the issue to you, but if you decided to stop working on it I will unassigned you so other can pick up this issue 🙂

[2019-09-29 15:06] alexakasanjeev commented on #1616
Sorry, been bit buzy, I will surely complete this by the end of 6 oct, if I missed, feel free to assign to someone less lazy 😅

[2019-09-29 17:59] #1338 closed

[2019-09-30 03:20] avylove commented on #1160
Any progress on CentOS?
Can [EPEL](https://fedoraproject.org/wiki/File:Logo_name.png) be added?

[2019-09-30 12:12] marifm1986 opened #1681 "calendar"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-09-30 12:33] ericcornelissen commented on #1681
Could you provide more details @marifm1986? A request for Google Calendar is already open at #1598, if you want to request a different calendar application you will need to provide more details.

If on the other hand you're looking for a generic calendar icon, then I'm sorry to inform you that this project focuses on brand icons and does not intend to add generic icons.

[2019-09-30 12:55] #1308 closed

[2019-10-01 14:49] alexakasanjeev commented on #1616
Hi @ericcornelissen @birjolaxew I'm able to create a SVG of 24 by 24 but as mentioned in contributing guideline

but the svg that is exporting out of Adobe illustrator contains multiple `path` attribute and other attribute like `g`, `defs`, `use`

any help? :disappointed:

[2019-10-01 16:02] ericcornelissen commented on #1616
Try optimizing it as [we describe here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#3-optimize-the-icon) @alexakasanjeev, that will probably solve everything for you. If there's still multiple paths after that check out [compounding paths](https://helpx.adobe.com/illustrator/using/combining-objects.html#compound_paths) :wink: Hope that helps!

[2019-10-01 16:19] birjolaxew commented on #1616
Its also worth mentioning that in some cases you're left with several `<path>`'s, even if you use compound paths. In those cases the best solution I've found is to manually edit the SVGs and concatenate all the path datas.

For example, if your SVG looks like `<svg ...><path d="M0,0 L10,10 z" /><path d="M10,0 L20,10 z" /></svg>` then you can manually modify it to `<svg ...><path d="M0,0 L10,10 z M

[2019-10-01 16:39] ericcornelissen commented on #1616
In fact, that is what the SVGO CLI tool (usable in our repository via `$ npm run svgo`) does.

[2019-10-01 16:57] alexakasanjeev commented on #1616
Thank you for all the help,

here what my svg lookd like after just copying all path and pasting it into 24 by 24 new document

[code]

[2019-10-01 20:03] birjolaxew commented on #1616
@alexakasanjeev After running it through SVGOMG, we get the following:

[code]

Then it just needs the `<title>` and `role="img"` added as [described here](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#4-annotate-the-icon), and it should be good to go.

[2019-10-02 06:21] alexakasanjeev commented on #1616
Just created a pull request containing TensorFlow icon,

First of all Thank you so much Johan and Eric for all the support and patient, I haven't seen a more welcoming community than this one. Would love to contribute more.

**One suggestion hacktoberfest is going on, it would be great if you could add hacktoberfest label, it will attract more people towards contributing.**

[2019-10-02 06:24] birjolaxew commented on #1616
@alexakasanjeev We appreciate the kind words! As for hacktoberfest, I'll get on that. Thanks for the reminder.

<sup>Also apparently I was [*really* early](https://i.imgur.com/QFoV4kL.png) for this comment</sup>

[2019-10-02 06:24] #1616 closed

[2019-10-03 05:56] foo-dogsquared commented on #1461
I made an SVG version of this icon.
It's ready to be made an addition to the iconset.

However, the SVG I made is not made to be exact with the logo.
I removed some details (most notably, the shadows on the body) since it will make it look weird.

Here's a side-by-side comparison with the original icon and the SVG I made.

![2019-10-03-13-52-34](https://user-images.githubusercontent.com/34962634/6

[2019-10-03 06:40] ericcornelissen commented on #1461
Looking great @foo-dogsquared, I think you made the right decision with regards to removing shadows from the body, but keeping it on the cape. I think you can go ahead and open a PR. Though I would like to know @birjolaxew and @celyes opinions as well.

[2019-10-03 08:35] birjolaxew commented on #1461
@ericcornelissen I agree - that monochromization looks good to me. Nice work @foo-dogsquared!

[2019-10-03 09:11] Paulsky opened #1690 "CoinBase Icon"
**Name:**: CoinBase
**Website:**: [https://www.coinbase.com](https://www.coinbase.com)
**Official resources for icon and color:**

https://www.coinbase.com/press
https://www.coinbase.com/img/favicon/favicon-228x228.png
https://www.coinbase.com
`#0667d0`

[2019-10-03 19:14] kchateau opened #1693 "Would love a C and C sharp icon"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-10-04 09:12] vincjo opened #1694 "QGIS Icon"
**Name:** QGIS
**Website:** https://qgis.org
**Official resources for icon and color:** https://www.qgis.org/en/site/getinvolved/styleguide.html

[2019-10-04 11:29] Tilak999 commented on #1694
can i take this task ?

[2019-10-04 13:49] ericcornelissen commented on #1694
Sure @Tilak999, go ahead an open a Pull Request for it :wink:

[2019-10-04 19:29] #1411 closed

[2019-10-04 19:34] #1606 closed

[2019-10-04 22:13] celyes commented on #1461
@foo-dogsquared  Absolutely brilliant !

[2019-10-05 13:33] #1461 closed

[2019-10-05 13:35] #1626 closed

[2019-10-05 13:50] #1694 closed

[2019-10-05 13:55] #1578 closed

[2019-10-05 13:56] ericcornelissen commented on #1678
I'm closing this for now, if you wish to request the icon again feel free to reopen this issue @ashcoft 🙂

[2019-10-05 13:56] #1678 closed

[2019-10-05 13:57] ericcornelissen commented on #1679
I'm closing this for now, if you wish to request the icon again feel free to reopen this issue @ashcoft 🙂

[2019-10-05 13:57] #1679 closed

[2019-10-05 13:58] ericcornelissen commented on #1681
I'm closing this for now, if you wish to request the icon again feel free to reopen this issue @marifm1986 🙂

[2019-10-05 13:58] #1681 closed

[2019-10-05 14:01] ericcornelissen commented on #1637
@rodrigoalmeidanet if you could indicate the popularity (or longevity) of DBVISIT we can consider adding its icon. There are probably a bunch more IT Vendors out there trying to compete with the big names, but we do not intend on adding the icon of every (small) company/produt out there.

[2019-10-05 14:05] #1592 closed

[2019-10-05 22:12] #1668 closed

[2019-10-06 17:12] ericcornelissen commented on #1427
With [the latest release](https://github.com/simple-icons/simple-icons/pull/1701) Simple Icons is now [available on packagist](https://packagist.org/packages/simple-icons/simple-icons)!

[2019-10-06 17:12] #1427 closed

[2019-10-07 14:42] Tmpod opened #1705 "Gradle (Build Tool)"
**Name:** Gradle
**Website:** https://gradle.org
**Official resources for icon and color:** https://gradle.com/brand

PS: I have a lot of icons in mind. Can I open a bigger issue or just stick to one issue per request?

[2019-10-07 14:47] Tmpod opened #1706 "Spring (IoC Framework)"
**Name:** Spring
**Website:** https://spring.io
**Official resources for icon and color:** https://spring.io/trademarks

[2019-10-07 14:48] Tmpod opened #1707 "JetBrains (Developer tools)"
**Name:** JetBrains
**Website:** https://www.jetbrains.com
**Official resources for icon and color:** https://www.jetbrains.com/company/brand

[2019-10-07 14:57] Tmpod opened #1708 "Mojang"
**Name:** Mojang
**Website:** https://mojang.com
**Official resources for icon and color:** https://account.mojang.com/terms?ref=ft#brand

[2019-10-07 15:00] Tmpod opened #1709 "GIMP (GNU Image Manipulation Program)"
**Name:** GIMP
**Website:** https://gimp.org
**Official resources for icon and color:** https://www.gimp.org/about/linking.html#wilber-the-gimp-mascot

[2019-10-07 15:08] Tmpod opened #1710 "Groovy (Programming Language)"
**Name:** Groovy
**Website:** https://groovy-lang.org/
**Official resources for icon and color:** https://commons.wikimedia.org/wiki/File:Groovy-logo.svg (best I could find)

[2019-10-07 15:18] Tmpod opened #1711 "Gitea (Self-hosted Git service)"
**Name:** Gitea
**Website:** https://gitea.com (https://gitea.io/en-us/)
**Official resources for icon and color:** https://github.com/go-gitea/gitea/tree/master/public/img (check out `gitea-safari.svg`)

[2019-10-07 16:48] ericcornelissen commented on #1705
Both work, we generally don't mind that much :slightly_smiling_face:

[2019-10-07 16:52] ericcornelissen commented on #1707
The brand page contains SVG versions of the logo and for anyone interested in picking this one up, we should probably have it in a similar format to [Intelijj IDEA](https://github.com/simple-icons/simple-icons/blob/develop/icons/intellijidea.svg).

[2019-10-07 18:04] pavitra14 commented on #1707
I'm taking this

[2019-10-07 20:17] ericcornelissen commented on #1711
Though that is a somewhat official source, it seems to be of very low quality compared to the logo on the page you linked (as shown below).

![logo preview site](https://user-images.githubusercontent.com/3742559/66345304-7de40480-e958-11e9-8eee-dc96d6dd3e53.png)

![logo preview SVG](https://user-images.githubusercontent.com/3742559/66345377-9fdd8700-e958-11e9-8e83-ea3290897c11.png)

[2019-10-07 21:18] #1119 closed

[2019-10-08 06:48] #1707 closed

[2019-10-08 06:53] #1605 closed

[2019-10-08 09:03] foo-dogsquared opened #1719 "Anaconda (Python distribution)"
**Name:** Anaconda
**Website:** https://www.anaconda.com/
**Official resources for icon and color:** https://www.anaconda.com/media-kit/

It's an environment for data science and mathematical computation.

The media kit contains the EPS and JPG files of the logo.
Brand color is `#42b029`.

[2019-10-08 09:12] foo-dogsquared opened #1720 "Octave (Matlab alternative)"
**Name:** Octave
**Website:** https://www.gnu.org/software/octave/
**Official resources for icon and color:** https://www.gnu.org/software/octave/img/octave-logo.svg

A software that offers an environment for mathematical computing.
Also one of the leading alternatives to Matlab.

The brand color could be `#0790c0` but I'm not sure.

[2019-10-08 19:30] ulasaydin opened #1725 "Quip (Productivity Software)"
**Name:** Quip
**Website:** https://quip.com
**Official resources for icon and color:** https://www.vectorlogo.zone/logos/quip/index.html

[2019-10-08 19:38] ulasaydin opened #1726 "Palantir (Big Data Analytics Company)"
**Name:** Palantir
**Website:** https://www.palantir.com
**Official resources for icon and color:** https://github.com/palantir/conjure/blob/master/docs/media/palantir-logo.svg

[2019-10-08 21:57] #1552 closed

[2019-10-09 07:20] #1705 closed

[2019-10-09 10:47] PeterShaggyNoble opened #1729 "Issuu"
**Name:** Issuu
**Website:** https://issuu.com/
**Official resources for icon and color:** https://issuu.com/press

There's an SVG logo in the header of that press page or you can scroll down to grab a selection of logos and icons in various formats.

Their [brand book](https://issuu.com/issuu/docs/issuubrandbook/28), which is featured on that page and was published in 2015, has `#f36d5d` as their

[2019-10-09 11:22] #1719 closed

[2019-10-09 11:32] #1337 closed

[2019-10-09 11:41] #1325 closed

[2019-10-09 12:35] Natali-PP commented on #1726
I would like to give it a shot! :)

[2019-10-09 13:02] mlshv commented on #1726
@Natali-PP oh sorry, I didn't write that I've taken it already 😔

[2019-10-09 14:14] PeterShaggyNoble commented on #1729
Took a stab at it: https://github.com/simple-icons/simple-icons/files/3707780/issuu.zip

[![issuu](https://user-images.githubusercontent.com/15157491/66489325-53549180-eaa7-11e9-83a3-cc2229575dd4.png)](https://github.com/simple-icons/simple-icons/files/3707780/issuu.zip)

[2019-10-09 14:29] ericcornelissen commented on #1729
Looks good @PeterShaggyNoble, feel free to open a Pull Request for it :+1:

[2019-10-09 14:45] ericcornelissen commented on #1726
@Natali-PP I'm terribly sorry but as @mlshv decided to work on the exact same logo as you did and their work is a bit easier for us to process so I closed your Pull Request :slightly_frowning_face:

I hope you're not discouraged from contributing to our project though! A situation like this (where two people decide to work on the same icon) is not very common, and given the timing (an their apolog

[2019-10-09 14:48] PeterShaggyNoble commented on #1729
Working on it now, @ericcornelissen. What do you reckon for the colour?

[2019-10-09 15:48] PeterShaggyNoble opened #1734 "Monster"
**Name:** Monster
**Website:** https://www.monster.com/
**Official resources for icon and color:** I couldn't find any brand guidelines or assets so both SVGs and the colour `#6e46ae` have been extracted from their website.

The first icon below is from the website logo, where the `M` isn't quite square, and the second from the footer, where it is. As the latter is an icon rather than a logo, I'd

[2019-10-09 16:03] PeterShaggyNoble commented on #1515
[![Google Maps](https://user-images.githubusercontent.com/15157491/66498727-7175be00-eab6-11e9-89db-871b13051e51.png)](https://github.com/simple-icons/simple-icons/files/3708334/googlemaps.zip)

https://github.com/simple-icons/simple-icons/files/3708334/googlemaps.zip

[2019-10-09 16:17] PeterShaggyNoble commented on #1711
There's a better one at https://github.com/go-gitea/gitea/blob/master/assets/logo.svg

The light green they use in it is `#609926` and the darker one is `#428f29`. They also, however, use `#5aa509` on their website.

[2019-10-09 16:56] JoaoPedroMoraes commented on #1710
I take this pr

[2019-10-09 17:59] audip opened #1736 "OpsLevel Icon"
**Name:** OpsLevel
**Website:** [opslevel.com](https://opslevel.com)

Consider adding the OpsLevel icon to the simple icons list. Thanks!

[2019-10-09 19:53] ericcornelissen commented on #1711
Thanks for the link @PeterShaggyNoble :+1: As for the colour, in that case I would go with `#609926` :thinking:

[2019-10-09 19:55] #1729 closed

[2019-10-09 19:57] #1726 closed

[2019-10-10 01:50] JoaoPedroMoraes commented on #1711
I take this pr

[2019-10-10 01:51] JoaoPedroMoraes commented on #1486
I take this pr

[2019-10-10 02:05] JoaoPedroMoraes commented on #1720
I take this pr

[2019-10-10 06:01] #1342 closed

[2019-10-10 06:12] #1341 closed

[2019-10-10 09:16] lucyabb opened #1744 "Radio Public"
I am writing to ask if anyone could create a Radio Public icon?

**Name:** Radio Public
**Website:** https://www.radiopublic.com/
**Official resources for icon and color:**

https://help.radiopublic.com/hc/en-us/articles/360002546754-RadioPublic-logos

Many Thanks

[2019-10-10 09:18] lucyabb opened #1745 "Apple Podcasts Icon"
I am writing to ask if anyone could update the Apple Podcasts icon, as it does not meet the current apple specifications.

**Name:** Apple Podcasts
**Official resources for icon and color:** https://www.apple.com/itunes/marketing-on-podcasts/identity-guidelines.html#apple-podcasts-icon

Many thanks

[2019-10-10 11:19] ericcornelissen commented on #1744
Looks like the "RadioPublic flag, black" logo is best for our purposes 👍 Thanks or the request @lucyabb

[2019-10-10 11:25] #1371 closed

[2019-10-10 11:27] #1720 closed

[2019-10-10 11:27] #1357 closed

[2019-10-10 11:27] #1391 closed

[2019-10-10 11:30] #1486 closed

[2019-10-10 12:22] #1711 closed

[2019-10-10 12:51] Paulsky opened #1746 "iDeal Icon"
iDeal is one of the biggest online payment methods in the Netherlands.

**Name:** iDeal
**Website:** [https://www.ideal.nl/en/](https://www.ideal.nl/en/)
**Official resources for icon and color:**

Please check the official guidelines in this document:
[https://www.ideal.nl/cms/files/Manual_iDEAL_logo.pdf](https://www.ideal.nl/cms/files/Manual_iDEAL_logo.pdf)

Please check the following page for t

[2019-10-10 12:57] Paulsky opened #1747 "Bancontact Icon"
Bancontact is one of the biggest online payment methods in Belgium.

**Name:** Bancontact
**Website:** [https://www.bancontact.com/en](https://www.bancontact.com/en)
**Official resources for icon and color:**

Please check the official guidelines on the following page. You will find the SVG logo on that page and also the colors:
[https://www.bancontact.com/en/promotion-material/guidelines-logo](ht

[2019-10-10 13:01] #1710 closed

[2019-10-10 14:21] maxandersen opened #1748 "quarkus"
**Name:** quarkus
**Website:** https://quarkus.io
**Official resources for icon and color:**

https://design.jboss.org/quarkus/

Search for "Icon files - FULL & ONE COLOR" and find various links
like https://design.jboss.org/quarkus/logo/final/PNG/quarkus_icon_1color_32px_reverse.png
for single color icons.

[2019-10-10 15:48] giovannilima262 commented on #1590
I`d like to work on the project

[2019-10-10 16:52] PeterShaggyNoble commented on #1725
Took a quick gallop through their website and didn't notice a monotone version of their icon anywhere so the below is just a "best guess". For the colour, it should probably be the lighter orange `#f27557`.

![Quip](https://user-images.githubusercontent.com/15157491/66589542-a81b0980-eb86-11e9-831b-2da29101e743.png)

[2019-10-10 16:53] #1670 closed

[2019-10-10 17:00] #1660 closed

[2019-10-10 19:27] giovannilima262 commented on #1622
what`s the problem?

[2019-10-10 21:01] phatbhoy67 commented on #1479
Looks like some [new logos](https://github.com/apache/airflow/tree/master/docs/img/logos) have been recently released for this project @villasv @ericcornelissen (see image below)

![apache-airflow](https://user-images.githubusercontent.com/18670428/66605676-669b5600-eba8-11e9-9821-bbb5abb50838.png)

Based on this new logo I have tried two possible ways to simplify it for use here. If you think eit

[2019-10-11 00:01] phatbhoy67 commented on #1516
Hi @PeterShaggyNoble and @ericcornelissen I've read the brand guidelines on their website regarding the use of the trademark symbol, I read it as only applying when using the full wordmark. It also says that where space is limited the "t" can be used. This use case. The "t" isn't included within the downloadable ["logos with ® -for everyone else](https://lne.box.com/s/995l7oust2nd2lqiym2ps5kxa7zcz

[2019-10-11 07:00] ericcornelissen commented on #1479
Hmm interesting concepts @phatbhoy67 :thinking: can you share a version of the  version version where the lines separating the dark en light regions of the coloured logo are not there? I'm not sure if it is still recognizable, but if it is that might be our best option here.

[2019-10-11 07:11] ericcornelissen commented on #1516
@phatbhoy67 in the paragraph I copied below I would say they definitely request you to add the use ®-mark, whether it is the wordmark or the t-mark. That said, it is difficult to determine where the ®-mark goes if there are no examples. Perhaps you could write an email to ticketmaster support and ask them?

* * *

I agree with that :+1:

I'm quite sure the single "t" is just the first "t" in the w

[2019-10-11 07:13] ericcornelissen commented on #1590
Go ahead @giovannilima262! Take a look at [our contribution guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) and open a Pull Request. I'm looking forward to seeing your work :slightly_smiling_face:

[2019-10-11 07:15] ericcornelissen commented on #1622
It's just a request for the logo of [Genius](https://genius.com) to be added to the collection. If you want to work on it, you can find a vectorized version of the logo in the resource link provided above.

[2019-10-11 08:32] PeterShaggyNoble commented on #1516
I gave this a try myself yesterday, too and this is what I came up with. Like @phatbhoy67, I couldn't get it to work with the `®` either. Upon rereading the guidelines afterwards, I'm also of the (renewed) opinion that it need only be used with the full wordmark. But, as there's disagreement on that point, it would definitely be worth reaching out to Ticketmaster for clarification.

![Ticketmaster

[2019-10-11 11:52] maxandersen commented on #1748
@ericcornelissen is there anything else I need to do for this to be merged ?

[2019-10-11 12:59] ericcornelissen commented on #1748
I (nor any of the other maintainers) haven't had time to review your Pull Request yet, if it requires extra work we will ask you about it in the Pull Request itself :wink:

Note that maintaining this project is a purely voluntary effort from our side and we might not be able to review every Pull Request within a day. This is not uncommon for open source projects, you just need to be a bit patient.

[2019-10-11 13:14] phatbhoy67 commented on #1479
Hi @ericcornelissen did you mean like this?

![airflow-update](https://user-images.githubusercontent.com/18670428/66653761-a60d8500-ec30-11e9-9697-dcba595637c1.png)

[2019-10-11 13:18] ericcornelissen commented on #1479
What I meant, @phatbhoy67, is basically that the whole thing is just one solid (only applies to option 2).

That said, I do think that the new option two already looks better than the first option two. Though my preference so far goes out to the first version of option 1.

[2019-10-11 14:08] phatbhoy67 commented on #1479
Hey @ericcornelissen I added that now

![ariflow-update-new](https://user-images.githubusercontent.com/18670428/66658048-985bfd80-ec38-11e9-9dd5-8ad5e306da34.png)

I agree about the first version of option one, it most represents the concept of a pinwheel, perhaps making some adjustments to the width of the lines and the diameter of the pin will help.

[2019-10-11 14:22] ericcornelissen commented on #1479
Thanks @phatbhoy67, it doesn't look as good as I expected :confused: I still think option one (and version one) is the way to go. What do you think @birjolaxew @davidklebanoff ?

Thicker lines might help. However, I don't think we can change the diameter of the pin... Maybe make it solid?

[2019-10-11 15:31] villasv commented on #1479
The last one looks like a throwing star 😆 I'm pretty satisfied with both options from the first version.

[2019-10-11 16:13] phatbhoy67 commented on #1479
Thicker lines, some with pin solid.

![airflow-latest](https://user-images.githubusercontent.com/18670428/66667184-5f2c8900-ec4a-11e9-8461-297313b6ce0e.png)

[2019-10-12 07:59] #1748 closed

[2019-10-12 08:00] #1744 closed

[2019-10-12 08:07] ericcornelissen commented on #1479
Option one A and D are okay with me, nice work @phatbhoy67 :+1:

[2019-10-12 08:16] ericcornelissen commented on #1571
Looking good @phatbhoy67 :ok_hand: Have you experimented with other option as well? Notably with regards to the part of the brush that extends from the circle?

[2019-10-12 08:17] birjolaxew commented on #1479
Considering the sizes our icons are usually displayed at, I'm personally leaning towards C/E due to their thicker lines. Most of the icons that we have outlined ourselves (e.g. the Adobe suite) use a line width of 1pt in our 24x24 viewbox - and I think even that is on the small side. Thoughts @ericcornelissen?

[2019-10-12 08:22] #1666 closed

[2019-10-12 08:22] #1560 closed

[2019-10-12 08:24] #1249 closed

[2019-10-12 08:29] ericcornelissen commented on #1479
Looking at it again I agree that C is a good option as well. I personally think E is too much, especially the pin in the middle is too bug. So I guess you can open a PR for option C @phatbhoy67

[2019-10-12 08:47] dennib commented on #1640
Hi!
Opened a PR for this :)
#1759

[2019-10-12 12:03] netsgnut opened #1762 "New Icon: LibreOffice"
**Name:** LibreOffice
**Website:** https://www.libreoffice.org
**Official resources for icon and color:** https://wiki.documentfoundation.org/Marketing/Branding

[2019-10-12 12:06] netsgnut commented on #1762
So... I have actually been working on this.

![Screenshot from 2019-10-12 19-59-09](https://user-images.githubusercontent.com/284779/66701131-54c0cc80-ece8-11e9-80c9-61e79223c76f.png)

Will get a PR open.

[2019-10-12 13:30] netsgnut opened #1765 "New Icon: SVG"
**Name:** SVG
**Website:** https://www.w3.org/Graphics/SVG
**Official resources for icon and color:** https://www.w3.org/2009/08/svg-logos.html

---

Since we have already got [HTML5](https://github.com/simple-icons/simple-icons/blob/develop/icons/html5.svg), [CSS3](https://github.com/simple-icons/simple-icons/blob/develop/icons/css3.svg), [JS](https://github.com/simple-icons/simple-icons/blob/dev

[2019-10-13 09:50] phatbhoy67 commented on #1571
Hey @ericcornelissen a few alternative options added

![krita-logo-options](https://user-images.githubusercontent.com/18670428/66713783-03c3dd80-eda7-11e9-8cbd-31cf53f9edbe.png)

[2019-10-13 11:00] #1636 closed

[2019-10-13 11:03] #1479 closed

[2019-10-13 11:07] ericcornelissen commented on #1571
Options **A** and **B** look good to me, though as **B** is more of an artistic impression I think we should go with **A**, nice work @phatbhoy67 :+1:

[2019-10-13 11:23] #1638 closed

[2019-10-13 11:26] #1639 closed

[2019-10-13 11:29] #1640 closed

[2019-10-13 12:23] dennib commented on #1648
Hi guys,
just opened a PR for review, thanks!

Pull request: #1772

[2019-10-13 18:28] ericcornelissen commented on #1160
CentOS has been added and will be available in the next release :+1:

Can you provide an indication of how popular EPEL is? Also, it doesn't seem to be a Linux distro, correct? So it's probably better to open a separate issue for it.

[2019-10-13 20:49] henning-schild commented on #1592
thanks! but somehow i can not create badges with it

see https://img.shields.io/badge/test:bla-green.svg?logo=Gentoo
vs https://img.shields.io/badge/test:bla-green.svg?logo=debian

[2019-10-13 22:55] birjolaxew commented on #1592
@henning-schild It [looks like](https://github.com/badges/shields/blob/2c39ee489a58d4367410d02568f09de8d966c83c/package.json#L62) the Shields.io project haven't updated Simple Icons past `1.16.0` - we are currently on `1.18.0`.

That is a problem with them, though. I suggest you [open an issue in their repo](https://github.com/badges/shields/issues) to make them aware of the problem.

[2019-10-13 23:26] #1762 closed

[2019-10-14 08:45] kaleeaswari commented on #1661
I would like to get it assigned?

[2019-10-14 15:22] Paulsky commented on #1746
Not sure if this is helpful, but here is a SVG version of the logo:

[ideal-logo.zip](https://github.com/simple-icons/simple-icons/files/3725155/ideal-logo.zip)

[2019-10-14 18:52] phatbhoy67 commented on #1613
![plesk-logo](https://user-images.githubusercontent.com/18670428/66774985-e4b67000-eeba-11e9-83c6-5b4bfa72f601.png)

I've converted the square logo available from the [download link](https://www.plesk.com/brand/) above from .eps to .svg, does anyone have a view on the hex value to include?

The website uses `#384857` as the footer colour, although the  blue `#52BCE6` is used for buttons and highli

[2019-10-14 20:04] phatbhoy67 commented on #1622
![genius-option](https://user-images.githubusercontent.com/18670428/66779180-7034fe80-eec5-11e9-96d5-87e1dd5010db.png)

I used the wordmark logo from [wikipedia](https://upload.wikimedia.org/wikipedia/en/a/ad/Genius_website_logo.svg) as source, isolated the "G" and rotated it -90 degrees.

Suggest the colour should be `#FFFF64`

If @haloboy777 @ericcornelissen are happy with that, I'll submit the

[2019-10-14 20:15] Vlad-Pavlychief commented on #1747
Bancontact является одним из крупнейших способов онлайн-платежей в Бельгии.

**Название:** Bancontact
**Веб-сайт:** [https://www.bancontact.com/en](https://www.bancontact.com/en)
**Официальные ресурсы для значка и цвета:**

Пожалуйста, ознакомьтесь с официальными правилами на следующей странице. Вы найдете логотип SVG на этой странице, а также цвета:
[https://www.bancontact.com/en/promotion-materi

[2019-10-14 21:24] phatbhoy67 commented on #1619
![rc-option](https://user-images.githubusercontent.com/18670428/66783958-0de1fb00-eed1-11e9-966a-6acd5629472e.png)

Possible variation on the left option above by @birjolaxew

[2019-10-15 06:01] ericcornelissen commented on #1613
Blue definitely seems to be their brand colour. Since it is not explicitly stated and it is not clear from the website I would pick the blue colour from the bar below the "l" in "plesk" in the logo. Can you extract that from one of the RGB or CMYK version @phatbhoy67?

[2019-10-15 06:06] ericcornelissen commented on #1622
Looking good @phatbhoy67, I agree with the colour :+1: Did you verify the "G" is turned exactly -90°?

[2019-10-15 06:16] ericcornelissen commented on #1746
Where did you get that SVG version of the logo @Paulsky?

And, if you want, you can open a Pull Request and add the icon to the project yourself. You can follow the instructions in our [Contributing Guidelines](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) to do that :wink:

[2019-10-15 06:41] Paulsky commented on #1746
@ericcornelissen I downloaded a SVG pack from this website: https://help.mollie.com/hc/en-us/articles/115002676045 and 'cut out' the logo and exported it as a SVG.

I'm not a designer, but reading the 'Adding or Updating An Icon' section on the contributing page might get me somewhere.

[2019-10-15 06:43] Paulsky commented on #1747
Sorry, I don't understand you @vovs03

[2019-10-15 07:33] phatbhoy67 commented on #1622
![geniusninety](https://user-images.githubusercontent.com/18670428/66809966-3fd17c80-ef26-11e9-82fe-4252b7c4a0ca.png)

The image on right is the .png version from their twitter profile @ericcornelissen

[2019-10-15 07:51] vovs03 commented on #1747
@Paulsky, This issue indicates the desire to create an icon in the collection, I understand correctly?

[2019-10-15 08:03] Paulsky commented on #1747
@vovs03 that's correct!

[2019-10-15 08:26] ericcornelissen commented on #1622
In that case go ahead and open a Pull Request @phatbhoy67 :+1:

[2019-10-15 08:42] ericcornelissen commented on #1746
We generally prefer official sources over third-party sources. Looking at the SVG in detail you will see that it is slightly different from the one [in their manual](https://www.ideal.nl/cms/files/Manual_iDEAL_logo.pdf) (in particular the "deal" letters are significantly different). You can try extracting the logo from that PDF (as explained [here](https://smallbusiness.chron.com/extract-vector-gr

[2019-10-15 09:19] ericcornelissen commented on #1746
I extracted the logo from [the PDF](https://www.ideal.nl/cms/files/Manual_iDEAL_logo.pdf) myself (wanted to try it, as I had never done it before), see [iDEAL logo.zip](https://github.com/simple-icons/simple-icons/files/3728389/Manual_iDEAL_logo.zip) 😉

Feel free to work with that and add it yourself through a Pull Request @Paulsky 👍

[2019-10-15 16:21] Paulsky commented on #1746
Thank you for your help @ericcornelissen Please see this PR https://github.com/simple-icons/simple-icons/pull/1778

[2019-10-15 16:27] phatbhoy67 commented on #1613
The hex value from the bar below the "l" in the logo from Plesk_logo\RGB\plesk_logo_primary_positive.psd available in the [download pack](https://scdn1.plesk.com/wp-content/uploads/2017/07/24160129/plesk_logo.zip) is `#52BBE6`  @ericcornelissen

[2019-10-15 17:34] ericcornelissen commented on #1613
That is very close to `#52BCE6` so I think it is a good fit, you can use `#52BBE6` in your Pull Request 👍

[2019-10-15 17:38] #1481 closed

[2019-10-15 22:40] phatbhoy67 commented on #1086
Possible icons for XRP (left) and Ripple (right).

![xrp-ripple-options](https://user-images.githubusercontent.com/18670428/66874613-9d57de80-efa3-11e9-952f-e176d1fa6adf.png)

XRP:
Resized Logo from [website navbar](https://xrpl.org/)
[Alexa rank](https://www.alexa.com/siteinfo/xrpl.org) 213,144
Suggest hex value `#FFFFFF` or `#000000` based on [website](https://xrpl.org/) branding.

Ripple:
Isola

[2019-10-16 07:23] #1622 closed

[2019-10-16 17:35] theishaanbedi opened #1785 "GitHub Icon, maybe?"
**Name:**
**Website:**
**Official resources for icon and color:**

[2019-10-16 17:58] phatbhoy67 commented on #1785
Hi @theishaanbedi , the [GitHub icon](https://simpleicons.org/?q=github) has already been added, you can search for icons by name on the website (https://simpleicons.org/).

Have a look at the [contributing.md](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) for steps to follow for requesting an icon and for submitting pull requests.

Hope that helps 😄

If you have any o

[2019-10-16 19:33] #1785 closed

[2019-10-16 20:42] phatbhoy67 commented on #1745
![podcasts](https://user-images.githubusercontent.com/18670428/66956865-15cea600-f05d-11e9-9964-8c3a71a53ff5.png)

Source [wikipedia](https://upload.wikimedia.org/wikipedia/commons/1/18/Podcasting_icon.svg)

Would this be updating the current [podcast.svg](https://github.com/simple-icons/simple-icons/blob/develop/icons/podcasts.svg) or a new icon @ericcornelissen

[2019-10-17 06:25] ericcornelissen commented on #1745
Good find @phatbhoy67, thanks :smile:

[2019-10-17 13:02] phatbhoy67 commented on #1745
Hi @ericcornelissen happy to do the PR using that source. Will this be a new icon i.e. "Apple Podcasts" or just an update to the existing [podcasts.svg](https://github.com/simple-icons/simple-icons/blob/develop/icons/podcasts.svg)?

[2019-10-17 17:18] #1648 closed

[2019-10-17 17:48] netsgnut commented on #1765
OK, I am working on it right now. I personally prefer the `svg-logo.svg`, and would base the PR with that.

[2019-10-17 18:42] Yusadolat commented on #1590
Hey @ericcornelissen
Can I work on this?

[2019-10-17 22:09] phatbhoy67 commented on #1708
[Alexa Rank](https://www.alexa.com/siteinfo/mojang.com) 3209
[gamepedia .svg source](https://gamepedia.cursecdn.com/minecraft_gamepedia/a/ad/Mojang_logo.svg?version=8087bed374e1d05563acf60c4271fde0)

[2019-10-17 22:11] phatbhoy67 commented on #1709
[Alexa rank](https://www.alexa.com/siteinfo/gimp.org) 8,904

[2019-10-17 22:58] PeterShaggyNoble commented on #1709
A monotone SVG can be found at https://www.gimp.org/images/wilbericon.svg

[2019-10-18 02:17] ivanvanderbyl opened #1789 "Add Flood logo"
**Name:**

Flood

**Website:**

[flood.io](https://flood.io)

**Official resources for icon and color:**

As attached
![Flood-Logo-Mark](https://user-images.githubusercontent.com/24278/67060565-0439eb00-f190-11e9-896b-5891290cb61c.png)
[Flood-Mark.zip](https://github.com/simple-icons/simple-icons/files/3742020/Flood-Mark.zip)

[2019-10-18 07:37] ericcornelissen commented on #1709
Good find @PeterShaggyNoble :+1: For anyone interested in adding this, use https://www.gimp.org/images/wilbericon.svg as a source.

[2019-10-18 07:40] ericcornelissen commented on #1765
Great :tada:

I agree, that is the best option :+1:

[2019-10-18 07:42] ericcornelissen commented on #1789
HI @ivanvanderbyl, unfortunately Flood does not meet our [standard popularity threshold of an Alexa rank of 500k](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md#requesting-an-icon) with an [Alexa rank of ~632k](https://www.alexa.com/siteinfo/flood.io).

Can you give us another indication of its popularity?

[2019-10-18 07:45] #1746 closed

[2019-10-18 07:47] ericcornelissen commented on #1590
Hmm :thinking: Give @giovannilima262 ~12 more hours to respond to this issue and if they don't, feel free to open a Pull Request for it yourself @Yusadolat

[2019-10-18 11:14] #1613 closed

[2019-10-18 12:59] #1747 closed

[2019-10-18 13:47] ivanvanderbyl opened #1791 "Add Spectrum Chat logo"
**Name:**
Spectrum

**Website:**

[spectrum.chat](https://spectrum.chat)

**Official resources for icon and color:**

* https://www.dropbox.com/s/sd30sonb0lfwyir/logo.svg?dl=0
* https://www.dropbox.com/s/tfpmj43a1yrx7wl/spectrum-wordmark.svg?dl=0

[2019-10-18 13:51] ivanvanderbyl commented on #1789
I guess we dropped a bit there, we were well into the ~400k range just 2 months ago.

[2019-10-18 22:55] RodolfoBrian commented on #1791
I'm on it

[2019-10-18 23:17] phatbhoy67 commented on #1280
There is an [.svg version](https://habr.com/images/safari-pinned-tab.svg) of the favicon which is a single lowercase "h". The specified colour for the background of the favicon is `#77a2b6` similar to `#65A3BE` mentioned above.

[2019-10-19 02:44] nil3sh99 commented on #1693
Name: C and C++ icon
Official Resource:
1. C++ - https://www.dropbox.com/s/yyg1hqo4ndbjmlz/C%2B%2B.svg?dl=0
2. C - https://www.dropbox.com/s/pxf4aszkoor5pfn/C-Programming.svg?dl=0

[2019-10-19 09:48] ericcornelissen commented on #1693
Thanks @nil3sh99, where did you find those?

[2019-10-19 09:49] ericcornelissen commented on #1709
Ow 😅 didn't look hard enough then...

[2019-10-19 13:07] nil3sh99 commented on #1693
Hey @ericcornelissen , i took a lil help from svg icons and modified them to suit the needs of website.

[2019-10-19 20:57] #1571 closed

[2019-10-19 20:57] birjolaxew commented on #1571
Big thanks to @phatbhoy67 for his work on monochromizing this logo! Thanks to him Krita will be included in the next release.

[2019-10-19 21:05] #1086 closed

[2019-10-19 21:40] #1765 closed

[2019-10-19 22:10] #1667 closed

[2019-10-20 09:43] ericcornelissen commented on #1693
I'm sorry but I'm not quite sure what you mean @nil3sh99?

[2019-10-20 13:17] #1745 closed

[2019-10-20 15:52] phatbhoy67 commented on #1329
![spark option](https://user-images.githubusercontent.com/18670428/67162188-a78a2c00-f359-11e9-86d3-37fdd4cf3db3.png)

An option by manually cutting, rotating and joining the "star" from the wordmark @ericcornelissen

[2019-10-20 16:08] phatbhoy67 commented on #1332
Version of logo used on [http://www.celeryproject.org/](http://www.celeryproject.org/)
![http://www.celeryproject.org/static/img/logo.png](http://www.celeryproject.org/static/img/logo.png)
Version of logo used on [github](https://github.com/celery/celery)
![https://camo.githubusercontent.com/2fd54823d96e135d6ac0ad3a1540af596b98de19/687474703a2f2f646f63732e63656c65727970726f6a6563742e6f72672f656e2f

[2019-10-20 16:17] #1346 closed

[2019-10-20 16:18] phatbhoy67 commented on #1346
Resolved by PR #1699

[2019-10-20 17:21] ericcornelissen commented on #1745
@birjolaxew, with #1803 merged, did you consider [the question above](https://github.com/simple-icons/simple-icons/issues/1745#issuecomment-543164164) about the name? I intended to look into this at some point but my initial thought was that we should rename it from "Podcasts" to "Apple Podcasts", but I'm not sure what the actual product is called.

[2019-10-20 17:26] ericcornelissen commented on #1332
On [Wikipedia](https://en.wikipedia.org/wiki/Celery_(software)) the logo on GitHub is used, and on [Twitter](https://twitter.com/celeryq?lang=en) it is the one fro their website. It's not clear to me at all...

Can someone who knows the brand better (@maxdevblock) tell us which one they think is better? We could also ask [someone from the Celery team](https://github.com/orgs/celery/people) about i

[2019-10-20 17:28] ericcornelissen commented on #1329
That looks pretty good @phatbhoy67 (though you can see that it is not prefect in the black+orange star), maybe compare it to [their favicon](https://spark.apache.org/favicon.ico) as well?

[2019-10-20 19:56] birjolaxew commented on #1745
@ericcornelissen I definitely think we should rename it to Apple Podcasts - this name is used [on their App Store](https://apps.apple.com/us/app/apple-podcasts/id525463029), and is more descriptive imo.

[2019-10-21 14:17] wegenerbenjamin opened #1809 "[New Icon] Saltstack"
**Name:** SaltStack
**Website:** https://www.saltstack.com/
**Official resources for icon and color:** https://www.saltstack.com/resources/brand/

[2019-10-21 18:33] reginareynolds commented on #1709
I'd like to take a crack at this, if it's still available

[2019-10-21 18:41] phatbhoy67 commented on #1709
Hey @reginareynolds thanks for taking this one. Have a read at the [contributing guide](https://github.com/simple-icons/simple-icons/blob/develop/CONTRIBUTING.md) 👍

[2019-10-21 19:11] #1280 closed

[2019-10-21 19:35] phatbhoy67 commented on #1350
![adguard](https://user-images.githubusercontent.com/18670428/67236556-60776600-f441-11e9-9dd6-0f040fdaacbb.png)

Shield isolated from .svg at bottom of this [page](https://adguard.com/en/contribute.html) on their website.

Suggest colour is green `#66b574` is used throughout their website.

[Alexa rank](https://www.alexa.com/siteinfo/adguard.com) 11,219

[2019-10-21 19:57] phatbhoy67 commented on #1344
Info for this issue:

[2019-10-21 20:08] phatbhoy67 commented on #1368
The image for the website is (https://simpleicons.org/images/og.png)
`<meta property="og:image" content="https://simpleicons.org/images/og.png">`

![og](https://user-images.githubusercontent.com/18670428/67239281-cd412f00-f446-11e9-9261-887e30858764.png)

@ericcornelissen are you still looking to get this updated/added?

[2019-10-21 22:14] phatbhoy67 commented on #1329
![apache-spark-updated](https://user-images.githubusercontent.com/18670428/67246857-8d367800-f457-11e9-9660-a5695575fbb1.png)

I've tweaked a few of the paths now @ericcornelissen. In the bottom right corner is the path scaled down to 16px to match the favicon size. I think the general idea is to match the "V" created inside the "k" to complete the star. 🤔

[2019-10-22 00:29] RodolfoBrian commented on #1791
I added the spectrum logo in alphabetical order,  let me know what to improve.

[2019-10-22 05:49] ericcornelissen commented on #1350
Looks good @phatbhoy67 👍

[2019-10-22 05:58] ericcornelissen commented on #1368
Oh 😅 I had never realized that...

Given [the template GitHub gives](https://github.com/simple-icons/simple-icons/settings/og-template) we may consider changing it, I would personally be a fan of an image with some more detail/larger icons as well. 🤔

[2019-10-22 09:53] netsgnut opened #1811 "New Icon: uBlock Origin"
**Name:** uBlock Origin
**Website:** https://github.com/gorhill/uBlock
**Official resources for icon and color:** https://github.com/gorhill/uBlock/blob/master/src/img/ublock.svg

---

The official brand logo is within the repo. However, I am not sure if this repo satisfies the notability guideline. If it gets greenlit, though, I can submit a PR right away.

[2019-10-22 11:46] #1658 closed

[2019-10-22 18:18] ericcornelissen commented on #1368
I doesn't have to be to fancy I think, continuing on [the current OG image](https://simpleicons.org/images/og.png) is already fine in my opinion. Below is a quick preview of what I was describing in my previous comment.

That said, if you want to design something @phatbhoy67, go right ahead 😄

| New OG Image | New OG Image w/ template overlayed |
|---|---|
| ![og-1](https://user-images.githubuserc

[2019-10-22 19:29] maxdevblock commented on #1332
AFAIK, the logo on GitHub is newer. But I'm not sure. Maybe better ask them directly.

[2019-10-22 19:55] #1350 closed

[2019-10-22 19:56] birjolaxew commented on #1329
That looks good to me! I think I would've personally gone for the full wordmark, but if we're going for the favicon version then that vectorization looks excellent to me!

[2019-10-22 20:20] phatbhoy67 commented on #1329
Quick look at the full wordmark comparison. Did some smaller sizes at 96, 48, 24px.
![spark-wordmark](https://user-images.githubusercontent.com/18670428/67328670-b1568f80-f511-11e9-94d2-196e4a4a332e.png)

[2019-10-22 21:47] h1nk opened #1814 "PyUp"
**Name:** PyUp
**Website:** https://pyup.io
**Official resources for icon and color:**
- https://avatars0.githubusercontent.com/u/16113910?v=4
- https://pyup.io/static/marketing/img/logo-light.png

[2019-10-23 01:40] fedebabrauskas commented on #1811
Hi there,

Can I be assigned to this issue?

Thank you!

[2019-10-23 09:08] Abhijeet247 opened #1816 "New Icon : Indeed"
Hi,
Can you please add Indeed icon to the set. Let me know.

**Name:**Abhi
**Website:**
**Official resources for icon and color:**

[2019-10-23 09:11] #1593 closed

[2019-10-23 09:18] ericcornelissen commented on #1332
Can anyone from @Celery give their opinion on this issue (thanks in advance):

Which logo best represents the Celery "brand"? So that the logo can be added to the [Simple Icons](https://simpleicons.org/) collection.

| A (Website) | B (GitHub) |
|---|---|
| ![http://www.celeryproject.org/static/img/logo.png](http://www.celeryproject.org/static/img/logo.png) | ![https://camo.githubusercontent.com/2

[2019-10-23 13:38] #1709 closed

[2019-10-23 13:58] reginareynolds commented on #1708
Is it okay if I take this one?

[2019-10-23 14:00] birjolaxew commented on #1708
@reginareynolds Absolutely!

[2019-10-23 14:26] ericcornelissen commented on #1708
@reginareynolds just consider that it is already being worked on in #1792 by @RodolfoBrian

[2019-10-23 14:53] RodolfoBrian commented on #1791
Please check the lastest issue.  i am get struggling #1792

[2019-10-23 16:50] #1708 closed

[2019-10-23 18:57] ericcornelissen commented on #1816
@Abhijeet247 could you provide a link or other clear indication of the brand you're referring to? Also, it would help tremendously if you could provide a pointer to some official resource on the logo (such as brand guidelines). Thanks! :smile:

[2019-10-24 02:46] Abhijeet247 commented on #1816
@ericcornelissen Here's the site link: https://www.indeed.com/hire for Indeed. It's a popular career site similar to LinkedIn. There aren't any official brand guidelines for the logo that I could trace. However, they use this shorter logo on their official Linkedin page https://www.linkedin.com/company/indeed-com/

Best!

[2019-10-24 05:28] ericcornelissen commented on #1816
Thanks @Abhijeet247 that helps a ton!

For anyone interested in working on this, they use the same shorter version of the logo as [favicon](https://www.indeed.com/hire/imgs/favicon.ico) so I think do think we want to use that one for the Simple Icons collection. However, I have not been able to locate an official SVG version.

[2019-10-24 05:31] Abhijeet247 commented on #1816
Okay, I am absolutely new here and am not proficient with coding stuff. How would I know that this Icon has been added to the icon repository? Or is there a manual way of adding this into existing plugin? Sorry if it sounds technically noob!

[2019-10-24 06:11] ericcornelissen commented on #1816
Most icons will be available on [the Simple Icons website](https://simpleicons.org/), however as we don't add a newly contributed icon directly to the website the best way to check if an icon is already part of the repository is by [searching for it in the repository](https://github.com/simple-icons/simple-icons/find/develop). But even then, it might be the case that someone is already adding the

[2019-10-24 12:14] phatbhoy67 commented on #1344
![realestatelistingplatforms](https://user-images.githubusercontent.com/18670428/67484207-7cf0e980-f65f-11e9-9cbf-114622ebf887.png)

Proposed icons for (left to right) hurriyetemlak, zingat, emlakjet and sahibinden.

Sahibinden is manual vector of the [favicon](https://www.sahibinden.com/favicon.ico) others are mono versions of official .svgs.

[2019-10-24 21:26] #1619 closed

[2019-10-24 21:41] #1706 closed

[2019-10-24 22:38] #1329 closed

[2019-10-24 23:47] phatbhoy67 commented on #1344
| Brand                  | Hex Value Chosen    |   Reason  |
| ------------          | :-------------------    | :-----       |
| Hurriyetemlak     |  `#E02826`  | Predominant brand colour is maroon, the hex value is taken from the logo |
| Zingat                 |  `#009CFB`      |   Hex value is set as `--color-primary` variable in their .css. |
| Emlakjet             |  `#0AE524`      |  Predom

[2019-10-25 00:26] birjolaxew commented on #1344
@phatbhoy67 I think all of those are excellent! Props for putting in all the effort to find/vectorize those!

[2019-10-25 09:00] kaleeaswari commented on #1809
Am working on it. Can I get it assigned?

[2019-10-25 09:17] Paulsky opened #1823 "SEPA (Single Euro Payments Area) Icon"
SEPA (Single Euro Payments Area) is an European payment method. (Please see: [https://en.wikipedia.org/wiki/Single_Euro_Payments_Area](https://en.wikipedia.org/wiki/Single_Euro_Payments_Area))

**Name:** SEPA
**Website:** [https://www.europeanpaymentscouncil.eu/](https://www.europeanpaymentscouncil.eu/)
**Official resources for icon and color:**
[https://www.europeanpaymentscouncil.eu/document-lib

[2019-10-25 10:22] foo-dogsquared opened #1824 "Mozilla Firefox icon update"
Firefox browser has received a [branding update this year](https://blog.mozilla.org/opendesign/firefox-the-evolution-of-a-brand/).
This is reflected on the app logo and [the website](https://www.mozilla.org/firefox/).

**Name:** Mozilla Firefox
**Official resources for icon and color:**

* https://mozilla.design/firefox/logos-usage/ - Assets packs are offered as download links. There is a monochro

[2019-10-25 14:15] ericcornelissen commented on #1816
@Abhijeet247 the Indeed logo was added by another contributor and it will be available in the next release :+1:

[2019-10-25 14:15] #1816 closed

[2019-10-26 09:42] phatbhoy67 commented on #1404
[Alexa Rank](https://www.alexa.com/siteinfo/xfce.org): 265,313
Main branding colour is blue on their [website]() with both `#2284f2` and `#06c` being used.
[wikipedia source](https://commons.wikimedia.org/wiki/File:Xfce_logo.svg)
Potential options might be to isolate and use the just the "rat" or an interpretation of the full logo:

![xfce-options](https://user-images.githubusercontent.com/1867042

[2019-10-26 10:11] phatbhoy67 commented on #1791
[Alex Rank](https://www.alexa.com/siteinfo/spectrum.chat): 20,544
Resolved by: #1792

[2019-10-26 10:11] #1791 closed

[2019-10-26 10:15] phatbhoy67 commented on #1655
Duplicate of issue #1188

[2019-10-26 10:15] #1655 closed

[2019-10-26 13:29] phatbhoy67 commented on #1188
I can't find an official .svg this is the official high res .png:

![official logo .png](https://cdnl.tblsft.com/sites/default/files/pages/tableaulogo_highres.png)

Converted to mono .svg:

![tableau-to-svg](https://user-images.githubusercontent.com/18670428/67619998-1227e580-f7fa-11e9-87de-99aef8ab17c5.png)

Suggested Icon for use here:

![tableau-proposal](https://user-images.githubusercontent.c

[2019-10-26 14:06] phatbhoy67 commented on #802
Hey @atomicjeep are you still working on this?

See below a possibility variations to solve the line width issues (rough):

![minds-option](https://user-images.githubusercontent.com/18670428/67620643-0b50a100-f801-11e9-88d1-043cd302f79e.png)

I agree about the colour `#FED12F` 👍

[2019-10-26 16:47] phatbhoy67 commented on #1661
Closed by PR #1774

[2019-10-26 16:47] #1661 closed

[2019-10-27 18:23] el1f opened #1836 "Add Abstract icon"
**Name:** Abstract
**Website:** https://www.abstract.com/
**Official resources for icon and color:** https://www.abstract.com/about/

They have links for the SVGs but they seem to be down. I couldn't find an official design doc.

[2019-10-27 18:33] el1f opened #1837 "Add Affinity Designer logo"
**Name:** Affinity designer
**Website:** https://affinity.serif.com/en-gb/designer/
**Official resources for icon and color:** https://cdn.serif.com/affinity/img/global/logos/affinity-designer-icon-090520190839.svg

[2019-10-27 18:34] el1f opened #1838 "Add Affinity Photo logo"
**Name:** Affinity Photo
**Website:** https://affinity.serif.com/en-gb/photo/
**Official resources for icon and color:** https://cdn.serif.com/affinity/img/global/logos/affinity-photo-icon-090520190839.svg

[2019-10-27 18:35] el1f opened #1839 "Add Affinity Publisher logo"
**Name:** Affinity Publisher
**Website:** https://affinity.serif.com/en-gb/publisher/
**Official resources for icon and color:** https://cdn.serif.com/affinity/img/global/logos/affinity-publisher-icon-090520190839.svg

[2019-10-27 21:01] #1824 closed

[2019-10-27 21:06] birjolaxew commented on #1344
Thanks to @phatbhoy67 for taking care of this issue.

[2019-10-27 21:06] #1344 closed

[2019-10-27 22:46] phatbhoy67 commented on #1417
[Alexa Rank](https://www.alexa.com/siteinfo/player.fm): 8,705
Official logo .png (https://player.fm/assets/v_20191018193043/logos/playerfm-logo-c75b5eca74534a160dbaa8fd8b34c0924b983607c95975fdb1f5cfccd9687ac1.png).

Can't find an official .svg, below is the .png, left, and when converted to .svg, right.

![playerfm-options](https://user-images.githubusercontent.com/18670428/67643108-68387e00-f90b-

[2019-10-27 23:07] phatbhoy67 commented on #1455
[Alexa Rank](https://www.alexa.com/siteinfo/coveralls.io): 197,355
![Official favicon .png](https://coveralls.io/apple-touch-icon-precomposed.png)

Proposed .png converted to .svg

![coveralls](https://user-images.githubusercontent.com/18670428/67643334-4ab8e380-f90e-11e9-8e50-3dbd300fde0e.png)

Contenders for hex value:

`#2D404B` logo background colour
`#3F5767` used on website
`#CC443D` used on

[2019-10-27 23:23] phatbhoy67 commented on #1511
[Alexa Rank](https://www.alexa.com/siteinfo/semaphoreci.com): 74,088

Extract logo from full [official .svg](https://d1dkupr86d302v.cloudfront.net/assets/s2/semaphore-logo-white-760e1c2264abb9d842e306a491bac3e0f8f73898c3892f8ea79b17b4015d94a3.svg)

![semaphore-logo-option](https://user-images.githubusercontent.com/18670428/67643529-76d56400-f910-11e9-81bc-492e606f190f.png)

Green seems to be the b

[2019-10-28 00:43] #1627 closed

[2019-10-28 07:11] ArgoZhang commented on #1455
perfect 👍

[2019-10-28 07:33] ericcornelissen commented on #1455
The vectorization looks good @phatbhoy67 nice job :+1: I would say use `#3F5767` as colour.

[2019-10-28 10:09] #1415 closed

[2019-10-28 10:10] #1539 closed

[2019-10-28 13:28] el1f commented on #1693
The C logo proposed in this issue seems to be an alteration of the the C++ logo endorsed by Standard C++, you can find it being used on the [ISO website for C++](https://isocpp.org/).
It seems like the correct C logo has been already added by @PokiDokika anyways so that's great.
The water's a little muddier with the C# logo. There seems to be no actual official logo for C# as referred in [this sta

[2019-10-28 13:30] el1f commented on #1676
Guideline for the logo [here](https://designguidelines.withgoogle.com/ads-branding/google-ads/logos.html#logos-brand-logo-lockups)

[2019-10-28 13:48] el1f commented on #1671
According to this Hitachi [design document](http://www.multimedialab.be/doc/tech/chartes/hitachi.pdf) there doesn't seem to be an easy way to translate the logo into a squarable glyph.

[2019-10-28 14:11] el1f commented on #1459
I tried my hand at it. What do you guys think about it?
![image](https://user-images.githubusercontent.com/10723208/67685352-34a23600-f995-11e9-827c-db85265fee5d.png)

[2019-10-28 15:07] PokiDokika commented on #1693
@el1f I submitted a c logo that was based off the c++ logo, but everyone wanted me to remake it in the style of the K&R book. I still have the original if you wish to have it.

[2019-10-28 16:08] #1836 closed

[2019-10-28 16:34] birjolaxew commented on #1671
I think the approach here would be to simply take their full wordmark and center it in the 24x24 viewbox - similar to [Kaspersky](https://github.com/simple-icons/simple-icons/blob/develop/icons/kaspersky.svg)

[2019-10-28 17:56] phatbhoy67 commented on #1553
[Alexa Rank](https://www.alexa.com/siteinfo/yamaha-motor.com): 76,863

[Original .png](https://yamaha-motor.com/application/themes/yamaha_motor/public/assets/images/logo.png) from website
![official logo .png](https://yamaha-motor.com/application/themes/yamaha_motor/public/assets/images/logo.png).

![yamaha-motor-logo](https://user-images.githubusercontent.com/18670428/67703727-d9c80900-f9ab-11e9-

[2019-10-28 22:25] ericcornelissen commented on #1553
I would expect **B** given my experience with the brand, where is **C** used in practice (and what does "common" mean in your wording) @phatbhoy67?

[2019-10-28 22:30] ericcornelissen commented on #1693
@PokiDokika that is correct, the related discussion can be found in that Pull Request for anyone interested. As for the C# logo, you can follow the progress in #1807 @el1f.

All in all, this issues does not need any contributions at the moment (i.e. the C logo has been added and the C# logo has an open Pull Request).

[2019-10-28 22:34] ericcornelissen commented on #1839
Can you provide an indication of the popularity or longevity of the brand? Unfortunately [the Alexa ranking](https://www.alexa.com/siteinfo/serif.com) is for `serif.com` instead of `affinity.serif.com`...

[2019-10-28 22:40] ericcornelissen commented on #1459
I like the approach, nice work @el1f :+1: What source did you use exactly?

[2019-10-28 22:42] ericcornelissen commented on #1676
That is correct @el1f, we could decide not to add it based on that but since it is not explicitly forbidden I don't think we have to go that way. If someone can find a suitable monochromatization then I would be fine adding it. If you want you can try a few things and report back here, I would be interested in seeing what you come up with :smile:

[2019-10-28 23:30] el1f commented on #1839
Oh... well, what kinda indication would be best to fallback upon other than the Alexa rating? I can say that the designer and photo apps won several app of the year awards over the years.
Also, the Mac apps are all into the editor's choices and are respectively rated as the #10, #16 and #61 in the top graphic & design section of the store.
As you know apple doesn't release detailed download stats

[2019-10-28 23:34] el1f commented on #1693
I didn't bring my point home in the previous comment. I agree on the decision to use the K&R logo for C and the current version of the C++ logo. My point was mostly about the addition of the C# logo but I didn't realize that there's already an open PR for that. I apologize for the misunderstanding

[2019-10-28 23:38] el1f commented on #1839
To be more specific, Affinity publisher is currently rated as n61 and it still has to gather traction IMO. Designer and Photo are already well established and Publisher had its fair dose of hype thanks to the great job done in the previous two projects.
I just added the whole suit as a PR based on the Alexa ranking of Serif as I assumed that was the most ideal process to follow

[2019-10-28 23:40] el1f commented on #1676
Will try my hand at it tomorrow morning then! I think the best approach would be to make the right section and the circle solid while keeping the other segment as an empty outlined rectangle.
Also, regarding the color: shouls we just stick with the generic Google blue?

[2019-10-28 23:43] el1f commented on #1459
I based it on the SVG in the official Dart repo (the 1080 version to be precise).
I then edited it using Affinity designer.
I'm not super happy about the loss of the transparency in the main side of the dart icon but it seems like a reasonable compromise to me.
Maybe I should thicken the outlines of the empty sections though?

[2019-10-29 00:04] phatbhoy67 commented on #1553
Hey @ericcornelissen "common" was in reference to the parent company Yamaha and the tuning fork motif, it's used on (https://www.yamaha.com/en/) where I found the .svg version "C", so not the Motor Corp version.

I've since found this specific reference to the differences between the two versions at the bottom of this [page](https://www.yamaha.com/en/about/history/logo/), B is the correct configur

[2019-10-29 08:38] ericcornelissen commented on #1676
Keep us updated :+1:

I think that is fine

[2019-10-29 12:07] avylove opened #1851 "Request: EPEL"
**Name:** EPEL
**Website:** https://fedoraproject.org/wiki/EPEL
**Official resources for icon and color:**
https://fedoraproject.org/wiki/Archive:Artwork/DesignService#EPEL

EPEL (Extra Packages for Enterprise Linux), a subproject under the Fedora umbrella, is one of the most popular Linux repos, providing additional packages for RHEL-derived distributions including RHEL, CentOS, Amazon Linux, Sci

[2019-10-29 14:27] ericcornelissen commented on #1839
Thanks for the clarification, in that case I'm definitely fine with Affinity Designer (#1837) and Affinity Photo (#1838). What do @simple-icons/core-maintainers thank about Affinity Publisher?

That is fair, we aren't super specific about what we are exactly looking for in that regard as most brands have a separate domain. Unfortunately Alexa doesn't work well for us in cases where the brand domai

[2019-10-29 14:32] #1455 closed

[2019-10-29 14:37] el1f commented on #1839
What is the best approach in this case? I think there could be a significant amount of cases where an arguably recognizable brand has conflicting domain situations like with this case or even completely lack a well-positioned website in the Alexa rank (mobile apps with huge traction on their platforms but lackluster website activity would probably rank lower in Alexa wouldn't they?)
Admittedly, to

[2019-10-29 15:28] foo-dogsquared opened #1852 "Asciidoctor (Asciidoc toolchain)"
Asciidoctor is a text formatting language with the same category as Markdown.
Or rather a publication toolchain for AsciiDoc documents.
I still consider it as its own formatting language at this point since it expanded on the original AsciiDoc language).

**Name:** Asciidoctor
**Website:** https://asciidoctor.org/
**Official resources for icon and color:** https://github.com/asciidoctor/brand

[2019-10-29 15:33] foo-dogsquared commented on #1852
Alexa rank is at [~400k](https://www.alexa.com/siteinfo/asciidoctor.org).
It is also one of the most popular alternatives to Markdown (in my experience, anyway) so I think this fits within the criteria.

[2019-10-29 15:58] foo-dogsquared opened #1853 "Mendeley (research management platform)"
NOTE: I've seen an issue of this one (#25).
What happened to that issue and to the icon?
Is this issue still viable to be added?

Mendeley is a platform for the research community where they can manage and discover research papers.

**Name:** Mendeley
**Website:** https://www.mendeley.com/
**Official resources for icon and color:**

There are two SVGs you can choose from the [homepage](https://men

[2019-10-29 15:59] foo-dogsquared commented on #1853
Alexa ranking is at [~4k](https://www.alexa.com/siteinfo/mendeley.com).

[2019-10-29 16:12] foo-dogsquared opened #1854 "arXiv (research distribution repo)"
**Name:** arXiv
**Website:** https://arxiv.org/
**Official resources for icon and color:** https://static.arxiv.org/static/base/0.15.2/images/arxiv-logo-web.svg

The SVG can be found on the [support page](https://arxiv.org/help/policies), strangely.

Suggested brand color is `#B31B1B`.

Alexa ranking is at [~1.8k](https://www.alexa.com/siteinfo/arxiv.org).

[2019-10-29 16:50] #1417 closed

[2019-10-29 17:04] #1662 closed

[2019-10-29 17:08] #1188 closed

[2019-10-29 17:11] #1511 closed

[2019-10-29 17:36] phatbhoy67 commented on #1854
Hey @foo-dogsquared you made the favicon sad.................... 😢
![sad-favicon](https://user-images.githubusercontent.com/18670428/67793389-a0a69c00-fa72-11e9-8863-eab82ccc8116.png)